[2020-10-06 18:55] arashashari commented on #459
And for installing Sparse Attention, you have the following dependencies:
- llvm:       sudo apt-get install llvm-9-dev
- cmake:   sudo apt-get install cmake
- triton>=0.2.2:  this will be handled by the installer script, if there was any issue, please install it through pip

Then you need to set the install flag:
DS_BUILD_SPARSE_ATTN=1 (for sparse attention)
DS_BUILD_CPU_ADAM=1 (for cpu adam)

an

[2020-10-06 19:10] tjruwase commented on #459
@arashashari  Thanks for fixing my typo on DS_BUILD_CPU_ADAM

[2020-10-06 19:32] arashashari commented on #459
@ollmer: great. We will keep the issue open. Please keep us updated and we will close it when you were able to successfully install SA as well.

[2020-10-06 22:59] szhengac commented on #459
I failed to import triton after pip install it. So I have to compile it from source with several other dependencies. After these, I can install sparse attention successfully.

[2020-10-06 23:24] tyler-romero commented on #294
I've since updated to Deepspeed V0.3, so now the printout is a bit better. It does seem that the error=13. I was using a 24 transformer block model, with a batch size of 32 on each gpu. I cut the number of layers to 6 and the batch size to 16, but I still see the same error.

I dont have the % of memory calculated, but the 24 layer 32 batch size params worked just fine with the pytorch implementat

[2020-10-07 02:17] RezaYazdaniAminabadi commented on #454
Hi @YeDeming

Thanks for pointing this out. Yes, you are right we need this argument passed to the kernel. This was not needed previously as the device was set before creating the model. But, after refactoring the code, we forgot to pass it to the kernel. I have made a PR to fix this: https://github.com/microsoft/DeepSpeedExamples/pull/58

Thanks.
Reza

[2020-10-07 02:34] RezaYazdaniAminabadi commented on #294
Hi @tyler-romero,

Thanks for trying this again. I see that the dimensions are all okay and it is very strange why the Cublas GeMM library is giving this error. I wonder if this is the only error you are getting or is there anything else maybe hidden in your log. Regarding the error 13 for the cublas GEMM, the only explanation I could find is the bellow one, which is not so much helpful!

CUBLAS_S

[2020-10-07 04:32] #454 closed

[2020-10-07 18:22] tyler-romero commented on #294
Hi, thanks for the response Reza,

I am passing in local_rank to the transformer kernel (was following the modeling example from bing_bert). Also I double checked the docs and can confirm that P100 does support fp16. I will double check that the input matches the parameter precision soon.

I will also double check my docker file to see if things are installed correctly.

I am also doing something

[2020-10-07 19:08] RezaYazdaniAminabadi commented on #294
Hi @tyler-romero

Thanks in advance for checking the configuration and also the data types.
Of course, we can discuss this offline so that I learn more about the issue and hopefully fix it soon :)
Please let me know when you want to meet and discuss this further.
Thanks.

Reza

[2020-10-08 06:14] szhengac opened #465 "How deepspeed loads checkpoint?"
Hi, by looking at the engine code, it seems to me that only the first DP process saves the model file. Then how other DP processes on different nodes load the checkpoint? I cannot find the lines of code for broadcasting model parameters from the DP rank 0 to other DP processes after calling `load_checkpoint` in DeepSpeedExample Bing-BERT or Megatron GPT-2.

Also, as DP processes on other nodes rec

[2020-10-08 09:31] ollmer commented on #459
@arashashari: i have to wait for a few days for the llvm availability on our platform. I will let you know when i'll try again, thanks!

[2020-10-08 20:04] tjruwase commented on #465
@szhengac Thanks for using DeepSpeed.  Yes, in the engine code, only the first DP process saves the model file, but this is not a problem as I will explain below.

The DeepSpeed approach to checkpointing is that all clients call save_checkpoint() and load_checkpoint(). For the save_checkpoint(), the engine allows only first the DP process to write a model file. Note that this is simply an optimiza

[2020-10-08 20:55] szhengac commented on #465
@tjruwase Thanks for your response. I do see the issue when I add deepspeed to Megatron BERT.

Since the model state is only stored by the first DP process, the processes on other nodes cannot see the model state, and they skip the loading. So this means this [warning](https://github.com/microsoft/DeepSpeed/blob/c39a76fed71f87fd0b026cf6dfd1aee8283319ed/deepspeed/runtime/engine.py#L1219) is called.

[2020-10-08 21:09] tjruwase commented on #465
So I see that checkpoint files are not the model state checkpoints, but rather the ZeRO optimizer state checkpoints. Unlike, the model state checkpoint, each DP process generates a ZeRO optimizer state checkpoint. So the warning is indicating that all the ZeRO checkpoints are not being created, which is unexpected. So can we debug step-by-step as follows:

1) Can you run Megatron BERT without ZeRO

[2020-10-08 21:13] tjruwase commented on #465
Also, the load paths like `zero_pp_rank_08_5000_mp_rank_00optim_states.pt` suggests to me that the checkpoints are being generated on local disk which could make them inaccessible to the processes on the root node. Can you try writing the checkpoints to a shared directory that is accessible to both nodes?

[2020-10-08 22:13] szhengac commented on #465
I can see that both mode state and zero (optimizer) checkpoints are created
under my specified folder. For node 1 , it has model state file and 8 zero
checkpoints for 8 gpus, and the 2nd node only has 8 zero checkpoints for
its 8 gpus. That’s why I mentionEd that the 2nd node can not access to the
model state saved by the first node.

 I will try a shared file system. Based on the code, I think th

[2020-10-08 22:20] tjruwase commented on #465
What you have described so far is expected behavior, i.e., node 1 has 1 model checkpoint file and 8 zero checkpoints files, while node 2 has 8 zero checkpoint files. Please share your experience with the shared file system.

[2020-10-08 22:25] szhengac commented on #465
But then how the 2nd node loads the model parameters as it does not have access to the local disk on the first node? I think the model parameters are stored in the model state checkpoint?

[2020-10-08 22:30] tjruwase commented on #465
Yes, this is a mystery to me as well. Can you please share your log or at least the parts showing either this [message](https://github.com/microsoft/DeepSpeed/blob/c39a76fed71f87fd0b026cf6dfd1aee8283319ed/deepspeed/runtime/engine.py#L1223) or this [one](https://github.com/microsoft/DeepSpeed/blob/c39a76fed71f87fd0b026cf6dfd1aee8283319ed/deepspeed/runtime/engine.py#L1218)?

[2020-10-08 22:32] tjruwase commented on #465
Also, for the sake of narrowing down the issue, can you test a single node run to see if that works? That could help to confirm that this is a multi-node problem.

[2020-10-08 22:34] szhengac commented on #465
I just found this [line of code](https://github.com/microsoft/DeepSpeed/blob/c39a76fed71f87fd0b026cf6dfd1aee8283319ed/deepspeed/runtime/pipe/module.py#L567) is called in _load_checkpoint. This calls broadcast.

It will take some time for me to go with 2-nodes again as my account does not have enough capacity at the moment.

I can test a single node first again.

[2020-10-08 22:51] szhengac commented on #465
For a single node training, I can see that all the model state and checkpoints are loaded properly.

[2020-10-08 22:46:38,922] [INFO] [engine.py:1220:_load_checkpoint] rank: 1 loading checkpoint: checkpoints/bert_345m/500/mp_rank_00_model_states.pt
[2020-10-08 22:46:38,989] [INFO] [engine.py:1220:_load_checkpoint] rank: 6 loading checkpoint: checkpoints/bert_345m/500/mp_rank_00_model_states.pt
[20

[2020-10-09 12:31] david-macleod opened #466 "Asynchronous Data Loading"
Hi

I was just looking in the DeepSpeed repo for the data prefetching code referenced below, but was unable to find it. Is it available?

https://github.com/microsoft/DeepSpeed/blob/29c5fe26112f417c25955baab8e9dc7d7f33c5e4/docs/_posts/2020-05-28-fastest-bert-training.md#overlapping-io-with-computation-through-asynchronous-prefetching-queue

Many thanks
David

[2020-10-09 18:52] anti4m opened #467 "Zero-Offload Doubles VRAM Usage"
Hi,

I am testing out DeepSpeed on a single GTX 1070 GPU. Everything works fine until I try to enable "cpu_offload" in the config, which then doubles GPU memory usage from 4GB to 8GB. CPU memory usage increases significantly as expected, so it seems that the data is being copied successfully. If I also enable "overlap_comm," as recommended [here](https://www.deepspeed.ai/tutorials/zero-offload/),

[2020-10-09 19:02] tjruwase commented on #466
This [optimization ](https://github.com/microsoft/DeepSpeedExamples/blob/master/bing_bert/data_worker.py)was implemented in the [BingBert example model](https://github.com/microsoft/DeepSpeedExamples/tree/master/bing_bert).

[2020-10-09 19:15] tjruwase commented on #467
@anti4m Thanks for using DeepSpeed. This is an interesting observation and I have a few questions.

1) What is the model and number of parameters?

2) What is the size of GPU RAM?

3) Enabling `cpu_offload` is expected to reduce GPU RAM usage, so it is strange that toggling on/off doubles RAM usage. Are you using nvidia-smi to measure GPU RAM usage?

3) Yes, `overlap_comm` trades off increase GPU

[2020-10-09 19:44] #466 closed

[2020-10-09 19:59] anti4m commented on #467
1. I am using a custom transformer model similar to ALBERT with parameter-sharing between layers. There are only ~13 million parameters. If I disable parameter-sharing there are ~110 million parameters.

2. 8GB

3. Yes, I am using nvidia-smi.

4. Even when reducing my batch size from 96 to 1, the memory used by overlap_comm exceeds the 8GB available on my GPU.

[2020-10-09 20:31] tjruwase commented on #467
Thanks for sharing these details, they are very helpful. ZeRO is targeted at multi-billion parameter models and so many of its intermediate buffers are very large (GBs) by default. The good news is that these buffers are [configurable ](https://www.deepspeed.ai/docs/config-json/#zero-optimizations-for-fp16-training). The most relevant knobs are `allgather_bucket_size` and `reduce_bucket_size`. Bot

[2020-10-09 21:04] anti4m commented on #467
I reduced both buffers to 1e7 which solved my VRAM issue and allowed me to enable overlap_comm. Thank you for your help! However there is still the strange behavior that I noted at the end of my last comment. Manually instantiating DeepSpeedCPUAdam seems to give me ~20% higher samples/second while using about 7GB of additional CPU memory compared to just calling deepspeed.initialize(). This is the

[2020-10-09 21:31] tjruwase commented on #467
Glad to hear that `overlap_comm `is now working for you.

For the other issue, I think what is happening when you attempt to instantiating DeepSpeedCPUAdam through json is that you are actually instantiating torch.optim.Adam. You can inspect the log for this [message ](https://github.com/microsoft/DeepSpeed/blob/c39a76fed71f87fd0b026cf6dfd1aee8283319ed/deepspeed/runtime/engine.py#L513-L514)to conf

[2020-10-10 00:05] samyam commented on #445
Hi @msmolyak, updating the version of Megatron-LM in DeepSpeedExamples in our pipeline, but we do not have an ETA yet.

In the meantime, you can follow the instructions in this tutorial: https://www.deepspeed.ai/tutorials/megatron/  on integrating DeepSpeed with the latest Megatron. We are happy to help if you run into any issues.

[2020-10-12 16:36] #457 closed

[2020-10-14 17:30] tyler-romero commented on #294
Issue fixed offline. Problem was with the specific GPU architecture. After more testing we noticed it worked fine on V100s, but not P100s. [This PR](https://github.com/microsoft/DeepSpeed/pull/470) contains the fix.

Thanks Reza and Jeff!

[2020-10-14 17:30] #294 closed

[2020-10-14 20:40] anti4m opened #471 "Unable to Install Sparse Attention -- Unable to Import Triton"
When I try to install DeepSpeed Sparse Attention using `DS_BUILD_SPARSE_ATTN=1 ./install.sh`, I get the error `Warning: Unable to import triton, sparse attention will not be accessible`, and the final output shows `[WARNING]  sparse attention is NOT installed.` Everything else successfully installs.

The installer does install Triton to my conda environment, but python is unable to import it. If I

[2020-10-14 21:35] visionscaper commented on #431
I seem to have the same issue.

My machine runs Ubuntu:
[code]

I set up a virtual env:
[code]

Cloned Deepspeed and checked out tag `v0.3.0`:
[code]

Running `install.sh` fails with:
[code]

`x86_64-linux-gnu-gcc` seems to exist:
[code]

**How can I resolve this?**

[2020-10-14 21:59] visionscaper opened #472 "Fail to install deepspeed through ./install.sh : ModuleNotFoundError: No module named 'deepspeed'"
Hello,

When on the master branch of Deepspeed, installing Deepspeed using `./install.sh` in a virtual python environment fails.
I already tried to use the code at tag `v0.3.0`, but that failed too in another way, as reported [here](https://github.com/microsoft/DeepSpeed/issues/431#issuecomment-708673313).

The result is :
[code]

My machine runs Ubuntu:
[code]

This is how I set up the virtual en

[2020-10-16 05:13] jackshi0912 opened #473 "Update dockerfile to use more recent version of pytorch"
Right now deepspeed/deepspeed:latest uses pytorch version 1.2.0 which is fairly old. Is there a validation process for upgrading the pytorch version to something more recent? Thanks!

[2020-10-16 05:58] Santosh-Gupta opened #474 "Following the Bert-finetuning tutorial results in `ImportError` or `IsADirectoryError:` for run_squad_baseline.sh"
I followed the getting started directions here

https://www.deepspeed.ai/tutorials/bert-finetuning/

I pulled the docker image and started a container.

I ran the following commands in a Jupyter notebook (server running in the container)

[code]

Neither the tf or hf versions of the models are working. This is a sample output from the baselines

[code]

I tried both the hf and tf versions of the m

[2020-10-16 06:03] Santosh-Gupta commented on #473
For me it's showing 1.6.0

[2020-10-16 06:08] jackshi0912 commented on #473
![Screenshot from 2020-10-15 23-06-23](https://user-images.githubusercontent.com/10685803/96219167-171a0380-0f3b-11eb-860c-fb933f87b925.png)
This is the master branch. The dockerfile specifies that PYTORCH_VERSION=1.2.0

Same here in docker hub for tag deepspeed/deepspeed:latest, PYTORCH_VERSION=1.2.0
https://hub.docker.com/layers/deepspeed/deepspeed/latest/images/sha256-2dcca3af7a9c2156bb2f282a2d

[2020-10-16 15:50] ollmer commented on #459
@arashashari: I've managed to get llvm and everything installs and works smoothly now. Thanks for help!

[2020-10-16 16:11] arashashari commented on #459
@ollmer: fantastic, happy to hear it. I close the issue now.

[2020-10-16 16:11] #459 closed

[2020-10-16 20:30] arashashari commented on #471
@anti4m: for installing Sparse Attention, you have the following dependencies:
- llvm: sudo apt-get install llvm-9-dev
- cmake: sudo apt-get install cmake
- triton>=0.2.2: this will be handled by the installer script, if there was any issue, please install it through pip
Then you need to set the install flag:
DS_BUILD_SPARSE_ATTN=1 (for sparse attention)
Based on the information you provided above

[2020-10-16 20:49] anti4m commented on #471
I looked at the link you sent. Because that commit was merged to master, the flag was already enabled in my CMakeLists file. So there must be some other issue.

[2020-10-16 20:50] arashashari commented on #471
@anti4m: I meant to install Triton from that commit and ignoring following code changes.

[2020-10-16 20:52] anti4m commented on #471
Alright, I'll try that now and let you know. Thanks.

[2020-10-16 21:09] anti4m commented on #471
The exact same thing happens when I install from that commit. I am wondering if it is related to the version of Python I am on, as the undefined symbols all come from the Python C API. I'm on Python 3.8, which version of Python was your team able to get it working under?

[2020-10-17 22:46] tjruwase commented on #474
@Santosh-Gupta, thanks for using DeepSpeed.

The second argument to script is the model file itself rather than a folder. Please see [here ](https://github.com/microsoft/DeepSpeedExamples/blob/ba63ad0fa861d28b3b33bc2c20f702647403e258/BingBertSquad/run_squad_baseline.sh#L4)and [here ](https://github.com/microsoft/DeepSpeedExamples/blob/ba63ad0fa861d28b3b33bc2c20f702647403e258/BingBertSquad/run_squa

[2020-10-17 23:30] Santosh-Gupta commented on #474
Thanks for the info. It looks like I need to point to the checkpoint file in particular. So for a Tensorflow model, point to the model.ckpt.index (or is it the model.ckpt.meta ? ), and for a huggingface model, just point to the model.bin.

It seems that some of the model types need more than one file to be fully defined, I'm guessing the library will search the containing folder to search for any

[2020-10-18 23:15] anti4m commented on #471
The creator of Triton responded here https://github.com/ptillet/triton/issues/42#issuecomment-710627072 and said that triton.ops is actually deprecated, so it seems that my installation is now working as intended. Now that I compiled Triton using -D_GLIBCXX_USE_CXX11_ABI=1, DeepSpeed is actually able to utilize it. I'm closing the issue, thanks for your help!

[2020-10-18 23:15] #471 closed

[2020-10-20 09:01] ollmer opened #477 "Can't reproduce 10B parameters GPT-2 training, CUDA out of memory"
Hi!
I'm trying to run 10B params model training on a 32 V100 GPUs, following the tutorial https://www.deepspeed.ai/tutorials/zero/#training-a-10b-parameter-gpt-2-model
But i consistently get CUDA out of memory even when i've reduced model size to 6B params and batch size to 1.
Here are my configs:
[code]

deepspeed config
[code]
Hardware setup is 2 DGX-2.
Do i need to turn on activations checkpoin

[2020-10-20 18:21] ollmer opened #478 "Is SparseSelfAttention compatible with the model parallel training?"
Hello,
I've replaced the regular attention layer in Megatron LM example with SparseSelfAttention class from deepspeed.ops.sparse_attention. It works fine with model-parallel-size 1, but when i try to train a model with model-parallel-size 2, it fails at the start with `CUDA error: an illegal memory access was encountered`
Stacktrace:
[code]

[2020-10-20 19:39] arashashari commented on #478
Thanks for reporting it. We have not tested Sparse Attention with model parallelism. We just did a quick test and as you mentioned, it faces some memory issue. We will investigate this and will let you know if we are able to fix it soon.

[2020-10-20 21:56] tjruwase commented on #477
@ollmer Can you clarify how GPU count and RAM size?

[2020-10-20 23:57] msmolyak commented on #445
Hi @samyam,

I took a stab at integrating DeepSpeed with the latest version of Megatron-LM. I forked the latter project in my personal repo and created a branch for the DeepSpeed changes. The code modifications are based on my analysis of the code in DeepSpeedExamples repo.

I would be grateful if someone on the Microsoft DeepSpeed team could review my changes and provide feedback. I hope that my

[2020-10-21 07:09] ollmer commented on #477
It runs on 32 V100 GPUs with 32Gb RAM each.

[2020-10-21 07:11] ollmer commented on #477
Also worth mention that It's fp16 mode. So i expect optimizer state to require 120Gb of ram, which should be 4 Gb per GPU in zero stage 2 mode.

[2020-10-21 12:30] ofirzaf opened #479 "Question: Can `DeepSpeedCPUAdam` be used as a drop in replacement to `torch.optim.Adam`?"
Hi,

I want to use the `DeepSpeedCPUAdam` instead of `torch.optim.Adam` for reducing the RAM usage of my GPUs while training.
I was wondering if `DeepSpeedCPUAdam` can be just dropped in instead of `torch.optim.Adam` or additional steps are needed?
I tried to do exactly that and I got a segmentation fault

Thanks

[2020-10-21 20:00] tjruwase commented on #479
@ofirzaf Thanks for using DeepSpeed.

Yes, you can use DeepSpeedCPUAdam as drop-in replacement for torch.optim.Adam, that will give up to a 6X throughput boost. Let us know of any issues.

[2020-10-21 20:05] tjruwase commented on #477
Can you please share your training log?

[2020-10-21 20:14] drfinkus commented on #425
@tjruwase thanks for the help, but unfortunately, I get the same error as before. I wonder if @rople380 got it working.

[code]

[2020-10-21 20:37] tjruwase commented on #425
@drfinkus Sorry that this is still a problem. While I see the floating point exception in the log, I am unable to see the cause. So can you please rerun install.sh in an incremental way to reduce the log size. You can do this by adding `-n` to the command line arguments: `install.sh ... -n`

[2020-10-21 23:06] drfinkus commented on #425
@tjruwase sure, thanks for the help! See below, hope this helps and let me know if I can help in any other way!
[code]

[2020-10-22 01:26] ofirzaf commented on #479
I tried to make it work with mnist example pytorch published: https://pastebin.pl/view/embed/d3921ab0
When I try to run it I get:
[code]
I am running with pytorch 1.6, cuda 10.1, deepspeed installed from master and v0.3 using `DS_BUILD_CPU_ADAM=1 install.sh`
Also tried to use your docker image to check if the problem is in my installation but the image doesn't have cpu adam installed, got `ModuleN

[2020-10-22 04:13] gongjingcs opened #480 "question about how deepspeed overlapping the reduction of the gradients with backward computation"
deepspeed doesn't use ddp directly. in pytorch, auto grad hook is used for comm & compute overlapping. what about deepspeed?  l‘m looking forward to your reply！

[2020-10-22 12:23] e-sha commented on #88
I realized that we have to add two updates to use LAMB with ZeRO:
1. Split model parameters preserving whole tensors on a single node ([here](https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/runtime/zero/stage2.py#L264))
2. Preserve splitting of a parameter vector into tensors at optimizer initialization stage ([here](https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/runtime

[2020-10-22 18:49] samyam commented on #445
Hi @msmolyak ,

This is amazing. Thank you so much for putting the time and effort into this, we really appreciate it.

After receiving your request, we realized that we should probably prioritize this a bit and Cheng (@cli99 ) from our team put some time to finish up porting the updated Megatron-LM, and we have a working branch with correctness verified as well. Currently the code is here: https:

[2020-10-22 19:01] RezaYazdaniAminabadi commented on #479
Hi @ofirzaf

It seems that CPUAdam is instantiated correctly. However, it has crashed when trying to access the parameters on CPU memory. I see in your code, that the model is converted in line 124, and can be sent over to the gpu memory if the use_cuda flag is set in line 98. CPUAdam requires the parameter (master copy in FP32) and the optimizer states such as variance and momentum reside on CPU

[2020-10-22 19:13] Santosh-Gupta commented on #474
I tried pointing to the model files itself. For huggingface, the .bin file, and for tensorflow, the .ckpt.index , ckpt.data-00000-of-00001 and .ckpt.meta file.

For each I end up with an `AssertionError: Default process group is not initialized` error.

Here is a full output for the huggingface .bin file

[code]

[2020-10-22 19:27] msmolyak commented on #445
Hi @samyam,

I appreciate very much your team's effort in completing Megatron-LM integration. I would be totally fine if you went ahead and merged your code. I am a big proponent of the "sunk cost fallacy". You are the experts in DeepSpeed integration, all that matters is the end result and I expect your team to be in a much better position than I am to deliver well-tested integration of Megatron-

[2020-10-22 20:22] GrvLeo opened #483 "Fail to use Zero-offload: "ModuleNotFoundError: No module named 'deepspeed.ops.adam.cpu_adam_op'""
Hi,

I'm looking to use Zero-offload feature to train 10B param model on a single GPU. I have been able to train models using Zero-2 but when I enable cpu-optimizer flag the job fails with the following error.
 "ModuleNotFoundError: No module named 'deepspeed.ops.adam.cpu_adam_op'"

Not sure why this is happening, although I do see there's a recent change to disable default installation https://gi

[2020-10-22 21:39] tjruwase commented on #483
To enable cpu-adam please

Install cpufeature: `pip install cpufeature`

Run `DS_BUILD_CPU_ADAM=1 ./install.sh -n`
The -n is for incremental installation so that it does not rebuild existing binaries.

[2020-10-22 21:57] tjruwase commented on #474
@Santosh-Gupta Did you report a `Default process group is not initialized `error?

[2020-10-22 23:46] GrvLeo commented on #483
Hi tjruwase@,

thanks for the quick response. I saw the DS_BUILD_CPU_ADAM=1 change required in one of the commits so made the change and was able to successfully install this.

This gets rid of the module not found error but I encounter another error while training with zero-offload enabled
Added the stact trace for reference.

`
2020-10-22 21:31:28,140] [INFO] [config.py:624:print]   zero_optimiz

[2020-10-23 00:35] samyam commented on #445
Hi Michael,

The integration will be in DeepSpeedExamples.

Btw, your questions are inspiring some detailed discussions within the team on how we should move forward with this. :) We do want to get the Megatron-LM current before merging, and make it easy to pull from Megatron-LM as Megatron-LM gets new updates. Hopefully the effort will be completed within a few days to a week, but we will know mo

[2020-10-23 09:19] Santosh-Gupta commented on #474
Yes, sorry I noticed in the code that the model used was bert-large-cased where I was using bert-base-uncased so I wanted to see if switching the model made a difference, but I'm still getting errors.

For the following, I pointed the model file path to the .bin huggingface file.

I first tried running the code in a jupyter notebook, the server running on the deepspeed container. This was the full

[2020-10-23 15:52] gcooper-isi commented on #445
Hi @samyam ,
Thanks for being so helpful with this update. Michael and I are on the same team, and I thought I would provide some context on the work we're doing, which will hopefully inform how you decide to update DeepSpeedExamples. We are working on a project that uses a modified version of MegatronLM with a modified version of DeepSpeed. In order to do that, we have been working off of our own

[2020-10-23 18:57] GrvLeo commented on #483
Additional pointer is that I'm able to train Zero2 without the cpu-optimizer enabled and it works fine.

[2020-10-23 20:56] GrvLeo commented on #483
FYI this is what the result of installation looks like.

Successfully installed deepspeed-0.3.0+d720fdb
Cleaning up...
Removed build tracker: '/tmp/pip-req-tracker-et4p62xs'
 [SUCCESS]  deepspeed successfully imported.
 [INFO] torch install path: ['/home/ec2-user/anaconda3/envs/pytorch_p36/lib/python3.6/site-packages/torch']
 [INFO] torch version: 1.4.0, torch.cuda: 10.1
 [INFO] deepspeed install

[2020-10-23 22:17] tjruwase commented on #483
@GrvLeo Thanks for sharing these updates.

The stack trace is quite mysterious because although you are training on 1 GPU and the failure is in the all-gather.  To help debug further, can you please try torch.optim.Adam instead of DeepSpeedCPUAdam by adding the following command line argument:
`--torch-adam`

[2020-10-23 22:17] tjruwase commented on #477
@ollmer Just wanted to follow up whether you could share your training log? Thanks.

[2020-10-23 22:56] GrvLeo commented on #483
Hi @tjruwase,
Yeah it was mysterious not sure what was happening, I saw some threads on stack overflow which pointed to having same cuda version as pytorch.
I tried reinstalling deepspeed from scratch while enabling deepspeed adam.

It worked for me now and I'm able to train 10B param model. Thanks for the help.

[2020-10-23 22:56] #483 closed

[2020-10-23 23:37] tjruwase commented on #474
These new import errors suggest a mismatch in cuda, apex, or torch versions. Can you double check those?

`ImportError: /usr/local/lib/python3.6/dist-packages/fused_layer_norm_cuda.cpython-36m-x86_64-linux-gnu.so: undefined symbol: _ZN6caffe26detail37_typeMetaDataInstance_preallocated_32E`

[2020-10-23 23:55] arashashari commented on #478
@ollmer: could you please check if you set sparsity config based on the # of heads per partition when you setup self sparse attention?
If # of heads is set correctly, you should be fine to leverage model parallelism while using sparse attention; meanwhile we are doing more test to catch any possible issue.

[2020-10-24 01:43] szhengac commented on #465
@tjruwase I can confirm that the loading works with shared file system. Without the shared file system, I will receive the errors I mentioned above.

[2020-10-24 04:12] tjruwase commented on #465
@szhengac Thanks for the update. Closing now.

[2020-10-24 04:12] #465 closed

[2020-10-24 22:45] ShadenSmith commented on #445
Hi @gcooper-isi , thanks for the great feedback. We feel the same about DeepSpeedExamples and have been working on better a better way to track these changes. Your request is very timely :-). We aren't going the route of forks in a GitHub sense, but instead maintaining examples as git branches that can be rebased to either a baseline branch. Each example has some baseline branch (such as Megatron-

[2020-10-26 00:07] Santosh-Gupta commented on #474
torch is version 1.6.0
apex is Version: 0.1
Cuda is Version 10.0.130

I see that the latest Cuda version is 11.1, I'll upgrade it and check if that solves the issue.

[2020-10-26 04:23] E-Bachman opened #485 "Memory Consumption Higher with ZeRO GPT-2 vs other trainers"
I am able to finetune [gpt-2-simple](https://github.com/minimaxir/gpt-2-simple) with model size of 774M using Google Colab.

gpt-2-simple ``nvidia-smi: 15.4GB`` memory consumption on single T4 GPU

When using the [DeepSpeed/Megatron](https://github.com/microsoft/DeepSpeedExamples/tree/master/Megatron-LM) example the training consumes twice as much memory over multiple GPUs.

For **774M** shouldn't

[2020-10-26 04:50] tjruwase commented on #474
Actually can you try out these sequence of commands in python to test compatibility of cuda, torch, and apex fusedlayernorm?
[code]

[2020-10-26 05:07] tjruwase commented on #485
@E-Bachman I suspect that the bucket size values are responsible for the memory bloat. As suggested in #467, can you try reducing these to 1e7 from 5e8?

[2020-10-26 05:20] tjruwase commented on #461
@szhengac, can you share the number of nodes, gpu per node, and hostfile?

[2020-10-26 06:05] Santosh-Gupta commented on #474
Running this resulted in an error for the 4th line, here's the output

[code]

[2020-10-26 06:44] tjruwase commented on #474
This confirms an incompatibility issue independent of deepspeed. I vaguely recall that either torch 1.6.0 or apex 0.1 requires cuda 10.1, and so upgrading cuda should fix the problem. For reference my cuda/torch/apex versions are
cuda 10.1
torch 1.6.0
apex 0.1

[2020-10-26 08:27] szhengac commented on #461
There are 2 nodes with 8 gpus per node. Hostfile is:
 ip1 slots=8
 ip2 slots=8

On Sun, 25 Oct 2020 at 22:20, Olatunji Ruwase <notifications@github.com>
wrote:

[2020-10-26 12:10] ollmer commented on #477
Sorry for delay. Here it is.
[failed10b_train_2_cuda_oom.log](https://github.com/microsoft/DeepSpeed/files/5438627/failed10b_train_2_cuda_oom.log)
State of Nvidia-smi on

[2020-10-26 12:58] ollmer commented on #478
I have following settings:
[code]
And a sparsity config:
[code]
Without explicit setting of of num_heads, following example from tutorial https://www.deepspeed.ai/tutorials/sparse-attention/
![image](https://user-images.githubusercontent.com/2083404/97174919-cbb9ed80-17a3-11eb-830e-2d097fb8b3e1.png)

Should i set this parameter to num-attention-heads/model-parallel-size?

[2020-10-26 14:07] E-Bachman commented on #485
``1e7`` and ``overlap_comm: false`` allows 774M to fit nicely

[code]

@tjruwase Was there any other tweaks to get 1.5B model to run in 24G? Getting CUDA OOM ``tried to allocate 2.6GB with 9.41GB reserved and 1.96GB Free``

[2020-10-26 14:17] ghost opened #486 "Download pretrained GPT-2 model ports to finetune on?"
where to download model ports for deepspeed?

[2020-10-26 14:41] drfinkus commented on #425
@tjruwase did the `install.sh -n` log above help in any way? Please let me know if I can help debug further!

[2020-10-26 17:03] arashashari commented on #478
Yes, as you can see [here in the example](https://github.com/microsoft/DeepSpeedExamples/blob/ba63ad0fa861d28b3b33bc2c20f702647403e258/bing_bert/nvidia/modelingpreln.py#L100), we set number of heads for sparse attention; I think this part of the example and tutorial is not very clear and thanks to you bringing up this issue, I will update the documentation to make it clear.
Further, number of head

[2020-10-26 18:09] Santosh-Gupta commented on #474
Great, thanks tjruwase, I'll upgrade it and report back the results.

[2020-10-26 18:22] tjruwase commented on #425
@drfinkus, thanks for sharing the log. It confirms that error is in `setup.py`, but not much more. So I think we should run setup.py alone to see if it will reveal more information. So can you please share the log for the following command?
    `python setup.py -v build`

[2020-10-26 18:37] tjruwase commented on #485
@E-Bachman, we did not use ZeRO-stage1 to train a 1.5B model on 24GB. What that statement in the paper is saying is that for a 1.5B model, 24GB is required to store fp16 weights/gradients (6GB) and Adam optimizer state (18GB). This is because Adam stores fp32 master weight, momentum, and variance for each parameter: 3 * 4Bytes * 1.5Billion = 18GB. All the experiments in the paper are on 32GB V100s

[2020-10-26 18:51] ollmer commented on #478
Ah, now i understand. Yes, i've set num_heads in STConfig object the same way you mention in your example. But i haven't divide it to model_parallel_size. Will try

[2020-10-26 18:58] tjruwase commented on #477
Thanks for sharing the log. Can you try the following?

1. Disable overlap_comm
2. Reduce allgather_bucket_size to 1e8 or 5e7

[2020-10-26 20:13] ollmer commented on #477
I've tried it. Still got OOM.
[failed10b_train_3_cuda_oom.log](https://github.com/microsoft/DeepSpeed/files/5441281/failed10b_train_3_cuda_oom.log)

[2020-10-26 20:47] tjruwase commented on #477
Thanks for sharing the log. I will try to repro this issue on my side.

[2020-10-26 23:38] drfinkus commented on #425
@tjruwase absolutely, please see below!
[code]
Not very helpful unfortunately, but I hope this helps somehow! Let me know if I can help debug further!

[2020-10-27 00:30] szhengac commented on #465
@tjruwase Is there any plan to make it work for multi-node without shared file system.

[2020-10-27 08:53] ollmer commented on #478
@arashashari This change makes it work perfectly, thanks!

[2020-10-27 13:27] e-sha opened #487 "[Question] Padding in ZeRO optimizer"
Why do you use padding [here](https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/runtime/zero/stage2.py#L230), [here](https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/runtime/zero/stage2.py#L246) in ZeRO optimizer?
Moreover, later you split tensors as if it was not padded. For example, [here](https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/runtime/zero/stage2.py#

[2020-10-27 15:56] arashashari commented on #478
Great, closing the issue now.

[2020-10-27 15:56] #478 closed

[2020-10-27 16:11] lipiji opened #488 "NameError: name 'DeepSpeedCPUAdam' is not defined"
I have installed the cpu-adam, but still met the following issue:

Successfully installed deepspeed-0.3.0+d720fdb
Removed build tracker: '/tmp/pip-req-tracker-iqs3vipd'
 [SUCCESS]  deepspeed successfully imported.
 [INFO] torch install path: ['/dockerdata/xx/anaconda3/lib/python3.7/site-packages/torch']
 [INFO] torch version: 1.5.1+cu101, torch.cuda: 10.1
 [INFO] deepspeed install path: ['/dockerd

[2020-10-27 23:58] ofirzaf commented on #479
I initialize the optimizer while the model's parameters which I want to optimize are passed to the GPU when I move the entire model to the GPU. I am not sure how should I keep the parameters and other stats on CPU while still training on GPU.
Maybe I misunderstood and this optimizer should only be used when training using CPU only?

[2020-10-28 07:50] lipiji commented on #488
It seems a bug that an unimported Class is used:
https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/runtime/zero/stage2.py#L161

[2020-10-28 10:20] nitikasaran68 opened #489 "Pipeline Parallelism GPT2 Example"
Hey I was trying to run the Megatron-LM code with your 3D parallelism. For pipeline parallelism, I unrolled the GPT-2 into an nn.Sequential like model and followed the AlexNet example to tweak the training script accordingly. But it keeps going out of memory for me even for a "train_micro_batch_size_per_gpu" of 1 in the 1.5bn model. I've disabled data & model parallelism and was running it on 8 GP

[2020-10-28 13:29] Sleepychord commented on #425
Hi @drfinkus @tjruwase , I have met the same problem and solve it by simply commenting the line into
[code]

[2020-10-28 19:53] Santosh-Gupta commented on #474
I am wondering if the deepspeed docker image has an outdated version of cuda, that's what it seems like here

https://github.com/microsoft/DeepSpeed/blob/master/docker/Dockerfile#L1

Currently `nvcc -V` in the deepspeed container is showing

[code]

Even though we have recently installed 11.1 on our machine. I created a fresh docker container from the original image, and it is still showing V10.0.

[2020-10-28 20:08] tjruwase commented on #474
Yes, the deepspeed docker image is cuda 10.0, which is a bit confusing since it does not work with torch 1.6.0. However, it does work with torch 1.5.0 which was the deepspeed release was tested against. So it seems the options are (1) Downgrade to torch 1.5.0 to use cuda 10.0, or (2) Upgrade docker file to cuda 10.1 to use torch 1.6.0. Do either of these options work for you?

[2020-10-28 20:29] Santosh-Gupta commented on #474
Ahh I see. Yeah downgrading python should work; Cuda seems to be very tricky to work with on our machines. I'll downgrade python and report back the results.

[2020-10-28 22:08] jeffra commented on #488
Hi @lipiji, so sorry you're running into this issue. We have since fixed this issue but the PR (#476) isn't merged yet (it should be merged by tomorrow). Feel free to try it out before it's merged if you'd like. Check out the notes at the top of the PR there are a lot of changes coming in the install process.

[2020-10-28 22:19] szhengac opened #490 "Parameter fusion in optimizer partition makes lamb behaves differently"
In optimizer partition, the parameters are fused into a big vector and then get partitioned over workers. So the number of chunks can be much lesser than the number of layers. This is ok for SGD or Adam. But for other optimizers such as LARS and LAMB, the behaviours will be different, as they need to compute a layer-wise scaling factor. As the partition is different, we may not be able to reuse th

[2020-10-28 22:26] szhengac opened #491 "hidden_dim constraint in transformer cuda kernel"
I found that there is constraint on the dimensionality when we use the transformer cuda kernel: https://github.com/microsoft/DeepSpeed/blob/d720fdb6857f4b71d922ca1e8efbe5271b5fb7c2/csrc/transformer/normalize_kernels.cu#L232-L250

I wonder what is the reason behind it? Is there any plan to support arbitrary dimensionality? Or, If I want to use `hidden_dim=4096 or 8192`, what do I need to do to make

[2020-10-28 23:03] RezaYazdaniAminabadi commented on #491
Hi @szhengac

Thanks for pointing this out. We are currently working on supporting arbitrary dimensions. There will be a code update soon to add this feature. Please stay tuned! :-)

Thanks.
Reza

[2020-10-28 23:16] RezaYazdaniAminabadi commented on #479
Hi @ofirzaf ,

In this case, you probably want to run your code through DeepSpeed and turning on the ZeRO-Offload feature. You can find more information on ZeRO-offload here: https://www.deepspeed.ai/tutorials/zero-offload/. Also, to get started with DeepSpeed, please check out this tutorial: https://www.deepspeed.ai/getting-started/
Thanks.
Reza

[2020-10-29 02:49] drfinkus commented on #425
@tjruwase @Sleepychord thanks for the suggestion! But if I read this correctly, this would disable CPUAdam. That would cripple it a lot for my use case. I was specifically looking for the optimized Adam implementation.

Is it an AMD issue? Or do you see this on Intel? Is it possible to fix cpufeature? I reported it upstream but did not get much further.

[2020-10-29 05:34] tjruwase commented on #479
@ofirzaf, yes you are right, DeepSpeedCPUAdam is only used for running optimizer on CPU only. I apologize that my initial response was confusing that it was not clear that while torch.optim.Adam works correctly on both GPU and CPU, DeepSpeedCPUAdam only works on CPU.  So it is only on CPU execution that DeepSpeedCPUAdam is a drop in replacement for torch.optim.Adam.

[2020-10-29 06:34] #488 closed

[2020-10-29 14:56] ShadenSmith commented on #489
Hi @nitikasaran68, thank you for your interest in DeepSpeed! We're working on releasing a full example and tutorial. There have just been some initial tasks to address first, such as [improved examples](https://github.com/microsoft/DeepSpeed/issues/445) and some interface simplifications.

[2020-10-29 15:29] VladimirKhvostov opened #492 "DeepSpeed install fails on the AMD-based machines: 630 Floating point exception(core dumped)"
I hit the following error, while building a container image, which installs DeepSpeed.
The issue reproes on Ryzen 9 3900x CPU (Windows 10) and on Azure Standard E16as_v4 VM, powered by AMD's 2.35Ghz EPYC 7452 (Ubuntu 18.04 LTS Gen2).

Here is an error that I saw:

Successfully installed apex-0.1
Removed build tracker: '/tmp/pip-req-tracker-9c0winyr'
Building deepspeed wheel
./install.sh: line 196:

[2020-10-29 19:40] msmolyak commented on #445
Hi @ShadenSmith,
We are looking forward to working with the latest Megatron-LM integrated with DeepSpeed using your Git branch approach.
Do you have a timeline for releasing this addition to DeepSpeedExamples?
Thank you,
Michael

[2020-10-29 20:44] msmolyak commented on #445
@ShadenSmith and @samyam
I have a question regarding DeepSpeed/Megatron-LM integration, which your team might have already solved.

I am trying to find a Docker-based runtime for training the model. I tried running the latest Megatron-LM using deepspeed/deepspeed:latest image. I was getting the error below. It appears that the deepspeed image has an older version of pytorch (1.2) than Megatron-LM

[2020-10-30 07:07] ShadenSmith commented on #445
Hi @msmolyak , @cli99 did the hard work on that and just submitted a PR here: https://github.com/jeffra/DSE/pull/8  -- this is our WIP development repo until we have parity with the current DeepSpeedExamples.

[2020-10-30 07:20] ShadenSmith commented on #445
Let me ping @jeffra as he owns the Docker.

As for your working container, @jeffra has been hard at work rewriting our build system and are now hosted on PyPI. You should be able to `pip install deepspeed` now. It's only a development release at this point, but should go official as we wrap up the PR (https://github.com/microsoft/DeepSpeed/pull/476). Please let us know if you have any issues :-).

[2020-10-30 10:52] robinn37 opened #493 "CPU Offload is harmful to training convergence?"
Hi,

I've tried Deepspeed these days and it seems CPU offload doesn't work properly. My experiments are based on 1GB corpus and training GPT-2 with 6 layers. When CPU offload is enabled, the training loss stuck at around 4.0. I tried to update the lr, batch size, fp16, sequene len,  activation_checkpointing and torch adam, but nothing helped. However, after switched off CPU offload, everything wen

[2020-10-30 10:56] robinn37 commented on #493
training loss snapshots:

<img width="919" alt="截屏2020-10-30 下午6 53 53" src="https://user-images.githubusercontent.com/46244524/97696974-515dd600-1ae1-11eb-8036-e5eae364b1a6.png">

eval loss snapshots:
<img width="937" alt="截屏2020-10-30 下午6 55 24" src="https://user-images.githubusercontent.com/46244524/97697109-7eaa8400-1ae1-11eb-82e7-eda9e62dc6b9.png">

[2020-10-30 11:52] e-sha commented on #487
According to this [line](https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/runtime/zero/stage2.py#L1153) the optimizer can split tensor that is not aligned. Thus, padding seems to be an unnecessary feature that just makes code more sophisticated and harder to maintain.

[2020-10-30 16:18] RezaYazdaniAminabadi commented on #493
Hi @robinn37

Thanks for trying CPU offload and sharing the issue.
Yes, you are right there is difference in the convergence and we are aware of this!
The issue is the difference in the optimizer algorithm between baseline (fused-Adam) and (DeepSpeed-CPUAdam)! If you look at the apex fusedAadam implementation (https://github.com/NVIDIA/apex/blob/master/apex/optimizers/fused_adam.py#L63), you will

[2020-10-30 16:20] RezaYazdaniAminabadi commented on #493
Please also check in the new changes for the DeepSpeedExample branch as we have worked on changing the scripts and configuration files too.

Thanks
Reza

[2020-10-31 00:33] sriramiscool opened #498 "Loading models with deepspeed_transformer_kernel=False that were saved with deepspeed_transformer_kernel=True"
I have been using DeepSpeed to train the model.
While training I use deepspeed_transformer_kernel which helps with effciency.
However, when I need to share the model with some one it requires them to use the kernel.
Is there a way for me to load the model into huggingface bert model?

[2020-10-31 02:17] drfinkus commented on #425
@tjruwase @Sleepychord @rople380, after further investigation, it seems like `cpufeature` was implemented using Intel logic only. I fixed the implementation for AMD processors as well, you can use my fork here https://github.com/drfinkus/cpufeature

I also issued a PR, hopefully it will make its way downstream soon, I am in contact with the author. I will see if this fixes the install issue and cl

[2020-10-31 02:36] drfinkus commented on #425
@tjruwase btw, as a suggestion, I see that in the master branch, cpu_adam is disabled by default:
[code]
It's very easy to miss unless you're specifically looking for it, perhaps document it somewhere or maybe turn the default back on as for the rest. Now that `cpufeature` is fixed (see above) that shouldn't be a problem anymore.

[2020-10-31 07:58] RezaYazdaniAminabadi commented on #498
Hi @sriramiscool

Thanks for trying out DeepSpeed.
Yes, there is a way to convert the checkpoint from transformer kernel to huggingface. We have a convert script that does the opposite (from huggingface to DeepSpeed), however I am sure you can use this code to do the revrse for your case: https://github.com/microsoft/DeepSpeedExamples/blob/master/BingBertSquad/convert_bert_ckpt_to_deepspeed.py

Th

[2020-11-01 02:06] robinn37 commented on #493
@RezaYazdaniAminabadi Thanks for your quick reply. I tried the latest code with the adamW update in deepspeed. And also tried the configurations update in DeepSpeedExample. However, the result has no difference.

------- deepspeed configurations --------------
  "train_micro_batch_size_per_gpu": 32,
  "gradient_accumulation_steps": 5,
  "steps_per_print": 100,
  "optimizer": {
    "type": "Adam",

[2020-11-01 04:09] sriramiscool commented on #498
Hello Reza,
Thank you for the quick response.
This is great. I will take a look at it and see how it can be converted
and let you know if I run into any issues.

Thank you,
Sriram

On Sat, Oct 31, 2020, 12:58 AM Reza Yazdani <notifications@github.com>
wrote:

[2020-11-01 06:09] robinn37 commented on #493
Use torch.optim.AdamW directly works well.

[2020-11-01 06:34] RezaYazdaniAminabadi commented on #493
This is pretty strange! I have tried the same experiments and saw the same result! I will try using the same configuration as you and I will see if I can repro the same result.
Can you share the log of your previous runs? Also, I wonder how you directly used torch.optim.adamW, did you enable that using the deepspeed json config?

Thanks,
Reza

[2020-11-01 10:27] robinn37 commented on #493
I update the get_optimizer() in Megatron-LM/pretrain_gpt2.py:

+    #optimizer = Adam(param_groups,
+    #                 lr=args.lr, weight_decay=args.weight_decay)
+    optimizer = torch.optim.AdamW(param_groups,
+                                  lr=args.lr, weight_decay=args.weight_decay)

[2020-11-03 08:19] shuuki4 commented on #324
Any updates on this issue? I am also trying to train large transformers with DeepspeedTransformerLayers with zero optimizer, but I also get `Warning: NaN or Inf found in input tensor.` warning.

[2020-11-03 11:31] nitikasaran68 commented on #489
Hey, can you help me reproduce your GPT-2 3D parallelism results [here](https://www.microsoft.com/en-us/research/blog/deepspeed-extreme-scale-model-training-for-everyone/) (figure 5)
I'm unable to fit a batch size of even 1 with a single gradient accumulation step with the 4pp x 4dp setting on 16 V100s with 16GB memory. If I try 8pp and 2dp, a micro batch size of 1 fits for not more than 4 micro b

[2020-11-03 11:59] asit2898 commented on #329
@ShadenSmith is this issue still open? If yes can I pick this up?

[2020-11-03 14:42] ShadenSmith commented on #329
@asit2898 yes it is, apologies for us not getting to it quickly. PRs are very much welcome.

[2020-11-03 16:35] RezaYazdaniAminabadi commented on #324
Hi @shuuki4

Could you please provide me a log/script of your training so that I try to repro the same issue, because previously I wasn't able to repro this issue on my side?

Thanks.
Reza

[2020-11-03 18:38] ShadenSmith commented on #489
Hi @nitikasaran68, try setting `activation_checkpoint_interval=1` when you wrap the module. [Activation checkpointing](https://deepspeed.readthedocs.io/en/latest/activation-checkpointing.html) is a big memory saver for these kinds of models.

[2020-11-03 20:58] sriramiscool commented on #498
I was trying to convert the deepspeed model to BertForMaskedLM model in hugging face.
There are some keys that hugging face model has but no equivalent key exists in deepspeed and vice versa.
Keys in deepspeed without an equivalent in BertForMaskedLM:
bert.encoder.FinalLayerNorm.weight
bert.encoder.FinalLayerNorm.bias
bert.pooler.dense_act.weight
bert.pooler.dense_act.bias

Keys in BertForMaskedLM

[2020-11-04 02:38] RezaYazdaniAminabadi commented on #493
Hi @robinn37

Thanks for the update.
Could you please tell me how many GPUs and what model-parallelism degree you are using here, so that I can reproduce the issue with using the DeepSpeed-CPUAdam?

Thanks,
Reza

[2020-11-04 10:55] Parskatt opened #502 "[Question] Combining sync batchnorm with DeepSpeed?"
Hi,

I'm not sure how to combine synchronized batchnormalization with deepspeed.
Using `model_engine.module = torch.nn.SyncBatchNorm.convert_sync_batchnorm(model_engine.module)`
Gives me the error: `AttributeError: SyncBatchNorm is only supported within torch.nn.parallel.DistributedDataParallel`

Is there another way of making my batchnorms synchronized?

[2020-11-04 12:40] asit2898 commented on #329
Thanks a lot @ShadenSmith, I'll work on this issue. This would be my first commit, so any pointers would be truly helpful!

[2020-11-04 18:08] #498 closed

[2020-11-04 18:17] RezaYazdaniAminabadi commented on #498
Hi Sriram,

Yes, you are right there are some differences. However, I don't think that's a good option to ignore these parameters difference.
There are two sources for such difference:
1. The transformer that you trained your model with is based on the Pre-LN architecture, which has a final layernorm at the end of the network. On the other hand, HuggingFace is based on Post-LN.
2. Some of the para

[2020-11-04 18:26] sriramiscool commented on #498
Got it. Thanks a lot :)

On Wed, Nov 4, 2020, 11:17 AM Reza Yazdani <notifications@github.com> wrote:

[2020-11-05 06:18] robinn37 commented on #493
2 GPU, MP degree = 1

[2020-11-05 07:53] Santosh-Gupta commented on #474
I downgraded my torch version to 1.5.0 to work with the official docker image, but I am still getting an error for that code snippet to test the compatibility against.

`nvcc -V` gives

and 'torch.__version__' gives 1.5.0

but

[code]

gives

[code]

[2020-11-05 21:57] sabetAI opened #504 "NaN loss due to mixed precision?"
I'm trying to train [RAG](https://huggingface.co/transformers/model_doc/rag.html) using deepspeed, but get a NaN loss, possibly due to mixed precision errors.

can reproduce by running `sh train.sh` from https://github.com/sabetAI/rage

[2020-11-06 07:12] Teravus commented on #397
A side note, I too have experienced this error.
Probably different environment though.

[2020-11-06 13:23] Parskatt commented on #502
I solved it (I think) by just requiring `dist_init_required=True` in the initialization step.

[2020-11-06 14:00] ghosthamlet opened #505 "Is Pipeline Parallelism same as Parameter partitioning?"
Thanks for the amazing DeepSpeed! I can train/finetune GPT2 1.5B on a single 2080Ti, with a few train code change.

Your new feature Pipeline Parallelism is very promising, is it the Parameter Partitioning in ZeRO paper?
If they are not the same, what are the Pros and Cons of Pipeline Parallelism and Parameter Partitioning?

[2020-11-07 03:52] msmolyak commented on #445
Hi @ShadenSmith,

I am looking at the DeepSpeed tutorial and I do not see any information on generating text after training the model using DeepSpeed.

I trained a model in the latest version of Megatron-LM in DeepSpeedExamples. The Megatron-LM original script generate_text.sh returns an error reading the checkpoint file generated by DeepSpeed. When I tried to modify the text generation script to

[2020-11-07 03:54] yanring opened #506 "How to export a ZeRO checkpoint for PyTorch."
I noticed that ZeRO currently provides apis for save&load checkpoints, but it seems to only be used in scripts that also use ZeRO. So is there a way to export the model as a generic PyTorch .pth file?

Thanks!

[2020-11-07 14:03] #506 closed

[2020-11-07 19:51] msmolyak opened #507 "How to generate text with the Megatron-LM model trained with DeepSpeed"
DeepSpeed tutorial [https://www.deepspeed.ai/tutorials/megatron/](https://www.deepspeed.ai/tutorials/megatron/) does not have any guidance regarding text generation after training the model. All the information in the tutorial deals with training, which implies that logic for generation does not change.

I tried running the [Megatron-LM script for text generation](https://github.com/microsoft/Deep

[2020-11-08 00:03] drfinkus opened #509 "How to integrate DeepSpeed checkpointing with pytorch-lightning"
I am trying to integrate DeepSpeed into a pytorch-lightning based project. Specifically, I am not sure how to deal with checkpointing. pytorch-ligthning provides `on_save_checkpoint` and `on_load_checkpoint` hooks, but I don't think that is what is needed.

I could try overwriting the `save_checkpoint` class function (https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightn

[2020-11-08 01:29] drfinkus opened #510 "AssertionError: Default process group is not initialized"
I am trying to integrate DeepSpeed with pytorch-lightning, and have reached a point where I can't see the next step. See below the error trace.
[code]
It seems that a call to [init_process_group](https://pytorch.org/docs/stable/distributed.html#torch.distributed.init_process_group) is missing somewhere but I can't be sure.

[2020-11-08 01:42] drfinkus commented on #510
More information. I am initializing the model as follows:
[code]
If I comment out the `dist_init_required` flag, I get the following error:
[code]
It seems to be related to how the model is initialized, but I'm unclear what I am doing wrong.

[2020-11-09 11:32] Parskatt commented on #502
Nevermind, that was simply because I was using a single GPU, its still not working for multiple GPUs for me.

[2020-11-09 15:02] ReverentOne opened #511 "Kill girls/women"
Order, the only reverent one

[2020-11-09 15:11] ShadenSmith commented on #511
Closing for spam.

[2020-11-09 15:11] #511 closed

[2020-11-09 20:46] dwlmt commented on #504
Don't have much to add, but just to note I'm getting the same issue with the RAG model with using a config with fp16 turned on either as the above without the zero optimization or with it. The training will run without DeepSpeed including with amp enabled but with DeepSpeed it will only train with amp and the zero optimizer.

[2020-11-09 23:20] jithunnair-amd opened #518 "NCCL error in test_checkpointing.py distributed tests"
Many of the distributed tests in test_checkpointing.py seem to be incorrectly written: they end up using the same device 0 for the various ranks. One can verify this by setting the `NCCL_DEBUG_SUBSYS=INIT,COLL NCCL_DEBUG=INFO` environment variables while running the tests. Older versions of NCCL eg. 2.4.8 would allow this, but it causes errors with newer versions of NCCL  eg. 2.7.8. Attaching the

[2020-11-10 02:53] ShadenSmith commented on #505
Thanks for your interest in DeepSpeed!

Pipeline parallelism is not the same thing as ZeRO's parameter partitioning, though they accomplish similar goals. Pipeline parallelism also partitions a model (and gradients, and optimizer states) among GPUs. The tradeoff is that your model needs to have sufficient depth to be partitioned (i.e., it needs to have enough layers), and `forward()` must follow a

[2020-11-10 03:38] ghosthamlet commented on #505
Thanks for the detailed answer, I got it now.

[2020-11-10 03:38] #505 closed

[2020-11-10 03:44] Teravus commented on #435
I think what you are dealing with is...   things that are warnings in  g++ are errors in windows.

To get it to compile in windows, I had to;

-  comment out the error() function in the SharedMemory struct.  That technique, default (unspecialized) fallback for the template, doesn't work on windows.

- I also had to change instances of the word 'and' to &&.

There are still issues building..  but t

[2020-11-10 04:29] Teravus commented on #435
I can take /Wno-reorder out of setup.py and it compiles up until it attempts to resolve the external links to cublas.   So that's next!

[2020-11-10 05:34] szhengac opened #519 "Question about the definitions in block sparse attention"
Hi, I have some question regarding the block sparse attention.

If I understand the description of API correctly, `block` is the block size (i.e., number of tokens in a block) while `num_local_blocks` denotes the number of blocks (`#tokens_per_window = block * num_local_blocks`) in a local window. So no matter which value (`unidirectional` or `bidirectional`) I choose for `attention`, the tokens w

[2020-11-10 11:15] yanring opened #520 "How to use float BatchNorm in ZeRO optimizer?"
I'm trying to use mixed precision in ZeRO, mainly because I need float BatchNorm layers, so is there an example or documentation for this?

[2020-11-10 19:30] samyam commented on #520
@Yanring ZeRO currently only supports fp16 parameters, and we are thinking about extending it to support a mixture of both fp16 and fp32 parameters. But we do not have an ETA yet.

However, you can still do float BatchNorm  without requiring mixed precision in ZeRO. BatchNorm consists of two parts: i) the actual normalization part (shown in blue in the figure below) and ii) the affine part which r

[2020-11-10 19:42] arashashari commented on #519
Yes, that is correct. Tokens within a block always attend to each other no matter if it is uni/bi-directional. However, if you look at a local window, in the case of unidirectional, you can consider tokens within a block only attend to other tokens in the blocks before them in the same local window. While in case of bidirectional all tokens in the local window (no matter which block they are in) a

[2020-11-10 20:18] samyam commented on #504
@sabetAI , @dwlmt can you please share your logs ?

[2020-11-10 21:27] szhengac commented on #519
So if we want to use it for the machine translation, how do we set these
hyper parameters? For machine translation, tokens within a block cannot
attend to each other in decoder.

On Tue, 10 Nov 2020 at 11:42, Arash Ashari <notifications@github.com> wrote:

[2020-11-10 21:35] arashashari commented on #519
You can use the attention mask to neutralize it; in such cases, attention mask is of dimension [leading dimensions, S, S] in which S stands for sequence length.

[2020-11-11 03:47] ConnollyLeon commented on #95
Hi @jdongca2003 ,
I encounter the same problem as  you describe when using Tesla K80. And I found it work normally when applying them on Tesla V100.  Have you solved this problem?

@ShadenSmith Could you please explain why this happen? Dose deepspeed not support Tesla K80?

Thanks.

[2020-11-11 07:43] yanring commented on #520
Thanks!

[2020-11-11 07:43] #520 closed

[2020-11-11 11:08] rgeorgej opened #521 "Unable to find Transformer CUDA kernels"
I  have build the DeepSpeed with with the following environment variables sets
export DS_BUILD_CUDA=1
export DS_BUILD_CPU_ADA=1
export DS_BUILD_LAMB=1
export DS_BUILD_TRANSFORMER=1
export DS_BUILD_SPARSE_ATTN=1

But when i try to test the installation with basic_install_test.py i receive that the transformer kernel is not installed
[INFO] using new-style apex
 [WARNING]  fused lamb is NOT installe

[2020-11-11 12:12] ghosthamlet opened #522 "why cpu_checkpointing can't work?"
I have partition_activations and cpu_checkpointing enabled, but it seems like activations still on GPU, I have just one GPU, can't do model parallel, do cpu_checkpointing just work for model parallel? why single GPU same as 1 GPU model parallel can't offload all its checkpoints to the CPU?
My CPU memory is enough, configs:
[code]

Environment:
python 3.6
torch 1.6.0
deepspeed 0.3.7

[2020-11-11 18:47] ShadenSmith commented on #518
Thanks for the report and logs! As you can see, we test on older NCCL versions.

[2020-11-11 19:49] jithunnair-amd commented on #518
Yes. However, this really seems to be an issue in the way the distributed test logic is written, because it ends up having multiple ranks on the same device (NCCL does not control the association of device to rank; it just uses the current CUDA device).

[2020-11-11 20:36] ShadenSmith commented on #518
Yep, understood. I just meant we had not encountered the error before due to older NCCL versions.

I haven't had a chance to dig into specifics yet, but am curious why the ranks are all pinned to the same device. Our `distributed_test` helper assigns devices: https://github.com/microsoft/DeepSpeed/blob/eea1c285a8271b94e43070d058869fe9ef4576a8/tests/unit/common.py#L42

[2020-11-12 01:25] dwlmt commented on #504
I don't have any logs of what is going on inside Deepspeed, I'm not sure if there is an option to turn on a full stacktrace all I know is returned loss from the batch_outputs which is returned from the deepspeed model engine that tests as a nan.

[code]

[2020-11-12 03:52] Teravus commented on #435
I wasn't able to get it to include cublas.lib cudnn.lib curand.lib, but I was able to set the system path to include the build tools and run the last line of the commands (which is the linker) manually and include the libs.    At first, this stopped with unable to find rc.exe..  but then I copied rc.exe and rc.dll from my windows dev kit to the visual studio build directory.     After that it link

[2020-11-12 04:16] Teravus commented on #435
Testing...     using the unit tests reveals that triton isn't installed also so deepspeed.ops.sparse_attention.cpp_utils can't be imported.
I guess that's next!

[2020-11-12 04:23] szhengac commented on #519
I see. That is indeed one option.

[2020-11-12 04:34] gongjingcs commented on #272
The same doubt, we are also reproducing the results of bert pre-training. According to the description, the 44-minute result is not optimized for communication allreduce, so the scalability of multiple machines should become a bottleneck. It is not clear how deepspeed  solvedThis question

[2020-11-12 04:35] gongjingcs commented on #272
@RezaYazdaniAminabadi Looking forward to your reply!

[2020-11-12 05:32] jithunnair-amd commented on #518
Right, I noticed the same myself. However, when profiling the CUDA calls, I noticed that `cudaSetDevice(0)` was being called after the `cudaSetDevice(<device>)` call triggered from the line above. I wasn't able to narrow down where the subsequent `cudaSetDevice` calls were being triggered from.

[2020-11-12 08:26] Teravus commented on #435
Aaaaand..    I turns out there was another step for deepspeed.ops.sparse_attention.cpp_utils

I recompiled it now running the unit tests directly with pytest..   and they're failing with RuntimeError: nvrtc: error: invalid value for --gpu-architecture (-arch)           nvrtc compilation failed:

My guess is they don't like 8_5(Cuda 11.1) or I'm missing an environment variable...

[2020-11-13 05:48] Teravus commented on #435
So, I re-did my pytorch installation with the latest daily and added 'arch=compute_80,code=compute_80', to the setup script..

and..   it no longer complains about gpu-architecture.
Now a few tests are upset about pickling..
- AttributeError: Can't pickle local object 'distributed_test.<locals>.dist_wrap.<locals>.dist_init'
and a few are upset because they're missing no_grad().
 - "Leaf variable w

[2020-11-13 17:53] RezaYazdaniAminabadi commented on #272
Hi @gongjingcs and @JF-D,

Sorry for the late reply. Here are my answers:

1. Regarding the GPU architecture (SXM3 vs SXM2), I cannot see much of the difference. However, it seems the two GPUs have different peak power consumption, which means one should be able to run at a higher frequency.

2-3. As @JF-D mentioned, the memory structure can be very important as we are always bringing the minibatc

[2020-11-13 20:57] dwlmt commented on #504
@sabetAI I found a workaround. In RagTokenForGeneration or RagSequenceForGeneration in the get_nll function, there is a smoothing loss, and in my training all the smooth_obj values are infinity. I've got the model to train by just zeroing out these vectors.

[code]

This effectively turns off the smoothing loss and I'm not sure how that affects the models but the losses are non-nan now and can bac

[2020-11-13 21:36] msmolyak commented on #445
Hi @ShadenSmith and @samyam,

Has there been any progress in moving the DeepSpeed wrapper of the current Megatron-LM code towards a release?

Thank you,

Michael

[2020-11-16 21:07] msmolyak commented on #507
I was able to modify the text generation utility [generate_samples.py](https://github.com/microsoft/DeepSpeedExamples/blob/master/Megatron-LM/generate_samples.py) to wrap Megatron-LM model in DeepSpeed engine and use it to generate text with the checkpoint created by DeepSpeed Megatron-LM wrapper.

I can create a pull request for the change, but the code for Megatron-LM in this repository is over

[2020-11-16 21:27] ShadenSmith commented on #507
Hi @msmolyak, many many thanks to you and your team for the multiple contributions along this line. I am back after some sick leave and catching up.

Let me work on your submitted bugfix and ramp back up on the DSE side of things. We'd love to get the text generation PR from you once we're setup to properly track Megatron-LM's upstream branch.

[2020-11-17 00:35] gongwei-130 opened #530 "PipelineParallelGrid' object has no attribute 'slice_parallel_size'"
https://github.com/microsoft/DeepSpeed/blob/9941ce75225868ef9222a0360683a563d05d87ad/deepspeed/runtime/pipe/topology.py#L452

AttributeError: 'PipelineParallelGrid' object has no attribute 'slice_parallel_size'

[2020-11-17 23:49] dblakely opened #533 "Issue with cpufeature not working when installing cpu-adam"
Hi,

We were trying to install cpu-adam with `install.sh`, but we were given the following exception:
[code]
This seems to be occurring because the `cpufeature` package isn't working on my system. For example, whenever I try to import `cpufeature`, I get:
[code]

Is there a way to install cpu-adam without using `cpufeature` or any known fixes to this problem? For reference, my CPU is a Intel(R) Xe

[2020-11-18 03:45] khangt1k25 opened #535 "RuntimeError: no GPU resources available"
I have faced this problem: RuntimeError: Unable to proceed, no GPU resources available. Is it possible to run deepspeed without GPUs?

[2020-11-18 04:03] hujian233 opened #536 "Cuda 11 cannot be supported"
I wanted to run Deepdpeed on RTX 3090, cudA 11 only on 3090, and in your docker release I updated Pytorch version to 1.7.0 and ran an error:
[code]

how can I use it in 3090？

[2020-11-18 04:14] jeffra commented on #536
We're in the process of updating our docker images. We're also still in the process of fully testing torch 1.7 + cuda 11. However, can you try this docker image we just pushed to docker hub? `deepspeed/deepspeed:v031_torch17_cuda11`

[2020-11-18 04:25] jeffra commented on #536
The above image I linked does not include apex since deepspeed core does not require it anymore. However, the Megatron example does rely on a few cuda/cpp extensions that are included in apex. I've pushed another docker image that installs the latest apex as well, you can grab it here: `deepspeed/deepspeed:v031_torch17_cuda11_apex`

[2020-11-18 04:27] jeffra commented on #536
The dockerfiles for these two images are below (the 2nd image just adds the apex lines at the end):

[code]

[2020-11-18 04:56] hujian233 commented on #536
Thank you for your answer, I will try it and look forward to a good result.

[2020-11-18 07:44] harrydrippin opened #537 "Cannot install DeepSpeed without CUDA"
## Problem

I tried to install DeepSpeed above torch-preinstalled `virtualenv`, and saw this error:

[code]

## Why?

I found that warning message at [Line 60 of setup.py](https://github.com/microsoft/DeepSpeed/blob/ca9ab1201ff56815652b7b85496d262c2d89d6c1/setup.py#L60):

[code]

So we can confirm that it was intentional to allow installation above no-CUDA environment to support cross-compiling or

[2020-11-18 11:31] hujian233 commented on #536
@jeffra  Hello, I used the docker image you gave me above, and when testing the Megatron Example, I reported an error when Running bash scripts/pretrain_gpt2.sh for a single GPU:
`Partition Activations False and Correctness Check False
Traceback (most recent call last):
  File "pretrain_gpt2.py", line 711, in <module>
    main()
  File "pretrain_gpt2.py", line 684, in main
    iteration, skipped =

[2020-11-18 14:18] #493 closed

[2020-11-18 21:42] tjruwase commented on #533
Hi @dblakely, thanks for using DeepSpeed. Sorry for this annoying issue. But we recently fixed it and removed this dependency from our build. Can you please give it a try?

[2020-11-19 01:56] sshleifer opened #541 "Why is CPU Checkpointing only available with partitioned activations?"
I am trying to better understand offloading activations to CPU (`PA_TO_CPU`) here https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/runtime/activation_checkpointing/checkpointing.py#L730 and wondering why

It seems to me like one could be implemented without the other? Or am I missing something.
This is not an issue with the code, just a question to firm up my understanding.
Thanks in a

[2020-11-19 16:17] jeffra commented on #518
Hi @jithunnair-amd, this issue should now be resolved. Feel free to re-open if you're still seeing an issue though.

[2020-11-19 16:17] #518 closed

[2020-11-19 16:30] jeffra commented on #537
Thanks for your contribution @harrydrippin! We have been slowly starting to remove many cuda dependencies that DeepSpeed has, but I am sure there are more remaining. I just approved PR #538 which is a great fix in this direction. We are super excited for PRs like this though, so if you find additional gaps in terms of cpu-only support we will try to promptly review any PRs like this :)

[2020-11-20 00:38] jeffra commented on #536
Hi @hujian233, I see. Just realized this is compute capability 8.0 (ampere).

The previous image I linked pre-builds our cpp/cuda extensions. Let's try an image where the ops will be built just-in-time (JIT) instead. I've pushed it here: `deepspeed/deepspeed:v034-jitops-torch170-cuda11`. Alternatively if you don't want to re-pull a new image you can `pip uninstall deepspeed; pip install deepspeed=

[2020-11-20 01:53] hujian233 commented on #536
Hi @jeffra ，thanks for your answer. I actually solved the above two problems yesterday, although I don't know why.  I just do this：
the first problem,  I noticed that the last error was in `def gelu_impl(x)`，then I comment out  the annotation` @torch.jit.script`，because I don‘t need C++ implementation now, and then it worked.
[code]
the second problem ，I set the docker shm-size 2048m and then the

[2020-11-20 07:30] hujian233 commented on #536
@jeffra  hello, I installed the latest version of DeepSpeed 0.3.4 and run the ds_zero-offload_10B_pretrain_gpt2_model_parallel.sh, I get an error：
[code]
**When This error occurs after I upgrade, I go back to 0.3.2 and still have this error, as if I can't do PIP directly.**

[2020-11-20 18:04] jeffra commented on #536
Hi @hujian233, in some of my local testing with this image I am also seeing strange issues with PIP and conda. I believe my issue was related to the docker build installing deepspeed with root and then at runtime (in my environment at least) I am running with a user without write permissions to `/opt/conda/lib/python3.8/site-packages`. I apologize, this is a different base image than we have been

[2020-11-21 22:42] szhengac opened #547 "Commenting out loss=None causes much higher GPU memory usage in bing_bert."
I found that if I comment out `loss = None` in https://github.com/microsoft/DeepSpeedExamples/blob/fa1d1a71c48623db8a091d9cf636a5fe3b8f43c7/bing_bert/deepspeed_train.py#L176, the GPU memory usage increases significantly. It seems the GPU memory is accumulated with the next batch without manually dereferencing the object but I don't recall that we need this line in pure pytorch training code.

[2020-11-21 23:45] #537 closed

[2020-11-22 10:25] opherlieber opened #549 "PipelineModule inflated checkpoints when using FP16 param flattening"
Hi,

When using the pipeline module/engine, checkpoints are saved per layer within each module/stage. But when using one of the FP16 optimizers, each layers checkpoint size is the full size of the whole pipeline stage (all layers in the stage), which causes checkpoint sizes to be quadratic in the number of layers per stage.

The issue seems to be related to the FP16 optimizers using one large flat

[2020-11-22 13:30] LIZHICHAOUNICORN commented on #329
does any update?

[2020-11-23 01:58] Yicheng-G opened #550 "Scalar Type Error when enable FP16 (`RuntimeError: Expected object of scalar type Half...`)"
When using deepspeed 0.3 / 0.3.2 with `FP16` enabled I got a scalar type error
`RuntimeError: Expected object of scalar type Half but got scalar type Float for argument #2 'mat1' in call to _th_addmm`

In my previous projects using deepspeed 0.1 / 0.2, I've never met this error. Anyone has any ideas?

Thanks in advance!

---

Following is the demo script
[code]

Deepspeed configuration
[code]

`ds

[2020-11-23 02:47] Line290 commented on #478
Hi @ollmer , I did as you say, but I faced loss=NaN, did you face the same problem?

[2020-11-23 02:53] hujian233 commented on #536
@jeffra ,  I can't use the `deepspeed/deepspeed:v034-jitops-torch170-cuda11` with the import error `ImportError: No module named 'cpu_adam'`  which is I said above.  I'm sure it's almost inevitable.

In the `deepspeed/deepspeed:v031_torch17_cuda11_apex` , I  comment out the annotation ` @torch.jit.script` and it worked well.
But there's only one problem, when I use multiple GPUS, one or two of the

[2020-11-23 09:56] hujian233 commented on #536
Hi @jeffra，I seem to have found that the problem is that my 3090 server doesn't have enough memory. It doesn't seem to correlate with the amount of data I have. When When I only have one millon even 10,000 of train data, it will gets stuck. My 2080Ti is 512G menory and the 3090 is 128G. Do you know what deepSpeed's memory footprint is related to?  After testing, I found that when I used 4 GPUs, th

[2020-11-24 03:11] LIZHICHAOUNICORN opened #554 "using deepspeed initialize huggingface GPT2LMHeadModel, it occured RuntimeError: "Function 'LogSoftmaxBackward' returned nan values in its 0th output.""
#  the error log
## error 1 (with torch.autograd.detect_anomaly)
![image](https://user-images.githubusercontent.com/18499529/100041985-72e28100-2e45-11eb-892a-7ddab118795f.png)

## error 2 (without torch.autograd.detect_anomaly)
![image](https://user-images.githubusercontent.com/18499529/100041882-33b43000-2e45-11eb-8cfc-cd979f7dc628.png)

#  Version and env
## Deepspeed version and some info

# T

[2020-11-24 03:59] eric-haibin-lin opened #555 "Why does ZeRO not support float32 training?"
Why is ZeRO restricted to fp16? Any pointer/caveat on how to enable/fix ZeRO with fp32? Thanks!
[code]

[2020-11-24 06:55] tjruwase commented on #487
Closing for lack of activity. Please reopen as needed.

[2020-11-24 06:55] #487 closed

[2020-11-24 06:56] tjruwase commented on #485
Closing for lack of activity. Please reopen as needed.

[2020-11-24 06:56] #485 closed

[2020-11-24 06:57] tjruwase commented on #479
Closing for lack of activity. Please reopen as needed.

[2020-11-24 06:57] #479 closed

[2020-11-24 06:58] tjruwase commented on #472
@visionscaper, we have recently improved our installation. Can you please retry to see if this issue is now fixed? Thanks.

[2020-11-24 07:00] tjruwase commented on #432
@e-sha, we recently made some improvements to installation. Can you please check to see if this problem still exists? Thanks.

[2020-11-24 07:02] tjruwase commented on #397
@Teravus, we recently improved the installation process. Can you please check if you still see this issue? Thanks.

[2020-11-24 07:03] tjruwase commented on #283
@chenghuige Are you still seeing these issues with the latest code? We recently improved the installation process.

[2020-11-24 07:05] tjruwase commented on #425
@drfinkus Thanks for your help with this issue. We further improved installation recently and removed dependency on cpufeature. Can you please check if you still see installation issues? Thanks.

[2020-11-24 08:46] chaoyanghe commented on #397
@tjruwase I still cannot install DeepSpeed successfully. May I know which script do you mean?

[2020-11-24 13:22] tjruwase commented on #397
@chaoyanghe, we recently enabled installation via pip. So can you please try the following commands

1) pip uninstall deepspeed
2) pip install deepspeed
3) ds_report

Please share the results of the 3rd command.

[2020-11-24 13:47] tjruwase commented on #550
@Yicheng-G, thanks for using DeepSpeed.

The problem is that inputs and labels are torch.float32 instead of torch.half since you are doing mixed-precision training. Can you try these changes in line 40 of your code?

        x = batch[0].to(model_engine.local_rank, dtype=torch.half)
        y = batch[1].to(model_engine.local_rank, dtype=torch.half)

[2020-11-24 23:25] RezaYazdaniAminabadi commented on #491
Hi @szhengac

Sorry for the delay!
I have modified the transformer kernel so that it can support different hidden dimensions. I have the code in a different branch of deepspeed:  https://github.com/microsoft/DeepSpeed/tree/transformer-kernel/support-arbitrary-hidden.
I have already tested this for various hidden dimensions from 128 to 8192 (https://github.com/microsoft/DeepSpeed/blob/transformer-k

[2020-11-25 03:08] Yicheng-G commented on #550
@tjruwase , thanks for your reply!

Yes, casting inputs type to torch.half solves the problem.  I still have some questions.
Does Deepspeed fp16/ZeRO forward propagation fully run in fp16? Otherwise cast inputs into torch.half in the very beginning seems to lose some accurancy.
A few months ago I'm using ZeRO in deepspeed v0.1 & v0.2, without manully changing the inputs datatype to fp16 and it wor

[2020-11-25 05:26] yanring commented on #490
So why does FusedLAMB in ZeRO work?

[2020-11-25 15:30] tjruwase commented on #550
I am glad type casting resolved the issue.

Yes, DeepSpeed fp16/ZeRO and other mixed-precision training schemes perform forward and backward passes in fp16. This is source of the memory savings advantage of mixed-precision training.  I am not sure why fp32 inputs worked in the older DeepSpeed versions, that was probably due to a bug. I can look into this later if you want and I get some bandwidth

[2020-11-25 15:40] tjruwase commented on #555
@eric-haibin-lin, thanks for your question. ZeRO is currently targeted for only fp16, i.e., mixed-precision training, which is required to train large models with billions/trillions of parameters. Generalizing ZeRO to fp32 training is on our roadmap, but currently of low-priority, unfortunately.

[2020-11-26 06:26] hujian233 opened #562 "RuntimeError: : Optimizer lost track of step count!"
When I tried to continue training from a model with 100 step checkpoints, I modify the scrpits `--train-iters ` from 100 to 1500 and
add `--load checkpoints/gpt2_0.8B`  parameter which is consistent in the training process.  The checkpoint are loading success, but I got an error:
[code]
Does anybody know why that is?

[2020-11-26 06:35] Yicheng-G commented on #550
Got it. That make sense. Will DeepSpeed consider adding autocasting for inputs like apex.amp did?  As far as I know, there is no notification about data type casting in the tutorial.

Yeah, I set zero stage to 0 to make sure the origin error comes from fp16. Thanks for kindly reminding me.

[2020-11-26 07:28] Teravus commented on #397
@tjruwase
**Step 2:** (DeepSpeed) C:\DeepSpeed>pip install deepspeed
Collecting deepspeed
  Downloading deepspeed-0.3.7.tar.gz (258 kB)
     |████████████████████████████████| 258 kB 6.4 MB/s
Requirement already satisfied: torch>=1.2 in c:\programdata\anaconda3\envs\deepspeed\lib\site-packages (from deepspeed) (1.8.0.dev20201112)
Requirement already satisfied: torchvision>=0.4.0 in c:\programdata\

[2020-11-26 08:27] Teravus commented on #397
@tjruwase I built current master from source and it went a lot smoother than the last time. but it doesn't look like any of the ops installed.

python setup.py -v build
python setup.py bdist_wheel
pip uninstall deepspeed
pip install dist\deepspeed-0.3.0+unknown-cp36-cp36m-win_amd64.whl --no-deps
python ds_report.py
(DeepSpeed) C:\DeepSpeed>python ds_report.py
--------------------------------------

[2020-11-26 11:26] Teravus commented on #397
I attempted to build current git master source fresh..    and it ultimately ended up in an unusable wheel that couldn't be installed because the platform was 'unknown'. so pip rejected it.

I was able to hack one together though by using the old setup.py script for the setup.py -v bdist_wheel part and then modifying /opt/__init__.py inside the installed directory and fixing the reference to git_ve

[2020-11-26 12:14] tjruwase commented on #397
@Teravus, thanks so much for putting a lot of effort into getting this work and for sharing your experience. It does seem that our Windows installation is broken. Due to bandwidth limitations we have not put much effort into Windows. We will share updates on the Windows front as soon as possible. By the way, is Linux an option for you?

[2020-11-26 12:18] tjruwase commented on #397
@Teravus, I just noticed your unit test updates as I was typing the previous message. I wonder if the following error is a result of torch 1.8 changes. We have only tested up to 1.6. Can you try that? On my side, I will check if  the error is repro'd with 1.8.

`RuntimeError: a view of a leaf Variable that requires grad is being used in an in-place operation.`

[2020-11-26 12:23] tjruwase commented on #397
@Teravus, I just noticed that you are using a dev version of torch since 1.7 is the latest release. Can you please try < 1.8, as we are tested against those?

[code]

[2020-11-26 12:36] Teravus commented on #397
I can, but it can't be today.   I will have to rebuild torch from source because it is running on CUDA 11.0 compute 8.6

[2020-11-26 12:37] Teravus commented on #397
Here are my changes to get the ops to build on Windows.   You still have to run the linker command manually.

[winbuild.patch.txt](https://github.com/microsoft/DeepSpeed/files/5603024/winbuild.patch.txt)

[2020-11-26 13:22] tjruwase commented on #397
@Teravus, thanks for sharing your patch. I took a quick look and it seems it is not against the latest deepspeed sources. Is this correct? For example, setup.py no longer has references to cpufeature.

Also, could please provide this as a PR, since it is a non-trivial contribution.  That way credits and licensing issues are appropriately handled. Thanks so much.

[2020-11-26 19:49] Teravus commented on #397
@tjruwase  The patch is from current master head sources.   I moved setup.py to setup.updated.py in the patch so I can use the older setup.py for the setup.py -v bdist_wheel step.

I'll see if I can do a push request.   Github tools are not installed on this machine so..  it'll take a bit.

[2020-11-28 05:55] RezaYazdaniAminabadi commented on #562
Hi @hujian233

Thanks for reporting this issue. This is coming from the tracking issue of the cpu-adam optimizer step when you loaded the checkpoint from step 100. I pushed a fix in this PR: https://github.com/microsoft/DeepSpeed/pull/564
Please give it a try and let me know if the problem is solved.

Thanks.
Reza

[2020-11-30 06:29] hujian233 commented on #562
Hello ！@RezaYazdaniAminabadi  @jeffra ，my docker enviroment is cuda11 and pytorch1.7，I used `deepspeed/deepspeed:v034-jitops-torch170-cuda11` this image which is mention in [microsoft/DeepSpeed/issues/536]
I can modify the cpu_adam.h file, but I don't how to compile it. So it doesn't worked!
When I use the  just-in-time (JIT) ，it will report the following error:

[code]

[2020-11-30 10:07] hujian233 commented on #507
Hi, @msmolyak , I'd like to ask you a question,I modify the  [generate_samples.py](https://github.com/microsoft/DeepSpeedExamples/blob/master/Megatron-LM/generate_samples.py)，to use the setup_model_and_optimizer() function in [pretrain_gpt2.py](https://github.com/microsoft/DeepSpeedExamples/blob/master/Megatron-LM/pretrain_gpt2.py). It can load model parallel checkpoint success, but it can't gener

[2020-11-30 16:46] msmolyak commented on #507
Hi @hujian233,

Here are the notes I took when trying to make text generation work in the current version of DeepSpeedExamples (I did not commit the code anywhere, it was just a proof of concept effort):

https://docs.google.com/document/d/1My6UA-2n_MHMZO8w-xwnXoKBU1KWEr4B4_iYveFoXPs/edit?usp=sharing

Step 6 dealing with the changes to generate_samples has three changes. The document contains the

[2020-12-01 02:00] ghosthamlet commented on #522
I think this is related to https://github.com/microsoft/DeepSpeed/issues/541

[2020-12-01 07:15] g-karthik commented on #284
@tjruwase @samyam

Hope you're doing well! I'm having some trouble reproducing the 1K sequence length setting with Hugging Face's GPT-2 class.

Specifically, I'm using 8 V100 GPUs (32 GB each) and the following deepspeed configuration:

[code]

I'm kicking these jobs off with python using `--deepspeed_mpi` and `mpi4py` instead of the regular deepspeed launcher. I'm consistently getting CUDA OOM fo

[2020-12-01 23:32] g-karthik commented on #284
@tjruwase @jeffra @samyam @ShadenSmith also note that with the above config, I'm able to train with a sequence length of 512 just fine.

I vaguely remember seeing somewhere in the DeepSpeed docs (or the paper) that you use 16 attention heads for 1.5B, whereas Hugging Face's version uses 25 attention heads. Assuming my memory is indeed correct, I wonder if your 16 attention head version was indeed

[2020-12-02 02:23] hujian233 commented on #536
@jeffra  Hello, I now have some idea of the reason. I can use `deepspeed/deepspeed:v031_torch17_cuda11_apex` directly on my 3090 by the image of pre-builds CPP/Cuda Extensions you gave me before, But I can't use the just-in-time (JIT) feature with the architecture incompatibility :
like these  "RuntimeError: nvrtc: error: invalid value for --gpu-architecture (-arch)" logs.

The following is a demo

[2020-12-02 02:29] hujian233 commented on #507
Hi @msmolyak , thank you. I have already generate text normally.

[2020-12-02 07:44] stas00 commented on #116
At the very least if 1 gpu is not supported, could you please bail with a user-friendly error saying that non-multi-gpu is not supported?

Currently if fails with:
[code]
which is not documented anywhere as a user-side parameter.

[code]

My first card is rtx-3090 which doesn't seem to work with deepspeed - bails on NCCL error - so I tried to check with the 2nd older card only as a sanity check an

[2020-12-02 08:27] tjruwase commented on #284
@g-karthik, I think you should be able to train 1.5B model easily on a single 32GB GPU with cpu-offload. Can you please share a link to the the GPT-2 script? I am curious as to whether you are passing an optimizer into deepspeed.initialize()? I am also interested in repro'ing the OOM.

[2020-12-02 08:30] tjruwase commented on #550
@Yicheng-G, auto-casting can be tricky since it can expose the user to silent precision issues. We have generally assumed that when fp16 or mixed precision training is enabled, that users will take care to prepare fp16 inputs for forward pass. But thanks for the feedback, we will review our tutorials for how to provide clarification and avoid confusion.

[2020-12-02 08:36] tjruwase commented on #521
@rgeorgej, are you still seeing this issue with the master branch?

[2020-12-02 08:37] tjruwase commented on #492
@VladimirKhvostov, can you please check if you still see this error with the master branch? Thanks.

[2020-12-02 08:45] g-karthik commented on #284
@tjruwase Yeah I'm using this implementation of the `GPT2LMHeadModel` by Hugging Face: https://github.com/huggingface/transformers/blob/v3.1.0/src/transformers/modeling_gpt2.py#L652

No, I'm not passing an optimizer into `deepspeed.initialize()`.

Although technically my `deepspeed_config.json` above has `"activation_checkpointing"` set up, it would go unused if using the above `GPT2LMHeadModel` a

[2020-12-02 11:02] ghosthamlet opened #568 "Is zero_optimization stage 2 can't work with pipeline?"
This is my config:
[code]
is it because pipeline already partitioned optimizer state and gradient state, so no need to use zero_optimization partition? (After checked the code, the answer is no, pipeline partition the whole model(include both layers/activation/gradient/state, zero_optimization can further partition gradient/state inside pipeline layers.) but if they failed to work together, then h

[2020-12-02 21:11] jeffra commented on #536
@hujian233 there's a recent PR from @stas00 that might help here as well. Can you give it a try?

[2020-12-02 21:18] stas00 commented on #116
Well, this proved to be unrelated to this issue - one needs to forward `--local_rank` to `deepspeed` initialize's `args` - in the application I am trying to integrate deepspeed in it was goobled up by another consumer of argparser.

[2020-12-03 01:07] jeffra commented on #536
Actually I don't believe the previous linked PR is related here. However, PR #572 should fix your issues I believe.

[2020-12-03 01:11] RezaYazdaniAminabadi commented on #562
Hi @hujian233

We have already solved the issue for the CPU-Adam with loading the checkpointing in the github branch. For the compilation issue, @jeffra just pushed this PR (https://github.com/microsoft/DeepSpeed/pull/572) that will solve it too. Could you please check in the updated code when it's merged and try this again?

Thanks,
Reza

[2020-12-03 01:17] stas00 opened #573 "[request] faster multi-core build and cleanup"
Would it be possible to support an equivalent of `make -j` (parallel multi-core compilation) to build all the features - it takes quite some time to build one .so at a time.

I currently do:
[code]
-----------------------

Also a `clean` target would be helpful. `python setup.py clean` doesn't currently handle binary files clean up.

I guess deleting `./build` should do the trick. I was doing:
[co

[2020-12-03 01:24] jeffra commented on #562
#572 is merged now. Please give it a try when you can @hujian233

[2020-12-03 02:00] hujian233 commented on #536
@jeffra ,Hi,sounds great, I had tried the same thing last night using the cuda 11.1 and torch 1.8.0 without version check. It compiled successs.   I will try the latest code, thank you very much.

[2020-12-03 02:58] hujian233 commented on #536
@jeffra ，I am excited. Yeah, it worked very well in th RTX3090 with cuda11.0，pytorch1.8.0. or pytorch1.7.0 This question can be closed. Thanks again.

[2020-12-03 02:58] #536 closed

[2020-12-03 05:09] jeffra opened #574 "Unit tests should be runnable with < 4 GPUs"
Currently our unit tests assume that we have up to 4 GPUs available at runtime. However, there are a lot of cases when it would be nice for end-users to run our unit tests in environments where they may only have 1 or 2 GPUs available. Currently we don't handle this gracefully and essentially no unit tests will run. (e.g., #570, #536).

Short term: skip unit tests if they require more than the ava

[2020-12-03 06:36] #550 closed

[2020-12-03 08:56] peteriz opened #575 "Question: OneBitAdam on Eth/TCP"
I'm interested in training BERT using multiple nodes with multiple GPUs (Titan-V). Our cluster is Kubernetes-based and we dont have Infiniband interconnects but rather 10Gb eth.
Using the provided Dockerfile (with up-to-date Deepspeed code) we're unable to run it. It is missing `mpiname`, other functionalities from openmpi and `mvapich` launcher is missing.
Does Onebitadam support such setup? if s

[2020-12-03 18:00] awan-10 commented on #575
@peteriz, thanks for reaching out. Can you please try by changing your ds_config.json file and your run script? Set cuda_aware to False in the ds_config.json file and change launcher from mvapich to openmpi. This is in the run script (e.g. deepsped --launcher=mvapich). Please let me know if this works on your setup.

[2020-12-04 04:27] hujian233 commented on #507
Hi, @msmolyak , Have you solved the problem you raised. If now can use deepspeed initialize without optmizer?
this is my code:
[code]

[code]

[code]
It doesn't word well with the latest deepspeed version. do you know what I'm missing?  how the deepspeed config file set?

[2020-12-04 05:56] szhengac commented on #491
@RezaYazdaniAminabadi. Thanks for the good work! I will try it when I get some free time.

[2020-12-05 10:02] hujian233 opened #579 "How to use deepspeed with muiti-node?"
Hi developers, I have 2 RTX3090 machines, now I can train Megatron-LM example in one node well. I want to test the multi node trainning. But I hit a snag.  I configured two dockers in two machine. and a non-secret connection is configured with the mapping port 8088. The
pdsh seems can't connection.

This is the log:
[code]
Can you give me some advice? Thank you

[2020-12-05 14:39] duzx16 opened #580 "What does partition_activations mean?"
I am confused what deepspeed will do with 'partition_activations: true' in the 'activation_checkpointing' section of the config file.

Also, from the source code it seems that deepspeed will flatten all the input tensors except the last one when partition_activations is enabled. Does it mean that modules should manually resize the input tensors in the forward function?

[2020-12-05 15:53] peteriz commented on #575
Thanks for the reply.
I tried what you suggested and got the following:
[code]

[2020-12-05 22:54] owmohamm opened #581 "Possible bug with layernorm kernel"
In this line https://github.com/microsoft/DeepSpeed/blob/1e44d48d5377a5f839c53ccefcd6951625479f51/csrc/transformer/normalize_kernels.cu#L198
epsilon is added to the variance. As far as I can tell the value of epsilon is 1e-12. Right after, the variance is converte to float16. When that is done the effect of epsilon is lost i.e. if the variance was zero then after adding epsilon it would be 1e-12 a

[2020-12-06 03:07] RezaYazdaniAminabadi commented on #581
Hi Owais,

This is very interesting. Yes, I think you are right, this may cause some NaNs in the case of variance becoming zero. I think the solution would be to just do this part of computation only in FP32. Vals_f can be divided here https://github.com/microsoft/DeepSpeed/blob/1e44d48d5377a5f839c53ccefcd6951625479f51/csrc/transformer/normalize_kernels.cu#L210 before converting to FP16. Also we n

[2020-12-06 12:59] carefree0910 opened #582 "Problem when training CycleGAN"
Sometimes (e.g. CycleGAN) we need to optimize two (or more) models' parameters together because it will be more efficient (e.g. when optimizing cycle loss we definitely don't want to use `retain_graph=True`).

I was just wondering whether this is the right way to initialize `optimizer` which aims to optimize both `net_a2b`'s & `net_b2a`'s parameters:

[code]

Any help would be very grateful, thank

[2020-12-06 13:22] carefree0910 commented on #582
I'm also quite confused on how to do the correct backward pass in this case. For the CycleGAN example, we calculate the `cycle_loss` depend on `net_a2b` & `net_b2a`:

[code]

and we want to do one backward pass instead of two, and want to avoid `retain_graph=True`. However, if we stick to `engine.backward` in `deepspeed`, it seems impossible to do so.

[2020-12-06 15:20] peteriz opened #583 "Question: sync multi-node distributed processes"
I'm using BertBing example to train BERT on a multi-node setup, I've also added a custom validation step that runs after X steps and not at the end of the epoch (as in the example). I'm using the dataset provider (by nvidia) in order to run in parallel on all GPUs.
The loss is synced to rank = 0 but once the training loop ends the whole process freezes.

What is the proper way of syncing the tenso

[2020-12-07 12:34] #579 closed

[2020-12-07 19:47] awan-10 commented on #575
Hi @peteriz. It looks like deepspeed is not initialized.

Can you please confirm if you can run BERT or any other example in DeepSpeedExamples (e.g. CIFAR) without 1-bit Adam? e.g. can you run ```bash ds_train_bert_bsz64k_seq128.sh``` in your bing_bert folder?

[2020-12-08 02:24] sriramiscool opened #589 "Issues using deepspeed transformer kernel"
Hello,
I have been training models using deepspeed to train bert models.
The code I use is adapted from bing bert example.
I use --deepspeed_transformer_kernel=True when training and after training load the same model and perform prediction.

I am facing 4 issues when performing prediction using trained model:

Some minor changes made to the model and forward function:
    def forward(self, input_

[2020-12-08 04:05] szhengac commented on #491
Hi @RezaYazdaniAminabadi, we recently came across another issue of using DeepSpeed Transformer kernel as shown in https://github.com/microsoft/DeepSpeed/issues/589

[2020-12-08 07:28] RezaYazdaniAminabadi commented on #589
Hi @sriramiscool

Thanks for pointing out these issues.
We are aware of some of these issues and are constantly working on fixing them asap. For the last two issues you mentioned, I pushed a PR, https://github.com/microsoft/DeepSpeed/pull/587. Could you please check it the issues are resolved?
I also think this PR would solve your first issue. But, please let me know if it does not and I further i

[2020-12-08 07:30] RezaYazdaniAminabadi commented on #491
Hi @szhengac

Thanks for trying out the new kernels.
I see the issues. Could you please use this PR, https://github.com/microsoft/DeepSpeed/pull/587, and see if the issue is solved?
Thanks
Reza

[2020-12-08 07:40] szhengac commented on #589
@RezaYazdaniAminabadi Yes. We mean the results become very different when we add more paddings. We expected a small difference due to masked softmax, but the difference is actually non-negligible.

[2020-12-08 07:45] RezaYazdaniAminabadi commented on #589
Can you try something here? Pad the mask to be a high negative value (like -10000) for the part of the input that is padded, and let's see if the results are still too much different. This will reduce the effect of this padded part when going through the softmax by making them a high negative value, which result in near-zero softmax output.

[2020-12-08 07:47] RezaYazdaniAminabadi commented on #589
Also, let's use random values on the padded input instead of zero (this should not impact the result).
Thanks,
Reza

[2020-12-08 08:09] szhengac commented on #589
We did this in the model.

[2020-12-08 08:11] szhengac commented on #589
We converted 1 to 0 and 0 to -10000 in the mask in the model.

[2020-12-08 08:18] RezaYazdaniAminabadi commented on #589
I see, thanks for pointing this.
Would you mind double-checking this with the new PR (https://github.com/microsoft/DeepSpeed/pull/587)?
For the padding, I have seen similar issue and there seems to be a problem when all the padded data are zeros or ones (similar). I could solve that by changing the padding data to random values. I wonder if the same behavior exists in your testing.
Looking forward

[2020-12-08 09:52] hxbloom commented on #272
Hi @JF-D ,

I tried both attention dropout checkpointing and normalize invertible. Here is my result: 1. attention dropout checkpoint has -2~-1% influence on the speed, normalize invertible has 1%~2% influence on the speed. I cannot get the 5% gain you mentioned.

Afaik, attention dropout checkpoint re-computes Forward() of attention dropout in the backward step. It's a time-memory trade-off.

Cou

[2020-12-08 15:40] sriramiscool commented on #589
Thank you for pointing to the PR, we will try it out and let you know soon.
And we did try random padding tokens as well, the result is still the same.

Thank you,
Sriram

On Tue, Dec 8, 2020, 12:18 AM Reza Yazdani <notifications@github.com> wrote:

[2020-12-08 17:59] owmohamm commented on #581
Hello Reza,
I haven't writing cuda kernels before so I'm a bit apprehensive of making the changes lest I introduce some other issues. I'd appreciate if you or anyone else from the deepspeed team could commit a fix for the bug.

Thanks!

[2020-12-08 18:01] RezaYazdaniAminabadi commented on #581
Hi Owais,

No worries. I will take care of it and send you the PR so that you can review.

Thanks.
Reza

[2020-12-08 18:03] owmohamm commented on #581
That'd be great, Thanks alot!

[2020-12-08 22:01] sriramiscool commented on #589
Hello,
I tried the PR.
Looks like it fixed the Issue 3 and Issue 4 but the Issue 1 and 2 still seem exist.

Below is the output for the same code as earlier using the PR you pointed me to. Please let me know what can be done next.
Thanks.

-----------------------------------ISSUE 1-------------------------------------------------
EMBEDDINGS DIFFERENT FOR MODEL WITH AND WITHOUT TRANSFORMER KERNEL
E

[2020-12-09 02:13] sriramiscool commented on #589
Also found some interesting pattern with issue 2 actually.
By varying lengths we observe that is input1.shape[1] = x and
input1.shape[1]-(16-input1.shape[1]%16) <= input2.shape[1] <= input1.shape[1]+(input1.shape[1]%16)
Then the embeddings are the same with no diff.
Further, for input2.shape[1] \in range (129, 160) or range(257, 336) the different in embeddings is super large and for others is the

[2020-12-09 03:11] RezaYazdaniAminabadi commented on #589
Hi @sriramiscool

Thanks for checking this. And this behavior is for sure strange.
I have updated the branch more today. Could you give it another try?
Also, if you can let me know of the model configuration that you are testing and what sequence-length you are using and which part is padded, I can solve this faster.
Thanks,
Reza

[2020-12-09 03:33] sriramiscool commented on #589
Sure, I can do that. Thanks.

And other details:
Model max sequence length: 512
At the time of input in the code I pasted earlier:
    seq_len = 9
    ipid2 = torch.arange(128).view([1,128])
input 2 array length is 128 but the valid sequence length is 9, rest of the tokens are random tokens (as you suggested earlier).
input 1 array length I varried from 9 to 512.

The configurations used:
DEEPSPEE

[2020-12-09 04:52] sriramiscool commented on #589
Hello,
I tried the latest commit and looks like the super large difference I was seeing like these:
"
EMBEDDINGS GENERATED SAME FOR PADDED SEQ LENS 128 and 262: False
EMBEDDINGS ABSOLUTE MEAN ERROR: 7.5625
EMBEDDINGS GENERATED SAME FOR PADDED SEQ LENS 128 and 263: False
EMBEDDINGS ABSOLUTE MEAN ERROR: 7.78515625
EMBEDDINGS GENERATED SAME FOR PADDED SEQ LENS 128 and 264: False
EMBEDDINGS ABSOLUTE M

[2020-12-09 05:00] RezaYazdaniAminabadi commented on #589
Okay, cool. So, there is only one issue remaining. I will work on it and let you know.

Thanks
Reza

[2020-12-09 05:28] sriramiscool commented on #589
I guess. But, would be nice if in  issue 2 the difference is of the order
0.0001 which is what I see in model without deepspeed kernel.

And thanks a lot. :)

On Tue, Dec 8, 2020, 9:01 PM Reza Yazdani <notifications@github.com> wrote:

[2020-12-09 07:43] peteriz commented on #575
Deepspeed is initialized. However, I'm providing the optimizer via the `deepspeed.initialize(...,optimizer=opt, ..)` method and initialize OneBitAdam optimizer via:
[code]
Can this be the issue? Do I have to use DS json config for 1bit Adam?

[2020-12-09 10:08] khangt1k25 commented on #537
@jeffra  Can we setup DeepSpeed for CPU-only environment?

[2020-12-09 22:57] awan-10 commented on #575
I have not tried this method.

If it is not too much trouble, can you please check if the ds_config method works for you for 1-bit Adam?

DeepSpeed will initialize the 1-bit optimizer for you like this: https://github.com/microsoft/DeepSpeedExamples/blob/master/bing_bert/deepspeed_train.py#L401

Simply use a config file like this to specify 1-bit adam as your optimizer: https://github.com/microsof

[2020-12-10 04:42] gongjingcs commented on #373
hi, I see in ZeRO-2, communicates during non gradient accumulation boundaries as well
![image](https://user-images.githubusercontent.com/15030497/101722305-e7bfe700-3ae4-11eb-95b7-56a80e4a009b.png)
Is it for some reason? could you help me understand this?
Looking forward to your reply

[2020-12-10 06:16] rivalset commented on #438
I'm had the same problem. The problem seems to be that the ssh port is set 22 and not 2222 in /etc/ssh/sshd_config

Another change I had to make was to change the instance type from Standard_NV6_Promo to Standard_NV6.

[2020-12-10 06:25] jeffra commented on #438
@rivalset Not sure if this is applicable in your setup but we've recently been creating new documentation to get started with DeepSpeed on AzureML which is a lot less work to setup than running bare Azure VMs. Here's a video my colleague @awan-10 created: https://youtu.be/yBVXR8G8Bg8

[2020-12-10 06:45] rivalset commented on #438
Thanks for the pointer. I will take a look.

[2020-12-11 00:27] sriramiscool commented on #589
Hello @RezaYazdaniAminabadi ,
Wondering if there are any updates.

Thanks,
Sriram

[2020-12-11 00:32] RezaYazdaniAminabadi commented on #589
Hey @sriramiscool
I got distracted by some other work. I will come back to this very soon.

Thanks,
Reza

[2020-12-11 00:38] sriramiscool commented on #589
thanks a lot 👍

[2020-12-11 22:10] g-karthik opened #598 "[deepspeed checkpointing] AttributeError: 'NoneType' object has no attribute 'numel'"
So I took a public GPT-2 class implementation (not Megatron-LM) and I added deepspeed checkpointing to it for all 48 layers.
In my train script for this class, I added the following line:

[code]

My deepspeed config JSON is as follows:

[code]

When I try running my script, I get the following error:

[code]

Any ideas what's going on?

@tjruwase @ShadenSmith

[2020-12-11 22:18] ShadenSmith commented on #598
Hi @g-karthik , that is an unfriendly way of reporting that the `partition_activations`, `contiguous_memory_optimization`, and `cpu_checkpointing` features require model parallelism. The `partition_activations` feature assumes that activations are replicated among a group of model-parallel workers (as is the case in Megatron) and then partitions them to save additional memory with activation check

[2020-12-11 22:39] g-karthik commented on #598
Ah I see, thanks @ShadenSmith! I made those `false` and get a different `NoneType` error now :(

[code]

[2020-12-11 22:46] g-karthik commented on #598
Btw as a more foundational question, why couldn't we have upfront contiguous memory allocation for activations in the case of no-model-parallelism? Same question for offloading activations to CPU with `cpu_checkpointing=True`.

I understand the behavior of `partition_activations` is strongly tied to model-parallelism, but the others don't necessarily need to, right?

[2020-12-11 22:47] ShadenSmith commented on #598
Hm, can you share a bit about the model code that uses checkpointing? My first response still applies, but now I'm wondering if there's a bigger issue that we're not catching. This looks like `checkpoint()` is not getting the `args`, which should be the input to the checkpointed method.

[2020-12-11 22:51] g-karthik commented on #598
@ShadenSmith yep, this is kinda what it looks like inside the model's `forward()`:

[code]

[2020-12-12 01:22] g-karthik commented on #598
Ah @ShadenSmith I think I know what the issue is, but correct me if I'm wrong. The default `torch.utils.checkpoint.checkpoint` [implementation](https://pytorch.org/docs/stable/_modules/torch/utils/checkpoint.html#checkpoint) does not assume anything about availability of all `*args`, i.e., the `CheckpointFunction`'s `forward()` method implementation allows for some arguments to be `None`.

However

[2020-12-12 04:28] stas00 opened #599 "JIT .so's need a unique prefix to avoid colliding with common modules"
When JIT is used (`DS_BUILD_OPS=0`) ds builds `~/.cache/torch_extensions/utils/utils.so` and loads it as `import utils` (that is `sys.modules["utils"]` points to `~/.cache/torch_extensions/utils/utils.so`) which collides with any local `utils.py` in the end user application, which are very common. This breaks those applications since they no longer can import the local `utils`.

Please kindly rena

[2020-12-14 08:45] hxbloom opened #600 "Future Plan of Transformer Kernel"
I'm using Megatron-LM example to train GPT-2 on my cluster. I've also tested the DeepSpeed Transformer Kernel in the bing_bert example, it is really helpful, much faster than the original PyTorch version with less memory consumption.

I would like to know if you have any future plan to extend the transformer kernel, for example, support more models like GPT-2, or integrate model parallel into the

[2020-12-14 17:56] RezaYazdaniAminabadi commented on #600
Hi Dong,

Thanks for pointing out the use-cases for Transformer kernel. There us a plan for supporting other types of transformer networks. For the GPT2, we have the kernels modified to support that, and we obtained about 30% and 40% speedup in the forward and backward pass. We are going to release them very soon. Please stay tuned!

Thanks,
Reza

[2020-12-15 03:51] g-karthik opened #603 "Why is cpu_optimizer flag decoupled from the deepspeed config JSON?"
https://github.com/microsoft/DeepSpeed/blob/41db1c2f033b82485a3ef7bd0a986d1a1b579519/tests/model/Megatron_GPT2/run_func_test.py#L237

Why is this flag decoupled from the deepspeed config JSON?

Also, where exactly does the `DeepSpeedEngine` parse this flag? I don't see its usage anywhere - it doesn't seem to be a supported arg in `_add_core_arguments()`, nor is it defined in `constants.py`.

@jeff

[2020-12-15 04:15] tjruwase commented on #603
Those are client model arguments and are used to configure our model tests (as opposed to unit tests).  The specific flag `cpu_optimizer` is used by Megatron_LM [here](https://github.com/microsoft/DeepSpeedExamples/blob/35b4582486fe096a5c669b6ca35a3d5c6a1ec56b/Megatron-LM/arguments.py#L63-L64).

[2020-12-15 04:27] g-karthik commented on #603
@tjruwase ah I see, thanks! So leveraging ZeRO-Offload external to Megatron-LM doesn't require this flag, as I'd suspected. I am doing some debugging of ZeRO-Offload behavior external to Megatron-LM and this came up in that context.

Btw, where is it being read in `pretrain_gpt2.py`, I figure it should be used in [here](https://github.com/microsoft/DeepSpeedExamples/blob/35b4582486fe096a5c669b6ca3

[2020-12-15 05:54] RezaYazdaniAminabadi commented on #603
Hi @g-karthik,

This flag previously existed and we chose on the optimizer type at the same place you mentioned in pretrain_gpt2.py, however, we then decided to move this to the deepspeed config, so that we can differentiate between different optimizers when initializing deepspeed engine. We select between different optimizers based on this [table](https://github.com/microsoft/DeepSpeed/blob/maste

[2020-12-15 06:05] g-karthik commented on #603
@RezaYazdaniAminabadi makes sense, and gotcha, okay, I guess the `run_func_test.py` is just outdated then.

Thanks for your quick responses, appreciate it!

[2020-12-15 06:05] #603 closed

[2020-12-15 16:17] JF-D commented on #272
Hi, @hxbloom
Sorry for the late reply.
The hardware environment you can find in the comments above. For pytorch, I use pytorch 1.5.
1. I used attention dropout checkpointing and normalize invertible at the same time. It is possible that the implementation of this kernel will be faster. Besides, Re-computation is indeed a time-memory trade-off. But dropout is a memory-bandwidth limited operator. I

[2020-12-15 17:52] RezaYazdaniAminabadi commented on #589
Hi @sriramiscool

I still cannot repro your first issue! I am not sure what model checkpoint you are using to load the weights of transformer kernel. We have done this previously for the huggingface models, and it gave us the same result. You can find the way we convert the model [here](https://github.com/microsoft/DeepSpeedExamples/blob/master/BingBertSquad/convert_bert_ckpt_to_deepspeed.py).
Can

[2020-12-15 20:25] stas00 opened #605 "[docs] https://deepspeed.readthedocs.io doesn't have API docs"
The main site sends to https://deepspeed.readthedocs.io for API docs, but the latter appears to be pretty much a placeholder with a few almost empty pages and contains no API docs whatsoever.

Is that a bug, or the whole thing is under construction? If the latter perhaps it'd help to indicate that - otherwise it suggests that your API docs generator is broken.

Thank you.

[2020-12-15 20:46] leosaturnin commented on #605
It's under construction   On Wednesday, December 16, 2020, 01:55:56 AM GMT+5:30, Stas Bekman <notifications@github.com> wrote:

The main site sends to https://deepspeed.readthedocs.io for API docs, but the latter appears to be pretty much a placeholder with a few almost empty pages and contains no API docs whatsoever.

Is that a bug, or the whole thing is under construction? If the latter perhaps

[2020-12-15 22:37] jeffra commented on #605
Hi @stas00 and @leosaturnin, so sorry. Our read the docs page broke recently and we're working on fixing it. Will update this thread when it's fixed.

[2020-12-15 23:32] jeffra commented on #605
Should be fixed now.

[2020-12-15 23:32] #605 closed

[2020-12-15 23:45] stas00 commented on #605
excellent! thank you for the quick fix, @jeffra!

[2020-12-15 23:54] jeffra commented on #599
Oh excellent catch, thank you @stas00. We definitely ran into a similar issue with op naming for pre-built ops but hadn't seen this issue with the JIT compiled ops for some reason. I'll look into this.

[2020-12-16 00:01] jeffra commented on #599
I recall the JIT op name cannot have periods in the name, but we can convert the periods in the absolute name (e.g., https://github.com/microsoft/DeepSpeed/blob/master/op_builder/utils.py#L11-L12) to underscores at JIT build/load time (here: https://github.com/microsoft/DeepSpeed/blob/master/op_builder/builder.py#L203) via `self.absolute_name().replace(".", "_")`. Feel free to give it a try and su

[2020-12-16 01:02] stas00 commented on #599
Oh, I have no rush here, since I used the workaround of `DS_BUILD_OPS=1` - which takes longer, but works. So I'd be happy to have you solve it when you have time and resources to do so as you already know the code base. And thank you, @jeffra!

[2020-12-16 02:17] sriramiscool commented on #589
Hi @RezaYazdaniAminabadi
Thanks for getting back, I have created a small standalone script to test just issue 1.
Strangely I am getting a different issue here.
I am attaching the files (changing type from py to txt) here and pasting the output here.

BertLayer: [bert_layers.txt](https://github.com/microsoft/DeepSpeed/files/5699901/bert_layers.txt)
TestRun code: [deepspeed_transformer_test.txt](htt

[2020-12-16 05:57] szhengac opened #607 "nvcc fatal unsupported gpu architecture 'compute_86'"
When I install deepspeed from source, it gives me `nvcc fatal unsupported gpu architecture 'compute_86'`. My cuda version is 11.0. I can alleviate the issue by skipping 'compute_86' in https://github.com/microsoft/DeepSpeed/blob/6380ee35116dfc7c2a037d48fbd790d8dbabfc1d/op_builder/builder.py#L265. I think the current deepspeed installation may not handle cuda 11.0 well.

[2020-12-17 00:33] g-karthik commented on #598
Any thoughts on this @ShadenSmith?

[2020-12-17 08:32] szhengac commented on #461
@tjruwase I wonder if there is any update on this issue?

[2020-12-17 17:00] jeffra commented on #461
Hi @szhengac, I have an idea what might be going on however want a bit more info. There should be another print out before this assertion such as "Discovered MPI settings of world_rank=". This comes from our mpi discovery code here: https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/runtime/engine.py#L280-L291

Also how many prints like this do you see? Are you seeing 16 of them or only

[2020-12-17 18:17] jeffra commented on #461
@szhengac: I see the issue now. It's with our Megatron example, it does not support running with MPI because it's initializing torch distributed itself and not with deepspeed, but this is required since it uses model parallelism. Let me update this and I'll update this thread once it's fixed.

[2020-12-18 00:00] RezaYazdaniAminabadi commented on #589
Hi @sriramiscool

Thanks for providing the scripts.
I have tried this with one of our test units, trying to do the same thing you have done in your test-bench and I could repro the same issue. The important problem I see is that you want to send fp32 values to the kernel whereas configuring it as fp16. I think PyTorch does the conversion itself, however, we have not such checking when passing the

[2020-12-18 00:19] szhengac commented on #461
Thanks the quick fix! I wonder if I use deepspeed launcher, is there any easy way to enable numactl such as https://github.com/mlperf/training_results_v0.6/blob/master/NVIDIA/benchmarks/minigo/implementations/tensorflow/minigo/ompi_bind_DGX1.sh? It is convenient to attach this script with mpirun.

[2020-12-18 01:42] sriramiscool commented on #589
Thank you! That makes sense. I am able to get the same result as you for the code you provided also when I added .half I am able to get an error of 0.0001 in my test code too 👍
I still have issue with my earlier code I posted. I will try to debug more on that and see if we can get same difference there as well and let you know.

Thanks,
Sriram

[2020-12-18 09:50] hxbloom commented on #600
Look forward to your next release!

Dong

[2020-12-18 09:50] #600 closed

[2020-12-18 09:52] hxbloom commented on #272
Got it, Thanks for your reply!

Dong

[2020-12-18 10:17] khangt1k25 opened #609 "Install DeepSpeed with cpu-only"
Can we install DeepSpeed without cuda? and if yes, so how can i do that, I don't see that in documentations. Thanks

[2020-12-18 22:29] sriramiscool commented on #589
Hi @RezaYazdaniAminabadi,
Ran the previous code I shared with you with output_all_encoded_layers=True and I think the reason for high discrepancy there is because of accumulation of errors.
Below is the output of difference at every encoded layer.:

EMBEDDINGS DIFFERENT FOR MODEL WITH AND WITHOUT TRANSFORMER KERNEL
EMBEDDINGS GENERATED SAME: False
EMBEDDINGS ABSOLUTE MEAN ERROR encoder 0 : 0.00624

[2020-12-19 03:10] szhengac commented on #467
Hi @tjruwase, I faced the same issue that when I enable the cpu-offload, the GPU memory goes much higher and I cannot even use the same batch size I used before without cpu-offload. I have checked the log and the cpu optimizer is initialized.

[2020-12-19 04:29] stas00 opened #610 "zero_optimization.cpu_offload: true leads to a silent crash"
I'm experimenting with various `zero_optimization` config options and I noticed that when I flip to `true` `zero_optimization.cpu_offload`, the application exits w/o crashing or doing any training.

[code]

leads to a silent exit but doing nothing:

<details>
<summary>Full log</summary>
<pre>

export BS=20; rm -r output_dir; CUDA_VISIBLE_DEVICES=0,1 PYTHONPATH=../../src USE_TF=0 deepspeed  ./finet

[2020-12-20 03:00] szhengac commented on #589
Hi @RezaYazdaniAminabadi, it seems there is still NAN issue if i use arbitrary hidden_size during the training. For example, in my previous run for a 1.5B model, I used the following model config:
[code]
The training looks good. But after I incorporated #587 and changed it to
[code]
I received NAN issue again. These two configs both lead to a 1.5B model. I also tried an experiment with the former

[2020-12-20 03:36] tjruwase commented on #467
@szhengac, can you please the earlier discussion in this issue regarding internal buffer sizes of ZeRO. You can start from [here](https://github.com/microsoft/DeepSpeed/issues/467#issuecomment-706376653). Please let us know whether or not the solutions there help your case. Thanks.

[2020-12-20 03:52] tjruwase commented on #610
@stas00, thanks for reporting this issue. Can you please set `zero_optimization.stage == 2`? This is a requirement for `zero_optimization.cpu_offload`?

[2020-12-20 03:57] stas00 commented on #610
Thank you, @tjruwase

Would you add an assert to help the user to know that? Surely silent exit w/o a traceback must be incomplete, right?

When I did that - it moves a long and then crashes:

[code]

same config as in OP but changed to `zero_optimization.stage = 2 +  zero_optimization.cpu_offload = true` as you suggested.

[2020-12-20 07:26] szhengac commented on #467
@tjruwase Thanks for your quick response. By reducing these two buffer sizes by 5x, the training can continue with zero-offload. However, I do not observe any memory reduction and the training is slower. And, why zero-offload uses more GPU buffer?

[2020-12-20 23:29] RezaYazdaniAminabadi commented on #589
Hi @szhengac

Thanks for reporting this. That branch that you mentioned has already merged into the master branch. I have tried you configuration (hidden: 1600, heads: 25), using the __test_cuda_backward.py__, and the gradients and forward results seem to be healthy and match the baseline with PyTorch. Here is the difference I see for the difference between these two (which is in the order of 0.00

[2020-12-20 23:44] szhengac commented on #589
Hi @RezaYazdaniAminabadi. I am using the deepspeed master, and the latest commit I have is 7435b2f10af773b0204e77c3549b2b7df9a7a65b on Dec 17. I think my branch is already up to date? I also successfully ran a larger model with the following config

[code]

What I saw is that 1536 and 2560 are both applicable hidden size before arbitrary `hidden_size` commit.

[2020-12-21 00:51] RezaYazdaniAminabadi commented on #589
Hi,

Sorry, I am a bit confused here. Are you saying that the new commit is making the training with hidden dimensions 1536/2560 produce NaN or undesired results?

Thanks,
Reza

[2020-12-21 00:54] RezaYazdaniAminabadi commented on #589
I think they both should still work now. I am surprised if they produce different results! Also, can you please verify the issue with hidden dimension 1600 is resolved?
Thanks,
Reza

[2020-12-21 00:57] szhengac commented on #589
@RezaYazdaniAminabadi, sorry for not making it clear. I already used the latest master branch that has https://github.com/microsoft/DeepSpeed/commit/7435b2f10af773b0204e77c3549b2b7df9a7a65b for the experiments. The training looks ok for both the 1536 and 2560 hidden sizes before and after https://github.com/microsoft/DeepSpeed/commit/7435b2f10af773b0204e77c3549b2b7df9a7a65b. But when I switched to

[2020-12-21 00:59] RezaYazdaniAminabadi commented on #589
I see. Is it possible to send me an script to reproduce this. Because I am not able to repro this with my test units.
Thanks,
Reza

[2020-12-21 01:01] szhengac commented on #589
I will see if I can make a minimal reproducible script. On the other hand, our training script is adapted from https://github.com/microsoft/DeepSpeedExamples/tree/78d69cb2f89a27b1e9b072df8c3e47d00c024fdc/bing_bert. Would it be possible for you to try bing_bert with 1600 hidden_size?

[2020-12-21 01:05] RezaYazdaniAminabadi commented on #589
sure, will do.
Thanks,
Reza

[2020-12-21 01:14] szhengac commented on #589
Thanks. I will see if I can get NAN with other different configurations.

[2020-12-21 08:24] tjruwase commented on #467
@szhengac Thanks for the update. ZeRO-Offload should not use more GPU memory, so something strange is happening. To help debug this issue, can you please provide the following?

1) How big is your model?
2) What is GPU RAM size?
3) What is GPU RAM usage with and without zero-offload?
4) How many GPUs are using?
5) Is it possible to run with 1 GPU?

[2020-12-21 08:30] tjruwase commented on #610
I think I see the issue, based on your stack trace.

[code]

Can you please call `model.backward()` instead of `loss.backward()`? I assume that model is the return value of deepspeed.initialize().

[2020-12-21 17:11] stas00 commented on #610
Ah, right, I switched to `model.module.backward(loss)` - now it wants much more gpu RAM and OOMs even bs=1. Same config as in OP. If I go back to `zero_optimization.stage = 0 + zero_optimization.cpu_offload = false` all is good.

Any ideas why and what do I need to change to make it work?

Talking about batch size - when does `train_batch_size` get used? I noticed that in all my trials until now o

[2020-12-21 19:16] tjruwase commented on #610
@stas00 Thanks for the update. It appears that you running into usability gaps, so apologies for the inconvenience, but hopefully this will enable overall improvement for other users.

For zero-offload memory usage, can you please check out this #467 to see if it is relevant?

In the meantime, I will look up an explanation DeepSpeed's handling of `train_batch_size `et al.

[2020-12-21 19:20] tjruwase commented on #610
Please see #131 for a discussion on batch sizes.

[2020-12-21 21:45] szhengac commented on #467
Hi @tjruwase,
1. I am training a 10B model
2. I am using A100 GPU, and its GPU RAM is 40GB
3. They both hit on the maximum 39GB - 40GB.
4. I am using 128 GPUs
5. I didn't try 1 GPU.

[2020-12-22 00:00] szhengac commented on #589
Hi @RezaYazdaniAminabadi, I have tried the following different configurations:
[code]
Both `hidden_size=1536` and `hidden_size=800` work fine, while `hidden_size=1600` and `hidden_size=160` result in NAN. `hidden_size=16` leads to another issue.

[2020-12-22 00:06] tjruwase commented on #467
@szhengac Thanks for providing these details.

With zero-offload, a 10B model should easily train on one A100 GPU with 40GB. For sanity check, can you please report the memory usage for batch size 1 with 1 GPU using zero-offload?

[2020-12-22 00:08] RezaYazdaniAminabadi commented on #589
Hi @szhengac,

I have tried running the bing-bert example with hidden size 1600 and batch-size 64. I have not seen the NaN issue thought. By the way, there are some overflows at the beginning that will reduce the loss scale to 4K.
![image](https://user-images.githubusercontent.com/44502768/102833541-3b181c00-43a6-11eb-9918-45b7da96341f.png)
Here is the loss curve I got without changing the trainin

[2020-12-22 00:12] szhengac commented on #589
@RezaYazdaniAminabadi, you mean your result was obtained without using the transformer cuda kernel? In my experiment, I use dynamic batch, where the sequence length is not fixed and it depends on the longest sequence in the batch. And, I pad the sequence such that final length is a multiple of 8.

[2020-12-22 00:19] RezaYazdaniAminabadi commented on #589
I have run with the deepspeed transformer cuda kernel:
![image](https://user-images.githubusercontent.com/44502768/102833996-90a0f880-43a7-11eb-901f-c327ecee74e6.png)
Please remove the padding and let the transformer API takes care of that. I am also not passing the sequence-length, so it can change dynamically. For the batch size, please specify the maximum batch size that your application can ha

[2020-12-22 00:25] szhengac commented on #589
I am using 128 A100 GPUs with micro-batch-size=64 and maximum sequence length 128. After I changed it to static batch size with fixed sequence length 128, I can still see the NAN for hidden_size=1600. I am using exactly the same code as in https://github.com/microsoft/DeepSpeedExamples/blob/master/bing_bert/nvidia/modelingpreln.py#L575-L592.

[2020-12-22 00:27] RezaYazdaniAminabadi commented on #589
This is pretty strange. Can you please send me your script so that I can try it on my end!?
Thanks,
Reza

[2020-12-22 00:48] RezaYazdaniAminabadi commented on #589
There is also another possibility that this issue only appears on A100! Unfortunately, I have limited access to this machine right now! So, it would be helpful if you can see whether the issue exists on V100 too. If that's the case, I need to debug this by the script that you provide me.
Thanks,
Reza

[2020-12-22 01:04] stas00 commented on #467
This discussion was very helpful, @tjruwase

I just have a brief suggestion:

You must have meant by 2-3 times, and not orders of magnitude.

We are trying to reduce 9GB to fit into 8GB, not into 0.08GB ;)

[2020-12-22 01:07] stas00 commented on #467
This is the summary I saved away from this discussion:

## ZeRO features that decrease gpu memory usage

* CPU offload

- zero_optimization.cpu_offload=true, requires zero_optimization.stage=2
- cpu_offload should reduce GPU RAM usage,

## ZeRO features that increase gpu memory usage

* zero_optimization.allgather_bucket_size and  zero_optimization.reduce_bucket_size have the biggest impact on mem

[2020-12-22 01:20] tjruwase commented on #467
@stas00 Thanks for the nice summary of my discussion and catching my typo as well :).  @szhengac, I hope you find this summary useful as well.

Hopefully, we can work together to enable the maximum benefits of zero-offload for your models. So my suggestion is that we start with small configuration to nail down the expected memory usage by running with batch size = 1 on 1 GPU.

[2020-12-22 01:26] stas00 commented on #610
This was a perfect reference, thank you!

the gist of that thread was:

`train_batch_size = #GPUs * train_micro_batch_size_per_gpu * gradient_accumulation_steps`

So the setting I was trying was `"train_batch_size": 1,`:

and getting:

`AssertionError: Micro batch size per gpu: 0 has to be greater than 0`

 I guess it divided it by 2 gpus and rounded down to 0, right?

It'd probably be a defensive

[2020-12-22 01:28] szhengac commented on #589
@RezaYazdaniAminabadi, thanks for your suggestions. I need to think about how to make some tweaks, as it is in the internal repo.

[2020-12-22 01:30] stas00 commented on #610
and another assert that is needed that we discusses elsewhere is:

   - zero_optimization.cpu_offload=true, requires zero_optimization.stage=2

[2020-12-22 01:33] stas00 commented on #467
At this point I'm almost done integrating deepspeed into transformers:
https://github.com/huggingface/transformers/pull/9211
so my main goal at the moment is to test various configurations and ensure that they all work.

Then we can start on sorting out which config to use when.

[2020-12-22 01:36] RezaYazdaniAminabadi commented on #589
Sure, I understand it.
If you think this is helpful, we can have an offline chat and find the source the problem. The issue is that I cannot reproduce the same NaN problem on my side, otherwise I would be happy to help solve it.

By the way, I have run the same experiments you've mentioned earlier, and I have seen the same problem with hidden_size 16. However, I can run the rest of the configurati

[2020-12-22 02:52] stas00 commented on #610
Going back to `train_batch_size`

1. is there a benefit to letting DS manage datasets? that is the `training_data` arg in `deepspeed.initialize`

2. It looks like it'd make things much more complicated for `transformers` to use it since we would have to re-init the ds model for each split. So it appears that letting HF trainer do the batching seems to work just fine.

I'm just not sure what to do

[2020-12-22 04:20] tjruwase commented on #610
I will put the required asserts on my TODOs, but will appreciate a PR as well if you have the bandwidth.

There is currently no benefit to having deepspeed manage datasets, and our largest examples, [bing_bert ](https://github.com/microsoft/DeepSpeedExamples/blob/78d69cb2f89a27b1e9b072df8c3e47d00c024fdc/bing_bert/deepspeed_train.py#L402-L405) and [megatron-lm,](https://github.com/microsoft/DeepSpe

[2020-12-22 04:42] stas00 commented on #610
The problem is that I'm unfamiliar with those parts of code, it'd be very quick for someone who knows the code to add, and it's not urgent now that you told me what the right mix is.

A related question: what about the `optimizer` and `lr_scheduler` args of `deepspeed.initialize` - my guess is that they might be useful for when the user will want to supply their own if DS doesn't support what they

[2020-12-22 05:14] stas00 opened #611 "why does ds have a clip_grad_norm that's an alias to torch.nn.utils.clip_grad_norm_?"
Is this a left-over from some older times? So it results in some weird code where you have a special method but it doesn't do anything special and is an alias to `torch.nn.utils.clip_grad_norm_` instead.

As `transformers` is integrating various other engines,  and some of those (e.g. fairscale) actually do have `clip_grad_norm` with a sig:
[code]

ds having this method which has a different signa

[2020-12-22 06:55] szhengac commented on #589
@RezaYazdaniAminabadi, sounds good to me. We can have an offline chat.

And, I just tried the experiment on P3, I still receive NAN issue. And, I found the loss of the first iteration is normal and its grad is NAN:

12/22/2020 06:52:41 - INFO - utils.logger -   bert_progress: step=1, loss=10.6953125, lr=0.0, sample_count=4096
12/22/2020 06:52:42 - INFO - utils.logger -   bert_progress: step=2, los

[2020-12-22 07:30] szhengac commented on #589
When I changed the input_ids, attention_mask, and mlm_labels to all zeros, I can receive:

12/22/2020 07:29:14 - INFO - utils.logger -   bert_progress: step=1, loss=11.265625, lr=0.0, sample_count=32
12/22/2020 07:29:15 - INFO - utils.logger -   bert_progress: step=2, loss=nan, lr=0.0, sample_count=64
12/22/2020 07:29:15 - INFO - utils.logger -   bert_progress: step=3, loss=nan, lr=0.0, sample_cou

[2020-12-22 08:06] RezaYazdaniAminabadi commented on #589
Thanks @szhengac for the detailed information.
I will try more tests and let you know whether I can repro this on my side.

[2020-12-22 15:24] tjruwase commented on #611
@stas00 To my knowledge this is a left-over from older times, probably just to get things to work. As you have rightly noted, there is a lack of standards among different implementations of similar concepts, perhaps an unavoidable curse of a fast moving, highly autonomous space. It is probably the right time for us to revisit this decision, so thanks for highlighting it. We probably won't be able

[2020-12-22 16:06] tjruwase commented on #610
A few thoughts on cl args vs. config file.

1) We started out passing all deepspeed args on the cl but eventually switched to config file when we realized the lack of standards in naming and semantics of cl args across client codes: e.g., [train_batch_size](https://github.com/NVIDIA/DeepLearningExamples/blob/92829376a126286932496ff10d7cc655cb79af05/PyTorch/LanguageModeling/BERT/run_pretraining.py#

[2020-12-22 19:31] mcwebdev opened #612 "owner of deepspeedai.com"
Deepspeed AI (deepspeedai.com) was created in 2018. This is a cease and desist or make offer to buy my IP.
This is my final effort to end this amicably without wasting a bunch of time and energy on obvious overstep per the 13 Dupont factors. https://www.linkedin.com/in/mattcharlton/

[2020-12-22 20:30] szha opened #613 "pip pre-built binary?"
Hi,

A self-contained, pre-built binary would be very useful for adoption. From reading [advanced installation guide](https://github.com/microsoft/DeepSpeed/blame/master/docs/_tutorials/advanced-install.md#L121) from #496 it seems that pre-built binary in PyPI is planned for DeepSpeed. What's the plan for it?

Thanks,
Sheng

[2020-12-22 21:25] szhengac commented on #589
@RezaYazdaniAminabadi I also tried modifying your unittest cases in `test_cuda_backward.py`. I got the following:

[code]

and

[code]

and

[code]

[2020-12-22 21:41] RezaYazdaniAminabadi commented on #589
Hi @szhengac

Thanks for trying these configurations.
Yes, you are right. I see the difference too. However, for the last one, it does not crash in my case, but it produces nan!
I will check where the issue is and get back to you soon.

Thanks,
Reza

[2020-12-22 21:53] RezaYazdaniAminabadi commented on #589
@szhengac, can you tell me for which parameter's gradient you see the difference when running the first test? It can be printed during the checking if you use -sv flags for the pytest.
Thanks,
Reza

[2020-12-22 22:10] RezaYazdaniAminabadi commented on #589
Never mind, I found it! It is for the output_gemm bias.

[2020-12-22 22:19] stas00 commented on #611
Until after the holidays is a perfect time, @tjruwase!

I suppose us consumers of multiple extensions/engines will drive standardization forward by making such requests towards API similarity.

[2020-12-22 22:32] g-karthik opened #614 "1-bit Adam installation dependencies"
I want to try out 1-bit Adam, and I believe it requires some special installation that's present in the pre-built Docker image.

Could you please point me to the specific lines in the [Dockerfile](https://github.com/microsoft/DeepSpeed/blob/master/docker/Dockerfile) that would be needed for this feature?

I have my own custom Docker image in which I've been installing DeepSpeed from source, and I'

[2020-12-23 00:49] stas00 commented on #610
Thank you for sharing your detailed notes on the design decisions with regards to the the configuration process.

I do agree that having hundreds of cl args can be difficult to manage. And your config file is a way easier to parse visually.

So far using the config file approach - I found that I can't comment things out or make comments so experimenting is somewhat difficult.

Oh, it's undocumente

[2020-12-23 01:17] RezaYazdaniAminabadi commented on #589
Hi @szhengac

I have found the source of the problem, which is still related to the layer-norm kernels! I have pushed my changes to this [PR](https://github.com/microsoft/DeepSpeed/tree/reyazda/test-hidden-dimension). I am seeing that the backward_test passes with the first two tests that you've mentioned earlier.
It also has similar results in the last case with 1600 hidden-dimension (with 4 valu

[2020-12-23 01:22] szhengac commented on #589
@RezaYazdaniAminabadi Thanks for the quick fix. I will give it a try. As I am using V100 for the testing, I think I shouldn't have memory issue as I only use a few number of layers?

[2020-12-23 01:23] stas00 opened #615 "[startup] dumps large tensors via logger"
It's helpful to see what config ds is using as it dumps its configuration via logger info at startup, but some of that data I'm not sure is useful, e.g.:

[code]

Is there an actual benefit from seeing these, or is this just an omission and it's better not to print the tensors' contents here.

This looks like belonging to the debug level logging.

Thank you!

The config I was using:
[code]

[2020-12-23 01:38] stas00 commented on #610
So if I try to pass `train_batch_size` via config_params as you suggested, it fails with:
[code]

[2020-12-23 01:43] stas00 commented on #610
And another question:

We have:

[code]

which can be quite different. How should we handle this with deepspeed? As I see there is only one batch_size var and its `train_batch_size` - no variation for eval.

The evaluation is in general less memory demanding due to not needing gradients, yet it can be quite memory hungry due to beam search and require more memory than training.

[2020-12-23 04:02] stas00 opened #616 "[user application] which deepspeed flags are required if any"
In the context of integrating DeepSpeed into transformers, I have a question to you wrt the deepspeed cl args

The paradigm you propose is:
[code]

but as we were discussing elsewhere there are too many cl args in ML apps, and we were considering if it might make sense to collapse `-deepspeed` and `--deepspeed_config` into a single cl arg for the transformers trainer and then re-construct it into

[2020-12-23 05:01] szhengac commented on #589
@RezaYazdaniAminabadi I still receive `RuntimeError: CUDA error: an illegal memory access was encountered` for the following two tests:

test_backward[32-800-128-2-4-True-True-0.2] and test_backward[64-1600-128-25-4-True-True-0.2]

I monitor the GPU memory during the testing, it is far away from hitting on the limit.

[2020-12-23 05:22] RezaYazdaniAminabadi commented on #589
How about if you run those last two separately!? I have seen also the same problem, but when I ran them alone they pass fine! I am not exactly sure what the problem is. Will investigate this further.
Thanks,
Reza

[2020-12-23 05:25] szhengac commented on #589
I just removed some tests that can pass, and I do not see that CUDA error anymore. It seems to me that the kernel may have some storage issue. But I get error for test_backward[64-1600-128-25-4-False-True-0.2]

[code]

[2020-12-23 05:38] RezaYazdaniAminabadi commented on #589
I think this might be because we are registering the backward hooks to get the gradients from PyTorch and compare them, which causes memory bloat. However if we only run the kernels, this problem won't exist. I have verified this with the DeepSpeed-Examples and running the training tests.
Regarding the last test, I would not worry too much, as the relative difference is too low. However, if you th

[2020-12-23 05:43] szhengac commented on #589
I wonder why getting gradients from pytorch hook and compare it to the kernel's could cause memory bloat?

"Regarding the last test, I would not worry too much, as the relative difference is too low. However, if you think this is problematic, I can fix that too." If that error could be further reduced, that would be great. As we need to convert the transformer cuda kernel model to model based on p

[2020-12-23 06:13] RezaYazdaniAminabadi commented on #589
I was previously having this problem that the hooks registered won't be released immediately. However, I did check this again, but that was not the issue. So, I take my previous comment back! :-)
However, I think I have found the source of the issue for testing all the configurations together, which I suspect is due to the many allocations/deallocations happening because of changing the dimensions

[2020-12-23 06:37] szhengac commented on #589
But that part of the code only reallocates the memory when the current memory block is not large enough for holding the new input. And, in real case, we may need to use dynamic mini-batch, so it is very likely that the input batches have varying shape.

[2020-12-23 07:03] szhengac commented on #461
@jeffra I just had a try with the pr. But I got one new error when I use mpirun on a single node:

[code]

I also found that GPU 0 spawns 8 processes:

[code]

I don't have these issues when I use the deepspeed launcher.

[2020-12-23 07:14] RezaYazdaniAminabadi commented on #589
True, and that's why we use the max_batch_size to initialize the workspace with! However, I am thinking of moving this part to PyTorch, so that all memory management is handled through it.

[2020-12-23 08:10] szhengac commented on #589
That’s a good idea. But it is still strange as we generally get cuda
illegal access error when we are making an out-of-bound memory access (size
is wrong or too many launched blocks so that thread is out-of-bound?).

On Tue, 22 Dec 2020 at 23:15, Reza Yazdani <notifications@github.com> wrote:

[2020-12-23 18:00] RezaYazdaniAminabadi commented on #589
Hi @szhengac

 Sorry, I am not sure if I understand your question here! These are some reasons of seeing this error but not all of them. If you are still referring to the error happened during the test, I have checked that the workspace memory could not be allocated, and normally this error is silent and your program still continues on, and when reaching to some kernels that need to access this me

[2020-12-23 19:12] szhengac commented on #589
Thanks for the explanation. It is very helpful. Do you have idea why the workspace memory is not allocated?

[2020-12-23 20:27] tjruwase commented on #616
Dropping `--deepspeed` is not a problem for DeepSpeed at all. As you can see [here](https://github.com/microsoft/DeepSpeed/blob/81aeea361da3936b875a678b9cb44596800510b5/deepspeed/__init__.py#L162), we added this flag as convenience for users to add a deepspeed code path to their existing code without having to write the associated parsing logic. It appears our good "intentions" has created a fair

[2020-12-23 21:37] RezaYazdaniAminabadi commented on #589
no problem! I have an idea why this happens, but I am not entirely sure. I am ganna run more tests and let you know once I am certain.
Thanks,
Reza

[2020-12-23 22:22] stas00 commented on #616
That's perfect. Thank you so much for clarifying this, @tjruwase - we will go with one cl arg then.

[2020-12-23 22:42] tjruwase commented on #616
On the issue of handling config file argument, how about the following? Also I think this might address your other question about mismatches of cl and json clones of batch size related args.

The key observation to this proposal is that `--deepspeed_config`  is also not a requirement to DeepSpeed! Strange as it may sound, it is the reality. Also, it is possible that a few asserts might get fired w

[2020-12-23 23:07] stas00 commented on #616
OK, as posted here: https://github.com/microsoft/DeepSpeed/issues/610#issuecomment-749871126 ideally we want to be able to use the config file as a base config and then to be able to augment what's not there and perhaps override.

So the ideal logic of configuration would be:

1. load config file if any defined in `args.deepspeed_config`
2. use `config_params` if any to override (1) (so here we co

[2020-12-23 23:19] tjruwase commented on #615
Agreed. Will fix.

[2020-12-23 23:31] tjruwase commented on #610
Yes, DeepSpeed currently does not support eval/inference execution. The reason is that training was previously the memory and computation intensive part. And so our current examples do evaluation outside of DeepSpeed. But recently, we have seen requests to add support for evaluation/inference.  So it is now on our short-term timeline.

[2020-12-23 23:59] stas00 commented on #610
Oh, I was completely unaware of this. So I need to do more work then to undo deepspeed post-training stage.

I suppose that I need to remove DeepSpeed layer from DDP(DeepSpeed(OriginalModel)) stack, so it becomes DDP(OriginalModel) as soon as training is done. So something like:
[code]

Also need to make sure that there are no memory-holding left-overs from deepspeed, so that all of GPU is availab

[2020-12-23 23:59] szhengac opened #617 ""wall_clock_breakdown": true and overlap_comm: true"
Hi, I have a question regarding how deepspeed measures the communication time. I see that there is a timer that counts the time for allreduce as in https://github.com/microsoft/DeepSpeed/blob/81aeea361da3936b875a678b9cb44596800510b5/deepspeed/runtime/engine.py#L865-L874. But when I go into this function, I found it eventually goes into https://github.com/microsoft/DeepSpeed/blob/81aeea361da3936b87

[2020-12-24 00:07] stas00 commented on #616
So reading your updated comment at https://github.com/microsoft/DeepSpeed/issues/616#issuecomment-750505646 do you propose that:

1. HF trainer
   1. loads the json config file on its own,
   2. converts it to dict
   3. and then adjusts what it needs to adjust/add
   4. pass it as the `config_params` dict

2. or would deepspeed support what I proposed in https://github.com/microsoft/DeepSpeed/iss

[2020-12-24 03:52] g-karthik commented on #616
Hey @tjruwase @stas00 I use the `--deepspeed`, `--deepspeed_mpi` and `--deepspeed_config` flags when launching my train jobs with `mpirun` in a Kubernetes-based infrastructural setup. I do not use the `deepspeed` launcher. Seeing as you're referring to the removal of the `--deepspeed` flag, I presume you're also considering removing the `--deepspeed_mpi` flag.

I'd appreciate it if we could have d

[2020-12-24 04:03] g-karthik commented on #610
@stas00 I typically just retain reference to my original `nn.Module` in memory while operating with my `model_engine` (also an `nn.Module`), and simply perform validation on my validation set with the reference to the original module.

`DeepSpeedEngine` only wraps around the original `nn.Module`, so validation works just fine with the reference to the original module.

[2020-12-24 04:05] stas00 commented on #616
@g-karthik, I think you may have understood the content of this thread.

I was only asking for an advice of which flags would be best to used in HuggingFace `transformers` which will soon have DeepSpeed integrated.

I don't think there are any plans on removing support for flags in the DeepSpeed project itself.

Looking at the title of this Issue, I can see how you could have interpreted this - if

[2020-12-24 04:23] stas00 commented on #610
Thank you for your comments, @g-karthik.

Yes, we are recoding things now so that we have:
* `self.model` - original
* `self.model_wrapped` - wrapped
so that it's obvious which is which and easily available on demand.

I suspect we must clear out any references to deepspeed to free the memory if we aren't using it at later stages, but I could be wrong and it already happens automatically. I will d

[2020-12-24 04:33] g-karthik commented on #610
@stas00 I think you'll probably need to free some references for evaluation when the model size is very large, such as perhaps T5-11B. We can discuss this on your `transformers` PR, feel free to tag me there so I get an email.

[2020-12-24 04:37] tjruwase commented on #610
@g-karthik Thanks for sharing your experience with using DeepSpeed for evaluation. @stas00, I will gladly defer to @g-karthik on this topic, as he is quite more knowledgeable than me :).

[2020-12-24 04:39] tjruwase commented on #616
@g-karthik Thanks for eliciting this very important clarification regarding the discussion. Just to confirm, there are no breaking changes.

[2020-12-24 04:41] tjruwase commented on #617
@szhengac Your analysis is correct. Communication overlapping breaks correctness of the allreduce timer.

[2020-12-24 04:49] stas00 commented on #610
We are much appreciating you too offering to support our DS integration process, @g-karthik!

[2020-12-24 04:51] szhengac commented on #617
@tjruwase Thanks for confirming this. And, I have one more question, I see that `reduce_ipg_grads` in https://github.com/microsoft/DeepSpeed/blob/81aeea361da3936b875a678b9cb44596800510b5/deepspeed/runtime/zero/stage2.py#L942 is called both inside the gradient hook (https://github.com/microsoft/DeepSpeed/blob/81aeea361da3936b875a678b9cb44596800510b5/deepspeed/runtime/zero/stage2.py#L593-L596) and a

[2020-12-24 05:22] szhengac commented on #617
I think I find the idea here. We add hook to the gradient no matter if `overlap_comm=True` or `False`. The overlap is enabled by using two cuda streams?

[2020-12-24 14:28] tjruwase commented on #617
Yes, your idea is on the right path. In ZeRO stage 2, we enable reduction doing backward after a predefined [number](https://github.com/microsoft/DeepSpeed/blob/81aeea361da3936b875a678b9cb44596800510b5/deepspeed/runtime/zero/stage2.py#L614) of gradients are available.  The number of gradients to trigger reduce is controlled by [reduce_bucket_size](https://www.deepspeed.ai/docs/config-json/#zero-op

[2020-12-24 21:45] szhengac commented on #617
Thanks. This explains. I think it may be helpful to add some comments around that allreduce call, otherwise it is misleading. And, since deepspeed uses its own launcher, I cannot directly just use `nsys --profile deepspeed <args>` for profiling.  mpirun https://github.com/microsoft/DeepSpeed/issues/461 also has issue. Is there a way that I can use Nsight to profile the job?

[2020-12-24 23:23] szhengac commented on #467
I will revisit this after I figure out another issue.

[2020-12-25 00:26] stas00 opened #618 "deepspeed launcher exits as successful on failure"
Demo:

1. prepare a failing program:
[code]

2. run it:
[code]

log:
[code]

As you can see `echo "failed"` didn't kick in - as `deepspeed` returned returncode 0.

Another way to see the same:
[code]

This bug breaks tests that rely on the sub-process returning `returncode > 0` on failure.

Thank you.

[2020-12-25 02:28] stas00 commented on #610
@tjruwase, I got a chance to experiment with your suggestions and it is mostly working with some TLC needed for `deepspeed.initialize`.

1. I cannot not pass `deepspeed_config` in `args` - it crashes. Since you said I should be able to send all the config via `config_params`, why does it still require `deepspeed_config`? And the precedence is unclear then should `config_params` provide different v

[2020-12-25 10:09] ollmer opened #619 "Inference of model-parallel model on a single GPU"
Hello. Is there any recommended way to save trained model-parallel model to a single checkpoint, that could be loaded to the single gpu for inference? Given that total amount of weights fits in single GPU memory using fp16.

[2020-12-26 02:27] szhengac commented on #461
I just found it is because it links to the wrong nccl lib. For the second process spawning issue, I have submitted a pr to fix it.

[2020-12-26 08:30] szhengac opened #620 "torch.cuda.synchronize() takes a lot of time for the 10B model training with Zero 2"
I recently run some experiments for the 10B model training with Zero 2 on 128 A100 GPUs with 400Gb/s bandwidth, and I observed that communication dominates the total training time, which is about 18 times more expensive than the backward computation. I managed to use nsight system to do some profiling, and the following picture shows the profiling result:

![image](https://user-images.githubuserco

[2020-12-26 08:32] szhengac commented on #617
Nevermind, I have managed to fix the mpirun and used nsight to profile the training. I put the profiling result in a new issue #620.

[2020-12-26 08:32] #617 closed

[2020-12-28 15:13] kooyunmo opened #621 "Does DeepSpeed currently support 3D parallelism for Megatron-LM?"
Hi. I am trying to train GPT-2 with 3D parallelism described in [this link](https://www.deepspeed.ai/tutorials/pipeline/), but the only pipelined parallelism training example script provided in the repo is for AlexNet. Can I correctly train GPT-2 with 3D parallelism using the current DeepSpeed system (if I make a correct training script)? Or does DeepSpeed need a further system-level implementatio

[2020-12-28 19:53] anijmlt opened #622 "Zero stage 2 : contiguous_gradients and "Reduce""
I am running the 8B model as described in Table 1 of the [Zero paper.](https://www.computer.org/csdl/pds/api/csdl/proceedings/download-article/1oeOS4nBiik/pdf) on 8 GPUs.
I notice that the "contiguous_gradients" setting in the config seems to control whether "Reduce" or "Allreduce" is used for gradient reduction in backward pass. That is, I see the following in the NCCL Debug log only when "contig

[2020-12-29 00:03] #461 closed

[2020-12-29 08:53] gongjingcs commented on #88
Hi，I am not very familiar with lamb, can you explain in detail your thoughts on lamb combined with zero ？thanks alot

[2020-12-30 07:13] gongjingcs opened #624 "some questions about zero-1 stage the source code"
Reduce Scatter for Stage 1

![image](https://user-images.githubusercontent.com/15030497/103335714-c8e3bd80-4ab0-11eb-9092-4a309e0d5518.png)

After the gradient communication is completed, the updated grads is saved in single_comm_all_partitions, which is a local variable, but in the step function, the updated grad value is obtained from local_grad_sub_partitions, and its value is obtained from par

[2020-12-30 07:32] gongjingcs commented on #88
Hi, I wonder is zero stage1 compatible with lamb? zero stage1 only partition optimizer states, I think they are compatible?

[2020-12-30 09:49] gongjingcs commented on #88
Hi,  I'd like to use lamb with zero stage1. could you share your ideas of what would be needed to support Lamb with ZeRO.
Do we need to modify the implementation of fused lamb or modify the implementation of zero ？
If I know the detailed idea, I can contribute the code. Looking forward to your reply

[2021-01-03 02:06] stas00 opened #625 "[website] link to schedulers is broken"
https://www.deepspeed.ai/docs/config-json/#scheduler-parameters links to https://deepspeed.readthedocs.io/en/latest/deepspeed.pt.html which doesn't exist.

https://deepspeed.readthedocs.io itself doesn't have neither schedulers nor optimizers documented.

I derived from the source code that ds supports: LRRangeTest, OneCycle, WarmupLR, WarmupDecayLR

Thank you.

[2021-01-03 02:16] stas00 opened #626 "[website] general broken links"
It might be a good idea to run a scheduled link checker like https://linkchecker.github.io/linkchecker/ - I'm not sure it's the best tool but it will do the trick.

Add more urls to `--no-follow-url` to ensure it will check all outbound links from https://www.deepspeed.ai/, like `https://deepspeed.readthedocs.io`, otherwise it skips checking outbound links.

[code]

[2021-01-04 02:53] gongjingcs commented on #490
hi，how do you check  FusedLAMB in ZeRO work?
You have done training with zero + lamb in the actual model. The convergence of the model is normal, right?
Looking forward to your reply

[2021-01-04 03:22] JustinLin610 opened #627 "Errors with ZERO2 in the encoder-decoder model"
Hi, I tried to implement the encoder-decoder model, namely BART [https://github.com/huggingface/transformers/tree/master/src/transformers/models/bart](https://github.com/huggingface/transformers/tree/master/src/transformers/models/bart), following the Megatron-LM tutorial. Everything works fine if I did not use ZERO2 for checkpointing. With ZERO2, the model crashes with the error of "gradient comp

[2021-01-04 06:45] gongjingcs opened #628 "zero-1 combined with fusedlamb works well"
In Bert pre-training, I combined the lamb optimizer with zero-stage1 and found that the loss decline is normal, indicating that the zero-1 and fusedlamb optimizers are compatible, but the zero code says that lamb optimizers are not supported
![image](https://user-images.githubusercontent.com/15030497/103507705-bb587a00-4e9a-11eb-9433-8a2ab59e05c2.png)

In addition, from the lamb formula, zero-1 ca

[2021-01-04 12:44] vinitrinh opened #629 "RuntimeError: Error building extension 'fused_adam'"
Hi, I'm trying to run the basic `cifar_deepspeed.py` example, and have encountered the error below.
`RuntimeError: Error building extension 'fused_adam'`

I've narrowed the error step to simply initializing `FusedAdam`, but the traceback seems incomprehensible.

**To Replicate**
Running Pytorch 1.70, CUDA 10.1, python=3.6.9:
[code]

**Full Error Log**
[code]

[2021-01-04 13:27] vinitrinh commented on #629
Looking deeper into it, it seems like a `ninja` issue. As such, will be following #298.

Have tried to run the ninja build directly and still encountered an error:
[code]

[2021-01-04 14:04] vinitrinh commented on #629
Possibly a [pytorch problem](https://github.com/pytorch/vision/issues/1893)

Original poster claimed solution was to upgrade CUDA version from 10.1.105 to 10.1.243.

[2021-01-04 14:30] #629 closed

[2021-01-04 18:04] tjruwase commented on #610
@stas00 Happy New Year. Apologies for the radio silence, I finally succumbed to the holidays.

I want to resume the integration effort starting with this issue of deepspeed.initialize required `args.deepspeed_config`. This shouldn't be the case, and so I am investigating now.

[2021-01-04 20:33] stas00 commented on #610
Happy New Year to you too, @tjruwase! Yes, it is hard to do co-operative work when those one cooperates with aren't there ;)

[2021-01-04 20:40] g-karthik commented on #614
@jeffra @tjruwase happy new year to you guys! Just bumping this back up your notifications!

[2021-01-04 21:19] g-karthik commented on #598
@ShadenSmith happy new year! Just bumping this back up your notifications!

[2021-01-04 21:28] tjruwase commented on #610
I just submitted a fix and unit test. Thanks for catching this bug.

[2021-01-04 23:33] stas00 opened #633 "WarmupDecayLR.params.total_num_steps - total or per gpu?"
We are having a bit of hard time getting `total_num_steps` to pass to `WarmupDecayLR` at init time - it's a bit too early for the logic as these points are configured once ddp/ds has started - we found a workaround, but it doesn't take into the account the number of gpus.

I wanted to check that `WarmupDecayLR.params.total_num_steps` expects the total for the whole world and not per gpu.

Currentl

[2021-01-05 00:02] tjruwase commented on #633
I find it easier to think of training step in terms of effective batch size. So while this implies world size, it also incorporates gradient accumulation steps. I guess another way is to say training steps == optimizer steps. Does this help? I will update doc shortly.

[2021-01-05 00:06] stas00 opened #634 "fp16 config questions"
So in HF trainer we have 3 fp16 cl args.
[code]
I need help to know how to remap them to DS config

So looking at https://www.deepspeed.ai/docs/config-json/#fp16-training-options:
[code]

So the first 2 are straightforward.

What should I do about the backend? Do you not support the native pytorch amp? And if you do how does one tell DS whether to use apex or native amp?

But how do you get apex?

[2021-01-05 00:13] stas00 commented on #633
I'm not sure it helps. While it can be overriden by users with `--max_steps`, normally it's derived automatically at run time based on the dataset length, and gradient_accumulation_steps, to be exact:

[code]

So the modified question with this context - do we need to divide this by number of gpus or not?

My guess is that since you said "Effective batch size" then yes it should be divided by n_gp

[2021-01-05 00:21] stas00 commented on #610
I checked that it is no longer required - thank you for the quick fix.

[2021-01-05 00:21] #610 closed

[2021-01-05 02:06] pizzamen opened #635 "3d parallel with megatorn-gpt2"
hi, deepspeed.
i'm trying to reproduce 3d-parallel results with megatron-gpt2.
i use `PipeModelDataParallelTopology`. and the topology setting is:
[code]
however, my program hangs. it seems that the pipeline parallel is waiting for recving gradient of attention mask, but it has been poped from this [line](https://github.com/microsoft/DeepSpeed/blob/e6ac7311363da55cf22abfe413679dd34b5ad756/deepspee

[2021-01-05 06:48] stas00 opened #636 "how to restore a client_state from a saved checkpoint?"
According to this [doc](https://deepspeed.readthedocs.io/en/latest/model-checkpointing.html)

I can save a custom client_state:
[code]
but I don't see how to get it back:
[code]
What am I missing?

Unless it just calls `torch.save` behind the walls and then I just have to `torch.load` it manually. I guess the loader can't do anything with the client state since where would it put it.

I trust I wi

[2021-01-05 18:32] tjruwase commented on #633
Besides the chicken and egg problem, I am a bit confused about that code snippet for computing training steps. It seems to be independent of effective batch size, or am I missing something?

Also is len(train_dataloader) per gpu or for the world size?

[2021-01-05 19:07] stas00 commented on #98
The link to The Megatron tutorial is 404, here is a steady link:
https://github.com/microsoft/DeepSpeed/blob/46d2e2872b64ebccb8bf4eb5c8a3a55f9adaaa6c/docs/_tutorials/megatron.md

[2021-01-05 19:10] tjruwase commented on #636
load_checkpoint returns a [tuple ](https://github.com/microsoft/DeepSpeed/blob/46d2e2872b64ebccb8bf4eb5c8a3a55f9adaaa6c/deepspeed/runtime/engine.py#L1239-L1241) which includes the client state.

[2021-01-05 19:15] stas00 commented on #636
aha! that's why I failed to parse this sentence:

I couldn't make sense of "failed client_state".

It needs a dot and ideally a new line there, so it's easier to see that it returns 2 things. of course, best made into a bullet list like the incoming args.

Thank you, @tjruwase!

[2021-01-05 19:16] tjruwase commented on #636
Actually, if you re-read that [doc link](https://deepspeed.readthedocs.io/en/latest/model-checkpointing.html) very carefully, **past the formatting mistakes :)**, you will see the following

[code]

[2021-01-05 20:17] alexorona opened #639 "Model Parallel Example"
Is there an example on model parallelism we can follow, especially setting up the mpu? This is mostly for single machine, multi-gpu training, though we'd want to generalize it multi-machine training at some point in the future.

[2021-01-05 21:43] stas00 commented on #633
When I launch the program with:
[code]
It does know the world size early on according to the logs:
[code]
but it won't `torch.distributed.init_process_group()` until after `deepspeed.initialize` is initialized and it's too late for our needs.

I guess I could have hacked around this if I could get the world size by simply measuring the len of the whole dataset and dividing it by the world size, wh

[2021-01-05 21:46] stas00 commented on #633
Perhaps the correct solution is that there should be 2 init functions:

1. `deepspeed.init_dist` which the user should call as soon as possible - first thing in the script as soon as args have been parsed
2. `deepspeed.initialize` - the rest of it.

[2021-01-05 21:55] #636 closed

[2021-01-06 03:33] gongjingcs commented on #506
Hello, I have the same doubts. I used zero to pretrain a model, but did not use zero in finetune, so how do I load this model?

[2021-01-06 17:52] tjruwase commented on #634
I have tried to distill specific questions, please let me know what I skipped

1. DS implements fp16 natively that roughly maps to amp opt_level = "02".
2. DS does not support different opt_levels.
3. DS supports [amp](https://www.deepspeed.ai/docs/config-json/#automatic-mixed-precision-amp-training-options).
4.  DS does not use apex.
5. Yes, those are the default fp16 options that are used when n

[2021-01-06 18:04] ShadenSmith commented on #598
Hey @g-karthik , happy new year and thanks for the ping! I hope you had a nice holiday. I spent some time away to focus on [python scalability](https://twitter.com/shaden_smith/status/1344717219259768833) :-).

Thanks for the deep dive on debugging this issue. I think you're right. DeepSpeed's activation checkpointing should work as a drop-in replacement in the simple case without partitioning, et

[2021-01-06 18:22] stas00 commented on #634
That's very helpful. Thank you!

I see I mixed amp and fp16 configs - my bad! Thank you for clarifying that, @tjruwase!

What would you recommend we do if a user passes opt_level=1 then? assert?

[2021-01-06 18:53] tjruwase commented on #634
Actually, I used be more precise. You are right. DS delegates to apex for amp functionality, and user needs to install apex.

[2021-01-06 21:16] g-karthik commented on #598
@ShadenSmith The `args` fix should be straightforward, unless I'm missing something? i.e., just need to ignore those args that are `None`?

I've been using `torch.utils.checkpoint.checkpoint` as a workaround so far and I'm unable to fit the GPT-2 10B configuration (with 1024 sequence length) in my Tesla V100 GPU (32 GB memory). The best I've fitted with this workaround is the GPT-2 8B configuratio

[2021-01-07 01:20] sxjscience commented on #607
I'm also having this issue. The root cause should be that compute_86 is not supported in CUDA 11.0 and will only be available in CUDA>=11.1. Thus, we should be able to solve it by revising the logic to include the special treatment of CUDA 11.0 https://github.com/microsoft/DeepSpeed/blob/44bd538b110ce0e8fc69626854631c3aee0dc094/op_builder/builder.py#L37-L39

[2021-01-07 03:02] stas00 commented on #634
Oh, worry not, your support has been fantastic, @tjruwase. Thank you for the clarification!

[2021-01-07 03:02] #634 closed

[2021-01-07 05:27] stas00 commented on #634
found a little mismatch here, https://www.deepspeed.ai/docs/config-json/#fp16-training-options

The defaults are shown as:

[code]
but then later where each param is documented it goes:

[code]

So your example config doesn't match the default value for `min_loss_scale` (1 vs 1000).

Perhaps, it doesn't have to match. But I noticed that all the other entries in the example are the same as defaults

[2021-01-07 08:04] RezaYazdaniAminabadi commented on #639
Hi @alexorona

I think you can take a look at our example from MegatronLM, [here](https://github.com/microsoft/DeepSpeedExamples/blob/78d69cb2f89a27b1e9b072df8c3e47d00c024fdc/Megatron-LM/pretrain_gpt2.py).

[2021-01-07 17:03] stas00 commented on #633
Would it be possible to look at this issue, please?

[2021-01-07 17:19] exelents opened #643 "when using fp16 - loss is going to be NaN and a lot of errors "OVERFLOW""
I'm trying to use ZeRO optimizer with cpu offload mode, but it can work only with fp16 mode. When I turn on fp16 mode in configuration file and run command, I receive loss value equals to NaN in almost all steps. Also I get an error every step, like this:

`[2021-01-07 20:10:55,863] [INFO] [stage2.py:1361:step] [deepscale] OVERFLOW! Rank 0 Skipping step. Attempted loss scale: 64.0, reducing to 32.

[2021-01-07 17:58] jeffra commented on #633
If you're needing the world size _before_ the deepspeed.initialize call then yes I think that's perfect motivation for calling `deepspeed.init_distributed()` sometime earlier. This will also help in other scenarios where torch.distributed needs to be used before deepspeed.initialize is invoked (e.g., model parallelism).

[2021-01-07 18:02] stas00 commented on #633
oh, you have recently added just that - fantastic - I will give it a try and report back. Thank you, @jeffra

[2021-01-07 23:15] stas00 commented on #633
It worked beautifully and greatly simplified our code - thank you, @jeffra

It'd be awesome to document it at https://www.deepspeed.ai/getting-started/#writing-deepspeed-models perhaps?

I've proposed this doc to reflect this important function https://github.com/microsoft/DeepSpeed/pull/644

[2021-01-07 23:15] #633 closed

[2021-01-08 05:19] stas00 opened #647 "load_checkpoint nuances"
I have a question about model checkpointing: https://deepspeed.readthedocs.io/en/latest/model-checkpointing.html

I'm trying to figure out how to best integrate deepspeed into that area.

If we already have code that does checkpointing of the model/optim/scheduler - so in a simplified way we have the basic:

[code]
where `self.model.state_dict` is the "client" model. And then the same for loading.

[2021-01-08 19:27] stas00 opened #648 "requesting a new release and a doc review"
We are almost ready to merge the DeepSpeed integration into the HF trainer: https://github.com/huggingface/transformers/pull/9211

1. since the currently released package doesn't include the recent fixed required for the integration to work we ask if it'd be possible to make a new pypi release. This is the most important part of this request, since we instruct users to `pip install deepspeed`.

2.

[2021-01-08 20:30] jeffra commented on #648
Regarding a new release, I was planning to push a new release today actually. Will update this thread when it's live.

[2021-01-08 21:07] jeffra commented on #648
v0.3.10 should be live now on pypi: https://pypi.org/project/deepspeed/

[2021-01-08 21:12] exelents commented on #643
Guys? I've tried examples from DeepSpeedExamples repo, used a BingBert training code, and replaced Bert on T5 there. Here a result code:
https://github.com/exelents/try_t5
How to run:
`./run-qa-2.sh 1 0 . ./output`
But even there I have the same troubles. Loss is going to be NaN and some(not all) tensors in output features are also filled with NaN.

Maybe it can be a problem with Huggingface libra

[2021-01-08 22:37] stas00 commented on #648
Confirming that it works great! thank you very much for the speedy release, @jeffra!

[2021-01-08 22:57] stas00 commented on #648
Got some great feedback from @tjruwase - so I'll close this, but if others get a chance to read are integration doc please do! thank you!

[2021-01-08 22:57] #648 closed

[2021-01-09 02:29] duzx16 opened #650 "Training a 10B parameter GPT-2 model with Zero2 is much slower than expected"
I am trying to reproduce the training of 10B model with 32 V100 GPUs following https://www.deepspeed.ai/tutorials/zero/. However, I find that it is much slower than expected. With `train_micro_batch_size_per_gpu=1`, it takes more than 40 seconds to go through a batch. The timer output is
[code]
Obviously the Zero optimizer dominates the time cost. The issue does not exist for smaller models. For e

[2021-01-09 18:54] exelents commented on #643
I have solved my troubles compiling DeepSpeed with Cuda 11.1 and Nvidia computing platform 8.6 compatibility.

[2021-01-09 18:54] #643 closed

[2021-01-09 22:47] stas00 commented on #625
Would it be possible to fix that or at least tell me where that page is?

I need to link to that hypothetical non-existing schedulers page from our integration docs.

Thank you!

@jeffra, @tjruwase?

[2021-01-10 18:41] stas00 opened #653 "[config] no param naming validation"
I have noticed that one could make a typo in the config file and DeepSpeed silently ignores it. e.g. I did:
[code]
and got no errors.

Not sure if it should validate the value as well, as float is expected, but I guess int is fine as it's just converted to float.

This lack of validation could lead to user errors which could be hard to notice.

Nothing urgent, but at some point it'd be good to tel

[2021-01-10 18:50] exelents opened #654 "System requirements for 13b parameters model."

[2021-01-10 18:50] #654 closed

[2021-01-10 18:57] exelents opened #655 "System requirements for t5-11b model"
In descriptions of DeepSpeed I see that it allows training up to 13 bilions parameters model on a single GPU. What is the memory requirements were for this? I see information about a single V100 - was it v100 with 16 GB memory or 32 GB?
And a final question: is there a way to run google's t5-11b model on a GPU with 24 GB of memory (rtx3090) ? fp16 mode and cpu_offload turned on. Here is my config:

[2021-01-10 20:16] stas00 opened #657 "[config] log final config after applying defaults"
Currently, on start up DS logs the configuration as sent by the user, which I am not sure is very useful, as the user already knows what the config was sent in.

However, what is really needed to be logged is the config that DS is going to use, that is after filling in all the defaults that were not overridden in the user config. Would it be a difficult task to do?

This would accomplish 2 useful

[2021-01-11 02:48] llltttppp opened #658 "How to use multi infiniband card for multi-弄得了GPU communication"
deepspeed is an excellenct framework for distributed training.
Now, I want to know how to use deepspeed to support multi ib-card  in one node when training

[2021-01-11 18:16] tjruwase commented on #655
@exelents Thanks for using DeepSpeed.

13B parameter requires 32GB V100. Have you seen this [tutorial](https://www.deepspeed.ai/tutorials/zero-offload/)?

The config looks fine for running in fp16 and cpu_offload. Can you please try it and share your experience?

[2021-01-11 18:25] ShadenSmith commented on #598
Hi @g-karthik I submitted a [PR](https://github.com/microsoft/DeepSpeed/pull/660) with a fix and corresponding unit test. Are you able to give that a try? It would be great to ensure that my new unit test covers your case.

[2021-01-11 18:49] szhengac commented on #589
Hi @RezaYazdaniAminabadi, happy new year! I would like to know if we have any update on this issue? Thanks.

[2021-01-11 19:18] exelents commented on #655
That's a pity. I tried to finetune T5 with 11B paramenters on 24GB RTX3090. Seems, it's not enough, because I got an Cuda OOM error.

[2021-01-11 22:09] tjruwase commented on #655
Yes, unfortunately, for a 11B model, just the model parameters will consume 22GB and there will nothing left for activations or gradients on 24GB GPU.

[2021-01-12 04:54] stas00 commented on #648
btw, just noticed that you front page https://github.com/microsoft/DeepSpeed isn't getting updated with new releases:
![snapshot](https://user-images.githubusercontent.com/10676103/104271198-2122a400-544f-11eb-8649-db649b7bc77d.png)
it shows 0.3.1 as the latest and Latest links to it, rather than 0.3.10

[2021-01-12 18:19] ShadenSmith commented on #598
I went ahead and merged the PR; please re-open if the issue is still present for you!

[2021-01-12 18:24] jeffra commented on #648
Thanks for the ping on this, I believe this is because releases 0.3.2 -> 0.3.10 didn't have any release notes just tags and for some reason github doesn't show them there unless they have release notes. I've added release notes now for 0.3.10 and it seems to be showing okay.

[2021-01-12 20:19] g-karthik commented on #598
@ShadenSmith thanks for the fix! Will test this out later this week and revert back to you!

[2021-01-12 21:57] stas00 commented on #657
Actually, I think it already logs the actual config - except it is confusing since it logs them before it dumps json config and the format is different.

[2021-01-12 21:57] #657 closed

[2021-01-12 22:41] stas00 opened #662 "CUDA_VISIBLE_DEVICES isn't being respected / hostfile doesn't quite work for one node"
I'm trying to experiment with DS/1gpu and it's not respecting CUDA_VISIBLE_DEVICES

I run the script as:
[code]
but it runs on GPU 0 ignoring `CUDA_VISIBLE_DEVICES=1`

Then I tried to use deepspeed launcher flags as explained here: https://www.deepspeed.ai/getting-started/#resource-configuration-multi-node and encountered multiple issues there:

1. I think the `--hostfile` cl arg in the example ar

[2021-01-12 23:44] baijumeswani opened #663 "Issue with deepspeed installation through pip requirements"
I am trying to install deepspeed using pip through a requirements.txt file.

Contents of the requirements.txt file:
[code]

When I try to run ```pip install -r requirements.txt```, I get the error:
[code]

It would appear that ```deepspeed``` setup.py depends on ```torch``` which prevents me from installing ```torch``` and ```deepspeed``` through a single ```requirements.txt``` file.

Because of t

[2021-01-13 07:54] tjruwase commented on #653
@stas00 Apologies for the radio silence and for stalling your progress.

Your point is well made regarding silent errors from typos in the config file. In the past, users have actually exploited this lack of validation as a way to convenient disable features without deleting the entries. So perhaps a reasonable solution would be to introduce yet another config option to validate the config entries

[2021-01-13 08:11] tjruwase commented on #647
Let me try to understand the first question. If the optimizer and lr_scheduler are returned by `deepspeed.initialize(...)`, then `save_checkpoint()` and `load_checkpoint()` should work to restore both components. In particular, your snippet below just should work to instantiate the underlying optimizer and lr_scheduler variables appropriately without any need for extra copying.

[code]
Does this a

[2021-01-13 08:36] tjruwase commented on #650
@duzx16, can you please enable [wall clock breakdown](https://www.deepspeed.ai/docs/config-json/#logging) and report the output?

[2021-01-13 12:44] #655 closed

[2021-01-13 17:53] stas00 commented on #647
Yes, thank you!

The problem is that such APIs are ambiguous. If `deepspeed.initialize` returns 3 variables:
[code]
how can a user guess that calling:
[code]
will affect the `scheduler`, and `optimizer` variables. Does my quandary make more sense now?

If the API were to be for example:
[code]
then a user knows that those are part of the engine and not separate entities. and so updating that engin

[2021-01-13 18:03] stas00 commented on #653
Oh, no problem, I'm sure you guys need some breaks too!

Your suggestion to make the validation optional would work great, @tjruwase. This is a very low priority feature request.

Since you mentioned that the lack of validation is exploited to make users' life easier,  I'm also thinking that json isn't a user-friendly format for configuration, because it has a ton of problems, e.g.:
- don't put co

[2021-01-13 18:20] tjruwase commented on #647
This is so spot on. I completely agree. I feel the API would be similar to that if we could do them all over again. In fact, I would tweak your proposal ever so lightly

[code]

Do you think this could help with the confusion? We will discuss if we can move towards this.

[2021-01-13 18:21] tjruwase commented on #653
Completely agree with the pain of json, so we are very open to any suggestions.

[2021-01-13 18:22] stas00 commented on #647
Yes, your proposed version is perfect, @tjruwase.

[2021-01-13 18:22] jeffra commented on #653
Thanks @stas00, JSON validation I think is on our radar and definitely something we should add in the short term. Also agree JSON isn't the most user-friendly of formats. We'll have to look into alternatives. I have heard good things about [hjson](https://hjson.github.io/). It allows commas/comments but I don't think supports numbers in the way you describe unfortunately. YAML might also be a reas

[2021-01-13 18:28] stas00 commented on #647
My only gripe in general with most pytorch implementations is that `model`/`module` duplicity. While I understand that `module` implies a subclass of `nn.Module`, and `model` doesn't have to be as long as it implements `__call__`, but I still find this somewhat vexing at times. Especially since some wrappers use `.model` and others `.module` to access that they wrapped - I guess it'd have been dif

[2021-01-13 18:33] tjruwase commented on #647
@stas00 I totally get you. My background is PL, where elegance, clarity, and cleanliness were required in programming constructs :).

[2021-01-13 18:39] stas00 commented on #653
I was going to suggest YAML, but I thought that something better must have been invented since then. YAML is from around 2001 if I remember correct.

I have never used https://hjson.github.io/, but it does look like the most straightforward solution as it was created to overcome limitations of json for human use. May be that's all is needed.

I don't know how your user/developer community works, p

[2021-01-14 02:01] duzx16 commented on #650
@tjruwase Thank you. I switched to a GPU cluster with NVLink and the time of a batch drops to 18 seconds. The output with wall clock breakdown is
[code]
The `allgather` operation dominates the time cost. Then I upgraded NCCL to 2.8.3 and the time of a batch drops to 9 seconds.
[code]
I think the issue has been resolved, although I don't know why the NVLink and the NCCL version matters so much.

[2021-01-14 05:51] stas00 opened #665 "How to benefit the most from ZeRO Offload on 1 GPU?"
Yesterday I got excited reading about DeepSpeed having gifts for us even on a single GPU. This is awesome since many users have just one GPU and if we could help them squeeze more onto their limited hardware.

So I read https://www.deepspeed.ai/tutorials/zero-offload/ and after some trial and error (and some Issues filed) figured out what I needed to do.

I then managed to finetune the `t5-3b` `tr

[2021-01-14 06:11] stas00 opened #666 "figuring out how to enable DeepSpeedCPUAdam"
(oops, it looks like I forgot to hit Enter when I wrote this issue yesterday, so submitting it now)

I'm trying to experiment with DeepSpeedCPUAdam on single gpu

The [tutorial](https://www.deepspeed.ai/tutorials/zero-offload/#megatron-lm-gpt-2-launch-script-changes) is very confusing since it suggests to activate `–cpu_optimizer` but it's relevant to MegatronLM and not to the general user.

It to

[2021-01-14 14:45] StellaAthena commented on #568
Have you tried dropping   "reduce_bucket_size": 5000000,
    "allgather_bucket_size": 5000000 from your configs? I had to do that to get it working

[2021-01-14 17:41] awan-10 commented on #614
@g-karthik, happy new year!

Do you want to try 1-bit Adam on a cluster with Ethernet or InfiniBand? If it is IB, then you need MVAPICH2 and I can share the specific lines you need to add to your Dockerfile. If it is Ethernet, there is nothing special that is needed and it shall just work with OpenMPI already included in the Dockerfile. Let me know and I will be happy to help you out.

[2021-01-14 17:42] awan-10 commented on #575
@peteriz, just checking if you got a chance to try this out?

[2021-01-14 20:13] RezaYazdaniAminabadi commented on #666
Hi @stas00

Sorry for the troubles you got into for enabling this feature! I agree with you that we should have documented it better. 👍
I can work on adding a section for the ZeRO-offload to explain this better, with explaining all the configurations and parameters.

Thank you.
Reza

[2021-01-14 20:17] RezaYazdaniAminabadi commented on #589
Hi @szhengac

Happy new year!
Sorry for the delay. I had involved in something else, but I will get back to this soon.
By the way, for some of these issues we can better discuss it if we can meet offline. Would it be okay if I schedule a team meeting for next week?
Thanks,
Reza

[2021-01-14 20:21] szhengac commented on #589
@RezaYazdaniAminabadi Sounds good to me.

[2021-01-14 20:53] stas00 commented on #666
That would be fantastic, Reza! Thank you!

And if the following input is useful: from the user-point of view - decoupling this section/tutorial from Megatron-LM would be very helpful, as the latter is not needed at all unless someone is using Megatron-LM.

[2021-01-14 21:08] stas00 opened #668 "Adam vs AdamW - request to simplify the configuration"
As a follow up to: https://github.com/microsoft/DeepSpeed/issues/666

It's clear that `AdamW` is supported since this is actually the default, unless I set:
[code]
though the user has no idea it's the case.

Why then do I have to set:
[code]
If I want to use:
[code]

Why not make it simple for the user and just let them specify the exact optimizer they want? Moreover, it's not just switching:
[cod

[2021-01-14 21:32] g-karthik commented on #614
Hi @awan-10 happy new year! Yes, my cluster is an InfiniBand cluster.

[2021-01-14 22:20] samyam commented on #665
@stas00 All the work you have done in integrating DeepSpeed to HuggingFace is super cool. :) Thank you!

To squeeze more out of ZeRO Offload, I can think of two things:

1) Use the DeepSpeedCPUAdam Optimizer. Based on some of the other issues you have opened, seems like you might already be using it, or well on your way to trying it out. Using this optimizer should make a noticeable difference in

[2021-01-14 23:29] jeffra commented on #662
Thanks for reporting this @stas00. There are a few different things going on here, let me try and address all of them here (if I miss one please let me know haha).

If you do not provide the deepspeed launcher with a hostfile (via `-H/--hostfile`) it will only launch processes within that local node. We will try to discover all the available GPUs on the box via `torch.cuda.device_count()`, see [he

[2021-01-15 00:20] tjruwase commented on #668
@stas00 Thanks for reporting this issue. To respond to your main question, it is because of an oversight on our part that
`"zero_allow_untested_optimizer": true`, is currently required for  `"optimizer": {  "type": "AdamW",`.

A fix is in the works that makes "AdamW" as an optimizer type.

[2021-01-15 02:09] stas00 commented on #662
As I don't have access to any clusters as of yet, I'm happy to just focus on the direct necessity of being able to specify which gpu to run on.

Yes, that worked! Awesome!

Could we please document that or I could make a PR to add it to the launcher doc if it will save your time.

-----------

BTW, I tried first:
[code]
as I had it already in the script and it crashed with:
[code]

So ideally the

[2021-01-15 03:55] stas00 commented on #665
Thank you very much, @samyam, for these suggestions.

Yes, I have already figured out `DeepSpeedCPUAdam` and it is fantastic!

So DeepSpeed Activation Checkpointing would probably good to look at next.

I started compiling the list of other features to integrate/explore: https://github.com/huggingface/transformers/issues/9606

[2021-01-15 05:09] ghosthamlet commented on #568
Thank you very mach, I will try it.

[2021-01-15 05:32] StellaAthena commented on #568
No problem! You can find my code [here](https://github.com/EleutherAI/gpt-neox).

[2021-01-15 07:37] #658 closed

[2021-01-15 12:48] ghosthamlet commented on #568
Thanks, your gpt-neox is a wonderful project.

[2021-01-15 13:25] #668 closed

[2021-01-15 16:58] jncasey opened #671 "Are ZeRO CPU offload and gradient accumulation compatible?"
I'm trying out @stas00 's HuggingFace DeepSpeed integration and it's super cool!

But I'm running into an error when I try to enable both cpu offload and gradient accumulation at the same time, and I'm not sure if my problem is on the HuggingFace side, or the DeepSpeed side, or (most likely) between my chair and keyboard. Since this post is in the DeepSpeed project, I'll leave out the HuggingFace

[2021-01-15 17:23] stas00 commented on #671
I haven't tried that combination yet, and if I do I get the same error as you.

[2021-01-15 17:28] stas00 commented on #671
Oh, OK, I didn't follow the instructions, so the problem is in my code:

Try this patch:
[code]

[2021-01-15 17:33] jncasey commented on #671
Thanks! I'll test this later this afternoon

[2021-01-15 17:45] stas00 commented on #671
https://github.com/huggingface/transformers/pull/9622 should fix it.

[2021-01-15 18:04] jncasey commented on #671
Awesome!

[2021-01-15 18:04] #671 closed

[2021-01-15 23:26] awan-10 commented on #614
@g-karthik -- please add the following lines to your Dockerfile and try it out. This is assuming CUDA 10.1. If you need another version of CUDA 10.1, please look at MVAPICH website for the right link.

[code]

[2021-01-16 00:24] stas00 opened #673 "A request for clarity around 3D Parallelism in DeepSpeed"
Let's start with saying that based on my reading of various papers Model Parallelism (MP) is a very inconsistent term. One can slice vertically or horizontally. One can implement a naive slow version or speed it up with pipelining, and almost none of them is really parallel. I tried to summarize and demo a few of the basic options here:
https://github.com/huggingface/transformers/issues/8771#issue

[2021-01-16 00:34] stas00 opened #674 "How to use one's existing vertical MP with DeepSpeed"
The docs mention in several places that DeepSpeed will support a model with its own MP - which my guess it's referring to a vertical model slicing as taught at [the pytorch tutorial](https://pytorch.org/tutorials/intermediate/model_parallel_tutorial.html).

OK, we have implemented vertical slicing MP for t5, gpt2 and bart in transformers, using [a naive slow approach](https://github.com/huggingfac

[2021-01-16 01:49] stas00 opened #675 "[zero tutorial] unreadable image"
This tutorial https://www.deepspeed.ai/tutorials/zero/ has this image which gets scaled to fit the narrow width and as a result it gets rendered unreadable, here is a snapshot:
![snapshot_1](https://user-images.githubusercontent.com/10676103/104793947-9ba63900-5759-11eb-9f67-96921665e071.png)

The image is fine if I find a way to view its full size, which is
https://www.deepspeed.ai/assets/images/

[2021-01-16 02:08] stas00 commented on #673
I guess the discussion continued at https://github.com/huggingface/blog/pull/71#pullrequestreview-569704590, but it's best to avoid discussing important things that others may benefit from in code suggestions, because as soon as it's resolved github hides those comments.

So I will at least re-paste them here for posterity:

@jeffra wrote:

And then @samyam expanded:

[2021-01-16 02:10] stas00 commented on #673
Thank you for these clarifications, @jeffra and @samyam!

1. Yes, we have Zero stage 1+2 and some of its other parts integrated (e.g. cpu offload). So we have ZeRO - check!

2. So you're saying that PP isn't being used by default? So `train_micro_batch_size_per_gpu` is only relevant if we explicitly implement use PP, right? which I don't think can be used with ZeRO, or am I wrong?

3. Tensor slici

[2021-01-16 02:10] stas00 commented on #673
I think DeepSpeed would benefit a lot from having a sort of a visual map showing how the different components fit together.
* Which can inter-operate, which cannot.
* Which are part of ZeRO, which are stand-apart.
* Which parts stack to increase speed, which to reduce memory footprint

The blog posts have a lot of diagrams, but they only convey partial picture.

[2021-01-18 07:38] peteriz commented on #575
Hi @awan-10, I'm sorry but I haven't checked what you suggested yet since we abandoned the multi-node setup we had.
Last time I benchmarked the machines in our cluster I got ~7GB/sec (ethernet) link between the machine.
Do you think we could achieve a faster rate with this kind of link speed and 1-Bit Adam? I'm trying to figure out if to pursue the multi-node direction again
Thanks

[2021-01-19 02:55] jeffbinder opened #679 "Segfault when training large GPT2 models on single GPU"
I'm trying to use DeepSpeed to finetune GPT2 models on a single RTX 3090 GPU. Using the scripts included with huggingface-transformers, I have been able to get it working up through the 774M model, and the ZeRO optimizations enable me to double the batch size. However, the CPU Adam optimizer is segfaulting when I try to train the 1558M model. I am using Ubuntu 20.04, CUDA 11.2, Nvidia drivers 460.

[2021-01-19 21:36] g-karthik commented on #505
@ShadenSmith is there an ETA by which y'all are planning to release Stage 3? I'd love to beta-test it if y'all have it on some other branch!

[2021-01-19 21:55] awan-10 commented on #575
Hi @peteriz, yes 7 GB/sec is actually good. 1-bit Adam will help you so please give it a shot on a multi-node setup. We had used an older version of InfiniBand (QDR) for some experiments and we got good speedups on that so your Ethernet setup is definitely interesting to try out. Do let us know how it goes.

[2021-01-19 23:18] samyam commented on #674
@stas00 We do support both horizontal MP and vertical MP (Pipeline) with DeepSpeed in addition to ZeRO. In fact you can use all three together, but as you noticed we do not have an example released yet, but its in our to do list.

But for the problem you are facing, we do have a Pipeline Parallelism example that might be helpful to get the tp5, gp2 , and bart that you mentioned going :

https://gi

[2021-01-20 01:09] stas00 commented on #674
Phenomenal - thank you so much for explicitly covering all the grounds, @samyam. This is very helpful to understand how things stack together.

Here is current `transformers` reality:

We have the naive implementation of vertical MP as can be seen from the top diagram:
![mp-pp](https://user-images.githubusercontent.com/10676103/105112240-7a09c200-5a77-11eb-81a6-469d6f49f26a.png)
So we have everyth

[2021-01-20 01:17] stas00 commented on #674
I have a follow up question:

So basically what you're saying that such setup will require at least 4 GPUs, since you can't use the same 2 gpus for MP and DP, correct? I think I remember seeing a diagram somewhere.

[2021-01-20 09:50] peteriz commented on #575
Thanks for the reply. I'll take a look at it again and report back with info or issues we might encounter.

[2021-01-20 18:23] ShadenSmith commented on #673
Hi @stas00 , thanks for the great suggestions :-). A detailed map of DeepSpeed would be great.

Pipeline parallelism is not used unless you provide a `PipelineModule` to `deepspeed.initialize()`. The `train_micro_batch_size_per_gpu` configuration tells DeepSpeed how many samples are in each micro-batch provided to `forward()`. The total global batch size is therefore `train_micro_batch_size_per_gp

[2021-01-20 22:05] szhengac opened #684 "AttributeError: 'NoneType' object has no attribute 'type' with overlap_comm=True and zero 2"
When I train the model with zero 2 and `overlap_comm=True` on one single P4d instance, I received the following error:

[code]

The model config is:
[code]

If I turn off overlap_comm, it works.

[2021-01-20 22:28] stas00 commented on #673
I understood this part, thank you. I got mislead by the 3D parallelism in the blog and assumed that DS does this out of the box. I think I now have a pretty good understanding of the different parts.

Yes, of course, this is the DP micro-batch. Which is different from PP micro-batch.

Let me try to summarize my understanding so far:

1. DP splits the batch into micro-batches and across mulitple gp

[2021-01-21 05:30] szhengac commented on #684
After some debug, I found that it is due to that deepspeed does not handle tied parameters properly. In my example, I use tied weight for embedding and output layer. There are two issues:

1. grad hook is called twice for the tied parameters. In the second hook called for the tied parameters, a None grad can be added: https://github.com/microsoft/DeepSpeed/blob/e59ba12d4df2e61e85abbd2c82a6097ac372

[2021-01-21 17:44] jeffbinder commented on #679
I did a bit more digging around, and I think I have an idea of what's going on. The loop in Adam_Optimizer::Step is violating the bounds of _doubled_buffer because, when training the 1558M model, _param_size (1557611200) exceeds TILE (1073741824).

If I edit the code to change the value of TILE to 1557611200, then I am able to train the 1558M model using the CPU Adam optimizer, although it is much

[2021-01-21 23:57] sdtblck commented on #674
I have a similar problem - when i'm passing in mpu with a custom GPT2 Pipeline parallel model (building on megatron examples to get full 3d parallelism) to deepspeed.initialize, it gives me the following error:

`  File "/root/anaconda3/lib/python3.8/site-packages/deepspeed/__init__.py", line 121, in initialize       │
    assert mpu is None, "mpu must be None with pipeline parallelism" `

Looking