[2020-02-04 09:21] ShadenSmith opened #4 "Distributed unit tests."
DeepSpeed needs an easy way to write distributed, multi-GPU unit tests.

[2020-02-04 17:56] #4 closed, assigned to ShadenSmith

[2020-02-04 18:48] jeffra opened #8 "add allreduce test"

[2020-02-04 19:26] #8 closed, assigned to ShadenSmith, jeffra

[2020-02-04 22:11] jeffra opened #11 "Install script assumes shared filesystem for multi-node installs"
1) Install script assumes shared filesystem for multi-node installs
2) Install script should allow hostfile path to be passed in

[2020-02-04 22:28] #11 closed, assigned to jeffra

[2020-02-05 19:06] samyam opened #14 "Load model checkpoint without loading the optimizer states."
Extend the load_checkpoint API to allow loading the checkpoint without loading the optimizer states. This is useful during evaluation and fine tuning. Need to make sure the FP32 bit model parameters are loaded along side the FP16 to avoid immediate model divergence when model is loaded without the optimizer states.

[2020-02-05 19:15] tjruwase opened #16 "Make optimizer field optional in JSON config"
Missing optimizer field causes a crash, even though optimizer field is supposed to be optional.

[2020-02-05 19:49] samyam opened #17 "batch config issue?"
There are a few things in configure train batch size that does not seem correct to me, and there are few things that we do not currently support.

1) The following assertion

train_batch_size == train_micro_batch_size_per_gpu * gradient_accumulation_step * world_size

should always hold but currently it does not in some cases.
For example, when train_micro_batch_size_per_gpu and gradient accumulat

[2020-02-05 21:11] ShadenSmith opened #18 "Installation documentation needed"

[2020-02-05 21:12] ShadenSmith opened #19 "Megatron tutorial"
We need to port the Megatron tutorial into `docs/` and then update links to it in `README.md`, etc.

[2020-02-05 21:14] ShadenSmith opened #20 "Azure tutorial + documentation"

[2020-02-05 21:14] ShadenSmith opened #21 "Port core API documentation"

[2020-02-05 21:16] ShadenSmith opened #22 "Port DeepSpeed overview documentation"

[2020-02-05 21:20] ShadenSmith opened #23 "Write CIFAR10 tutorial"

[2020-02-05 22:10] ShadenSmith opened #25 "Table of contents in README.md"

[2020-02-06 08:04] #16 closed, assigned to tjruwase

[2020-02-06 08:51] ShadenSmith opened #31 "Config and core arguments API docstrings"
The documentation for `add_core_arguments()` and `add_config_arguments()` could be expanded... Can we document what arguments are added in the docstrings? (these things could be unit tested too)

[2020-02-06 21:14] #31 closed, assigned to tjruwase

[2020-02-06 23:47] #23 closed, assigned to eltonzheng

[2020-02-07 01:58] #19 closed, assigned to ShadenSmith

[2020-02-07 02:02] #25 closed, assigned to ShadenSmith

[2020-02-07 02:03] #22 closed, assigned to ShadenSmith

[2020-02-07 21:11] #17 closed, assigned to jeffra, samyam, tjruwase

[2020-02-08 00:37] #21 closed

[2020-02-08 01:21] #20 closed

[2020-02-08 07:03] jeffra commented on #18
I've updated the readme install text in #43.

[2020-02-09 04:09] jeffra opened #46 "Install details"
Add more details the the install section of readme to talk about local vs multi node. Also update resource configuration section to discuss single node support.

[2020-02-09 05:59] jeffra commented on #46
Update azure doc with the following issues:

(regarding cifar accuracy statement) Can we rephrase this comment? It requires a subtle understanding of data parallelism and I'm worried it will be misinterpreted as a critique of DeepSpeed.

(before azure cli details) Maybe a first bullet of making an Azure account if you are new?

I think it would be good to add a sentence or two telling users about

[2020-02-09 06:00] #18 closed

[2020-02-09 19:11] #46 closed

[2020-02-10 21:24] Immortalin opened #59 "Turing NLG"
Are there any plans to release the Turing NLG pre-trained model?

[2020-02-10 22:43] selfReference commented on #59
Hi, we are currently only releasing a controlled demonstration of the model as we continue to test it. This decision is in line with Microsoft’s AI ethical principles and our goal is to not just build technology but to also ensure it is distributed and used in a responsible way.  See More: https://www.microsoft.com/en-us/AI/our-approach-to-ai

[2020-02-11 09:20] agemagician opened #61 "DDLRUN + DeepSpeed on SUMMIT"
Hi,

I am trying to use deepspeed on SUMMIT using ddlrun, but it doesn't work properly.
I am testing it with cifar like:
`ddlrun deepspeed cifar10_deepspeed.py --deepspeed --deepspeed_config ds_config.json`

Could you please give us an example for using deepspeed with horovod , mpi and ddlrun ?

[2020-02-11 13:22] agemagician opened #62 "train_batch_size + dataset + actual batch size"
Hello,

I have 4 questions for clarification:
1. Why we should pass the training_data to the deepspeed.initialize to generate a new trainloader rather than using a normal torch trainloader ?
2. Can we use a custom pytorch trainloader in case we have custom dataset that returns for example inputs, outputs and mask ?
3. If the actual batch size that is used to be passed to the model is different tha

[2020-02-11 13:55] agemagician opened #63 "pytorch gradient checkpointing is much better than deepspeed !"
Hello,

I have a script that trains 12 layers transformer model (about 85 million) using gradient checkpoint. It was working with a local batch size of 32 per Nvidia Titan GPU.
I tried to use deepspeed instead and I am always getting OOM, even with a batch size 8.

minimal code:
Initialization:
[code]

Training:
[code]

Original Transformer code with gradient checkpointing:
[code]
The working batc

[2020-02-11 15:37] ShadenSmith commented on #61
Hello! Thank you for your interest in DeepSpeed. DeepSpeed uses its own launcher and relies on [NCCL](https://developer.nvidia.com/nccl) for communication instead of MPI. Codes need to use DeepSpeed's [small API](https://github.com/microsoft/DeepSpeed/#getting-started) to run and no Horovod is used. To launch a DeepSpeed program, you just need a [hostfile](https://github.com/microsoft/DeepSpeed/#l

[2020-02-11 18:24] tjruwase commented on #62
1. Passing training_data to deepspeed.initialize is optional, and not required. Some models can benefit from deepspeed's i/o optimizations. However, using torch trainloader is fine.

2. In our experience, deepspeed works well with custom trainloaders and datasets. So I suspect the answer to that is yes, but please share any issues you run into.

3. The train_batch_size in json file is used to perf

[2020-02-11 18:43] Michiel29 commented on #62
@tjruwase could you clarify - how does the parallelization work with a custom dataloader? Do you need to make sure the dataloader uses the local rank as input to load a separate portion of the dataset manually?

[2020-02-11 18:50] tjruwase commented on #62
This is correct, it is the responsibility of the custom loader to load the appropriate dataset portion based on local rank (or whatever else the client finds appropriate) into GPU memory. DeepSpeed does not impose any restrictions on the custom dataloader, and does not perform any sanity checks.

Hope that clears things up.

[2020-02-11 20:34] agemagician commented on #61
Thanks for the clarification.
This will be a little tricky with SUMMIT, since I don't know what are the current hostnames.
I will try to check if bsub provide it somehow.

[2020-02-11 20:40] agemagician commented on #62
@tjruwase Thanks for the clarification.
Just one more question.

Assuming I have something like that:

[code]
Does this mean:
1. The batch size should be equal to train_micro_batch_size_per_gpu ?
2. It should provide different/random batch for each gpu ?

[2020-02-11 20:55] samyam commented on #63
You can train a larger batch size in two ways:

1) Use gradient accumulation. If you want to train a batch size of 32 but can only fit batch size of 4, you can use a micro_batch_per_gpu of size 4 and gradient_accumulation_step of 8. Was the original code using gradient accumulation? Are the batch sizes consistent between deepscale config file and the data loader you are using?

2) Use activation c

[2020-02-11 21:10] agemagician commented on #63
Thanks @samyam for the feedback.

In the original code I was using both gradient accumulation and activation check-pointing/re-materialization/re-computation.
The total batch size was: 32 batch size * 8 gradient accumulation * 6 GPUs

The gradient accumulation is not an issue between my code and deepspeed code.

The problem is in the activation check-pointing/re-materialization/re-computation. I a

[2020-02-11 21:13] tjruwase commented on #62
1. Yes, batch_size should be equal to train_micro_batch_size_per_gpu, which is batch size for a single step on one gpu.

2. Assuming DatasetGenerator is returning the correct batch for each gpu, then this would be correct since the .to() is simply moving the data bits into gpu memory.

[2020-02-11 21:22] agemagician commented on #62
@tjruwase Thanks a lot that answers all my questions for now :)

[2020-02-11 21:22] #62 closed

[2020-02-11 21:25] samyam commented on #63
Yes, DeepSpeed does not do activation check-pointing automatically. You have to add that in the model. Please keep us posted on if this solves your issue

[2020-02-11 21:28] #59 closed

[2020-02-11 23:43] ahmed-fau opened #64 "Optimization for a Single GPU"
Hi,
Thanks for this great work!

Just one question: Is it possible to train my model on a single GPU using this library and obtain the reported optimization benefits in memory consumption/training efficiency, or this is only achievable in case of using multiple GPUs?

[2020-02-12 04:50] #63 closed

[2020-02-12 04:51] ShadenSmith commented on #63
Closing the issue. Please let us know if there are further questions or issues!

[2020-02-12 05:26] 1Konny opened #65 "Error while initializing multiple models"
Hi.

I'm trying to use deepspeed in my code with multiple models, but got an error like below. Do you have any idea to solve this issue? Thanks in advance.

[code]

ds_config.json
[code]

command-line
[code]

code
[code]

[2020-02-12 06:17] 1Konny commented on #65
Following a suggestion [here](https://github.com/ultralytics/yolov3/issues/255#issuecomment-514845470), I modified my code as below and the issue does not appear now, but I wonder this is fine.
[code]

Also, following [this tutorial](https://github.com/microsoft/DeepSpeed/blob/master/README.md#training), I changed my training code as below, which also throws as an error: `RuntimeError: Trying to b

[2020-02-12 07:03] 1Konny commented on #65
sorry, but I find that `dist.destroy_process_group()` does not fix the first issue.
I added this line,  tested in a single-gpu setting and looked fine, but I just found that when I run the code in multi-gpu setting, the error `RuntimeError: trying to initialize the default process group twice!` still occurs. Any ideas?

[2020-02-12 12:45] tjruwase commented on #64
DeepSpeed is mainly focused on optimizing multi-GPU training, and as such you need to be training with multiple GPUs to see those benefits, such as memory efficiency.

[2020-02-12 12:52] tjruwase commented on #65
This error message suggests to me that nccl initialization had occurred earlier in your code before the first call to deepspeed.initialize(). Can you confirm that? If this is the case, can you try setting dist_init_required=False in all the deepspeed.initialize() calls?

[2020-02-12 13:51] #64 closed

[2020-02-12 18:08] cclauss opened #66 "Undefined name: f --> bare except"
https://github.com/microsoft/DeepSpeed/blob/master/tests/model/Megatron_GPT2/run_checkpoint_test.py#L113-L115

The variable `f` is an _undefined name_ in this context.  This will raise a NameError which will be caught by the [bare except](https://realpython.com/the-most-diabolical-python-antipattern) and `No old checkpoint` will be printed.  How should `f` be defined?

[2020-02-12 20:21] #66 closed

[2020-02-12 20:25] ShadenSmith commented on #66
Hello! Thank you for reporting this. We submitted a quick fix and in the meantime I am working on the bare except that is another issue as you pointed out.

Thanks for catching this!

[2020-02-12 23:17] jeffra opened #68 "Fix cifar tutorial links"
There are two dead links at top here: https://github.com/microsoft/DeepSpeed/blob/master/docs/tutorials/CIFAR-10.md

[2020-02-12 23:21] ShadenSmith commented on #68
I believe those two links should be combined and simply link to the getting started guide: ../../README.md#getting-started

[2020-02-12 23:57] #68 closed

[2020-02-13 09:35] jimdowling opened #73 "Pip install support"
Hi. I looked at the install.sh file, and it looks like pip installation support is doable. It would be great before somebody nabs the pypi deepspeed module name.

[2020-02-13 13:42] tjruwase opened #74 "Support old and new apex optimizer fusion"
apex now provides a new way of [optimizer fusion](https://nvidia.github.io/apex/optimizers.html) which is incompatible with the old way. One key API difference is that the old step() required additional arguments, while the new step() takes no argument.

This work item will provide a smoother transition for users from old to new fusion by making desired fusion style a configuration option.

[2020-02-13 19:34] dapurv5 opened #76 "NoneType has no attribute to"
I get the following error when I run my training. When I comment out this line the training works but the loss doesn't decrease

[code]

[2020-02-14 14:57] Tejaswgupta commented on #76
I would like to contribute

[2020-02-14 18:54] jeffra opened #80 "Update default deepspeed config"
Simplify the DeepSpeed config json in the README to show reasonable defaults to start using DeepSpeed. (e.g., disable_allgather is here which probably doesn't need to be)

[2020-02-14 18:55] jeffra opened #81 "Allow DeepSpeed init to accept dictionary instead of args"
We should remove the need for args to be passed to deepspeed init, ideally we should accept a dictionary which represents everything so we can write smaller tests.

[2020-02-14 23:47] ShadenSmith opened #82 "Catch spawned process failures and terminate"
The DeepSpeed launcher should detect failed processes and then ensure that the remaining children are joined with a timeout. The [distributed_test](https://github.com/microsoft/DeepSpeed/blob/master/tests/unit/common.py#L46) decorator does this. We should more rigorously evaluate that and see if it's appropriate for `deepspeed_run`.

[2020-02-14 23:49] ShadenSmith commented on #73
This is a great idea and something we are evaluating now. Our initial hesitation comes from our various C++/CUDA dependencies which are [problematic](https://medium.com/rapids-ai/rapids-0-7-release-drops-pip-packages-47fc966e9472) with PyPI. It's not something I am very knowledgeable about yet, so any feedback is appreciated on a good direction.

[2020-02-15 00:55] jeffra commented on #76
Hi @Tejaswgupta, thanks for reaching out and wanting to contribute. Is there something specific you have in mind you'd like to contribute? If it was this issue I do have a PR being reviewed currently that fixes this issue. We're in the process of trying to create some new issues that would be good to take care of as a new user. Keep an eye out for those :)

@dapurv5, Thanks for bringing this bug t

[2020-02-15 01:04] #76 closed

[2020-02-15 01:32] jeffra opened #84 "Detect split brain issues w.r.t. user code and deepspeed batch sizes"
Often user code will have a user-defined batch size and the DeepSpeed config json will have it's own batch size. When using gradient accumulation this can cause bugs where DeepSpeed thinks grad accumulation steps should be different than what user code is doing.

If the user is using the default [collate_fn](https://pytorch.org/docs/stable/data.html#loading-batched-and-non-batched-data) then DeepS

[2020-02-15 01:34] jeffra commented on #65
Hi @1Konny, have you tried anything further with this issue?

[2020-02-15 01:53] 1Konny commented on #65
Hi all, sorry for the late response.

this initialization issue has been fixed in my case as I commented. I set `dist_init_required=True` when initializing the first model engine, and set `dist_init_required=False` for the rest. Now it works like a charm.

when I set `dist_init_requires=False` in all deepspeed.initialize() calls, `raise RuntimeError("trying to initialize the default process group

[2020-02-15 01:55] #65 closed

[2020-02-15 02:41] jeffra opened #85 "Detect if init distributed is needed"
Ideally we could remove the init_dist_required flag from deepspeed initialize if we can detect if it’s already been started. This can prevent some types of bugs like in #65

[2020-02-15 15:19] zbloss opened #86 "Unable to detect local GPU Resources"
After running deepspeed locally, from the deepspeed/deepspeed:latest docker container, it is unable to detect my local NVIDIA GTX 1080.

Edit: I am on Windows 10 which is complicating this issue

[2020-02-15 21:18] jimdowling commented on #73
Conda would be great if pypi is problematic.

[2020-02-16 09:40] ll906875341 opened #87 "When is T-NLG open source?"
When is T-NLG open source?

[2020-02-16 23:00] Michiel29 opened #88 "ZeRO optimizer LAMB compatibility"
My use case for this library is mostly for BERT models, as opposed to Megatron+ sized LMs. ZeRO in that context is mainly useful for fitting larger batch sizes and increasing throughput. For that reason, I'm wondering if/when you are planning on adding a ZeRO compatible LAMB optimizer.

[2020-02-17 00:57] jeffra commented on #86
Hi @zbloss, thanks for your interest! Unfortunately, last I tried gpu pass through to a Linux container from a windows host isn’t supported :(

Related thread: https://stackoverflow.com/questions/49589229/is-gpu-pass-through-possible-with-docker-for-windows

[2020-02-17 04:59] Tejaswgupta commented on #76
Sure @jeffra :)

[2020-02-17 18:21] jeffra commented on #88
This feature is definitely on our radar, I don’t have a concrete timeline though. But we’ll be sure to update this thread when we have more info.

[2020-02-17 18:27] jeffra commented on #86
Closing this issue, feel free to reopen if needed though.

[2020-02-17 18:27] #86 closed

[2020-02-18 15:07] ShadenSmith opened #89 "Support configuration for general devices and backends."
DeepSpeed is currently assumes NVIDIA GPUs using the [NCCL](https://developer.nvidia.com/nccl) backend. It would be nice to support more general configurations.

Non-exhaustive list of things to consider:

- Configuration mechanisms (e.g., JSON config file, `deepspeed.initialize()`)
- Data movement
- Resource querying and specification: we currently query the number of local GPUs and would need to

[2020-02-18 23:25] samyam commented on #88
@Michiel29 as Jeff mentioned, this is something we definitely want, but currently its not on the top of our priority list at the moment. We be more than happy to accept contributions on this from the community. If you would like to contribute, we can definitely share our discussions on what would be needed to support Lamb with ZeRO. Please let us know.

[2020-02-19 20:10] jeffra opened #90 "ZeRO with non-zero loss scale crashes"
Typically users want to use dynamic loss scaling. During some development of a new feature for ZeRO I discovered that ZeRO crashes when given a non-zero loss scale value in DeepSpeed's config JSON. I've created a unit test that shows it passes when ZeRO is disabled and another test with ZeRO enabled showing it triggers this bug so we can go back and test when it is fixed.

https://github.com/micro

[2020-02-20 01:42] jeffra opened #91 "Propagate PYTHONPATH like NCCL env variables"
DeepSpeed run should propagate python path just like we are doing NCCL vars.

[2020-02-20 01:45] jackshi0912 commented on #81
+1
It would be better if init could ask the data it needs instead of handling file I/O and looking for params in args. Some systems may use very special methods to load yaml, json, protobuf, etc. into memory for initialization and configuration.

[2020-02-20 06:08] #91 closed

[2020-02-20 17:45] jeffra commented on #81
In the process of implementing this enhancement we will consider removing the --deepspeed flag since this is not used internally in DeepSpeed code. It should be up to the user if they want to implement a DeepSpeed and non-DeepSpeed version of their code controlled by a flag.

[2020-02-20 18:30] kleingeo opened #94 "Local Install Issue - Apex"
I noticed that in the install.sh file when doing a local install, `sh install.sh -l`, the installer seems to uninstall and reinstall apex twice. Is this normal behavior?

[2020-02-20 18:37] kleingeo opened #95 "Conda Environment Install Issue"
Trying to get DeepSpeed installed for local use with a Conda environment, but it seems that DeepSpeed in not installing to the environment itself. After building the wheel DeepSpeed is not installing into the proper Conda conda environment location. Apex is installing in the proper environment location. Unclear why DeepSpeed is not working but Apex is.

[2020-02-20 21:37] kleingeo opened #97 "_init_distributed does not use dist_init_required"
In the deepspeed_light.py script, the function `_init_distributed` gets passed `dist_init_required`, but this passed variable is not used. If dist_init_required is False this causes an AssetionError even know the functionality should be disabled.

[2020-02-20 21:41] tjruwase commented on #97
Thanks for trying out DeepSpeed.
Did you notice the use of dist_init_required [here](https://github.com/microsoft/DeepSpeed/blob/f2d7513561eb72f6b9c5188b5a227ecb7b05a2ee/deepspeed/__init__.py#L94)?

Can you share the observed AssertionError?

[2020-02-20 22:18] jeffra commented on #94
Should be fixed now. We will be doing a complete refactoring of our install scripts soon, but this at least fixes this issue as I understand it for now. Please reopen if it doesn't fix the issue you describe.

[2020-02-20 22:18] #94 closed

[2020-02-21 02:36] hhwode opened #98 "How does DeepSpeed implement multi-machine model parallelism?"
Hi
How does DeepSpeed implement multi-machine model parallelism, while pytorch only supports single-machine model parallelism.
Is there any other docs about DeepSpeed's model parallelism?

[2020-02-21 05:43] jeffra commented on #85
https://pytorch.org/docs/stable/distributed.html#torch.distributed.is_initialized

[2020-02-21 14:37] ShadenSmith commented on #95
Hi there! We're in the process of rewriting our installation scripts (that were previously only used within Docker containers) and hoping to also release a conda package in short time. These sorts of issues should be fixed at that point.

[2020-02-21 15:23] ShadenSmith commented on #98
Hi there! DeepSpeed does not _implement_ model parallelism, but it does _support_ models that use it. It's up to the user to implement model parallelism (e.g., a user might use some `dist.XXX()` communication routines to coordinate forward/backward passes). DeepSpeed just needs an `mpu` [object](https://github.com/microsoft/DeepSpeed/blob/master/docs/features.md#model-parallelism) at initializatio

[2020-02-21 23:58] ShadenSmith opened #99 "DeepSpeed using DistributedSampler with model parallelism"
DeepSpeed's data loader will use `DistributedSampler` by default unless another is provided:

https://github.com/microsoft/DeepSpeed/blob/001abe2362d9edba062070fb05df40925f54cb3e/deepspeed/pt/deepspeed_dataloader.py#L43

If DeepSpeed is configured with model parallelism, or called from a library with a sub-group of the world processes, the default behavior of `DistributedSampler` is incorrect beca

[2020-02-22 00:34] hhwode commented on #98
@ShadenSmith Got it. Is it because the model parallelism is not efficient or scalable that you study memory optimization, the ZeRO?
I'm new to this field, there is too little material about model parallelism. Can I ask why it is hard to do distributed model parallelism, in which way, inter-machine communication, network splitting, or algorithm level.
And thank you.

[2020-02-22 04:10] Michiel29 commented on #95
The installation scripts perform sudo -H pip installs, which install system wide. I replaced those with normal pip installs and it installed into the current environment without problems.

[2020-02-22 05:51] #74 closed

[2020-02-22 17:28] tjruwase commented on #97
Hi, do you have further questions regarding this issue?

[2020-02-23 19:47] LvanderGoten opened #101 "Initialization of two nn.Modules (e.g. generator and discriminator)"
Dear DeepSpeed-Team,

first of all thank you for your effort, I was very excited to hear about this approach.

I am currently trying to realize a GAN which requires me to initialize two networks, I tried the following without success:
[code]
Executing this, I get the following:

  File "/home/deepspeed/Code/identification/generative/CPGAN/orchestrator_msggan_deepspeed.py", line 253, in train
    t

[2020-02-23 19:52] ShadenSmith commented on #101
Hello, thank you for your interest in DeepSpeed!

That error message is due to the default process group of `torch.distributed` being initialized twice. To fix this for now, you can add `dist_init_required=False` to the second call of `deepspeed.initialize()`.

Removing this inconvenience is [on our roadmap](https://github.com/microsoft/DeepSpeed/issues/85) and hope to get to it soon. We are also

[2020-02-24 13:47] LvanderGoten opened #102 "max_grad_norm is ignore in FP16 training"
I am currently fighting with a dynamic loss scale that is constantly decreasing due to gradient overflows. Setting `max_grad_norm` in the JSON config has no effect since it is overidden in `deepspeed_light.py` https://github.com/microsoft/DeepSpeed/blob/13fd3dca2abb6d6a6af62d46457fff8a1a678a4a/deepspeed/pt/deepspeed_light.py#L407-L408:

I think this modification should be removed.

Kind regards

[2020-02-24 14:27] LvanderGoten commented on #102
I just saw that there is a "gradient_clipping" option in the config. However, setting it to 1.0, does not eliminate the gradient overflow messages. Is this expected?

[2020-02-24 14:33] #101 closed

[2020-02-24 14:33] #97 closed

[2020-02-24 18:09] tjruwase commented on #102
Gradient overflow messages, typically at the beginning of training, are not surprising. But this should eventually stop once the dynamic loss scale has decreased to a point that allows training stability.

Are you not seeing the overflow messages stop?

[2020-02-24 18:19] gopitk commented on #87
Please see the response with the current thinking in a related issue: https://github.com/microsoft/DeepSpeed/issues/59

[2020-02-24 18:26] #87 closed

[2020-02-24 19:46] LvanderGoten commented on #90
I second that

[2020-02-24 20:03] jeffra commented on #90
We're working on fixing this soon. However, in my case I was able to get around this by setting a smaller initial scale power. See the 'initial_scale_power' fp16 parameter here: https://github.com/microsoft/DeepSpeed/blob/master/docs/config_json.md#fp16-training-options

[2020-02-26 09:35] LvanderGoten opened #109 "FP32 Mode for ZeRO"
I figured out that ZeRO only works in FP16 mode, are there any plans to also introduce a FP32 mode?

Kind regards

[2020-02-26 15:51] kleingeo commented on #95
When I installed it I did that in the install script (for both the deep speed, apex and requirements). However, there were still issues in that DeepSpeed would not install to the right environment location. Looking at the installation a little more, this seemed more likely an issue with the wheel created for DeepSpeed in the install.sh file. I was able to get it working by forcing pip to install D

[2020-02-26 15:53] kleingeo commented on #97
The issue was in the actual set-up itself. It seemed that DeepSpeed was set-up to force a distributed model even if `dist_init_required=False`.

[2020-02-26 18:55] ShadenSmith commented on #98
There are several trade-offs to consider, so for a full answer let me first recommend this excellent survey on parallelism in deep learning: https://arxiv.org/abs/1802.09941

From a library perspective, it's difficult to provide general model parallelism because it is specific to the user model. Model parallelism certainly has uses such as being more memory scalable than data parallelism such as b

[2020-02-26 18:55] #98 closed

[2020-02-26 23:07] #85 closed

[2020-02-27 22:16] jeffra commented on #61
@agemagician, we just merged in a new commit that should (hopefully) make this a bit easier for you and others who want to use MPI. Please see this new text in our README for more details: https://github.com/microsoft/DeepSpeed/#mpi-compatibility

[2020-02-27 23:09] agemagician commented on #61
Thanks @jeffra for the update.
I will test it and I will give you my feedback.

[2020-02-27 23:23] samyam commented on #109
@LvanderGoten, ZeRO should work with FP32.

Please disable the fp16 flag via

"fp16": {
    "enabled": false
}
 and also turn on the fp32_allreduce flag.

Since we implemented ZeRO with fp16 in mind, some of the variable names may not make sense for fp32, and there will be some redundant data copies and memory allocation, but you should still be able to see up to 2x memory reduction with ZeRO in f

[2020-02-28 10:02] agemagician commented on #61
The ddlrun didn't work out, as follows:
[code]

When I try Jsrun, I got another error:
[code]

[2020-02-28 10:05] agemagician commented on #61
I tried to change the distributed-backend parameter to ddl, and I had another error:
[code]

[2020-02-28 10:34] agemagician commented on #61
Oh, that was actually for using Megatron-LM code, which doesn't use DeepSpeed distributed code.

I will test it again with the cifar test.

[2020-02-28 10:34] #61 closed

[2020-02-28 15:22] LvanderGoten commented on #109
I get the following:

[code]
Using this config:
[code]

[2020-02-28 23:09] dclong opened #114 "[Question]: Does DeepSpeed only for GPU clusters?"
Does DeepSpeed also work for a cluster of VMs without GPUs?

[2020-02-28 23:17] ShadenSmith commented on #114
Hello! Thank you for your interest in DeepSpeed.

DeepSpeed is GPU-only at this time. However, more generality is on our roadmap: https://github.com/microsoft/DeepSpeed/issues/89 . Pull requests always are welcome!

[2020-02-28 23:48] dclong commented on #114
@ShadenSmith Thank you very much for the information!

[2020-02-28 23:48] #114 closed

[2020-02-29 01:05] jeffra commented on #109
We haven't tested ZeRO with fp32 so there may be a few issues along the way here :) If you want to try it out I would comment out the these lines to disable this check: https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/pt/deepspeed_config.py#L378-L379

[2020-02-29 10:00] agemagician opened #115 "training the 20 and 8 billion model failed on SUMMIT"
Hello,

I am trying to train the 8 billion and the 20 billion models on SUMMIT and both failed.
SUMMIT has 6 Nvidia V100 16GB GPUs per node.
Both the 8 billion and the 20 billion give oom.

The training command is:
[code]

[code]

The config file is:
[code]

I am testing it on 1 node and even after I reduced the train batch size to 1, it didn't work:
[code]

[code]
From my understanding from the p

[2020-02-29 18:20] agemagician commented on #115
ok, so I double-checked.
Apparently, only GPT2 model includes deepspeed support on the examples.

[2020-02-29 18:20] #115 closed

[2020-03-01 17:55] kleingeo opened #116 "Following CIFAR Tutorial but Code Forcing RANK variable"
I am trying to get DeepSpeed working and have been following the CIFAR tutorial example. In the example `local_rank=-1` and `dist_init_required=None` as it is only with a single system (not distributed). However, it seems that it is forcing me to have RANK, LOCAL_RANK and other distributed environmental variables set. Should `dist_init_required=False`?

[2020-03-01 19:15] jeffra commented on #116
Thanks for reporting this. We recently changed to auto initialize the distributed backend but forgot to update thus tutorial. You should be able to get around this by setting dist_init_required=False like you mention.

[2020-03-01 19:50] kleingeo commented on #116
I tried that, but there are parts that don't work, specifically in the `_initialize_parameter_parallel_groups` part in the initialization.

[2020-03-02 20:47] kleingeo commented on #116
I tried that, but there are parts that don't work, specifically in the _initialize_parameter_parallel_groups part in the initialization.

[2020-03-03 17:43] jeffra commented on #116
Are you running the cifar example with the `deepspeed` launcher e.g., `deepspeed cifar10_deepspeed.py --deepspeed --deepspeed_config ds_config.json`? I seem to be able to recreate your issue if i run with `python cifar10_deepspeed.py --deepspeed --deepspeed_config ds_config.json` but it works if I use `deepspeed`. Can you try that?

Since DeepSpeed and ZeRO are intended to run with >1 GPUs a lot o

[2020-03-03 18:11] kleingeo commented on #116
I am using DeepSpeed within python with a just an import, so not using the DeepSpeed launcher. My intent is to use it with multiple GPU, but not on a distributed network, rather in a single node.

[2020-03-03 18:36] jeffra commented on #116
Gotcha, you can still use the deepspeed launcher even if you are not running on multiple nodes. It will attempt to launch on all local gpus (it will discover how many are available) by default in this case. You can also specific the number of gpus you want to launch on your local node via `--num_gpus`.

[2020-03-03 20:15] kleingeo commented on #116
That won't be the easiest as I'm trying to use it in a pre-existing modelling pipeline I already have developed.

[2020-03-03 22:38] #80 closed

[2020-03-04 00:41] jeffra commented on #116
Does your existing modelling pipeline handle launching processes across multiple gpus? If so you'll need to satisfy the requirements of torch.distributed launching to get this to work. We did this recently to support mpirun launching (instead of our deepspeed launcher), you can see the variables that are needed see here: https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/pt/deepspeed_lig

[2020-03-04 06:02] Colanim opened #118 "TypeError: FP16_DeepSpeedZeroOptimizer is not an Optimizer"
I'm trying to use 1-Cycle scheduler, but I meet the following error :

---

Here is my configuration file :

[code]

When using another Scheduler (with FP16), I meet no problem.

[2020-03-04 06:37] jeffra commented on #118
Thanks for reporting this bug. We will take a look at this as soon as possible. I just created two test cases that reproduce the error (one with ZeRO and one with FP16 but no ZeRO).

https://github.com/microsoft/DeepSpeed/blob/jeffra/onecycle_bug/tests/unit/test_fp16.py#L147-L246

[2020-03-04 15:57] kleingeo commented on #116
I thought that the torch.distributed was meant more for running a multiple across multiple network-connected devices, rather than the model from multiple cards in a single box. Going through the documentation, I see that this may be a misconception (is that correct?). I will play around and look at the different environmental variables necessary to have torch.distributed work within a single machi

[2020-03-04 17:58] jeffra commented on #116
We can support running 1-gpu without the DeepSpeed launcher, it's on our roadmap now. I'll be sure to update this thread once this support is added.

However, if you're going to want to run multi-gpu (single node) I highly recommend using torch.distributed. The old way of running multi-gpu single node was using [nn.DataParallel](https://pytorch.org/docs/stable/nn.html#torch.nn.DataParallel) howeve

[2020-03-05 01:15] kleingeo commented on #116
Thank you for this. I believe this was the issue. I have been using `nn.DataParallel` and should upgrade to the distributed method.

[2020-03-05 01:16] jeffra commented on #116
Feel free to re-open if needed. Otherwise I'll update this thread when we have 1-gpu support, probably more useful for testing in certain scenarios though.

[2020-03-05 01:16] #116 closed

[2020-03-05 02:21] Colanim opened #119 "README : Missing list of supported Schedulers"
In the README about JSON configuration, the list of supported Schedulers is missing :

https://github.com/microsoft/DeepSpeed/blob/master/docs/config_json.md#scheduler-parameters

Currently, only 3 schedulers are supported, right ?

From : https://microsoft.github.io/DeepSpeed/docs/htmlfiles/api/full/pt/deepspeed_lr_schedules.m.html

* `LRRangeTest`
* `OneCycle`
* `WarmupLR`

[2020-03-05 06:21] Colanim commented on #118
Note : I have the same error when I try the same configuration and `LRRangeTest` as scheduler.

[2020-03-06 21:09] LiweiPeng commented on #102
Regarding to the orignal question, what's the purpose to disable 'max_grad_norm' for fp16?
if self.fp16_enabled() and 'max_grad_norm' in optimizer_parameters.keys():
     optimizer_parameters['max_grad_norm'] = 0.0

[2020-03-06 21:14] LiweiPeng opened #120 "deepspeed_light.py bug: 'global_step' should be 'global_steps' in _load_checkpoint()"
In the following line, it seems to me that 'global_step' should be 'global_steps'. If so, can you fix it?

https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/pt/deepspeed_light.py#L983

deepspeed_states = [
            'module',
            'optimizer',
            'csr_tensor_module_names',
            'skipped_steps',
            'global_step'
        ]

[2020-03-06 21:20] LiweiPeng opened #121 "Can you support automatic mixed precision (amp) in zero optimizer?"
Currently, the fp16 optimizer and zero optimizer are implementing 'manual' mixed precision algorithm. There are more and more people that are using amp. Nvidia apex is also warning users of its fp16 optimizer (https://github.com/NVIDIA/apex/blob/master/apex/fp16_utils/fp16_optimizer.py#L20).

Can you add an amp-version of mixed precision implementation in zero optimizer? Thanks.

[2020-03-06 21:32] LiweiPeng opened #122 "Using zero optimizer with torch.optim.lr_scheduler will hit error: Zero is not an Optimizer"
torch.optim.lr_scheduler provides base class for lr scheduler design. E.g. NVIDIA BERT squad code uses it to define its lr schedulers (https://github.com/NVIDIA/DeepLearningExamples/blob/master/PyTorch/LanguageModeling/BERT/run_squad.py#L1019).

However, using the above scheduler with zero optimizer like below will hit exception 'Zero is not an optimizer'. This is because Zero optimizer class is n

[2020-03-09 17:09] ShadenSmith commented on #95
We have a now have a conda package uploaded and we appreciate any feedback!

We have versions compiled for `cudatoolkit` versions 10.0 and 10.1 To install along with pytorch and other dependencies that are in the conda-forge channel:

[code]

[2020-03-09 17:09] ShadenSmith commented on #73
Hi @jimdowling,

We have a now have a conda package uploaded and we appreciate any feedback!

We have versions compiled for `cudatoolkit` versions 10.0 and 10.1 To install along with pytorch and other dependencies that are in the conda-forge channel:

[code]

[2020-03-09 18:02] tjruwase commented on #122
It appears the most straight forward solution here is to make Zero is a subclass of torch.optim.Optimizer. We will work on this. Please stay tuned.

[2020-03-09 19:39] tjruwase commented on #122
I don't think there is a straight forward solution without modifying LinearWarmUpScheduler() to remove this assert. Be mindful, however, that there is a probably a good reason for the assert in the first place. Since LinearWarmUpScheduler is not DeepSpeed code, you will need to do the modification yourself. We are certainly interested in learning about your experience, so please share.

[2020-03-09 20:26] LiweiPeng commented on #122
Thanks @tjruwase for the quick update. This torch.optim.Optimizer assert is not only in LinearWarmUpScheduler, but also in torch.optim.lr_scheduler._LRScheduler. So simply modifying LinearWarmUpScheduler won't work.

DeepSpeed implements several lr schedulers. Can you add this LinearWarmUpScheduler used by BERT?

[2020-03-09 20:32] tjruwase commented on #122
I see. How about this?
1) Can you see if [WarmupLR](https://github.com/microsoft/DeepSpeed/blob/5f6294bd04cbf099c2dc15b9aebc44ebe91f0044/deepspeed/pt/deepspeed_lr_schedules.py#L582) can meet your requirements?
2) If not, can you please contribute LinearWarmUpScheduler to DeepSpeed?

Thanks

[2020-03-09 21:20] tjruwase commented on #119
Thanks for catching this missing list.

If possible, can you submit a pull request?

[2020-03-09 21:50] LiweiPeng commented on #122
WarmupLR is different from the [LinearWarmUpScheduler](https://github.com/NVIDIA/DeepLearningExamples/blob/master/PyTorch/LanguageModeling/BERT/schedulers.py#L87).  WarmupLR doesn't have decay. LinearWarmUpScheduler has a warmup phase and decay phase.

I am using a work-around now.  I may create a PR in the future.

[2020-03-09 23:12] dav-ell commented on #89
Can we add support for Google Cloud TPUs as well?

[2020-03-09 23:35] Colanim commented on #122
Do you mind sharing your workaround ? I'm also having this issue

[2020-03-10 00:01] LiweiPeng commented on #122
I used [deepspeed example code](https://github.com/microsoft/DeepSpeedExamples/blob/master/BingBertSquad/nvidia_run_squad_deepspeed.py#L919)

[2020-03-10 13:37] #119 closed

[2020-03-10 19:53] tjruwase opened #127 "lr_scheduler unit tests"
We need unit tests to cover the following cases
1) scheduler is generating expected lr and mom values corresponding to global steps
2) scheduler is updating optimizer correctly

[2020-03-10 21:03] #118 closed

[2020-03-10 23:52] #14 closed

[2020-03-11 00:48] samyam opened #129 "Zero Optimizer crashes if a param_group has fewer number of elements than the data parallel size"
If a param_group has fewer parameter elements than the size of data parallelism, then certain GPUs will have empty partitions causing it to crash

[2020-03-11 02:38] g-karthik opened #130 "DeepSpeed install in Mac"
I was able to successfully install DeepSpeed in my cloud instance.

Additionally, I want to be able to install DeepSpeed in my Mac. This is to ensure that my PyCharm IDE can recognize all the utilities from DeepSpeed when I integrate it into my code. How do I do that? I don't think the installation script is compatible with Macs.

[2020-03-11 06:12] jeffra commented on #130
We're currently testing a python-only version of DeepSpeed that disables the cuda/cpp requirements for this case (Lamb and FusedAdam are not supported in this mode). Feel free and give it a try as a preview here: https://github.com/microsoft/DeepSpeed/tree/jeffra/python_only_version

This branch also allows support for installing without any CUDA devices (i.e. cpu_only), one big thing to note thou

[2020-03-11 06:15] jeffra commented on #109
Feel free to re-open if you run into other issues or let us know if this solved your problem.

[2020-03-11 06:15] #109 closed

[2020-03-11 06:19] jeffra commented on #89
@dav-ell as far as I understand, TPU support with PyTorch requires XLA (see: https://github.com/pytorch/xla). We haven't tested DeepSpeed with XLA. Also we don't have access to any TPU's to test this on but if you (or anyone else does) we welcome pull requests or feedback about issues along this direction.

[2020-03-11 18:17] timsoraro opened #131 "What is the effective batch size?"
Hello, and thank you for your contribution.

I noticed there both
[code]

I'm not from an ML background, I just want to know how many data examples each GPU works with on every iteration of the below for loop, so I can set it to maximize my GPU's memory and performance.

[code]

How can I know that? And how can I set the above variables differently so as to change the effective batch size?

Let's

[2020-03-11 18:38] tjruwase commented on #131
Thanks for using DeepSpeed.

The answer to your question is train_micro_batch_size_per_gpu, i.e. number of data samples in each GPU for each loop iteration. Since you are not from an ML background, let me further explain the relationship with train_batch_size and gradient_accumulation_steps.

gradient_accumulation_steps is how many loop iterations before the model is updated, e.g. by calling model

[2020-03-12 05:48] g-karthik commented on #130
@jeffra I faced a bunch of dependency issues along the way, so it wasn't as simple as just running the `install.sh` from your branch, but I think I managed to resolve them to the point that eventually it seems to have installed.

I'll try to integrate DeepSpeed into my code on my IDE next, and let you know if I face any issues. Thanks!

[2020-03-12 05:48] #130 closed

[2020-03-12 07:23] ShadenSmith commented on #130
Hi @g-karthik  that's great that you got DeepSpeed working! Can you share your experience with the dependency issues? If it's something we can reasonably achieve with DeepSpeed, we'd love to make it available on more platforms.

On that topic, it may be easier to install DeepSpeed using `conda`. We are testing out a [conda package](https://anaconda.org/deepspeed/deepspeed) and should update our do

[2020-03-12 09:00] timsoraro commented on #131
Thank you very much for your detailed explanation, I get it now. But still, When I do:
[code]
It always prints 60,000 (240000/4gpu's), where I expect it to print 15,000 when batch size is 4.
I checked and changing of the batch size does take affect on the training (takes more time per step)

[2020-03-12 19:05] e4c6 opened #134 "Example one-liner input for GPT2?"

[2020-03-12 19:18] timsoraro commented on #131
@tjruwase Can you please shed some light?

[2020-03-12 20:25] tjruwase commented on #131
As far as I know print(len(trainloader)) returns total number of data samples in the rank irrespective of batch size configurations. It is not an indicator of number of training steps (or loop iterations) to process all the data examples.

[2020-03-13 09:00] timsoraro commented on #131
Okay, so would I be right to assume that on every training step I'm running on train_micro_batch_size_per_gpu*gpu's examples (assuming gradient_accumulation_steps is 1)?

[2020-03-13 09:01] tjruwase commented on #131
That is correct.

[2020-03-13 10:30] timsoraro commented on #131
Thank you very much!

[2020-03-13 10:30] #131 closed

[2020-03-13 10:38] Colanim commented on #118
I'm still meeting this issue in `deepspeed/deepspeed:latest`. How should I update the docker image to pull latest code from source ?

[2020-03-13 14:42] jeffra commented on #118
Hmm, it should be updated. Can you tell us this info from inside your docker container?

`python -c 'import deepspeed; print("deepspeed info:", deepspeed.__version__, deepspeed.__git_branch__, deepspeed.__git_hash__)'`

[2020-03-13 16:57] jeffra opened #137 "Getting started guide is missing critical text about add_config_args"
We are missing information in our getting started guide about what `cmd_args` needs to have when executing deepspeed.initialize.

https://github.com/microsoft/DeepSpeed#writing-deepspeed-models

Need to add some text about adding `deepspeed.add_config_arguments(parser)` to user code.

[2020-03-13 19:39] LiweiPeng opened #138 "zero optimizer static loss scale is not working"
the static loss scale in FP16_DeepSpeedZeroOptimizer is not working. One fix is to add at
https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/pt/deepspeed_zero_optimizer.py#L188
self.loss_scaler = LossScaler(static_loss_scale)

Also, change the following line
from deepspeed.pt.loss_scaler import DynamicLossScaler, LossScaler

Can you take a look at this issue? Thanks.

[2020-03-14 10:07] Colanim commented on #118
My bad, I didn't pull the latest image..

After doing `docker pull deepspeed/deepspeed:latest`, it's working 👍

[2020-03-15 14:45] ShadenSmith commented on #120
Thanks for the bug report! I just submitted a PR.

[2020-03-15 18:40] LiweiPeng opened #140 "Loss didn't go down when using zero optimizer with BERT pretrain"
I used zero optimizer with BERT pretrain, the loss didn't go down. However, turning off zero and using deepspeed's fp16 only, the loss went down properly. The following was what I did:

I followed the https://github.com/microsoft/DeepSpeedExamples, and added deepspeed to my BERT pretrain code. When I used similar configuration like https://github.com/microsoft/DeepSpeedExamples/blob/master/bing_be

[2020-03-15 21:11] #140 closed

[2020-03-15 23:39] jeffra commented on #140
Glad it’s working now! :) Any context on the coding bug? We’re always curious about feedback to make deepspeed easier to use and help prevent bugs.

[2020-03-16 00:19] jeffra commented on #134
@e4c6 if you’re still looking for example data to use with megatron you can download some data we use for testing. It’s about 500MB.

https://deepspeed.blob.core.windows.net/megatron-data/webtext.tgz

[2020-03-16 02:24] LiweiPeng commented on #140
My coding error is at the calling of function DeepSpeedLight::backward() in deepspeed_light.py. I thought I passed True to allreduce_gradients but it turned out I passed False to it. Eventually I simplified my code and just use backward(loss), which uses default allreduce_gradients=True.
[code]

[2020-03-18 05:21] g-karthik commented on #137
@jeffra on a somewhat related note - a lot of the documentation links in the README file are now throwing 404 errors. Could you please take a look at these? Thanks!

[2020-03-18 07:49] ShadenSmith commented on #137
Hi @g-karthik , sorry for the disruption. I broke some links while moving over to our new website: https://www.deepspeed.ai/

The links in the README should be fixed again. The bulk of the documentation is now on our webpage and hosted from `docs/`.

[2020-03-18 08:13] g-karthik opened #150 "DeepSpeed assumes model returns just one variable: loss"
https://github.com/microsoft/DeepSpeed/blob/4d735946b8f256bc80ba13e3530f85c91d041ff4/deepspeed/pt/deepspeed_light.py#L582-L606

As you can see in line 596 above in the `forward()` call for the `DeepSpeedLight` engine, `self.module` (which gets initialized earlier with the `model` passed to `deepspeed.initialize()` by the client) is assumed to be returning just one output: `loss`. However, as a mod

[2020-03-18 08:22] g-karthik commented on #137
@ShadenSmith thanks for the fix! I still see one 404: https://www.deepspeed.ai/docs/config_json/

[2020-03-18 17:12] ShadenSmith commented on #137
@g-karthik whoops, I thought I had fixed that one last night. New link is https://www.deepspeed.ai/docs/config-json/

Thanks for the reports! Feedback is always appreciated.

[2020-03-18 21:26] g-karthik opened #152 "Which batch size to use with DataLoader"
I have a question about the below minimal working example from the DeepSpeed README.

[code]

Suppose that `deepspeed.initialize()` was solely called to wrap around my model, and my client script already creates a `data_loader`. What batch size should be used when instantiating my `data_loader` for the above loop to work fine?

If there was no DeepSpeed, I'd initialize my `data_loader` as follows

[2020-03-18 23:15] CalogeroZarbo opened #153 "ZeRO & Custom Optmizer (RangerLars)"
Hi,
first of all thanks for the contribution. I'm trying to use DeepSpeed and Zero with a custom optimizer from https://github.com/mgrankin/over9000
More in the specific I'm using the implementation of the RangerLars (RAdam+LARS+LookAhead), which in that repo has been called Over9000.
Is there any way to wrap a custom optimizer like this in a Zero compatible one? I found this class in your reposit

[2020-03-19 01:10] tjruwase commented on #153
Thanks for your interest in DeepSpeed. In theory it should be possible to wrap RangerLars with ZeRO. But there are a couple of things to consider:

1. RangerLars itself seems to be a wrapper like this: LookAhead(RAdam). And it seems you want to do an extra level of wrapping like this: ZeRO(LookAhead(RAdam))). We have not previously explored this multi-level wrapping.
2. However, a quick skim of Ze

[2020-03-19 01:25] g-karthik commented on #150
@jeffra @ShadenSmith

[2020-03-19 01:25] g-karthik commented on #152
@jeffra @ShadenSmith

[2020-03-19 04:53] tjruwase commented on #150
Hi Karthik,

Thanks for your question. Can you provide some clarification on this issue? In fact, DeepSpeed does not assume that loss is a single value. If you look _scale_loss() in https://github.com/microsoft/DeepSpeed/blob/4d735946b8f256bc80ba13e3530f85c91d041ff4/deepspeed/pt/deepspeed_light.py#L567, you will see that it handles tuples and lists of loss.

So  are you seeing an actual bug or cra

[2020-03-19 07:18] CalogeroZarbo commented on #153
Hi @tjruwase, thank you for your quick response.

This is the stack trace:
[code]

I looked for the `dp_process_group` function and I thought I need to wrap all of this somehow. Maybe it could work to have: ZeRO(LookAhead(ZeRO(RAdam))?

[2020-03-19 08:09] CalogeroZarbo opened #154 "DeepSpeed GPU 0 parameter server OOM with 8xV100"
Good morning,
I'm opening this issue because I have a small doubt.

I trained my 24 layers deep Reformer, with 768 nodes per layer, using DeepSpeed on 2xP100 successfully.
I tried the same setup on 8xV100 and the GPU 0 crashes due to OOM.
My understanding is that the GPU 0 needs to handle all the results computed also by the other GPUs (acting as parameter-server, I guess) and this lead the GPU 0

[2020-03-19 09:37] tomekrut opened #155 "GPU experiments - e.g. GTX 2080Ti"
I have been doing some tests on GTX 2080Ti with a simple LSTM network

- 1x GPU - 84M parameters is the max I was able to put in without DeepSpeed
- 2x GPUs including DeepSpeed...  105M parameters... 20M more parameters
- 4x GPUs including DeepSpeed... 135M parameters
so, roughly 60M parameters are fixed on each device and the positive delta is 20M...

Can you share your experience as well? Below

[2020-03-19 12:10] tjruwase commented on #153
Thanks for exploring this issue. The failure you are observing is happening during DeepSpeed initialization. The problem in this case is that we have the following check in deepspeed_light to restrict ZeRO to wrapping only Adam. But for your case, can you please disable the Adam restriction so that ZeRO can wrap any optimizer, and then we can see what happens?

https://github.com/microsoft/DeepSpe

[2020-03-19 12:50] tjruwase commented on #102
The rationale for this was to support both the [old](https://github.com/NVIDIA/apex/blob/80b90b9d43e343c7d4df7f6081a4ceaee2d3c348/apex/optimizers/fused_lamb.py#L61-L65)  and [new](https://github.com/pytorch/pytorch/blob/0d8447a9b8fcdbc88b678623ad518aa0a9144aeb/torch/optim/adam.py#L30-L31) ways of specifying gradient clipping. The difference is that in the old way, gradient clipping is specified as

[2020-03-19 12:59] tjruwase commented on #154
A couple of issues here:
1) Your understanding is not exactly correct. Using your parameter-server analogy, with ZeRO, GPU 0 is acting as parameter server for only 1/N of the parameters in a N-degree data parallelism configuration.

2) ZeRO (stage 1) deduplicates the optimizer states across the data parallelism nodes, and therefore should always reduce memory usage when enabled compared to when di

[2020-03-19 13:20] tjruwase commented on #152
This is a great question, and is certainly an easy source of confusion unfortunately.

When the client handles data loading issues, the uses of `train_micro_batch_size_per_gpu` in DeepSpeed are restricted to:

1. Detecting gradient accumulation boundaries in order to initiate gradient reduction and optimizer.step()
2. Computing various latency and throughput statistics.

Thus a mismatch in `args.t

[2020-03-19 13:26] tjruwase commented on #155
Thanks for sharing this experiment. I do have one question. Are you keeping the effective batch size constant regardless of the GPU count? I notice train_batch_size is 128 in the json config, but that BATCH_SIZE is hard coded to 64 in the script.

[2020-03-19 13:29] TomekRutowski commented on #155
Looking at the paper again:

Assuming that the authors talk about DGX-2 which has 16 devices then:
- additional 4.5B / 15 devices = 0.3B gain per device
- 1.5B on a single device / 0.3B = effective gain is 20% per device

In my above case is 80M / 20M ~ 25% gain.. I guess it would make sense then?

(on the other hand, if I understand correctly) Table 1 then shows that for 7.5B model only 4 devices

[2020-03-19 13:31] tjruwase commented on #152
By the way, we have an open [issue ](https://github.com/microsoft/DeepSpeed/issues/84)on this, in case you are interested in tracking.

[2020-03-19 13:31] TomekRutowski commented on #155
What I was trying to do the following:
- no DeepSpeed then 64
- with DeepSpeed 128 then train_micro_batch_size_per_gpu will be 64 when I use 2x GPUs... this was my default setting.

[2020-03-19 13:35] tjruwase commented on #155
Thanks for the clarification. I assume for 4x GPUs setting, you set `train_batch_size` to 256 in the json config.

[2020-03-19 13:40] TomekRutowski commented on #155
Well, I missed this one... but in advantage to your framework :) If I had increased to 256 I wouldn't have been able to probably even achieve 135M but less... don't have 4 available now to check as they are being utilized now.

[2020-03-19 13:43] tjruwase commented on #155
Hahaha :). Got it. Please do share your experience when you get the chance.  I will address your  other questions on the expected gains separately.

[2020-03-19 14:00] ShadenSmith commented on #155
The code above only uses data parallelism, and so the full model, gradients, and optimizer states are replicated on each process. You can save memory by [enabling ZeRO](https://www.deepspeed.ai/docs/config-json/#fp16-training-options). In its current implementation (Stage 1), the optimizer states are partitioned across processes. Further ZeRO optimization implementations are a work in progress. We

[2020-03-19 14:17] TomekRutowski commented on #155
Shaden, great thanks... I will try updating the numbers soon.

[2020-03-19 14:22] CalogeroZarbo commented on #154
Sure thing @tjruwase I'm glad to help.

I feel I have to explain better the situation:
- I'm not training a normal `Transformer`, I'm using a `Reformer` (https://github.com/lucidrains/reformer-pytorch) which showed to work with `DeepSpeed`, and to decrease the complexity of the architecture.
- This is the configuration file I used:
[code]
 Since `ZeRO Optimization` option is set to false, for both

[2020-03-19 18:06] gbxu opened #156 "bug about Zero-optimizer"
In Section 6 of paper [Rajbhandari, Samyam, et al. "ZeRO: Memory Optimization Towards Training A Trillion Parameter Models."](https://arxiv.org/abs/1910.02054), authors explain that there is **no more communication overhead** for **P_os** and P_g.

I think the right algorithm is that for each weight, Zero-Adam will read a tensor after reduce-scatter op, then output the new 1/n part of this weight

[2020-03-19 18:23] tjruwase opened #157 "Handle None in loss scaling"
We have seen at least one model that returns None in a list/tuple of losses. We should gracefully handle scaling in these cases by leaving the None untouched.

[2020-03-19 18:24] tjruwase opened #158 "Export PYTHON prefixed environment variables"
Enhance the launcher to export all PYTHON* prefixed environment variables, and not just PYTHONPATH

[2020-03-19 19:00] CalogeroZarbo commented on #153
Hi @tjruwase!
I modified the link of code as you suggested in this way:
[code]
And it worked! Now I'm training the model using `ZeRO` enabled.

Thank you!

PS. In order to make this available for all should we plan a PR or it will be enabled by you in the future?

[2020-03-19 19:25] tjruwase commented on #153
@jeffra, @samyam, @ShadenSmith

Yay!!! This is excellent news!!!

Did you verify correctness for your model? Correctness is the main concern that we have for restricting to Adam which we have tested internally. But perhaps we just need to generate a warning for brave users such as yourself to alert you that you are truly pushing the frontiers :)

Either ways, thanks for doing this great service.

[2020-03-19 23:10] jeffra commented on #156
Hi @gbxu, thanks for your interest in DeepSpeed/ZeRO. Good catch regarding all_reduce vs. reduce_scatter. When we first implemented ZeRO it didn't appear reduce_scatter was implemented in torch.distributed so did our initial implementation using all_reduce. We later discovered that reduce_scatter is indeed implemented in torch.distributed but [not documented here](https://pytorch.org/docs/stable/d

[2020-03-19 23:11] #156 closed

[2020-03-19 23:22] g-karthik commented on #152
@tjruwase thanks for the info!

to be clear, if my client script has a `train_batch_size` of 2, and I am running my code on a single node with 8 GPUs, then I need to ensure that my DeepSpeed config has:

[code]

Is this correct?

Also, if I wanted to go to multiple nodes, all having 8 GPUs each, what would I update these parameters to?

[2020-03-19 23:49] g-karthik commented on #150
@tjruwase Thanks for the info!

Yes, I just noticed that `loss` could be of varying types as per `_scale_loss()`. This is a bit confusing as a name though, I recommend renaming this variable to `outputs`.

Having said that, there is still the assumption built into this method that `loss` only contains losses that need scaling to account for gradient accumulation. But `GPT2DoubleHeadsModel` from Hu

[2020-03-20 04:13] tjruwase commented on #152
Based on the code snippet you shared earlier, `args.train_batch_size` is not the effective batch size of training, but rather is the batch size that fills one GPU memory on each call to the data_loader. Thus, `args.train_batch_size` is the equivalent of `train_micro_batch_size_per_gpu`.  For example in 1-GPU training, your client script will probably be calling the data_loader `gradient_accumulati

[2020-03-20 04:21] g-karthik commented on #152
@tjruwase yes that is correct -- in that snippet, `args` is client args. So `args.train_batch_size` will be defined by me directly in my client script. The "train_batch_size" in the DeepSpeed config file is not the same as this one.

[2020-03-20 04:29] g-karthik commented on #152
So my thinking is that the client args has the following:
[code]

`params_file_path` will point to a JSON file in which I have `"train_batch_size": 2`, so my client script will have a `DataLoader` that is instantiated with this batch size before the batches get enumerated.

`deepspeed_config` will point to a JSON file in which I have `"train_batch_size": 2*8*X` and `"gradient_accumulation_steps":

[2020-03-20 05:00] tjruwase commented on #152
Yes, this seems fine. Please let us know how it goes.

[2020-03-20 05:06] g-karthik commented on #152
Cool, thanks for the confirmation! How would this configuration change when I want to use multiple nodes? Let's say I have `N` nodes, each with 8 GPUs.

[2020-03-20 05:14] tjruwase commented on #152
You will set `train_batch_size` in JSON file to `2*N*8*X`.  Please see our multi-node training [documentation](https://www.deepspeed.ai/getting-started/#resource-configuration-multi-node).

[2020-03-20 05:33] g-karthik commented on #152
Great, thanks! Actually that link does not say anything about the effective batch size, [this](https://www.deepspeed.ai/docs/config-json/#batch-size-related-parameters) one does, although it doesn't elaborate on the difference between the single and multi-node cases from the perspective of the effective batch size.

Also, it talks about using `train_step_batch_size` to compute `train_batch_size`,

[2020-03-20 07:21] g-karthik commented on #130
`tensorflow-gpu` and `psutil` were causing a lot of trouble, I don't remember what I did to resolve them though, but I vaguely remember doing some kind of downgrade/upgrade of CUDA versions and now I'm getting the error `CUDA driver version is insufficient for CUDA runtime version` whenever I use `fp16` with apex (no DeepSpeed).

[2020-03-20 08:08] g-karthik opened #160 "Make FP16_DeepSpeedZeroOptimizer a sub-class of torch.optim.Optimizer?"
Could you please make `FP16_DeepSpeedZeroOptimizer` a sub-class of `torch.optim.Optimizer`?

Looking at the code, it feels like the effort should be minimal, since most of the methods in `Optimizer` have been overriden anyway.

It's just `add_param_group(self, param_group)` from `Optimizer` that won't work with this sub-class until some changes are made to the sub-class I think.

The benefits of m

[2020-03-20 10:49] CalogeroZarbo commented on #153
Good morning @tjruwase!

I did some tests and it seems that the specific implementation of RangerLars that I'm using needs to be further investigated to make it work properly as without ZeRO enabled.

The training starts, the loss is backpropagated but the model is not learning (the loss stays around the same value of the first step).
My understanding is that: technically we can use custom optimiz

[2020-03-20 17:58] tjruwase commented on #152
Yes, `train_step_batch_size`  was renamed to `train_micro_batch_size_per_gpu `. Please pardon our typo.

For now, it is okay to use your client model to do validation since it is not a throughput bottleneck. Ideally, we believe DeepSpeed should support that as well. Perhaps, you can helps us verify that support at a more convenient time for you.

[2020-03-20 18:02] g-karthik commented on #152
@tjruwase but how would `model_engine` support validation as of now? The `DeepSpeedLight` forward() method does a check for gradient accumulation steps, which is training-specific and not to be done during validation. So we cannot reuse the `model_engine` for validation, right?

[2020-03-20 18:05] tjruwase commented on #152
I have not thought through all the requirements, but you could set gradient accumulation steps to 1 in this case.

[2020-03-20 18:08] g-karthik commented on #152
Having a separate JSON config for validation would imply instantiating a separate `model_engine` for validation. Seems a bit much.

[2020-03-20 18:14] g-karthik commented on #150
@tjruwase did you get a chance to look at this?

[2020-03-20 18:54] tjruwase commented on #152
Yes, that would be an overkill indeed. I just wanted to point out that it could be supported. For now, DeepSpeed will focus on the throughput-sensitive training pipeline, and clients can stick to their preferred validation method.

[2020-03-20 19:19] tjruwase commented on #160
F16_DeepSpeedZeroOptimizer is meant to be a wrapper to "true" optimizers that are subclass of torch.optim.Optimizer. In that sense it is similar to apex's [fp16_optimizer](https://github.com/NVIDIA/apex/tree/master/apex/fp16_utils). We think it is important to maintain this clean separation between optimizer-wrappers and optimizers. But, we certainly see the point you are making, and actually went

[2020-03-20 19:34] tjruwase commented on #150
Apologies for the delay in responding to this.

It is not that straight forward. We used to handle scaling in backward() as you suggested, until we encountered client code that was scaling after forward(), for tensorboard plotting, and passed the scaled loss to backward(), where we blindly scaled again. Basically, we can not control or detect what the client did with the return of forward() before

[2020-03-20 20:27] g-karthik commented on #150
Irrespective of whether you do loss scaling in `forward()` or `backward()`, you have no control over what the client does. So this rationale for moving scaling from `backward()` (as you state you did originally) to `forward()` does not make sense to me.

_Potentially_ relieves the client from dealing with gradient accumulation logic? I'm confused now and this is a bit of a vague explanation.

Let'

[2020-03-20 23:24] tjruwase commented on #150
You raise a number of interesting issues here, thanks for the thorough analysis. I am now persuaded about the problems of scaling in forward(). At the end of this reply,  I have put a sample of client codes that we encountered early on that shaped our thinking. I feel the sample code is less relevant to the discussion given the points you have made, but I have included it since you asked for it.

[2020-03-21 00:11] TomekRutowski commented on #155
@ShadenSmith @jeffra - It is a bit unrelated to the main topic of this issue but doing some performance analysis - I tried few LSTMs with zero_optimization true and each time I get

Have I missed something?

e.g. the simplest possible

[code]

[2020-03-21 00:36] g-karthik commented on #150
@tjruwase Glad you agree with the points I've raised now! :)

Indeed, my example involves arbitrary scaling of the two losses returned (via `args.coef_a` and `args.coef_b`). But please note that this scaling is independent of gradient accumulation. This scaling is for multi-task learning, where we want to control the importance of each task to the overall loss.

The gradient accumulation scaling n

[2020-03-21 04:01] g-karthik commented on #130
@ShadenSmith so I tried to run the following on my cloud instance to try and re-install DeepSpeed (I suspect I messed up my CUDA runtime + CUDA driver compatibility when trying to install using `install.sh`):

`conda install deepspeed -c deepspeed -c pytorch -c conda-forge `

It just keeps saying `Solving environment: \` and does not proceed further.

[2020-03-21 10:18] CalogeroZarbo commented on #154
Hello @tjruwase
To be more complete on the explanation of the previous message I'm attaching here a screenshot of the same situation described above but on 8xV100:

![Screenshot 2020-03-21 at 11 15 38](https://user-images.githubusercontent.com/4557464/77224396-89716380-6b65-11ea-8018-409405a25aea.png)

Thank you and have a nice weekend!

Cheers,
Cal

[2020-03-21 20:38] dav-ell commented on #89
@jeffra Appreciate this. I have access to TPUs for about a month, but don't anticipate being able to get to any PRs. I'll probably just be sticking with XLA as long as I can -- but the easy scaling from DeepSpeed will be missed.

[2020-03-22 14:58] LiweiPeng opened #163 "DeepSpeed FusedLamb vs Apex FusedLamb"
Nvidia's apex also has a good implementation of [FusedLAMB](https://github.com/NVIDIA/apex/blob/master/apex/optimizers/fused_lamb.py). What's the advantage/disadvantage of using apex's FusedLAMB compared with DeepSpeed's lamb implementation?

[2020-03-22 23:39] ShadenSmith commented on #150
I agree that the existing behavior should be changed, and it sounds like moving the scaling outside of `forward()` is the correct thing to do in the long run.

I'm more inclined to move `_scale_loss()` inside of `backward()` than to ask users to perform the gradient accumulation scaling themselves. Otherwise it breaks existing codes that use DeepSpeed with gradient accumulation. It also feels wron

[2020-03-22 23:57] ShadenSmith commented on #152
Closing this issue - feel free to continue discussion as needed!

[2020-03-22 23:57] #152 closed

[2020-03-23 00:15] samyam commented on #163
Hi Liwei, There should be no disadvantage of using DeepSpeed's lamb implementation compared to Apex. On the other hand, there are certain cases where we have noticed an advantage with DeepSpeed's Lamb compared to Nvidia's apex. The DeepSpeed's lamb implementation allows the user the control the min and the max lamb coefficient value. We have found that tuning these parameters can lead to a better

[2020-03-23 00:24] LiweiPeng commented on #163
Thanks. That's really good to know.

[2020-03-23 00:24] #163 closed

[2020-03-23 01:49] ShadenSmith commented on #138
Thanks for catching this and recommending a fix! I submitted a PR to address this bug. Please let me know if you see any issues.

[2020-03-23 01:50] #158 closed

[2020-03-23 02:01] ShadenSmith commented on #155
Can you share more of your logs? Does it continue to always overflow, or does the loss scaling eventually decrease and training proceeds?

Some number of overflow steps is typical. DeepSpeed decreases the scaling each time it occurs and it should eventually get out of an overflow state and begin doing useful training.

[2020-03-23 02:04] #73 closed

[2020-03-23 02:07] ShadenSmith commented on #90
@jeffra I believe PR #166 addresses this issue. Let me know what you think.

[2020-03-23 02:09] ShadenSmith commented on #95
The repo's `install.sh` should respect the environment by default now (`sudo` is opt-in). Please let me know if the issue persists.

[2020-03-23 08:32] #153 closed

[2020-03-23 09:28] TomekRutowski commented on #155
Here is the exact plug and play script that you can run including the config file.
I have seen two patterns:
- it finished but not sure about the quality of the model as the script was created for the purpose of checking how many parameters I could fit into the GPUs,
- started training but ran out of memory eventually - when the number of parameters was defined close to the maximum of given GPUs c

[2020-03-23 18:08] tjruwase commented on #150
Shaden thanks for your comments. Based on the discussions so far, how about the following changes to preserve backward compatibility and enable users to enforce correct behavior.

1) Similar to Shaden's proposal, but slight difference. forward takes an extra scale_loss arg, but that defaults to true to preserve backward compatibility
 `model_outputs = model_engine(*batch, scale_loss=True)`

2) bac

[2020-03-23 19:27] g-karthik commented on #150
I agree with @ShadenSmith, and I think this is overkill. Maintaining backward compatibility is important and one should strive to maintain it as much as possible, but in this specific context, I think the value of doing so is minimal. It is purely limited to logging purposes.

Moreover, there will likely be several _actual_ breaking changes you'll need to make in future, given the nature of softwa

[2020-03-23 19:40] tjruwase commented on #150
So it sounds like the consensus is
1) Remove _scale_loss() from forward() so deepspeed forward is semantically equal to client forward
2) Expose model_engine.scale_loss(loss) so client can obtain scaled loss
3) Call _scale_loss() in backward(), assuming client is passing unscaled loss values

Is this correct? I can start preparing the PR.

[2020-03-23 19:49] g-karthik commented on #150
@tjruwase I think instead of 2, you could just change the signature of `backward()` to also return the loss. The returned loss would be scaled, and typically users log their loss after forward+backward anyway, not just forward.

[2020-03-23 19:51] tjruwase commented on #150
@g-karthik I like that idea. Explicit is good.

[2020-03-24 09:25] tomekrut opened #167 "DeepSpeedDataLoader's len is not caculated properly"
DeepSpeedDataLoader len should be divided by the batch_size

instead

`self.len = len(self.data_sampler)`

we should have

[code]

[2020-03-24 11:20] sjtusmartboy opened #169 "some questions about the source code"
I'm pretty interested in the implementation of the ZeRO optimizer because the work is really beyond words. Yet I find some points I cannot understand when reading the source code, so I'm here to ask for some help to understand the DeepSpeed better.

1. All through the project, I can find the implementation of Gradient Partitioning and Parameter Partitioning [here](https://github.com/microsoft/Deep

[2020-03-25 04:08] samyam commented on #150
@tjruwase @ShadenSmith @g-karthik Here are my two cents: The goal of doing loss scaling is strictly for averaging of the gradients when gradient_accumulation_steps > 1, so a scaled loss is a means to an end, and is not really useful for the client. As such, I think it is perfectly fine to scale the loss in the backward, and never expose a scaled loss outside of DeepSpeed to the client.

[2020-03-25 05:27] g-karthik commented on #150
@samyam I do think access to the scaled loss is useful to the client.

I was making changes to DeepSpeed locally to account for the points I made in this issue, and with those changes, the tqdm progress bar in my client script initially showed a loss of ~8. Only after a moment of confusion did I realize that it was because I had set gradient accumulation steps to 8. And that's when I figured chang

[2020-03-25 05:32] g-karthik commented on #130
@ShadenSmith did you get a chance to look at this?

Also, what is the recommended CUDA driver and runtime versions to run `install.sh` against?

[2020-03-25 07:23] jeffra commented on #130
I'll let Shaden respond to the conda related question. However, I can help answer the driver question. We're currently running Driver Version: 410.104  CUDA Version: 10.0.

If you are running in a cloud environment I would checkout our [azure instructions](https://www.deepspeed.ai/tutorials/azure/) to launch a VM, docker container, etc. If you're not running on azure you should be able to get the

[2020-03-25 07:46] g-karthik commented on #130
Hey @jeffra thanks for the info!

I just uninstalled apex and deepspeed from my cloud instance, and attempted to do a fresh install. I ran the following command with the latest master branch code: `./install.sh -k` The logs for this installation seemed fine.

However, when I try to run my client script, I get the following error:

[code]

This `libcudart.so.10.2` thing seems to suggest that the ve

[2020-03-25 09:47] tjruwase commented on #150
@g-karthik , @samyam , @ShadenSmith , @jeffra : Thanks for all your comments. I think we have consensus that loss scaling takes place in backward(), with backward returning the scaled values. Can you please review the linked PR? Thanks!

[2020-03-25 16:34] #90 closed

[2020-03-25 16:34] #138 closed

[2020-03-26 10:09] jiangxiluning opened #172 "Does deepspeed support torch 1.3.1 version ?"

[2020-03-26 13:17] ShadenSmith commented on #172
Hi @jiangxiluning, at this moment DeepSpeed is officially tested only on torch 1.2. Unofficially, we have tested through 1.4 and have not encountered issues. We're working to expand our testing infrastructure and officially support more versions of PyTorch.

In the meantime if you'd like to run on 1.3, the easiest way today is to just install DeepSpeed through conda. This should work on Linux:
[co

[2020-03-26 13:18] ShadenSmith commented on #172
Closing the issue, please re-open and if you run into any issues.

[2020-03-26 13:18] #172 closed

[2020-03-26 14:04] jiangxiluning commented on #172
@ShadenSmith Thank you, I will try it .

[2020-03-26 14:40] ShadenSmith commented on #130
Hi @g-karthik, the latest commit of Apex is not API-compatible with the one we are pointing to. Apex does not use versioning, so we use a submodule pointing to specific commits to enforce that. Catching up with Apex HEAD is a work in progress.

I agree that error suggests that Apex was compiled with 10.2. Were you working from a source directory that you had previously used to build+install? Apex

[2020-03-26 19:23] g-karthik commented on #130
@ShadenSmith The conda installation was not working on my Linux-based cloud instance, I didn't try on my Mac.

As for apex - the above error came after I had installed apex as part of DeepSpeed's installer script. I uninstalled apex and DeepSpeed after that, and then 1) installed apex fresh from apex's GitHub, 2) installed DeepSpeed alone fresh using `./install.sh -k -d`.

Doing 1 and 2 seems to h

[2020-03-26 19:29] samyam commented on #169
@sjtusmartboy Thank you for your interest in ZeRO and DeepSpeed. Let me try to answer your questions

1. DeepSpeed currently only implements ZeRO stage 1 which means it only does Optimizer State Partitioning but not Gradient or Parameter partitioning. To do so, by only passing the parameters that belongs to a particular partition to the param_group['params'] so that when an optimizer like ADAM ini

[2020-03-26 19:34] ShadenSmith commented on #130
Just installing DeepSpeed will not test the Apex interfaces, only the ability to import it. Your training will crash on certain code paths.

I believe the error that you're seeing is due to it linking with a version compiled against CUDA toolkit 10.2, which is newer than what you are running on there. You should:

1. Uninstall Apex (you might need `sudo pip -H uninstall apex` if it's from an old D

[2020-03-26 19:36] g-karthik commented on #130
Right, but what I don't understand is how did 10.2 come into the picture in
the first place? My cloud instance does not have 10.2 at all.

On Thu, Mar 26, 2020, 12:34 PM Shaden Smith <notifications@github.com>
wrote:

[2020-03-26 19:37] ShadenSmith commented on #130
Oh, weird. I've tested that on a few Linux instances. Can you first confirm that you are able to install PyTorch from conda there? That should be `conda install pytorch torchvision cudatoolkit=10.1 -c pytorch` if you haven't before.

[2020-03-26 19:39] g-karthik commented on #130
PyTorch comes pre-built in that instance, it's a standard AWS Deep Learning AMI instance, with a packaged conda environment called `pytorch_p36`. I simply activate that environment when needed.

[2020-03-26 21:08] dav-ell opened #174 "Need help running DeepSpeed distributed on-premises with containers"
I've followed the steps in the [Azure guide](https://www.deepspeed.ai/tutorials/azure/), with some minor adjustments:

- I can't create a user `deepspeed` on each host, I need to use an existing user `myuser`.
- I'm using my own training script, not one in the examples.

I can run training locally in the deepspeed container, but when I go to make it distributed I get very lost.

I launched the dee

[2020-03-27 05:29] jeffra commented on #174
Hi @dav-ell, thanks for using DeepSpeed and our azure tutorial.

The "No module named deepspeed.pt" error makes me wonder if deepspeed is fully installed in your docker container. What happens if you run the following two commands inside the container.

* `which deepspeed`
  * On my system, which returns: `/usr/local/bin/deepspeed`
* `python -c "import deepspeed; print(deepspeed.__git_hash__)"`

[2020-03-27 10:18] sjtusmartboy commented on #169
@samyam Thanks for your patient reply and now I come to know the system better.

For the first question, the Optimizer State parameter defined in the torch optimizer such as adam has the same size with the param_group['params'] that has been partitioned in the FP16_DeepSpeedZeroOptimizer, so the Optimizer State is also partitioned at the same time.

For the second question, FP16_DeepSpeedZeroOptim

[2020-03-27 18:55] arashashari opened #175 "DeepSpeed Examples Should Use DeepSpeed Launcher"
Currently BingBertSquad is not using DeepSpeed Launcher.
All examples should use the launcher.

[2020-03-27 19:02] jeffra commented on #175
https://github.com/microsoft/DeepSpeedExamples/blob/master/BingBertSquad/run_squad_deepspeed.sh#L22

[2020-03-27 20:22] tjruwase commented on #175
@arashashari  Thanks for creating this issue, but it really belongs in [DeepSpeedExamples](https://github.com/microsoft/DeepSpeedExamples/issues/11).

[2020-03-27 20:22] #175 closed

[2020-03-27 20:57] #150 closed

[2020-03-27 20:57] #157 closed

[2020-03-28 00:03] tjruwase opened #176 "Ensure DeepSpeedDataLoader matches torch DataLoader semantics"
DeepSpeedDataLoader is a wrapper for torch DataLoader and should at a minimum match the semantics. Right now this property is not well tested and discrepancies have already been identified, such as this #167. In my estimation, a fair bit of work is required to achieve this goal, including the following items:

1. Support [batching](https://pytorch.org/docs/stable/data.html#automatic-batching-defau

[2020-03-28 16:06] NoOneUST commented on #154
I also have such problems, 8*2080Ti
![image](https://user-images.githubusercontent.com/48406286/77827522-12cdfa80-7151-11ea-8fb7-d68e31cfb8f3.png)

[2020-03-30 08:52] tomekrut commented on #176
Hi @tjruwase
I agree that a lot could be done around DeepSpeedDataLoader so adding what I suggested does not fix everything but.... now while writing / thinking... :) for your class https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/pt/deepspeed_dataloader.py

What if you

 from the DeepSpeedDataLoader in its constructor excluding self.data object creation and adding  self.dataloader to

[2020-03-30 19:39] tjruwase commented on #176
I think your suggestion is along my thoughts as well. The only difference is that using self.data to initiate prefetching could help perf in some cases, which is why it is there. But I can be convinced otherwise. So if you have bandwidth to take a stab at this, that would be greatly appreciated.

[2020-03-31 08:39] sjtusmartboy commented on #169
@samyam I come to understand the reason of using all_gather in CSRTensor. In the data parallelism, different process will have totally different  part of the weight that should be update. So we just all_gather them in the list of indices_device_list and in the list of values_device_list and then make average of these gradients from different devices. `csr.to_dense()` function will be responsible f

[2020-03-31 12:05] tomekrut commented on #176
Hi @tjruwase  here is the pull request that I think should address the above... I don't know all your repo so well but I think it should do.
https://github.com/microsoft/DeepSpeed/pull/178

[2020-03-31 12:10] sj6077 opened #179 "Megatron-LM pretrain_bert with deepspeed"
I got this error message following GPT2 tutorial to the BERT code.
Can you let me know something that I missed?
The error message is "RuntimeError: expected scalar type Float but found Half (data<float> at /home/soojeong/deepspeed_venv/lib/python3.6/site-packages/torch/include/ATen/core/TensorMethods.h:1821)", and below is the trace.

[2020-03-31 12:23] #179 closed

[2020-03-31 17:50] tjruwase commented on #160
Closing, please reopen if needed.

[2020-03-31 17:50] #160 closed

[2020-04-01 15:48] tjruwase commented on #154
@CalogeroZarbo I have some cycles to look into this. Can you please share your deepspeed port of reformer with me? Thanks!

[2020-04-01 16:34] kouml opened #180 "Add representation method to optimizer like pytorch optimizer"
Just an Idea, so Don't hesitate to close if you disagree and priority is so low.

I suggest that optimizer should have `__repr__`  method like[ pytorch's optimizer](https://github.com/pytorch/pytorch/blob/master/torch/optim/optimizer.py#L63) to see the parameters of optimizer human-readable.

[2020-04-01 16:50] CalogeroZarbo commented on #154
@tjruwase Sure! It's all published on GitHub: https://github.com/CalogeroZarbo/bioshield
The file I run is the `train_seq2seq.py`.

Let me know if I can help.

Cheers,
Cal

[2020-04-01 16:55] tjruwase commented on #154
@CalogeroZarbo Thanks so much. That is great!

[2020-04-01 17:03] tjruwase commented on #180
Thanks. This is a good idea. Do you mind contributing a PR? Otherwise, we will keep this open until we get some spare cycles to devote to it.

[2020-04-02 00:16] samyam commented on #169
@sjtusmartboy You are right. allgather_size and reduce_bucket_size are examples of CSB. The reduce_bucket_size controls the size of the dist.all_reduce for gradient averaging while allgather_size controls the size of dist.allgather in the step.

You are also correct on 1 and 2. The parameter partitioning is the third stage of zero. We will be releasing stage 2 before that which will do gradient pa

[2020-04-02 00:37] kouml commented on #180
No, I will PR later.

[2020-04-03 14:58] LiweiPeng opened #182 "Converge issue when using DeepSpeed FusedLamb"
Hi, I tried to use DeepSpeed's FusedLamb to run BERT pretrain, but I couldn't get a good converge, especially when compared with using [Apex's FusedLamb](https://github.com/NVIDIA/apex/blob/master/apex/optimizers/fused_lamb.py).

The following are what I did:

1.  For apex's lamb, use all default FusedLAMB settings (default: bias_correction=true, eps=1e-6, weight_decay=0.01).

  For DeepSpeed's la

[2020-04-03 15:57] #180 closed

[2020-04-03 20:34] samyam commented on #182
@LiweiPeng  Thank you for trying out DeepSpeed. To narrow down what might be causing the loss gap can you provide us your bash script, bert config file and deepspeed config files?

Also, a few things that stand out to me are the following, can you give us some more information on the questions below:

1. Seems like your training is still in the early phases. The last step in the plot you shared is

[2020-04-03 20:44] samyam opened #183 "Mixed Precision Training Support"
Support to have some parameters in fp16 while others in fp32 for ZeroOptimizer.

[2020-04-03 20:49] samyam commented on #169
Seems like all the questions have been answered here. Closing the issue. @sjtusmartboy , please feel free to reopen if you have any additional questions, comments, or feedback.

[2020-04-03 20:49] #169 closed

[2020-04-03 21:26] LiweiPeng commented on #182
Thanks @samyam for the quick response. The following are more details.

1.  I am using the 2-phase training (max-seq-len=128 + max-seq-len=512). For the first loss curve, I finished the planned seq=128 part (total 14400 steps). Because the loss is so high and the SQUAD is so low, I didn't continue training for seq=512.   For the second loss-curve, I trained about 700 steps, then compared the loss

[2020-04-03 23:11] samyam commented on #182
@LiweiPeng thanks for sharing the details. We are actively working on releasing a Bert pre-training tutorial. In the meanwhile, I can share the training schedule with you to try out. The schedule is for batch size 16K, so I would recommend using that batch size for now. The convergence is highly dependent on the schedule, so getting it right is super important. Please stay tuned for the full tutor

[2020-04-03 23:16] samyam commented on #182
@LiweiPeng  also please note that we are not training seq 128 till 187000 steps, but only for 24430. The learning rate schedule is dependent on the max training steps value, so its important to set the max training steps correctly even if we are not training for fill 187K steps.

[2020-04-03 23:24] LiweiPeng commented on #182
Thanks @samyam for the detailed parameters. This is very helpful. I'll give it a try.

[2020-04-05 10:04] e4c6 commented on #134
Thank you Jeff, that's perfect.

[2020-04-05 10:04] #134 closed

[2020-04-06 05:16] LiweiPeng commented on #182
Using the above bert parameters, I got expected results. I am closing this issue.

[2020-04-06 05:16] #182 closed

[2020-04-07 02:52] Jie-Yuan commented on #172
Does deepspeed support torch 1.4 version ?

[2020-04-07 17:27] ShadenSmith commented on #172
Hi @Jie-Yuan, at this moment DeepSpeed is officially tested only on torch 1.2. Unofficially, we have tested through 1.4 and have not encountered issues. We're working to expand our testing infrastructure and officially support more versions of PyTorch.

[2020-04-08 06:40] tjruwase commented on #154
@CalogeroZarbo I found the source of problem of GPU0 using more memory than other GPUs. It is because this [line ](https://github.com/CalogeroZarbo/bioshield/blob/e94127dfbe0bed804698a2075684b67f24ea9dba/test_seq2seq.py#L17) sets device to current device, i.e. cuda:0, since device ordinal is not specified. And so all the subsequent .to(device) calls, such as [this](https://github.com/CalogeroZarbo

[2020-04-08 10:52] CalogeroZarbo commented on #154
Hi @tjruwase! Thank you for your help! This is a great fix! Sorry to bother you, it was difficult for me to understand that the problem was on my side.

Cheers,
Cal

[2020-04-08 10:52] #154 closed

[2020-04-08 21:58] saurabh-kataria commented on #73
installation fails for python 3.8

[2020-04-09 18:13] g-karthik opened #189 "A summary of primitives provided by DeepSpeed to reduce memory?"
What are some primitives (other than `"zero_optimization": true` and `  "fp16": {
    "enabled": true
  }`) that are provided in DeepSpeed to help reduce memory consumption? Also, what other relevant primitives will be available in future releases? Could you share tentative dates for those releases?

Thanks!

[2020-04-09 20:55] samyam commented on #189
@g-karthik the ones you listed are currently the main ones. You can reduce the memory footprint for the activation using activation checkpointing in addition to those. For example, see the Megatron Tutorial, but it is not a primitive inside Deepspeed..

There are a few  relevant primitives we are working on for future releases. ZeRO Stage 2 is a big one that will reduce the memory footprint of the

[2020-04-09 20:58] samyam commented on #189
I forgot to mention, you could also use gradient accumulation in DeepSpeed to limit the size of the activation memory.

[2020-04-09 21:16] g-karthik commented on #189
@samyam Thanks for the quick response! To be clear, do you mean doing [gradient checkpointing](https://pytorch.org/docs/stable/checkpoint.html) in the underlying `nn.Module` sub-class when you say "activation checkpointing"? If so, yes, I am already doing it.

And yep, I am using gradient accumulation as well - I excluded that from the original list of primitives because it assumes that I am able

[2020-04-11 03:11] 1Konny opened #191 "multiple deepspeed runs in a single machine"
Hi.

I have a 8-gpu local machine and trying to run using deepspeed 2 separate experiments with 4 gpus for each. Also, I assigned two different master ports for each experiment like

run 1
`deepspeed --include=localhost:0,1,2,3 --master_port 61000 train.py --deepspeed --deepspeed_config deepspeed_util/ds_config.json --dataset ...`

run 2
`deepspeed --include=localhost:4,5,6,7 --master_port 60000 t

[2020-04-13 17:46] kleingeo commented on #95
Using the conda install, deepspeed shows up when I run `conda list` but it is not available when trying to import in python.

[2020-04-13 18:47] tjruwase commented on #191
@1Konny Thanks for using DeepSpeed.

I just tested the feature and it works, so I am unable to repro the bug.

Can you please reduce your experiment size to use 1 GPU each and then share the resulting logs?

[2020-04-13 18:48] tjruwase commented on #120
@ShadenSmith can we close this issue?

[2020-04-13 18:49] tjruwase commented on #122
Closing since there is a workaround.

[2020-04-13 18:49] #122 closed

[2020-04-13 18:50] tjruwase commented on #167
Closing because of #176

[2020-04-13 18:50] #167 closed

[2020-04-13 19:46] ShadenSmith commented on #120
Ah sorry, not yet. There's a working PR that's missing unit tests. I'll get back to it ASAP.

[2020-04-14 04:07] 1Konny commented on #191
Here are the logs

- First run using port 60000 and gpu 0. This run works well

`deepspeed --include=localhost:0 --master_port 60000 train_ds.py --deepspeed --deepspeed_config deepspeed_util/ds_config_fp16_zero.json --dataset ...`
[code]

- The second run with port 61000 and gpu 3. This run throws an error.

`deepspeed --include=localhost:3 --master_port 61000 train_ds.py --deepspeed --deepspeed_c

[2020-04-14 04:46] tjruwase commented on #191
Thanks for sharing the log.

The following warning in the log shows that problem is that deepspeed launcher is not being used, and so the master_port argument is ignored.

Can you please retry after creating and specifying a hostfile as described [here](https://github.com/microsoft/DeepSpeed#resource-configuration-multi-node)?

[2020-04-17 08:00] lwdhw1987 opened #192 "1.5B gpt2 training with zero enabled got "CUDA out of memory" on Nividia V100 (32GB)"
In the Megatron tutorial I found you can train 1.5B gpt2 with zero enabled on V100(32GB)，But I tried and got "CUDA out of memory" with the same configuration,  Could you help me check my configuration

My enviroment and test output  :
root@localhost186:Megatron-LM# nvidia-smi
Fri Apr 17 03:56:54 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 396.3

[2020-04-17 19:23] tjruwase commented on #192
@lwdhw1987 Thanks for using DeepSpeed.

The problem here is that you are using a very large per-step batch size (i.e., micro batch size) of 32 per GPU. This is much larger than can be supported for data parallelism (DP) degree of 8. The way ZeRO works is that the micro batch size grows with the DP degree (See Table 1 in [paper](https://arxiv.org/pdf/1910.02054.pdf)). The tutorial uses DP degree of

[2020-04-17 19:23] #192 closed

[2020-04-18 23:47] tjruwase opened #193 "ZeRO Optimizer: Redundant data copies"
These redundant data copies in [ZeRO](https://github.com/microsoft/DeepSpeed/blob/675d73e0ab69e6d4a1d2caff9fb3680aaa93e296/deepspeed/pt/deepspeed_zero_optimizer.py#L387-L389) is a perf bug that affects models with large number (e.g., 100s) of parameter groups.

[2020-04-19 00:53] samyam commented on #189
@g-karthik sorry for the late response.

I do mean gradient checkpointing or re-materialization. I prefer the term activation checkpointing because we are literally saving a few activation in memory for re-computation during backprop.

How much of a performance hit did you notice? We expect an about 30% perf drop from using gradient checkpointing.

I would imagine that for a 1.5B GPT-2 model with

[2020-04-19 00:57] samyam opened #195 "detect redundant tensors in param group"
When creating the optimizer, check for parameter duplicates in the param_group. Currently, we will create memory for all tensors in the param_groups even if they internally point to the same tensor data.

This can be an issue with models containing tied parameters. Since these parameters could be member variable of different modules, they will be detected as different parameters by torch, even tho

[2020-04-20 09:14] GlacierMelt opened #196 "How to use other optimizers not in deepspeed？"
Like ranger, Radam, etc.

[2020-04-20 14:04] ShadenSmith commented on #196
Thank you for your interest in DeepSpeed!

There are two ways to specify an optimizer.

The first and most flexible method is to simply initialize your own optimizer of choice and supply it to `deepspeed.initialize()`. There's more documentation on that [here](https://deepspeed.readthedocs.io/en/latest/deepspeed.html#deepspeed.initialize). For example:

[code]

The second method is to specify it i

[2020-04-20 14:28] tjruwase commented on #196
@GlacierMelt Also see #153 for details on the support.

[2020-04-20 14:28] #196 closed

[2020-04-20 14:29] tjruwase commented on #191
@1Konny Please reopen as needed

[2020-04-20 17:18] ShadenSmith commented on #95
Hi @kleingeo, thanks for the report. I can see that on my end now as well. Not sure what happened...I'm looking into it.

Interestingly, the `deepspeed` entry point looks fine and is found in my `$PATH` after installation. And I can see the DeepSpeed library installed under `~/miniconda3/envs/test/lib/python3.7/site-packages/deepspeed/` (where `test` is my conda environment name), and also see the

[2020-04-20 17:54] g-karthik commented on #189
@samyam I didn't measure the increase in train time, but it certainly took much longer to converge than without gradient checkpointing.

Unfortunately I'm not able to do this, even with a max sequence length of about 500.

I didn't try to fit a sequence length of 1024, because even 500 was not working without gradient checkpointing. But given that I was able to get 500 to work with gradient checkp

[2020-04-20 17:54] #189 closed

[2020-04-20 20:01] noujaimc opened #199 "setup.py fails"
I'm trying simply to build the library under Windows 10. I ran the following command : python setup.py install
I got the following error :
C:\Users\noujach\Desktop\DeepSpeed-master>python setup.py install
[code]

[2020-04-20 22:21] tjruwase commented on #199
@noujaimc Thanks for using DeepSpeed.

This looks like a torch issue, rather than DeepSpeed.  Can you please clarify?

[2020-04-20 22:21] #199 closed

[2020-04-21 00:36] noujaimc commented on #199
I'm using Python 3.7.3 on Windows 10. I installed the the Torch version 1.2 and torchvision 0.4.0 using the command provided by Torch:

`pip install torch===1.2.0 torchvision===0.4.0 -f https://download.pytorch.org/whl/torch_stable.html`

From the DeepSpeed repository(master). I ran this command for the requirements:
` pip install -r requirements.txt `

All was successful.

Than, I ran the setup.p

[2020-04-21 01:09] GlacierMelt commented on #196
Oh, I got it. Thanks.

[2020-04-22 09:13] sj6077 opened #200 "Megatron-LM BERT"
I left an issue here(https://github.com/microsoft/DeepSpeedExamples/issues/18).
There's a BERT tutorial using Bing BERT but not the Megatron-LM version.
Is there any big difference between BERT and GPT2 of Megatron-LM?

[2020-04-22 20:22] loretoparisi commented on #59
+1 to release the LM!
In the meantime, the second best LM model freely available (NVIDIA Megatron 11 billions parameters) can be downloaded from Facebook Research fair (11b, 19GB model!)
https://github.com/pytorch/fairseq/blob/master/examples/megatron_11b/README.md

[2020-04-23 15:26] kleingeo commented on #95
Yes, I remember having this problem a lot when trying to install deepspeed normally with the install.sh file. With a normal python virtual env it works, but for some reason with Conda, it consistently tries to install to another location. The only thing I found to work was to force pip (when using conda) to force the install location to where the install.sh file installs Apex.

[2020-04-23 20:41] g-karthik commented on #189
@samyam An unrelated question: in your experience, does using the Lamb optimizer with DeepSpeed typically reduce training time in comparison to Adam?

[2020-04-24 16:24] #129 closed

[2020-04-27 16:41] #193 closed

[2020-04-28 18:27] jeffra commented on #174
@dav-ell any updates on this? did you resolve your issue? If not please re-open.

[2020-04-28 18:27] #174 closed

[2020-04-28 18:30] jeffra commented on #200
I don't think we have (officially) added DeepSpeed to Megatron's version of Bert. I think I have heard some folks who have done this though. There shouldn't be anything fundamentally preventing DeepSpeed from running with Megatron BERT though so give it a try and let us know if you run into any issues or have questions :) Would absolutely welcome a PR into our examples repo!

[2020-04-28 18:31] jeffra commented on #200
Will respond to your issue directly in the other thread.

[2020-04-29 05:11] sj6077 commented on #200
@jeffra Thanks!

[2020-04-29 05:11] #200 closed

[2020-04-29 17:39] dav-ell commented on #174
@jeffra Thanks for checking back in. I did not; I ended up, unfortunately, using PyTorch's regular distributed handling, and haven't tried deepspeed since.

[2020-04-29 17:49] jeffra commented on #174
Sorry to hear that. Let us know if you want to try again and if you still have issues.

[2020-05-04 00:29] MannyKayy opened #207 "SLURM support"
Hi,

Great work !

It would be useful to have inbuilt support for multi-node training on SLURM managed clusters, similar to [Pytorch-Lightning](https://pytorch-lightning.readthedocs.io/en/latest/slurm.html).

[2020-05-05 22:42] ShadenSmith commented on #207
Hi @MannyKayy, this is an interesting idea. Off the top of my head I'm not sure of what changes we'd need to support SLURM. DeepSpeed already supports [launching via MPI](https://www.deepspeed.ai/getting-started/#mpi-compatibility), so I _think_ it should work today if you treat it as a typical MPI job. Do please let us know if you have a chance to try it out and how it goes!

[2020-05-06 14:00] quancore opened #210 "pytorch tpu xla"
I could not found an answer for training a PyTorch model using TPUs and XLA. Is it possible with this library?

[2020-05-06 17:08] tjruwase opened #211 "Support dynamic loss scaling parameters in FP16 optimizers"
Enable configuration of fp16 optimizers with dynamic loss scaling parameters in json config.

[2020-05-06 17:09] #120 closed

[2020-05-11 19:36] #211 closed

[2020-05-12 16:50] ShadenSmith commented on #207
Closing for now. Please reopen if there you encounter an issues :-).

[2020-05-12 16:50] #207 closed

[2020-05-21 16:21] jdongca2003 commented on #95
@ShadenSmith , it is easier to install deepspeed via your conda command than 'install.sh' (prone to fail).  In the deepspeed channel, only early-version deepspeed exists.

conda search -f deepspeed -c deepspeed
Loading channels: done
# Name                       Version           Build  Channel
deepspeed                      0.1.0 py3.6_cuda10.0.130_0  deepspeed
deepspeed                      0.1.

[2020-05-21 22:50] dkavaler opened #226 "ZeRO-2 per-epoch training time significantly slower than ZeRO-1"
Thank you very much for this fantastic work.

I have already implemented ZeRO-1 on top of my existing model pipeline and experienced a significant reduction in training time and memory usage. I am trying to use ZeRO-2 and have a few questions.

For ZeRO-1, I use the following configuration on a system with 8 GPUs (so `gradient_accumulation_steps` should be 1):

[code]

The per-epoch training time

[2020-05-23 17:40] jeffra commented on #226
How big is you model in terms of number of parameters? Can you attach the log files for the two runs? Also can you turn on the wall clock breakdown deepspeed config? https://www.deepspeed.ai/docs/config-json/#logging

[2020-05-23 23:52] corbyrosset opened #227 "load_optimizer_states not obeyed in _load_zero_checkpoint"
As I brought up before in meetings, deepspeed_light.py > _load_zero_checkpoint line 1136 does not obey the input argument of "load_optimizer_states". An extra if statement is needed such that:

[code]

original function:

[code]

Thanks, Corby :)

[2020-05-25 20:39] sebastienwood opened #229 "Invertible ops"
Hi !
Less of an issue than a question, in [this](https://www.microsoft.com/en-us/research/blog/zero-2-deepspeed-shattering-barriers-of-deep-learning-speed-scale/) research blog there is a mention of an invertible Softmax.
I searched an implementation to make sure I understood it, and the differences with a normal softmax, without success.
Can anyone point me where to look at ?
Thanks !

[2020-05-25 20:40] tjruwase commented on #227
@corbyrosset  Thanks for this report. However, I don't think there is a problem with the code, but rather there is some confusion because of the overloading of "optimizer". Specifically, `load_optimizer_states`  refers to the base (fp32) optimizer like Adam/Lamb, etc., while `self.optimizer` in this context refers to ZeRO, a wrapper (fp16) optimizer. And so setting `load_optimizer_states ` is not

[2020-05-26 17:53] dkavaler commented on #226
Apologies for the delayed response, did not have access to my machine.

The underlying model has 26,275,840 trained parameters.

Attached are log files for both configs (with wall clock breakdown added).

[test_deepspeed_only_zero1.log](https://github.com/microsoft/DeepSpeed/files/4684076/test_deepspeed_only_zero1.log)
[test_deepspeed_only_zero2.log](https://github.com/microsoft/DeepSpeed/files/46

[2020-05-27 07:33] howellyoung-s opened #237 "ZeRO2 out of memory with Megtron-LM for less than 30B parameters"
## My system configure
Pytorch 1.3.1
CUDA 10.1
Python 3.6
Hardware : GPU:  each machine 8xV100 -32G memory
ZeRO-2 version
commit: abe2204ddd1d5f60cd3303ead4df22deb5303a5b （#232）
DeepSpeedExample version:
commit:  274787a189b265814ed75dd5ddeae2dce026ea88 （#22）

## Excute scripts
`python -m torch.distributed.launch $DISTRIBUTED_ARGS \
       pretrain_gpt2.py \
       --model-parallel-size 8 \

[2020-05-27 15:28] ShadenSmith commented on #95
Hi @jdongca2003, I have some time to dedicate to the DeepSpeed's conda infrastructure now that the v0.2 release is complete. I'm looking at improved packages (per the above bug report) and automating the package build process.

[2020-05-27 16:48] samyam commented on #226
@dkavaler  Could you try the following configuration for zero-2

  "zero_optimization": {
    "stage": 2,
    "contiguous_gradients" : false
    }

And log the wallclock breakdown. This should fix the issue. If not can you then try the following:

  "zero_optimization": {
    "stage": 2,
    "contiguous_gradients" : false,
    "reduce_bucket_size": 27000000
    }

[2020-05-27 17:08] samyam commented on #237
@howellyoung-s let me try to respond to both your questions:

1. Both ZeRO-2 and ZeRO-1 reduces memory footprint by partitioning model states across data parallel GPUs. With your setting, your data parallelism is 1, so there is no memory reduction here. The max you can fit on 8 GPUs with 32 GB of memory each is likely about 8B -10B model.  The 40B parameter models you refer to in the paper are run

[2020-05-27 17:20] samyam commented on #229
@sebastienwood We are preparing the code for release very soon. Please keep an eye on https://www.deepspeed.ai/ for when it arrives.

The invertible Softmax can compute the backward without requiring to store the input to the softmax simply based on the output because it can derive the input directly from the output in some sense. A simplified example would be y=exp(x). You can compute x from y as

[2020-05-27 17:21] jeffra commented on #229
Hi @sebastienwood, thanks for your interest! We will be releasing our optimized transformer kernels _very_ soon. This will include the code for invertible softmax. Stay tuned! :) https://www.deepspeed.ai/news/2020/05/18/bert-record.html

[2020-05-27 18:35] dkavaler commented on #226
@samyam Thank you very much, setting `contiguous_gradients` to false worked! I am getting a speedup and memory reduction now (caveat: I've only tested for 100 steps) using stage 2 vs. stage 1 now.

As a note, `contiguous_gradients` is specified as false by default in the [documentation](https://www.deepspeed.ai/docs/config-json/#zero-optimizations-for-fp16-training), but it [appears in code](https

[2020-05-27 18:58] jeffra commented on #226
Thanks @dkavaler! Glad that your all fixed up now, we see that contiguous_gradients helps improve performance in larger model sizes but we are observing it hurting performance for smaller models. In terms of the documentation/code we just merged in a PR fixing this actually: https://github.com/microsoft/DeepSpeed/pull/239

I'll close for now, please re-open if you see any further issues here.

[2020-05-27 18:58] #226 closed

[2020-05-27 23:20] jdongca2003 commented on #95
@ShadenSmith Thanks. I tested your conda deepspeed package onhttps://github.com/microsoft/DeepSpeedExamples/tree/master/cifar.  It failed on Tesla K80 and I got the following error mesage:
"
THCudaCheck FAIL file=csrc/fused_adam_cuda_kernel.cu line=135 error=209 : no kernel image is available for execution on the device
Traceback (most recent call last):
  File "cifar10_deepspeed.py", line 178, in

[2020-05-28 09:25] howellyoung-s commented on #237
@samyam Thanks very much for the advices!
I find I had a misunderstanding of ZeRO, the number of partition should be the data-parallel size but not the model-parallel size. For the first question, I tried a new experiment of 40B model training on 8x8 GPUS with ZeRO-2 and 'wall_clock_breakdown=true'. This time the initialization is successfully completed but after just several iterations the OOM pr

[2020-05-29 08:00] loretoparisi commented on #59
After the giant GPT-3 has been released I assume Turing-NLG can be proposed as a reasonable alternative to academic research.

[2020-05-29 08:19] Colanim opened #241 "❓ Does using FP16 during fine-tuning reduce task score ?"
I'm trying to fine-tune BART on 4 GPU GTX1080 (11Gb memory).

The author did fine-tune BART on 8 GPU V100 (32Gb memory). They could fit 2 sample per GPU.

So theorically, if I'm using FP16, I should be able to fit 1 sample per GPU, am I right ?

---

My question is : **Does using FP16 for fine-tuning a model reduce the end score ? Should I expect a decrease in score ?**

[2020-05-29 21:46] samyam commented on #237
With 40B you are running close to the edge on your setup. Here are few suggestions that may help:

1. Please turn on the deepspeed_activation_checkpointing in your launch script
2. Please try turning on partition_activations, contiguous_gradients, contiguous_memory_optimization and synchronize_checkpoint_boundary (https://www.deepspeed.ai/docs/config-json/)
3. Turn on communication overlap in zero

[2020-05-30 05:48] jeffra commented on #229
Hi @sebastienwood, I wanted to give you an update. We've now released all our transformer kernel source and updated our BERT example code. You can find out more details in our deep dive: https://www.deepspeed.ai/news/2020/05/27/fastest-bert-training.html

If you have further questions feel free to re-open this issue but I'll close it for now.

[2020-05-30 05:48] #229 closed

[2020-05-31 04:01] sebastienwood commented on #229
Thank you very much ! :)

[2020-05-31 11:03] analog75 commented on #95
In V100, Same error with THCudaChecker happens!!

[2020-06-01 09:19] howellyoung-s commented on #237
I change the configures according to your advices and it seems works fine now, that's cool, thanks a lot!

[2020-06-01 09:19] #237 closed

[2020-06-03 14:27] tbennun opened #251 "Failing to compile from install.sh"
I'm getting the following two errors while compiling the code:

1.
[code]
I copied two files from `thirdparty/apex/csrc` (`compat.h` and `type_shim.h`) and it worked.

2.
[code]
It seems that (for some reason) the `-I` flag is not using absolute paths, but the compiled files are. I fixed that by adding absolute paths in `setup.py`, replacing all relevant `include_dirs` lines with:
[code]

I can al

[2020-06-03 20:12] tjruwase commented on #251
@tbennun  Thanks for your interest in DeepSpeed.
It seems both errors have the same root cause, which is that `include_dirs` [directive ](https://github.com/microsoft/DeepSpeed/blob/fd2a8fd5b25b293252063aa2bb5a1047b146749e/setup.py#L97) is not working for some reason in your setup. I don't think we should need absolute path if you are running from the deepspeed installation folder.

Here are a cou

[2020-06-03 23:50] tbennun commented on #251
1. Indeed, the `include_dirs` fix also fixed the first error.
2. I use Anaconda Python to set up an environment, as docker is currently not supported on our environment. I cloned the repo recursively, went into the main folder and ran install.sh without arguments. My exact process is as follows:
* `conda create -n deepspeed python=3.7; conda activate deepspeed`
* `git clone --recursive https://git

[2020-06-04 18:39] LiweiPeng opened #253 "why deepspeed transformer only adjust init range on rank 0?"
Thanks for open source your deepspeed transformer code.

At [deepspeed_cuda.py function init_transformer_weights](https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/pt/deepspeed_cuda.py#L483), the adjust init range feature is applied to rank 0 only. Can you explain why rank 0 only? Shouldn't it be applied to all ranks? Thanks.

[2020-06-04 19:24] samyam commented on #253
@LiweiPeng : The adjust init range happens on rank 0, but since the weights are broadcasted to all the ranks in deepspeed.initialize, it will be propagated to all the ranks.

[2020-06-04 21:30] LiweiPeng commented on #253
@samyam Thanks for the quick response. Because the deepspeed transformer code is an excellent feature itself, in case someone wants to use the deepspeed transformer code only without using the other part of the deepspeed functionality, is the adjust init range still only on rank 0? Thanks.

[2020-06-04 21:40] samyam commented on #253
@LiweiPeng I think so. Regardless of what you use for data parallelism (deepspeed or something else), it must do a broadcast at the beginning of the training to make sure all the parameters across different ranks are in sync. One issue I can imagine is in case the broadcast happens from an arbitrary rank source and not from rank 0 but that would be pretty weird implementation decision.

[2020-06-04 21:42] samyam commented on #253
@LiweiPeng I do understand though that its a bit confusing. Do you have a suggestion for clarification other than just adding a comment?

[2020-06-04 21:58] LiweiPeng commented on #253
Thanks for the clarification. I recommend to add some comment for this. I couldn't figure out a better way because it depends on a user's implementation.

[2020-06-04 22:07] #99 closed

[2020-06-05 21:42] #227 closed

[2020-06-08 05:30] Colanim opened #255 "Slow training"
I'm trying to train BART from HuggingFace library.

But the training is extremely slow, on 4 GPU. Logs show this :

[INFO 2020-06-08 05:26:34] 0/2700, SamplesPerSec=13.198177991591365

It says 13 samples per sec, but if we look at the steps number and log time, we can see it takes 15 sec to do 50 samples =>  **3.33 samples per sec**.

**Why is the training so slow and why the logs are showing cont

[2020-06-08 05:39] jeffra commented on #255
Can you enable wall_clock_breakdown in your deepspeed json config? https://www.deepspeed.ai/docs/config-json/#logging

This breakdown should give us some additional information on where the time is being spent.

[2020-06-08 06:04] Colanim commented on #255
Thanks for the lightning-fast answer !

Here is some logs with the `wall_clock_breakdown` enabled :

time (ms) | forward_microstep: 193.65 | backward_microstep: 329.25 | backward_inner_microstep: 329.14 | backward_allreduce_microstep: 0.05 | step_microstep: 0.92
time (ms) | forward_microstep: 203.21 | backward_microstep: 323.86 | backward_inner_microstep: 323.81 | backward_allreduce_microstep: 0.0

[2020-06-08 07:07] chunyang-wen opened #256 "Too many global variables"
There are lots of `global` usage in a couple of modules. Maybe we should try to reduce the usage and have a better structure of the code. For example, if a lot of functions share similar globals, we can make a class. In order to be compatible with the old code, we can create aliases for them.

[2020-06-08 14:13] ShadenSmith commented on #255
Hi @Colanim, it looks like you are using gradient accumulation from those logs. You can see that the `allreduce` and `step` are close to zero for more steps - they are amortized over time by accumulating local gradients for multiple steps before reducing them and then updating model steps.

You can see from this line that only about a small amount of time is spent in the communication step (allred

[2020-06-08 15:39] ShadenSmith commented on #256
Hi @chunyang-wen, totally agree that we should avoid global variable usage when it makes sense to do so. We always try to improve the codebase as time permits when we work on DeepSpeed. We also always love pull requests :-).

[2020-06-08 23:43] Colanim commented on #255
Thank you for your answer.

Unfortunately, my GPU have a small amount of memory : I can't put more sample in a batch.

I'll close if nothing seems out of place. Thanks again for your answer !

[2020-06-08 23:43] #255 closed

[2020-06-09 09:45] wangli1426 opened #259 "Not see desirable GPU memory saving when running DeepSpeedExamples/BingBertSquad"
Hi ALL,

I run DeepSpeedExamples/BingBertSquad using docker image `deepspeed/deepspeed:latest `. I launched 16 ranks on two GPU servers, each of which is equipped with 8 V100 GPUs.

However, only 20% GPU memory saving, aka. 2.5GB per GPU vs 1.9 GB per GPU,  was observed when I turned on `zero_optimization` and `activation_checkpointing`. Is this normal?

The config is attached as below.
[code]

Th

[2020-06-10 07:49] chunyang-wen commented on #256
I am planning to update related code if I am available.

[2020-06-11 07:14] schinger commented on #63
mark

[2020-06-11 08:31] wangli1426 commented on #259
Any suggestions?

[2020-06-12 22:28] vidushv commented on #199
I had the same issue and did some research, looks like torch.distributed is still a work in progress for Windows: [pytorch/issues/37068](https://github.com/pytorch/pytorch/issues/37068).

I launched a vm with linux and it works well there.

[2020-06-15 19:32] nishantagrawalgit opened #264 "Deepspeed communication pattern clarification"
Queries regarding communcation calls in Deepspeed for Stage1(Zero1) and Stage2(Zero2):

1.  As per paper, Stage1(Zero1) has Optimizer split implementation and we should see below calls on 2 GPU's(1 layer GPT2/345m model) with NCCL:
    1 call - Reduce_Scatter for Gradients
    1 call - All_Gather for optimizer

	As per details mentioned in one of prior github issues(Deepspeed) that reduce_scatter

[2020-06-17 22:15] samyam commented on #264
@nishantagrawalgit  Thank you for your interest in DeepSpeed.

1.
a) Reduce Scatter for Stage 1 is now already implemented. It is the default option for Stage 1, and we have removed the allreduce version from Stage 1

We use reduce_scatter instead of all_reduce to reduce the communication volume by half.

b) Buffer Overflow is normal at the beginning of the training. It is because of the loss scal

[2020-06-18 19:48] nishantagrawalgit commented on #264
Thanks for the insights. We understood your clarifications on Stage2. We have few more queries on Stage2 communication pattern:
- Stage2 communication calls should be same as Stage1 - Scatter_Reduce of the gradients and All_Gather for optimizer. But what we see from Stage2 comms profiling is below -
All_Reduce for the gradients and All_Gather for the optimizer
If we doing All_Reduce for the gradie

[2020-06-20 02:00] samyam commented on #264
@nishantagrawalgit it is very strange that you are seeing all_reduce_calls for stage 1. Are you able to see which file and line number those all_reduce calls are coming from? Stage 1 should not have any all_reduce calls, only reduce scatter calls.

For Stage 2 there are several config parameters that will control the communication behavior:
  i) reduce_scatter: If you set it to be false, it will u

[2020-06-20 02:13] samyam commented on #259
@wangli1426 Thank you for trying out DeepSpeed.

For the Bert Large the max memory saving from ZeRO Stage 2 should be about 4GB.

Activation Checkpointing is not implemented in BingBertSquad so that will not make any difference.

How are you measuring the memory savings? nvidia-smi does not give a good indication of memory usage in case you are using that because torch caches a bunch of memory. Yo

[2020-06-20 09:17] wangli1426 commented on #259
@samyam
Thank you for your response.

Yes, we noticed Activation Checkpointing is not implemented in BertBertSquad. We will try to implement it and will test what happens when Activation Checkpointing is enabled.

Yes, I measured the memory savings by Nvidia-smi. I will use torch.cuda.memory_allocated() to print the memory usage instead.

Thank you.

[2020-06-21 00:23] LiweiPeng opened #272 "How to reproduce BERT perf results in deepspeed blog"
Hi Deepspeed team,

The BERT perf results from blog [Microsoft DeepSpeed achieves the fastest BERT training time](https://www.deepspeed.ai/news/2020/05/27/fastest-bert-training.html) are very impressive. Can you share the detailed parameters for Figure 1 in the blog? Specifically, can you share answers to the following questions?
- When testing nvbert and huggingface bert, what mixed precision is

[2020-06-22 01:29] RezaYazdaniAminabadi commented on #272
Hi Liwei,

Thanks for trying out the deepspeed transformer kernel.
I assume you use a 32-GB NVIDIA V100 GPU for this experiment, am I right?
I wonder what total batch size you are using. I mean if it is with gradient accumulation of 1 or higher. Also, is it a post-ln or pre-ln BERT layer that you are running the training with?
We use the pre-ln BERT structure and we set the gradient accumulation t

[2020-06-22 03:00] LiweiPeng commented on #272
@RezaYazdaniAminabadi , Thanks for your quick response.

To answer your questions:
- I am using one 32-GB Nvidia V100 GPU.
- I am using the post-layernorm in [nvidia's code](https://github.com/NVIDIA/DeepLearningExamples/tree/master/PyTorch/LanguageModeling/BERT) because this is the only mode nvbert supports.
- I am using English dataset (wikipedia + bookcorpus).
- I tried 2 sets of test:
  test1:

[2020-06-22 05:09] RezaYazdaniAminabadi commented on #272
Thanks for the reply. If you want to try pre-ln model, you may use the example in deepspeed: https://github.com/microsoft/DeepSpeedExamples/blob/8610e5e3fcce5fb247e3b85ea2bed0f2296b5443/bing_bert/nvidia/modelingpreln.py
Regarding the performance difference, the pre-ln may have some performance difference than post-ln. Another difference is that we use deepspeed to run the nvidia modeling. You can

[2020-06-22 14:12] LiweiPeng commented on #272
Thanks Reza. I'll try the deepspeed example way.

[2020-06-22 21:14] g-karthik opened #274 "DeepSpeed launch jobs with Kubernetes"
I'm hoping to launch DeepSpeed-based multi-node training jobs with Kubernetes, and for this purpose, I'm currently working on writing YAML files for my jobs and building a custom Docker image with all needed third-party dependencies (including DeepSpeed).

I see in the [resource-configuration-multi-node](https://www.deepspeed.ai/getting-started/#resource-configuration-multi-node) section of the do

[2020-06-22 23:19] jeffra commented on #274
We are actually using Kubernetes in some of our deployments of DeepSpeed (via https://github.com/microsoft/dlworkspace but in this setup DLWorkspace creates the yaml files on the fly for us per job). Can you tell me a bit more about your setup? Perhaps share a sample yaml you are using?

Area you already able to use `mpirun` for different applications? If so then yes you can launch DeepSpeed with

[2020-06-23 18:16] nishantagrawalgit commented on #264
@samyam Yes we are able to see Reduce calls(not Reduce_scatter) in Stage2 now by setting "Continuous_gradient=True" explicitly. We need to understand the significance of this flag which triggers Reduce calls instead of All_Reduce in Stage2.

For Stage1 - We are still seeing AllReduce calls in the backpass even by setting "continuous_gradient=True". As per our understanding, All_Reduce calls in bac

[2020-06-24 00:20] samyam commented on #264
@nishantagrawalgit  The contiguous_gradient flag defragments the memory during backward propagation. You can find details on this in our archive paper https://arxiv.org/abs/1910.02054 in section 6.3.

The reduce-scatter in stage 2 is implemented as a sequence of reduce calls.

For Stage 1, are you using Pytorch DDP with DeepSpeed? If you are, can you try running with DeepSpeed without the Pytroch

[2020-06-24 06:01] Rachnas commented on #274
@g-karthik, @jeffra, I am in the same boat, trying to run multi node training with Kubernetes using ds_zero2_pretrain_gpt2_model_parallel.sh script.  I have some doubts about hostfile, given 2 nodes, 1 GPU per node. Do I need to mention both the machine names in hostfile? A sample hostfile will be helpful.
I created host file as described in the resource-configuration-multi-node section, but ssh f

[2020-06-24 06:06] jeffra commented on #274
@Rachnas the hostfile should be something like the example in [resource-configuration-multi-node](https://www.deepspeed.ai/getting-started/#resource-configuration-multi-node)

[code]

Where in the above hostfile `worker-1` should be ssh-able with that name either by hostname or [ssh-config alias](https://www.ostechnix.com/how-to-create-ssh-alias-in-linux/) and you should be able to run this comman

[2020-06-24 06:10] Rachnas commented on #274
Thanks @jeffra I did the same, mention IP addresses in place of worker-1 and worker-2. Is it correct ?

[2020-06-24 06:13] jeffra commented on #274
@Rachnas IP addresses should work here also, I don't see why not. For context, the deepspeed launcher uses [pdsh](https://linux.die.net/man/1/pdsh) in the backend to launch processes across nodes so as long as the nodes are ssh-able like i describe above then you should be good to go.

[2020-06-24 06:16] Rachnas commented on #274
@jeffra, yes looks like IP address worked. But it fails for me at ssh authentication
connect to host <> port <>: Connection refused

[2020-06-24 06:24] jeffra commented on #274
@Rachnas are you using our DeepSpeed docker image or your own? Our image sets the ssh port to 2222 by default: https://github.com/microsoft/DeepSpeed/blob/master/Dockerfile#L87-L89

Can you share the output of these two commands on one of the worker nodes?
1) `grep "Port " /etc/ssh/sshd_config`
2) `service ssh status`

[2020-06-24 06:38] Rachnas commented on #274
@jeffra Thanks for pointing it out. I am not using DeepSpeed docker image.  Command outputs are:
* sshd is running
#Port 22

[2020-06-24 06:50] jeffra commented on #274
Interesting. Can you successfully `ssh localhost date` (or replace localhost with the ip address of the local node you are trying this on)? I am just concerned that your ssh server isn't setup properly.

If it's a password issue you'll want to make sure you have setup your key properly in ~/.ssh/. I would recommend some reading on posts similar to this: https://askubuntu.com/questions/46930/how-ca

[2020-06-24 07:07] Rachnas commented on #274
@jeffra thank you so much. I think my password issues is because of kubernetes setup I am working in (jumpbox, PODs etc). Not possible to give much details :) . I will try to solve this and update outcome here.

[2020-06-24 07:09] jeffra commented on #274
Sounds good, this at least points you to what I believe is the core issue. If you can solve the passwordless SSH issue then you should be good to go to run DeepSpeed in your environment.

[2020-06-24 07:11] Rachnas commented on #274
@jeffra I am hoping the same. This is such a great learning, many thanks to you and your team for DeepSpeed.

[2020-06-25 08:09] JF-D commented on #272
@RezaYazdaniAminabadi  I tried DeepSpeed bing_bert example, but I only got 200 samples/sec with batch size 64 and  gradient accumulation of 10 for 128 max sequence length. I use a 32GB V100 GPU and dummy dataloader. I am quite confused about this result.
![image](https://user-images.githubusercontent.com/30710061/85680884-49d68c80-b6fd-11ea-9b62-f0b948b64557.png)

Besides, for distributed BERT Lar

[2020-06-25 09:05] JF-D commented on #272
@LiweiPeng  Hi, did you try the deepspeed example and get the same perf results in deepspeed blog?

[2020-06-25 10:32] LiweiPeng commented on #272
@JF-D I haven't got a chance to try the deepspeed example yet. will update once I try it.

[2020-06-25 18:16] RezaYazdaniAminabadi commented on #272
Hi @JF-D,
Thanks for trying out the deepspeed transformer kernel.
I just ran the DeepSpeedExample with setting the --deepspeed_transformer_kernel flag in bash ds_train_bert_bsz64k_seq128.sh script. Also, I changed the train_batch_size from 64K to 640 (considering gradient accumulation of 10) in deepspeed json config file. I am using the rest of the configuration as default. I can get much higher s

[2020-06-25 18:30] RezaYazdaniAminabadi commented on #272
By the way, if you even set the gradient accumulation to 1, using 1 NVIDIA V100 GPU (32GB), you should get a high samples/sec.
![image](https://user-images.githubusercontent.com/44502768/85777929-eb96b300-b6d6-11ea-8cdc-208aa39d0b70.png)

[2020-06-26 05:55] JF-D commented on #272
@RezaYazdaniAminabadi  Thanks for your quick response.
I just follow your configuration except that I made some changes to the dataloader. But I used a dummy dataloader to avoid  its effects.

After setting the wall_clock_breakdown flag in deepspeed config to true, I get this log.
![image](https://user-images.githubusercontent.com/30710061/85825230-45b97600-b7b4-11ea-91b9-9a2e2f745f05.png)

For ot

[2020-06-26 08:09] RezaYazdaniAminabadi commented on #272
Hi @JF-D,

Thanks for providing more information of your experiment.
Clearly, we have some hardware differences here. I am using a DGX-2. Also, I am performing the evaluation using Pytorch 1.2. You can find the GPU info as follows. In my experiment, I am seeing the power is on average around 340 Watt, and the GPU utilization is >98%.

![image](https://user-images.githubusercontent.com/44502768/858

[2020-06-26 11:39] JF-D commented on #272
@RezaYazdaniAminabadi Thanks a lot. I have a few more questions and I look forward to receiving your answers.
1. It seems that the difference between our speed is caused by the different hardware (V100 SXM3 vs SXM2). I don't have dgx2 and I don't know much about their difference in training networks. Do you think that this difference is normal, and dgx2 can be 10% faster?
2. For your training, did

[2020-06-26 15:18] vfdev-5 commented on #251
Same issue for me with relative path of `include_dirs` when executing `install.sh` like that:
[code]

[2020-06-28 00:28] vfdev-5 opened #279 "Make optional tensorflow dependency"
Hi

I was wondering whether it could be possible to make tensorflow dependency optional (in `requirements.txt`) as it seems like not to be explicitly used in the package. But by default when installing tensorflow, it installs a lot of side packages that pytorch user's probably wont use...

Thanks

EDIT:
maybe, it even would make more sense to introduce `requirements-dev.txt` as current requirement

[2020-06-28 00:41] vfdev-5 opened #280 "Installation fails on pytorch-1.5.1 docker image, "fatal error: type_shim.h: No such file or directory""
Hi,

I'm trying to install deepspeed with pytorch 1.5.1 version and it fails with the error
[code]
same as in the https://github.com/microsoft/DeepSpeed/issues/251

Here are the steps how to reproduce:
[code]

EDIT:
I could successfully build DeepSpeed if when replaced `include_dirs` relative path by absolute path.

Issue maybe related to https://github.com/pytorch/pytorch/issues/37707

[2020-06-28 13:52] vfdev-5 opened #281 "optimizer_name() is None when used client optimizer"
There is a bug encountered when using client optimizer (Adam) and zero optimization:
[code]

In this case `self.optimizer_name() is None` and the following check is incorrect:

https://github.com/microsoft/DeepSpeed/blob/4d64b5ba055b663a1e436dbc2d756350554dfe84/deepspeed/pt/deepspeed_light.py#L489

'You are using an untested ZeRO Optimizer. Please add <"zero_allow_untested_optimizer": true> in the

[2020-06-29 14:49] tjruwase commented on #281
Thanks for using DeepSpeed.

What happens when you set `zero_allow_untested_optimizer` to true?

[2020-06-29 14:51] vfdev-5 commented on #281
Yes, setting `zero_allow_untested_optimizer` to true solves the problem.

[2020-06-29 16:06] ShadenSmith commented on #281
Good catch!

In cases where we don't have an optimizer name from our config, maybe we should next defer to `self.optimizer.__class__.__name__` before returning `None` from `optimizer_name()` ? In this case I believe that would give us `"Adam"` and do the correct thing. If no optimizer was specified we should still return `None`, I imagine.

Here's `optimizer_name()`:

https://github.com/microsoft/

[2020-06-29 20:12] #279 closed

[2020-06-29 20:13] jeffra commented on #279
Thanks @vfdev-5 for pointing this out. We've removed it from our requirements in PR #282.

[2020-06-30 04:54] g-karthik commented on #274
@jeffra thanks for your reply! I managed to get this working with mpirun and deepspeed!

On a somewhat unrelated note, could you please elaborate on the need for each of these dependencies in deepspeed's [Dockerfile](https://github.com/microsoft/DeepSpeed/blob/master/Dockerfile#L58L89)?

[2020-06-30 05:16] jeffra commented on #274
@g-karthik Excellent news, glad you got things running. Do you have any suggestions on how we can improve our documentation so that others don't run into the issues you had to go through to get deepspeed/mpirun to work in your environment?

More details on the components that you highlight in our dockerfile:
* Mellanox OFED relate to InfiniBand (IB) drivers we need for our Azure and DGX-2 clusters

[2020-06-30 20:15] g-karthik commented on #274
@jeffra Thanks for the info! Yes I think I will be needing the Mellanox plugin and RDMA support as well to increase communication bandwidth for my setup, which is based on AWS EKS. I didn't do any port stuff in the Dockerfile, I just installed OpenMPI and OpenSSH.

In terms of improving documentation, I think perhaps you could mention that an explicit hostfile isn't necessarily needed (depending o

[2020-06-30 20:15] #274 closed

[2020-07-03 12:48] chenghuige opened #283 "[Fail with install.sh] No module named 'deepspeed_transformer_cuda'"
sh  ./install.sh -d -r

adding 'deepspeed-0.2.0.dist-info/METADATA'
adding 'deepspeed-0.2.0.dist-info/RECORD'
removing build/bdist.linux-x86_64/wheel
Installing deepspeed
Found existing installation: deepspeed 0.2.0
Can't uninstall 'deepspeed'. No files were found to uninstall.
Non-user install because site-packages writeable
Created temporary directory: /tmp/pip-ephem-wheel-cache-3mli2hd3
Created

[2020-07-06 18:59] g-karthik opened #284 "w/o model-parallel usability numbers reproduce"
I've been using DeepSpeed successfully with my large model train jobs. But [this](https://www.microsoft.com/en-us/research/blog/zero-2-deepspeed-shattering-barriers-of-deep-learning-speed-scale/) blog post says ZeRO-1 and ZeRO-2 power up to 6B and 13B param training respectively w/o model-parallelism.

Where exactly is the code that validates/enables others to reproduce this claim? I want to see w

[2020-07-07 12:07] chenghuige opened #285 "Does deepspeed support IterableDataset ?"
Since input dataset is large , we need to use IterableDataset, does deepspeed support this ?

[2020-07-07 18:51] tjruwase commented on #285
@chenghuige Thanks for your interest in DeepSpeed.

DeepSpeed supports the use of arbitrary data loaders. Please the [BingBert ](https://github.com/microsoft/DeepSpeedExamples/tree/fd6fb5148ccf5c9ce222432006f1d93806187cd9/bing_bert)model for an example.

[2020-07-09 13:10] chenghuige commented on #285
@tjruwase Thanks! I will have a try.

[2020-07-09 13:10] #285 closed

[2020-07-13 23:22] hinthornw opened #288 "Error in load_state_dict() when not using zero-optimizer"
Related to this [comment ](https://github.com/microsoft/DeepSpeed/commit/936117b589e848318c44deb3ce128659afde6580#r40574993).

For the line:
self.optimizer.load_state_dict(checkpoint['optimizer'],
                                           load_optimizer_states=load_optimizer_states)

The signature of load_state_dict for torch.optim.Optimizer is  `def load_state_dict(self, state_dict):`. Loading f

[2020-07-14 14:05] tjruwase commented on #288
@hinthornw Thanks for reporting this issue. This happens to be a problem for all fp32 optimizers, which are not wrapper optimizers.

[2020-07-14 14:07] tjruwase commented on #283
@chenghuige Are you still seeing this problem?

[2020-07-14 14:10] tjruwase commented on #280
@vfdev-5  Thanks for reporting this problem and a solution.

I will close this issue. Please feel free to reopen or reported a new one as appropriate.

[2020-07-14 14:25] vfdev-5 commented on #280
@tjruwase solution is to manually replace relative path by absolute one. Support of relative path will be enabled in coming versions of pytorch. Meanwhile, I think it could be rather simple from your side to change relative path to absolute one such that users need not patch it... Whats do you think ?

[2020-07-14 21:04] tjruwase commented on #280
@vfdev-5 Yes, switching from relative paths to absolute paths is a good idea. Is it possible for you to submit a PR?

[2020-07-15 08:09] vfdev-5 commented on #280
@tjruwase yes, I can do that, but not sure about the timeline. Maybe, this week-end or the next week if it's suitable for you.

[2020-07-15 18:52] MikalaiDrabovich opened #292 "TypeError: 'float' object is not callable"
https://github.com/microsoft/DeepSpeed/blob/7ccc9daf9ec909b71c7261f8e77876774b1633af/deepspeed/pt/deepspeed_zero_optimizer.py#L614

  if self.gradient_predivide_factor() != dp_world_size:

self.gradient_predivide_factor is float, () should be removed

[2020-07-15 19:28] #288 closed

[2020-07-17 18:51] tyler-romero opened #294 "CUBLAS_STATUS_EXECUTION_FAILED when calling cublasGemmEx when using deepspeed tranformer kernel"
Hi, I'm running into the following error when attempting to train with the deepspeed transformer kernel.

This error occurs during the forward pass of the first training step.
`!!!! kernel execution error.` is printed for 80 lines, followed by this traceback:
[code]

If I disable the use of the deepspeed transformer kernel, everything works just fine.

I'm using a slightly modified version of the

[2020-07-17 21:59] tyler-romero commented on #294
If I disable fp16, I get this error after the same python stack trace:
[code]

[2020-07-19 03:32] mwolff31 opened #295 "encountering errorrs on CIFAR-10 example"
encountering the following errors when I try to run the Deepspeed CIFAR-10 example:

[code]
When I set ```dist_init_required=False``` (I'm running the program on a single machine) in the ```deepspeed.initialize``` line, that error disappears.

However, I run into a second error:

[code]
OS: Ubuntu 20.04

What's gives?

Thank you for any help.

[2020-07-20 15:56] ShadenSmith commented on #295
Thank you for your interest in DeepSpeed!

How are you executing the script? The errors suggest that the deepspeed launcher is not being used. Note that we need to initialize `torch.distributed` regardless of the number of machines.

To launch the CIFAR-10 example, it should be something like
[code]
(taken from this [tutorial](https://www.deepspeed.ai/tutorials/cifar-10/))

[2020-07-20 16:46] mwolff31 commented on #295
that seemed to have solved the issue. thank you!

[2020-07-20 16:46] #295 closed

[2020-07-24 17:42] jeffra commented on #280
@vfdev-5 also we have seen ninja cause some build issues that give this type of error. If ninja is installed the the build will attempt to use it. We've recently manually turned off ninja to help with issues like this: https://github.com/microsoft/DeepSpeed/pull/298

Closing for now, feel free to re-open if there are further issues.

[2020-07-24 17:42] #280 closed

[2020-07-24 21:36] tjruwase commented on #241
@Colanim Apologies for the delayed response.

In theory fp16 will affect fine-tuning scores because of the precision change compared to fp32. However, whether the effect is a decrease or increase depends on the scenario. However, in many cases with careful hyperparameter tuning it is possible to reproduce fp32 scores.  Can you share your actual experience in this case?

[2020-07-25 00:05] RezaYazdaniAminabadi commented on #294
Hi @tyler-romero,

Could you please try running on the test units that we have for the kernels, like "DeepSpeed/tests/unit/test_cuda_forward.py"? This files includes several tests for our kernel with different batch, sequence and hidden-dim and both for fp16 and fp32. From the result of this test, we can see if the problem is on the kernel side. Since from your log, I am seeing that the error come

[2020-07-27 07:50] yochze commented on #274
FYI - we've managed to use DeepSpeed on Kubernetes with OpenMPI and the [MPI Operator](https://github.com/kubeflow/mpi-operator/) using DeepSpeed's Dockerfile with added OpenMPI and SSH configs: https://gist.github.com/yochze/e6954524da6bc0a080c43015dead4903

[2020-07-27 22:18] hjmshi commented on #283
I'm running into this problem as well when trying to do a manual install on my machine.

[2020-07-28 02:34] RezaYazdaniAminabadi commented on #283
Hi,

Can you please uninstall deepspeed and try running "bash install -s" to reinstall it? This issues normally come from not having the kernels installed correctly!
Thanks.

Best regards
Reza

[2020-07-30 18:19] yselivonchyk commented on #294
Encountered same issue after a few thousand iterations:

[code]

[2020-07-30 18:41] RezaYazdaniAminabadi commented on #294
Hi yselivonchyk,

That's so odd that this happens after many iterations!
Can you tell me what batch size and sequence-length you are using for this test? Also, are you using fp16?
I want to see if I can reproduce the same issue as you mentioned. So, if that's possible also provide your train-script too, so that I can run on my end.
Thanks.

Best regards,
Reza

[2020-08-07 16:31] gongwei-130 opened #308 "'CUDA error: an illegal memory access was encountered' in forward"
Hi, I'm running into the following error when attempting to train bert with ds_train_bert_bsz64k_seq128_m.sh. I printed out all tensor shapes in the batch and it looks fine since I used train_micro_batch_size_per_gpu=8 and train_batch_size=64 since I have 8 cards.

This error occurs during the forward pass of the first training step.

  0%|

[2020-08-07 16:40] tjruwase commented on #308
@gongwei-130  Thanks for reporting this issue.
To help with triaging can you rerun please with the custom kernels disabled by removing `--deepspeed_transformer_kernel`  flag from the script?

[2020-08-07 16:56] gongwei-130 commented on #308
Sure. Error changes after I removed `--deepspeed_transformer_kernel` flag.

[code]

[2020-08-07 17:13] RezaYazdaniAminabadi commented on #308
Hi @gongwei-130

Thanks for trying out deepspeed. I wonder which version of CUDA and PyTorch you are using here. Also, which GPU architecture you are using for your training?
We can make sure that the CUDA part of the deepspeed works by running some unit test? Could please run one of these tests by running "pytest tests/unit/test_cuda_forward.py -sv"?
If you can also share the full training log an

[2020-08-07 17:37] gongwei-130 commented on #308
Hi Reza, my cuda version is 10.2, pytorch version 1.6.0. GPU I have is Tesla V100-SXM2 32G. Full training log and the result of this test are as follows.

[code]

[code]

[code]

[2020-08-07 18:54] RezaYazdaniAminabadi commented on #308
Hi @gongwei-130,

Thanks for running the test. So, it seems there is nothing wrong with the forward of the transformer kernels.
Can you also run this test: "pytest tests/unit/test_dynamic_loss_scale.py::test_unfused_no_overflow -sv", and share the result?
Thanks.

Best regards,
Reza

[2020-08-07 19:28] gongwei-130 commented on #308
Done.

$ pytest tests/unit/test_dynamic_loss_scale.py::test_unfused_no_overflow -sv
==================================================================== test session starts ====================================================================
platform linux -- Python 3.7.3, pytest-6.0.1, py-1.9.0, pluggy-0.13.1 -- /usr/bin/python3
cachedir: .pytest_cache
rootdir: /opt/tiger/workspace/DeepSpeed
plug

[2020-08-11 18:35] tyler-romero commented on #294
@RezaYazdaniAminabadi true that the RuntumeError in the stack trace occurs at the matmul, but the `!!!! kernel execution error.` printout prior to the error comes from DeepSpeed transformer code:

https://github.com/microsoft/DeepSpeed/blob/8353c5949d395d27c898c78fd3ae72ccfe878c26/csrc/transformer/cublas_wrappers.cu

I'm pretty occupued at work right now, but hopefully in the somewhat near future

[2020-08-12 17:54] RezaYazdaniAminabadi commented on #308
Hi @gongwei-130

Sorry for the delayed response.
It seems all these components are working fine using the stand alone unit tests. So, it means that when you use them in your training environment, they raise the illegal memory access issue.
I have tried to reproduce the same issue that you see with batch size 64 (micro batch size 8) on 8 V100 GPUs. However, I can run without any error using both Py

[2020-08-14 06:57] weberxie opened #319 "Will the DeepSpeed support TensorFlow?"

[2020-08-17 18:11] RezaYazdaniAminabadi commented on #294
Hi Tyler,

We have seen the same issues with some other benchmarks too! Normally, this happens when there is high pressure on the memory and the cublas gemm crashes due to this error: CUBLAS_STATUS_EXECUTION_FAILED=13. I wonder if you can verify this on your end by printing the error number at the same file you've mentioned. Also, can you tell me what memory consumption you will have when running

[2020-08-20 07:15] TonyTangYu opened #324 "Warning: NaN or Inf found in input tensor when running DeepSpeedExamples/BingBertSquad."
Hi Deepspeed team,

I run DeepSpeedExamples/BingBertSquad on my machine with 2 GPUs. I follow the instruction [https://www.deepspeed.ai/tutorials/bert-finetuning/](https://www.deepspeed.ai/tutorials/bert-finetuning/) and can get a reproduce when I run the `run_squad_baseline.sh`.

However, when I changed the `deepspeed_bsz24_config.json` file, it gave me the following warning and I could only get

[2020-08-20 07:23] TonyTangYu commented on #272
Hi, @LiweiPeng

I am trying to run the examples on the dataset `wikipedia` and `bookcorpus`.  However, the [official deepspeed website](https://www.deepspeed.ai/tutorials/bert-pretraining/) says that the Downloading and pre-processing instructions of these datasets are coming soon. I notice that you conduct some experiments on these two datasets. Could you please offer me some pre-processing instr

[2020-08-20 08:56] Feilouce opened #325 "conda install issue"
Hi, thank you for your work, but there are some problems when i install deepSpeed, in my env, pytorch==1.2 and cuda==9.2.
when I ``conda install deepspeed pytorch=1.2.0 cudatoolkit=9.2``, then have something wrong.
Does it have a solution?
[code]

[2020-08-21 00:12] ShadenSmith commented on #325
Hi @Feilouce, thanks for your report! We don't actively test with CUDA < 10.0, and so we only built packages for >=10.0. Although, the conda package is not officially supported (or ready) yet.

If you would like to try DeepSpeed with CUDA 9.2, I would recommend installing from source for the moment.

[2020-08-21 00:21] ShadenSmith commented on #319
Hi @weberxie, thank you for your interest in DeepSpeed! We don't have plans to support TensorFlow at this moment.

[2020-08-21 00:21] #319 closed

[2020-08-21 00:31] #259 closed

[2020-08-21 00:33] #264 closed

[2020-08-21 01:35] RezaYazdaniAminabadi commented on #324
Hi @TonyTangYu,

Have you also changed the script, run_squad_baseline.sh? Can you also send me the log of your run so that we make sure all the parameters are set properly?
Btw, which checkpoint you are using here?
Thanks.

Best regards,
Reza

[2020-08-21 02:22] TonyTangYu commented on #324
@RezaYazdaniAminabadi , Thanks for your quick response.

Yes, I have also changed the script, run_squad_baseline.sh. I delete the argument `--model_file` because I don't have the DeepSpeed Bert pretraining model. So, I don't use ant checkpoint here.

Here is my run_squad_baseline.sh. When I run the `run_squad_baseline.sh`, there is no such warning and I could get the training results.

The deepspe

[2020-08-21 05:19] rsn870 opened #326 "Regarding lack of drop_last in Deepspeed Trainloader"
Hi ,

After encountering problems during training with my custom dataset using Deepspeed Initialize , I have narrowed the problem to the fact that since the number of images in my dataset is not divisible by the batch size , Deepspeed is throwing an error. This is easily resolvable in torch Dataloader by setting drop_last = True , the Deepspeed.pt.Dataloader source code however does not use this a

[2020-08-21 06:00] tjruwase commented on #326
Hi, thanks for reporting this issue. We will work on this as soon as possible. However, if you can prepare a PR, that would be great as well.

[2020-08-21 06:05] rsn870 commented on #326
Sure , thanks for your prompt response . I will try preparing a PR asap

[2020-08-21 06:08] tjruwase commented on #272
@TonyTangYu, can you try the nvidia datasets? Please see relevant information [here ](https://github.com/microsoft/DeepSpeedExamples/tree/fd869ae1c9de686f8cb92413efeba83fc989027c/bing_bert)and [here](https://github.com/microsoft/DeepSpeedExamples/pull/27).

[2020-08-21 06:16] rsn870 opened #327 "Generic Tensorboard Utility in Deepspeed"
Hi ,

The tensorboard config present by default in Deepspeed only provides logging for train/loss and train/lr . This feature however is quite limited , for eg in my training :
inputs = data.to(model_engine.device)
mean_style = mean_style.to(model_engine.device)
latent_rnd =  torch.randn(micro_batch_size, 512).to(model_engine.device)
losses , encode_lst = model_engine(inputs,mean_style,latent_rnd,

[2020-08-21 06:20] rsn870 opened #328 "Effect of if(model_engine.device==torch.device('cuda:0'))"
Hi ,

Consider the following snippet
losses , encode_lst = model_engine(inputs,mean_style,latent_rnd,mode='train')
if(model_engine.device==torch.device('cuda:0')):
			writer.add_scalar('Loss/Latent_Style', losses[0], i+1)
			writer.add_scalar('Loss/Image' , losses[1] , i+1)
			writer.add_scalar('Loss/Self_Consistent_Encoder' , losses[2] , i+1)

Does setting model_engine.device = 0 give only the th

[2020-08-21 06:39] rsn870 opened #329 "Difference between loss.backward() and model_engine.backward(loss) ?"
Hi ,

I have tried out both loss.backward() and model_engine.backward(loss) for my code. There are several subtle differences that I have observed , for one retain_graph = True does not work for model_engine.backward(loss) . This is creating a problem since buffers are not being retained every time I run the code for some reason.

Please look into this if you could.

[2020-08-21 08:39] TonyTangYu commented on #272
@tjruwase ， thanks for your reply! I will give it a try!
Thanks again!

[2020-08-24 14:02] ShadenSmith commented on #329
Correct, you need `model_engine.backward()` to reduce gradients and perform other DeepSpeed bookkeeping.

It is not based on DDP directly, so without `model_engine.backward()` you don't get synchronization.

Not currently, DeepSpeed needs to propagate additional arguments to our [backward interface](https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/pt/deepspeed_light.py#L736). I self-as

[2020-08-24 14:15] ShadenSmith commented on #327
A simple first step might be to give users an access point to our `SummaryWriter` object in order to allow for arbitrary logging from client codes? We could also provide a simple `log_scalar()` interface so folks can do some simple logging without diving into TensorBoard.

I can see some confusion coming from the asymmetry of the `SummaryWriter` only being present on global rank 0.

[2020-08-24 17:30] samyam commented on #284
@g-karthik, these are for GPT-2 style language model, even though you should be able to run any model of similar sizes using ZeRO-1 and ZeRO-2. The exact model configuration, batch size, GPU count etc are as follows:
![image](https://user-images.githubusercontent.com/3409344/91075926-a2d67a00-e5f3-11ea-82df-9d72aaae799d.png)

The sequence length is 1K. You can find this table in the appendix of ou

[2020-08-24 19:14] mhajiaghayi opened #331 "debugger that works best with deepspeed"
Hi there,
I use pdb debugger to debug my python code but I can see that it doesn't work with deepspeed. The code basically stops in breakpoint but any of the normal operation of step in and step over doesn't work.
do you know what is the best approach to debug a python script that is running with deepspeed?
p.s, it also doesn't work when i set the number of gpu and worker to 1,

[2020-08-24 19:24] tjruwase opened #332 "ZeRO checkpointing to support torch.optim.Adam"
ZeRO checkpointing currently works only for apex's fused_adam, but not for torch's adam.

[2020-08-26 12:15] mhajiaghayi commented on #331
I just wanted to reply me question that using celery.rdb allows for debugging in deepspeed mode
 Example usage:

from celery import task
from celery.contrib import rdb

@task()
def add(x, y):
    result = x + y
    rdb.set_trace()  # <- set break-point
    return result

more info: http://www.pythondoc.com/celery-3.1.11/reference/celery.contrib.rdb.html

[2020-08-26 12:16] #331 closed

[2020-08-26 15:35] kracwarlock commented on #329
@ShadenSmith it would be great if we can add `retain_graph` and other arguments.

[2020-08-27 21:38] g-karthik commented on #284
Hi @samyam thanks for the detailed info!

I did try to use the tutorial you linked earlier, and it seemed to work in some cases and failed in others.

Back then, I faced this error in those other cases (pulled from my logs): `FileExistsError: [Errno 17] File exists: '/path/to/DeepSpeedExamples/Megatron-LM/data/webtext/openwebtext.lazy'`

Note that I did not create a symbolic link to the data as me

[2020-08-28 04:38] TonyTangYu commented on #324
@RezaYazdaniAminabadi , it might be a problem of mixed precision training. When I set fp16 false, the training process goes well. I wonder whether there is a method to avoid this issue.

Looking forward to your reply.

Thanks.

[2020-08-28 06:47] RezaYazdaniAminabadi commented on #324
Hi @TonyTangYu,

If I understand from your last comment, you were saying that you run BingBertSquad without importing any model, is it true? If that's the case, your model is initialized randomly and it should run fine both with fp16 and fp32. I have tried both of them and I only get very low accuracy results (between 7-12 F1 score)! You may want to try it with a pretrained model.
Also, can you pl

[2020-08-28 10:44] TonyTangYu commented on #324
Hi@RezaYazdaniAminabadi , thanks for your quick reply! You are right. I run BingBertSquad without importing any model. Is there any problems that the model is initialized randomly? In my case, running with only fp32 seems to work. But running with both fp16 and fp32 does not. I wonder why and how to solve it.

[out.txt](https://github.com/microsoft/DeepSpeed/files/5141545/out.txt)
This file is the

[2020-08-29 08:02] TonyTangYu commented on #324
Hi, @RezaYazdaniAminabadi ,
I print the loss and it gives me the following information:

I'm thinking is there any chance that this warning results from the zero division?

Looking forward to your reply!

Best wishes,
Tony

[2020-08-31 17:14] RezaYazdaniAminabadi commented on #324
Hi Tony,

Thanks for following up on this. From your log, I realize that you have turned on the zero optimizer. I wonder if there is any reason for this. Could it be possible that you try the BingBertSquad one more time with disabling the zero optimizer?
I will also try this on my side to see if I can reproduce the same issue.
Thanks.

Best regards,
Reza

[2020-08-31 19:46] mhajiaghayi opened #339 "implementing WarmupLinearSchedule schedulre"
As adaptive learning rate with a decay has shown to be superior over fixed learning rate, may I suggest to implement WarmupLinearSchedule? To implement such scheduler, you would need to know the total-steps that can be calculated as a prod of of number of epochs and training data size. It has to be read in the python script.

thanks

[2020-09-01 01:07] TonyTangYu commented on #324
HI, @RezaYazdaniAminabadi .

Thanks for your reply and your efforts. The reason why I turned on the zero optimizer is that I wanted to know how DeepSpeed works and tried to explore the effects of the zero optimizer. Are there any problems? Should　the zero optimizer be turned on under certain circumstances? If so, is there any tutorial explaining those conditions? When should I turn on the zero opt

[2020-09-08 02:56] eric-haibin-lin opened #373 "gradient accumulation for stage 2"
Stage 2 significantly reduces the memory footprint. Is there a plan to support gradient accumulation for stage 2? Thanks.

[2020-09-08 23:14] eric-haibin-lin opened #379 "ZeRO phase 3?"
Thanks for releasing the code for ZeRO phase 2. Is there a plan to implement phase 3 and when would that be available? Thank you in advance.

[2020-09-09 09:02] ShadenSmith commented on #373
Thank you for you interest in DeepSpeed! We [just added](https://github.com/microsoft/DeepSpeed/pull/338) support for gradient accumulation in ZeRO-2. Please let us know if you run into any issues!

[2020-09-09 09:04] ShadenSmith commented on #379
We are hard at work on ZeRO-3 but do not have a release date yet. Stay tuned 😊.

[2020-09-09 09:04] #379 closed

[2020-09-09 09:27] chenghuige commented on #283
@tjruwase  Facing this problem right now.
![image](https://user-images.githubusercontent.com/6323467/92581034-bbb48000-f2c1-11ea-9a94-206bc0184537.png)

[2020-09-09 13:28] tjruwase commented on #283
@chenghuige, I notice in the error message that apex is not installed. Did you try running "bash install.sh -s" as suggested by  @RezaYazdaniAminabadi ?

[2020-09-09 20:31] trisongz opened #386 "Method for Converting a Model from Other Trainers"
Hi, I've been using DeepSpeed for some time and I really appreciate the work that's gone into the implementation of the trainer. I've used the framework to train GPT2-based models previously, and wanted to experiment with T5 (huggingface implementation).

I've tested with a simple implementation, where I pass the scheduler, optimizer, pretrained model (loaded), and model parameters to deepspeed.in

[2020-09-10 08:51] chaoyanghe opened #396 "can not"

[2020-09-10 08:51] chaoyanghe opened #397 "can not install deepspeed"
When I run "bash install.sh", I got the following errors:

/usr/include/c++/7/bits/move.h(48): error: identifier "__builtin_addressof" is undefined
          detected during:
            instantiation of "_Tp *std::__addressof(_Tp &) [with _Tp=const std::_Bind<lambda [](std::function<c10::IValue ()>)->void (std::function<c10::IValue ()>)>]"
/usr/include/c++/7/bits/std_function.h(174): here

[2020-09-10 08:52] chaoyanghe commented on #397
Package           Version
----------------- -------------------
certifi           2020.6.20
mkl-fft           1.1.0
mkl-random        1.1.1
mkl-service       2.3.0
numpy             1.19.1
olefile           0.46
Pillow            7.2.0
pip               20.2.2
protobuf          3.13.0
psutil            5.7.2
Pygments          2.6.1
readme-renderer   25.0
requests-toolbelt 0.9.1
setuptools        4

[2020-09-10 16:40] kracwarlock opened #399 "unnecessary gradients in case of multiple optimizers / engines"
GAN training is currently broken. Pytorch Lightning also had the same issue described in detail: https://github.com/PyTorchLightning/pytorch-lightning/issues/591, https://github.com/PyTorchLightning/pytorch-lightning/issues/592

In a 2 engine setup, my expectation was that running backward() in one of the engines would only accumulate gradients in the engine on which backward() is called. However,

[2020-09-10 17:00] tjruwase commented on #396
@chaoyanghe It appears your comment is missing.

[2020-09-10 17:02] tjruwase commented on #396
Closing because of #397

[2020-09-10 17:02] #396 closed

[2020-09-10 21:04] chaoyanghe commented on #397
why is my issue closed without answering?

[2020-09-10 21:12] tjruwase commented on #397
@chaoyanghe, I closed issue #396, not this one. Issue #396 is incomplete and looks like it was replaced by #397. Is this correct?

[2020-09-10 21:13] tjruwase commented on #332
Fixed by PR #337.

[2020-09-10 21:13] #332 closed

[2020-09-10 21:13] #373 closed

[2020-09-10 21:14] tjruwase commented on #292
Closed by PR #385.

[2020-09-10 21:14] #292 closed

[2020-09-10 21:16] tjruwase commented on #281
Fixed by PR #349.

[2020-09-10 21:16] #281 closed

[2020-09-11 00:18] chaoyanghe commented on #397
Okay. Now this is open.

[2020-09-11 03:52] chenghuige commented on #283
@tjruwase  seems threre are some problem installing apex.
Tried install.sh -s -l -r
Installing apex locally so that deepspeed will build
Cannot uninstall requirement apex, not installed
You are using pip version 9.0.1, however version 20.2.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Error on line 190
Fail to install deepspeed

[2020-09-11 04:43] tjruwase commented on #283
@chenghuige, the command in error line 190 is actually to uninstall apex, before reinstallation. It is not obvious to me why this line is failing, even if there is no pre-existing apex installation. So my thought now for debugging this problem is to separate installation of 3rd party libs (e.g., apex) from installation of deepspeed. So can you try the following:

1) Install 3rd party libs (includi

[2020-09-11 04:46] tjruwase commented on #397
@chaoyanghe  can you please share your versions of the following tools

CUDA,
nvcc,
g++,
gcc

[2020-09-11 04:53] chaoyanghe commented on #397
chaoyanghe@ChaoyangHe-GPU-RTX2080Tix4:/workspace/bert/data$ nvcc --version
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2018 NVIDIA Corporation
Built on Sat_Aug_25_21:08:01_CDT_2018
Cuda compilation tools, release 10.0, V10.0.130

[2020-09-11 04:54] chaoyanghe commented on #397
chaoyanghe@ChaoyangHe-GPU-RTX2080Tix4:/workspace/bert/data$ gcc --version
gcc (Ubuntu 6.5.0-2ubuntu1~18.04) 6.5.0 20181026
Copyright (C) 2017 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE

[2020-09-11 04:54] chaoyanghe commented on #397
chaoyanghe@ChaoyangHe-GPU-RTX2080Tix4:/workspace/bert/data$ nvidia-smi
Thu Sep 10 21:54:26 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 440.33.01    Driver Version: 440.33.01    CUDA Version: 10.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatil

[2020-09-11 05:06] tjruwase commented on #284
Hi @g-karthik.

I am surprised by the FileExistsError. The expected path for webtext data is `data/webtext/data.json`. Did you modify the [code](https://github.com/microsoft/DeepSpeedExamples/blob/b989b41b526db164611bedd3e73c09b8c2c5cbfc/Megatron-LM/data_utils/corpora.py#L43) to match your data path of `data/webtext/openwebtext.lazy`?

Also, can you share the model-parallel (MP) and data-parallel

[2020-09-11 05:19] tjruwase commented on #397
I notice two issues with your compiler toolchain. Can you please address them to see if issue will be fixed
1. gcc is quite old, can you upgrade to newer? We use 7.5.0

2. nvcc is for CUDA 10.0, while nvidia-smi is for CUDA 10.2. Can you check the pytorch version as well by doing
`python -c "import torch; print(torch.version.cuda)"`.
This suggests that you have multiple CUDA versions installed, wh

[2020-09-11 19:52] g-karthik commented on #284
Hi @tjruwase, the `.lazy` file wasn't created by me, it was created automatically when I ran the code.

And yeah I'd modified the expected path to the webtext data in that line you pointed to, to contain the path to my `openwebtext.json` file. And I also changed the `text_key` from `"text"` to `"content"` in that same class since my JSON has the text in that key. Other than that, I didn't make any

[2020-09-11 20:00] tjruwase commented on #284
@g-karthik thanks for sharing those details. Another question, why are you using python to launch rather than the deepspeed launcher?

[2020-09-11 20:08] g-karthik commented on #284
@tjruwase oh that's just the contents of the `pretrain_gpt2_model_parallel.sh` shell script, with my minor modifications to the parameters to be used.

I do use the deepspeed launcher with my integration of DeepSpeed into my own codebase outside of the `DeepSpeedExamples` repo. Although as a side-note, I prefer to use python with `--deepspeed` and `--deepspeed_mpi` to scale up my jobs effectively

[2020-09-11 21:52] g-karthik commented on #284
@tjruwase just an update on the MP=1, DP=1 case you asked me to run, I set model-parallel-size=1, GPUS_PER_NODE=1. It seems to be running fine, it hasn't thrown a FileExistsError or a Socket Timeout error.

`validation loss at iteration 1000 | LM loss: 6.297972E+00 | LM PPL: 5.434685E+02`

[2020-09-11 22:13] tjruwase commented on #284
@g-karthik thanks for sharing that update. So it seems we can assume the problem is related to distributed training. Can you enable NCCL debugging information for the distributed case? I believe you can set the NCCL_DEBUG environment variable like:
           `NCCL_DEBUG=INFO`

Also, I will suggest using deepspeed launcher because it handles all the NCCL configuration issues for distributed traini

[2020-09-12 02:13] g-karthik commented on #284
@tjruwase yeah I set that environment variable and kicked off a job where MP=1, DP=8. The FileExistsError still showed up. So I just stopped the job and killed the associated processes.

Also, now I'm facing some even bigger issues, it seems that deepspeed has altered my `torch.distributed` installation somehow, because when I run even unrelated non-deepspeed jobs, I get a deepspeed-related error

[2020-09-12 21:50] mcwebdev opened #406 "Deepspeed AI was started in 2019 by me, why are you all using my moniker."
I registered deepspeedai.com fall of 2019 and have been working on my component library over the last two years. I now find MS launched deepspeed.ai in Anguila, this is so shady!! I hope we can work out something amicably. Perhaps a full time job and a nice sign on bonus, and I will surrender my enterprise and domain to MS.....

[2020-09-12 22:23] aveni opened #407 "Pipeline throughput is incorrect"
I think the throughput should be ```tput = self.train_batch_size() * self.steps_per_print() / elapsed ```. Right now it is not taking into account the logging frequency.

https://github.com/microsoft/DeepSpeed/blob/4ac9bf60a740a5a8433ee256c48527c0fba63beb/deepspeed/runtime/pipe/engine.py#L277

[2020-09-13 18:04] ShadenSmith commented on #407
Good catch, thanks! I added that status line at the last minute and must have only tested with logging frequency 1.

This should be fixed in #408 .

[2020-09-13 18:04] #407 closed

[2020-09-15 19:13] david-macleod opened #412 "404 in docs"
Hi

The following link in the docs is currently returning a 404, I was just wondering whether this blog post exists yet?

https://www.deepspeed.ai/news/2020/09/09/onebit-adam-blog-post.html

Many thanks

[2020-09-16 01:56] g-karthik commented on #130
@jeffra @ShadenSmith

Can you guys share the current stable command(s) to install DeepSpeed on a Mac/CPU with no CUDA devices? The `python_only_version` branch that you pointed to earlier seems to be deleted now.

Is the conda package you referred to being kept up-to-date with the latest changes in the source?

This is just so I can keep the source on my laptop IDE (I use a virtualenv with PyCharm

[2020-09-16 17:13] #339 closed

[2020-09-16 19:48] ShadenSmith commented on #130
Hi @g-karthik, sorry for the trouble with the missing branch. We must have removed it while cleaning up after the latest release. That branch was way behind, especially after the refactoring in v0.3.

@jeffra has been hard at work on our build system. Can you try installing DeepSpeed like this? `DS_BUILD_CUDA=0 pip install .`

The build flag is parsed in our `setup.py` to disable building the CUDA

[2020-09-16 20:29] #412 closed

[2020-09-16 20:29] tjruwase commented on #412
Thanks for reporting this issue. It is now fixed.

[2020-09-16 21:20] tjruwase commented on #397
@chaoyanghe Are you still experience this issue?

[2020-09-16 21:26] tjruwase commented on #283
@chenghuige There are some new improvements to installation process. Can you please check if you still have this issue?

[2020-09-16 21:27] tjruwase commented on #241
Closing due to no activity. Please feel free to re-open.

[2020-09-16 21:27] #241 closed

[2020-09-16 21:32] tjruwase commented on #251
@tbennun  and @vfdev-5 Are you still having this issue?

[2020-09-16 21:36] tjruwase commented on #328
@rsn870 Is it okay to close this issue?

[2020-09-16 21:54] tjruwase commented on #386
@trisongz Thanks for using DeepSpeed and for sharing this issue. Below are my initial concerns/questions

1) You don't need to call lr_scheduler.step(), because model_engine.step() will do that internally
2) Which optimizer are you passing to deepspeed.intialize()?
3) Can you print the loss values after each step?
4) I am curious whether the checkpoint is loading correctly? (3) could help to answe

[2020-09-17 01:44] g-karthik commented on #130
@ShadenSmith gotcha, I tried installing by running `DS_BUILD_CUDA=0 ./install.sh -d -k` and it said I needed `cpufeature`. I tried installing that, and it gave me a "duplicate symbol for architecture" error which seems to be a known issue https://github.com/robbmcleod/cpufeature/issues/1 and there's a pending pull request https://github.com/robbmcleod/cpufeature/pull/2 to fix it at the moment.

[2020-09-17 01:56] g-karthik commented on #130
@ShadenSmith okay that got fixed, I have the following error when running the above command now:

[code]

[2020-09-17 03:11] g-karthik commented on #130
@ShadenSmith okay I managed to get the installation working by commenting out `clang-format` from `requirements-dev.txt`. I also explicitly set the torch version in `requirements.txt` to 1.4 (since my virtualenv already had 1.4 and for some reason, the installer was trying to uninstall 1.4 and install 1.2 despite the file saying `>=1.2`) and set tensorboardX to 1.9 (since my virtualenv had 1.9 alr

[2020-09-17 04:25] g-karthik commented on #130
@ShadenSmith @jeffra sorry to bombard you with so many questions/observations, but here's one more!

For my GPU jobs, I have always installed DeepSpeed in my Dockerfile like this:
[code]

This has worked for me and my distributed jobs with Kubernetes (where I must note that I do NOT use the `deepspeed` launcher, I use regular python with the `--deepspeed` and `--deepspeed_mpi` flags and let `mpi4p

[2020-09-17 04:26] rsn870 commented on #328
Sure , thanks for your response . I have confirmed your assertion

[2020-09-17 04:26] #328 closed

[2020-09-17 04:54] tbennun commented on #251
I can confirm this issue has been resolved for me on the latest master. Thanks!

[2020-09-17 04:54] #251 closed

[2020-09-17 04:55] tbennun commented on #251
@vfdev-5 if it's still not working for you I'll reopen.

[2020-09-18 13:31] tjruwase commented on #127
Unit tests for expected lr values is handled by PR #339

[2020-09-19 04:07] chenghuige commented on #283
@tjruwase well interesting it tried to download torch-1.4 py2.7 version..
Collecting psutil
  Created temporary directory: /tmp/pip-unpack-ok7Xqo
  Looking up "https://files.pythonhosted.org/packages/aa/3e/d18f2c04cf2b528e18515999b0c8e698c136db78f62df34eee89cee205f1/psutil-5.7.2.tar.gz" in the cache
  Current age based on date: 77
  Ignoring unknown cache-control directive: immutable
  Freshness l

[2020-09-19 08:17] chenghuige commented on #283
@tjruwase  Verified ok on colab. But some problem for my local env tried to install py2 version.

[2020-09-20 20:45] drfinkus opened #425 "Cannot install DeepSpeed on Ubuntu 20.04"
Attempting to install DeepSpeed using the following steps:

1. Cloned DeepSpeed repository
2. Created virtual environment: `python3 -m venv env`
3. Activated virtual environment: `source env/bin/activate`
4. Ran install script: `./install.sh`

gcc: 8.4.0
nvcc: 10.2
g++: 8.4.0

[code]
The install script throws the error message below:
[code]

[2020-09-21 02:34] LIZHICHAOUNICORN opened #426 "when i disable fp16 ，got error: 'lr_this_step' referenced before assignment."
ENV:
two GPU:  Tesla P40
GPU Memory:  22919MiB
os:  ubuntu 16.04
Driver Version: 440.33.01
CUDA Version: 10.2
Python 3.7.0

I run DeepSpeedExamples/bing_bert:   ds_train_bert_bsz32k_seq512.sh, I modified some configure:

[code]

Notice bert_base.json change fp16 from true to false.

[code]

then, i got error:  'lr_this_step' referenced before assignment.

second:
when i enable , i found the log wa

[2020-09-21 05:49] tjruwase commented on #426
@LIZHICHAOUNICORN Thanks for using DeepSpeed. Please see responses to your questions below

1) `'lr_this_step' referenced before assignment.` : This is a [bug](https://github.com/microsoft/DeepSpeedExamples/blob/b989b41b526db164611bedd3e73c09b8c2c5cbfc/bing_bert/deepspeed_train.py#L187) in fp32 mode. We will fix asap.

2) `the log warning: OVERFLOW`: Overflow is normal at the beginning of training

[2020-09-21 05:51] tjruwase commented on #399
@kracwarlock Thanks for sharing this issue. We will look into as soon as possible, but we also open to PRs.

[2020-09-21 06:32] LIZHICHAOUNICORN commented on #426
Thanks for your responses.

[2020-09-21 20:02] ivalmian opened #428 "azure/readme.md megatron tutorial link is broken"
Current link points to

https://github.com/microsoft/DeepSpeed/blob/master/tutorials/megatron

Which is broken

[2020-09-22 05:43] MannyKayy opened #430 "runtime error: no attribute 'ipg_index' and 'ipg_buffer' is None"
I am trying to use the cpu-offload feature in a GAN training scenario.

It appears that [this function](https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/runtime/zero/stage2.py#L621) can be called when self.ipg_index is not defined simply by enabling the cpu-offload feature in the config file.

[2020-09-22 05:58] tjruwase commented on #430
@MannyKayy can you please enable [contiguous gradients](https://www.deepspeed.ai/docs/config-json/#zero-optimizations-for-fp16-training) as well?

[2020-09-22 06:24] tjruwase commented on #430
@MannyKayy, actually, please try enabling overlap_comm as well.

[2020-09-22 06:26] MannyKayy commented on #430
Thanks, passing in that argument fixes this issue.

[2020-09-22 06:29] tjruwase commented on #430
@MannyKayy Thanks for this update. But I am a bit confused by this issue because of this [line](https://github.com/microsoft/DeepSpeed/blob/f0f2a7026877d3fd2f6f5565a67cdffc89750cf0/deepspeed/runtime/zero/stage2.py#L303).

As you can see, enabling cpu_offload should automatically enable contiguous gradients. Can you confirm that you saw this issue with the latest code?

[2020-09-22 06:41] MannyKayy commented on #430
yep, I am using the latest codebase

[2020-09-22 06:49] MannyKayy commented on #430
@tjruwase Sorry, correction.. I'm using [this revision](https://github.com/microsoft/DeepSpeed/commit/473ff985fb8770fbbd9073554a666aac683d57d2). I'll pull the current repo and see if the problem persists.

[2020-09-22 07:01] eltonzheng commented on #399
@kracwarlock, thanks for sharing this issue, if it is about "fake_out = D(G(z))", and want D.backward() won't call into G.backward(), how about changing it to "fake_out = D(G(z).detach())"? If this is not the issue you mentioned, could you paste some sample code?

[2020-09-22 07:05] tjruwase commented on #430
@MannyKayy, no worries. It is possible we have a regression, so please share your findings. Thanks!

[2020-09-22 07:20] tjruwase commented on #426
Closing here after reopening DeepSpeedExamples, which is the appropriate repo.

[2020-09-22 07:20] #426 closed

[2020-09-22 07:37] MannyKayy commented on #430
The latest revision no longer raises this issue. Just enabling cpu_offload works, even without enabling contiguous gradients. Thanks once again.

[2020-09-22 08:41] MannyKayy commented on #430
Okay, so it appears that this issue remains even in the latest version of the repo...

Also correcting my earlier comment; as long as "DeepSpeedCPUAdam" is in use; this issue appears regardless of whether cpu_offload, overlap_comm and contiguous gradients are all enabled...

Deepspeed Config File:
`{
  "train_micro_batch_size_per_gpu": 64,
  "gradient_accumulation_steps": 2,
  "steps_per_print": 1

[2020-09-22 13:58] kracwarlock commented on #399
i think there are 2 cases of interest for `D_fake = self.D(x_gen)`

- Discriminator pass: we want to prevent accumulation of gradients on the Generator. This can be solved by replacing with `D_fake = self.D(x_gen.detach())`. This is the fix you pointed out and this would work.
- Generator pass:  we want to prevent gradient accumulation on the Discriminator, but we want them to accumulate on the Ge

[2020-09-22 15:19] ShadenSmith commented on #425
Hi @drfinkus, thanks for your detailed report. Is there other output from the build process you could capture and share? Our `setup.py` does several things, including building CUDA extensions. We'll need to narrow down where the issue is. I think some of the build outputs and errors are printed to STDERR.

You might also try disabling the extension building to do a python-only install. I'd be very

[2020-09-23 08:13] saareliad commented on #109
Hi, what is the status for this?
I want to compare ZeRo in FP32 to my system.

There are several use-cases for FP32 where it can use less memory compared to mixed precision since in mixed precision we still keep master parameters. (so for example given 44GB model in FP32, mixed precision will hold 66GB just for the model).
if the activations are small enough than mixed precision may not be good ch

[2020-09-23 14:10] rople380 commented on #425
Same error, identified core dump as being caused by an import:

`
import cpufeature
`

Replicable via:

`
python -c "import cpufeature; cpufeature.print_features()"
`

Version:

[code]

[2020-09-23 17:00] e-sha opened #431 "Can not finish install.sh"
I've got the following error during the installation process:
`x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -g -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -Icsrc/includes -I/usr/local/cuda/include -I/usr/local/lib/python3.6/dist-packages/torch/include -I/usr/local/lib/python3.6/dist-packages/torch/include/torch/csrc/api/include -I/

[2020-09-23 17:45] tjruwase commented on #431
@e-sha, Thanks for using DeepSpeed.

Can you please try `install.sh -s -n`?

[2020-09-23 18:01] drfinkus commented on #425
Here is the full log, as requested:
[code]

[2020-09-23 18:02] drfinkus commented on #425
Trying with DS_BUILD_CUDA=0 gives the same result as above:
[code]

[2020-09-23 18:06] drfinkus commented on #425
In addition to the logs above, I can confirm the same issue as @rople380
[code]
Python: 3.8.2

Also, I note that @rople380 seems to have Anaconda installed. I have miniconda installed, FWIW.

[2020-09-24 04:38] ShadenSmith commented on #425
Thanks @drfinkus  and @rople380 for the help with diagnosis. It seems that `cpufeature` does not play nicely with all systems. I'm working on a fix to remove it.

[2020-09-24 09:24] MannyKayy commented on #430
So after abit of debugging, it appears that this issue is a version of this [one](https://github.com/microsoft/DeepSpeed/issues/399).

In a multi-engine, multi-optimizer setup; if at any point you forget to freeze the state for the parameters being handled by other optimizers during an update.. it raises a set of issues such as this one..

I simple solution in the gan scenario is to make sure that

[2020-09-24 09:24] #430 closed

[2020-09-24 10:41] e-sha commented on #431
It didn't help me.
I install DeepSpeed into container, thus I have to use -r.
Also, a worker host that I use to build container doesn't contain GPUs. But according to logs it should have no affect.

I tried the following:
I run `install.sh -r -n -t` to get a container with third party dependencies and then `install.sh -r -n -d`.
Tail of the log for the last command is attached
[log.txt](https://gi

[2020-09-24 12:10] e-sha opened #432 "Error during build of csrc/sparse_attention/utils.cpp"
I've got the following error during build of `csrc/sparse_attention/utils.cpp`
`csrc/sparse_attention/utils.cpp:87:71: error: converting to 'std::vector<std::tuple<int, at::Tensor> >::value_type {aka std::tuple<int, at::Tensor>}' from initializer list would use explicit constructor 'constexpr std::tuple<_T1, _T2>::tuple(_U1&&, _U2&&) [with _U1 = int&; _U2 = at::Tensor; <template-parameter-2-3> = v

[2020-09-24 14:46] rvalenciaaz commented on #397
I'm experiencing almost the same issue in Windows 10

CUDA 10.1
Pytorch 16 in conda environment
gcc
g++
Visual Studio 2019 plus C++ development tools

(pytorch) C:\Users\rgval>nvidia-smi
Thu Sep 24 11:31:36 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 431.40       Driver Version: 431.40       CUDA Version: 10.1     |
|---------------------------

[2020-09-24 16:18] eric-haibin-lin opened #434 "Does PipelineModule support pipelining across machines?"
Does PipelineModule support pipelining across machines? If not, what is the caveat? Thanks!

[2020-09-24 16:39] tjruwase commented on #432
@e-sha which compiler are you using?

[2020-09-24 16:47] tjruwase commented on #431
Can you please try `DS_BUILD_CUDA=0 install.sh ...` to disable cuda kernels?

[2020-09-24 16:54] tjruwase commented on #397
@rvalenciaaz can you please open a new issue? It is not clear that these are similar issues, for example the environments are different: Windows vs Linux.

[2020-09-24 16:55] rvalenciaaz opened #435 "install issue in Windows 10"
I'm experiencing almost the same issue in Windows 10

CUDA 10.1
Pytorch 16 in conda environment
gcc
g++
Visual Studio 2019 plus C++ development tools

(pytorch) C:\Users\rgval>nvidia-smi
Thu Sep 24 11:31:36 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 431.40       Driver Version: 431.40       CUDA Version: 10.1     |
|---------------------------

[2020-09-24 17:11] tjruwase commented on #435
@rvalenciaaz Thanks for opening as a new issue.

This looks like a g++ compiler issue in Windows, which we are not seeing in Linux which is our normal development environment. Can you help test how many of the kernels have compiler issues by disabling the kernels one by one. So for example, can you disable the LAMB kernel which is causing the error you are seeing now by running the following:

[2020-09-24 17:24] arashashari commented on #432
@e-sha: As @tjruwase asked for your compiler version, I think it could be an issue with your g++ compiler; as you are using Ubuntu-16.04. I just double checked a successful install on Ubuntu-18.04 with g++ 7.5.0. Please provide us with you compiler version and if possible, do a test with an updated version.

[2020-09-24 21:12] conglongli commented on #428
Fixed in https://github.com/microsoft/DeepSpeed/pull/436

[2020-09-24 21:12] #428 closed

[2020-09-24 21:19] drfinkus commented on #425
Out of curiosity, @rople380, what CPU do you have? AMD Threadripper 1920x here.

[2020-09-24 23:49] Enumaris opened #438 "Connection Refused Error when running Azure Quick Start Guide"
Hello,

I am following the guide to get DeepSpeed running on Azure found here: https://www.deepspeed.ai/tutorials/azure/

I created two vms, set them up, and set up the docker containers in them exactly as the guide suggested by using the `create_vms.sh`, `setup_vms.sh`, and `setup_docker.sh` files respectively.

However, after I ssh into vm 0, attach to the container, and attempt `ssh worker-1 ho

[2020-09-25 04:48] ShadenSmith commented on #434
Yep! We scaled it to 800 GPUs (50 DGX-2 nodes) in our recent [trillion-parameter result](https://www.microsoft.com/en-us/research/blog/deepspeed-extreme-scale-model-training-for-everyone/). On machines with low inter-node bandwidth, we showed up to 7x speedup on GPT-2 sized problems by pipelining across machines.

By default, DeepSpeed prioritizes placing model- and data-parallel groups within a m

[2020-09-25 06:22] e-sha commented on #432
[code]
[code]

[2020-09-25 06:26] #434 closed

[2020-09-25 11:18] e-sha commented on #431
This patch to setup.py solves my problem. But I definitely don't like it
[patch.txt](https://github.com/microsoft/DeepSpeed/files/5282408/patch.txt)

[2020-09-25 12:33] tjruwase commented on #431
@e-sha Thanks for sharing this update. So it seems the issue is with building the Adam CPU kernels. I agree that is not an ideal solution. So I have a few questions that could help us get to the right solution?

1) What kind of CPU are you building on?

2) What is the result of this command?
`python -c "import cpufeature; cpufeature.print_features()`

[2020-09-25 13:20] e-sha commented on #431
It is E5-2660
[code]

[2020-09-25 13:57] tjruwase commented on #431
Thanks for sharing.
Can we please narrow this down a bit further to find which specific compile flags are causing the problem. Can we selectively re-enable them as below? In trying the following steps please add install.sh with `-n` to reduce the build time.

1. From this result it seems SIMD_WIDTH should be an [empty string](https://github.com/microsoft/DeepSpeed/blob/0ca82156e1799672a9522e539c65

[2020-09-25 14:36] david-macleod opened #443 "Running onebitadam tests"
Hi

I have tried running the tests for 1-bit Adam
[code]
But it just returns
```collecting ... %```

So I was wondering if I should be calling the tests in a different way?

[2020-09-25 16:14] tjruwase commented on #443
@david-macleod Can you please run pytest in verbose mode?
`pytest -v -s test_com_reduce_host.py`

[2020-09-25 17:46] gongwei-130 opened #444 "How Megatron work with pipeline module?"
In tutorial, it says "DeepSpeed’s training engine provides hybrid data and pipeline parallelism and can be further combined with model parallelism such as Megatron-LM. ". Is there any example/tutorial how to combine them? Thanks.

[2020-09-25 17:52] msmolyak opened #445 "Using DeepSpeed with the latest version of Megatron-ML"
In the [DeepSpeedExamples](https://github.com/microsoft/DeepSpeedExamples) repository you helpfully provided the example of wrapping Megatron-ML model in DeepSpeed. The version of Megratron-ML used there dates to February, 2020. Are there plans to update the version of Megatron-ML in DeepSpeedExamples? Alternatively, is there a guidance on integrating the latest Megatron-ML version with DeepSpeed?

[2020-09-26 06:24] eric-haibin-lin opened #447 "Full half precision optimizer"
Hi,

Is there an implementation of fully half-precision optimizer? I see from the GPT-3 paper:

half-precision training.

It looks like DeepSpeed optimizer is still using mixed precision. Has anyone looked into this before? This would allow training these big models with much less memory ... Thanks!

[2020-09-26 19:21] ShadenSmith commented on #444
Hi @gongwei-130, we are working towards the release of a full example and tutorial for pipelined Megatron-LM. In short, you need to flatten the model to a stack of layers and to override the underlying model/data parallel `mpu` code in Megatron to use DeepSpeed's 3D topology.

[2020-09-27 13:27] hiun opened #448 "For model-parallel&multi-gpu training and inference"
Hi,
1) I am looking for materials for how GPU memory in DeepSpeed is used for model-parallel&multi-gpu training setting. (Such as Megatron-LM)

For my current understanding, the following post only visualizes data-parallel&multi-gpu setting. https://www.microsoft.com/en-us/research/blog/zero-deepspeed-new-system-optimizations-enable-training-models-with-over-100-billion-parameters/. Any reference

[2020-09-28 12:24] e-sha commented on #88
Why Lamb is not in a [list](https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/runtime/zero/utils.py#L26) of supported optimizers?
Please share your ideas of what would be needed to support Lamb with ZeRO.

[2020-09-28 17:07] tjruwase commented on #447
@eric-haibin-lin Yes, you are correct, DeepSpeed's fp16 and ZeRO optimizers are using mixed precision. We currently don't have a fully half-precision optimizer.

[2020-09-28 17:08] tjruwase commented on #431
@e-sha did you get a chance to investigate this further?

[2020-09-28 17:10] tjruwase commented on #283
@chenghuige If I understand correctly, are you still running into issues or is it now working?

[2020-09-28 17:22] eric-haibin-lin commented on #447
thank you for the reply! Is there a plan to add/evaluate fully fp16 optimizer?

[2020-09-28 17:26] tjruwase commented on #447
We don't currently have a plan for this. Yours is the first interest in this, and so we will note it. Thanks!

[2020-09-28 18:33] gongwei-130 commented on #444
Thanks for reply. Any eta for the release?

[2020-09-29 20:49] min-xu-ai opened #452 "Zero-R source code"
Hi there, I read about Zero-R work in the paper. But I haven't been able to find the code for it. Is that code release in this GitHub repo? Thanks a lot for your help!

[2020-09-29 23:05] tjruwase commented on #425
@drfinkus and @rople380  can you please check if you still encounter this issue. This has been addressed by PR #450.

[2020-09-30 10:39] YeDeming opened #454 "CUDA Error when run with multiple GPUs"
Thanks for opening source the great code!

I try to load HugginFace checkpoint and run BingBertSquad example with deepspeed transformer kernal.

The script:
[code]

I run in two environment:

(1) 1080ti with the provided docker
1GPU with fp32 -->  success
1GPU with fp16 --> NAN
2GPU with fp32 --> error
(2) TITAN RTX and manually use install.sh
1GPU with fp16 --> success
2GPU with fp16--> error

Th

[2020-10-01 02:56] LIZHICHAOUNICORN opened #457 "Tutorials docs"
![image](https://user-images.githubusercontent.com/18499529/94760290-a7513800-03d4-11eb-916f-76c811b4ec57.png)

[2020-10-01 03:42] david-macleod commented on #443
Thanks, that revealed an error with my mpi installation which I have now fixed and the tests now pass. I was wondering if it is possible to run the test across multiple nodes as it currently looks like it is only using a single process on a single node (using the above command)

[2020-10-01 05:13] tjruwase commented on #397
@chaoyanghe We have made some improvements to the installation process. Can you please try the latest code?

[2020-10-01 05:15] chaoyanghe commented on #397
@tjruwase thanks. I will try. We also attempt to build a library from scratch for our own project.

[2020-10-01 05:15] tjruwase commented on #443
Glad to hear the test is working for you. I don't have experience running pytest across nodes.

@jeffra  or @ShadenSmith, do you have any ideas on this?

[2020-10-01 05:26] david-macleod commented on #443
Perhaps I don't need pytest at all as my main motivation here is to run a performance test comparing PyTorch native DDP AllReduce with onebitadam, to see what (speed) gains I'd get on my particular topology. I initially thought modifying the unit test would be a quick way of achieving this, but in retrospect maybe I should just run some of the deepspeed example scripts with/without onebitadam enab

[2020-10-01 05:28] jeffra commented on #443
Hi @david-macleod, you should be able to run the tests in https://github.com/microsoft/DeepSpeed/tree/master/tests/onebitadam without `pytest` since they're actually not traditional unit tests (unfortunately). We typically run them with `mpirun` or the `deepspeed` launcher directly which would support running across multiple nodes. As you just posted now, checking out the examples is probably also

[2020-10-01 05:30] david-macleod commented on #443
Thanks @jeffra I will try that

[2020-10-01 05:30] #443 closed

[2020-10-01 05:35] jeffra commented on #438
@Enumaris, so sorry you're having issues here. Have you made any progress here? If not I would first check to make sure your ssh server is running properly on port 2222 inside the docker container.

Inside the container: `sudo service ssh status` and also check to see if your `Port` is set to 2222 inside /etc/ssh/sshd_config

[2020-10-01 14:02] YeDeming commented on #454
I found adding "args.local_rank if hasattr(args, 'local_rank') else -1" to DeepSpeedTransformerConfig in BingBertSquad can solve this problem.

[2020-10-01 14:08] tjruwase commented on #454
@YeDeming thanks for using DeepSpeed. Sorry about this issue, but I am glad you found a resolution.

From your solution, it seems like args.local_rank == -1 in the 2GPU case. Can you please confirm that by logging the value of args.local_rank at startup?

[2020-10-01 14:15] YeDeming commented on #454
It seem that you forget to add "local_rank=..."  in

https://github.com/microsoft/DeepSpeedExamples/blob/ba63ad0fa861d28b3b33bc2c20f702647403e258/BingBertSquad/turing/nvidia_modeling.py#L510-L522`

The problem also apeears in nvidia_modelingpreln.py

[2020-10-01 20:28] Enumaris commented on #438
Hi @jeffra thanks for looking into this!

Running `sudo service ssh status` from inside the container reveals it is not running:

`deepspeed@01d1b2ac4605:~$ sudo service ssh status
* sshd is not running`

I guess the set up scripts didn't start the ssh server within the container and only started the ssh in the vm?

Looking at `/etc/ssh/sshd_config` reveals that the port is set to 22. I am not sur

[2020-10-01 21:51] jeffra commented on #438
Hi @Enumaris,

Glad to hear it's working now. That's really odd, these things should all be happening already.

The ssh port set to 2222 is done in the docker image: https://github.com/microsoft/DeepSpeed/blob/95575579b3304f3cdd6bc1f9715535d424768b87/docker/Dockerfile#L149-L154

The starting of the ssh service should be done when the container is started here:
https://github.com/microsoft/DeepSpee

[2020-10-01 22:22] Enumaris commented on #438
That's very odd indeed... all I can say is I followed the tutorial and ran all the scripts maybe 3-4 times, starting from scratch each time, and it never worked for me until I manually changed the port and started the ssh service within the container.

[2020-10-01 22:26] jeffra commented on #438
Gotcha, again so sorry you had to spend this much time. Glad it's working now. We will run through the steps again on our side and see if we can repro the issue. It's possible something has changed since we last tried these steps and one of the steps is silently failing.

[2020-10-01 22:26] jeffra commented on #438
Closing for now, feel free to re-open if you have any further issues/questions.

[2020-10-01 22:26] #438 closed

[2020-10-03 00:05] szhengac opened #459 "Fail to install sparse attention and cpu-adam"
When I used install.sh, I received the following warnings:

`[WARNING]  fused lamb is NOT installed.

 [WARNING]  transformer kernels are NOT installed.

 [WARNING]  sparse attention is NOT installed.

 [WARNING]  cpu-adam (used by ZeRO-offload) is NOT installed.`

After changing the wheel installation to pure pip installation, the fused lamb and transformer kernel can be installed. But I still fa

[2020-10-04 05:50] szhengac opened #461 "AssertionError: MPI world size 16 does not match torch world size 8"
When I use mpirun for Megatron-LM bert pretraining, I received
`AssertionError: MPI world size 16 does not match torch world size 8"`

For mpirun args, I use `--allow-run-as-root -np 16 -N 8 --hostfile ${hostfile}`. Is there something I miss for setting torch world size appropriately?

[2020-10-05 10:25] e-sha commented on #431
Dear @tjruwase,
I had no chance to work on this issue, but it is still in my list. I'm going to try one more time this week

[2020-10-06 16:37] ollmer commented on #459
Hi! I have the same issue after installing with install.sh in virtual environment

[2020-10-06 17:23] tjruwase commented on #459
@ollmer Can you please share the exact command you ran?

[2020-10-06 17:48] ollmer commented on #459
`./install.sh`
Tail of the output:

 Installing collected packages: deepspeed
Successfully installed deepspeed-0.3.0+6717638
Removed build tracker: '/tmp/pip-req-tracker-kxo93qrf'
 [SUCCESS]  deepspeed successfully imported.
 [INFO] torch install path: ['/home/olg/venv/lib/python3.6/site-packages/torch']
 [INFO] torch version: 1.5.0+cu101, torch.cuda: 10.1
 [INFO] deepspeed install path: ['/home/o

[2020-10-06 18:02] tjruwase commented on #459
Thanks for sharing.  Now it seems installation is successful, although cpu-adam and sparse-attention are not installed. Those two are not installed by default because of dependencies. So two questions:
1) Does this mean the installation error is not reproducible?
2) Can you test if the installation works for you?

[2020-10-06 18:07] ollmer commented on #459
It's more like what should i do to get sparse attention module and cpu-adam installed? Because i want to do some experiments with both of them. My expectation was that all of deepspeed optimizations would be available after install by default.

[2020-10-06 18:24] tjruwase commented on #459
Got it. Unfortunately, sparse-attention and cpu-adam have extra requirements that could create installation issues and so they are disabled by default to reduce the number of users who run into these issues.

To enable cpu-adam please
1. Install cpufeature: `pip install cpufeature`

2. Run `DS_CPU_ADAM=1 ./install.sh -n`
The `-n` is for incremental installation so that it does not rebuild existing

[2020-10-06 18:49] ollmer commented on #459
Thanks for instructions!

This one already has been installed.

I've done it, it takes less than a minute, but the result is the same, unfortunately:

Installing collected packages: deepspeed
Successfully installed deepspeed-0.3.0+6717638
Removed build tracker: '/tmp/pip-req-tracker-5vxjp6gi'
 [SUCCESS]  deepspeed successfully imported.
 [INFO] torch install path: ['/home/jovyan/venv/lib/python3.6