[2021-10-06 18:48] franckjay commented on #1435
Full stack-trace:

[code]

[2021-10-07 01:32] skpig commented on #1394
@tjruwase The issue still exists with current commit (d8e9ef6f99e27bb95e10bd146d145b3372b4cfda). And thanks for your reminder @stas00 .
<details>
        <summary> my test code </summary>

    ds_config = "config/ds_config.json"
    dschf = HfDeepSpeedConfig(ds_config)
    model = BartForConditionalGeneration.from_pretrained("facebook/bart-base")
    param_optimizer = list(model.named_parameters()

[2021-10-07 01:40] suchig opened #1436 "Performance degradation after using DeepSpeed (UniLM/layoutlmv2)"
Hi,

We are trying DeepSpeed with UniLM using FUNSD example that is provided here - https://github.com/microsoft/unilm/tree/master/layoutlmv2

It takes 18-ish minutes to finish training without using DeepSpeed in a 16GB Single GPU machine.
When I use DeepSpeed with the below mentioned configuration, it took 30+ minutes in the same machine. I tried to add optimizer, scheduler with different learnin

[2021-10-07 01:42] stas00 commented on #1394
[code]

means that ZeRO3 hasn't gathered the param from the gpus.

Thank you for trying the the `HfDeepSpeedConfig` setup.

Does the problem go away if you don't use param groups i.e. just pass the args to the optimizer normally?

[2021-10-07 01:50] skpig commented on #1394
No, it doesn't. The traceback is the same as before with `model_parameters=model.parameters()`

[2021-10-07 16:23] murnanedaniel opened #1437 "[BUG] Offload memory usage not performing as expected"
I'm working with graph neural networks for particle physics, where we often have large graphs that cannot fit all gradients on the GPU simultaneously. I'm hoping to use Stage 3 offloading to move parameters/gradients off the GPU and train these graphs. However after also trying this with Fairscale, I'm settling for a simpler toy model to understand the memory behaviour. Here is the toy:

**To Repr

[2021-10-07 16:47] franckjay commented on #1435
Exactly!

[2021-10-07 18:13] franckjay commented on #1435
@philschmid , @jeffra , and @tjruwase , thank you for the help! Spinning up an instance with AL2 worked perfectly. You are all wizards of the highest order.

[2021-10-07 18:13] #1435 closed

[2021-10-07 18:31] #1431 closed, assigned to nobody

[2021-10-07 18:59] #1432 closed

[2021-10-07 19:35] murnanedaniel commented on #1437
Thanks for summarizing these values. Indeed I agree that this case of a small model and small graph (i.e. a single-edged graph) is not really what ZeRO is built for, but scaling it up to a larger model and larger graph I see similar behavior.

I am using the `max_memory_allocated` as a proxy for the maximum model size (or, conversely, graph size). So I'm seeing a `Max_MA` of around 1.9 and 4.1 for

[2021-10-07 19:41] tjruwase commented on #1437
Got it. Can you please share the memory usage logs for the OOM case?

[2021-10-08 10:16] #1403 closed

[2021-10-08 13:16] tjruwase commented on #1394
@stas00, thanks for resolving this. Your analysis is correct, the engine is currently not re-startable mid-flight as we did not envision this. We will put this on our TODO.

@samyam, @jeffra FYI

[2021-10-08 20:04] olegklimov opened #1441 "module 'triton' has no attribute 'kernel'"
DeepSpeed seems to be incompatible with the current version of Triton. (https://github.com/openai/triton)

In `sparse_attention/matmul.py`

[code]

But there is no such thing.

[code]

To reproduce, fix the test:

[code]

and run

[code]

The result:

[code]

[2021-10-08 21:29] suchig commented on #1436
Here are few of the log info after setting wall_clock_breakdown
[INFO|trainer.py:1013] 2021-10-08 20:03:14,331 >> ***** Running training *****
[INFO|trainer.py:1014] 2021-10-08 20:03:14,332 >>   Num examples = 150
[INFO|trainer.py:1015] 2021-10-08 20:03:14,332 >>   Num Epochs = 53
[INFO|trainer.py:1016] 2021-10-08 20:03:14,332 >>   Instantaneous batch size per device = 8
[INFO|trainer.py:1017] 202

[2021-10-08 21:32] jeffra commented on #1441
@olegklimov what version of deepspeed are you using? I believe this has been fixed recently. Can you show me the contents of `ds_report`?

[2021-10-08 22:10] tjruwase commented on #1436
@suchig, thanks. Can you please share similar profiling log for non DeepSpeed case so we can compare the numbers?

[2021-10-09 00:58] suchig commented on #1436
Thanks. Are you fine if I run it with python cProfile? That gives a bunch of stats. I am unsure how to filter out backward, forward and optimizer from that.

[2021-10-09 01:28] suchig commented on #1436
Thanks. Are you fine if I run it with python cProfile? That gives a bunch of stats. I am unsure how to filter out backward, forward and optimizer from that.

I looked at pytorch profiler. Unfortunately the code is from UniLM examples. I am really unclear where exactly the model could be called since it in turn uses Trainer from Transformer.

[2021-10-09 01:49] tjruwase commented on #1436
@suchig, no worries. A thought that just crossed my mind that since you can run this model without DeepSpeed this probably means you don't need the ZeRO optimization. Can you remove the `zero_optimization`  from your ds config?

[2021-10-09 06:05] olegklimov commented on #1441
Oops my bad, worked too much! Closing this.

[2021-10-09 06:05] #1441 closed

[2021-10-09 06:20] tjruwase commented on #1436
It is okay, to just leave "wall_clock_breakdown": true in ti.

[2021-10-09 09:09] Vbansal21 opened #1442 "[REQUEST] MOE k gating with value greater than 2."
The MOE is restricted to 1 or 2 top k values, it would be nice if higher k values could be implemented.
Or maybe other implementations could be used in place of this with offload.

[2021-10-10 05:19] GPTDGX opened #1444 "DGX-1 / V100-32GB-SMX2 - nvlink is not activated (0 activity)"
Hi, what are the requirement for NVLINK to function. I have 2 machine - one is regular pcie 3090 - 2 x cards in nvlink - works good and nvlink shows activity via :
nvidia-smi nvlink -gt r
and DGX-1 server - NVLINK is not activated by DeepSpeed. - show activity as N/A, although
nvidia-smi topo - m  / nvidia-smi nvlink -s
show all nvlink present and ready to go. DGX-1 server run by bare (not NVIDIA

[2021-10-10 21:34] suchig commented on #1436
Thanks for the response. Below is the final step with statistics.
Observation:
1. backward_allreduce was always considerably less than prior attempts.
2. It took 21 minutes (More than no deepspeed runs (18 mins), less than deepspeed run with zero optimization (30 mins)
3. I am still unclear why this was slower than non deepspeed run. Is this because the architecture is not very complex to derive t

[2021-10-11 04:10] ConnollyLeon opened #1445 "[BUG] A Possible way to improve ZeRO"
**Describe the bug**
I am training a Bert-Large Model with batch_size=1, 2GPU and zero3.
I notice that when applying checkpoint in torch.utils for every BertLayer, the max_memory_allocated would be 4.9 GB. However, during the training, memory allocation number is 3 GB or so.  I found out that this 4.9 GB occurs in the initialization of ZeRO optimizer. Specifically, In stage3.py::initialize_optimiz

[2021-10-11 06:03] awan-10 commented on #1296
Can you please try the deepspeed version of the training scripts? E.g. https://github.com/microsoft/DeepSpeedExamples/blob/master/Megatron-LM-v1.1.5-ZeRO3/examples/ds_pretrain_gpt2.sh

Your current run is without deepspeed so the model will have not the parameters like global_steps as those are part of the wrapped model that you get when you training with deepspeed.

[2021-10-11 15:30] surak opened #1449 "ds_report shows no info about mpi or nccl, or cuda capabilities"
It's hard to check if DS supports NCCL and MPI, when there's no info about it on ds_report.

`ds_report` actually reporting what was used and what is recognized w.r.t. CUDA, MPI, NCCL.

[2021-10-11 17:10] awan-10 commented on #937
This is resolved in the linked PR already.

[2021-10-11 18:58] tjruwase commented on #1436
Thanks for sharing these results. I will address your observations with the view of helping you determine whether deepspeed is the best option you. But first, let me restate that ZeRO is just one of the many features of the DeepSpeed library. You can see a  list of DeepSpeed features [here](https://www.deepspeed.ai/#features).

1. ZeRO is best used when model size (e.g., multi-billion parameters)

[2021-10-11 22:45] szhengac commented on #961
@RezaYazdaniAminabadi Is there any update on the fix for Transformer CUDA kernel?

[2021-10-12 19:46] #1401 closed

[2021-10-13 00:19] HamidShojanazeri opened #1454 "Issues with running inference on quantized model"
I have a question on MoQ usage and appreciate the help. I have run the [example](https://github.com/microsoft/DeepSpeedExamples/tree/master/MoQ) that train a bert-base model with MoQ, then trying to load it back for inference using the code snippet below.

[code]
This runs into an issue that complains about missing input_mask in the inputs, [logs](https://gist.github.com/HamidShojanazeri/fddae1c09

[2021-10-13 03:35] suchig commented on #1436
I was thinking of using torch. autograd.profiler during training. Or maybe cProfile which will give ton of output that I have to visualize in some fashion.

[2021-10-16 03:59] hobbitlzy commented on #1395
Thanks, @ykim362 . I previously followed the implementation from this [repo](https://github.com/labmlai/annotated_deep_learning_paper_implementations/blob/master/labml_nn/transformers/switch/__init__.py). They also have a nice implementation but pass the dropped tokens. Anyway, I think you are right. What the Switch Transformer and Gshard recover the dropped tokens by residue connection.

I notice

[2021-10-17 13:24] peteriz commented on #575
Hi, I'm sorry but I didn't have a chance. Its definitely on my todo list and I'll update once I get to run such setup.

[2021-10-19 01:24] #1394 closed

[2021-10-19 08:24] BramVanroy opened #1459 "[BUG] AttributeError: 'FusedAdam' object has no attribute 'set_grad_none'"
**Describe the bug**
When I use FusedAdam from deepspeed as an optimizer, without any other DeepSpeed features, it seems to crash due to a missing attribute. This is clear from the error trace. This is odd to me, because the init clearly has a set_grad_none attribute.

https://github.com/microsoft/DeepSpeed/blob/b4e5826a60b275600673a77478ecb749519caaf0/deepspeed/ops/adam/fused_adam.py#L70

**ds_re

[2021-10-19 13:27] AngThanos opened #1460 "[BUG] Encountered a problem when using SparseSelfAttention."
Hi there,

I attempt to use SparseSelfAttention class to calculate matrix multiplication as following code:
result_layer = self.sparse_self_attention(query_layer,
                                                   key_layer,
                                                   value_layer,
                                                   key_padding_mask=None)
Two months ago, the thing was oke but

[2021-10-20 02:34] zgerrard opened #1464 "[Question] Fused Kernels for Inference"
Hi, after looking at the code I noticed that all functions for inference in CUDA are unfused. Also, there is no InferenceSpecializedBuilder that is supposed to build Specialized Transformer that uses the fused kernels, as mentioned in the blogpost: https://www.microsoft.com/en-us/research/blog/deepspeed-accelerating-large-scale-model-inference-and-training-via-system-optimizations-and-compression/

[2021-10-20 02:35] ConnollyLeon opened #1465 "[BUG] Memory Leak Using ZeRO stage3 without Checkpointing"
**Describe the bug**
When using ZeRO-3 to train model without checkpointing intermediate activation values, I find out that the post_sub_module_forward_function is not working correctly. It do partition the param.data, but the memory consumption remains the same.

This is probably due to the inner implementation of PyTorch, which creates a ref of param.data to keep its corresponding intermediate a

[2021-10-20 03:34] daniel-ziegler opened #1466 "[BUG] Inference kernels don't handle Huggingface attention_mask correctly"
**Describe the bug**
When I use DeepSpeed's inference kernels with Huggingface transformers and pass an in an `attention_mask` that masks out some tokens, the mask affects the output in strange ways. In my repro code this results in very different logits; when sampling this results in garbage samples.

**To Reproduce**
Run the following code:
[code]
I get:
[code]

**Expected behavior**
The asserti

[2021-10-20 05:26] rwightman opened #1467 "[BUG] Missing ops in profiler"
**Describe the bug**
I recently discovered the DeepSpeed profiler and like that it's super easy to use and the layer / model view is quite intuitive and informative. However, digging in deeper I'm seeing some issues re several transformer models. Comparing familiar CNNs the flop counts seem accurate and very closer to past analysis. For transformers with matmuls ops in custom modules, those matmul

[2021-10-20 15:27] gaoyuchong opened #1468 "[QUESTION] How to use pytorch multiprocess to launch deepspeed ？"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-10-21 12:35] #1402 closed

[2021-10-21 21:03] jeffra commented on #1444
Gotcha, thanks for this info. It seems you're on something like a DGX-1. nvidia-smi is definitely showing several NVLink paths so that's good.

Can you run `NCCL_DEBUG=info deepspeed all_red_bench_v2.py`. We want to launch the training across multiple GPUs and see the NCCL logs to see what device it's seeing at runtime. The `deepspeed` launcher will by default run this across all 8 gpus on your ma

[2021-10-22 00:30] PythaGorilla opened #1475 "[Question] Permission denied error on slurm based systems"
I tried to run deepspeed on a slurm based node (compute canada). But it always throws a "Permission denied" error whenever "deepspeed" command (in bash) is used. However, I can successfully run the "python -m deepspeed.env_report" command and get the correct report. Could you please help me find out why this error occurs? Thanks a lot.

[2021-10-25 09:28] ReinholdM opened #1479 "Occasionally meet the error "Address already in use""
Hi! I met the error logs below after running my code integrating DeepSpeed with my own code several times. Killing all processes and exiting my account to log in again can fix this problem.  How to avoid this problem? Thanks!
<img width="1171" alt="DeepSpeed_bugs" src="https://user-images.githubusercontent.com/37702076/138670803-ec9f8b08-7cc1-4b14-bc40-0339cde5577c.png">

[2021-10-25 18:31] PeterDykas opened #1480 "[BUG] Post Layer Normalization model gradients not matching"
**Describe the bug**
Test inputs in test_cuda_backward.py that have `is_preln = False` will often fail but the same input with `is_preln = True` will pass.  I can see that in the file all the test cases with post layer normalization are commented out.  Is post layer normalization no longer supported or is the test case not able to properly test models with post layer normalization?

**To Reproduce

[2021-10-26 02:47] Vladimir-Bayes opened #1481 "[BUG]When using multiple nodes, no GPUs found!"
**Describe the bug**
I'm using Deepspedd to train my model with 2 nodes. Each node has 8  gpus. When it goes to **"deepspeed.init_distributed(dist_backend='nccl', verbose=True)"**
an error **"ProcessGroupNCCL is only supported with GPUs, no GPUs found!"** occurs.
It is so weird, because when I train my mode on one single node (8 gpus), it works well.

File "/root/miniconda3/lib/python3.8/site-pack

[2021-10-26 07:45] Programmer-RD-AI opened #1482 "Dataloader error when using DeepSpeed"
https://github.com/PyTorchLightning/pytorch-lightning/issues/8546

[2021-10-26 07:51] sooftware opened #1483 "[BUG] It seems that the model parameters are not updated."
**Describe the bug**
I use DeepSpeed with GPT-Neo 2.7B model. I success started training, but it seems that the model parameters are not updated.

<img src="https://user-images.githubusercontent.com/42150335/138831336-d98e7ad1-7394-4fa5-bd62-bebd0050475c.png" width=400>

Below is my code and deepspeed config. If there is anything strange or suspicious, please tell me.

[code]

Training proceeds. T

[2021-10-26 17:36] daniel-ziegler opened #1485 "[BUG] Huggingface inference: Dimension error when passing use_cache=False"
**Describe the bug**
When using DeepSpeed's inference mode for Huggingface transformers, if you pass use_cache=False, you get a dimension error.

**To Reproduce**
Run the following code:
[code]

I get the following stack trace:
[code]

**Expected behavior**
It should succeed and print the shape of the logits, the same way it does if `DEEPSPEED = False` or `use_cache=True`.

**ds_report output**
[c

[2021-10-27 18:40] zarzen opened #1488 "[BUG] loss discrepancy among ZeRO-0, 1, 2, 3, when gradient accumulate multiple steps"
**Describe the bug**
Feeding model with same random data, but with different ZeRO optimization stages produces different loss trajectories.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the testing scripts: https://gist.github.com/zarzen/34a34c75109dfc39b37a8d2e27db20f1
2. Run testing script: `python3 test_diff_stages.py`
3. The script will save the loss trajectories into `/tmp` f

[2021-10-28 01:43] #1479 closed, assigned to jeffra

[2021-10-28 01:47] aphedges opened #1493 "[BUG] Local `tmp` directory created when running `ds_report`"
**Describe the bug**
When running `ds_report`, a "temporary" local directory is created but never removed when execution finishes.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `ds_report`
2. See a local directory created named `tmp` (on Linux) or `var` (on macOS)

This also seems to happen during installation, but that is much more annoying to run repeatedly.

**Expected behavior**
Th

[2021-10-28 02:36] gitsybws opened #1495 "[Question] How to use deepspeed to run: python -m package.run"
Launching training need replace python -m torch.distributed.launch with deepspeed:
`original cmd: python -m torch.distributed.launch --nproc_per_node=8 <client_entry.py> <client args>`
-->
`deepspeed --num_gpus=8 <client_entry.py> <client args> --deepspeed ds_config.json`

But my original command line looked as following:
[code]
python run library module as a script.

Is there a way for deepspeed

[2021-10-28 22:49] #1485 closed, assigned to RezaYazdaniAminabadi

[2021-10-29 04:11] gahdritz opened #1496 "[QUESTION] Skipping examples with NaN loss"
I'm trying to train a model on multiple GPUs with fp16 mixed precision and DeepSpeed + PyTorch Lightning. Certain pathological examples in the training set cause activations to overflow and ultimately the loss to become NaN. Is there any way to skip the backward pass for such examples? Alternatively, how is this problem usually addressed? My current hack is just to zero the loss in these cases, bu

[2021-10-29 06:24] AnesBenmerzoug opened #1497 "[BUG] ZeroDivisionError when using OneCycle scheduler with default values for decay_lr_step"
**Describe the bug**

[code]

The error seems to happening only because of [this line](https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/runtime/lr_schedules.py#L620). It should be easy to fix and I can take care of it and also see if the same thing happens with other learning rate schedulers.

**To Reproduce**

Run the following code:

[code]

**Expected behavior**
A clear and concise

[2021-10-29 09:03] hyunwoongko opened #1499 "[BUG] 'NoneType' object has no attribute 'dp_process_group'"
## ERROR
- deepspeed 5.4
- pytorch 1.7.0+cu110
- cuda 11.0
- cudnn 8.0.x

[code]

## Config
[code]

[code]

[2021-10-29 09:23] #1499 closed, assigned to nobody

[2021-10-29 16:46] nithin8702 opened #1502 "Multi Node Distributing - RuntimeError: Connection reset by peer"
Hi,

Am trying to use multi node in AWS Kubernetes (EKS). Its working in Single Node (current machine without the hostfile) but when i try to connect different nodes, its not)

hostfile
gpu2 slots=1

ssh gpu2 date is returning the date.

In Terminal when i execute the following commands, its throwing the error given below. "RuntimeError: Connection reset by peer"
deepspeed --hostfile=hostfile cifa

[2021-10-29 17:28] #1497 closed, assigned to nobody

[2021-10-29 18:34] arqlz commented on #1121
Same problem

[2021-10-29 18:48] PeterDykas commented on #1480
Hi @RezaYazdaniAminabadi I can see you put in a test that is very similar, `(64,1600,128,2,4,False,True, 0.2),` that passes for me.  However the `64,1600,128,2,24,False,True, 0.2)` test still fails barely with the below problem.  The only difference is this one has more layers.  Does this small of an error look fine or is my atol too low?

[code]

[2021-10-29 19:04] RezaYazdaniAminabadi commented on #1480
@PeterDykas, I think this is a very small error. By the way, I have to reduce the layers, otherwise our GPU's that are testing this will give OOM on the github side.
Can I ask if you please turn on the verbose (https://github.com/microsoft/DeepSpeed/blob/transformer-kernel/fix-unit-test/tests/unit/test_cuda_backward.py#L308) to see which parameter is getting this diff?

[2021-10-29 19:12] PeterDykas commented on #1480
[code]

[2021-10-29 19:14] RezaYazdaniAminabadi commented on #1480
I think this is also on different hardware. I just test this and I get assertion error toward the last gradient of the input (hidden_states):
[code]
As you see here the norm of these two matrices which are shown below after turning on verbose is very similar (8.61462958877143, 8.614443277616724):
![image](https://user-images.githubusercontent.com/44502768/139489530-f205970b-4bdd-4a8d-b4bc-2b93aa7b

[2021-10-29 19:15] PeterDykas commented on #1480
Awesome thank you!

[2021-10-29 19:17] #1480 closed

[2021-10-29 19:26] RezaYazdaniAminabadi commented on #1460
Hi @AngThanos,

this problem might be due to the changes we imported from the new version of Triton. I will try this and let you know if I repro this. If you could provide me some test for this, that would be awesome.
We will push a fix for this soon.
Thanks,
Reza

[2021-10-30 01:06] szhengac commented on #1480
I also tried the fix. It still produces large difference for the following two cases:

[code]

[code]

[2021-10-30 02:24] Vladimir-Bayes commented on #1481
Thanks.
I use python script to check the python path. It seems the reason why GPUs are not found becomes clear.
When I use multiple nodes to run my train script. The log shows:
before it goes into deepspeed, the python path is
[code]
After it goes into deepspeed, the python path is
[code]
I further check python path using deepspeed with only 1 node. The python path keeps unchanged, which is
[code]

[2021-10-30 05:17] flybiubiu opened #1507 "[QUESTION] About Pipeline Parallelism save_checkpoint"
Thx project!
I used Pipeline Parallelism mode,and My model loss has convergenced.
But when I used model_engine.save_checkpoint(). This saved model is not has trained!(acc1 is 0.1% acc5 is 0.5%, It is random parameter)
So,I want to confirm the Pipeline Parallelism's save_checkpoint can correct the Pipeline Parallelism model?
Thx again

[2021-10-30 05:33] yyy-Apple commented on #1475
I guess you need to use `chmod`. At least for me, that solved the problem.

[2021-10-30 09:51] sooftware commented on #1483
Never mind. It seems to be a problem with my equipment.

[2021-10-30 09:51] #1483 closed

[2021-10-30 15:02] nithin8702 commented on #1502
Hi @jeffra

ds_ssh hostname is returning worker nodes correctly. However when i execute deepspeed command it's throwing "Connection reset by peer"

I have the hostfile both in /job/hostfile as well in present working directory.

Full command is "deepspeed --hostfile=hostfile cifar10_deepspeed.py --deepspeed_config ds_config.json"

Here's my ssh config file at /root/.ssh/config

Host gpu2
  Hostnam

[2021-10-31 08:59] callzhang opened #1508 "[REQUEST] Model serving via deepspeed's inference module"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I am trying to run my model serving code in a model-parallel fashion. The tutorial shows how to run code on multi-GPU but the data is predefined, which cannot be used for serving. My original code is using fastapi to do the serving work. When using `deepspeed --num_gpus n example.py` the fas

[2021-10-31 18:41] PythaGorilla commented on #1475
yes, i can run it without problem.

[2021-10-31 18:42] PythaGorilla commented on #1475
Thanks, @yyy-Apple. Could you elaborate on what file or folder to `chmod`?

[2021-11-01 02:15] yyy-Apple commented on #1475
You should make `path/to/bin/deepseed` executable

[2021-11-01 02:18] yyy-Apple commented on #1475
@PythaGorilla You should make `path/to/bin/deepspeed` executable.

[2021-11-01 07:06] nithin8702 commented on #1502
Hi @jeffra

Do you any documentation for how to setup deepspeed in Kubernetes? Also, It's good to have setup documentation for kubeflow integration.

[2021-11-01 12:41] PythaGorilla commented on #1475
@yyy-Apple  Thanks, it worked!

[2021-11-01 12:41] #1475 closed

[2021-11-01 17:18] jeffra commented on #1481
[code]

I do see in your 2 node example it is also using the same miniconda path though. It's a longer command but i've reduced it above.

In the multi-node launching case the launcher will use `pdsh` to launch new processes over `ssh` which sometimes we've seen drop certain parts of the environment. Can you try the single node case but pass `--force_multi`, this will force the single node case to

[2021-11-02 09:28] btyu opened #1513 "[BUG]Sparse Attention MatMul bugs"
**Describe the bug**
Hi, I'm using the sparse attention matmul. I think I met some bugs: the dimension of matmul result is not as expected.

**To Reproduce**
Run the following code.

[code]

**Expected behavior**
The assertion at the last line should always succeed.

**ds_report output**
The assertion tends to fail (yet sometimes succeed) with the output like this:

[code]

[2021-11-02 16:43] RezaYazdaniAminabadi commented on #1508
Hi @callzhang

Could you please provide a test script so that I can try on my end and can understand the problem better?
Thanks,
Reza

[2021-11-02 17:12] RezaYazdaniAminabadi commented on #1513
Hi @btyu

Thanks for reporting this issue, I did use your script and I can repro this. I will look into this and find the source of problem.

Best,
Reza

[2021-11-02 17:30] PeterDykas commented on #1480
Hi @RezaYazdaniAminabadi I can also see this issue on my side.  Both the above fail aggressively for me as well.  When I turn on pre layer normalization the gradient mismatch is much smaller.

Here is my verbose output if it helps:

<pre>============================================================================ FAILURES ============================================================================

[2021-11-02 17:36] callzhang commented on #1508
Here is the minimum code I tried:
[code]
Then I ran `deepspeed --num_gpus 2 nlp/sentence_generation/min_example_deepspeed_mp.py` and I got the following error:
[code]

[2021-11-02 17:56] awan-10 commented on #1449
Hi @surak,

We rely on torch distributed so NCCL or MPI versions will be the same as those.

Torch version and CUDA version are reported by ds_report as follows.

![image](https://user-images.githubusercontent.com/9065216/139919651-078401f4-f711-4071-abbd-91f3f7cbbd5a.png)

We welcome PRs so any suggestions you have to improve ds_report, please share with us here or in a PR :)

[2021-11-02 21:41] #1493 closed

[2021-11-03 07:36] Vladimir-Bayes commented on #1481
Thanks for your advice.
I tried to use `sys.executable` to check the python path, the log gives `/root/miniconda3/bin/python`. It seems there is no problem about the python path.
I also tried to use `--force_multi` on a single node with 8 gpus. Also, gpus are not found. Here are some logs:

[code]

[2021-11-03 11:10] PythaGorilla opened #1515 "[BUG] Multi-GPUs 'std::system_errorstd::system_error'"
**Describe the bug**
Hi, I tried to train t5-3b with deepspeed and succeeded by using only one gpu (`--num_gpus==1`). But it always return a connection refused error whenever the setting `--num_gpus` is set to more than 2.  I couldn't find the root cause of this. Could you help to resolve the issue?

The error log:

**ds_report output**

[code]

**System info (please complete the following informa

[2021-11-03 15:17] jeffra commented on #1481
Interesting. Can you create a test script that outputs device count called testy.py? Then ssh into localhost and try execute it like this:

ssh -p <port> localhost “python test.py”

This is essentially what the launcher is doing, let’s see if we can repro the issue like this. If so, then it might be easier to debug how/why the environment is not working across ssh.

[2021-11-03 18:06] Chenglong-MS opened #1517 "[BUG]"
**Describe the bug**
Running deepspeed with huggingface transformers Trainer.train() leads to a "RuntimeError: Tensors must be CUDA and dense".

No problem with deepspeed 0.5.4, but the bug exists with deepspeed 0.5.5 and the current 0.5.6 github version.

**To Reproduce**
Following an example adapted from the following public example:
[code]

https://huggingface.co/ErykWdowiak/GPTalian/blob/main/

[2021-11-03 18:50] cli99 commented on #1467
Hi rwightman, thanks for reporting the issue. Your approach of adding flops counting to tensor methods is correct. Can you please submit of PR of your change? Also if you have any flops calculation for the common nn functionals that are missing, please contribute as well. Thanks.

[2021-11-03 18:56] cli99 commented on #1467
FLOPs is computed as 2* GMACs / duration of the module. Can you elaborate more on why to track GMACs and FLOPs separately? Thanks.

[2021-11-03 19:10] Chenglong-MS commented on #1517
Btw, the solution is to downgrade to deepspeed==0.5.4 in case it is not clear from the post above.

[2021-11-03 19:12] rwightman commented on #1467
@cli99 FLOPs as in floating point operations (plural) not per second. Generally what most frameworks report as FLOPs is actually GMACs, and 2* is an approximation.The operations that relate directly to multiply-accumulates are counted as GMACs (ie matmuls, convs, einsum, etc). Operations such as pointwise adds, multiplies, activations, are not typically included as there is no sensible translation

[2021-11-03 20:16] jeffra commented on #1495
DeepSpeed is also compatible with `torch.distributed.launch`, you are not required to use our launcher. Closing but feel free to re-open if you still have an issue here.

[2021-11-03 20:16] #1495 closed

[2021-11-03 20:23] jeffra commented on #1468
Closing, please re-open if this is still an issue.

[2021-11-03 20:25] jeffra commented on #1465
Closing, please re-open if you have further issues or questions.

[2021-11-03 20:25] #1465 closed

[2021-11-03 20:26] jeffra commented on #1464
Closing, keep an eye out for updates related to releasing specialized kernel binaries.

[2021-11-03 20:26] #1464 closed

[2021-11-03 20:29] cli99 commented on #1467
Thanks for pointing this out. This PR should fix it. https://github.com/microsoft/DeepSpeed/pull/1518

[2021-11-03 21:02] jeffra commented on #1488
Thank you @zarzen for reporting this bug and also most importantly gave us a reproducible script here. Definitely concerning difference here, I should be able to dig into this later this week or early next. Will keep you posted if/when I have questions.

[2021-11-03 21:13] jeffra commented on #1488
Two quick questions:

1) What version of pytorch are you using? I saw some issues in torch 1.8 but is running now on torch 1.9.
2) Super curious, what are these environment variables used for? https://gist.github.com/zarzen/34a34c75109dfc39b37a8d2e27db20f1#file-test_diff_stages-py-L18-L19

[2021-11-03 23:04] RezaYazdaniAminabadi commented on #1332
Hi @yovizzle @zgerrard and @oborchers

Thanks for your interest. Sorry for the delay on getting back on this thread.
I am working on adding the support for this model. I will let you know soon.
Thanks,
Reza

[2021-11-03 23:44] conglongli commented on #1482
Hi @Programmer-RD-AI are you currently facing this issue? If so could you provide some details about your case and steps to reproduce?

[2021-11-04 02:31] #1482 closed

[2021-11-04 05:09] RezaYazdaniAminabadi commented on #1332
Can you please try this [PR](https://github.com/microsoft/DeepSpeed/pull/1512) to see if it works for this model?
Thanks,
Reza

[2021-11-04 12:44] oborchers commented on #1332
@RezaYazdaniAminabadi: Thank you for working on the issue! Much appreciated 👍

Without:
```2.53 s ± 44.6 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)```
With:
```2.48 s ± 25.5 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)```

(Single GPU online inference)

I'm assuming based on the PR description this is mostly targeted at multi-GPU inference due to the tensor slicing, right?

[2021-11-04 15:12] PythaGorilla commented on #1515
fixed after installing the typing-extension package.

[2021-11-04 16:23] RezaYazdaniAminabadi commented on #1332
Hi @oborchers
Yes, it is mostly for multi-gpu, but it is nice to see on single GPU there is around 2% improvement on single GPU :) The inference kernels will be added in the next phase.
Thanks,
Reza

[2021-11-04 17:13] lintangsutawika commented on #1047
I'm currently exploring deepspeed and also have a usecase where I have to access the weights of the model embeddings during training.

This feature is something I need

[2021-11-04 17:44] tjruwase commented on #1047
@stas00, @lintangsutawika, thanks for reporting this issue. This is really a problem for confusing documentation as the feature is still there but not deprecated as suggested in the tutorial below.
![image](https://user-images.githubusercontent.com/4271600/140391234-ff92ea83-a78c-4b6d-8c9d-064d0d3861d3.png)

The text was intended to communicate that manual parameter registration may not be needed

[2021-11-04 18:02] lintangsutawika commented on #1047
I'm still trying to understand how to use this.

My usecase is exposing the embeddings weight and multiplying in manually. This is because the `sampled_input` are differentiable one hot encodings.
[code]
So to manually registered the shared.weight I implemented a wrapper on the class I want to use.

[code]
and initiate as usual
[code]
But this doesn't seem to work as well.
[code]

[2021-11-05 03:23] stas00 opened #1522 "[BUG] Pipeline not able to partition not on transformer layer w/ ZeRO-1"
**Describe the bug**

We have a very large embed layer for the ml training and using Megatron-Deepspeed GPT we are trying to give it a whole pipe stage, since sharing with the transformer layer is too much and we get OOM.

To exemplify the problem let's just slice on embed layer:

[code]
instead of `partition_method='type:embed|transformer'` as it hides the problem on small setup.

When ZeRO-1 is

[2021-11-05 03:29] chunyang-wen opened #1523 "[BUG] no node_rank is passed in PDSHRunner"
**Describe the bug**
`PDSHRunner` why we pass node_rank=%n
![image](https://user-images.githubusercontent.com/2911134/140453605-3479896a-221f-427d-9c6a-1ca24bc011e2.png)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubusercontent.com/2911134/140453617-5fa22e12-ff11-4ca7-9640-1eb66555ec64.png)

[2021-11-05 07:15] skpig commented on #1298
@tjruwase @stas00  Is the feature being implemented? If not, I'm willing to give it a try.

[2021-11-05 07:23] ConnollyLeon commented on #1465
@samyam Wow, that's incredible, Thanks a lot.
I am trying to train a BERT-like model, so Linear layer is fair enough for me.

[2021-11-05 10:07] jian-mo opened #1526 "[Question] Detailed error logs?"
Hi Team, I'm trying to debug this #1515 and want to have more detailed error logs. For now I can only see one general system level connection error. Is there anyway we can get more detailed   ?

[2021-11-05 16:20] jeffra commented on #1523
Hi @chunyang-wen, thanks for your question. This is a bit subtle and should definitely be better documented here since it's not obvious when reading the code.

When using pdsh it will replace `%n` with the node rank, see: https://linux.die.net/man/1/pdsh.

[2021-11-05 17:03] tjruwase commented on #1298
@skpig, please go ahead with your plans. This will be greatly appreciated.

[2021-11-07 19:53] talmago commented on #697
encountered roughly the same, but the problem was "nan gradients" caused by layer norm, or more specifically something similar to - https://github.com/pytorch/pytorch/issues/41527.

and with fairseq -
https://github.com/pytorch/fairseq/blob/fcca32258c8e8bcc9f9890bf4714fa2f96b6b3e1/fairseq/modules/layer_norm.py#L38

[2021-11-08 01:28] chunyang-wen commented on #1523
Thanks for your explanation.
![image](https://user-images.githubusercontent.com/2911134/140670659-bb862fcb-91ec-4d73-82ab-25ff90ba431a.png)

[2021-11-08 01:28] #1523 closed

[2021-11-08 05:56] stas00 opened #1533 "[BUG] printing on all ranks"
These get printed to all ranks:

[code]

so hundreds of these get printed on a large setup.

can we please make them print on global rank 0 only?

Thank you!

[2021-11-08 15:38] dredwardhyde opened #1534 "[BUG] Can not install DeepSpeed with DS_BUILD_OPS=1 or JIT-compile ops at runtime"
**Describe the bug**
Can not install DeepSpeed with DS_BUILD_OPS=1 or JIT-compile ops at runtime.

**PyTorch version**:
Environment:
torch==1.10.0+cu113
torchvision==0.11.1+cu113

**CUDA SDK version**:
nvcc --version
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2021 NVIDIA Corporation
Built on Mon_May__3_19:15:13_PDT_2021
Cuda compilation tools, release 11.3, V11.3.109
Build cuda_11.3.

[2021-11-08 16:20] dredwardhyde commented on #1534
Essentially, all my attempts to build ops ended up with this error:
![FDrtH6hXEAQPJWb](https://user-images.githubusercontent.com/8986329/140778805-bc0f2c88-5ae4-4e9c-b912-43e84adb2747.png)

[2021-11-08 18:22] stas00 opened #1535 "[BUG] memory overhead issue with optimizer leading to OOM"
Could it be that `unfused_optimizer` is not careful at how it allocates memory when this condition occurs:
[code]
it tries to allocate more memory - a whooping 1GB!
[code]

I was running at 31 out of 32GB gpu memory used for many hours until the above occurred and it threw it into OOM.

Perhaps that logic needs to free memory it doesn't need any more first before allocating new memory?

Thank you!

[2021-11-08 19:18] dredwardhyde commented on #1534
DeepSpeed 0.5.3 works fine with pytorch 1.8.1+cu111

[2021-11-08 19:33] zarzen commented on #1488
@jeffra
I am using pytorch master branch, the corresponding version is 1.11.

Those environment vars are only for the DS we customized for, as you know some of the code path still use all-reduce for gradient sync. we use environment variables to force our customized version to use reduce-scatter.
We first observed the loss issue on our customized version. Later found it is also true for the DS mas

[2021-11-08 23:11] RezaYazdaniAminabadi commented on #1534
Hi @dredwardhyde

Thanks for reporting this. Please try this PR to see if it is resolved.
Thanks,
Reza

[2021-11-08 23:15] jeffra commented on #1517
related issue: https://github.com/PyTorchLightning/pytorch-lightning/issues/10378

[2021-11-09 02:16] stas00 opened #1538 "[BUG] `--partition-activations` in Meg-DS breaks in the Deepspeed land for TP>1 & PP>1"
**Describe the bug**
`--partition-activations` in Meg-DS breaks in the Deepspeed land.

it only works with TP=2 or PP=2 - not both. Fails with TP=2 and PP=2.

Here is how to reproduce:

use this PR https://github.com/bigscience-workshop/Megatron-DeepSpeed/pull/184
**on a 4+ gpu instance**

set up:
[code]
run test:

[code]

It (and other tests) fail with:

[code]

Thank you!

@ShadenSmith

[2021-11-09 06:37] dredwardhyde commented on #1534
Hi, @RezaYazdaniAminabadi
Well, at least the error is different now
![image](https://user-images.githubusercontent.com/8986329/140874095-4265bccb-a6f5-4646-ad81-5d433b130600.png)

[2021-11-09 07:46] dredwardhyde commented on #1534
**DS_BUILD_OPS=1 DS_BUILD_AIO=1 ./install.sh -s -n** works just fine, I'm trying to spot the difference

[2021-11-09 07:49] RezaYazdaniAminabadi commented on #1534
I used this: "sudo DS_BUILD_OPS=1 pip install . " at DeepSpeed directory.

[2021-11-09 08:07] dredwardhyde commented on #1534
This worked perfectly, thank you so much for this fix!
![image](https://user-images.githubusercontent.com/8986329/140885917-f70d11d7-8877-4914-b925-4e2114b36384.png)

[2021-11-09 08:10] LarsVaehrens commented on #1534
I have been facing the same compile error(regarding `x86_64-linux-gnu-g++`) as @dredwardhyde when I tried to install with pip and `DS_BUILD_OPS=1`. I just tried your PR and everything compiles nicely now with ds_report showing:

[code]

Unrelated to this issue, but I now run into a problem with NCCL when I get to the deepspeed initialization in my code `deepspeed.initialize(args, model, training_d

[2021-11-09 08:14] dredwardhyde commented on #1534
I use this for a single GPU configuration

[code]

[2021-11-09 08:42] dredwardhyde commented on #1534
Okay, I have another problem
With the installation from the screenshot above, I can't use nvme offloading
**DeepSpeed config**
[code]
**Exception**:
![image](https://user-images.githubusercontent.com/8986329/140891094-52695d9b-8070-433b-8698-9fd6f47e70ba.png)

[2021-11-09 09:06] LarsVaehrens commented on #1534
Thank you @dredwardhyde. These settings helped with some other problem, but the NCCL error was resolved by using `DCCL_DEBUG=info` and getting the following two error messages:
[code]
After a little digging I found that I had to add `- utility` in `docker-compose.yml`:
[code]

[2021-11-09 09:06] hfassold opened #1539 "[Potential contribution] Minibatch trimming (curriculum learning method)"
I would like to contribute an easy implementable curriculum learning method ("minibatch trimming", see https://github.com/hfassold/mbtrim ) to the framework.
Is that possible ? What are the steps I have to do in order to do that ?

[2021-11-09 09:36] LarsVaehrens commented on #1534
@dredwardhyde I am able to get nvme offloading to work with the following Deepspeed params in my config file:

[code]

Partial terminal output:

[code]

[2021-11-09 09:52] dredwardhyde commented on #1534
**/media/nvme** is just a folder or not?

[2021-11-09 09:57] LarsVaehrens commented on #1534
I have my nvme drive mounted in `/media/` along with other RADI devices for easy access. You should checkout the [docs](https://www.deepspeed.ai/docs/config-json/#parameter-offloading) which describe what the `nvme_path` should be.

[2021-11-09 10:09] dredwardhyde commented on #1534
Yeah, that's the problem, the docs are rather vague. I have only one nvme under **/dev/nvme0n1** with my OS installed (because it's an SFFPC), and I want to use part of it for params offloading.

[2021-11-09 13:34] dredwardhyde commented on #1534
So, for some reasons **nvme_swapper** is None at this point no matter what **nvme_path** I use
![image](https://user-images.githubusercontent.com/8986329/140933133-d7f1f26d-2006-44dd-a4ba-e7045224d1e9.png)

Exception is, accordingly, **AttributeError: 'NoneType' object has no attribute 'reserve_partitioned_swap_space'**

[2021-11-09 13:37] petrgeiger-incieve commented on #627
Does anybody solved this?

[2021-11-09 13:52] dredwardhyde commented on #1534
That's the whole output, no warnings, nothing
![image](https://user-images.githubusercontent.com/8986329/140936279-7ff823cc-4bc9-4171-8b13-7e53bf584c75.png)

[2021-11-09 14:55] tjruwase commented on #1534
@dredwardhyde, sorry about that. It seems you have hit a bug in our parameter offloading. I would like to repro this, but I have a few questions first.
1. Are you able to run with optimizer offloading alone? This shares underlying logic with parameter offloading, so this can help to pinpoint where the issue might be.
2. Can you please check your log for something like
![image](https://user-images.

[2021-11-09 15:08] dredwardhyde commented on #1534
@tjruwase
1. Yes, this works fine:
[code]

![image](https://user-images.githubusercontent.com/8986329/140948788-220e8472-215b-4d6b-9e69-fff29063eac8.png)

2. I can't find AsyncPartitionedParameterSwapper in the log (you can see the full output related to swapper above)

[2021-11-09 16:20] stas00 opened #1541 "[BUG] async-io-related warnings at start time when nvme is not configured to be used"
`async_io` warnings shouldn't be emitted when nvme is not in the ds config file.

Deepspeed under multi-node is so noisy, thousands of lines dumped to the log file, making troubleshooting the log file on crash extremely difficult. **Why does each of the 1024 processes in the ensemble need to print the same startup info, each being hundreds of lines long**?

But this report is about `async-io` whic

[2021-11-09 17:32] duli2012 commented on #1459
Working on this right now.

[2021-11-09 17:34] duli2012 commented on #1459
@BramVanroy could you please provide a script to repro the bug? Thanks.

[2021-11-09 18:04] jeffra commented on #1467
Please re-open if #1518 didn't fix the issue or if there are further issues. Thank you @rwightman :)

[2021-11-09 18:33] rwightman commented on #1467
@jeffra #1518 is only part of the issue and secondary to the main problem that man important matmul type operations that occur outside of nn.functional or nn.Module based layers are missed
* torch.matmul, torch.mm, torch.baddbmm, torch.bmm, etc are missed
* Tensor.matmul, `x @ y`, etc are missed
* some activations are missing (relu and elu present but no sigmoid, silu, and gelu as examples)
* batc

[2021-11-09 18:39] jeffra commented on #1467
Thanks for clarifying the open issues, sorry for premature closing :) Just discussed with @cli99, she's going to look at addressing these pending issues.

[2021-11-09 20:04] tjruwase commented on #1534
@dredwardhyde, thanks for the response. I think the problem is that swapper for parameter offloading was not initialized, and I would like to investigate further. Since your original issue regarding compiling cpu_adam is now fixed, do you want to open a different issue for this parameter offloading problem?

[2021-11-09 20:11] dredwardhyde commented on #1534
Yeah, I'll open a new issue now

[2021-11-09 20:23] dredwardhyde opened #1543 "[BUG] 'NoneType' object has no attribute 'reserve_partitioned_swap_space' with params offloading to nvme enabled"
**Describe the bug**
A clear and concise description of what the bug is.
Exception
**'NoneType' object has no attribute 'reserve_partitioned_swap_space' with params offloading to nvme enabled**

**To Reproduce**
Steps to reproduce the behavior:
**With this configuration:**
[code]
**I'm getting the following exception**
![Screenshot from 2021-11-09 23-14-03](https://user-images.githubusercontent.co

[2021-11-09 20:24] dredwardhyde commented on #1534
Opened [#1543 ](https://github.com/microsoft/DeepSpeed/issues/1543)

[2021-11-09 20:24] #1534 closed

[2021-11-09 20:24] tjruwase commented on #1543
Thanks for opening a new issues. Can you also share the command-line to run?

[2021-11-09 20:34] dredwardhyde commented on #1543
Well, you can run [this](https://github.com/dredwardhyde/gpt-neo-fine-tuning-example/blob/main/gpt_j_deepspeed.py) script from the repo, here is the [requirements.txt](https://github.com/dredwardhyde/gpt-neo-fine-tuning-example/blob/main/requirements.txt) file
I used Huggingface Trainer, so I'm not sure about cmd

[2021-11-10 05:44] sbmaruf commented on #1206
Having the same issue. Did you solve it?

[2021-11-11 00:42] tjruwase commented on #1517
@Chenglong-MS, could you please test the PR #1548?

[2021-11-11 00:59] Chenglong-MS commented on #1517
Looks good now, big thanks!

[2021-11-11 01:01] tjruwase commented on #1517
Thanks for testing so quickly.

[2021-11-11 01:27] #1517 closed

[2021-11-11 07:25] RezaYazdaniAminabadi commented on #1513
Hi @btyu,

Can you please try this PR on your side and see if the issue is resolved?
Thanks,
Reza

[2021-11-11 07:25] RezaYazdaniAminabadi commented on #1508
Thanks I will try this on my end

[2021-11-11 07:49] btyu commented on #1513
Hi @RezaYazdaniAminabadi .
I tested the PR. The problem hardly appears now, except only once when I set ``block_size=32`` so far. And, when I set ``block_size > 128``, e.g. 256, the ``c.shape[1]`` will be 0. So I am wondering whether it can support ``block_size > 128``?

I am testing more cases as well as using it in my model. I will report to you once I get something new.

Thanks

[2021-11-11 15:21] tjruwase commented on #1543
@dredwardhyde, thanks I am able to repro this issue, thanks for the help. I will keep you updated with progress.

[2021-11-12 08:14] #1513 closed

[2021-11-12 08:31] tjruwase commented on #1543
@dredwardhyde, can you please test the PR?

[2021-11-12 09:59] dredwardhyde commented on #1543
@tjruwase I think it works absolutely fine now, thank you!
![image](https://user-images.githubusercontent.com/8986329/141448318-6c50d4f2-f6b3-4742-8bdd-1c69c0271d7c.png)
![Screenshot from 2021-11-12 12-57-39](https://user-images.githubusercontent.com/8986329/141448341-a354a9fb-d625-4266-92c0-b1e50e67e373.png)

[2021-11-12 14:43] alumik opened #1551 "Questions about the AWM in the ZeRO-Infinity paper"
Hello, I'm reading the ZeRO-Infinity paper. I have some questions about Equation (5) (In Section 3 MEMORY REQUIREMENTS).

1. This estimation is the size of the total activation per Transformer block (ci = 1). Is it still correct for ci > 1? Looks like the activation between blocks is not considered in this equation.
2. Could you please explain the second term (2 x attn_heads x seq) in detail? I'm

[2021-11-12 17:02] tjruwase commented on #1437
@murnanedaniel, are you still interested in further debugging this issue? Thanks!

[2021-11-12 17:08] tjruwase commented on #1356
@gongbudaizhe, just wanted to check if you could share a small repro to help us fix this issue? Thanks.

[2021-11-12 17:10] tjruwase commented on #1355
@amsword, are you still seeing this problem or is it okay to close? Thanks.

[2021-11-12 17:26] tjruwase commented on #1543
@dredwardhyde, thanks for the update.

I am curious if you are able to successfully run your model e2e. On my V100-32GB, it OOM'd in the first backward pass. I traced that to high memory usage because [model construction](https://github.com/dredwardhyde/gpt-neo-fine-tuning-example/blob/bfb27192d194aebaab3e0b85fe987180000b00bc/gpt_j_deepspeed.py#L15) without [zero.Init](https://deepspeed.readthedoc

[2021-11-12 17:40] #1543 closed

[2021-11-12 17:48] dredwardhyde commented on #1543
@tjruwase yeah, this is exactly what I've got
So it's not possible to run this model using Huggingface Trainer, right?

[2021-11-12 18:08] dredwardhyde commented on #1543
@tjruwase ah, ok, I'll try [this](https://huggingface.co/transformers/main_classes/deepspeed.html#constructing-massive-models) approach, thank you so much for the help!

[2021-11-12 18:10] tjruwase commented on #1543
@dredwardhyde, thanks for confirming your experience. Actually, this 6B model should easily run using Huggingface Trainer with the parameter and optimizer offload configurations. I think a few things could help:

1. The model is constructed as fp32. Is this intentional?
2. [zero.Init](https://deepspeed.readthedocs.io/en/latest/zero3.html#deepspeed.zero.Init) context manager should be used during m

[2021-11-12 18:20] dredwardhyde commented on #1543
@tjruwase thank you, tomorrow I'll try to use **torch.float16** and **zero.init** as described in [this](https://huggingface.co/transformers/main_classes/deepspeed.html#constructing-massive-models) guide
I'll open a new issue if I get any errors)

[2021-11-15 02:54] EeyoreLee opened #1559 "How can I use ZERO with GCC 4.8.5 and CentOS7"
I use ZERO to train my model. It is efficient and easy to use. But it can't work when I use it with CentOS7 with GCC 4.8.5 . Cause it must build extension module utils.so which need GCC 5 or higher. �Is there any method than don't need to use utils.so or GCC(such as utils.py ) because the GCC is not allowed to be upgraded for some reason. Forgive me for not being fluent in english and Thanks vvvve

[2021-11-15 07:29] mrgomdev opened #1561 "The change of largest_partitioned_param_numel looks to be fixed, regarding of ds_numel, not numel()."
The change uses tensor.numel() for retrieving the sizes. However, if we already built the model in the context of deepspeed.zero.Init(), tensor.numel() or tensor.data get pointing only the placeholder, after partitioning and offloading the original tensor into ds_tensor and ds_numel, accordingly. In some cases, this can cause some problems, including the initialization of a deepspeed model engine

[2021-11-15 18:31] #1468 closed

[2021-11-15 21:07] PeterDykas opened #1563 "[BUG] Post Layer Norm Gradients Not Matching"
**Describe the bug**
The post layer normalization gradients do not match and will fail for certain test cases.

**To Reproduce**
Steps to reproduce the behavior:
1.Add (64,160,128,2,24,False,True, 0.2), (3,160,128,2,24,False,True, 0.2) to test_cuda_backward test cases
2. Run the test

**Expected behavior**
The test cuda backward tests should pass.

**ds_report output**
[code]
**System info (please

[2021-11-15 23:04] tjruwase commented on #1543
@dredwardhyde, please see this [HF guide](https://github.com/huggingface/transformers/blob/c37573806ab3526dd805c49cbe2489ad4d68a9d7/docs/source/main_classes/deepspeed.rst#non-trainer-deepspeed-integration) as well. I am confused now but it seems you should not use zero.Init() directly because your script is [constructing the model](https://github.com/dredwardhyde/gpt-neo-fine-tuning-example/blob/b

[2021-11-16 07:49] hyunwoongko opened #1566 "Question about 3D parallelism of DeepSpeed"
When pipeline parallelism is used with tensor model parallelism, if the tensor is transmitted in split form and collected again by all-gather (by `PartitionedTensor`), communication occurs more. is it really faster than full tensor transmission?

https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/runtime/pipe/engine.py#L614

cc. @ShadenSmith @tjruwase

[2021-11-16 16:53] RezaYazdaniAminabadi commented on #1563
Hi @PeterDykas

Thanks for mentioning this. I will look into it.
Best,
Reza

[2021-11-17 04:25] ziweiji commented on #889
I also occur that.
before AttributeError: 'DeepSpeedCPUAdam' object has no attribute 'ds_opt_adam'
The error show: cannot make a dir in /tmp/torch_extensions/build for cpu_adam.
So I change the DEFAULT_TORCH_EXTENSION_PATH in the file /anaconda3/envs/XXXXX/lib/python3.6/site-packages/deepspeed/ops/op_builder/builder.py
then it works

[2021-11-17 04:31] stas00 commented on #889
This sounds like a permission issue. Try to set `TMPDIR` to another dir that is writable by you?

e.g.:

[code]

[2021-11-17 06:03] JunyeonL commented on #580
Hello. I'm also curious about Activation checkpointing parameter. The description on the DeepSpeed.ai page is too short to understand the details of implementation. Are there any materials or links to get more information about checkpointing options?

[2021-11-17 20:53] tjruwase commented on #1437
Closing for lack of activity. Please re-open as needed.

[2021-11-17 20:53] #1437 closed

[2021-11-17 21:06] tjruwase commented on #1561
@mrgomdev, thanks for raising this issue. I will take a closer look. Are you currently seeing a problem with this code?

[2021-11-17 21:32] stas00 opened #1570 "possible relaxation on the `tensorboardX` hardwired version requirement"
I'm having a bit of a yo-yo conflicting requirements between deepspeed and a sub-dependency of `transformers`:

deepspeed wants `tensorboardX==1.8`

[code]

Traced it to: `ray`:

[code]

https://github.com/ray-project/ray/blob/56619b955e627d044bd948c38c14816c3a00052a/python/requirements.txt#L41
[code]

but deepspeed's is `tensorboardX==1.8`

Could deepspeed use `tensorboardX>=1.8,<2.0`

[2021-11-17 22:02] conglongli commented on #1539
Hi @hfassold thank you for your interest in contributing to DeepSpeed. Because we didn't receive this kind of contribution before (a brand new technique that could affect training convergence), we are having some internal discussions about the general contribution guideline and haven't made a conclusion yet. We will let you know when we have a guideline ready. Thank you for your patience.

[2021-11-17 23:40] mrgomdev commented on #1561
Of course.

I can report a case caused by this issue.
When training massive minGPT model with zero-infinity for nvme as the remote device to offload, the code deciding the size of buffer refers `largest_partitioned_param_numel`. However, the change from PR #1150  , the buffer size gets restricted only by the total size of placeholders for offloading, not the actual size. This cuased crash using th

[2021-11-18 01:15] #1570 closed

[2021-11-18 04:07] tjruwase commented on #1561
Since you have fix already. Do you mind sharing both the repro and a PR? We will greatly appreciation the contribution.

[2021-11-18 05:36] stas00 opened #1572 "[BUG] a huge memory leak when using `register_full_backward_hook`"
**Describe the bug**

When trying to use `register_full_backward_hook` in Megatron-Deepspeed, I get a huge memory leak.

I'm reporting it here, since when I turn off deepspeed, there is no leak.

**To Reproduce**

I tried to create a small independent example that uses deepspeed directly but I couldn't make it leak.

So, let's work with Megatron-Deepspeed. We can use either the bigscience version

[2021-11-18 07:21] hfassold commented on #1539
Alright, no problem, I have time. Just inform me when you have setup the guidelines.

[2021-11-19 06:38] tuhinjubcse opened #1574 "Error while saving T5-11B checkpoint"
Getting this error which I honestly don't understand

[INFO|trainer.py:1995] 2021-11-19 01:06:24,979 >> Saving model checkpoint to /local/nlp/temp/poetryT5-11B_new/checkpoint-21
[INFO|configuration_utils.py:417] 2021-11-19 01:06:24,980 >> Configuration saved in /local/nlp/temp/poetryT5-11B_new/checkpoint-21/config.json
[INFO|modeling_utils.py:1058] 2021-11-19 01:07:05,343 >> Model weights saved in

[2021-11-19 07:19] ckddls1321 opened #1575 "[REQUEST] Activation Checkpoint Prefetch"
**Is your feature request related to a problem? Please describe.**
Activation prefetch features to enlarge batch size on middle-size(100B~1T) of models
- From DeepSpeedExamples repo, GPU throughput with Activation checkpoint in CPU matters.
- On A100 server pods, Activation checkpoint in CPU perform worse because of synchronization (HtoD memcpy or all-gather when partitioned activation).
- For Ten

[2021-11-19 07:33] ckddls1321 opened #1576 "[GUIDE] NUMA Affinity Guide for small level of clusters"
**Is your feature request related to a problem? Please describe.**
Memory movement speed does not matters when we increase number of nodes in Zero Infinity.
But it would be better to suggest NUMA affinity guide to increase memory copy speed up for various system configuration

For example, on our A100 pod using AMD EPYC 7543 32-Core Processor, NUMA affinity setting increase memcpy speed.

- We set

[2021-11-19 09:54] mrgomdev commented on #1561
The previous version (with tensor.numel()) seems to be working for the scenario using CPU Offload, regardless of whether deepspeed.zero.Init() is used or not. The latter version (with tensor.ds_numel fixes the error occured in the scenario using both NVMe Offload and deepspeed.zero.Init(). My colleague reported these two cases to me, but I'm not sure which change is the correct one for the intenti

[2021-11-20 19:44] tjruwase commented on #1576
@ckddls1321, thanks for sharing this feature request. Can you clarify if in your experience you think this NUMA affinity issue is specific to ZeRO-Infinity (i.e., offloading to NVMe) or generally to offloading to CPU memory? Thanks.

[2021-11-20 19:50] tjruwase commented on #1575
@ckddls1321, thanks for this feature request. However, it seems there are multiple requests contained here. Can you please itemize the requested features?
Also, does this #1254 address your request to partition saving of activation checkpoints in GPU for tensor parallelism?
Thanks!

[2021-11-20 23:18] alecl opened #1580 "[REQUEST] M1 Max support"
**Is your feature request related to a problem? Please describe.**
I'm looking to do some fine tuning of GPT-J on a Macbook Pro M1 Max w/ 64GB RAM

**Describe the solution you'd like**
Given the CPU, GPU, and memory are significant for this chip it seems a reasonable target and would skip the hassle and cost management/budget asks for cloud based training.

[2021-11-21 03:06] tjruwase commented on #1574
@tuhinjubcse, thanks for reporting this error. Can you please share how to repro on our side? Thanks!

[2021-11-21 04:37] tuhinjubcse commented on #1574
My script from transformers repo

[code]

My deepspeed config

[code]

Name: deepspeed
Version: 0.5.6

Name: torch
Version: 1.10.0

Name: transformers
Version: 4.12.2

[2021-11-21 08:36] ReinholdM opened #1581 "subprocess.CalledProcessError: Command '['/data/xingdp/install/anaconda3/envs/py36th17/bin/python',"
Hi! I'm trying to train a big model with deepspeed but met the following error after the program running for a while. Thank you for your reply
[code]

[2021-11-21 11:17] hanjiemicro commented on #1523
Hi,
The "%n" was not replaced when the -w option only has 1 node. How to deal with this issue?
cmd = pdsh -f 1024 -w 192.168.100.101 cd /home/hy/hanjie/CPM-2-Pretrain/src; /home/hy/hanjie/anaconda3/bin/python -u -m deepspeed.launcher.launch --world_info=eyIxOTIuMTY4LjEwMC4xMDEiOiBbMCwgMV19 --node_rank=%n --master_addr=172.18.222.210 --master_port=29500 /home/hy/hanjie/CPM-2-Pretrain/src/pretrain_e

[2021-11-21 15:15] hyunwoongko commented on #1566
Thank you !

[2021-11-21 15:15] #1566 closed

[2021-11-21 16:51] HanGuo97 commented on #698
Thanks for the great work! To follow up, is there a typo in Table 1 as well? Notably, the last row's memory is supposed to be `2M` instead of `4M`? Thanks!

[2021-11-21 17:01] jeffra commented on #1580
We’ve definitely been watching if/when pytorch will support M1, it sounds like it’s planned though.

https://github.com/pytorch/pytorch/issues/47702

Specifically see this comment:
https://github.com/pytorch/pytorch/issues/47702#issuecomment-965625139

In terms of DeepSpeed support for M1 I suspect (depending on final design on torch side) many of our features will work well. However, we’ll have t

[2021-11-21 17:05] jeffra commented on #1574
I suspect this pending PR might fix this issue, can you give it a try? There’s one fix that needs to be applied before we can merge but that should be unrelated to your issue I believe.

https://github.com/microsoft/DeepSpeed/pull/1525

[2021-11-22 02:11] tuhinjubcse commented on #1574
@jeffra  Do you know what I should do exactly? Do I need to make any changes in deepspeed code ?

[2021-11-22 04:38] jeffra commented on #1574
To give it a try you should be able to reinstall deepspeed but specifically from this branch: https://github.com/microsoft/DeepSpeed/tree/zero-ckpt-cpu-issue

You shouldn’t need any code changes on your side.

You should also be able to pip install this version via: pip install git+https://github.com/microsoft/deepspeed.git@zero-ckpt-cpu-issue

[2021-11-22 09:20] Vladimir-Bayes commented on #1481
Thanks for your advices.
I finally solved this problem. The reason is that the environment variables are changed when multi-node training. I write a script to construct the pdsh command and supply these environment variables like "export XXX=XXX." It may also be related to our computing platform e.g., some specific settings. Nevertheless, the problem is solved now.
Thanks again.

[2021-11-22 09:20] #1481 closed

[2021-11-22 16:14] joehoover commented on #1332
Thanks for this, @RezaYazdaniAminabadi!

Do you have an ETA on the inference kernels for GPT-J? Even a very rough ETA would be helpful.

[2021-11-22 20:27] jeyblu opened #1584 "[BUG] error: identifier "THCudaCheck" is undefined"
**Describe the bug**
Error encountered building deepspeed.

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/microsoft/DeepSpeed.git
2. cd deepspeed
3. Build deepspeed as described in [documentation](https://www.deepspeed.ai/tutorials/advanced-install): `DS_BUILD_FUSED_LAMB=1 python setup.py build_ext bdist_wheel`
4. Error encountered

**Expected behavior**
A clear

[2021-11-22 22:20] hpourmodheji opened #1586 "Using PyCharm and its debugger along with DS"
Hi,

Can we train a model with the DS optimizer using PyCharm and its Debugger feature?

Best,

Hossein

[2021-11-23 00:05] tuhinjubcse commented on #1574
Many thanks @jeffra . This worked

I have one small question my LR was mentioned in my script as 1e-3

j```
son = {
    "fp16": {
        "enabled": true,
        "loss_scale": 0,
        "loss_scale_window": 1000,
        "initial_scale_power": 16,
        "hysteresis": 2,
        "min_loss_scale": 1
    },
    "scheduler": {
        "type": "WarmupLR",
        "params": {
            "warmup_min

[2021-11-23 01:56] ckddls1321 commented on #1576
@tjruwase, Based on my large model training experience, this NUMA affinity issue usually generic to offloading to CPU memory. For example, Parameter Server style distributed training or some HPC workload that usually transfer data between CPU-GPU.

But in specific cope of distributed training, I think Zero-Infinity have NUMA affinity issue. Zero Infinity is one of the most great algorithms that sc

[2021-11-23 01:59] ckddls1321 commented on #1575
@tjruwase, Sorry, my message was not clear.

1) Can DeepSpeed also prefetch activation checkpoint?

[2021-11-23 04:44] Ririkoo commented on #1574
@tuhinjubcse . Same problem happened when I was fine-tuning the T5-3B model using huggingface. I tried to adjust the hyper-parameters including max_lr, min_lr, weight decay. But the trainer still reported that the learning_rate is 0.0.

Environment: transformer==4.12.3, deepspeed==0.5.7

[2021-11-23 08:50] RezaYazdaniAminabadi commented on #1563
Hi @PeterDykas
Can you please try this PR and see if the issue is solved?
Thanks,
Reza

[2021-11-23 18:39] tuhinjubcse commented on #1574
[code]

Also receiving OOM wonder what can I do ?

[2021-11-24 01:57] zarzen commented on #1535
Have you noticed the memory usage difference of recently release v0.5.6, compared to previous release?
After recent upgrade, I feel the memory usage of stage3 increased by a large amount.

[2021-11-24 07:58] oborchers commented on #1332
@RezaYazdaniAminabadi excellent! Thank you for that time estimate and the work on it 👍🏻

[2021-11-24 14:52] ckddls1321 commented on #1586
Hello. I just share my experiment details.
For usage of deepspeed command, please refer to https://www.deepspeed.ai/tutorials/

When you deepspeed in PyCharm, you can refer to deepspeed/launcher/multinode_runner.py
It's same way to use torch.distributed.launch.
Please add Interpreter options : -m deepspeed.launcher.launch --world_info=<encoded utf-8 of node and GPU dictionary> --node_rank=0 --mast

[2021-11-24 16:24] hpourmodheji commented on #1586
Thanks, Changln, for your informative comments. Actually, I can "run" the training on PyCharm using DS optimizer. Have you tried the "debugger" as well? Do you have any experience with using PyCharm debugger along with DS optimizer?

[2021-11-24 18:34] #1538 closed

[2021-11-24 18:58] callzhang opened #1590 "[BUG] TypeError: argument of type 'ABCMeta' is not iterable"
**Describe the bug**
run `deepspeed.init_inference` and got `TypeError: argument of type 'ABCMeta' is not iterable`

**To Reproduce**
Steps to reproduce the behavior:
[code]
output:
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**ds_report output**
[code]

**System info (please complete the following information):**
 - OS: Ubuntu 18.04
 - GPU count

[2021-11-24 21:13] cli99 commented on #1467
Hi @rwightman, I created this PR to address the issues you brought up. Please take a look and any feedback is welcomed. https://github.com/microsoft/DeepSpeed/pull/1591

[2021-11-25 00:19] stas00 commented on #1535
This was ZeRO-1 only, so this is really the optimizer sharding so I can't comment on ZeRO-3.

Nevertheless I think it'd be a great idea to have some sort of regression test for memory usage for each of the ZeRO stages, if you'd like to work on that.

There are at least 4 possible groups of memory issues with any code modification (or the original code):

1. it uses more memory than before to do th

[2021-11-25 00:39] tjruwase commented on #1535
@stas00, I did not realize this involved ZeRO-1. So basically, this is unfused optimizer + ZeRO-1? That configuration is not (well) tested :(. Do you have a quick repro?

[2021-11-25 00:56] stas00 commented on #1535
Sorry, I should have written it out in the OP - I updated it now.

Unfortunately I don't have an easy way to reproduce it.

My suspicion is that the issue if any has been there all along, but as long as there was ~1GB of free memory it wasn't running into it, but since I dared to train on the brink of using all memory it happened.

So if it's something easy to see then we can improve it, and if it

[2021-11-25 01:10] tjruwase commented on #1535
That makes sense. One would hope the pytorch garbage collector could help with this case.

[2021-11-25 01:59] stas00 commented on #1535
pytorch doesn't have GC. It's all python's work. Once python frees a variable, pytorch automatically makes the memory available to new allocations (but it keeps it in its cache).

Pytorch can't be aware of how Python assigns to a variable. e.g. you can see here how even doing `a+b+c` creates a peak memory overhead: https://github.com/pytorch/pytorch/issues/27522#issuecomment-975041172

As I tried

[2021-11-25 02:37] tjruwase commented on #1535
Sounds like this particular scenario might just be a corner case, but still needs to be confirmed. There might not be much we can do about it besides avoiding flying too close to the sun.

[2021-11-25 06:43] ckddls1321 commented on #1586
Yes. Actually PyCharm Debugger does not successfully debug all sub-process, you can debug into one of sub-process and find out details inside when training models with DS optimizer. But in my experience, debugging during forward and backward, it would be hard to catch exact point due to large variables holds on model side (debugger really slow sometimes).
For example, if you stop your all sub-proc

[2021-11-27 09:05] PeiqiWang opened #1594 "wall_clock_breakdown disable failed in moe layer"
**Describe the bug**
The wall_clock_breakdown flag cannot be disabled in moe layer

**Bugs in code**
The self.wall_clock_breakdown is a method, which should called by `self.wall_clock_breakdown`. Here it is always `True`.

https://github.com/microsoft/DeepSpeed/blob/d14baad9401bc1de8c982c1b3590d91108c4bbf1/deepspeed/runtime/engine.py#L1017
https://github.com/microsoft/DeepSpeed/blob/d14baad9401bc1

[2021-11-27 20:05] tjruwase commented on #1594
@PeiqiWang, thanks for reporting this bug. Do you mind contributing a PR? Thanks!

[2021-11-29 01:29] pwstegman opened #1595 "[BUG] Sparse attention results in map::at triton error or CUDA: Error- invalid image triton error"
**Describe the bug**

I was unable to get sparse attention to run on my machine. When using sparse attention, Triton throws either `IndexError: map::at` when using Triton 1.0.0 or `CUDA: Error- invalid image` on the latest version, Triton 1.1.1. This is related to https://github.com/EleutherAI/gpt-neox/issues/472, with the difference being that I've boiled down the issue to a very short and simple

[2021-11-29 02:12] StellaAthena commented on #1595
`map::at` appears to be a [C++ thing](https://www.cplusplus.com/reference/map/map/at/). Plenty of DeepSpeed is C++, but what confuses me is the lack of reference to *what* is throwing the error.

[2021-11-29 04:13] pwstegman commented on #1595
I found the same error mentioned in a closed issue on the Triton repo: https://github.com/openai/triton/issues/155. I'm able to reproduce the issue under CUDA 10.2 with the vector-add Triton example:

[code]

[2021-11-29 04:20] SamTube405 commented on #1499
@hyunwoongko can you elaborate on the proposed solution? where to add the model_parameters?

[2021-11-29 05:12] pwstegman commented on #1595
I tried downgrading my Nvidia driver, and now I'm able to run the vector-add example!

I ran:

[code]

This installed Nvidia driver version 460.91.03 (not sure why it's not 440) and the vector-add example worked.

<details>
<summary>nvidia-smi</summary>
<pre>
Mon Nov 29 05:06:36 2021
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 460.91.03    Driver Ve

[2021-11-29 08:45] PeiqiWang commented on #1594
#1596

[2021-11-29 19:14] #1594 closed

[2021-11-29 21:32] stas00 opened #1599 "[loss OVERFLOW] Several Issues"
**Describe the bug**

Splitting of from https://github.com/microsoft/DeepSpeed/pull/1593

This Issue documents multiple issues wrt OVERFLOW event

1. ZeRO2 OVERFLOW goes from `initial_scale_power` set in config to the one where it gets resolved or can't be resolved in one step (compared to zero3 where it reduces the power one step at a time and reports each decrement) As you can see in https://git

[2021-11-29 23:25] gahdritz opened #1600 "[QUESTION] How to re-do forward pass"
Is it possible during distributed DeepSpeed training to "reset" the model's gradients, activation checkpoints, etc. and repeat the forward pass from scratch in a single rank? In my use case, I have to conditionally change the model's inputs depending on their respective outputs, so, ideally, I'd be able to run the model once using one option, perform some kind of check, and then use a different in

[2021-11-30 01:00] Atharva-Phatak commented on #1279
Is there any update on this ? I am getting the same error when using FusedAdam !

[2021-11-30 08:56] Randolph-zeng opened #1603 "[Question] How to bypass hard ssh requirement for Multi-node distributed training"
Hi DeepSpeed team:

I was trying to use deepspeed in a **slurm environment where ssh connections between the allocated computing resources is not
possible.** It seems like, as one of your great teammate @jeffra mentioned [in this issue ](https://github.com/microsoft/DeepSpeed/issues/274#issuecomment-648611279), it is a hard requirement to have password-less ssh connections between nodes.

Is there

[2021-12-01 00:38] jeffra commented on #1603
Hi @Randolph-zeng, my previous comments on this hard requirement should be clarified :) If you want to use our deepspeed launcher then you'll need password-less ssh to work. _However_, if you are able to launch processes with MPI then you can still use DeepSpeed (just without our launcher). Please see these details on DeepSpeed support with MPI launching: https://www.deepspeed.ai/getting-started/#

[2021-12-01 00:44] jeffra commented on #1574
Hi @tuhinjubcse, I see you've been working with the excellent @stas00 on some of these issues. I finished reading up on the latest with you two in this issue https://github.com/huggingface/transformers/issues/14531.

As Stas mentioned, once this DeepSpeed PR https://github.com/microsoft/DeepSpeed/pull/1453 is merged you should be able to run ZeRO stage 3 w. BF16 support which should help reduce me

[2021-12-01 02:15] Randolph-zeng commented on #1603
Hi @jeffra , thanks for the speedy response. After numerous trial and error, I got the inspiration from a torch lightning example where indeed a deepspeed launcher is not used. Instead a plain `torch.distributed.init_process_group`(with init method being env) is used before `deepspeed.initialize`. I am not sure why this works, but I will close this issue now. Hopes this can help other  users who m

[2021-12-01 05:27] jeffra commented on #1595
Wow thank you for all the added context, repro work, and extra details. Glad downgrading your driver worked to fix the issue in your vector add example. Does this also fix it for the original sparse_attention_test.py example? Or is there a new error there?

[2021-12-01 06:09] Randolph-zeng commented on #1603
Turns out the method I mentioned above did not quite solve the issue, it allows communication between two nodes, but only one GPU in each node is invoked. Am still debugging and exploring ....

[2021-12-01 06:28] hyunwoongko commented on #1499
[code]

[2021-12-01 16:53] dirkgr opened #1604 "[BUG] Loading model with Zero3 results in NCCL error"
I am running this code:
[code]

I run it with `NCCL_DEBUG=INFO deepspeed --num_gpus 2 script.py`.

It fails with
[code]

Interestingly, earlier I see these messages:
[code]

I'm using DeepSpeed fc2f378ece3055fddd13cdf309faa9ab66a1b302, but the latest release has the same behavior.

Full stack trace:
[code]

Output of `ds_report`:
[code]

[2021-12-01 19:01] tjruwase commented on #1561
@mrgomdev, can you please try this fix for `largest_partitioned_param_numel` computation?
[code]

[2021-12-01 20:17] #1563 closed

[2021-12-01 21:09] #1604 closed

[2021-12-02 00:58] jeffra commented on #1603
In our case the deepspeed launcher pre-dates the `torchrun`/elastic-launcher in newer pytorch. I don't believe we've tried the new launcher to know for sure here.

Does `torchrun` launch processes across multiple nodes when invoked from a single machine? Often we see (such as with AzureML) that launchers like `mpirun` will be invoked from the infrastructure side for the user and then it is respons

[2021-12-02 04:01] pwstegman commented on #1595
The original sparse attention example runs with the downgraded driver and downgraded Triton.

DeepSpeed 0.5.7 and Triton 1.1.1 were the latest versions when I created the issue. I saw DeepSpeed was updated on the Nov 30th to 0.5.8, so I just tested that version as well.

Here's the summary of my test runs for `sparse_attention_test.py`:

---                        | Triton 1.0.0 | Triton 1.1.0 | T

[2021-12-02 04:08] pwstegman commented on #1595
Just saw that https://www.deepspeed.ai/ is github pages and part of this repo. I can submit a PR that updates both `requirements-sparse_attn.txt` and the sparse attention tutorial's note if those changes sound good.

[2021-12-02 04:36] jeffra commented on #1595
Excellent! Yes please, if you submit a PR for both reqs file and docs that would be greatly appreciated :)

[2021-12-02 05:34] Randolph-zeng commented on #1603
Hi Jeff, Really appreciate the insight you provide! That really helps to clarified the problems. To further clarify the approach I used, I am not exploring the openmpi route any more. Instead, I am within a SLURM environment, where I am creating one task per node, and relying on this task to initialize all the workers within this node. This approach is pretty similar to what you have described tha

[2021-12-02 05:34] #1603 closed

[2021-12-02 06:10] #1595 closed

[2021-12-02 08:32] Infi-zc opened #1609 "[QUESTION] How to do p2p send/recv a tensor with stride info in pipeline parallelism"
I'm curious about how deepspeed pipeline strategy handles the stride information when do p2p communication. I've seen DDP handle these stride issues with 'bucket_view' and 'as_strided' api , so the tensor with specific stride could be reconstructed correctly. But I can't find the similar operations in p2p communication implementations.
Does anyone know the reason for this? I would be very grateful

[2021-12-02 14:09] mrgomdev commented on #1561
Recently I have been out of the project using deepspeed and huge NN models bacause of some external reasons. I asked my colleague to try that fix and check out if the change makes expected difference compared to the original one. He would answer to it soon.
In my opinion, it looks reasonable, while AttributeError does not happen. If happen, my colleague would suggest and test some defensive change

[2021-12-03 01:54] cli99 commented on #1586
Seems that PyCharm debugger has problems dealing with multiprocessing in general. Here are some relevant tickets,https://youtrack.jetbrains.com/issue/PY-39489, https://youtrack.jetbrains.com/issue/PY-37366m which are not resolved yet.

[2021-12-03 02:18] cli99 commented on #1600
Here is a typical training workflow. https://www.deepspeed.ai/getting-started/#training. Is your case like this?

    #forward() method
    loss = model_engine(input)
    next_input = some_check(loss)
    next_loss = model_engine(next_input)

    #runs backpropagation
    model_engine.backward(next_loss)

    #weight update
    model_engine.step()

Can you elaborate more on your use case where rep

[2021-12-03 03:10] #1559 closed

[2021-12-03 03:37] SamTube405 commented on #1581
I was having the same issue, any update?

[2021-12-03 20:29] gahdritz commented on #1600
This is related to issue #1496.

My proposed fix to the problem there was just to return a zero tensor when the loss becomes NaN after the forward pass. However, during distributed training, this doesn't work: each of the ranks needs to update the same subset of the model's parameters, or training hangs.

My next thought, then, was to attempt a forward pass, and then, if the loss becomes NaN, "res

[2021-12-03 23:14] yaozhewei commented on #1600
There are multiple ways to realize the functionality you want to achieve the goal you want.

1. Using the way cli99 mentioned.
If you are afraid that there are some cached activation etc, you can do something like
[code]

2. You can actually  remove those NaN from loss so that they would affect backward pass.
Here we give pseudo-code and a simple example to illustrate this.
[code]

Here is an pyto

[2021-12-04 03:08] gahdritz commented on #1600
Thanks for the reply.

1. Part of the problem is that my model is extremely large and contains many activation checkpoints. Even without the stored gradients from the first pass, the stored inputs in each activation checkpoint alone would be a major memory bottleneck. It seems to me that the code snippet you suggest is my current solution, which I described in my previous comment. The problem is t

[2021-12-04 03:44] gahdritz opened #1610 "[QUESTION] Clarifying DeepSpeed-Inference"
Some questions about DeepSpeed-Inference:

1. In the documentation for DeepSpeed-Inference (e.g. [here](https://www.deepspeed.ai/tutorials/inference-tutorial/)), it is claimed that the functionality works specifically for large transformer models. Obviously, certain components, like the optimized kernels, only apply if your model is a standard HuggingFace-style transformer. Are the other features

[2021-12-05 09:07] RezaYazdaniAminabadi commented on #1610
Hi @gahdritz
Thanks for using DeepSpeed-Inference, and raising these interesting questions.
I try to answer your questions below:
1. Yes, we have tried to show the inference module in DeepSpeed mostly on HF models. Except the kernels, which requires some modification for supporting different transformer-type models, the rest can be used with different PyTorch models. On the other hand, you need to

[2021-12-05 16:08] gahdritz commented on #1610
Thanks! This answers all of my questions. I look forward to that policy guide.

[2021-12-05 16:08] #1610 closed

[2021-12-06 12:43] PeiqiWang opened #1611 "[BUG] Memory overhead issue with Zero2"
**Describe the bug**

In Zero Stage2, deepspeed will move all the parameters to cpu first, flatten the data, and then move back to GPU.  In some large model cases, this operation will use 2x memory and leads to OOMs.

**Some Explanation **

According to PyTorch memory management, when deepspeed move the parameters to cpu,

https://github.com/microsoft/DeepSpeed/blob/cda7c718954e22f22df222872400e29

[2021-12-06 14:01] tjruwase commented on #1611
@PeiqiWang, thanks for reporting this problem. Adapting to pytorch memory management is an ongoing challenge in deepspeed, so we definitely appreciate improvements like these. Do you mind providing a PR for this? Perhaps we could also add some unit tests to compare statistics of actual memory usage to expected memory usage? I think your test case is a great starting point. If you are able to work

[2021-12-06 22:43] stas00 opened #1612 "[BUG]"
**Describe the bug**

`load_checkpoint` works when a fresh deepspeed engine was created, but if you train with it and try again `load_checkpoint` fails.

This is exactly the same issue as reported in https://github.com/microsoft/DeepSpeed/issues/1394 which was closed with a workaround but not with a solution.

I used the same init workaround in Transformers: https://github.com/huggingface/transfor

[2021-12-07 02:56] AliceChenyy opened #1613 "[BUG] moe model training on 2nodes would fail if using RDMA"
**Describe the bug**
We were trying to train a moe (ds experts = 2, expert size 8b) model on 2 A100 (40G) nodes, zero stage 2,

- Training would fail if using rdma with model constructed by deepspeed moe, error log pls see below. (- --moe --ep-world-size '2' --ds-num-experts '2' --ds-top-k '1' --noisy-gate-policy 'RSample' --load-repeat-dense-model --moe-param-group --use-tutel --deepspeed )
- If

[2021-12-07 08:41] gongbudaizhe opened #1614 "[REQUEST] support tutel in top2gating"
**Is your feature request related to a problem? Please describe.**
For now, only top1gating uses tutel. It is favourable to also support top2gating.

**Describe the solution you'd like**
N/A

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-12-07 23:54] lostmsu commented on #1315
Can somebody share any insight about why cpu_adam and some other ops are not supported on Windows?

[2021-12-08 03:59] tangjiasheng opened #1617 "How can I find the low-speed node(s) when training with multiple nodes."

[2021-12-08 17:52] javier-alvarez opened #1620 "CPUAdam does not find CUDA"
### Discussed in https://github.com/microsoft/DeepSpeed/discussions/1619

<div type='discussions-op-text'>

<sup>Originally posted by **javier-alvarez** December  8, 2021</sup>
2021-12-08T15:12:02Z INFO     Switching optimizer to DeepSpeedCPUAdam
No CUDA runtime is found, using CUDA_HOME='/usr/local/cuda'
[stderr]Traceback (most recent call last):
[stderr]  File "InnerEyePrivate/ML/runner.py", lin

[2021-12-08 18:05] #1327 closed

[2021-12-08 20:35] tjruwase commented on #1561
@mrgomdev, sounds good. I pushed #1623. It would be great if you colleague could help to test it. Also, if your colleague is willing to share the test cases, we could include them in the unit tests. Thanks!

[2021-12-08 20:40] tjruwase commented on #1356
Closing for lack of response. Please reopen as appropriate.

[2021-12-08 20:40] #1356 closed

[2021-12-08 20:45] jeffra commented on #1620
Hi @javier-alvarez,

Do you have interactive access to the machine you're running on here? if so can you show me the results of `ds_report`?

[code]

The above error is thrown as a safety precaution, what DeepSpeed is observing is that `nvcc` is reporting CUDA 10.2 but the installed version of `torch` was compiled with CUDA 11.1. DeepSpeed uses `nvcc` to compile some of our custom c++/cuda ops at

[2021-12-08 20:49] jeffra commented on #1617
Can you give additional context on "low-speed node(s)" here? If you're looking for faulty nodes, we often use a simple all-reduce script like https://gist.github.com/jeffra/b5e80466b4c86be00ea3b6f130fb7a36 across the nodes in a pair-wise fashion. Specifically if your multi-node setup is 4 nodes (worker-[0,1,2,3]) then we run it across worker-[0,1] and worker-[2,3] to try and identify slow performi

[2021-12-08 20:55] #1586 closed

[2021-12-08 21:05] PeterDykas commented on #1563
This seemed to fix it.  Thank you

[2021-12-08 21:33] tjruwase commented on #1559
@EeyoreLee, did you find a solution to this problem?

[2021-12-08 21:47] jeffra commented on #1620
Was able to reproduce the issue with your [conda environment](https://github.com/microsoft/InnerEye-DeepLearning/blob/jaalvare/deepspeed/environment.yml), after adding `cudatoolkit-dev=11.1.1` to your conda dependencies it seems to have resolved the issue on my side.

[2021-12-08 22:40] nobellant215 opened #1624 "[QUESTION] OOM at Allgather in pre-submodule"
Hi. I am working on a 4 RTX 3090 (24GiB VRAM) node and trying to run a dummy, large model training with ZeRO-3 enabled.
I was barely able to run a GPT-2 like model which is configured

- hidden dimension 6144
- num_layer 12
- num_heads 12
- seq_length 1024
- batch_size 1

FP16 model weight and gradients takes up about 21GBs, and they seemed to stay on the GPU VRAM though I enabled parameter offloa

[2021-12-09 00:29] #1541 closed

[2021-12-09 02:05] tangjiasheng commented on #1617
I think you're right. I'm looking for the nodes with slow processing speed. Suppose I have 8 machines with 1 GPU respectively. With data parallel strategy, which is a synchronous one, if there are some slow nodes, the whole speed might subject to these slow ones and won't reach to a linear or sub-linear speedup anymore. Thus, I need to have a chance to find these slow ones.

[2021-12-09 06:08] stas00 opened #1625 "[BUG] torch-nightly: linker issue with `cpu_adam.so`"
When HF CI runs deepspeed tests  with torch-nightly - I get multiple issues with `cpu_adam.so`

I get most tests fail with either

[code]

or:

[code]

(e.g. test: `test_can_resume_training_normal_0_zero2`, but almost all tests fail)

The compilation went through just fine:

[code]

It must be something specific to that box - since I can't reproduce these problems on my box with the same torch-nig

[2021-12-09 06:11] stas00 commented on #1625
I also compared the ninja builds and they are almost identical except on my setup it builds exactly for 2 sms as I have 6.1 and 8.6 cards, but on the CI it builds for a whole lot of sm:

[code]

on my machine it's just:
[code]

but I don't think this should make much of a difference since 6.1 and 8.6 are in both sets.

[2021-12-09 06:32] stas00 commented on #1625
OK, I was able to reproduce the problem by installing:

[code]

so I think it's a bug in the pip package of torch-nightly, since there is no problem with conda version of the same.

I will report to pytorch, so nothing to do about it at the moment.

[2021-12-09 16:05] javier-alvarez commented on #1620
This fixed the issue. I have changed the Azure ML image to:

"mcr.microsoft.com/azureml/openmpi4.1.0-cuda11.1-cudnn8-ubuntu18.04"

It looks like having both cuda 10.2 and 11.1 does not work.

[2021-12-09 16:05] #1620 closed

[2021-12-09 19:08] tjruwase commented on #1270
Closing for lack of response. Please re-open if needed.

[2021-12-09 19:08] #1270 closed

[2021-12-09 19:20] stas00 commented on #1625
OK, so the pytorch team replied that it's a Deepspeed's responsibility to
https://github.com/pytorch/pytorch/issues/69666

So deepspeed needs to link to the library that contains `cuRand*`.

cc: @RezaYazdaniAminabadi

[2021-12-09 20:31] stas00 commented on #1625
and we are back on the pytorch side of the net: https://github.com/pytorch/pytorch/issues/69666#issuecomment-990157445

and found the breaking data Oct-23 (worked on Oct-22 nightly) https://github.com/pytorch/pytorch/issues/69666#issuecomment-990208108

[2021-12-09 21:17] #1624 closed

[2021-12-09 21:23] nobellant215 opened #1627 "[BUG] AIO file size and buffer size mismatch"
I am using NVMe offload and getting this error regardless of number of GPUs I am using.

[code]

Offloading works fine when the size of the model is small, but at certain point AIO starts to malfunction.
It creates swp files for gradients but they are empty - their sizes are all 0.

My zero configuration is set as below:
[code]

It seems that the same issue related to AIO happened before : https:/

[2021-12-09 22:22] tjruwase commented on #1627
@nobellant215, thanks for sharing this issue. I will take a look.

[2021-12-09 22:39] tjruwase commented on #1627
@nobellant215, can you please share the settings of `aio` section in your json config?

[2021-12-10 04:59] nobellant215 commented on #1627
Never mind. AIO failed simply due to insufficient disk space.
Thanks for the fast response though.

[2021-12-10 04:59] #1627 closed

[2021-12-10 07:23] dunalduck0 commented on #1332
@RezaYazdaniAminabadi I tried this PR but I've got strange outcome. It worked with 1 or 2 GPUs, but crashed with 3 GPUs.

Here is my code. The input file has 10 prompts.

`
import os
import torch
import deepspeed
import transformers
import pandas as pd
import contextlib
import time
from deepspeed import module_inject
from transformers import pipeline
from transformers.models.gptj.modeling_gptj imp

[2021-12-10 08:24] Dounm opened #1629 "Why is Pipeline parallelism not compatible with ZeRO-2 and ZeRO-3?"
Could you explain why Pipeline parallelism is not compatible with ZeRO-2 and ZeRO-3? Are there any design tradeoffs?

Because as far as I know, it is pretty common to train large models with both DataParallel and PipelineParallel together. and with the constraint above, the offload mechanism cannot be enabled due to its dependency on also ZeRO-2/3.

Also, [Megatron-DeepSpeed:pretrain_gpt.py](https

[2021-12-10 08:33] kehuanfeng commented on #617
@szhengac could you please share how you get nsight working with deepspeed launcher?
The command I am using is as below, and the report doesn't contain any cuda trace information.
`nsys profile --trace=cuda deepspeed`

[2021-12-10 08:56] kehuanfeng commented on #1586
hi @cli99 , I am trying to use the way you mentioned above, but neither is working proper for me, could you please point me out?
1. When I use pytorch profiler and save the tracing information into json file, the trace for each gpu or each parallel process is in seperete file, so it's not possible to anaylze them as a whole.
2. When I use nsight, like 'nsys profile deepspeed <other args>', the rep

[2021-12-10 10:28] EeyoreLee commented on #1559
Sorry,I tried many methods but still couldn't solve it .  Maybe I can change the `utils.so` to `utils.o` in other env with GCC 5+ , then migrate over . But for some reason, I didn’t have time to try .

[2021-12-10 13:00] trancenoid opened #1630 "[Docs] Azure tutorial on Deepspeed webpage contains no hyperlink to .sh files mentioned and used"
The Deepspeed tutorial [page](https://www.deepspeed.ai/tutorials/azure/) on Azure references to multiple .sh files, but the files are not referenced to the Deepspeed [repo](https://github.com/microsoft/DeepSpeed/tree/master/azure).

[2021-12-10 17:17] RezaYazdaniAminabadi commented on #1332
Hi @dunalduck0

Thanks for trying this.
For the model-parallelism work, the dimensions should be divisible by the number of GPUs you are using. Since, it cannot divide it properly, you get this error at one of the reshaping part of the transformer. However, I think this needs to be errored out properly so that it better illustrate this.

Best,
Reza

[2021-12-10 19:51] lostmsu opened #1631 "[BUG] [Win] Installation from source fails for `transformer_inference_op`"
**Describe the bug**
I am attempting to install DeepSpeed from cloned code in [editable mode](https://pip.pypa.io/en/stable/cli/pip_install/#editable-installs) and the build fails with these lines present in the output:

and

The first one happens despite `DS_BUILD_AIO=1`

Full log: [inst.log](https://github.com/microsoft/DeepSpeed/files/7695085/inst.log)

**To Reproduce**
Steps to reproduce the b

[2021-12-10 20:08] lostmsu commented on #1631
Oh, figured that one out. NVidia does not support VS 2022 C++ compiler in CUDA 11.4. Worked around the issue by adding `'-allow-unsupported-compiler'` option to the list in `CUDAOpBuilder.nvcc_args`.

[2021-12-11 08:12] dunalduck0 commented on #1332
Thank you @RezaYazdaniAminabadi . For text-generation task, input lengths are normally varying. Does it mean we need to pad the input so that the dimensions are divisible? If so, how do I do that?

[2021-12-11 22:11] RezaYazdaniAminabadi commented on #1332
Sorry, I meant the model dimensions, such as hidden-size and number of attention heads. This is due to partitioning the weights across GPUs. The input will not be however partitioned but broadcasted to GPUs.

[2021-12-12 04:41] dunalduck0 commented on #1332
Well, then the number of GPUs  is constrained by so many dimensions. Maybe 2, 4 and 8 are the only possible choices that work with most models?

Mei
On Dec 11, 2021, 2:11 PM -0800, Reza Yazdani ***@***.***>, wrote:

[2021-12-13 02:56] jeffra commented on #1630
Hi @trancenoid, sorry for confusion. The script’s referenced there are here: https://github.com/microsoft/DeepSpeed/tree/master/azure

However, we do recommend using AzureML for an easier experience than using raw VMs like we do in our original tutorial.

[2021-12-13 19:57] nobellant215 opened #1635 "[BUG] CPU adam too slow even with AVX512"
**Describe the bug**
Optimizer step is taking unexpectedly long. I am running a GPT-like model with 1.35B parameters with ZeRO-3, optimizer CPU offload enabled.

I have added extra timers to measure exact timing for optimizer step:

[code]
I believe update computation using cpu-adam should be much faster - less than 5 seconds but here it's taking more than 22 seconds ...

**System info**
 - OS: Ub

[2021-12-13 21:15] RezaYazdaniAminabadi commented on #1332
Yes, this is the case. Even, for some models, like GPT2 which has 25 heads, the lowest mp_size we can set after 1 is 5. So, we have this constraint based on the model structure.

[2021-12-14 09:23] PeiqiWang commented on #1635
I meet the same problem in DeepSpeedExamples [https://github.com/microsoft/DeepSpeedExamples/issues/151](url)

[2021-12-14 17:40] RezaYazdaniAminabadi commented on #1635
Hi @PeiqiWang, @nobellant215

Thanks for reporting this issue. I will look into this.

@PeiqiWang, can I ask what model-size you were using in your experiments?

@nobellant215, the difference that you mentioned is really huge (5 vs 22). I am wondering how you are measuring the time here. We have a performance check for CPU-Adam (https://github.com/microsoft/DeepSpeed/blob/master/tests/perf/adam_te

[2021-12-14 19:28] nobellant215 commented on #1635
Thanks for the reply.
Previously measured time was obtained by just placing synchronized clock before and after the optimizer step in stage3.py.
I have tried the performance check and I am now seeing 12 ~ 13 sec even with torch.num_thread set to 128.

[2021-12-14 19:47] dunalduck0 commented on #1332
It sounds like you wanted to split the model into equal sizes to GPUs. But why can't you split by *different* sizes? Say first two GPUs have 9 heads each, the 3rd one has 8 heads, so total 25 heads?

[2021-12-14 19:57] jeffra commented on #1630
Please re-open if you have further questions/concerns.

[2021-12-14 19:57] #1630 closed

[2021-12-14 20:26] stas00 commented on #1625
So here is what happened:

`caffe2` got removed from pytorch-nightly 2 months ago. And it happened to have had the curandCreateGenerator defined and thus Deepspeed's CUDA extensions happened to work.

So now that it has been removed you need to add to the CUDA cpp extension building code the right cuda library that defines `cur*` symbols.

I thought that it should be deepspeed's CUDA extension bui

[2021-12-14 23:03] RezaYazdaniAminabadi commented on #1635
Hi @nobellant215 and @PeiqiWang
Can you please try this PR to see if it resolved the performance issue?
Thanks,
Reza

[2021-12-15 01:33] #1635 closed

[2021-12-15 02:12] flint-stone opened #1638 "[Question] Deploying Mixture of Expert Model with expert-only parallelism"
I'm new to DeepSpeed and I'm trying to deploy mixture of expert model based on the [tutorial](https://www.deepspeed.ai/tutorials/mixture-of-experts/). In the tutorial it says that DeepSpeed support expert only parallelism (the "E" setting in the table) that can parallelize expert layer only but not the rest of the model. However, the[ group initialize method](https://github.com/microsoft/DeepSpeed

[2021-12-15 05:24] PythaGorilla commented on #1515
It turns out to be the problem of the cluster. It has something to do with a conflict between pytorch and AMD cpu.

[2021-12-15 05:24] #1515 closed

[2021-12-15 06:43] nobellant215 commented on #1635
@RezaYazdaniAminabadi Thanks for the fix. It works well now.

[2021-12-15 08:02] PeiqiWang commented on #1635
It works, and the cpu-adam has 3.4x speedup compared to torch-adam in example `Megatron-LM-v1.1.5-3D_parallelism`.

Furthermore, I observe that the this PR has a small performance decrease compared to v0.5.8 when using torch-cpu-adam and zero cpu-offload, the time of optimizer_step increase form 1700+ms to 1900+ms

**Performance**
v0.5.8
[code]

0.5.9+259936a (current master)
[code]

[2021-12-15 15:02] mtreviso opened #1639 "Sparse Attention with block sizes < 16 [BUG]"
If we run (sparse) BigBird with block sizes < 16, we get the following error:
[code]

It seems that `step` is predefined to be `16` [(here)](https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/ops/sparse_attention/matmul.py#L795), and then `div` will be set to `0` when `block < 16` [(here)](https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/ops/sparse_attention/matmul.py#L469),

[2021-12-15 17:16] RezaYazdaniAminabadi commented on #1631
Hi @lostmsu

Thanks for looking into supporting inference through Windows.
I will look into this issue.

Best,
Reza

[2021-12-15 17:19] RezaYazdaniAminabadi commented on #1635
@nobellant215, thanks for confirmation.

@PeiqiWang, I might know what can be the cause of this issue. There has been some refactoring on the CPU-Adam to be more general and that might have reduced the performance a bit. I will check this further and try to get the remaining perf benefit back.

Best,
Reza

[2021-12-15 17:53] lostmsu commented on #1631
@RezaYazdaniAminabadi I actually did some investigation and it seems related to the location of C++ sources vs the structure of Python modules.

[2021-12-16 02:52] aphedges commented on #789
`tensorboardX` was removed as a direct dependency in a90497e, so this issue should be closed.

[2021-12-16 03:38] chutaklee opened #1640 "[REQUEST] Sparse Attention FP32 support"
[code]
Any update on fp32 support for spase attention? Currently I'm happy with training sparse model on fp16 but it seems to me fp32 is more versatile.

I can work on this but I'm not familiar with triton and gpu programming. Could you point out some hints at least?

[2021-12-17 04:38] BDHU commented on #1590
Encountered the same error

[2021-12-17 05:57] zgsbughammer opened #1643 "[BUG] DeepSpeedCPUAdam wrong result after calling step"
Hi, there.

Lately we used deepspeed to speed up our model training but often got unexpected **cuda invalid resource handle error** once cpu offload is enabled. We finally narrowed down this problem to DeepSpeedCPUAdam's step method after making some efforts. So we tried to adapt code [here](https://github.com/microsoft/DeepSpeed/blob/master/tests/perf/adam_test1.py) to the following
[code]
to see

[2021-12-17 06:53] LinglingGreat commented on #1175
Hello, I'm interested in it. Can you explain how you did it? Thanks.

[2021-12-17 09:31] zgsbughammer commented on #1643
FYI, torch adam with the same settings shows that:
[code]

[2021-12-17 12:16] KMFODA opened #1644 "RuntimeError: Ninja is required to load C++ extensions"
Hi,

I'm currently getting the error listed below indicating that I need to have Ninja installed when running deepspeed despite having Ninja 1.10.2 installed. I also tried installing Ninja 1.8 and Ninja 1.9 and followed the steps outlined [here](https://github.com/zhanghang1989/PyTorch-Encoding/issues/167) yet I still face the same error.

Here's the full traceback:

[code]

I'm using the followin

[2021-12-17 12:33] KMFODA commented on #1644
Apologies, actually managed to fix this by adding "/workspace/.local/bin:" to my PATH:

[code]

[2021-12-17 12:33] #1644 closed

[2021-12-18 04:11] RezaYazdaniAminabadi commented on #1643
Hi @zgsbughammer

Thanks for pointing this use-case.
The problem is in the way that you are passing the fp16 parameters to the step function for the kernels to copy data from master parameters. Instead of providing a list of parameters, you need to pass a list of list of parameters (just change `[param_fp16_1, param_fp16] to [[param_fp16_1, param_fp16]]`).
The CPU-Adam optimizer works on a group o

[2021-12-18 04:40] conglongli commented on #1539
Hi @hfassold we have just released the new feature contribution guideline: https://github.com/microsoft/DeepSpeed/blob/master/CONTRIBUTING.md#new-feature-contribution-guidelines

For your case, our major concern is that there is no evaluation on any transformer model and on any NLP task, which are important for many DeepSpeed users. If you are able to add these necessary evaluations, we are happy

[2021-12-18 05:56] zgsbughammer commented on #1643
@RezaYazdaniAminabadi  Thanks for your quick reply!
I can get your point according to code here
https://github.com/pytorch/pytorch/blob/c463d5009868e53ec07e90d0097c30c55280eef2/torch/optim/optimizer.py#L18
obviously torch optimizer organizes params in groups internally. But I still think it would be nicer by making `fp16_param_groups`
consistent with `model_params` https://github.com/microsoft/Dee

[2021-12-18 07:15] hfassold commented on #1539
Sounds good, will do. Will  come back to you then (in january I suppose)

[2021-12-19 04:06] pudasainishushant opened #1649 "subprocess.CalledProcessError: Command '['which', 'c++']' returned non-zero exit status 1."
I am trying to train a masked language model from huggingface Trainer API using deepspeed. The training is succesfull while I train on ubuntu operating system while I try to train on Centos I faced this issue.
![languag_model_nic](https://user-images.githubusercontent.com/47980452/146663505-399f8e9b-04c5-4462-b441-3caec5c4a26f.png)

[2021-12-20 06:44] ghosthamlet opened #1650 "[REQUEST] Any plan to refactor those huge classes?"
I don't know whether DeepSpeed is planning to do large refactor, if not, below is my suggestion.

**Is your feature request related to a problem? Please describe.**
Thanks for this great project, DeepSpeed is wonderful incredible powerful.
But i found its python codes full of large even huge classes, as DeepSpeed turned more powerful, classes become larger and hard to read or maintain.

**Describe

[2021-12-20 18:09] RezaYazdaniAminabadi commented on #1643
@zgsbughammer
Thanks for the good suggestion. I have added a PR to address this. Please try it and see if it works on your side.
For the other part of the issue, I look forward to a reproable test to fix it.
Thanks,
Reza

[2021-12-20 20:12] stas00 commented on #1599
Here is another reported issue where a user reports this endless loop that can't resolve overflow and where I think Deepspeed ought to assert:
https://github.com/huggingface/transformers/issues/14834

[2021-12-21 11:26] guozhiyao opened #1653 "Does the ZeRO support the SGD optimizer?"
I want to speed up my face recognition model with DeepSpeed. And the classifier is MP and I want to use the DeepSpeed to the backbone. I use the SGD optimizer and ZeRO stage is 1. But the GPU memory does not reduce, while even larger with stage 2 and 3.

The following is my code form：
[code]

[2021-12-21 12:58] HuipengXu opened #1654 "BERT-Large can't fit in VRAM 16G，RAM 64G"

[2021-12-21 15:50] JoeyOhman commented on #498
Hi,

I am in the process of pre-training a BERT with DeepSpeed (Bing Bert), also leveraging the transformer kernel.

Is this still the recommended approach to convert a DeepSpeed trained model to HuggingFace? Does it happen to exist any DeepSpeed -> HuggingFace conversion scripts today?

Best Regards,
Joey

[2021-12-22 00:14] boru-roylu opened #1656 "More flexible port number for distributed training"
https://github.com/microsoft/DeepSpeed/blob/d93d924a77a3f6a427aad7f1e7d83be9b62d9fb3/deepspeed/constants.py#L9

[code]

[2021-12-22 09:02] chenyu-jiang opened #1658 "MoE top1gating not considering capacity when use_rts=False"
Hi,

In the top1gating function, it looks like that dropping tokens that exceeds expert capacity (L232) only happens when use_rts=True:

https://github.com/microsoft/DeepSpeed/blob/d93d924a77a3f6a427aad7f1e7d83be9b62d9fb3/deepspeed/moe/sharded_moe.py#L218-L235

While when generating `locations1_sc` the capacity value is directly used:
https://github.com/microsoft/DeepSpeed/blob/d93d924a77a3f6a427a

[2021-12-22 17:52] tjruwase commented on #1654
Hi @HuipengXu, thanks for reporting this problem. Unfortunately, we will need more information in order to understand whether this is expected or not. For example, are you able to fit the same model with just pytorch alone?

[2021-12-22 18:03] tjruwase commented on #1653
@guozhiyao, thanks for reporting this problem. ZeRO is most useful for large models (>1B parameters) and optimizers with large memory footprint (e.g., ADAM which maintains 16 bytes per model parameter). So, it is not surprising that you are not seeing benefits for a lightweight optimizer like SGD. How large is your model and how many GPUs are you training with?

You might find these [docs](https:/

[2021-12-22 18:48] RezaYazdaniAminabadi commented on #1658
Hi @chenyu-jiang

Yes, you are right the logic is not correct when use-rts is False. I will send a PR shortly to fix this.
Thanks,
Reza

[2021-12-23 01:20] HuipengXu commented on #1654
I cant fit the same model with just pytorch  alone, so I hope to use deepspeed to solve the problem

[2021-12-23 04:30] hyunwoongko commented on #1175
I released it https://github.com/tunib-ai/parallelformers .

[2021-12-23 23:46] #1656 closed

[2021-12-24 11:10] Leezekun commented on #1332
Hi, I also found that when using deepspeed to speed up gpt-j inference, only 1 or 2 GPUs works, but crashed with 3 GPUs.

Besides, I found that using 2 GPUs is not faster than using 1, except that the large model can be modeled into these 2 GPUs.
Is this expected? What should I do if I want to not only parallel the model inference and solve the OOM problem, but also speed up the GPT-J inference?

[2021-12-24 11:14] Leezekun commented on #1332
Is there any update on the GPT-J-6B inference kernel?

Thanks!

[2021-12-24 11:17] Leezekun commented on #1332
Any update on the GPT-J-6B Inference kernel?
Thanks!

[2021-12-24 11:18] Leezekun commented on #1332
Hi, I also found that when using deepspeed to speed up gpt-j inference, only 1 or 2 GPUs works, but crashed with 3 GPUs.

Besides, I found that using 2 GPUs is not faster than using 1, except that the large model can be modeled into these 2 GPUs.
Is this expected? What should I do if I want to not only parallel the model inference and solve the OOM problem, but also speed up the GPT-J inference?

[2021-12-24 13:45] joehoover commented on #1332
Hi @Leezekun,

A large decrease in latency is not an expected result of mere model parallelism. That's what the kernels are for.

Also, MP for GPT-J won't work with 3 devices. The degree of MP is constrained by the dimensions of the model.

[2021-12-24 17:05] tjruwase commented on #1654
Thanks for the clarification. Have you reviewed the following guides?

1. [ZeRO](https://www.deepspeed.ai/tutorials/zero/)
2. [ZeRO-Offload](https://www.deepspeed.ai/tutorials/zero-offload/)

You might find the following issues also relevant

1. https://github.com/microsoft/DeepSpeed/issues/467
2. https://github.com/microsoft/DeepSpeed/issues/1288#issuecomment-895296940

[2021-12-25 03:54] Leezekun commented on #1332
Hi @joehoover,

Thanks for the clarification. Do you know any updates on the GPT-J-6B Inference kernel?

[2021-12-26 18:10] crsegerie commented on #1590
Encountered the same error

[2021-12-27 06:38] DaehanKim opened #1661 "On Memory Consumption for Prefix Tuning"
I'm trying to prefix-tune `kakaobrain/kogpt` 6B model for a topic-specific text generation task. Meanwhile, I was quite curious on how to compute runtime requirements for gRAMs on this prefix tuning task.

kogpt model consists of 6B parameters which means `6B * 2(half-precision) / 1024**3 ~= 11.17GB`.
According to description in [ZeRO](https://arxiv.org/abs/1910.02054) paper, Adam optimizer typica

[2021-12-27 09:41] HuipengXu commented on #1654
@tjruwase
ds_config:
[code]
I am using [rbt3](https://huggingface.co/hfl/rbt3) to test deepspeed，bs=1, 8* 16 g v100，24g RAM。
I tested the performance under 4gpu with/without cpu_offload:
with cpu_offload:
RAM usage（I don’t know why I can’t upload pictures :( ）：2844、2632、2466、2452M
without cpu_offload:
RAM usage：2872、2856、2690、2684M

When I use 8 GPUs, the cpu memory explodes....

[2021-12-27 17:17] tjruwase commented on #1654
Can you explain how to interpret these numbers? I am trying to understand the expected gpu and cpu memory usage?

How big is the model, in terms of parameters?

Can you share your training script to help repro? Or instrument with deepspeed's memory profiler as suggested [here](https://github.com/microsoft/DeepSpeed/issues/1611#issuecomment-986803365)?

[2021-12-28 01:36] HuipengXu commented on #1654
@tjruwase
The above 4 numbers respectively represent the actual usage of 4 GPUs in the case of whether to use "cpu_offfload"
rbt3 has 38M parameters
training script:
[code]

common.json:
[code]
rbt3.json:
[code]

[2021-12-29 00:29] tjruwase commented on #1661
@DaehanKim, perhaps the following might help

1. Profile memory usage in your code using [see_memory_usage()](https://github.com/microsoft/DeepSpeedExamples/blob/25d73cf73fb3dc66faefa141b7319526555be9fc/Megatron-LM-v1.1.5-ZeRO3/megatron/training.py#L44), similar to [here](https://github.com/microsoft/DeepSpeedExamples/blob/25d73cf73fb3dc66faefa141b7319526555be9fc/Megatron-LM-v1.1.5-ZeRO3/megatron/

[2021-12-29 07:06] KeyKy commented on #493
@RezaYazdaniAminabadi I also have this problem. When cpu_offload is true, it does not converge. https://github.com/microsoft/DeepSpeedExamples/issues/153

[2021-12-29 23:55] tjruwase commented on #1654
@HuipengXu, thanks for sharing these details.  Are these files publicly available?
[code]

[2021-12-29 23:56] tjruwase commented on #1653
@guozhiyao, do you have further question on this issue or can it be closed? Thanks!

[2021-12-29 23:58] tjruwase commented on #1650
@ghosthamlet, thanks for this suggestion. Refactoring is very high on our desired list, but unfortunately the bandwidth is lacking for it. If you are able to put some effort in this direction, we will gladly appreciate and support it.

[2021-12-30 00:00] tjruwase commented on #1649
What is the ouput of running `which c++` in your terminal?

[2021-12-30 01:27] HuipengXu commented on #1654
@tjruwase
rbt3 is from [here](https://huggingface.co/hfl/rbt3)，“label.xlsx” and "unlabel.xlsx" are not public, they are just multi-class data with columns of text and label

[2021-12-30 02:28] KeyKy opened #1666 "cpu_offload == true does not converge."
https://github.com/microsoft/DeepSpeed/issues/493
https://github.com/microsoft/DeepSpeedExamples/issues/153
thanks.

[2021-12-30 13:37] tjruwase commented on #1643
@zgsbughammer, are you still an issue or can this be closed? Thanks!

[2021-12-31 05:20] ghosthamlet commented on #1650
Sorry, I still don't understand all the details of DeepSpeed code now, it's complex, and this year i am too busy as i am the only one ML researcher in my company. When have more spare time i wish to study more DeepSpeed code and then maybe do some refactor.

[2021-12-31 05:45] RezaYazdaniAminabadi commented on #1332
Hi @Leezekun

That is true that the parallelism alone may not improve performance and I agree with @joehoover that it requires kernels for getting higher performance.
I was planning to release the kernel support in December, but I fell behind my schedule! I will follow up on this thread more next week.

Thanks,
Reza

[2021-12-31 10:01] zgsbughammer commented on #1643
@tjruwase Thanks for ur attention, will close

[2021-12-31 10:01] #1643 closed

[2021-12-31 20:32] MihaiBalint commented on #1666
I've tried the same example with deepspeed 0.5.7 and 0.5.8, neither version converges.

[2022-01-02 01:12] drunkcoding opened #1667 "[BUG] Inference example outdated"
Under the official tutorials with deepspeed 0.5.8

[code]

The following command report error

[code]

The error goes away when adding replace_with_kernel_inject=True

[code]

Can we have more detail information on the combination of inference engine arguments?

[2022-01-02 04:25] Leezekun commented on #1332
@RezaYazdaniAminabadi

Thanks a lot! Look forward to the update.

[2022-01-03 11:43] Johnz86 commented on #1315
I have the same issue, default pip install and installation from source does not work for me.
I will end up with:
[code]

[2022-01-04 17:03] btyu commented on #1513
The problem is still here when setting `block_size=32`, but it works fine with `block_size=16, 64, 128`.

Thanks

[2022-01-04 21:52] jahidhasanlinix opened #1671 "[REQUEST] Plugin with DL model"
https://github.com/hongzimao/decima-sim
would you like to instruct me how to integrate this above deep learning model into your pipeline. Moreover, how can I integrate or plug it with your frameworks?

[2022-01-05 02:29] david-rx commented on #1508
Any update on this? Is there another recommended way to do this, e.g. without using the deepspeed launcher?

[2022-01-05 06:41] HuipengXu commented on #1654
@tjruwase What more information do you need

[2022-01-05 18:16] lhatsk commented on #974
What's the status of this?

`  "bfloat16": {
    "enabled": true
  },`

Doesn't seem to have any effect. Model / data remains in fp32.

[2022-01-05 19:38] #1561 closed

[2022-01-05 21:19] RezaYazdaniAminabadi commented on #1667
Hi @drunkcoding

Thanks for mentioning this issue. Yes, you are right about adding that flag for this model to run this model.
I will add more description and fix this issue in a PR.
Best,
Reza

[2022-01-05 22:43] Borda opened #1674 "[REQUEST] Lightning ecosystem CI"
Hello and Happy New Year 2022! :tada:
Just wondering if you already heard about quite the new **Pytorch Lightning (PL) ecosystem CI** where we would like to invite you to... You can check out our blog post about it: [Stay Ahead of Breaking Changes with the New Lightning Ecosystem CI](https://devblog.pytorchlightning.ai/stay-ahead-of-breaking-changes-with-the-new-lightning-ecosystem-ci-b7e1cf78a6c7

[2022-01-06 19:35] #1666 closed

[2022-01-07 01:26] tjruwase commented on #1654
@HuipengXu, can provide the command line to launch the run? Also, it would be great if you could provide a snippet of “label.xlsx” and "unlabel.xlsx" sufficient for about 5 optimizer steps. Even dummy data would be fine. This would minimize the amount of trial and error required to repro the problem.  Thanks!

[2022-01-07 03:03] esteng commented on #1590
Encountered the same error

[2022-01-07 03:37] HuipengXu commented on #1654
running command line：
[code]

data:

<table>
<tr>
	<td>text
	<td>label
<tr>
	<td>7岁孩子拔光邻居家菜地，邻居上门理论，孩子：我是好心给你帮忙
	<td>0
<tr>
	<td>6位同事聚会，中途上洗手间，回来已坐满20多人，还以为走错了！
	<td>1
</table>

[2022-01-07 14:05] SeanNaren commented on #1674
This would be awesome :)

for more information, this will help ensure that DeepSpeed doesn't break functionality for users in Lightning. To do this however, there needs to be tests in DeepSpeed that rely on Lightning (which currently isn't the case).

@tjruwase @jeffra you can assign this to me; I think I can assist here! I know for a long time you've been requesting adding Lightning based tests t

[2022-01-07 17:48] ShivamSharma2705 opened #1682 "[BUG] KeyError: 'LOCAL_RANK'"
Hey guys,

When I try to train a new gpt2 model using pretrain_gpt.sh I get the following error

--------------------------------------------------
DeepSpeed C++/CUDA extension op report
--------------------------------------------------
NOTE: Ops not installed will be just-in-time (JIT) compiled at
      runtime if needed. Op compatibility means that your system
      meet the required dependenci

[2022-01-07 18:31] jeffra commented on #1674
Thank you @SeanNaren! This would be really wonderful to have for both lightning and deepspeed :)

[2022-01-07 23:44] RezaYazdaniAminabadi commented on #1332
Hi everyone,

I have added this PR to run GPTJ model through DeepSpeed. Can you please try it and see if it works on your side.
I use this script:
[code]

Best,
Reza

[2022-01-08 04:38] Leezekun commented on #1332
@RezaYazdaniAminabadi

Thanks for the PR. But when I tried it using the script you provided, I got the following errors:

[code]

[2022-01-08 07:58] oborchers commented on #1332
Awesome @RezaYazdaniAminabadi! Highly appreciated and thanks for tackling the issue 💯
For me, I am running into the following problem:

[code]

Steps to replicate:

1) git clone repository
2) `python setup.py bdist_wheel`
3) `ds_report`

[code]

4) nvidia-smi

[code]

The same happens when I do:

- `pip install .[dev,1bit,autotuning]` from the CI
- re-run the script with torch==1.8.1

[code]

Upgr

[2022-01-08 11:29] oborchers commented on #1332
Does also not work in a clean environment:
[code]

Tested on `docker run --gpus all -it --rm nvcr.io/nvidia/pytorch:20.12-py3`

[2022-01-08 15:53] lostmsu commented on #1315
This should have been fixed by https://github.com/microsoft/DeepSpeed/pull/1634

[2022-01-08 16:23] tjruwase commented on #1315
@lostmsu, thanks for fixing this.

@yinxx, can you please confirm the fix so this can be closed?

[2022-01-08 20:41] RezaYazdaniAminabadi commented on #1332
@oborchers @Leezekun,

Thanks for trying this, yes, there is some issue on the half-precision kernels. I am creating another PR to fix this.

[2022-01-09 08:28] fields1631 commented on #1682
Also get this error in Deepspeed v0.5.9. If you only use `pretrain_gpt.sh` to train on single card, `export LOCAL_RANK=0` would be an ad hoc solution.

[2022-01-09 15:46] oborchers commented on #1332
@RezaYazdaniAminabadi: This is working! Great job! 💯 In terms of performance:

Pytorch (1.9 + cu111) + transformers 4.15 + 1x V100 and `max_length = 64` tokens:
[code]

**Without kernels:**

**With kernels:**

->  Decrease: ~43%
-> Generated Result:

**Without kernels (fp16):**

**With kernels (fp16):**

->  Decrease: **~63%** 🚀
-> Generated Result:

But, still some issues remain. But this may not

[2022-01-10 04:49] gahdritz commented on #908
Bump. Did this ever get worked out?

[2022-01-10 06:47] RezaYazdaniAminabadi commented on #1332
Hi @joehoover

Thanks for trying this out. Great performance results, I am happy to see such good improvement.
Yes, please open these issues in another thread, since they are not related to this one. I am gonna close this issue, then.
Best,
Reza

[2022-01-10 06:47] #1332 closed

[2022-01-10 15:21] tuhinjubcse opened #1686 "Not being able to save T5-11B checkpoint using deepspeed"
**Describe the bug**
A clear and concise description of what the bug is.
Not being able to save T5-11B checkpoint using deepspeed

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
save checkpoint after training

**ds_report output**
[code]

[2022-01-10 16:03] ShivamSharma2705 opened #1687 "[BUG] RuntimeError: Ninja is required to load C++ extensions"
Hi,

I am getting the following error when running pretrain_gpt.sh

--------------------------------------------------
DeepSpeed C++/CUDA extension op report
--------------------------------------------------
NOTE: Ops not installed will be just-in-time (JIT) compiled at
      runtime if needed. Op compatibility means that your system
      meet the required dependencies to JIT install the op.
---

[2022-01-10 16:40] stas00 commented on #908
Not that I know of.

[2022-01-10 17:32] stas00 commented on #1686
Thank you for the report, @tuhinjubcse

That's interesting. It means that some gpus are still syncing their data and which means we need some sort of syncing barrier before we can safely save the model weights.

I don't see anything of sorts in:

https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/runtime/engine.py#L2639

May be this:

https://github.com/microsoft/DeepSpeed/blob/master/de

[2022-01-10 18:10] jeffra commented on #1687
Do you have `ninja` installed? The command from pytorch that is raising this RuntimeError is attempting to run `ninja --version`. Does this command work for you?

[2022-01-10 18:17] jeffra commented on #1682
The `LOCAL_RANK` environment variable is set by either the `deepspeed` launcher or the [pytorch launcher](https://pytorch.org/docs/stable/distributed.html#launch-utility) (e.g., `torch.distributed.launch`). I would suggest launching via one of these two methods.

[2022-01-10 19:16] stas00 commented on #1625
@jeffra, could we then apply the fix above to the core, so that our CI can run these tests - as it uses JIT build it'll solve the problem, while pytorch are figuring out the pre-building. Thanks!

Please let me know if you'd like me to create a PR or whether it'd be easier for you to do that. Especially since you found the solution.

Thank you!

[2022-01-11 12:27] Qnlp commented on #1687
@jeffra Hi, When I have two machines in parallel, the same problem occurs; however, a single machine does not have this problem, have any tips for me?

[2022-01-11 13:07] tuhinjubcse commented on #1686
![image](https://user-images.githubusercontent.com/3104771/148947942-93f9120d-2d54-46a1-b98c-2ef942428a54.png)
It behaves randomly, it could save when i tried to save the checkpoint after training 50% of the epoch

[2022-01-11 13:53] tjruwase commented on #1686
@tuhinjubcse, thanks for reporting this problem. Have you found a way to reliably repro? Can you share how to do so, including the relevant config/json files? Thanks!

[2022-01-11 13:56] tuhinjubcse commented on #1686
[code]

[code]

[2022-01-11 13:59] tjruwase commented on #1686
@tuhinjubcse, thanks for sharing the ds config. How about the following? Are they the same as default settings?
[code]

[2022-01-11 14:02] tuhinjubcse commented on #1686
Yes, the train and validation files are proper. I have been using the same for prior runs or w/o deep speed

`/local/nlp/temp/poetryT511B0/checkpoint-801 `is a checkpoint trained using deep speed itself

[2022-01-11 14:19] tjruwase commented on #1686
@tuhinjubcse, sorry that I was not clear on my ask. I am trying to repro this error on my side and those files settings that I highlighted from the command line appear not to be publicly available so that I run the command. It appears that you are running the HF translation example and so I am looking [here](https://github.com/huggingface/transformers/tree/master/examples/pytorch/translation). It

[2022-01-11 15:10] ShivamSharma2705 commented on #1687
Hey @jeffra, when I was doing ninja --version, there was a permission error. The work around I found was to chmod 777 the folder it was try access, and then it worked. Was wondering if there was any other way

[2022-01-11 20:30] joehoover commented on #1332
@RezaYazdaniAminabadi, thanks so much for putting this together!

Quick question: should I expect DeepSpeed inference to add memory overhead? I've been using a 16GB t4 for inference dev and I can fit the FP16 GPT-J weights on that device with room to spare. However, when I initialize DeepSpeed inference, I'm running out of VRAM.

Just want to make sure I'm not making a mistake somewhere.

[2022-01-11 20:30] tuhinjubcse commented on #1686
No it's not a problem to load the checkpoint as you see it can save at 400 steps when its 800 steps for 1 epoch

Regarding '--model_name_or_path', are you able to repro if you simply set that to t5-11b? I am curious if the problem is linked to loading the deep speed checkpoint? Thanks!

I could train 1 epoch using t5-11b , but then I wanted to retrain, what I fail to understand if it could save a

[2022-01-12 05:58] oborchers commented on #1332
@joehoover yes. You need to load on CPU and then let deepspeed do the conversion on CPU.

[2022-01-12 13:50] tjruwase commented on #1686
@tuhinjubcse, did you respond to my last message? It sounds odd, but I got an email notification of a response but can't find the text here.

[2022-01-12 16:30] joehoover opened #1694 "[REQUEST]"
**Is your feature request related to a problem? Please describe.**
I want to use DeepSpeed Inference in production and I am wondering whether there are suggested solutions for reducing the scaling latency introduced by `init_inference()`. It takes a considerable amount of time to initialize an inference engine and this will make it difficult to dynamically scale model instances.

Frankly, I assume

[2022-01-13 07:52] Dido0o0 opened #1697 "[BUG]DeepSpeedCPUAdam becomes much slower after the commit 8abdaee"
In my model, the model training speed is much slower after the version is updated from 0.5.3 to 0.5.8.
After comparison, I found out that the slowed module is 'optimizer_step' part, which is using DeepSpeedCPUAdam -> self.step -> self.ds_opt_adam.adam_update_copy

And I made detailed test between version 0.5.3 to 0.5.8, the latency result is: 0.5.3 = 0.5.4 << 0.5.5 = 0.5.7 = 0.5.9.
Observing the c

[2022-01-13 21:21] RezaYazdaniAminabadi commented on #1697
Hi @Dido0o0

Yest, there was some performance degradation due to that commit that you pointed. I tried to solve this issue (which was mentioned in another post too https://github.com/microsoft/DeepSpeed/issues/1635) at this commit: https://github.com/microsoft/DeepSpeed/commit/259936a76c0a2baafdffabbef8b0e2843f969d48. It is included in version 5.10. Could you please try the newer version to see if

[2022-01-13 21:24] RezaYazdaniAminabadi commented on #1694
Hi @joehoover,

Thanks for using bringing up this challenge. I will definitely look into this and share more information on this.

Best,
Reza

[2022-01-14 03:18] stas00 opened #1699 "[REQUEST] being able to load stage 1/2 engine w/o optimizer"
Similar to how this was done for stage3, would it be possible to have a way to load stage 1/2 engine w/o optim+lr_scheduler?

We need it for integrating lm-eval harness into Megatron-Deepspeed which runs in an inference mode. We don't have a choice since the setup is for deepspeed so the easiest is to just load it as is but we don't want to load the optimizer files for inference.

I know unlike st

[2022-01-16 20:55] tuhinjubcse commented on #1686
It keeps happening , why would be a problem with loading a checkpoint, it keeps training and then fails after finishing an epoch because it cannot save. I can email you the files . I cannot post it publicly. Do you have an email id ?

[2022-01-16 20:59] stas00 commented on #1686
@tuhinjubcse, to diagnose this quickly what happens if you add:

[code]
just before the call to save the checkpoint?

If the problem goes away then it's pretty obvious that some sort syncing barrier is needed.

[2022-01-17 02:24] #1697 closed

[2022-01-17 04:54] hankyul2 opened #1701 "[BUG] `get_model_profile()` for `nn.Upsample(scale_factor=2)` does not work"
**Describe the bug**
`get_model_profile()` for `nn.Upsample(scale_factor=2)` does not work

**To Reproduce**
Simply run below code to see how to calculate `nn.Upsample()` flops in `get_model_profile()`.

[code]

**Expected behavior**

`get_model_profile()` should be executed without error.

**ds_report output**
[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/31476895/149

[2022-01-17 16:31] dhawalkp opened #1702 "[REQUEST] Code sample to use DeepSpeed inference without having to run deepspeed cmd line in production set"
**Is your feature request related to a problem? Please describe.**
The current examples for DeepSpeed inference uses cmd line 'deepspeed' that internally uses launcher modules of deepspeed to initialize the NCCL/MPI backends and discovers the ranks, and world size etc. While using command line to run inference is good for the developer, but not useful for production use. Most of the production cod

[2022-01-18 01:22] ShivamSharma2705 opened #1703 "[BUG] Checkpoint error in Text Generation for GPT"
Hey,

I am getting the following error when I am trying to run the generate_sample_gpt.py script.

[2022-01-17 17:22:04,627] [INFO] [runner.py:327:main] Using IP address of 130.20.68.20 for node 127.0.0.1
[2022-01-17 17:22:04,627] [INFO] [runner.py:398:main] cmd = /people/shar703/anaconda3/envs/deepspeed/bin/python -u -m deepspeed.launcher.launch --world_info=eyIxMjcuMC4wLjEiOiBbMSwgMl19 --master_

[2022-01-18 17:09] hfassold commented on #1539
I made now a test of minibatch-trimming for fine-tuning a transformer model for an NLP task.
I adapted the code from:
https://github.com/hfwittmann/transformer_finetuning_lightning
I took this code because it is uses Pytorch Lightning (which I prefer to 'pure' Pytorch).
Furthermore, it is quite compact and good to understand (not that I am more on the vision side, I just started with NLP models/fr

[2022-01-19 00:17] conglongli commented on #1539
Hi @hfassold thank you for sharing your investigation, which is very helpful. On our side, we are actually also investigating some ways to manipulate the losses in order to improve the training convergence since last summer. We are studying some different strategies that we feel would be more fit for NLP area, but we haven't made any conclusion yet.

Given that currently you won't have time to imp

[2022-01-19 09:23] hfassold commented on #1539
Sounds like a good plan. Curriculum learning seems definitly be beneficial, especially for (pre)training 'from scratch'. For finetuning, I am not so sure. OK, I will wait until you have some conclusions regarding the best strategy. Please inform me then (either her on this thread, or via PM to hannes.fassold@joanneum.at). And yes, it makes definitly sense to implement this together as a single who

[2022-01-19 16:48] nsriniva03 commented on #1653
But if ZeRO is set to 3 then it should help with gradient partitioning  and parameter partitioning. Thus enabling to train with larger batch sizes?

[2022-01-19 17:50] tjruwase commented on #1653
@nsriniva03, yes, your understanding is correct. My point was that ZeRO maintains intermediate buffers and the default size of these buffers is more reasonable relative to the high memory costs of ADAM. For SGD, the memory costs of these buffers become significant. The good news is that you can explore reducing these buffer sizes as discussed [here](https://github.com/microsoft/DeepSpeed/issues/46

[2022-01-19 18:49] conglongli commented on #1539
Sounds good, yes we will keep you posted.

[2022-01-19 21:07] stas00 opened #1710 "[BUG] No matching distribution found for triton==1.0.0"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

[code]

Once I manually do:

[code]

it then works.

Not sure why the manual build doesn't take care of figuring out the requirements.

@jeffra

[2022-01-19 23:27] RezaYazdaniAminabadi commented on #1590
I just pushed a PR to fix this.
Thanks,
Reza

[2022-01-19 23:27] #1590 closed

[2022-01-19 23:28] #1667 closed

[2022-01-20 05:02] aphedges commented on #1686
@stas00, I'm experiencing what appears to be the same bug but with T5-3B, and I can trigger it reliably. When you said "just before the call to save the checkpoint", where exactly did you mean? I am using `transformers==4.15.0`, and I tried it with the following diff:

[code]

Putting the `sleep()` in there did not help. Is there a better place to put it, or does this mean a deeper dive is needed?

[2022-01-20 06:08] stas00 commented on #1686
Hi Alex,

Thank you for trying my suggestion!

I'd have put it here:

https://github.com/huggingface/transformers/blob/baf1ebe9f033b0d8cd1ca095ba68f6789ff3d505/src/transformers/trainer.py#L1641

just before `deepspeed.save_checkpoint` is called to ensure it's the right place, but I'm pretty sure where you put it is functionally the same.

Let's try one last time as t5-3b as a pretty hefty model an

[2022-01-20 06:21] stas00 commented on #1686
Actually probably a much better test would be to actually put an actual gpu synchronization instead of sleep.

what happens if you put:

[code]

just before `deepspeed.save_checkpoint` as above?

[2022-01-20 21:55] #1658 closed

[2022-01-21 04:50] aphedges commented on #1686
That's interesting. My script, running with `transformers==4.15.0`, fails at [trainer.py:1587](https://github.com/huggingface/transformers/blob/v4.15.0/src/transformers/trainer.py#L1587), which is before the line you highlighted at [trainer.py:1591](https://github.com/huggingface/transformers/blob/v4.15.0/src/transformers/trainer.py#L1591). The earlier line includes a call to `self.deepspeed.save_

[2022-01-21 05:32] stas00 commented on #1686
OK, so first of all it's clear that as it's failing in `save_fp16_model` and not `save_checkpoint` and Alex's experiment failed, then it's missing the synchronization, which is not a `barrier`. So most likely it needs this:

https://github.com/microsoft/DeepSpeed/blob/4912e0ad7efcaf97389ae944259aa0e9f331038a/deepspeed/runtime/engine.py#L2726-L2728

@aphedges, could you please paste this code inste

[2022-01-21 15:04] aphedges commented on #1686
I tried it with the following diff:

[code]

It unfortunately didn't work. Here is the log file: [preTrainT5.15829392.txt](https://github.com/microsoft/DeepSpeed/files/7914550/preTrainT5.15829392.txt). On a related note, is there a good way to make logging from different processes easier to read? The mingled stack traces are a little annoying.

I saw the changes that were made in <https://github.c

[2022-01-21 17:41] stas00 commented on #1686
OK, so let's attack this on multiple fronts.

1. to unblock you, you don't need `save_fp16_model` so you can completely disable it by setting:

[code]
Done! Then use [zero_to_fp32.py](https://huggingface.co/docs/transformers/master/main_classes/deepspeed#getting-the-model-weights-out) to recover weights.

cc: @tuhinjubcse as well.

Please confirm that this works, that is `save_checkpoint` works, w

[2022-01-21 17:43] stas00 commented on #1686
Totally agree. I have made an attempt to create a non-iterleaved print here: https://github.com/pytorch/pytorch/pull/61803
but this somehow needs to be hooked into the python exception mechanism. I'm open to suggestions to have best integrate this.

From what I noticed inter-node prints don't interleave - only same node ones do.

Best to discuss this in a separate issue though if you'd like to ope

[2022-01-22 14:08] haolin-nju opened #1716 "[REQUEST] Data Setup Instructions for BERT Pre-Training"
**Is your feature request related to a problem? Please describe.**
At https://www.deepspeed.ai/tutorials/bert-pretraining/#training-data-setup, DeepSpeed team noted that _downloading and pre-processing instructions are coming soon_. However, I haven't found any new instructions uploaded to the website for about two or three months. I have no idea on how to contact the team via e-mail, thus I'm her

[2022-01-23 21:09] TiesdeKok opened #1719 "[BUG] GPT-J + init_inference + replace_with_kernel_inject returns copy error with multiple GPUs"
**Describe the bug**

Using the `replace_with_kernel_inject` option in `init_inference` returns an error when using multiple GPUs (with a GPT-J model).

**To Reproduce**
Steps to reproduce the behavior:
1. Create an inference script using HF Transformers and GPT-J
2. Run the deepspeed command with multiple GPUs

[code]
**Expected behavior**
No error.

**ds_report output**
Unavailable, not currentl

[2022-01-24 15:53] Kkkassini commented on #1332
Same problem, getting OOM using single 16GB t4 for inference. Is there a sample script for this?

[2022-01-24 16:13] skpig opened #1720 "[BUG] TypeError when deepspeed.init_distributed()"
**Describe the bug**
When I used `deepspeed.init_distributed()`, TypeError happened in torch codes. It seems that some arguments deepspeed passed to torch are incompatible.

**To Reproduce**
I provide a code snippet to help to reproduce the bug.
[code]
then use `deepspeed --num_gpus=4  main.py  --deepspeed` to run the script.

**Screenshots**
Here I provide the output.
[code]

**System info (pleas

[2022-01-24 18:20] amsword opened #1721 "Question: how to continue the training with more or fewer GPUs"
If there are N GPUs, the snapshot will be N files for optimizer states. Each file corresponds to 1 GPU. (let me know if the understanding is not correct). Then, how to continue the training with more GPU, say, 2N GPUs? Is there an easy way to consolidate the optimizer states?

[2022-01-24 18:50] TiesdeKok commented on #1719
In addition, I was able to replicate the issue on a different box with Fedora and 8x a6000 GPUs.

[2022-01-24 18:51] TiesdeKok commented on #1332
Has anyone here been able to get the inference kernels to work on more than one GPU?

There might a bug in the code, see issue: https://github.com/microsoft/DeepSpeed/issues/1719

[2022-01-24 21:06] tjruwase commented on #1721
Yes, the N optimizer state files correspond to the N GPUs. We are working on a feature to support changing the number of GPUs between training runs. Can you try setting the following parameter to true in your zero config?
<img width="290" alt="image" src="https://user-images.githubusercontent.com/4271600/150864781-c41188ee-c300-4fc0-947b-1aa9140b1576.png">

[2022-01-24 22:26] jerrymannil opened #1722 "[REQUEST] Propagate error when using PDSH launcher"
**Is your feature request related to a problem? Please describe.**
The default behavior of [PDSH launcher](https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/launcher/multinode_runner.py#L69) is to return 0, even if some of the nodes returned with error.
So to determine if the deepspeed run succeeded, we will have to look at the logs coming from the nodes.

**Describe the solution you'd

[2022-01-24 22:29] RezaYazdaniAminabadi commented on #1719
Hi @TiesdeKok,

I will take a look at this.

Thanks,
Reza

[2022-01-24 22:30] jerrymannil commented on #1722
I have tested this locally and the error is propagated as expected.
I can submit a fix, if this is OK.

[2022-01-24 22:32] RezaYazdaniAminabadi commented on #1332
@Kkkassini, can you try creating pipeline and set the device after deepsepeed.init_inference. Please use [this script](https://github.com/microsoft/DeepSpeedExamples/blob/fix-inferen-test/inference/huggingface/gpt-neo.py#L19-L29) as an example.

[2022-01-24 22:33] RezaYazdaniAminabadi commented on #1332
@TiesdeKok, there has been some changes on the injection that might have caused this issue. I look into this and try to fix it soon.

[2022-01-24 22:35] TiesdeKok commented on #1719
Thanks a lot!

[2022-01-24 22:41] amsword opened #1723 "[REQUEST] provide utility function to consolidate the optimizer state"
**Is your feature request related to a problem? Please describe.**
Yes. Two scenarios
- During a training with deepspeed, the job may fail with fp16 (zero=1). Then, I have to resort to fp32 to continue the training (zero=0). If I stick to deepspeed (with zero=0), the restore utility cannot restore teh state from the previous checkpoint (from zero=1). If the feature is implemented, I can restore th

[2022-01-25 17:40] RezaYazdaniAminabadi commented on #1719
Hi @TiesdeKok
Can you please try this PR and see if this is fixed?

Thanks.

[2022-01-25 19:39] TiesdeKok commented on #1719
Appreciate the quick turnaround here @RezaYazdaniAminabadi!

The copy error is gone and the inference starts now, so that appears resolved. 🥳

However, I am running into another problem where everything works great with one GPU, however, with multiple GPUs, the inference will hang indefinitely. I can make a separate issue if you prefer, but let me describe what I am observing:

- "EleutherAI/gpt-j

[2022-01-25 19:58] RezaYazdaniAminabadi commented on #1719
@TiesdeKok,

This is a known issue that we have with the integration of DeepSpeed Inference and HF. This is happening since one GPU is finished with the generation while the other one is waiting to continue for the next token-generation. Would you mind setting the min_length and max_length to the same number and see if this issue is resolved?
Thanks

[2022-01-25 19:59] #1719 closed

[2022-01-25 21:14] TiesdeKok commented on #1719
After reading your description it immediately hit me that the hanging issue is caused by a `random.shuffle()` line in my code, that created a different input for every machine and caused it all to hang. 🤦🏻‍♂️

With that out of the way, I am now seeing weird behavior with the kernel inject:

- multiple GPUs without kernel inject works great.
- multiple GPus with kernel inject and `do_sample=False`

[2022-01-25 22:29] RezaYazdaniAminabadi commented on #1719
I did test this on the same versions as you mentioned. Just that I am using PyTorch1.9. The code snippet I am using is as follows:
[code]

[2022-01-25 22:43] RezaYazdaniAminabadi commented on #1719
Here is some part of the result I am seeing for this example:

![image](https://user-images.githubusercontent.com/44502768/151072158-67656322-e166-4e57-977e-761bcd0769b3.png)

[2022-01-25 23:55] TiesdeKok commented on #1719
That little code snippet was very helpful to debug what is happening here, my observations:

I was using the float16 revision so I had to download the float32 version and I figured that might be it, but that didn't change anything. I got the same error as before when running the exact code you provided (I only fixed the deepspeed import):

![image](https://user-images.githubusercontent.com/1331778

[2022-01-27 09:50] callzhang commented on #1590
I solved it by adding: `replace_with_kernel_inject=True`
Is this method recommended for GPT-Neo or not?

[2022-01-27 10:14] callzhang opened #1729 "[BUG] TypeError: cannot assign 'torch.HalfTensor' as parameter 'attn_ob' (torch.nn.Parameter or None expected)"
**Describe the bug**
GPT-Neo init_inference error

**To Reproduce**
[code]

**ds_report output**
[code]

**System info (please complete the following information):**
 - OS: Ubuntu 18.04
 - GPU count and types: RTX3090
 - Interconnects: None
 - Python version: 3.8.11
 - Any other relevant info about your setup

[2022-01-27 11:31] callzhang commented on #1729
Seems I used 0.5.6 in notebook and updates to 0.5.8 solved this issue.

[2022-01-27 11:34] callzhang commented on #1729
Seems I used 0.5.6 in notebook and updates to 0.5.8 solved this issue.

[2022-01-27 11:51] callzhang opened #1730 "[BUG] NotImplementedError: There were no tensor arguments to this function"
**Describe the bug**
Cannot init int8 model for inference

**To Reproduce**
[code]
[code]

**ds_report output**
[code]

[2022-01-27 13:43] gaetanlop commented on #1315
Still not working on my side on windows.

[2022-01-28 03:00] ConnollyLeon opened #1731 "[REQUEST] Supports of backward propagation profiling"
**Is your feature request related to a problem? Please describe.**
Currently DeepSpeed only support the profiling of forward propagation. To calculate the percentage of theoretical peak FLOPs of training, we may need the profiling of backward propagation as well as parameter optimization.

**Describe the solution you'd like**
The implementation can uses current implementation, while adding the bac

[2022-01-28 23:50] haluptzok commented on #1729
I hit the same issue - very similar situation - except I have GPTNeo2.7B - running on a v100 - with latest version of deepspeed and torch

DeepSpeed C++/CUDA extension op report
--------------------------------------------------
cpu_adam ............... [NO] ....... [OKAY]
cpu_adagrad ............ [NO] ....... [OKAY]
fused_adam ............. [NO] ....... [OKAY]
fused_lamb ............. [NO] ......

[2022-01-29 01:39] aphedges commented on #1686
Sorry for taking so long to get back to this, but I've needed to focus on other tasks for the past week. I did some work yesterday and today that should hopefully shed some light on the issue.

My answers to 1) and 2) are related. I discovered this bug when I tried to run a script that no one had run for a month or two. I don't actually need an output model except to verify the script still works

[2022-01-29 02:01] RezaYazdaniAminabadi commented on #1729
Hi,

I will send a PR to fix this soon
Thanks,
Reza

[2022-01-29 17:24] YouJiacheng opened #1735 "[BUG] multi-GPU Training Frozen After Some Validation Epochs In NGC Container."
**Describe the bug**
I run a validation epoch every 10 training epochs. Then after 1~50 validation epochs(500 training epochs), training was stuck(validation is finished): 1 GPU utilization is 0%, other 3GPU utilization is 90%(same as normal case).
If I do not run validation step, everything is fine.
If I do not use NGC Container, everything is fine.
I have tried single GPU validation(use engine.m

[2022-01-29 18:50] YouJiacheng commented on #1735
I use vanilla torch DataLoader as validation dataloader.
I have tried use engine.deepspeed_io to get a DeepSpeedDataLoader and it seems work.
Probably caused by pin_memory=False(torch's default).

[2022-01-29 20:33] tjruwase commented on #1735
Thanks for the details. Can you please share steps to repro?

[2022-01-29 21:03] YouJiacheng commented on #1735
Sure.
My dockerfile
[code]
My run command
[code]
My main.py
[code]
My common.py
[code]
above is one case I have tried, it can run about 130 epochs on my server with nVidia driver version 455.23.05.
And will be stuck within 50 epochs on msrhyper itphyperdellcl1 with driver version 460.91.03.
If I replace
`val_loader = DataLoader(valset, batch_size=512, collate_fn=collate_fn)` with `val_loader = eng

[2022-01-29 21:06] tjruwase commented on #1735
Thanks. But can you clarify the problem. Is it the torch dataloader or the deepspeed dataloader that causes the training to get stuck?

[2022-01-29 21:09] YouJiacheng commented on #1735
the torch dataloader causes the training to get stuck.

[2022-01-29 21:12] YouJiacheng commented on #1735
And NGC container is also a "necessary condition" that makes the training to get stuck. I cannot figure out why.

[2022-01-29 21:20] tjruwase commented on #1735
What if you use torch dataloader with `pin_memory`=True?

[2022-01-29 21:31] YouJiacheng commented on #1735
I am working on it. It takes > 30min.

[2022-01-29 21:40] YouJiacheng commented on #1735
Theoretically the only difference is pin_memory🤔
I think both sampler is SequentialSampler, and recreate dataloader every epoch(DeepSpeedDataLoader do this) should not make a difference

[2022-01-29 21:44] YouJiacheng commented on #1735
BTW, I use https://github.com/microsoft/DeepSpeedExamples/blob/master/bing_bert/deepspeed_train.py as reference, since it is the only example with validation during training. However it just uses torch DataLoader and does not set `pin_memory=True`.

[2022-01-29 21:50] YouJiacheng commented on #1735
using`val_loader = DataLoader(valset, batch_size=1024, collate_fn=collate_fn, pin_memory=True)` training get stuck in 10 epoch on msrhyper itphyperdellcl1.

[2022-01-29 21:57] YouJiacheng commented on #1735
maybe recreate dataloader every epoch is the actual difference? I will try it.

[2022-01-29 22:05] YouJiacheng commented on #1735
nope, stuck again
[code]

[2022-01-30 04:12] aphedges commented on #1710
@stas00, I actually came across this problem myself earlier this month but for a different package. I can describe the full problem if you want, but I think the problem I encountered has a slightly different cause.

Looking at [`triton`](https://pypi.org/project/triton/), I can see that the most recent version to have a source distribution is `0.3.0`, which is also the most recent version that pip

[2022-01-30 05:23] jeffra commented on #1722
Excellent observation, thank you @jerrymannil. I don't think we had seen this flag to `pdsh` previously, please do submit a PR and we'll merge it quickly. Thank you :)

[2022-01-30 05:27] YouJiacheng commented on #1735
@tjruwase My collaborator says that DataLoader with `num_workers` > 0 will fix this problem.
torch DataLoader default is `num_workers=0`, deepspeed DataLoader default is `num_workers=2`.

[2022-01-30 22:04] RezaYazdaniAminabadi commented on #1729
Hi @haluptzok and @callzhang,

can you please try this [PR](https://github.com/microsoft/DeepSpeed/pull/1724) to see if it solves the issue?
Thanks,
Reza

[2022-01-30 22:05] stas00 opened #1738 "[REQUEST] make ZeRO inference config more intuitive but `train_*` config"
With the changes done over the last few month ZeRO can be now be easily used for inference, as in this example:
https://github.com/huggingface/transformers/issues/15399#issuecomment-1025240005
But to the user who may no longer care for training it's no longer intuitive to have these train-specific config variables:

[code]

it's time to come up with a train/inference-non-specific config names and

[2022-01-31 03:04] js12312 opened #1739 "Dog meat is the flesh and other edible parts derived from dogs. Historically, human consumption of dog meat has been recorded in many parts of the world.[2] In the 21st century, dog meat is consumed in China,[3] Nigeria,[4] Switzerland,[5] and Vietnam,[6] and it is eaten or is legal to be eaten in other countries throughout the world. Some cultures view the consumption of dog meat as part of their traditional, ritualistic, or day-to-day cuisine, and other cultures consider consumption of dog meat a taboo, even where it had been consumed in the past. Opinions also vary drastically across different regions within different countries.[7][8] It was estimated in 2014 that worldwide, 27 million dogs are eaten each year by humans.[9]"
[[[[[[Dog meat is the flesh and other edible parts derived from dogs. Historically, human consumption of dog meat has been recorded in many parts of the world.[2] In the 21st century, dog meat is consumed in China,[3] Nigeria,[4] Switzerland,[5] and Vietnam,[6] and it is eaten or is legal to be eaten in other countries throughout the world. Some cultures view the consumption of dog meat as part of

[2022-01-31 03:04] js12312 commented on #1739
So urgent Help now!

[2022-01-31 03:05] js12312 commented on #1739
I like eating dog¨

[2022-01-31 03:07] js12312 commented on #1739
![62t6ri](https://user-images.githubusercontent.com/87910230/151733640-b03042dc-cdc9-4f4e-be32-9982bafd6f67.jpg)

[2022-01-31 19:05] tjruwase commented on #1735
@YouJiacheng, thanks for sharing these details. Given the nature of this issue, that it requires particular interactions of different components, I suspect it will take a bit of time to root cause. To help us prioritize, can you please confirm if you are blocked by this, or you able to unblock yourself by configuration changes? Thanks!

[2022-01-31 19:16] YouJiacheng commented on #1735
I successfully unblock myself by configuration changes. Thanks!

[2022-01-31 19:19] tjruwase commented on #1735
Awesome! Thanks for the confirmation. I will leave this issue open so we can return to it later.

[2022-02-01 00:02] stas00 commented on #1710
pip finally added `index` - yay!

I think it's something else here, since I do see 1.0.0 on JeanZay:

[code]

but during manual build for some reason it sees only some of those:

[code]

and I can install:

[code]

so what it looks like is that perhaps when pip install is called it calls `setup.py` and it somehow doesn't see the latter versions. As you're saying it's some sort of wheel category fi

[2022-02-01 01:15] stas00 commented on #1686
Thank you for investigating this, Alex.

I didn't quite understand the comment about proposal (1) - does it still fail if you disable `save_fp16_model` altogether as suggested and if so what's the trace. We need to isolate whether this is a `save_fp16_model` bug or a more general bug in deepspeed. i.e. that there is some scenario when weights don't sync up.

And yes I think the next stage is to ge

[2022-02-01 01:23] jeffra commented on #1710
Super interesting, thanks @aphedges and @stas00 for context here.

@stas00, from a Big Science perspective I think this latest PR #1727 should resolve the issue for you guys. We also were running into this strange triton install issue on one of our nodes internally. Due to your issue and ours we reverted Sparse Attention (which requires triton) to be manually added add install time. Since Big Scie

[2022-02-01 01:36] stas00 commented on #1710
I figured it out. It's a bug in pip's `--global-option` see: https://github.com/pypa/pip/issues/4118 which they aren't going to fix - it was reported in 2016!

---------------

How I discovered it:

1. changed the build command to `-vv`:

[code]
which gave the detailed log, which included:
[code]
2. which I then looked up: 'Skipping link: No binaries permitted' and found the bug report from 2016.

[2022-02-01 02:42] aphedges commented on #1710
@stas00, that's interesting! I was not aware of the `--global-option` parameter, but I can easily see how `--global-option="-j8"` can speed installation up. Building has always been slow for me (~15 minutes per install), which makes trying out different versions annoying. What the `--global-option="build_ext"` does is less apparent, but I can see from [`setup.py`](https://github.com/microsoft/Deep

[2022-02-01 02:54] stas00 commented on #1710
it's an equivalent of `make -j8` - so yes, I specifically use it to speed things up - you can actually pass just `-j` and it'll use all your cores.

I wish `apex` had something of a sort, it takes forever to build. But it appears that one needs to instrument `setup.py` to use and it doesn't just work out of the box.

The latter enables: `setup.py build_ext` which is what makes it prebuild deepspee

[2022-02-01 03:26] aphedges commented on #1710
I forgot it was from `make`! I knew `-j` was from somewhere, but I did not remember where.

I was unaware that it's essentially calling `python setup.py build_ext`, which is now deprecated to call directly. I wonder if `--global-option="build_ext"` is also considered deprecated as well. I'm very far from a `distutils`/`setuptools` expert, though.

I always compile with `DS_BUILD_OPS=1`, and it see

[2022-02-01 03:32] stas00 commented on #1710
If it is then what is the modern way and such that allows parallel builds?

Ninja isn't great here since it doesn't parallelize small project builds. But it's used for JIT build of pytorch CUDA extensions. e.g. see here my attempts to speed up Megatron-Lm which has just 4 cuda kernels and barely 2 files each https://github.com/pytorch/pytorch/issues/68923,

That's right. That's actually the main r

[2022-02-01 04:53] aphedges commented on #1686
Sorry for not being clear. I did not actually try proposal (1) because I don't actually need to be unblocked to have a working model. I just wanted training to work again. When I read it, I missed the part where you wanted me to confirm `save_checkpoint` works if I disable `save_fp16_model`.

Since my previous comment, I did some more investigation trying to create my minimal reproduction. I insta

[2022-02-01 05:11] stas00 commented on #1686
Oh! how interesting - is it possible that the checkpoint is attempted to be saved before grad accumulation finished its cycle? i.e. it was caught in the middle of it.

Looking at @tuhinjubcse OP, he uses `--gradient_accumulation_steps 21`, which surely is likely to be caught in the middle if the save interval is not constrained to be grad accum divisible - so perhaps this is the culprit and then t

[2022-02-01 05:16] stas00 commented on #1686
Success!

@tjruwase, Alex helped us to find the culprit. The problem happens when `save_interval % grad_accum != 0`

Here is a trivial scenario that reproduces the problem
[code]

I use grad_acum 3 and save interval 1! Boom!

[code]

[2022-02-01 05:21] aphedges commented on #1686
I've gotten the reproduction down to under 150 lines of code, most of which is not relevant.

Here are the steps to reproduce the bug:

- Download and extract [reproduce_1686.zip](https://github.com/microsoft/DeepSpeed/files/7976041/reproduce_1686.zip)
- Navigate into the directory with the zip file contents
- In a Python environment with `$CUDA_HOME` appropriately set, run `setup.sh`. I used Pyth

[2022-02-01 05:30] stas00 commented on #1686
If I set `"stage3_gather_fp16_weights_on_model_save": false` then it no longer fails.

Odd, I thought you have tried the save_pretrained preamble and it didn't work, perhaps I have mixed things up.

Could you please try with this branch? https://github.com/microsoft/DeepSpeed/pull/1741

[2022-02-01 05:36] aphedges commented on #1686
I'll try it out tomorrow. Hopefully it works!

[2022-02-02 00:28] aphedges commented on #1710
I don't know what to do instead. From a very short search, the best I can find is <https://discuss.python.org/t/the-difference-between-python-setup-py-build-ext-i-and-pip-install-e/3716/12> and <https://github.com/pypa/setuptools/issues/3025>. At least the deprecation period should be long enough for a replacement to be made.

I was unaware of those details of Ninja. I haven't written any CUDA cod

[2022-02-02 00:28] aphedges commented on #1686
I'm glad you figured out what the problem was! The fact that saving in the middle of gradient accumulation causes a failure is a really good explanation for why these two parameters together cause a problem. Switching from `--save-stratgy steps` (which defaults to 500 steps) to `--save-strategy epoch` causes the failure because there likely wasn't even 500 steps during training to encounter any is

[2022-02-02 07:53] tuhinjubcse commented on #1686
@stas00  This is slightly strange but when I do stage3_gather_fp16_weights_on_model_save": false no pytorch_model.bin file is saved. I am not sure is that a solution? I need the model file to be saved

And I was not getting this error but suddenly getting it again . Can you suggest what to do ? This thread is so long and now hard to follow

[code]

[2022-02-02 16:51] stas00 commented on #1686
Exactly!

Excellent. Let us know about the full program.

perhaps you changed it in the source, but the copy that was run was different. It's all good.

[2022-02-02 17:50] stas00 commented on #1710
BTW, I run into this problem everywhere with pre-build, so it's not JeanZay-specific.

[2022-02-02 20:27] tjruwase commented on #1686
This is a really good catch. I had never previously considered the interactions of gradient accumulation and checkpointing.

[2022-02-02 23:26] aphedges commented on #1686
The full program works!

I was using an editable install of `transformers` and it's pure Python, so it's not like I needed to recompile. I really have no clue. Anyway, if we discovered the fix that way, we probably wouldn't have realized that were was an interaction between gradient accumulation and checkpointing.

Not extremely relevant, but today I learned that `pip install https://github.com/st

[2022-02-02 23:33] stas00 commented on #1686
There are many ways to do that, typically the common no cloning the repo way is:

[code]

So here it'd be:

[code]

[2022-02-03 00:47] stas00 commented on #1710
@aphedges, I am actually not at all sure `build_ext` is deprecated, This just seems to be one person's opinion in one thread and I can't find any official support to that statement. If you look at the latest python docs, they promote using `build_ext`:

1. https://docs.python.org/3/distutils/configfile.html
2. https://docs.python.org/3/distutils/setupscript.html

I did find this discussion https:/

[2022-02-03 01:05] stas00 commented on #1710
Since https://github.com/microsoft/DeepSpeed/pull/1727 dealt with this issue I'm closing this.

Thank you Alex and Jeff!

[2022-02-03 01:05] #1710 closed

[2022-02-03 21:09] JiyangZhang commented on #1687
I can run ninja --version, but still get this error..

[2022-02-03 22:15] #1674 closed

[2022-02-03 22:16] sbrody18 opened #1742 "[BUG] profiler crashes when alpha argument is set in torch.add()"
**Describe the bug**
profiler crashes when alpha argument is set in torch.add()

**To Reproduce**
[code]

**Expected behavior**
correct profile of flops

[2022-02-03 22:50] flint-stone opened #1743 "[BUG] Support for MoE model inference"
**Describe the bug**
Hi -- I'm trying to build an example to demonstrate expert parallelism feature as described [here](https://arxiv.org/abs/2201.05596). I'm getting an error when initiating the inference engine with MoE option enabled.

**To Reproduce**
Here's the code that cause the problem:

[code]

**ds_report output**

[code]
**Screenshots**
![image](https://user-images.githubusercontent.com

[2022-02-04 16:54] avolkov1 commented on #1584
Will anyone follow up on this?

[2022-02-04 19:07] avolkov1 commented on #1584
I seem to have fixed it by patching:
[code]
and installing from source.
Per PR here: https://github.com/microsoft/DeepSpeed/pull/1725/files

[2022-02-04 19:12] hpourmodheji commented on #522
@ghosthamlet
I have the same issue. Did you kindly get an answer to this issue?

[2022-02-04 19:38] tjruwase commented on #522
@hpourmodheji, thanks for the question. This should have been fixed by #1254.  Are you still having this problem?

[2022-02-04 19:59] hpourmodheji commented on #522
@tjruwase, thanks for your comment. I tried ZeRO-Infinity with the DS version 0.5.7+, but it seems that activations are not offloaded to the CPU.

Here is the config part:

---
"zero_optimization": {
  "stage": 3,
  "contiguous_gradients": true,
  "stage3_max_live_parameters": 1e9,
  "stage3_max_reuse_distance": 1e9,
  "stage3_prefetch_bucket_size": 1e7,
  "stage3_param_persistence_threshold": 1e5

[2022-02-04 20:09] jeffra commented on #1584
@jeyblu are you still seeing this issue? @avolkov1 are you also on torch 1.11?

We're currently seeing some pre-compile issues on torch nightly builds, not sure if this is related or not, see: https://github.com/microsoft/DeepSpeed/issues/1625 and https://github.com/pytorch/pytorch/issues/69666.

Can you try JIT compiling fused lamb in this case? you can try this quickly via this script:

[code]

[2022-02-04 20:30] stas00 opened #1744 "[REQUEST] add `initialize_inference` wrapper"
**Is your feature request related to a problem? Please describe.**

For Deepspeed ZeRO Inference currently one has to do one of:
[code]

**Describe the solution you'd like**

I propose a simple wrapper that makes the API slightly more user-friendly for inference users:

[code]

[2022-02-04 20:55] avolkov1 commented on #1584
Yes, using pytorch 1.11.
I installed deepspeed in container: nvcr.io/nvidia/pytorch:22.01-py3
https://docs.nvidia.com/deeplearning/frameworks/pytorch-release-notes/rel_22-01.html#rel_22-01

I had to set: `TORCH_CUDA_ARCH_LIST="7.0 7.5 8.0 8.6+PTX"` and replace THCudaCheck with C10_CUDA_CHECK.
Also, `pip install triton==1.0.0`, and then DeepSpeed compiled and installed from source version 0.5.10
ht

[2022-02-04 21:24] cli99 commented on #1742
Thanks for catching this bug! This would be resolved by https://github.com/microsoft/DeepSpeed/pull/1745.

[2022-02-04 22:30] RezaYazdaniAminabadi commented on #1743
It seems you have some problem with building the half-precision kernels. Can you do `export TORCH_CUDA_ARCH_LIST=7.0 `and rerun to see if you can compile kernels correctly?

[2022-02-04 22:31] #1729 closed

[2022-02-06 04:22] sarvghotra opened #1746 "[REQUEST] Support for CUDA Graphs"
Does DeepSpeed support Pytorch code with CUDA Graphs?

Context: I am trying to optimize my training code that can benefit from launching multiple kernels together.

[2022-02-07 14:29] sbrody18 commented on #1742
Thanks for the quick fix!

[2022-02-07 16:08] hpourmodheji commented on #522
@tjruwase, Do you kindly have any comment on this and offloading activations?

[2022-02-07 17:24] RezaYazdaniAminabadi commented on #1746
Hi @sarvghotra

Thanks for mentioning this.
Of course, we will look into this to bring faster speed to DeepSpeed.
Best,
Reza

[2022-02-08 02:18] ghosthamlet commented on #522
@hpourmodheji Sorry, i did not try single GPU for activation_checkpointing again, only added another GPU, then it works.

[2022-02-08 03:24] stas00 opened #1748 "[BUG] ZeRO 3: load_checkpoint followed immediately by save_checkpoint breaks"
**Describe the bug**

[code]

breaks under ZeRO 3.

This bug impedes the merge of another fix: https://github.com/microsoft/DeepSpeed/pull/1741 (which too is related) - as it breaks HF Transformers tests - see the PR for details.

`save_checkpoint` prologue relies on training to have happened and fails if it didn't happen. If training is done in between all works.

This bug has a reversed version:

[2022-02-08 03:28] stas00 opened #1749 "[BUG] ZeRO 3: save_checkpoint immediately followed by load_checkpoint breaks"
**Describe the bug**

This is the reverse of https://github.com/microsoft/DeepSpeed/issues/1748 and is also ZeRO 3-specific.

Here the opposite fails:

[code]

**To Reproduce**

[code]

[code]

@tjruwase, @jeffra

[2022-02-08 03:42] stas00 commented on #1749
actually after filing this one I recalled that we have diagnosed this condition before. That was the whole point of doing reinit of deepspeed engine between save and load that I had to add to HF Transformers:

https://github.com/huggingface/transformers/blob/0fe17f375a4f0fdd9aea260d0645ccfd4896e958/src/transformers/trainer.py#L1521-L1530

So 2 things about this Issue that are new:

1. I added a fa

[2022-02-08 15:22] lavine-lmu commented on #860
I am also got the same error when using zero3 to finetune 'm2m100', it is fine in other model (mbart/t5) with the same data. can anyone help me to solve with this?

[2022-02-08 15:23] lavine-lmu commented on #860
@samyam @stas00 I am also got the same error when using zero3 to finetune 'm2m100', it is fine in other model (mbart/t5) with the same data. can anyone help me to solve with this?

[2022-02-08 23:17] cli99 commented on #1742
@sbrody18, the flops computation is an estimation and we prefer to underestimate rather than overcount. As the default value for alpha is 1, I think we can keep the way of counting to be the same as other element-wise operators such as mul.

[2022-02-09 02:25] stas00 commented on #860
This is a really old ticket and a ton of things have changed since then in both Deepspeed and HF Transformers so I'd recommend opening a new ticket explaining the problem, including your exact versions of the packages you're using and how the issue can be reproduced.

[2022-02-09 02:55] ganzhiruyi opened #1751 "cpu_offload error![BUG]"
**Describe the bug**
Hello, I have meet a error when I turn on cpu_offload=true. It's okay when I turn off cpu_offload=false.  I trace the error in cpu_adam.py, find that self.param_groups size is not align with fp16_param_groups.  Looking forward to your reply.
here is my modify cpu_adam.py added print code:
[code]
here is the print:
![image](https://user-images.githubusercontent.com/4384420/1531

[2022-02-09 14:27] sbrody18 commented on #1742
Up to you, of course. The big issue was the crash. A bit of inaccuracy in the estimation doesn't make a big difference.
bit I would think that the calculation would be pretty simple:
if alpha==1: element_wise
else: element_wise + size(second tensor)
since it would be multiplying the second tensor by alpha and then adding them.

[2022-02-09 20:01] RezaYazdaniAminabadi commented on #1751
Hi @ganzhiruyi,

I will look into this and send a fix soon.
Thanks,
Reza

[2022-02-09 22:04] stas00 opened #1753 "[BUG] missing `DS_BUILD_AIO` doc"
**Describe the bug**

https://www.deepspeed.ai/tutorials/advanced-install/#pre-install-deepspeed-ops

`DS_BUILD_AIO=1` is missing from the options.

@tjruwase

[2022-02-10 01:24] stas00 opened #1756 "[BUG] manual build isn't installing requirements"
**Describe the bug**

I made a fresh conda env and tried to manual build deepspeed and it failed:

[code]

The package is there:
https://github.com/microsoft/DeepSpeed/blob/master/requirements/requirements.txt

but the build isn't installing the requirements.

This resolves the problem:
[code]
but it'd be good to automate this at some point.

Absolutely not urgent.

@jeffra

[2022-02-10 01:31] stas00 commented on #1756
Actually had a bunch of other problems related to `build_ext` as we have discussed elsewhere - `ninja` and `tqdm` won't build.

so the solution is simple:

First install `deepspeed` normally:

[code]
which takes care of all the dependencies correctly!

Only then proceed to pre-build manually and then everything works.

Perhaps it might be simpler to document this on the advanced install page, rath

[2022-02-10 04:05] stas00 opened #1757 "[BUG] deepspeed can't handle a new Parameter in forward"
**Describe the bug**

This model defines a new `nn.Parameter` in forward:

https://github.com/huggingface/transformers/blob/e923917cd975d6768d90eb49fdab6468b33b214f/src/transformers/models/m2m_100/modeling_m2m_100.py#L133-L134

and of course deepspeed is not equipped for that scenario and fails:

[code]

this param is not known by DS yet it tries to get it for some reason with `ZeROOrderedDict.__g

[2022-02-10 15:41] skpig commented on #662
Thanks. `--include local:3` can set `CUDA_VISIBLE_DEVICES=3` properly. However, the `engine` returned by `deepspeed.initialize` is on the wrong device.

Here is my code:
[code]
And I launch the code above with `deepspeed --include="localhost:3" train.py  --deepspeed  --deepspeed_config config.json`
I'm willing to run the model on device 3, but the engine is on device 0.

[2022-02-10 22:55] stas00 commented on #662
@skpig, if I may recommend opening a new Issue - it'd help with tracking and making sure your bug report doesn't fall between the cracks - as this Issue has been closed.

[2022-02-11 02:44] skpig opened #1761 "[BUG] Engine returned by deepspeed.initialize() on the wrong device"
**Describe the bug**
According to https://github.com/microsoft/DeepSpeed/issues/662, the `--include` arguments can set the `CUDA_VISIBLE_DEVICES` properly. But the engine returned by 1deepspeed.initialize()1 is on the wrong device.
**To Reproduce**
launch the code below with `deepspeed --include="localhost:3" train.py --deepspeed --deepspeed_config config.json`
[code]

**Expected behavior**
I'm wi

[2022-02-11 02:45] skpig commented on #662
@stas00 Thank you for your advice. I have already opened a new issue #1761.

[2022-02-11 02:56] skpig commented on #1761
I've checked the source code of `class DeepSpeedEngine`. The device is set by `args.local_rank` or `os.environ['LOCAL_RANK']`
https://github.com/microsoft/DeepSpeed/blob/41ab660b5df3567966935fe8ac3672497bc8690a/deepspeed/runtime/engine.py#L502-L526

So I run the other code snippet as below
[code]
Now the `print()` shows the engine is on device 3 properly. But nvidia-smi shows some memory leak on d

[2022-02-11 03:28] Satan012 opened #1762 "[BUG]in top2gating, min_capacity dosen't define before use"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**ds_report output**
Please run `ds_report` to give us details about your setup.

**Screenshots**
If applicable, add

[2022-02-11 05:13] stas00 opened #1763 "[BUG] master breaks one of the HF/DS integration tests on 1 gpu"
**Describe the bug**

I guess we always run the integration tests on multiple GPUs so we haven't spotted the problem despite running integration tests - @jeffra, do you think it'd be worthwhile to run another set on a single GPU? So far this is the only problem we have missed so perhaps it's OK to keep it as it is now. The HF daily CI discovered it as it runs both so we have it covered there. I ju

[2022-02-11 05:19] stas00 commented on #1763
OK, `git bisected` it - it's the huge bf16 commit that broke it: https://github.com/microsoft/DeepSpeed/commit/4912e0ad7efcaf97389ae944259aa0e9f331038a

[2022-02-11 12:40] affanmehmood commented on #1401
Hey @tjruwase, I found and installed libaio on windows, but this error persists.

[2022-02-11 19:03] philschmid opened #1766 "[BUG] Deepspeed Inference GPT-J Cuda Error"
**Describe the bug**
I am trying to load `GPT-J` for Inference using `init_inference` but running into strange Cuda Errors. I am running on an AWS EC2 `g4dn.12xlarge` which has 4 NVIDIA T4 (16 GB) Memory.
![image](https://user-images.githubusercontent.com/32632186/153653578-4fad1f39-88f7-4dcb-b028-f436ed1505fd.png)

My rough estimation to calculate if the model fits are
[code]
For `GPT-J`this woul

[2022-02-11 19:05] #1753 closed

[2022-02-11 19:15] philschmid commented on #1766
My mistake it is possible to load when placing it on the GPUs after split
[code]

[2022-02-11 19:15] #1766 closed

[2022-02-11 22:35] #1748 closed

[2022-02-11 22:35] #1749 closed

[2022-02-12 13:34] Jason3900 opened #1767 "[BUG]"
**Describe the bug**
Hey, I want to freeze part of my model in the first few epochs and unfreeze it. But it doesn't seem to work. The model doesn't seem to learn after unfreezing it, even with "torch.clear_autocast_cache() & torch.empty_cache()". Is there a valid way to make it?

**To Reproduce**
Bellow are the sample code of my model.py
[code]

[2022-02-14 07:48] affanmehmood opened #1769 "Unable to pre-compile async_io on Windows"
**Describe the bug**
I was trying to install Deepspeed on WIndows inside a python virtual environment. I have been told that Deepspeed has not been tested on windows so far as Deepspeed has primarily been used on Linux. @tjruwase what do you think is causing it?

**To Reproduce**
Steps to reproduce the behaviour:
1. Install PyTorch (I have torch=1.10.2+cu113 on RTX2060)
2. pip install deepspeed

*

[2022-02-14 07:51] affanmehmood commented on #1401
Thanks for responding @tjruwase. I've opened up this issue for windows. #1769

[2022-02-14 15:29] affanmehmood commented on #1769
I was unable to disable async_io by setting the environment variable, after manually ignoring async_io and sparse_attn I am now getting this error.
    ERROR: Command errored out with exit status 1:
     command: 'c:\users\divedeepai\desktop\fast-gpt-j\venv\scripts\python.exe' -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\DiveDeepAI\\Desktop\\Fast-GPT-J\\DeepSpeed\\setup.py'"

[2022-02-14 22:08] joehoover opened #1770 "[BUG] Cannot initialize inference engine with Hugging Face Transformers GPT2"
**Describe the bug**
I cannot initialize an inference engine from Hugging Face's GPT2 implementation.

**To Reproduce**

[code]

**Expected behavior**
An inference engine should be returned.

**ds_report output**
[code]

**System info (please complete the following information):**
 - OS: Amazon Linux
 - GPU count and types: 4 T4s
 - Python version: 3.7

**Launcher context**
Notebook, single GPU

*

[2022-02-15 07:53] sweinbach opened #1771 "[REQUEST] Bfloat zero1"
Thank you for sharing this codebase! Working quite a bit with deepspeed this request would help a lot. I am happy to open a PR.

**Is your feature request related to a problem? Please describe.**
Use case is training on bfloat using pipe parallelism.
- Bfloat support is not implemented for zero1.
- Pipe parallelism is not implemented for zero2.

**Describe the solution you'd like**
Enable bfloat s

[2022-02-15 08:09] tridao commented on #1584
I'm running into the same issue: I'm on pytorch 1.11 using the same container nvcr.io/nvidia/pytorch:22.01-py3, and compiling deepspeed fails with:
```csrc/lamb/fused_lamb_cuda_kernel.cu(467): error: identifier "THCudaCheck" is undefined```

[2022-02-15 09:26] philschmid opened #1772 "[BUG] T5-11B Inference Error"
**Describe the bug**

I am trying to run `T5-11B` using `deepspeed.init_inference`. I am running on a `g4dn.metal` which as the following stats

![Bildschirmfoto 2022-02-15 um 10 20 45](https://user-images.githubusercontent.com/32632186/154031578-21d6c514-5ef7-42f2-828d-3731e474e997.png)

The script i use:

[code]

How i execute the script `python -m deepspeed.launcher.runner --num_gpus 8 t5_mp.py

[2022-02-15 16:34] stas00 commented on #1772
Had to translate the table headers from German, so you have 384GB CPU memory and 128GB of GPU memory, 8x 16GB

So you're trying to load 40 x 8 = 320GB of CPU, and the way `from_pretrained` works it uses up 2x model size by default. so 40*8*16 = 640 - can't fit and cgroups kills it - not sure why the system doesn't indicate that.

In order to use 1x cpu memory a `low_cpu_mem_usage=True` needs to be

[2022-02-15 18:20] observerw opened #1773 "[BUG] gradient overflow with fp16 enabled"
**Describe the bug**
I was trying to use deepspeed fp16 mode to train a 4.7B gpt2 model. At first it works fine, but after about 220 steps, the logs start to indicate an overflow and keep reducing the loss scale until it reaches 1 and keeps repeating, and the loss value changed to `NaN`.

I tried the method metioned in that answer: https://github.com/huggingface/transformers/issues/15570#issuecomm

[2022-02-15 18:21] observerw commented on #1773
@stas00 I would be very grateful if you could give some advice.

[2022-02-15 19:13] RezaYazdaniAminabadi commented on #1751
Hi @ganzhiruyi and @antoiloui

Just sent a PR to fix this.
Can you please try this on your side?
Thanks,
Reza

[2022-02-15 19:25] stas00 commented on #1773
You're also using the default  `--init-method-std` which is usually set to `0.02` in Megatron-LM which is too big for your model size. Based on your hidden size - you want something like 0.01 from `sqrt(2/(3072*5))` - see: https://github.com/bigscience-workshop/bigscience/blob/master/train/lessons-learned.md#using-a-formulaic-std-init

[2022-02-15 19:33] stas00 commented on #1625
I've tested w/ nightly:
1. manual pre-build
2. JIT build

both work just fine. so closing this Issue

[2022-02-15 19:33] #1625 closed

[2022-02-15 20:01] #1686 closed

[2022-02-15 22:39] #1742 closed

[2022-02-15 23:04] anijmlt opened #1776 "Cannot reproduce performance from the paper for 50B and 100B models"
I am using one node of DGX2 to reproduce performance shown in [the paper](https://arxiv.org/pdf/2104.07857.pdf) for 50B and 100B models.
![image](https://user-images.githubusercontent.com/37815929/154162817-8693b37c-5956-4c53-a55f-37a26d6c6326.png)

I am using using commit dac9056 which includes the latest goodness from #1453. For the 10B model as described in the paper I am able to see ~63 TF/GPU

[2022-02-15 23:58] #1751 closed

[2022-02-16 00:01] tjruwase commented on #1776
@anijmlt, thanks for your question and sharing your log.  Here are some suggestions

1. Enable `--split-transformers` and `--memory-centric-tiling` options as discussed [here](https://deepspeed.readthedocs.io/en/latest/zero3.html#memory-centric-tiling) and defined [here](https://github.com/microsoft/DeepSpeedExamples/blob/068e6561188e9192104e014f70fbe25224b5eb62/Megatron-LM-v1.1.5-ZeRO3/megatron/a

[2022-02-16 05:01] aphedges commented on #1686
Today I tried out the revised fix that made it into <https://github.com/microsoft/DeepSpeed/commit/baef92e26fef5aa0da63f26d444b91c2a7aa0bd3> on my full script, and it worked properly! Thank you very much for your work on fixing this issue!

---

I am aware of the VCS installation in pip and it's what I usually use, but it seems to be slightly faster to let GitHub zip it first, at least with n=1. I

[2022-02-16 05:08] stas00 commented on #1686
I appreciate you re-validating the fix. @aphedges!

@tjruwase made it much easier to do so as he tirelessly makes the deepspeed codebase easier to adjust so I had changed its final version.

------------

re: VCS

I just have a clone, which is even faster to `git pull` :)

There are many ways to install a module ;)

[2022-02-16 08:37] manueltonneau opened #1777 "Initialization/warmstarting for RoBERTa pretraining"
I am currently trying to further pretrain a RoBERTa model on a custom dataset, initializing the model with `roberta-base` weights. I am using [this script](https://github.com/manueltonneau/academic-budget-bert/blob/main/run_pretraining.py) which works fine for pretraining from scratch. [The function](https://github.com/manueltonneau/academic-budget-bert/blob/f32fec6490111056aa8048c6f5aef8632583286

[2022-02-16 14:58] antoiloui commented on #1751
Hi @RezaYazdaniAminabadi, it works for me thanks a lot!

[2022-02-16 17:13] observerw commented on #1773
Yes, I'm using Megatron-Deepspeed repo, sorry for forgetting to provide this information. Glad to hear Megatron-DeepSpeed will support bf16, I will try it as soon as it is released.

For now I am trying to adjust those hparams. Because you mentioned that this could be due to "learning too fast", so I think it might have something to do with the learning rate. **In your opinion, is it possible that

[2022-02-16 20:34] tjruwase commented on #522
@ghosthamlet and @hpourmodheji, it seems there a few issues here.

1) @ghosthamlet, can you please confirm your observations so far. Did you mean that activation checkpointing + offloading to cpu is working correctly for more than 1 GPU?

@ghosthamlet, can you please confirm that activation checkpointing and offloading to cpu is working correctly with 2 GPUs but not 1 GPU?

[2022-02-16 20:36] tjruwase commented on #522
@ghosthamlet, can you please confirm that activation_checkpointing and cpu_offloading work as expected with 2 GPUs, but not with 1 GPU?

[2022-02-16 20:42] tjruwase commented on #522
@hpourmodheji, thanks for the table you shared earlier, but I think we need something different for this investigation. Activation checkpointing (including cpu offload) can be enabled without zero stage 3. And so, it would be good to disable zero by removing the `zero` key in the json config. Can you please share similar information for single GPU for these 3 scenarios?

1. No activation checkpoin

[2022-02-17 03:56] stas00 commented on #1773
Getting the hparams right is the holy grail of Machine Learning. Any of them could make it or break it, so you have to do a lot of trial and error until you get to know your model and your framework.

I already gave you a hint about std-init, and now as you are figuring out it seems you need to figure out a good lr warmup strategy.

Your model is 5B params

[code]

I think it may be a bit too deep

[2022-02-18 02:41] zhouyizhuang-megvii opened #1781 "[BUG] nn.Module.train() and eval() have NO effect on TransformerLayer's dropout"
**Describe the bug**
When performing model evaluation during training, using `model.eval()` doesn't bring any change (to dropout) as expected.

`DeepSpeedTransformerLayer`'s forward dropout behaviour is determined by `self.config.training` (specified during construction) rather than `self.training`.

This may hurt accuracy when users construct a model for training and then call `model.eval()` to d

[2022-02-18 12:36] Baibaifan opened #1782 "[REQUEST] Some comments on using deepspeed"
**Is your feature request related to a problem? Please describe.**

If I want to experiment with zero-3 to train 345m GPT model, how to set the relevant configuration of zero-3? At present, I use the default configuration and find that the training speed is not very fast.

model link: https://github.com/microsoft/DeepSpeedExamples/tree/174ae3bc8dbb688cfaccb4afa15d6e2cdbe19ce5/Megatron-LM-v1.1.5-Ze

[2022-02-18 12:48] Baibaifan commented on #1782
thanks for your advice，but i just want to test the speed of the deepspeed zero-3 in 345m GPT model. please give me a Specific configuration.

[2022-02-18 17:56] awan-10 commented on #1442
@Vbansal21 - Thank you. I am closing this issue for now. Please reopen if you come across k>2 papers or try it on your end.

[2022-02-18 17:56] #1442 closed

[2022-02-18 18:12] awan-10 commented on #1743
@flint-stone -- please see this tutorial for MoE inference: https://www.deepspeed.ai/tutorials/moe-inference-tutorial/

[2022-02-18 23:37] hankyul2 commented on #1701
Thank you @cli99 It works after I upgrade to latest version(=0.5.10). I run the code you posted. Thank you for your help!

[code]

[2022-02-19 13:15] tjruwase commented on #1782
Got it. Unfortunately, we don't have much insight to share because we have not investigated this scenario. However, you can try the following:

1. Increase micro-batch size as much as possible to exploit the memory savings of zero3
2. Tune the partitioning parameters to reduce partitioning overhead: `stage3_max_live_parameters`, `stage3_max_reuse_distance`, `stage3_prefetch_bucket_size`, and `stag

[2022-02-19 17:05] stas00 opened #1784 "[BUG] bf16 w/ ZeRO Stage 0 assert"
**Describe the bug**
A clear and concise description of what the bug is.

We need to be able to turn zero off, but it breaks:

[code]

So I think that assert should be removed altogether now, which I think will solve this issue.

Thanks.

@jeffra

[2022-02-20 11:10] ganzhiruyi commented on #1751
Hi @RezaYazdaniAminabadi , it works. Thank you.

[2022-02-20 17:47] #1773 closed

[2022-02-21 06:47] Baibaifan commented on #1782
Thanks a lot, and it is expected to give the performance test baseline of 345m GPT model.

[2022-02-21 14:55] ghosthamlet commented on #522
@tjruwase Sorry for the late reply.
When i was using old version DeepSpeed months ago, activation_checkpointing and cpu_offloading can't work with 1 GPU, then i added more GPUs, and used stage3 with offload_param, no model parallel, the activation_checkpointing and cpu_offloading of old version DeepSpeed should also not work at that time, but the GPU memory was enough.
With the new version DeepSpe

[2022-02-21 15:20] tjruwase commented on #522
@ghosthamlet, awesome! Thanks so much for sharing this detailed feedback. If possible, can you please check if this activation checkpointing features also work with zero stages < 3?  Thanks!

[2022-02-22 05:02] ghosthamlet commented on #522
For stage0/stage1 2080Ti GPU run out of memory, so i have to test small model.
stage1 cpu_offload has problem, so disabled it.

I think stage0/stage1/stage2 working too:

[code]

**I want to ask another question:**
There is one thing i am very confusing, in four 2080TI GPUs training, when the GPU 0 mem is:
**MA 0.79 GB         Max_MA 2.77 GB         CA 6.55 GB         Max_CA 7 GB**
GPU will ran ou

[2022-02-23 00:55] anijmlt commented on #1776
@tjruwase Thanks so much for your quick response! I tried out the parameters you mentioned, and I actually get worse performance that before. [zeroinf_50B_bs26_raw_repro_log.txt](https://github.com/microsoft/DeepSpeed/files/8121157/zeroinf_50B_bs26_raw_repro_log.txt)

Before:
[code]

After:
[code]
I notice that optimizer and batch generator got slightly better but fwd and bwd got much worse. Using

[2022-02-23 02:15] tjruwase commented on #1776
Hmm, @anijmlt, this is quite mysterious. Although, `--split-transformers` increases D2H/H2D transfers, it allows for larger micro-batch size and with overlapping of transfers and compute should improve throughput.

My log is from 2021 as seen in the timestamps, and so I may need to run with latest master to investigate further. Unfortunately, I may not have much time until towards the end of next

[2022-02-23 02:17] tjruwase commented on #1776
By the way, can you sanity check your nvme performance by running the benchmark [here](https://github.com/microsoft/DeepSpeed/issues/998#issuecomment-836944772). You might find the entire discussion useful.

[2022-02-23 16:45] gsujankumar opened #1788 "[BUG] CUDA error with INT 8 inference"
**Describe the bug**
I am trying to get started with implementing INT 8 inference on Deepspeed. But I am running into `RuntimeError: CUDA error: an illegal memory access was encountered` .

**To Reproduce**

*Code:*

I am interested in implementing INT8 inference with GPT2 styled models, the code I am running is the following:

[code]

I am running this with
- deepspeed version 0.5.9
- cuda versio

[2022-02-23 21:48] awan-10 commented on #1743
@flint-stone I also noticed that you are using bert model with moe. Is this a custom bert model you modified with DeepSpeed MoE layer?

The DeepSpeed inference will only support moe=true and moe_experts="n" arguments if you are wrapping an existing DeepSpeed MoE model.

[2022-02-24 02:14] hankyul2 commented on #1701
Hi

When I run `get_model_profile` with `print_profile=True`(shown in below code snippets), it gives me division by zero exception. I think this exeption happed because upsample layer has no parameter. Is it right?

[code]

![image](https://user-images.githubusercontent.com/31476895/155444070-81b5f6d6-c7fd-4583-8d5b-4ce37f615802.png)

@cli99

[2022-02-24 02:56] skpig opened #1789 "[BUG] save_checkpoint() missing some params"
**Describe the bug**
I'm using deepspeed to train GNN model from pgn (https://github.com/pyg-team/pytorch_geometric). But after I save the model with `engine.save_checkpoint()`, I couldn't load the checkpoint because of missing parameters.

**To Reproduce**
I provide a code snippet.
I launch `save()` function with `deepspeed --include="localhost:2,3" train.py  --deepspeed  --deepspeed_config confi

[2022-02-24 07:20] ConnollyLeon commented on #1069
DeepSpeed version 0.5.10 still have a problem that the utilization of ZeRO 3 is very low when compared to ZeRO 2.

I notice that #1453 has been merged to master on January 19th, and it has been a month since last patch was released.  Please release a patch ASAP~~.

[2022-02-24 13:14] hfassold commented on #1539
Regarding 'AdaFamily' - will put the preprint onto arxiv, and then I will open a separate '[Potential contribution]' issue begin of next week

[2022-02-24 22:23] RezaYazdaniAminabadi commented on #1788
Hi @gsujankumar

Thanks for pointing this issue. I will look into this and send a fix soon.
Best,
Reza

[2022-02-24 22:24] jeffra commented on #1069
@ConnollyLeon are you able to install via `pip install git+https://www.github.com/microsoft/DeepSpeed.git` for now to test the latest changes? We're in the process of pushing a few more updates to `master` that we want as part of `v0.6.0`. These should be live by end of next week, which means we'll push a new PyPI release then.

[2022-02-25 02:20] ConnollyLeon commented on #1069
@jeffra Sure, I tested it just now. The Allgather and computation can be overlapped when setting `stage3_prefetch_bucket_size`.  However, we can see in below figure  that computation tasks (Stream 7 on GPU) do  not fill to the full, which results in low utilization of GPU.
<img width="1581" alt="image" src="https://user-images.githubusercontent.com/31810583/155639950-683cc2a1-f550-4cb7-8b7d-256027

[2022-02-25 15:17] chinoll opened #1793 "[BUG] zero_to_fp32.py cannot convert the model"
**Describe the bug**
I'm training a model using 4 V100 GPUs, and after training, I'm trying to run the zero_to_fp32.py script to convert my model. But the script throws the following error. Please how can I fix this error?
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. run zero_to_fp32.py script

**Expected behavior**
A clear and concise description of what you expected to happen.

**

[2022-02-26 07:50] rohitdwivedula commented on #550
Looks like a pretty old thread, but thought I'd share the stack trace in case someone else chances upon this thread (or) has a similar problem later. Using `DeepSpeed v0.5.10`:

[code]

This was happening because one of my loss calculations looked something like this:

[code]

The data types of all of these variables after these two steps were:

- `a.dtype` -> `torch.float16`
- `b.dtype` -> `torch

[2022-02-26 21:03] floatshadow opened #1795 "[BUG] IndexError / Runtime Error with `torch.nn.TransformerEncoder`"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
I'm fairly new to DeepSpeed, and I tried deepspeed zero-3 and offload with  pytorch transformer.
And I write a simple test code:
[code]

But I encountered traceback
<details><summary>RuntimeError: expected scalar type Float but found Half</summary>
<p>

[code]
</p>
</details>

So, I refer to previous issues

[2022-02-27 09:08] observerw opened #1796 "[REQUEST] Can I manually change global batch size with checkpoints?"
As far as I know, deepspeed does not currently support dynamic batch size, but for some reason, I urgently need to use this feature now. So could I achieve a dynamic batch size like effect by using a batch size and saving the checkpoint, then manually changing the batch size in the run script and re-running it? If possible, how should I do this?

[2022-02-27 13:13] floatshadow commented on #1796
I guess Megatron Fork by DeepSpeed Group may help somehow [Link](https://github.com/microsoft/Megatron-DeepSpeed/blob/3704a0a0dadb40a97a3c273c59f30318c34a5af4/megatron/training.py#L716)

[2022-02-27 13:32] tomerip opened #1797 "[BUG] DeepSpeed Inference with GPT-J using batches with padding gives wrong outputs"
**Describe the bug**
Using DeepSpeed Inference (using `deepspeed.init_inference`) gives weird outputs when using batch size > 1 and padding the inputs.

I'll first state the problem with more detail and then explain what I tried in order to narrow it down.

The problem:
I'm trying to run inference with GPT-J (`EleutherAI/gpt-j-6B`) on a very large dataset and therefore want to achieve the highest

[2022-02-27 14:25] tomerip commented on #1719
Hi @TiesdeKok,
I think taking a look on this issue I opened might be relevant to your use case:
https://github.com/microsoft/DeepSpeed/issues/1797
I think it at least explains why you got the exclamation marks outputs and also probably raise your attention regarding the outputs you're getting in case you pad some of your inputs.

[2022-02-27 17:23] pme0 commented on #1279
I'm also having this issue on deepspeed==0.5.10.
My model trains fine with an optimizer from `torch.optim` but when using
`deepspeed.ops.adam.FusedAdam` I get:
[code]

[2022-02-28 17:34] hpourmodheji commented on #522
@tjruwase, sorry for my late reply. Please see the table below. Unfortunately, I see no offloading. Can you please advise?

|  Training Stages | No activation checkpointing activation_checkpointing removed | Activation checkpointing without cpu offloading cpu_checkpointing = false | Activation checkpointing with cpu offloading cpu_checkpointing = true |
|:----------------:|:-----------------------

[2022-02-28 23:10] gsujankumar commented on #1788
Hey Reza,

Thanks for looking into this. Can you provide me a rough ETA on the fix?

[2022-03-01 04:23] RezaYazdaniAminabadi commented on #1797
Hi @tomerip

Thanks for bringing this interesting issue. I will definitely look into this and fix it soon.

Reza

[2022-03-01 04:24] RezaYazdaniAminabadi commented on #1788
Sorry for the delay, @gsujankumar
I will try to make it work by the end of this week or early next week.

[2022-03-01 05:57] observerw commented on #1796
Thanks for the suggestion, I forgot that this parameter existed in Megatron-deepspeed, Your reminder helped me a lot😂

Fortunately, in my tests, the manual checkpoint to change the batch size also worked correctly. One thing to note is that Megatron-deepspeed only supports iteration-based training, so first we need to set the `--train-samples` to equivalent `--train-iters`. Then, since megatron's

[2022-03-01 05:57] #1796 closed

[2022-03-01 06:04] stas00 opened #1800 "[BUG] ZeRO/bf16 grad accumulation in bf16 needs fixing"
**Describe the bug**

Just discovered that the recent implementation of BF16 support accumulates grads in BF16. This may work in some cases but it's likely to impact the training for the worse and ideally it should be implemented in fp32 (and may be optionally in fp16 if memory is an issue).

It should have 0 to little impact when no GAS is used, but using GAS in many stage PP setups or manual GAS

[2022-03-01 06:14] floatshadow commented on #1796
indeed deepspeed support checkpoint too.
I remember Megatron-DeepSpeed Fork replace megatron's checkpoint with `deepspeed.checkpoint` module.