[2021-04-14 10:06] aced125 opened #956 "Zero level 3 fails when using a nn.Parameter, because Deepspeed can only partition nn.Linear"
Zero level 3 fails when using a nn.Parameter, because Deepspeed can only partition nn.Linear

[2021-04-14 10:06] aced125 commented on #956
Any idea how to overcome this?

[2021-04-14 11:29] tjruwase commented on #956
Can you share more on this, for example a stack trace?

[2021-04-14 11:30] #952 closed

[2021-04-14 11:31] tjruwase commented on #940
@aced125, are you still seeing issues?

[2021-04-14 11:33] tjruwase commented on #944
@fcampagnexandr, are you still seeing this issue?

[2021-04-14 11:37] tjruwase commented on #914
Closing as this is solved.

[2021-04-14 11:37] #914 closed

[2021-04-14 11:38] tjruwase commented on #907
@szhengac, can you please share a stack trace?

[2021-04-14 11:46] tjruwase commented on #936
@irfan11111111, are you using [bing_bert ](https://github.com/microsoft/DeepSpeedExamples/tree/master/bing_bert)from DeepSpeedExamples?

Can you share more details of the log?

Also, can you try running with 1-gpu?

[2021-04-14 13:08] ConnollyLeon opened #957 "DeepSpeed ZeRO with Ring-Allreduce"
Hi, dear contributors,

I am trying to figure out whether we can use Ring-Allreduce to lower the communication volume while training a model.
Intuitively seems like that we could apply Ring-Allreduce with ZeRO stage 1 and stage 2, for the reason that both of them own the whole model's parameters on each worker.

So can we use Ring-Allreduce?

Looking forward for any replies, please :D

[2021-04-14 13:48] fcampagnexandr commented on #944
Yes, I we are seeing the issue. This is an issue we encounter with a pytorch implementation of the perceiver model architecture. Will try to come up with a simple code for reproduction, but no promise, it's quite busy at my end.

[2021-04-14 14:46] #929 closed

[2021-04-14 17:39] awan-10 commented on #950
Yes, we do need CUDA to be installed in order to build deepspeed.

[2021-04-14 17:42] awan-10 commented on #951
cc @jeffra

[2021-04-14 17:45] awan-10 commented on #866
Hi @afiaka87, can you please elaborate the problem a bit more?

Did you try to build from source on a CUDA11 machine and it failed?

We do support CUDA11 and A100.

[2021-04-14 17:51] jeffra commented on #951
Hi @evancasey, we're still working on fully supporting elastic training scenarios with DeepSpeed. We're currently testing this with some internal clusters in limited scenarios but have not extended it yet to work with preemptible instance types.

[2021-04-14 18:26] stas00 commented on #599
One workaround solution is https://github.com/microsoft/DeepSpeed/pull/959

[2021-04-14 19:04] tjruwase commented on #944
That is understandable. Please share at your convenience. Thanks so much.

[2021-04-14 19:36] #877 closed

[2021-04-14 21:01] aced125 commented on #790
Hey @jeffra would be keen indeed if the SparseAttention kernel is compatible with A100!

[2021-04-14 21:27] #951 closed

[2021-04-14 21:27] evancasey commented on #951
got it, thanks!

On Wed, Apr 14, 2021 at 1:51 PM Jeff Rasley ***@***.***>
wrote:

--
Cadmium
cadmium.app | ***@***.***
+1 (303) 808-2955

[2021-04-14 22:59] RezaYazdaniAminabadi commented on #589
Hi @szhengac,

There is still problem with higher versions of PyTorch. We can find a way to support this on Torch1.8. Please feel free to open a different issue with this regard, since this issue is getting quite old and I think this is not anymore an issue with DeepSpeed Transformer kernels.

Thanks,
Reza

[2021-04-14 23:16] RezaYazdaniAminabadi commented on #828
Hi @sshleifer,

Thanks for trying this out.
No, the implementation should find this out by checking the shape of the mask. Can you please tell me how you are creating the layer (mainly the configuration and sequence length that you are using), so that I can try in on my end too?

Thanks.
Reza

[2021-04-15 00:10] RezaYazdaniAminabadi commented on #828
Can you please try this with having the mask shape as (1, 1, Seq, Seq)?

[2021-04-15 00:16] RezaYazdaniAminabadi commented on #828
I did try with some masks on my side and it seems to work. However, I wait to understand your way of doing this to test this further.
Thanks

[2021-04-15 04:32] sshleifer commented on #828
I got it working with `(1,1,seq_len,seq_len)`! It seems to be faster and less memory in early benchmarks. I am very grateful :).

This is obviously out of scope of this issue, but I was wondering whether it's possible to skip the FFN layers at the end of the transformer block and/or set them to identity and use my own custom FFN layers after your very fast attention?

[2021-04-15 05:52] szhengac opened #961 "Transformer CUDA kernel backward tests fails with Pytorch 1.8+cu11"
With Pytorch 1.8 and CUDA 11.0, I received the following error msg for test_cuda_backward.py:

[code]
@RezaYazdaniAminabadi FYI

[2021-04-15 06:19] szhengac commented on #907
@tjruwase

[code]

[2021-04-15 07:04] LutzWeischerFujitsu commented on #950
In that case we can close for now this issue. CUDA installation still fails on Arm, Fedora 33, trying the RHEL 8 version. Will re-try in the future again.

[2021-04-15 09:42] aced125 commented on #956
It just gets stuck. I put a print statement right before the operation (a convolution), and right after, and it got stuck right before the operation.

[2021-04-15 09:44] aced125 commented on #940
Yes - but I solved it in the following hacky way:

[code]

[2021-04-15 09:45] aced125 commented on #940
It seems that when `output_dim >= 36` things seem to work, else it fails.

[2021-04-15 12:06] aced125 opened #962 "F.cross_entropy returns infs sometimes due to it summing the losses."
Hello,

F.cross_entropy returns infs sometimes due to it summing the losses.

Findings:

The following SOMETIMES returns inf loss (the default options in F.cross_entropy)
[code]

The following will NOT return inf
[code]

The following SOMETIMES returns inf
[code]

The solution I am currently using to do normal cross entropy in DeepSpeed:

[code]

[2021-04-15 12:51] aced125 commented on #956
@tjruwase as an example, you could try `nn.Conv2d` in Deepspeed level 3.

[2021-04-15 13:51] tjruwase commented on #940
So can you please provide steps to repro the failure so we can continue investigation?

[2021-04-15 13:57] tjruwase commented on #956
I am a bit confused, are you saying the repro can be reduced to just an `nn.Conv` layer? If so, can you please share the code snippet? Otherwise, can you please share the model and launch steps to repro?

[2021-04-15 18:06] #950 closed

[2021-04-16 00:44] RezaYazdaniAminabadi commented on #961
Hi @szhengac,

Can you please try this on the new PR?
Thanks,
Reza

[2021-04-16 06:01] szhengac commented on #961
@RezaYazdaniAminabadi I have tried your PR. The following three test cases fail:

[code]

[code]

[code]

[2021-04-16 06:44] szhengac opened #966 "ZeRO 0, 1, 2, 3 produce different results"
Previously I observed that ZeRO 1 produces significant worse performance than ZeRO 2 in finetuning. Similar observation is also mentioned in https://github.com/microsoft/DeepSpeed/issues/757. I created a simple test to see how loss changes with different ZeRO stages. The test code snippet is pasted as follows:

[code]

The following shows the results:

ZeRO 0:
[code]

ZeRO 1:
[code]

ZeRO 2:
[code

[2021-04-16 08:57] aced125 commented on #966
@szhengac Set hidden dim > 35 and zero level 3 should work

[2021-04-16 13:39] tjruwase commented on #966
@szhengac, thanks for this excellent repro recipe. I am able to repro on my side.

@aced125, thanks for sharing a workaround and for your hard work on #940. However, with `hidden_dim=36`, I am seeing the same `UnboundLocalError` with zero-3. On the other hand, with `hidden_dim=36`, the zero-1 regression seems to disappear.

These are very helpful clues that you have both provided to help with this

[2021-04-16 14:15] tjruwase commented on #966
@szhengac, so I have fixed zero-3. Below is the full results, with `hidden_dim=4`.  I want to clarify that zero-0 and zero-2 don't match exactly, they are different on steps 1 & 2. I think my observation matches your results, right?

step  | zero-0 | zero-1 | zero-2 | zero-3
-- | -- | -- | -- | --
0 | 1.639648438 | 1.639648438 | 1.639648438 | 1.639648438
1 | 1.4296875 | 1.4296875 | 1.430664063 | 1

[2021-04-16 14:17] e-sha opened #967 "ZeRO Stage1 behaviour changed between v0.3.2 and v0.3.3"
Hello,
I found significant difference in BERT training curves between versions v0.3.2 and v0.3.3. The [log](https://github.com/microsoft/DeepSpeed/commit/08c96a1bc6d9c0345b31889bba66d73f20d0b0b5#) doesn't help me to understand the reason. Is it an expected behaviour?

![Screenshot from 2021-04-16 17-08-02](https://user-images.githubusercontent.com/6618622/115036618-5a4b3400-9ed6-11eb-8cf3-84dd3946

[2021-04-16 14:21] sdtblck commented on #818
Hi @conglongli !
I can create a new PR for this this weekend, if you haven't already

[2021-04-16 14:36] sdtblck opened #969 "Pipeline Parallel Engine expects outputs of length 2"
It seems there are some assumptions in the pipeline parallel engine that the number of outputs of each stage is 2.

In our model @ https://github.com/EleutherAI/gpt-neox/ we occasionally need to send other tensors, such as positional embeddings, across stages. At some point the third output tensor gets dropped, and we run into errors later on in the model.

This will also be a problem for inferenc

[2021-04-16 14:40] sdtblck commented on #969
Additionally the fact that pipe modules can only take args, and not kwargs, is a bit fragile.

[2021-04-16 17:53] conglongli commented on #818
Hi @sdtblck, actually in the near future there will be another code release related to 1-bit compression (a 1-bit LAMB optimizer https://arxiv.org/abs/2104.06069) and I'm preparing the PR which also touches some 1-bit Adam's code. So to avoid conflicts, if you don't mind I can work on adding pipeline parallelism support (to both 1-bit Adam/LAMB) on my side. I will definitely give credit to your or

[2021-04-16 19:25] szhengac commented on #966
@tjruwase Thanks for the quick fix for ZeRO 3. I didn't note that steps 1 and 2 have different losses for ZeRO 0 and 2. I think this is due to that the behavior of LAMB is different when optimizer state partition is adopted. After I change the optimizer to Adam, I can obtain the following:

step | zero-0 | zero-1 | zero-2
-- | -- | -- | --
0 | 1.23046875 | 1.23046875 | 1.23046875
1 | 1.533203125 |

[2021-04-16 21:40] #940 closed

[2021-04-16 21:50] tjruwase commented on #966
@szhengac, I get different observations for Adam on 8GPUs, see below. Of course some the differences in our observations can be due to environment, i.e., initialization and paddings.

  | zero-0 | zero-1 | zero-2 | zero-3
-- | -- | -- | -- | --
0 | 1.639648438 | 1.639648438 | 1.639648438 | 1.639648438
1 | 1.399414063 | 1.399414063 | 1.399414063 | 1.399414063
2 | 1.442382813 | 1.44140625 | 1.442382

[2021-04-16 21:51] tjruwase commented on #966
@szhengac, the fix for the UnboundLocal has been merged, perhaps you can close this issue when you verify. Thanks.

[2021-04-16 21:56] szhengac commented on #966
So in your testing, ZeRO 1 and 3 have different losses from ZeRO 1 and 2. Do you have idea? As ZeRO 1 produces very bad in my finetuning task, it is good to figure it out and have consistent result.

[2021-04-16 22:02] tjruwase commented on #966
@szhengac, I agree that ZeRO 1 requires further investigation, which I plan to do. However, it seems this particular issue was opened for a ZeRO 3 error. Please feel free to open a separate issue to track ZeRO 1 regression, where we can continue the investigation. Does that make sense?

[2021-04-16 22:05] tjruwase commented on #966
@szhengac, on second thoughts. Let's just use this issue to at least understand the source of the different results.

[2021-04-17 00:35] aced125 commented on #966
@tjruwase out of interest what did you do to fix the `UnboundLocalError` here?

[2021-04-17 01:42] tjruwase commented on #966
@aced125, I saw your question about the fix. Let me know if you want more details after reviewing the PR.

[2021-04-17 08:54] conglongli commented on #818
@sdtblck I just created the 1-bit LAMB PR https://github.com/microsoft/DeepSpeed/pull/970. So feel free to choose any of the following options:

1) Grant me the permission to adapt your code and add 1-bit Adam/LAMB pipeline parallelism support into 1-bit LAMB PR (or later in a separate PR). I'm happy to do it as long as that's fine to you :)
2) Create the pipeline parallelism PR to merge into the

[2021-04-17 10:49] aced125 commented on #966
@tjruwase here is the bug with, for example, `nn.Conv`

Please replace the `SimpleModel` class with:

[code]

and run

[code]

Also - add CPU offloading

[2021-04-17 10:52] aced125 commented on #966
Actually - I seem to be getting a different error (on A100), when running the above:

[code]

[2021-04-17 12:26] tjruwase commented on #966
@aced125, this expected as CPU offloading means the optimizer will execute on the CPU, and so you need CPU-implementation of optimizer. However, `deepspeed/ops/csrc/lamb/fused_lamb_cuda.cp` is CUDA-implementation of LAMB. We currently don't have CPU-implementation of LAMB.

[2021-04-17 18:26] sdtblck commented on #818
Hi @conglongli - I've updated my old PR to be consistent with the latest changes here https://github.com/microsoft/DeepSpeed/pull/972

Hopefully this works for you!

[2021-04-17 18:45] mariosasko opened #973 "Less strict dataset type check in DeepSpeedEngine"
Currently if the user tries to pass an object that implements `__getitem__` and `__len__` as the `training_data` argument to `deepspeed.initialize`, an error is raised if the object is not an instance of `torch.utils.data.Dataset` due to the following check:

https://github.com/microsoft/DeepSpeed/blob/2805c3935ae02558f18a71a115185632b087da70/deepspeed/runtime/engine.py#L823-L824

Internally the `

[2021-04-17 19:20] conglongli commented on #818
Thanks @sdtblck, it looks good to me so I have merged it into 1-bit LAMB PR. On our side we will add a unit test and apply the same change to 1-bit LAMB optimizer. For MPI implementation, we might leave it as it is (and document the limitation), because the NCCL implementation has superior usability and performance, so we really don't recommend to use MPI implementation (and currently not enough b

[2021-04-17 19:46] aced125 commented on #967
uh oh

[2021-04-17 21:22] sdtblck commented on #818
Sure @conglongli happy to close this.

I'll make sure to try with larger models at some point in the future and report back when i do.

[2021-04-17 21:22] #818 closed

[2021-04-17 23:52] sdtblck opened #974 "BF16 Support"
Are there any plans to support bf16 training in deepspeed in the near future?
If not - could someone guide me toward what I would need to change in order to implement it? It seems like a fair few things in deepspeed are dependent on fp16 to a large degree.

[2021-04-18 04:01] ShadenSmith commented on #969
Hi @sdtblck , thanks for the feedback. We've been developing a new communication backend for the pipeline engine to address these issues. The boolean mask handing and kwarg support are both incoming :-). @eltonzheng and I hope to get it released within a few weeks. Things like kwargs are a bit tricky because activations potentially need to be communicated, and so things have to be serialized.

[2021-04-18 14:31] fac2003 commented on #944
Here's the code to reproduce: https://github.com/fac2003/repro_deepspeed_multi_modality_perceiver_stage_3/blob/main/DeepSpeedMultiModalityPerceiver.ipynb
Same code works if you switch optimization_stage to 2 from 3.

[2021-04-18 21:28] aced125 opened #975 "How to Disable nn Linear patching for a particular module?"
How to Disable nn Linear patching for a particular module?

[2021-04-18 23:20] conglongli commented on #813
Closing as this was fixed in https://github.com/microsoft/DeepSpeed/pull/817

[2021-04-18 23:20] #813 closed

[2021-04-19 02:17] gongjingcs commented on #949
@tjruwase would you please provide some tips  for solving this problem ?

[2021-04-19 21:11] g-karthik commented on #598
@tjruwase did you get a chance to work through this?

[2021-04-19 22:30] SantoshGuptaML commented on #935
I seem to be getting an error related to MPI as well. Here is the full output

[code]

[2021-04-19 22:31] samyam commented on #894
@lhb8125 Here are the differences

Megatron-LM : This is a fairly old snapshot of Megatron-LM , and we have been using it show case the earlier features of DeepSpeed. This does not contain ZeRO-3 or 3D parallelism.

Megatron-LM-v1.1.5-3D_parallelism: This is a relatively new Megatron (Oct 2020), but before Megatron started supporting 3D parallelism. We ported this version to showcase how to use 3D

[2021-04-19 22:41] awan-10 commented on #894
@lhb8125, hope Samyam's answer clarifies this for you. And thank you for bringing this to our attention. Based on it, I have added this explanation to the DeepSpeedExamples repository.

[2021-04-19 22:41] #894 closed

[2021-04-19 23:47] samyam commented on #974
@sdtblck This has been on our radar, but we haven't had the bandwidth to tackle it. I would be happy to guide you if you want to take a pass at it. And we would really appreciate the help.

There are a few pieces involved in doing this:

1. DeepSpeed Config Changes to allow fp16 config to take a type which will default to float16, but can be changed to blfoat16.
2. Change all the places in engine.

[2021-04-20 00:01] samyam commented on #975
@aced125  are you referring to the patching of the functional linear used in ZeRO 3? Can you please provide a bit more context here on why you want to disable the patching  as well?

[2021-04-20 04:59] cli99 commented on #930
Hi @janEbert, I am working on a PR as @samyam suggested. https://github.com/microsoft/DeepSpeed/pull/981

[2021-04-20 06:40] janEbert commented on #930
All right, thanks! Looking forward to stumbling upon some errors when you're done. ;)

[2021-04-20 06:45] tjruwase commented on #598
@g-karthik, sorry due to our latest release, I did not have bandwidth to explore the proposed workarounds. I will resume this work this week. Stay tuned.

[2021-04-20 06:49] tjruwase commented on #967
@e-sha, can you please try this [branch](https://github.com/microsoft/DeepSpeed/tree/olruwase/zero_optional_reduce_scatter)?

[2021-04-20 06:50] tjruwase commented on #966
@szhengac, I have a fix for zero-1 issue in this [branch](https://github.com/microsoft/DeepSpeed/tree/olruwase/zero_optional_reduce_scatter), can you give it a try?

[2021-04-20 11:48] sdtblck opened #982 "Checkpoint loading not working correctly"
We are having a critical issue in [gpt-neox](https://github.com/EleutherAI/gpt-neox/) where the checkpoint loading from deepspeed isn't working correctly. When we reload the model from a checkpoint, the loss suggests it hasn't loaded anything at all, and is just starting again from initialization... (jumps up from ~4 at checkpoint save to 8 at checkpoint load)

The model is based on the megatron e

[2021-04-20 12:42] sdtblck commented on #982
so I decided to check that the weights had actually changed after loading from the checkpoint like so:
[code]

and it returns `tensor(True, device='cuda:2')` for all devices. This suggests to me that checkpoint loading hasn't actually done anything - but it also doesn't produce any error.

[2021-04-20 13:13] sdtblck commented on #982
Just verified that the weights in the checkpoint aren't the same as those in the model by entering pdb after `        checkpoint = torch.load(load_path, map_location=lambda storage, loc: storage)` in deepspeed engine and evaluating:

`p (checkpoint["module"]["language_model"]["transformer"]["layers.0.attention.dense.weight"].cpu() == self.module.language_model.transformer.layers[0].attention.dense

[2021-04-20 13:18] sdtblck commented on #982
Doing this same thing before and after self.load_module_state_dict gives the same output, so I would guess the error is somewhere in self.module.load_state_dict? very confusing

[2021-04-20 13:50] janEbert commented on #930
I just read this while informing myself about ZeRO-Infinity (in [./docs/_tutorials/zero.md](https://github.com/microsoft/DeepSpeed/blame/fbece50b21ffeb4fe05e498f930aded71de12aed/docs/_tutorials/zero.md#L240-L243)):

I'll close this, then. Thanks for all your support!

[2021-04-20 13:50] #930 closed

[2021-04-20 15:15] sdtblck commented on #982
Okay so I'm being dumb and forgot to `.clone()` the tensors - but there is still some problem.

Each new run on this graph is reloading the checkpoints and restarting training - so you can see it does *sort of* work, but there seems to be some problem with the very first reload?

![Screenshot from 2021-04-20 17-14-43](https://user-images.githubusercontent.com/46172032/115421174-07d28600-a1fc-11eb-

[2021-04-20 16:13] tjruwase commented on #949
@gongjingcs, apologies for the delay on this. I will take a closer look today.

[2021-04-20 17:00] #713 closed

[2021-04-20 17:01] RezaYazdaniAminabadi commented on #949
Hi @gongjingcs

I think you might have some incompatibility issue between the torch you installed and the one you are using. Also, the CUDA version you are using with Torch1.8 is lower than what torch is supporting based on their website. Could you please try resolving these and rerun the experiment?
![image](https://user-images.githubusercontent.com/44502768/115435998-4c8bfc00-a1bf-11eb-8b86-f967

[2021-04-20 19:23] e-sha commented on #967
Thank you for the reply. I will check it next week and will send you the results.

[2021-04-20 20:11] jeffra commented on #846
Please reopen if there are further issues

[2021-04-20 20:11] #846 closed

[2021-04-20 20:26] szhengac commented on #966
@tjruwase The current option is to disable reduce-scatter?

[2021-04-20 21:01] tjruwase commented on #966
@szhengac, yes. Reduce-scatter appears to be broken in zero-1, and it might take a while to fix. Does it work for you now?

[2021-04-20 21:27] szhengac commented on #961
@RezaYazdaniAminabadi do you have any idea on how to fix these 3 test cases?

[2021-04-20 21:29] RezaYazdaniAminabadi commented on #961
Hi @szhengac

Sorry for the delay in responding.
I am wrapping up some other work, and I will get back to this soon. Yes, I am pretty sure it is solvable.

Thanks,
Reza

[2021-04-20 21:37] szhengac commented on #966
@tjruwase Yes. This workaround works for the test cases.

[2021-04-20 21:45] tjruwase commented on #966
Thanks for the confirmation. We are trying to fix reduce-scatter asap, bandwidth permitting. But we hope this workaround can unblock until then.

[2021-04-20 21:46] tjruwase commented on #966
@szhengac, did you also check if zero-3 does not match others?

[2021-04-20 21:49] szhengac commented on #966
ZeRO 3 does not match if I increase number of steps to 8.

[2021-04-20 21:57] tjruwase commented on #966
@szhengac, thanks for the sharing that update. I will look further. Can you also share results?

[2021-04-20 23:22] tjruwase commented on #938
Closing for lack of response. Please reopen as needed.

[2021-04-20 23:22] #938 closed

[2021-04-20 23:50] szhengac commented on #966
  | zero-0,1,2 | zero-3
-- | -- | --
0 | 1.23046875 | 1.23046875
1 | 1.533203125 | 1.533203125
2 | 1.3779296875 | 1.3779296875
3 | 1.3134765625 | 1.3134765625
4 | 1.220703125 | 1.220703125
5 | 1.462890625 | 1.4619140625
6 | 1.263671875 | 1.263671875
7 | 1.234375 | 1.23828125
8 | 1.392578125 | 1.3955078125

[2021-04-21 00:23] aced125 commented on #975
I want some modules to be patched but others to not be patched, basically.

[2021-04-21 06:02] g-karthik opened #987 "Sync b/w Eleuther AI's DeeperSpeed and DeepSpeed"
Can the added changes made in Eleuther AI's DeeperSpeed fork be merged back into DeepSpeed?

I see some critical differences, such as in `PipelineModule`: [former](https://github.com/EleutherAI/DeeperSpeed/blob/main/deepspeed/runtime/pipe/module.py#L191) and [latter](https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/runtime/pipe/module.py#L192).

When using containerized setups, it's a

[2021-04-21 06:33] szhengac opened #988 "ZeRO 2 Assertion Error: Gradient computed twice for this partition for Siamese Model"
If we use ZeRO 2 with activation checkpointing for the [Siamese model](https://arxiv.org/pdf/1908.10084.pdf) (the same model is applied to two inputs independently), we receive

[code]

The reproducible code (`deepspeed test_twin_model.py --zero 2`):
[code]
If we use ZeRO 1 or disable activation checkpointing, the test case can pass. @tjruwase

[2021-04-21 08:31] ellen1230 commented on #942
hi, I paste some log down here.
[2021-04-20 21:05:34,890] [WARNING] [runner.py:117:fetch_hostfile] Unable to find hostfile, will proceed with training with local resources only.
[2021-04-20 21:05:39,586] [INFO] [runner.py:358:main] cmd = /home/ellen/miniconda3/envs/deepspeed/bin/python -u -m deepspeed.launcher.launch --world_info=eyJsb2NhbGhvc3QiOiBbNCwgNSwgNiwgN119 --master_addr=127.0.0.1 --maste

[2021-04-21 08:34] ellen1230 commented on #942
@tjruwase hi, I paste some log down here.
[2021-04-20 21:05:34,890] [WARNING] [runner.py:117:fetch_hostfile] Unable to find hostfile, will proceed with training with local resources only.
[2021-04-20 21:05:39,586] [INFO] [runner.py:358:main] cmd = /home/ellen/miniconda3/envs/deepspeed/bin/python -u -m deepspeed.launcher.launch --world_info=eyJsb2NhbGhvc3QiOiBbNCwgNSwgNiwgN119 --master_addr=127.0.0

[2021-04-21 10:18] SantoshGuptaML opened #989 "Request: Upgrade docker to cuda version 11"
We are running on a100s, which require cuda version 11. Currently, the deepseed docker only have version 10.

[2021-04-21 12:07] fac2003 commented on #944
I checked the repro code against Deepspeed 0.3.1.5 (latest at this time) and found the issue no longer occurs in this release. Seems fixed.

[2021-04-21 12:37] tjruwase commented on #944
@fac2003, thanks for sharing your experience wth 0.3.15. What is strange is that I am able  to repro the issue on 0.3.15, so I am curious why we have different observations :). I traced the problem to lack of support for autocast in ZeRO 3, and I just created a PR. Can you please share your ds_report again?

[2021-04-21 12:38] tjruwase commented on #988
@szhengac, thanks for sharing a convenient repro, this is greatly appreciated.

[2021-04-21 12:56] fac2003 commented on #944
This is strange indeed. Here's the report with 0.3.15 on colab:
--------------------------------------------------
DeepSpeed C++/CUDA extension op report
--------------------------------------------------
NOTE: Ops not installed will be just-in-time (JIT) compiled at
      runtime if needed. Op compatibility means that your system
      meet the required dependencies to JIT install the op.
-------

[2021-04-21 13:36] tjruwase commented on #944
@fac2003, I think I may have figured out the mystery. But I need your help to be sure. Can you please wrap your model creation in deepspeed.zero.Init() context? Such as below?

[code]
Does this repro the problem?

[2021-04-21 14:24] tjruwase commented on #944
Excellent! Thanks for the confirmation. What happened is that ZeRO 3 has an optimized linear layer that does not support amp autocasting. This linear layer was previous enabled by default when using ZeRO 3, which is why you originally ran into the issue. Now, a recent change made deepspeed.zero.Init() context a requirement to get this ZeRO 3 linear layer, which is why you no longer saw it. Regardl

[2021-04-21 15:32] sdtblck commented on #987
Aside from that, this https://github.com/EleutherAI/DeeperSpeed/commit/0e9573776caf7227ecafdc8a3d57c7955165d8e2 (for running inference - majorly hacky and I'm sure there's a better way of doing it), they're mostly the same aside from some minor changes to timers / logging.

[2021-04-21 16:53] sdtblck commented on #982
I can verify that this also happens with the Megatron3D-Parallelism example in DeepSpeedExamples, without any of our modifications.

![Screenshot from 2021-04-21 18-51-29](https://user-images.githubusercontent.com/46172032/115591719-b5b06400-a2d2-11eb-9bc7-409dd485beac.png)

the above is the loss of the `ds_pretrain_gpt2.sh` script in https://github.com/microsoft/DeepSpeedExamples/tree/master/Mega

[2021-04-21 21:27] awan-10 commented on #575
@peteriz - closing this for now but feel free to reopen when you have some updates.

[2021-04-21 21:27] #575 closed

[2021-04-21 21:35] cli99 commented on #962
Can you clarify how the problem relates to DeepSpeed? Or can you share the full reproduce code of the problem? Thanks.

[2021-04-21 22:02] sdtblck commented on #787
Hi @tjruwase any updates on this? You say you provide support for it - can you point me toward said support? I have a training run I started on 64 GPUs, and am now trying to change to fewer, but running into problems relating to this.

[2021-04-21 22:05] tjruwase commented on #787
@sdtblck, unfortunately the investigation into the elastic checkpoint support was stalled. Can you tell me which ZeRO stage you are using?

[2021-04-21 22:08] sdtblck commented on #787
Hi @tjruwase it's ZeRO stage 1. I'm assuming it's something to do with `optimizer.elastic_checkpoint`? I see it's true by default, but when loading on a different number of machines the loss is rocketing up really high when we load a checkpoint.

[2021-04-21 22:08] sdtblck commented on #787
do you have any idea what the problem is more specifically?

[2021-04-21 23:43] g-karthik commented on #969
Hi @ShadenSmith can you expand on the need to hardcode something like `if self.module.__class__.__name__ == 'GPT2ModelPipe'`? Wondering if this has any implications on the kind of models one can use the `PipelineEngine` with.

[2021-04-22 00:15] butterluo commented on #555
when will deepspeed support fp32 ?

[2021-04-22 00:39] tjruwase commented on #555
@butterluo, deepspeed already supports fp32, but ZeRO currently supports only fp16.

[2021-04-22 04:26] stas00 opened #991 "pytorch nightly deprecations in torch/cuda/memory"
with nightly getting these:

[code]

probably need to be renamed? have you decided on how far back you want to support pytorch versions?

[2021-04-22 10:39] afiaka87 commented on #866
We're having a lot of trouble getting Sparse attention specifically to work. The issue remains even after the ZeRO Infinity update. I'll follow up tomorrow with an error message

[2021-04-22 11:57] tjruwase commented on #982
@sdtblck. sorry about this issues. Will take a look. Is your small repro a great place to start?

[2021-04-22 12:51] sdtblck commented on #982
Hi @tjruwase I think so, let me know if you have any problems setting it up. As you can see I also reproduced it with the megatron examples, so if that works better for you then that would work too.

Only problem is i can't reproduce it consistently. Sometimes it works as expected, and sometimes it doesn't.

We have a big run for which we can't load the checkpoints at all, they're basically reinit

[2021-04-22 13:05] sdtblck commented on #982
I have a feeling the larger run may be to do with https://github.com/microsoft/DeepSpeed/issues/787 but i'm also struggling to reproduce that error consistently

[2021-04-22 17:23] tjruwase commented on #949
@gongjingcs, did you try resolving the torch incompatibility?

[2021-04-22 17:24] ShadenSmith commented on #969
Hi @g-karthik, one implementation challenge of distributed pipeline parallelism is that when we communicate activations, the receiver needs to know the shape/type/etc. of the data coming over the wire. With data parallelism, we already know that info because everyone has the same parameters. But with pipeline parallelism we need a handshake to tell the next pipeline stage that I'm tensors of types

[2021-04-22 18:15] tjruwase commented on #988
@szhengac, this issue is due to the fact that activation checkpointing causes backward hook to be invoked on each gradient of a shared weight, whereas without activation checkpointing backward hook is only invoked on the last gradient for shared weights. This creates a problem for zero 2 & 3 because we use the backward hook to trigger gradient reduction, and we expect at most one reduction per par

[2021-04-22 18:34] szhengac commented on #988
This is what I thought, but I don't quite understand why backward hook has different behaviors when activation checkpointing is used.

[2021-04-22 18:42] szhengac commented on #988
@tjruwase Perhaps an easy fix is to record a counter for each parameter during forward, and we skip the backward hook call until the last one. In this way, we can make sure that the behaviors of zero 2, 3 do not change and the reduced gradient is correct. What do you think?

[2021-04-22 20:22] sdtblck commented on #969
@ShadenSmith Is there a reason I'm missing that means we need to pass the mask around specifically? Could we not assign it as a buffer to to each of the pipeline stages at init

[2021-04-23 01:18] stas00 opened #998 "[doc] compile NVMe profiling docs"
Let's use this issue to gather instructions on how to profile one's NVMe.

Instructions from @tjruwase so far:
[code]
this assumes the cwd is on the NVMe drive.

the tail of the list should show the fastest speeds.

note that it tests the real setup, NVMe<->CPU<->GPU so make sure to test this on the actual system that you intend to use it one.

So for writing it'd be:
[code]

@tjruwase, what else

[2021-04-23 06:13] tjruwase commented on #998
Benchmark results from DGX-2 node, which has 8 Micron 9200 NVMe raided into a single volume.

  | Peak | 1-process | multi-process
-- | -- | -- | --
Read | 28 | 25.3 | 25.6
Write | 24.8 | 19.2 | 21.7

[2021-04-23 06:21] tjruwase commented on #998
The sweep results suggest that zero-infinity can be configured to do offloading at 3GB/sec read and 2.6GB/sec write. So you want to configure the [asynchronous I/O module](https://www.deepspeed.ai/docs/config-json/#asynchronous-io) similar to configurations that achieve these numbers. Specifically, you want to add the following to deepspeed config:

[code]

[2021-04-23 07:30] tjruwase commented on #966
@szhengac, I don't see any difference between zero 3 and others with Adam optimizer. Are your results from LAMB or Adam?

[2021-04-23 14:29] tjruwase commented on #998
Unfortunately, I just noticed a bug in the write sweep script, which may lower the write perf. Basically, it is not doing the multi-process sweep because of this [oversight](https://github.com/microsoft/DeepSpeed/blob/bff4bc72392426ec48325a1e9a443b83a7c6f0a8/csrc/aio/py_test/run_write_sweep.sh#L46).
I will merge #1001 to address this issue asap. This PR also avoids deleting the log folder, but rat

[2021-04-23 14:45] sarthakpati opened #1002 "Conda recipe"
Hi,

On a note related to #325, I have added a conda recipe: https://github.com/conda-forge/staged-recipes/pull/14699

But there seems to be a weird bug related to ninja: https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=307963&view=logs&j=6f142865-96c3-535c-b7ea-873d86b887bd&t=22b0682d-ab9e-55d7-9c79-49f3c3ba4823&l=1431

Any help and/or insight would be appreciated!

Cheer

[2021-04-23 16:39] stas00 commented on #998
Oh, I missed that new config section!

So how does a user correlate their benchmark results to the above config that you prepared based on my benchmark results?

The description of each param at  [asynchronous I/O module](https://www.deepspeed.ai/docs/config-json/#asynchronous-io) is very terse and ideally we need a few paras explaining how to choose those values. Which are good defaults, and whic

[2021-04-23 17:01] stas00 commented on #998
I looked again through your paper - please correct me if I'm wrong, but it looks like we need at least 3GB/s NVME<->CPU bandwidth per GPU, so really my NVME setup is only good for a single GPU to meet the efficiency standard you define in the paper. Am I wrong?

Especially given your report earlier:

So practically it's not enough to just have a single NVMe to benefit from ZeRO-Infinity if I under

[2021-04-23 17:49] tjruwase commented on #998
1) I just added the section into the docs based on your feedback, so you did not miss it.

2) Sorry, I was not clear on how I came up with
[code]
`thread_count=1` is reasonable default, since this is per-rank configuration.

The rest are based the results of your sweep as follows:

Your best read config was `('read', 'block', 'overlap', 1, 1, 32, 262144) = 3.168102406435208`, which corresponds to

[2021-04-23 17:59] stas00 commented on #998
This helps a lot, thank you!

Can we make `parse_aio_stats.py` take in both read and write reports and generate the recommended config for the user?

[2021-04-23 18:11] ShivanshuPurohit opened #1003 "Out of memory error in the middle of training"
I am running essentially a fine-tuning script on GPT-Neo [here](https://github.com/EleutherAI/visual-grounding). The issue is that with run command like
[code]
At a certain point (around 1000 iters) it OOMs, even with zero-3 offloading. Here are [the wandb logs](https://wandb.ai/eleutherai/speedrun?workspace=user-shivanshupurohit) for both runs. I am using @samyam 's branch [full-precision-for-sta

[2021-04-23 18:24] tjruwase commented on #998
Can you clarify the efficiency standard you are referring to in the paper?

Whether or not a single 3GB/sec NVMe is sufficient for ZeRO-Infinity depends on a number of factors including:

1) What is offloaded to NVMe. For example if only optimizer state is offloaded, then only the CPU would access NVMe.

2)  How well the asynchronous NVMe accesses overlap with forward and backward (and optimizer u

[2021-04-23 19:11] stas00 commented on #998
![snapshot_5](https://user-images.githubusercontent.com/10676103/115917811-92e59300-a42b-11eb-9878-dbc2422d676e.png)

And it was mentioned several times in previous sections.

Thank you for sharing these considerations / questions to ask, @tjruwase.

How do we translate these into something actionable by the user. That is what exact steps they follow to set up each of these values:

[code]

beside

[2021-04-23 19:27] szhengac commented on #966
@tjruwase I use Adam.

[2021-04-23 19:28] szhengac commented on #966
Did you increase the number of iterations to 8?

[2021-04-23 19:32] szhengac commented on #966
And, my deepspeed version is '0.3.15+e414435'

[2021-04-23 20:50] tjruwase commented on #956
@aced125, is this still an issue?

[2021-04-23 23:42] tjruwase commented on #966
@szhengac, sorry this was my error. I was running on 2gpus. However, with 8 gpus I see differences between zero 3 and others.

[2021-04-24 01:54] stas00 opened #1005 "[doc] configuring `offload_*` param sections"
https://github.com/microsoft/DeepSpeed/issues/998 tackles the `aio` param section, but still have no guide for "offload_optimizer" and "offload_param" sections. We have:

[code]

other than `device`, `nvme_path` and `pin_memory` which are pretty obvious, the rest have super-terse descriptions and a user will have no idea how to configure those. Let's write a guide to how these values should be cho

[2021-04-24 14:38] tjruwase commented on #944
@fac2003, the fix is now merged can you please verify so this issue can be closed?

[2021-04-24 16:06] stas00 commented on #998
With the updated benchmark I get slightly worse results than before (was 2.59), and it has now switched to `single_submit = true` as the best
[code]

So how we do we reconcile the differences in a merged config for read/write?

Also, why does the read benchmark runs `echo 1 > /proc/sys/vm/drop_caches`, but the write one doesn't? Is it not necessary because it writes and the cache is then always fu

[2021-04-24 16:21] fac2003 commented on #944
Cloning master and building from source fixed the initial error, but I am seeing a new one with stage 3 on backward:

Pasting here the ds_report output and training run output from repro steps running in colab.
--------------------------------------------------
DeepSpeed C++/CUDA extension op report
--------------------------------------------------
NOTE: Ops not installed will be just-in-time (JI

[2021-04-24 16:34] fac2003 commented on #944
Here's the updated repro notebook installing from DeepSpeed master and wrapping model in zero init:

https://github.com/fac2003/repro_deepspeed_multi_modality_perceiver_stage_3/blob/main/DeepSpeedMultiModalityPerceiver-from-master.ipynb?short_path=52c54dd

[2021-04-24 17:03] stas00 commented on #998
@tjruwase, what do you think about putting the `400MB` column last or removing it completely - since it's always the same number it doesn't tell anything to the user? Then it'd be easier to see the 2 sets aligned. Or alternatively have the same column for read too?

[2021-04-24 17:37] tjruwase commented on #998
@stas00, regarding the changing best configs and results, I think since the perf differences are so small I would put it down to noise. Also, as you notice the top 10 (or more) perfs are very similar, so it seems to me that the most significant factors are `overlap=true, queue_depth >=4, block_size >= 256K`. All of these observations strengthen your call for users to be shielded from this informat

[2021-04-24 17:45] stas00 commented on #998
That sounds fantastic! Thank you, @tjruwase

I'd also add that since we currently have a single config perhaps the final script should take the output of both parsers? or take read and write log dirs , run the parser on them and dump the recommended config, so the user will need to run:
1. read benchmark
2. write benchmark
3. create_config read-logs write-logs

and of course the first 2 can also b

[2021-04-24 17:48] stas00 commented on #998
oh and we probably should have the instruction `sudo ./run_read_sweep.sh input.file read-logs` so the `sudo` prompt doesn't come as a strange surprise after the script started.

[2021-04-24 18:47] stas00 commented on #998
OK, so adding invalidating caching for write, had a negligible impact of 1e-2 difference. Hence, it's probably safe to not need it (as it slows the overall run time as well I think).

[code]

[2021-04-25 04:15] gongjingcs commented on #949
hi, I tried resolving the torch incompatibility. I downgraded my torch version to 1.7.1, however it reports the same error

![image](https://user-images.githubusercontent.com/15030497/115980503-d8d36000-a5bf-11eb-91e0-04193b94001c.png)

[2021-04-25 04:16] gongjingcs commented on #949
@tjruwase

[2021-04-25 11:42] tjruwase commented on #944
@fac2003, thanks for reporting this new issue. Can you please open a new issue report for this?

[2021-04-25 12:34] sdtblck commented on #982
Hi @tjruwase - I found the bug.

Actually nothing to do with deepspeed, but it does also affect the megatron examples in deepspeed examples, so you might want to fix it.

Fix described here -> https://github.com/EleutherAI/gpt-neox/pull/251

[2021-04-25 14:10] fcampagnexandr commented on #944
Why not continue with this one until the repro works and the issue is fully fixed? The title still matches the problem, there is an exception when  turning on stage 3 for this model. I'd rather not have to provide the repro in yet another issue. Would that be OK with you?

[2021-04-26 02:51] jorie-peng commented on #432
@tjruwase  Hi, I have the same error with ubuntu 16.04.6 and g++ 5.4,do you know the reason? thanks!

[code]

[2021-04-26 10:08] SeanNaren commented on #998
Here are results from an A100 hyperplane server from Lambda, using DeepSpeed master and the instructions collected above!

Micron 7300 2TB NVMe (Max Read 3GB/s, Max Write 1.9 GB/s)

### Read
[code]
For most of the configurations the difference is negligible. Range of 0.33-2.07 GB/s

### Write
[code]

Again looking at the first 100ish tail outputs, the difference is negligible. Range of 1.23-1.995

[2021-04-26 17:16] tjruwase commented on #944
There are number of benefits to restricting an issue report to one issue or bug, rather than adding multiple, even related, bugs into a report.

1. This [guide ](https://medium.com/nyc-planning-digital/writing-a-proper-github-issue-97427d62a20f)on best practices for GitHub issues gives a number of reasons, including a principle of `One issue per issue`.

2. Besides enabling collaboration of the re

[2021-04-26 17:44] tjruwase commented on #998
@SeanNaren, thanks for sharing your results. This is great since it is a different device from @stas00 and myself, so this helping to evaluate the perf portability. Please see a few observations and questions below.

1. Am I reading correctly that the peak hardware write rate is 1.9GB/s, while the benchmark is reporting 1.99?

2. The 67% read perf of peak rate is much lower than @stas00  and I hav

[2021-04-26 18:01] stas00 commented on #998
Perhaps we should try and find a few more devices to acquire more data before we prune? Currently Sean's device seems to be one-off - basing a choice on 3 inputs is a bit hard and we might miss something.

[2021-04-26 18:04] tjruwase commented on #998
@stas00, I completely agree. It would be awesome to find additional devices. Unfortunately, I don't have access to such diversity here. Also by pruning, I meant only the default setting of the search script, users will have the option of defining their own space.

[2021-04-26 18:15] tjruwase commented on #949
@gongjingcs, got it thanks for confirming that it is not torch incompatibility issue. Will take a look.

[2021-04-26 18:15] stas00 commented on #998
I added "4. Contribute your data" instructions to the OP - let's see if we can get some contributions.

[2021-04-26 18:15] tjruwase commented on #949
@gongjingcs, can you provide the repro steps with the transformer kernel that triggers the problem?

[2021-04-26 18:26] fac2003 commented on #944
@tjruwase It is the same issue from my point of view because the repro code has not changed, neither has the description, we are now hitting a new exception further in the repro code, so this is progress, but the issue is not resoled. The fix PR you developed perhaps has only addressed the forward.
I can open another issue if it's easier to track with PRs at your end, but I would not close this on

[2021-04-26 18:29] fac2003 opened #1006 "Exception with optimization_stage_3, now in backward"
Following up on issue #944 for which I have submitted code to reproduce here, the repro code goes through forward, but now fails on backward with a different exception:

https://github.com/fac2003/repro_deepspeed_multi_modality_perceiver_stage_3/blob/main/DeepSpeedMultiModalityPerceiver-from-master.ipynb?short_path=52c54dd

It would be great if the repro code could be tried with potential fixes so

[2021-04-26 18:30] fac2003 commented on #944
As requested, I created a new issue here: https://github.com/microsoft/DeepSpeed/issues/1006

[2021-04-26 18:30] tjruwase commented on #944
@fac2003, I greatly appreciate the help. And yes, I don't expect you to close this issue until all issues are resolved to your satisfaction.

[2021-04-26 18:47] tjruwase commented on #1006
@fac2003, Do you have any idea why I am getting this error? I don't recall having this issue before.

[code]

[2021-04-26 19:23] tjruwase commented on #982
@sdtblck, thanks for hard work that went into resolving this.  Can you please close this issue?

[2021-04-26 21:36] fac2003 commented on #1006
Not sure why you cannot resolve this dependency. It's on PyPi: https://pypi.org/project/perceiver-multi-modality-pytorch/
Perhaps your company repo has some step before you can pull from PyPi?

[2021-04-26 21:54] #982 closed

[2021-04-27 01:29] thefazzer commented on #998
I need to use `sparse-attn/support-latest-triton` as I'm running an RTX 3090

Setup is OK (as per below) but none of the DS optimisers will JIT compile (they all return an error at runtime re: the sm_86 arch).

Pretty sure problem is still outstanding for this card

[code]

[2021-04-27 01:39] stas00 commented on #998
Thank you for wanting to help us to gather the data, @thefazzer!

I have the same card, it works without problems if you have the right torch/cuda setup.

Let's not derail this thread and discuss this in a separate issue here on [Deepspeed](https://github.com/microsoft/DeepSpeed/issues)? Please post the output of your `python -m torch.utils.collect_env` and tag `@stas00` so I won't miss it - and I

[2021-04-27 01:55] hwidong-na opened #1007 "Transformer Decoder Support"
Hi,

I'm looking for the implementation of the transformer decoder with cross attention to the encoder in DeepSpeed.
I found the pull request #933 was a candidate for this purpose.
Would #933 be also enough to support the transformer decoder?

Best regards,
Hwidong

[2021-04-27 10:29] SeanNaren commented on #998
I looked all over the internet for this specific NVMe, and the reported max write was 1.9GB/s and these were the numbers collated from my run! I can confirm with Lambda on this.

I haven't looked into this, but cloud providers may provide another standard for NVMe if we're trying to just collected data numbers.

This is shared with the OS as a root drive, there was nothing else running on the node

[2021-04-27 13:03] gongjingcs commented on #949
@tjruwase ，of course.

step1:
DS_BUILD_OPS=1 python setup.py build_ext -j8 bdist_wheel
step2:
pip install dist/deepspeed-0.3.13+69bca4a-cp38-cp38-linux_x86_64.whl
step3:
till now, we have installed deepspeed successfully.
ds_report shows
![image](https://user-images.githubusercontent.com/15030497/116245540-a7af8700-a79b-11eb-94bb-0077ce416de9.png)
step4:
run bing bert demo you provide with transfo

[2021-04-27 14:23] tjruwase commented on #998
@SeanNaren, we have seen that device sharing with OS as a root drive does impact performance, especially read, even if nothing else is running on the node.

For fio, update the directory and filename fields of config file (e.g,` config.fio`), then install and run as follows:
setup:  `sudo apt-get install fio`
run:  `fio config.fio`

[2021-04-27 18:39] exelents opened #1009 "Reconstruction of fp32 weights on stage3 doesn't work"
In #892 @stas00 proposed a new script which can consolidate fp32 weights from fp16 model checkpoint on stage 3 training.
Unfortunately I have found? that t5-11b model can't be consolidated due to some error:
[code]

Maybe @stas00 could say what is the problem, and how it can be fixed?

[2021-04-27 18:45] exelents commented on #1009
Here is steps to reproduce my error with model reconstruction:

- Clone this repo:
    https://github.com/exelents/try_t5_siamese

- Extract folder "qasc" from this archive:
    https://drive.google.com/file/d/1gwvFiPzWW0JLr0XLS25PuG2Br5S4fPbR/view?usp=sharing

- Go to clonned repo folder and run ./create-siamese-template.sh - it will create siamese NN from two t5-small encoders in folder ./templa

[2021-04-27 19:35] stas00 commented on #998
@tjruwase, could we please change the benchmark to bail if it can't run, otherwise it dumps the error into the benchmark files.

[code]

Also as I mentioned earlier the WARNING:
[code]
should probably be an assert

Thank you!

[2021-04-27 21:10] tjruwase commented on #998
Hmm, let me take a look at both issues today.

[2021-04-27 21:24] stas00 commented on #998
oh, and btw, my earlier suggestion to move `sudo` outside the shell script was a bad idea - since then it then tries to run from a different environment and chances are it won't work. So `sudo` inside the read benchmark it is.

Perhaps should just warn the user with echo once of why we are asking to `sudo`, perhaps:
[code]

[2021-04-27 21:31] tjruwase commented on #998
@stas00, two points on error handling.

1) I am able to make benchmark break early with something like below. Is this sufficient?
[code]

2) Turning the missing libaio-dev into an assert is problematic because there are high level codes (e.g., unit tests) that are able to handle this situation without failing. On the other hand, the perf script (test_ds_aio.py) is not one of such high level codes,

[2021-04-27 21:37] stas00 commented on #998
I propose a different approach, before running the benchmark have a test script that simply validates that everything in the env is ready? e.g. if it can't build the required extensions it would fail? that test script could be a small part of the benchmark where it needs all the ingredients to work?

So like `ds_report` tell us that:
[code]
perhaps that same function that printed that warning can

[2021-04-27 21:54] tjruwase commented on #998
In that case, it seems pretty trivial to detect. How about below:
[code]

[2021-04-27 21:55] g-karthik opened #1010 "Resizing HF token embeddings with PipelineModule"
With a HF model class, one can resize token embeddings to account for any special tokens, there's no upper limit, i.e.,
in the usual scenario (this isn't necessarily working code, I may have gotten the tokenizer APIs incorrect):

[code]

The last line essentially allocates 2 new indices for the newly added special tokens in the input embeddings matrix, and initializes their embeddings with random

[2021-04-27 21:56] stas00 commented on #998
Sounds perfect - so just asserting if it's `False`!

[2021-04-27 21:57] tjruwase commented on #998
When libaio-dev is available, we get
[code]

[2021-04-27 22:03] stas00 commented on #1010
I don't know much about DS's version of pipeline - I worked only with the pytorch's native version of it.

I know I had to add gather and re-partition with Zero-3 for that exact situation of resizing embeds - twice in this code:
https://github.com/huggingface/transformers/blob/8d43c71a1ca3ad322cc45008eb66a5611f1e017e/src/transformers/modeling_utils.py#L643

Does pipeline have a similar feature? I

[2021-04-27 22:09] tjruwase commented on #998
Okay, does this work:
[code]

[2021-04-27 22:38] stas00 commented on #998
Excellent! can we expand the error to explain how to correct this?

[2021-04-28 00:00] hwidong-na commented on #1007
It fails to pass the unit test by changing the mask shape in the following line.
https://github.com/microsoft/DeepSpeed/blob/f1dc02db98cbadaf4ac275074866e9f7c62b6805/tests/unit/test_cuda_forward.py#L181
to `input_mask = torch.randn(bsz, 1, seq_len, seq_len, **kwargs) `

[2021-04-28 00:12] stas00 commented on #998
@tjruwase, here is one more data point.

[8.0TB Intel SSD DC P4510 Series U.2 PCIe 3.1 x4 NVMe Solid State Drive](https://www.intel.com/content/www/us/en/products/memory-storage/solid-state-drives/data-center-ssds/d7-series/dc-p4510-series/dc-p4510-8tb-2-5inch-3d2.html)

- Read (up to) 3200 MB/s
- Write (up to) 3000 MB/s

This drive is shared with the OS.

Took forever to run
- read 01:20:00
- wri

[2021-04-28 00:13] hwidong-na commented on #828
Hi,

I tested this branch under the following environment.

- CUDA Version: 10.1
- Driver Version: 418.39
- GPU Type: Tesla V100-SXM2-32GB

Unfortunately, it fails to pass the unit test by changing the mask shape in the following line.
https://github.com/microsoft/DeepSpeed/blob/f1dc02db98cbadaf4ac275074866e9f7c62b6805/tests/unit/test_cuda_forward.py#L181
to `input_mask = torch.randn(bsz, 1, seq_l

[2021-04-28 00:21] stas00 commented on #998
Also I wonder if we can find a way to run the read benchmark w/o needing `sudo` - I think some users might not be able to acquire sudo privileges to run the benchmark. I had to ask for it to be able to run the benchmark on someone's machine.

[2021-04-28 00:57] g-karthik commented on #1010
@stas00 have you already migrated HF towards native pipeline parallelism with pytorch 1.8? If so, can you point me to that?

For pipe, I don't think there's an equivalent feature to the one you listed @stas00, although I have a few questions about that:
1. Does that method you linked work if DeepSpeed ZeRO-3/infinity were enabled outside of the `Trainer` class? I do not use the `Trainer` but I use

[2021-04-28 03:04] stas00 commented on #1010
re: Pipeline Parallelism:

Most HF models are too complicated. All Pipe-approached that I tried require:
1. models converted `nn.Sequential`
2. inputs/outputs to be Tensors

So after spending weeks on this I gave up (or rather parked the idea). I managed to make a pipeline using [2 pytorch pipelines](https://github.com/huggingface/transformers/pull/9765) because pipelines can't handle conditional

[2021-04-28 06:34] ghosthamlet opened #1011 "Compared to mindspore (the complete automatic parallel/distributed training from the low level operators graph)?"
Has anyone used mindspore (https://github.com/mindspore-ai/mindspore), it seems like mindspore has parallel/distributed training implemented deep in its own deeplearning framework C++ core:
![mindspore](https://user-images.githubusercontent.com/758325/116357400-040fb680-a82f-11eb-8ede-0371a9aafd07.png)

So Mindspore should have very high performance and much less train code to change,  and it has

[2021-04-28 07:44] janEbert commented on #776
Adding to this:
5. Remove `model = model.cuda()` and `model = model.half()` calls.
6. Do keep `data = data.cuda()` and optionally add `data = data.half()` calls.
7. Substitute `torch.nn.utils.clip_grad_norm_(params, X)` with `"gradient_clipping": X` in the DeepSpeed config.
8. Guard parallel I/O using parallel primitives (except DeepSpeed checkpointing which is already nicely documented [in the co

[2021-04-28 08:19] RezaYazdaniAminabadi commented on #1007
Hi @hwidong-na

I think there is possibility of supporting decoder for transformer kernel. I am currently investigating the differences other than the softmax masking as you mentioned. I have seen that HuggingFace is also using position-biasing at the decoder which is borrowed from google implementation. Other than that, the API needs to change in order to send out more outputs.
I will update furt

[2021-04-28 08:22] RezaYazdaniAminabadi commented on #828
Hi @sshleifer

I think that sounds like a nice idea. I am in the process of changing the transformer API so that you can get the attention output directly without adding the following FFN part. I will soon add a PR for that.

Thanks,
Reza

[2021-04-28 08:23] RezaYazdaniAminabadi commented on #828
Hi @hwidong-na

Yes, you are right, the unit test currently does not check this type of masking. I will soon add a case for that.
Thanks,
Reza

[2021-04-28 09:11] SantoshGuptaML commented on #940
I am having the same issue, trying to get the bing squad example to work with 4 gpus. How were you able to print the exact tensor that was causing the issue? I wish to do the same to figure out where the issue is happening.

[2021-04-28 09:12] tjruwase commented on #998
@stas00, thanks for sharing this strange read perf. I suspect something is very wrong, especially since write is 24X worse than re
ads. Can we try the following things:

1. Inspect the single-process read results. These would be ones with `1` as the first number in the results tuple. For example, the best read result  is an 8-process run `('read', 'single', 'overlap', 8, 1, 4, 1048576) = 24.742143

[2021-04-28 09:18] tjruwase commented on #998
This is a bit tricky because sudo is generally required to disable disk cache which is required to measure accurate I/O perf.  We can optionally skip cache disabling if the user runs without sudo. This may not be so bad because in the real workload, disk cache would be part of the steady-state environment anyways. Could that work?

Yes, this makes sense.

[2021-04-28 09:23] SantoshGuptaML commented on #966
It looks like they just merged this fix not too long ago https://github.com/microsoft/DeepSpeed/pull/968 and incorporated into the official release 9 days ago https://github.com/microsoft/DeepSpeed/releases

I did pip install deepspeed -U and it started working

[2021-04-28 09:24] tjruwase commented on #940
@SantoshGuptaML , can you clarify the exact error you are seeing since multiple issues were involved here.

To your question about printing actual tensor values, you need to use Gather [api ](https://deepspeed.readthedocs.io/en/latest/zero3.html#deepspeed.zero.GatheredParameters) like as follows:
[code]

[2021-04-28 10:35] tjruwase commented on #1006
@fac2003, I am finally able to setup the environment and repro this bug. My setup challenges was due to incompatibility of  `perceiver-multi-modality-pytorch==1.1.0` with py3.6, which is my normal environment. Did you recently drop support for py3.6?

[2021-04-28 11:51] fac2003 commented on #1006
Sorry about that, since I only develop and run tests on 3.7 I marked this version as the minimum in the poetry configuration. That explains why pypi would not offer the package for a 3.6 installation.
If this is burdensome, you could build a 3.6 compatible version locally by cloning the repo and changing line 29 of pyproject.toml in the repo to ^3.6.  (poetry build will construct the wheel and put

[2021-04-28 16:03] stas00 commented on #1009
Could you please save one checkpoint and share it - on my dev machine I won't be able to train 45GB model.

Alternatively, can you reproduce the same problem with a much smaller model? say t5-small? Or do you get it only with t5-11b?

[2021-04-28 16:07] stas00 commented on #998
I don't think it's the write that's the problem. The advertised speed is ~3GB/s for both. So write is in that order of magnitude, but 2x slower than advertised. Read is the one that's broken. I thought perhaps it was a raid, but nothing indicates that and write should be then about as fast as read.

I'm not sure what you're asking. I pasted this exact result here https://github.com/microsoft/DeepS

[2021-04-28 16:14] stas00 commented on #998
1. we could simply run the same benchmark w/ and w/o cache flush and compare
2. if the user can't run `sudo` well, then that' the best they can do in that situation.
3. the only other workaround I can think of is creating a new random file before each benchmark, which should work too.

Do we have to use such large files for a good benchmark? would 10 or 50MB be representative enough?

If at the en

[2021-04-28 16:49] stas00 commented on #998
same error

[2021-04-28 17:10] exelents commented on #1009
Yes, I can reproduce it on t5-small
[code]
Here is checkpoint of siamese model based on t5-small:
https://drive.google.com/file/d/1PjWEPWHXiLw1vKHSE6_r6YgkCfuweGgb/view?usp=sharing

[2021-04-28 17:28] stas00 commented on #1009
This is odd as it works for me:
[code]
This was generated by ` ./run-siamese-small.sh`

Unrelated, but I had to downgrade `transformers` to the last official release to make your script work. This is because the deepspeed config in `transformers` master has changed, please refer to  https://github.com/huggingface/transformers/issues/11464 so you're in sync with the changes.

If I download your che

[2021-04-28 17:49] stas00 commented on #1009
Oddly enough, your checkpoint looks very different from mine:

Mine:
[code]
Your:
[code]

the optim states are slighly different and model states are very different.

Could you update your deepspeed  and transformers to the latest official versions and try again?
[code]

[2021-04-28 18:34] exelents commented on #1009
After i installed all packets in the fresh env I got an error while training:
[code]
T5SiameseModelOutput is my custom output class. Can it make problems? I even don't know what went wrong.

[2021-04-28 19:49] exelents commented on #1009
I have found an interesting behavior. This checkpoint can be successfully loaded via
    model_engine.load_checkpoint(ENC_MODEL)
 where model_engine is deepspeed's model engine object. I even can make predictions via it.
Here is notebook, how I did this. You should have my repo in directory with it and configure ENC_MODEL (path to checkpoint) in the second cell.
https://drive.google.com/file/d/1u_

[2021-04-28 19:50] stas00 commented on #1009
the last one is a buglet in the deepspeed=0.3.15 - they forgot to remove a debug print. So you can upgrade to deepspeed master and it will go away.

I think the slight difference in filesize is OK, since it has all kinds of keys stored. I will try to save just the data entries we want from your checkpoint to compare.

But why your model states are shorted, this is strange. Basically your model sta

[2021-04-28 20:17] cli99 commented on #973
Thank you for the suggestion, we are addressing it at https://github.com/microsoft/DeepSpeed/pull/1012.

[2021-04-28 20:26] stas00 commented on #1009
oh, completely missed the crucial point - I get zero2 checkpoint and you sent me zero3 checkpoint. thank you, @tjruwase for noticing that! So we aren't testing the same thing.

ah yes, your ` ./run-siamese-small.sh` is configured to run zero2 checkpoint. that explains it.

[2021-04-28 20:30] stas00 commented on #1009
Yes, OK, now I changed your script to use ZeRO-3 config and I can now reproduce the problem! Will be looking at it later today.

[2021-04-28 20:34] exelents commented on #1009
Oh, that's my fault, I haven't staged changes in *.sh scripts in my repo...

[2021-04-28 20:38] stas00 commented on #1009
That's no problem. The zero2 checkpoint looks significantly different from zero3 one. We will sort it out.

[2021-04-28 21:58] jeffra commented on #1011
Thanks @ghosthamlet for the pointer, we are aware of the work and have been looking into it further. As with many systems in this space I am sure there are interesting things to be learned from it! :) Will close for now but if you or others have interesting learnings feel free to re-open.

[2021-04-28 21:58] #1011 closed

[2021-04-28 22:06] stas00 commented on #998
so the solution to make `fio` work was to remove `filename=input.file`, so:
[code]

and `fio` the results were identical to @tjruwase's benchmark - 1.6GB/s for write and 22GB/s for read.

We suspect some other caching is happening and `echo 1 > /proc/sys/vm/drop_caches` wasn't flushing the cache. So we aren't sure how to proceed in this case.

[2021-04-28 22:19] stas00 commented on #776
Thank you for the additions, @janEbert!

And since fp32 is being worked on https://github.com/microsoft/DeepSpeed/pull/1004, this could be dynamic.
[code]
so it can automatically handle the case of `model.half()` (fp16) or not (fp32) down the road.

[2021-04-28 23:36] hwidong-na commented on #828
Hi @sshleifer ,

Could you elaborate more on this? It would be appreciate to provide your experimental settings such as model size, batch size, and computing resources.

Best regards,
Hwidong

[2021-04-29 00:05] stas00 commented on #1009
OK, I see it stores the weights differently under a single gpu, could you please give a chance to this version of the script?

https://gist.github.com/stas00/479a6ae2fac070e866440d8a5211f5cd

Please ignore all the debug noise, just watch for the final:
[code]
should be around 270MB for the t5-small in your double model.

I did only a quick validation, so I'm not 100% it reconstructs it correctly.

[2021-04-29 00:21] stas00 commented on #1009
I'm also suspecting that the params are ordered in a different way in checkpoint's optim_states - which may lead to incorrectly reconstructed state_dict - so it may look ok and work well - but won't be exactly the same - debugging this right now.

[2021-04-29 02:52] Santosh-Gupta opened #1016 "Deepspeed not killing process if script exits due to error?"
I've been debugging my code to run with deepspeed, and I started noticing cuda out of memory errors. I check `nvidia-smi` and see that most of my GPU memory is still being used. I check my python processes and see a bunch of instances of my deepspeed scripts, I think for each attempt at running my script.

https://snipboard.io/R9DVu3.jpg

I had to stop each one directly using `kill -9`. After that

[2021-04-29 03:20] stas00 commented on #1009
@exelents, please try this PR https://github.com/microsoft/DeepSpeed/pull/1017
You will need to re-run the training to get the script updated, or you can just manually copy it from [here](https://raw.githubusercontent.com/microsoft/DeepSpeed/e0f8b6ef2bc779285595d47ea6d36af0655d8d18/deepspeed/utils/zero_to_fp32.py)

Please let me know the outcome. Thank you.

[2021-04-29 06:23] Santosh-Gupta commented on #1016
It looks like just running one deepspeed script results in around 40 processes being created.

[2021-04-29 06:52] janEbert commented on #776
Oh nice, that input conversion is even better! Happy to hear FP32 ZeRO 3 is getting PRed as well. :)

[2021-04-29 07:09] janEbert commented on #776
Actually I just noticed, so long as the device is set correctly (that is, with `torch.cuda.set_device(local_rank)`), `model = model.cuda()` can be left in and `model = model.half()` can be left in either way.

See [device setup](https://github.com/microsoft/DeepSpeed/blob/41ab660b5df3567966935fe8ac3672497bc8690a/deepspeed/runtime/engine.py#L504-L505) and [model conversion](https://github.com/micro

[2021-04-29 09:30] Santosh-Gupta opened #1018 "How to properly use `IterableDataset`, with DeepSpeed ?"
This is a follow up on this issue

https://github.com/microsoft/DeepSpeed/issues/285

Where the same question was asked, and the users was pointed to the bing bert example [ https://github.com/microsoft/DeepSpeedExamples/tree/fd6fb5148ccf5c9ce222432006f1d93806187cd9/bing_bert ]

From looking at the bing bert example, the data generator is not loaded with `deepspeed.initialize` (I previously tried

[2021-04-29 11:46] janEbert opened #1019 "ZeRO Stage 3: Calling submodules"
Hey, a less abstract description for this issue could also be "ZeRO Stage 3: Best practices for non-forward calls".
I'll start with a high-level description and high-level questions and end with issues and questions toward the more low-level stuff.

### Problem Description
I have a model implementing a method `generate_images` which I'd like to call during training to monitor progress.

This metho

[2021-04-29 12:05] #1009 closed

[2021-04-29 12:55] OleNet opened #1020 "Can Deepspeed-Sparse-Attention work with auto-regressive attention (left triangle attention)?"
Hi ,
Recently, I have been working on the NLG(Natural Language Generation) model whose attention is a left triangle attention, like following picuture:

![image](https://user-images.githubusercontent.com/3206718/116553259-84681180-a92c-11eb-913a-26629b910959.png)

But from the code I have read from deepspeed, it only support block sparse (block_size > 1) which can't satisfy the condition : "a word

[2021-04-29 13:50] tjruwase commented on #966
@szhengac, I think the ZeRO3 regression is now fixed. PR should be merged soon. Thanks for helping to find this corner case. I extended your test case to 17 iterations.

  | 0 | 1 | 2 | 3
-- | -- | -- | -- | --
1 | 1.683594 | 1.683594 | 1.683594 | 1.683594
2 | 1.853516 | 1.853516 | 1.853516 | 1.853516
3 | 1.154297 | 1.154297 | 1.154297 | 1.154297
4 | 1.125977 | 1.125977 | 1.125977 | 1.125977
5 | 1

[2021-04-29 16:49] stas00 commented on #776
Based on my understanding this is all taken care of internally by DeepSpeed, so you want to skip both of those calls if your training loop is running under Deepspeed - this is what we do in HF Trainer.

`model = model.cuda()` will OOM anyway if your model is larger than gpu0.

[2021-04-29 19:10] szhengac commented on #966
@tjruwase Thanks for the quick fix. I just took a look at your PR. So the squared gradient norm were reduced twice?

[2021-04-29 22:05] jeffra commented on #961
#964 should solve this issue, please re-open if issue persists

[2021-04-30 02:32] stas00 commented on #998
I have a new datapoint:

### Seagate FireCuda 510 - 2 Tb

advertised sequential:
- read 3.45 GB/s
- write 3.2 GB/s

benchmark:
[code]

[2021-04-30 04:31] stas00 opened #1022 "[docs] `fp16:min_loss_scale` inconsistency"
at https://www.deepspeed.ai/docs/config-json/#fp16-training-options

[code]
and then in the following doc:

[code]

which is 1000x larger than the example.

Which is the recommended value then?

Thank you.

[2021-04-30 07:07] janEbert commented on #776
Yea I guess it's better to just give your concrete advice; who knows how the internals will change with the speed this is moving at. :)

[2021-04-30 12:32] janEbert commented on #907
Hey, you need to make sure all necessary classes are imported before initializing `deepspeed.zero.Init`.

The context first registers its functionality on all subclasses of `torch.nn.Module`. When the context exits, it tries removing it for all subclasses and that's probably when the error happens.

These lines are the issue – the model is imported only after the context has been initialized. Addi

[2021-04-30 12:33] janEbert commented on #907
For future reference, the same can happen when a checkpoint is loaded during initialization. If only that checkpoint contains the class information but the necessary imports are missing before entering the context, that's another source for errors.

[2021-04-30 17:03] #973 closed

[2021-04-30 21:22] e-sha commented on #967
Yes it fixes the problem. Please explain the problem in more details.
![Screenshot from 2021-05-01 00-20-02](https://user-images.githubusercontent.com/6618622/116755517-34b04580-aa13-11eb-81e5-1ff8705c6121.png)
![Screenshot from 2021-05-01 00-20-25](https://user-images.githubusercontent.com/6618622/116755520-35e17280-aa13-11eb-9e11-49a093a3486d.png)

[2021-04-30 21:29] tjruwase commented on #967
@e-sha, thanks for confirming the fix. The problem was due to a bug in the reduce-scatter implementation of ZeRO-1, which is the default behavior. The current fix is a workaround to use all-reduce as default for reduction in ZeRO-1. We plan to address the underlying issue later. One thing for you to check is whether you are seeing perf loss because all-reduce is slower than reduce-scatter. Please

[2021-04-30 21:29] tjruwase commented on #967
@e-sha, also can you please close this issue once you are satisfied with the resolution? Thanks.

[2021-04-30 22:00] #967 closed

[2021-05-01 00:21] fac2003 commented on #1006
@tjruwase Interesting. Glad this helped identify an edge case for weight sharing.  I confirm that the model works with stage 3 when when sharing is disabled. Thanks, will be interesting to see how these models train with deepspeed stage 3 without weight sharing.

[2021-05-01 15:56] ikuyamada opened #1028 "Converting DeepSpeedTransformerLayer to Hugging Face Transformers' BERTLayer"
Hi, thank you for publicizing this amazing work!
When `pre_layer_norm=False`, I think that the `DeepSpeedTransformerLayer` exactly equivalent to the vanilla hidden layer of the transformer architecture. If so, is it possible to convert `DeepSpeedTransformerLayer` to `BERTLayer` in Hugging Face Transformers?
It seems that `DeepSpeedTransformerLayer` has the following parameters: 'attn_qkvw', 'attn_

[2021-05-01 20:37] jywu-msft opened #1029 "https://github.com/microsoft/DeepSpeed/pull/1012"
I think that PR has a bug.
we're seeing the below error since yesterday
    self.training_dataloader = self.deepspeed_io(training_data)
  File "/usr/local/lib/python3.6/dist-packages/deepspeed/runtime/engine.py", line 164, in __init__
  File "/usr/local/lib/python3.6/dist-packages/deepspeed/runtime/engine.py", line 845, in deepspeed_io
    self.training_dataloader = self.deepspeed_io(training_data

[2021-05-02 13:47] SuperSpaceEye opened #1030 "Cannot run a test model in notebook"
I try to use deepspeed in notebook with test model, but it doesn't work.
I use
cuda 11.1
pytorch is 1.8.1
windows

Code:
[code]

Error:
---------------------------------------------------------------------------

RuntimeError                              Traceback (most recent call last)

<ipython-input-10-727186ce21f1> in <module>
      4                                                      confi

[2021-05-03 01:16] butterluo opened #1031 "Why use detech() here?"
https://github.com/microsoft/DeepSpeed/blob/b3870363e026717752c119b21870e2886b9ad92d/deepspeed/runtime/zero/stage3.py#L566

Why use detech() in PostBackwardFunction.forward()

[2021-05-03 05:18] cli99 commented on #1029
@jywu-msft Thanks a lot for pointing this out. It's a typo and I am fixing it in https://github.com/microsoft/DeepSpeed/pull/1032.

[2021-05-03 07:23] Vbansal21 opened #1033 "AssertionError: num_elems 513024> buffer 513000."
My System:
Ubuntu groovy 20.10
NVIDIA-SMI 460.73.01    Driver Version: 460.73.01    CUDA Version: 11.2
torch 1.8.1
deepspeed 0.3.16

For some combination it works, while for others it doesn't, it is very random.

code:
`import deepspeed, torch

model = torch.nn.Sequential(
    torch.nn.Linear(512,1000)
)

deepspeed_args = {
  "train_batch_size": 1,
  "gradient_accumulation_steps": 1,
  "fp16": {

[2021-05-03 08:58] Vbansal21 commented on #1033
changing sub_group size to very small (1e3) and persistence_threshold to 1e8 made it running.

[2021-05-03 10:20] SuperSpaceEye commented on #1030
I just needed to put
[code]
before initializing.

[2021-05-03 10:20] #1030 closed

[2021-05-03 11:08] SuperSpaceEye opened #1034 "Zero optimization doesn't work"
When I use any zero optimization in config, I catch this error.
Using:
pytorch 1.8.1
windows 10
gtx 1070

---------------------------------------------------------------------------

AttributeError                            Traceback (most recent call last)

<ipython-input-23-51abee19513b> in <module>
      4                                                      config_params=config,
      5

[2021-05-03 11:11] thies1006 opened #1035 "AttributeError: 'NoneType' object has no attribute 'available_swap_in_buffers'"
Hello,
I installed Deepspeed today from master and I would like to do complete NVMe offload. I tried with the old Megatron-LM example (not Megatron-LM-v1.1.5-ZeRO3, because this one gives another error) using an SSD disk. The error I get is the following:
[code]
Configuration:
[code]

[2021-05-03 14:21] tjruwase commented on #1033
@Vbansal21, @stas00, @thies1006, I reopened this because I have found the original bug and will link a PR shortly. Thanks for all your contributions to locating this bug.

[2021-05-03 15:08] stas00 opened #1037 "deepspeed.ops.op_builder.async_io.AsyncIOBuilder assert"
How can we make it clear to the user that they need to do `apt install libaio-dev` in this assert?
[code]

@tjruwase, can't we just say  `apt install libaio-dev` in the error message?
[code]

[2021-05-03 16:24] thies1006 commented on #1033
@tjruwase, great that you found it! I tried it out with the Huggingface integration and it looks good. I'm getting now another error, but it appears later (```AttributeError: 'NoneType' object has no attribute 'available_swap_in_buffers'```, I filed another issue # 1035).

[2021-05-03 16:48] tjruwase commented on #1037
@stas00, if you still have the log can you please check if the assert message is preceded by warning like this: `... requires the libraries: {aio_libraries} but are missing.` ?

[2021-05-03 17:05] tjruwase commented on #1035
@thies1006 can you please share the issue with Megatron-LM-v1.1.5-ZeRO3? The old megatron example does not work with ZeRO-3.

[2021-05-03 17:18] stas00 commented on #1037
I was given just this part of the trace, so I don't have access to the full log, but as we discussed here: https://github.com/microsoft/DeepSpeed/issues/998#issuecomment-827865376 it must have been the case.

Clearly, the users don't connect the warning and the traceback. Hence the suggestion to include the explicit requirements in the error message.

[2021-05-03 17:46] thies1006 commented on #1035
Hello @tjruwase! Ok, that's good to know. Regarding Megatron-LM-v1.1.5-ZeRO3 I was referring to the issue https://github.com/microsoft/DeepSpeedExamples/issues/92. Please feel free to close this issue then. I saw the same error when using the Huggingface integration as well, that's why I assumed that Zero3 would work as well with the old Megatron-LM.

[2021-05-03 18:04] tjruwase commented on #1035
@thies1006, thanks for the clarification. I will close this issue.

[2021-05-03 18:04] #1035 closed

[2021-05-03 18:07] tjruwase commented on #1037
Got it. Okay, this will require a bit more code in the JIT engine. We will look into that.

[2021-05-03 18:18] stas00 commented on #1037
Perhaps there is a way to check if `libaio-dev` is installed, other than using `apt` since it's not the only package manager. But through some other way.

Looking at the contents of the package, other than .so and .a objects, there is `/usr/include/libaio.h` - I'm not sure if any of these can be checked for directly from python, but probably a tiny .c program could be used to test for it or howeve

[2021-05-03 18:43] szhengac commented on #907
I was using an older version where they are no these two lines

[2021-05-04 04:19] Vbansal21 commented on #1033
I solved that issue by first initialising torch.optim.adam , then passing it to deepspeed.initialize to the optimizer argument.

[2021-05-04 04:22] Vbansal21 commented on #1033
New issue is now there, nn.Linear is showing cublas_gemmex error when the linear layer is in a big model (like transformer).
(Cublas Gemmex error generally was caused, in my case, due to some function which were not compatible with cuda)

[2021-05-04 04:41] Vbansal21 commented on #1034
I found a possibly temporary solution, by passing a pre initialized torch.optim.adam optimizer to the deepspeed.initialize optimizer argument.

[2021-05-04 09:21] SuperSpaceEye commented on #1034
Thank you. It works now.

[2021-05-04 09:21] #1034 closed

[2021-05-04 12:35] Vbansal21 opened #1041 "Deepspeed and deepspeed.zero.Init() broken for big models."
My System:
Ubuntu groovy 20.10
NVIDIA-SMI 460.73.01    Driver Version: 460.73.01    CUDA Version: 11.2
torch 1.8.1
deepspeed 0.3.16

For models with many different modules and layers of module inside module, the deepspeed.zero.init() model builder breaks.

`
[2021-05-04 17:45:45,998] [INFO] [distributed.py:36:init_distributed] Not using the DeepSpeed or torch.distributed launchers, attempting to d

[2021-05-04 23:43] #811 closed

[2021-05-05 13:42] RaviTej310 opened #1043 "Sparse attention error: IndexError: index 0 is out of bounds for dimension 1 with size 0"
I am trying to use `sparse attention`, but I get this error: `*** IndexError: index 0 is out of bounds for dimension 1 with size 0` on this line - https://github.com/microsoft/DeepSpeed/blob/e4139a7dc14ba0a1d9263e7f11a16b168a180fe8/deepspeed/ops/sparse_attention/sparse_self_attention.py#L152.

My query and key tensors look fine when I set a breakpoint before this line, and I'm not sure where I am

[2021-05-05 15:54] janEbert commented on #1041
Probably this may help: https://github.com/microsoft/DeepSpeed/issues/907#issuecomment-830061773

[2021-05-05 20:01] #1033 closed

[2021-05-06 00:19] stas00 opened #1045 "[zero3] nn.utils.weight_norm gotchas"
@samyam and I have sorted out `nn.utils.weight_norm` gotchas in wav2vec2 HF code, and are looking at some better solutions but I will document this for posterity:

So here ` self.conv.weight` Param is created and then instantly replaced by `self.conv.weight_v` and `self.conv.weight_g` which deepspeed's `zero.Init` currently misses since they happen outside of `Conv1D` init.

So below is the soluti

[2021-05-06 00:32] stas00 opened #1046 "[request] more intutive api for GatheredParameters read_only vs. write"
Currently one has to remember to add `modifier_rank=0`:
[code]
this is very unintuitive API and it won't fail if you forget to add it. Often that leads to subtle errors.

Could we change this to something more human meaningful and more difficult to forget?

I propose a required named flag, e.g. `modify`, so now we will have:

[code]

and if `modify==True` it will check that `modifier_rank` is enfo

[2021-05-06 00:47] stas00 opened #1047 "restore `register_external_parameter` doc"
Clearly [we still need](https://github.com/microsoft/DeepSpeed/issues/1045) `register_external_parameter`, so we probably should restore:
https://www.deepspeed.ai/tutorials/zero/#registering-external-parameters
to 0.3.15-state.

[2021-05-06 00:47] stas00 opened #1048 "[zero3] `register_external_parameter` to partition non ds-params"
Currently, `register_external_parameter` handles non-ds-params correctly during `forward`, but if these same params are touched during model init (e.g. during a global init_weights) these break and require manual gathering. See: https://github.com/microsoft/DeepSpeed/issues/1045 for context.

So ideally `register_external_parameter` should partition its argument if it hasn't been so already.

I wo

[2021-05-06 01:41] g-karthik commented on #733
Hey @jeffra! It looks like FB published a new Docker image for the latest PyTorch, with NCCL 2.9.6:

https://docs.nvidia.com/deeplearning/frameworks/pytorch-release-notes/rel_21-04.html#rel_21-04

Seems like the LD_PRELOAD hack won't be needed any more? I see your PyTorch PRs haven't been merged but I am assuming they're not needed.

Does DeepSpeed support this base image?

[2021-05-06 06:14] g-karthik opened #1049 "Ampere support for Ops builder"
https://github.com/microsoft/DeepSpeed/blob/be5cd76a2871b1c10bdebf8d54a05875cc7a27b4/op_builder/builder.py#L17

8.0 here? @jeffra @ShadenSmith

[2021-05-06 06:18] g-karthik commented on #1049
Never mind, just noticed that `TORCH_CUDA_ARCH_LIST ` takes precedence over cross-compile archs.

[2021-05-06 06:18] #1049 closed

[2021-05-06 07:59] Vbansal21 commented on #1041
This converged to the second problem, i.e.
"RuntimeError: mat1 dim 1 must match mat2 dim 0" which was earlier caused due to changing the main code, this time it happened by itself.

[2021-05-06 12:42] ecly opened #1051 "Dynamic/variable batch size support"
For the model I am training, I am relying on a custom [Sampler](https://pytorch.org/docs/stable/data.html#torch.utils.data.Sampler), that returns variable batch sizes. My task at hand is translation, where I following [Attention is all you need (2017)](https://papers.nips.cc/paper/2017/file/3f5ee243547dee91fbd053c1c4a845aa-Paper.pdf) create batches based on total token count in a batch, which give

[2021-05-06 16:08] jeffra commented on #733
@g-karthik, thanks for this pointer! I will give it a try on our side. At a quick glance I don't see why DeepSpeed would have any issues with this image though. We've recently tested a version of NCCL 2.9.6 + torch 1.7 via a custom build and that was all fine.

[2021-05-06 18:43] tjruwase commented on #998
@stas00, I wanted to bring this back to the fore. I am working on the two major feedback listed below, please correct me.

1. New sweep script with following features:
    1. Default shorter sweep, with json config option to expand search space.
    2. Default no sudo requirement, and thus no cache disabling. Cache disabling is command-line option.

2. New analysis script to generate `aio `param s

[2021-05-06 19:09] stas00 commented on #998
Looks great, @tjruwase - awesome work!

1. Could we use good defaults for all of these so that in the simple case the user just needs to run:

[code]

Using `aio_bench_` or some other very unique prefix naming should be pretty safe.

Read file can be generated on the fly if it's not there already, with a printout
[code]
so that the user know the program isn't hanging...

2. Do you think we should

[2021-05-06 19:28] tjruwase commented on #998
Thanks for the feedback. I am digesting them.

I think we can get good defaults for most things, but I think the user still needs to specify a folder path of the device. Even if the script will generate the read file as suggested below, we still need a destination folder, right? Or what did you have in mind?

[2021-05-06 19:35] stas00 commented on #998
Well, until now I was just copying the whole benchmark into the folder on NVMe, if you look at the instructions in OP, it says:
[code]
and then it's just a local folder

But, you're correct that my approach might not be ideal and it's the best to require a single argument that is a path on a nvme drive so it's explicit, which can be `.` if one followed my suggestion.

So perhaps:
[code]

[2021-05-06 19:36] tjruwase commented on #998
@stas00, based on your feedback, what do you think of a different argument approach:
[code]
With this proposal the only required argument will be the `--io_path`

[2021-05-06 19:38] stas00 commented on #998
That looks perfect, @tjruwase!

[2021-05-06 19:38] tjruwase commented on #998
Awesome, I will get to work with the modifications. Thanks!

[2021-05-07 07:07] szhengac commented on #961
@RezaYazdaniAminabadi I can still see the Assertion Error using the latest DeepSpeed. The Assertion Errors are the same as above. Can you reopen the issue? I am not able to reopen it.

[2021-05-07 07:09] szhengac commented on #961
And, the three test cases I used are not in `test_cuda_backward.py`. I added them by myself.

[2021-05-07 07:13] RezaYazdaniAminabadi commented on #961
@szhengac,

Yes, I am aware of this. Unfortunately, I did not have enough time to investigate this. I hope to fix it soon. Thanks for your patience.

[2021-05-07 07:14] RezaYazdaniAminabadi commented on #961
I just reopened the issue

[2021-05-07 09:33] wushupei1997 opened #1054 "how to use torch.save() to save my model"
I used to use torch.save() to save my model. I might be more used to using torch.save.How about using torch.save() in deepspeed to save the parameters of the model?

[2021-05-07 11:48] BitVoyage opened #1055 "This cmd="dkpd -l" doesn't match Centos for checking libaio"
https://github.com/microsoft/DeepSpeed/blob/fb1213fc2a6564d984c3e0e3dd119ec25deb6ca3/op_builder/builder.py#L128

[2021-05-07 15:56] tjruwase commented on #1054
@wushupei1997, are you experiencing an issue with deepspeed's checkpointing mechanism? DeepSpeed internally uses [torch.save()](https://github.com/microsoft/DeepSpeed/blob/fb1213fc2a6564d984c3e0e3dd119ec25deb6ca3/deepspeed/runtime/engine.py#L1720). Also you are free not to use deepspeed's checkpointing as long as you don't rely on deepspeed internal states in your training.  Hope that helps.

[2021-05-08 02:34] wushupei1997 opened #1056 "subprocess.CalledProcessError: Command '['/home/wushupei1997/anaconda3/envs/torch/bin/python', '-u','main2.py', '--local_rank=0', '--deepspeed_config', 'ds_config.json']' returned non-zero exit status1."
[RedHat]
this is my issue:

Emitting ninja build file /home/wushupei1997/.cache/torch_extensions/utils/build.ninja...
Building extension module utils...
Allowing ninja to set a default number of workers... (overridable by setting the environment variable MAX_JOBS=N)
[1/2] c++ -MMD -MF flatten_unflatten.o.d -DTORCH_EXTENSION_NAME=utils -DTORCH_API_INCLUDE_EXTENSION_H -isystem /home/wushupei1997/ana

[2021-05-08 02:46] g-karthik opened #1057 "deepspeed activation checkpointing fails with python 3.8"
High-level (since @tjruwase is familiar with this) repro steps:
- use the following environment: nvcr.io/nvidia/pytorch:21.03-py3, install deepspeed from source and Hugging Face transformers from PyPI
- take the latest Hugging Face transformers code for GPT-2 (`modeling_gpt2.py`), replace `torch.utils.checkpoint` with `deepspeed.checkpointing.checkpoint`
- train any GPT-2 model with deepspeed (but

[2021-05-08 04:51] Elec-coder commented on #1054
I also encounter a problem when I use multi GPU , it can not save the checkpoints.

[2021-05-08 04:52] Elec-coder commented on #1054
I also encounter a problem when I use multi GPU , it can not save the checkpoints.

[2021-05-10 16:42] tjruwase commented on #998
@stas00, I just created #1059 with both scripts. The first is new performance sweep script with similar output but the following usage:

[code]

[2021-05-10 16:46] tjruwase commented on #998
The second script generates an aio param config from the log files.

[code]

Sample output is below, users can simply copy-n-paste the `aio `section into deepseed config json.
[code]

[2021-05-11 03:22] wushupei1997 opened #1061 "Some Problems with ZeRO Optimizations for FP16 Training"
When using deepspeed, I configured the FP16 parameter, which reduced the memory of my large model training graphics. However, after adding zero's second-stage function, the memory was exceeded. Why? Can't these two functions be used at the same time?

[2021-05-11 09:24] mouxiaofeng1981 commented on #1055
![image](https://user-images.githubusercontent.com/26455482/117792223-ad1dce80-b27d-11eb-9cd3-16a2ce6facbe.png)

[2021-05-11 17:13] stas00 commented on #1046
Exactly!

[2021-05-11 21:36] siddk opened #1062 "Enhancement: Clean up zero_to_fp32.py"
Current `zero_to_fp32.py` script is in need of optimization; currently the existing implementation requires 2X RAM for the parameters themselves.

Additionally, add documentation for when this script is necessary, how to plug into HuggingFace.

cc @stas00.

[2021-05-11 21:39] stas00 commented on #1062
Awesome! Thank you!

I'd start with adding a test first, so that the new version still works ;)

and the docs to plug into HF aren't needed. It's a built-in Deepspeed feature, it doesn't matter how uses it, as long as the checkpoint is saved it'll have this script bundled in the checkpoint folder.

[2021-05-11 21:39] siddk commented on #1062
Yup - happy to do so - will work through this in the next few days!

[2021-05-11 21:42] stas00 commented on #1062
I don't recall when the script was added - I'd recommend working with the latest deepspeed both because transformers master requires it and there were bug fixes in deepspeed since 0.3.13.

[2021-05-11 22:03] siddk commented on #1062
@stas00 - happy to upgrade to newer DeepSpeed/Transformers.

But re: the note in the Transformer docs. We trained a GPT-2 model with HuggingFace 4.5.0 and DS 0.3.13, with ZeRO-2 (in FP16). Just spun up a notebook, and tried loading the checkpoint -- seems to say weights are all in FP32 by default?
![image](https://user-images.githubusercontent.com/2498509/117890427-ffed8b00-b269-11eb-96fc-4873f6e9

[2021-05-11 23:01] stas00 commented on #1062
Indeed, you get fp16 weights loaded as fp32 weights. Because the model is initialized in `dtype==fp32`, fp16 weights get auto-converted to `fp32`.

the easiest way to check that you're loading fp16 weights, other than manually doing `torch.load` is to look at the size of the file. under ds/fp16 it'll be half the size of the normal model.

and with `torch.load`:
[code]

(this is from `t5-small`)

H

[2021-05-11 23:02] stas00 commented on #1062
The only way to get fp32 weights under deepspeed/fp16-mode is to reconsolidate those from the optimizer checkpoint files.

[2021-05-11 23:08] siddk commented on #1062
I think having this in the docs would be really good; it still isn't clear to me why you'd need to run the `zero_to_fp32.py` script if `.from_pretrained()` is enough.

Especially for most usecases (fine-tuning, evaluating) involving models trained with DeepSpeed, that should be plenty?

[2021-05-11 23:09] stas00 commented on #1062
the way deepspeed works is
1. stash fp32 master weights in optimizer
2. model.half()

so your `state_dict` is at fp16.

Regardless of zero2 or zero3 deepspeed's checkpoint optimizer always has fp32 master weights.

`zero_to_fp32.py` is there to recover those.

[2021-05-11 23:12] stas00 commented on #1062
The only time you really want the fp32 weights if you release them on hub or share with someone - you're losing some precision when you downcast to fp16 weights.

So, you don't need `zero_to_fp32.py` for normal train/resume functioning.

Definitely not if you are resuming from deepspeed checkpoint, since it has the fp32 weights there already.

[2021-05-11 23:12] siddk commented on #1062
And these optimizer master FP32 weights are always "more complete" than the `model.half()` weights? When other models are trained with FP16, do you have a sense as to whether they return the optimizer FP32 weights, or just the FP16 weights which they upcast to FP32?

[2021-05-11 23:19] stas00 commented on #1062
ah, but no, there is the fp16 recovery under zero3 there as well, so it should be read.

[2021-05-11 23:23] siddk commented on #1062
Got it - I understand now, thank you so much for taking the time to explain this to me! Have you thought about just automating the save procedure with DeepSpeed to just run the export to FP32 under the hood? Presumably it doesn't take *that* long?

[2021-05-11 23:28] stas00 commented on #1062
1. It takes a long time (unless your model is tiny), which can dramatically slow down the training - and why do that when the fp32 weights are already saved!
2. it needs a lot of memory, which the program already starved for it doesn't usually have - and it's very likely to OOM or run out of RAM.

[2021-05-11 23:35] siddk commented on #1062
Ok that's fair; alright well I have my work cut out for me - will start by writing some tests and going from there.

[2021-05-11 23:44] stas00 commented on #1062
please note 2 critical gotchas

1. I missed it in the first incarnation of this script - I used a model that had only one param_group and I was completely oblivious that it's not always the case. So the script failed as soon as multi-param-group model was run into. So for the test it's probably the best to create/use a small model that has 2-3 param groups and it will then work for 1-group too.
2.

[2021-05-12 05:06] Elec-coder commented on #1054
when I running bing_bert (as described in #942) , it  stuck at the end of the first epoch.  But it is normal by using one gpu.
[2021-05-12 07:54:24,341] [INFO] [timer.py:154:stop] 0/24000, SamplesPerSec=432.09928189015864
 63%|████████████████████████████████████████████████████▌                               | 9595/15323 [47:26<27:46,  3.44it/s][2021-05-12 07:59:19,286] [INFO] [timer.py:154:stop]

[2021-05-12 06:30] tjruwase commented on #942
@ellen1230, sorry for the delay in responding to this. Are you running the deepspeed example code unmodified, or did you make some changes? Is it calling save_checkpoint on every rank?

[2021-05-12 06:31] tjruwase commented on #1054
@Elec-coder, thanks for sharing this log. Can you confirm that save_checkpoint is called on all the ranks?

[2021-05-12 06:35] tjruwase commented on #1061
@wushupei1997, can you please share more details about these observations, such as model size, deepspeed configs for both stage 1 & 2, memory usage, etc. Thanks.

[2021-05-12 07:51] wushupei1997 commented on #1061
@tjruwase , My deepspeed configs look like this:
{
  "train_batch_size": 10240,
  "fp16": {"enabled": true, "loss_scale": 0, "initial_scale_power": 32, "loss_scale_window": 1000, "hysteresis": 2, "min_loss_scale": 1},
  "zero_optimization": {
        "stage": 2,
        "cpu_offload": true,
        "contiguous_gradients": true,
        "overlap_comm": true
    }
}
memory usage: 4369 MB of memory i

[2021-05-12 12:43] tjruwase commented on #1061
@wushupei1997, thanks for sharing these details. Can you please check out #467 to see if related? If not, can you share the model size in terms of number of parameters? This would help more accurately estimate the memory consumption of ZeRO-2 Offload.

[2021-05-13 01:43] g-karthik commented on #1057
@tjruwase Could you please help with this? What is the recommended version of python, pytorch and NCCL to use with DeepSpeed? Can I use the above mentioned NGC base image? Clearly DeepSpeed seems to fail with python 3.8 as seen in the above reported experiment.

Also related to this upgrade (and a more severe performance issue that I flagged to @jeffra): https://github.com/microsoft/DeepSpeed/issu

[2021-05-13 03:13] g-karthik commented on #1057
@jeffra About the severe regression in `backward_inner` time, I have an update.

It seems to happen only with DeepSpeed versions > v0.3.12. I downgraded to v0.3.12 from the latest DeepSpeed and the `backward_inner` times are so much more reasonable now.

So the gist seems to be that it isn't an NCCL upgrade issue, but rather a DeepSpeed issue.

[2021-05-13 03:15] g-karthik commented on #733
The degradation mentioned above is a deepspeed issue, not an NCCL issue. Just pasting my findings here for completeness: https://github.com/microsoft/DeepSpeed/issues/1057#issuecomment-840259981

[2021-05-13 03:35] Elec-coder commented on #1054
Thank you for your reply, the problem is when one GPU reached 100% : for example:100%|█████████████████████████████████████████████████████████████████████████| 15323/15323 [24:00<00:00, 10.64it/s]
the other GPUs  stoped.   It seems they can not  fetch the data and  stop computing.
the other GPUs stoped here:
96%|█████████████████████████████████████████████████████████████████████▉   | 15358/1603

[2021-05-13 11:13] denti commented on #790
@jeffa I tried to run DeepSpeed https://github.com/microsoft/DeepSpeed/tree/sparse-attn/support-latest-triton on V100 and A100. And both pipelines failed with an error.
Here are steps that I did:

1. docker run -it --gpus=all --rm -v /home/dtimonin:/home/dtimonin deepspeed/deepspeed:latest-torch170-cuda110 /bin/bash
2. pip uninstall deepspeed
3. git clone https://github.com/microsoft/DeepSpeed
4.

[2021-05-13 16:09] stephenrawls opened #1069 "Performance Degradation with ZERO Stage 3"
Hi,

I am trying to benchmark a 10B parameter Huggingface `RobertaForMaskedLM` model with both ZERO Stage 2 and ZERO Stage 3 to compare the latency impact of parameter partitioning.

I am seeing _much worse_ performance with Stage 3 than expected however, so want to check if something looks wrong.

[code]
The problem does not seem to be related to network bandwidth, because when I move to p4d mach

[2021-05-13 16:30] stephenrawls opened #1070 "AsyncIO Error with Stage 3 + NVME offload"
Hi,

When trying to use ZERO Stage 3 with NVME offloading, which is required for fitting large models into memory, I am seeing the following error:
[code]
I have inserted some debug `print()` statements at both the write and read python call sites, here: https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/runtime/swap_tensor/utils.py#L19-L26

And I observe that when I am writing, the tens

[2021-05-13 16:51] tjruwase commented on #1070
@stephenrawls , thanks for reporting this issue.  Can you share details for us to repro this issue?

[2021-05-13 22:08] g-karthik opened #1073 "Severe performance degradation with deepspeed > v.0.3.12"
Creating a new issue with more details around what I reported in https://github.com/microsoft/DeepSpeed/issues/1057

I have been training a 8B parameter GPT-2 model with DeepSpeed Stage 2 enabled (micro-batch size 2, world size 64).

I used this base image `nvcr.io/nvidia/pytorch:21.03-py3` and installed the latest DeepSpeed on top of it. It has pytorch 1.9, python 3.8, NCCL 2.8.4.

I was seeing t

[2021-05-14 17:54] sudarshanintel opened #1075 "ZeRO Infinity Paper - Question"
Hi,
Few Questions on the recent paper- ZeRO-Infinity: Breaking the GPU Memory Wall for Extreme Scale Deep Learning..Tagging few authors of paper, who can help. @ShadenSmith @samyam

1) This table below was from Paper. For 5T, 10T, 20T model, there is mp=4,4,8. What is mp dimension actually means here? Is this model parallel 4? I presume in this paper, we are running Zero-Stage 3 with Nvme/CPU offl

[2021-05-15 17:50] Moldoteck opened #1077 "AdamCPU creates error"
self.optimizer = deepspeed.ops.adam.DeepSpeedCPUAdam(self.model.parameters(), lr=0.01, bias_correction=True, betas=(0.9, 0.999), eps=1e-08, weight_decay=0.0001, amsgrad=False, adamw_mode=True)
  File "/usr/local/lib/python3.7/dist-packages/deepspeed/ops/adam/cpu_adam.py", line 78, in __init__
    self.ds_opt_adam = CPUAdamBuilder().load()
  File "/usr/local/lib/python3.7/dist-packages/deepspeed/op

[2021-05-15 20:56] Moldoteck commented on #647
Is there a way to get the param_groups property of the optimizer if the optimizer was created by json config?

[2021-05-16 02:22] tjruwase commented on #1070
@stephenrawls, I think this is now fixed. Can you please verify with the master branch? Thanks!

[2021-05-16 02:38] tjruwase commented on #1075
@sudarshanintel, thanks for your questions.

1. mp does mean model parallelism. ZeRO stage 3 can be combined with model parallelism for large hidden dimensions (>= 18K) to fit the model or improve performance.

2. We did not have access to gpu direct storage in our development environment. But we are now exploring it for the obvious performance and implementation benefits.

[2021-05-16 02:41] tjruwase commented on #1077
It seems the above exception is the original issues. Can you please check if you have CUDA version mismatch by running and sharing the output of  `ds_report`?

[2021-05-16 06:34] Moldoteck commented on #1077
Yes, after installing cuda 11 the problem was solved, thank you. However i got some strange behavior: when creating adam from config, i get strange error, but when creating cudaadam manually, it works as expected. I will attach the error a bit later this day

[2021-05-16 08:06] Moldoteck commented on #1077
Nevermind. The problem was triggered by the fact that i haven't provided model.params when initializing

[2021-05-16 08:06] #1077 closed

[2021-05-16 17:57] sudarshanintel commented on #1075
@tjruwase :
 In current approach as in paper- each layer is already split (kind of mp here already) and brought into different parts of gpu memory, then we do all gather in fwd pass..Each gpu holds only part of each layer..This is already different from initial Zero-Stage3 implementation when each gpu is responsible for 1 full layer...Not clear to me how is mp applied in infinity with Zero- Satge3

[2021-05-17 08:05] wcshin-git opened #1079 "'ERROR: Failed building wheel for triton' on V100 with cuda10.1"
Hi, I have an error when I ran `DS_BUILD_SPARSE_ATTN=1 pip install deepspeed`
The error message is here.

[code]

My machine is V100 with
cuda 10.1
pytorch: 1.7.1
cmake: 3.10.2
g++, gcc: 7.5.0

I ran `sudo apt-get -y install llvm-9-dev cmake` before `DS_BUILD_SPARSE_ATTN=1 pip install deepspeed`

llvm-9-dev is already the newest version (1:9-2~ubuntu18.04.2).

Please help me...

[2021-05-17 08:25] Moldoteck opened #1080 "Activation checkpointing mpu_ problem"
I was trying to integrate zero offload with activation checkpointing in order to train a model related to point clouds.
This is how my config looks>
[code]
And this is how i am creating a model:
` self.model, self.optimizer,_,self.scheduler = deepspeed.initialize(model=self.model, optimizer=self.optimizer,lr_scheduler=self.scheduler,model_parameters=self.model.parameters(), config='./modules/ds_co

[2021-05-17 08:26] Moldoteck commented on #1080
And the strange thing is that in docs https://deepspeed.readthedocs.io/en/latest/activation-checkpointing.html mpu_ is labeled as optional

[2021-05-17 08:41] Moldoteck commented on #1080
Or deepspeed activation checkpointing is meant to be used only on multi-gpu configs?

[2021-05-17 09:56] Moldoteck opened #1081 "torch.utils.data.DataLoader vs deepspeed dataloader problem"
If i use dataloader from torch, everything works ok, but if i use the data from which i built torch.utils.data.DataLoader to create deepspeed instance, it fails:
    self.model, self.optimizer,self.parser.trainloader,self.scheduler = deepspeed.initialize(model=self.model, optimizer=self.optimizer,lr_scheduler=self.scheduler,model_parameters=self.model.parameters(),training_data=self.parser.train_d

[2021-05-17 10:36] Moldoteck opened #1082 "batch size confusion"
Hi. I am a bit confused: What happen when I have an torch.utils.Dataloader with batch size = 7 BUT in the deepspeed config i have set>
[code]

P.S. I am performing training on single GPU P100

[2021-05-17 14:57] StellaAthena opened #1083 "Distilling with DeepSpeed"
I am interested in using DeepSpeed for distilling, a context in which I need to build multiple models simultaneously. If I naively instantiate two models with DeepSpeed, will that cause problems with how DeepSpeed distributed across GPUs? In particular, would it be best to specify which GPUs each model should be launched on separately?

[2021-05-17 23:15] stephenrawls commented on #1070
I get same error with both latest master branch commit (#ee4deabd75331e9c1bb1383b2068fdebcb33ed08) and also your branch that is mentioned above (#42825bc96217c0969524e449f6901a7d0d72fa5e)

[2021-05-18 14:22] tjruwase commented on #1070
@stephenrawls, that is strange. Is it possible for you to share your model or model dimensions? That way, I can try a repro on my side?

[2021-05-18 14:25] tjruwase commented on #1082
In this case, DeepSpeed will report a larger samples per second statistics (assuming micro batch size of 20 instead of 7). But it should not have any impact on training correctness.

What are you observing?

[2021-05-18 14:39] stephenrawls commented on #1070
I am using a huggingface RobertaForMaskedLM model with this config:
[code]
I chose the size a bit arbitrarily just to test a model that was too big to fit without NVME offloading.

Not sure the easiest way to get you a reproducible script, but I will look into it.

[2021-05-18 14:58] Moldoteck commented on #1082
Just asked out of curiosity. Thank you for your response and by the way, your framework is very cool!

Also, if you have some time to explain:
I have set up parameter offloading and optimizer offloading for stage 3 in json for my model _(6M params), single gpu P100_, but it doesn't help increasing batch size: my original max batch size is 7 and even with offloading i get OOM for batch size bigger

[2021-05-18 16:33] jeffra commented on #1073
Hi @g-karthik, can you share your entire ds_config.json? I am a bit surprised by this actually. Also out of curiosity is this using Megatron or huggingface GPT-2?

[2021-05-18 18:03] tjruwase commented on #1070
Can you share the command-line that repros with huggingface RobertaForMaskedLM?

[2021-05-18 18:09] tjruwase commented on #1075
Yes, this is correct. This form of mp has always being compatible with ZeRO, from stage 1 to infinity.

[2021-05-18 18:38] tjruwase commented on #1080
Can you try passing `mpu_=None`?

[2021-05-18 18:41] tjruwase commented on #1081
@Moldoteck, you don't need to set `training_data`  when calling `deepspeed.initialize()`.  Can you try without it?

[2021-05-18 19:10] g-karthik commented on #1073
Hi @jeffra yes it's HF GPT-2. Here's the DS config I used in both cases:

[code]

[2021-05-18 21:05] tjruwase commented on #1082
A 6M model should easily fit into 12GB of a single P100. This suggests OOM is due to something other than model size. ZeRO is most useful when model size is the bottleneck.  A few things to try?

1. Share a stack trace of the OOM
2. Use fp16 mixed-precision training
3. Take a look at #467

[2021-05-18 21:12] tjruwase commented on #1083
If I understand correctly, you intend to use a single deepspeed invocation to instantiate two models simultaneously. If so, it should work but each GPU will have load both models, as you will have number of replicas of each model as number of GPUs (assuming data parallelism alone). Currently, gpu inclusion/exclusion is specified at the launch point.

You can also take a look at #154 in case it is

[2021-05-18 21:24] Moldoteck commented on #1080
Wow. Just tried it. Fixed some bugs which forced me to disable contiguous_memory_optimization. I'll create another ticket for that. But.... 5x batch size increase..... Is this legal?? Thank you for this amazing tool. Really democratizing training for research projects and students!

[2021-05-18 21:26] stephenrawls commented on #1070
I am able to reproduce problem with this script:

[code]

It is supposed to write out `5000 * 5000 * 2 = 50000000 bytes`. And indeed after building DeepSpeed with `#define DEBUG_DS_AIO_PERF 1` I see this in output:
[code]

However my file system shows me the file has wrong number of bytes:
[code]

I have confirmed this is the case after formatting drive with both ext4 and xfs filesystems.

[2021-05-18 21:55] stephenrawls commented on #1070
Note:

If I set the tensor I am writing above to be a multiple of block-size, e.g.:
[code]

Then I get the expected output size.

My guess is the problem is somehow in the async-io "carry-over" logic when writing out the last block that is less than the block size.

[2021-05-18 23:25] stephenrawls commented on #1070
One more piece of info:

I added a `for` loop at this line to print debug info for all the IOCBs, instead of just the first one: https://github.com/stephenrawls/DeepSpeed/blob/master/csrc/aio/common/deepspeed_aio_common.cpp#L100-L109

Upon doing that I noticed the following:
[code]
The discrapancy in file size is exactly `716928` bytes, meaning as suspected the "carry-over" buffer writing the last

[2021-05-18 23:47] tjruwase commented on #1070
@stephenrawls, thanks for sharing your observations. As you have rightly observed the aio library does not support writes that are not aligned to block size of 512. This is expected given the following considerations.

1. The original issue identified a real problem where parameter offloading in ZeRO-Infinity was not handling the misalignment issue and this PR #1076 has fixed that. Can you please

[2021-05-18 23:54] tjruwase commented on #1079
This suggests a missing cublas header file. Have you tried resolving that?

[2021-05-18 23:57] tjruwase commented on #1069
@stephenrawls, can you please share the command line for these results?

[2021-05-19 00:01] tjruwase commented on #1056
This looks like a compiler error. Can you share your environment details, including compiler version? Also, can you share the results of `ds_report`?

[2021-05-19 07:35] Moldoteck commented on #1080
By the way, if have groups of layers as nn.Module and my network is made out of that groups. Should i implement activation checkpointing for layers in the groups or just for network which uses that groups or for both?

[2021-05-19 10:42] Moldoteck opened #1084 "optimizer.param_groups have empty array params field"
I want to read and perform some statistics for params of the optimizer, but when i print them, i get:

`{'params': [], 'lr': 0.005010109368942421, 'betas': (0.9, 0.999), 'eps': 1e-08, 'weight_decay': 0.0001, 'bias_correction': True, 'amsgrad': False}`

Used optimizer: CPUAdam, provided to deepspeed.initialize as parameter

[2021-05-19 11:54] tjruwase commented on #1080
@Moldoteck, unfortunately I don't know which is easier/better, so please do share your observations as you explore both approaches.

[2021-05-19 12:47] wcshin-git commented on #1079
Thank you for your reply!
Actually I couldn't fix this error, so I used a docker container and it works now!

[2021-05-19 13:31] Moldoteck commented on #1080
So, i have tried:
NN + checkpoints on high level: baseline
NN + checkpoints on high level + checkpoints on low level: There is no memory improvement, but slower than baseline
NN + checkpoints on low level: like baseline, a bit slower than it, but it is much harder to implement for each submodule.
Conclusion> Checkpoints on highest level for my use-case is the best option

[2021-05-19 13:31] #1080 closed

[2021-05-19 13:59] stephenrawls commented on #1070
Ah, I see the PR you mentioned was just merged yesterday. I tried again, using DeepSpeed commit d88d92799553cb75af536fd4af766ec56e4018cd.

But I still see the same problem:
[code]

I do not. I simply tried to use it to create a minimally-reproducing script that demonstrates the bug I am seeing, because running the full training code takes a long time until it reports an error.

[2021-05-19 14:57] stephenrawls commented on #1070
@tjruwase  I have identified the problem is here: https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/runtime/zero/stage3.py#L1027-L1029

Basically all the aio read calls directly in `partitioned_param_swapper.py` are properly aligned after the PR you pointed me to, because the swap-in buffers are explicitly aligned.

However in the above code I pointed to, there is still a code-path that

[2021-05-19 16:30] stephenrawls commented on #1070
Actually, everything works fine if I use a single GPU. I think the underlying problem is this line:
https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/runtime/zero/partition_parameters.py#L681-L682

i.e.:
[code]
While the tensor-size is aligned properly, after dividing by world size the `partition_size` is not aligned.

And the `get_buffer()` call here uses the `compute_buffer` not the a

[2021-05-19 16:38] tjruwase commented on #1070
@stephenrawls, I am absolutely blown away by your way, way, way, above-and-beyond efforts in isolating this issue. I wont be able to fix this until later. But I don't want you to spend more cycles on this, as you have provided more than sufficient information to fix it. On the other hand, if you want to submit a PR, I will be glad to guide that process. That way you get the full credit that you de

[2021-05-19 18:08] stephenrawls commented on #1070
Thanks, that's kind of you to say.

If you think fix on your end will be more than a couple days, then I can find time to work on fix + PR. Do you have any quick pointers on what is cleanest way to make this flat-buffer use the aligned parameter sizes? If so I can run with that and work on implementation.

[2021-05-19 20:14] jfc4050 commented on #1069
hello, i am seeing a similar gap. in my case i am training a ~2B parameter roberta model on a single node w/ 8 GPUs. Getting ~52 TFLOPS using stage 2, and ~19 with stage3.

here's a minimal script to reproduce. https://gist.github.com/jfc4050/ab1ecddc9c13290ecc1dde4a4eee0358

i've hardcoded the relevant configuration into the script but its as follows
[code]

[2021-05-19 21:47] jeffra commented on #1073
Hi @g-karthik, thanks for this context. If I wanted to try and reproduce this what version/commit should I use from https://github.com/huggingface/transformers?

This seems really strange, I would expect your ds_config.json to use DeepSpeedCPUAdam and not FusedAdam.

[2021-05-19 23:37] g-karthik commented on #1073
@jeffra you should be able to reproduce this with `modeling_gpt2.py` from version 4.5.1.

If `"type": "adam"` is always supposed to point to `DeepSpeedCPUAdam`, then what type would point to `FusedAdam`? And seeing as the `backward` time reduces from ~17 seconds to ~3 seconds (from above), I am struggling to imagine why I would want to use `DeepSpeedCPUAdam` anyway. Perhaps by leveraging CPU Adam,

[2021-05-20 01:31] jfc4050 commented on #1069
![image](https://user-images.githubusercontent.com/31414860/118904678-36ad4c00-b8cf-11eb-831c-59d4b32b1902.png)

looking at this random subsection of a train run, seems like there's a lot of overhead from the pre and post sub module hooks, similar to what @stephenrawls saw. i'm not seeing the same overhead from the non-blocking prefetch call though. the fetch operation taking some time seems reaso

[2021-05-20 12:57] tjruwase commented on #1070
@stephenrawls, actually I do have time to handle this. After a closer look it appears that there are some other issues. For exampe, this [line ](https://github.com/microsoft/DeepSpeed/blob/c1550b89ba796d89a10f0445d896896d9206bf26/deepspeed/runtime/swap_tensor/partitioned_param_swapper.py#L302) will fail after the current bug is fixed, because `compute_buffers ` is not defined on that code path. I

[2021-05-20 13:05] tjruwase commented on #1070
This behavior is actually fine because the idea is to hide the alignment issues from logic outside `swap_tensor/partitioned_param_swapper.py`. When the param is submitted for a swap operation, the swapper knows how to replace with the corresponding aligned swap_buffer using `self.param_id_to_swap_buffer`

[2021-05-20 15:28] jfc4050 commented on #1069
i tried putting the post submodule forward parameter deallocation into its own stream and making it non blocking

before:
[code]

after:
[code]

seems to have gotten rid of that big green cudaStreamSynchronize from earlier. no idea why it was taking so long. also there's a chance ive introduced a race condition somewhere now, so there may be more work to make this "stream-safe"

flops profiler see

[2021-05-20 16:06] stephenrawls commented on #1070
Yup, I hit that bug w.r.t. `compute_buffers` yesterday after trying a fix.

Okay sounds like you have it under control then, thanks for looking into it.

[2021-05-20 19:05] stephenrawls commented on #1070
@tjruwase yes, I have tested #1086 via commit 38d46848f450a080c8ab96427d9da00c2e5b6327, and it works for me now. Thanks for quick fix!

[2021-05-20 20:23] jfc4050 commented on #1069
taking a look at another expensive synchronization here https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/runtime/zero/partition_parameters.py#L798

don't feel confident that this can be safely removed yet, will spend some time investigating the code to see. did a quick run anyways to get an idea of the theoretical gains we could get from optimizing this. got about 5 TFLOPS out of it.
[

[2021-05-20 23:06] #1070 closed

[2021-05-21 01:03] jfc4050 commented on #1069
found an unexpected optimization. was looking at the last profile and was a bit confused by the big (300-1000+us) gap between synchronize_communication and the end of fetch_sub_module, especially since there's very little code between that call and the end of the function. (code ref - https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/runtime/zero/stage3.py#L440-L446)

Was also kind of c

[2021-05-21 20:29] python152 opened #1087 "cifar10_deepspeed: NameError: name 'is_map_style_dataset' is not defined"
Hi

I am running a vanilla cifar10_deepspeed.py  example, and run into the following error, on `is_map_style_dataset`, deepspeed version is 0.3.16 straight from pip install. Can you please help?

[code]

[2021-05-22 01:46] python152 commented on #1087
deepspeed from git master has no much errors.

[2021-05-22 01:46] #1087 closed

[2021-05-22 02:06] python152 opened #1088 "sparse_attention build failure"
env: gcc 7.4.0; cuda 10.2; torch 1.7.1

I am trying to build from source as:

[code]

and got the following errors. Similar issue reported suggest I should disable pre-compiled headers in cmake; but it was not clear to me how to do this in deepspeed build. Any suggestions? TIA.

[code]

[2021-05-22 17:15] python152 commented on #1088
dup compiler path issue

[2021-05-22 17:15] #1088 closed

[2021-05-22 18:30] python152 opened #1089 "Error in building transformer code"
hi, I am trying to build transform ops from source, and ran into the following errors:
env: python 3.8, pytorch 1.7.1 cuda 10.2.89, gcc/7.4.0

[code]

It turns out if I do away with `-D__CUDA_NO_HALF_OPERATORS__ -D__CUDA_NO_HALF_CONVERSIONS__ -D__CUDA_NO_HALF2_OPERATORS__`, the build can pass. But it appears options are added by pytorch cpp extension, I am not sure why it is added here. Can someon

[2021-05-24 03:42] Mindful commented on #1062
I debated opening a new issue for this but this seemed like the more appropriate place to mention it since you guys are already working on zero_to_fp32.py anyway.

At least for deepspeed 0.3.16, zero_to_fp32.py seems to drop content from state dicts that was registered with [register_buffer](https://pytorch.org/docs/stable/generated/torch.nn.Module.html#torch.nn.Module.register_buffer). It looks l

[2021-05-24 13:51] #1089 closed

[2021-05-24 14:30] GeneZC commented on #864
have you resolved the issue?

[2021-05-24 16:02] stas00 commented on #1062
@Mindful, since you're reporting is a bug/incomplete feature this warrants a dedicated issue, so that it's easier to track and resolve only when it's resolved. Thank you!

[2021-05-24 20:32] stas00 opened #1098 "need an API to gather gradients"
At the moment it's not possible to gather sharded gradients and some users need to be able to do that as can be seen from:

https://github.com/huggingface/transformers/issues/11850

So a new API, perhaps similar to `GatheredParameters` needs to be added, unless you can think of other ways.

@samyam, @tjruwase

Tagging the user who requested this feature: @EarthXP

[2021-05-25 01:54] Mindful opened #1101 "zero_to_fp32.py drops buffers"
At least for deepspeed 0.3.16, zero_to_fp32.py seems to drop content from state dicts that was registered with [register_buffer](https://pytorch.org/docs/stable/generated/torch.nn.Module.html#torch.nn.Module.register_buffer). It looks like the current script gets states out of the optimizer, so maybe it would make sense that any state that isn't an optimizable model parameter gets dropped? The res

[2021-05-25 02:20] stas00 commented on #1101
You're correct to report that buffers aren't being treated!

I made sure I did it right in `_zero3_consolidated_fp16_state_dict(self)`

https://github.com/microsoft/DeepSpeed/blob/96eb5b12e328f9398d57fb577ee088cfcfb5444f/deepspeed/runtime/engine.py#L1953

it does handle buffers correctly, so at the very least you should be able to save the fp16 version of the weights until this is sorted out.

bac

[2021-05-25 16:39] jfc4050 commented on #1069
just noticed that we arent prefetching anything but param 0, not sure if this is anything specific to our use case.

if i enable this print statement i get a bunch of them. https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/runtime/zero/stage3.py#L212-L215

i get this output after changing this bit of code https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/runtime/zero/stage3.p

[2021-05-25 22:18] aphedges commented on #789
I'm not really sure why it is pinned. Looking through the Git history, it seems that `tensorboardX==1.8` has been in `requirements.txt` since the file was added in 577295f.

I'm using a version of pip old enough to allow me to install conflicting dependencies, but this will be a problem once I update. There doesn't seem to be much direct usage of `tensorboardX` in the codebase, so I hope this will

[2021-05-26 00:28] rwightman opened #1105 "Improved checkpoint load/save and state_dict interfaces"
I'm trying to interface Deepspeed with a new lightweight training code abstraction for my model collection (https://github.com/rwightman/pytorch-image-models)

I'm finding it quite challenging to write reasonable abstractions with how tighlty intertwined the code around checkpoints is with DeepSpeed. The checkpoint naming, disk io (save/load), and DS specific state dict handling is all wound toget

[2021-05-26 01:06] byrd106 opened #1106 "Need a way to shuffle batches from deepspeed trainloader"
There doesn't appear to be a way to specify in deepspeed config or function arguments, a way to shuffle batches from training loader that deepspeed initialize returns.

[2021-05-26 11:31] rfernand2 opened #1107 "Loss computation is wrong when gradient_accumulation_steps > 1"
I am pretraining a Roberta model using HuggingFace Transformer and DeepSpeed.  The loss being displayed on the console seems to be the true loss divided by the gradient_accumulation_steps.  Here a few runs with different accum values that show the problem:

<p style="margin:0in;font-family:Calibri;font-size:11.0pt">

<div style="direction:ltr">

| batch_size | batch_size_per_gpu | gradient_accumul

[2021-05-26 12:25] ddomingof commented on #989
Any clues on the exact configuration to run DeepSpeed on CUDA11 and A100s?

[2021-05-26 12:26] ddomingof commented on #790
Any clues on the exact configuration to run DeepSpeed on CUDA11 and A100s? @surak

[2021-05-26 12:29] helena-balabin commented on #866
Do you have any tips on how to configure deepspeed for CUDA11 and an A100? I'm currently trying to set it up, but I'm constantly running into incompatibility issues.

[2021-05-26 13:53] vasudevgupta7 opened #1108 "Does ZeRO-3 work with torch.optim.Adam?"
Hey,

Does DeepSpeed ZeRO stage-3 work with `torch.optim.Adam`?

When I am using `deepspeed.ops.adam.DeepCPUAdam` with offloading optimizer states, my code works perfectly. But when I use torch.optim.Adam, I get some error saying beta2 referenced before initialising.

Thanks!

[2021-05-26 14:40] surak commented on #790
As you saw, I have some patches (mentioned above), and we run it directly on the system, no container involved.

[2021-05-26 15:26] stas00 commented on #1108
when reporting Issues please always provide:
1. the full backtrace .
2. the environment details

But I think I know what you're talking about, please see:
https://github.com/pytorch/pytorch/issues/55740

This is a refactoring bug in pytorch-1.8.1

Do you still have the problem if you use pt-1.8.0?

[2021-05-26 16:35] stephenrawls commented on #1069
@tjruwase any thoughts on this? Is anyone on DeepSpeed team able to help us understand why stage 3 parameter pre-fetching seems to not be working for our huggingface model?

[2021-05-26 17:13] tjruwase commented on #1069
@stephenrawls, apologies for the delay on our side in investigating this issue. I will take a look today.

[2021-05-26 17:53] tjruwase commented on #1106
@byrd106, this is correct and sorry for that inconvenience. Unfortunately, we have not spent much time on the data loader. However, you don't need to pass a dataloader to deepspeed, and so you can use your favorite dataloader.

[2021-05-26 17:55] tjruwase commented on #1107
@rfernand2, can you please share a screenshot to help decide whether the print is coming from HF or DeepSpeed.

Also, besides the console printout, are you seeing any convergence issues in the model?

[2021-05-26 18:57] ddomingof opened #1109 "PyTorch and huggingface compatibility on A100 GPU"
Hi, I am currently facing issues to train a transformer model using huggingface and PyTorch together with DeepSpeed on the new A100s. Is there any configuration of CUDA drivers + specific versions of PyTorch and DeepSpeed that would not either raise issues with the CUDA or with the two/three libraries.

[code]
[code]

[2021-05-26 21:20] ParamsRaman opened #1110 "Details about pipeline parallelism implementation in DeepSpeed"
Hi,

I had some questions about the pipeline parallelism implementation in DeepSpeed. Can someone help shed some information on the following?

1. From among the following types of pipeline scheduling, which one does DeepSpeed implement in its code?
(a) Figure 2 in PipeDream-2BW paper (https://arxiv.org/pdf/2006.09503.pdf)
(b) PipeDream-Flush (1F1B) schedule mentioned in Figure 4 (top) in Megatron

[2021-05-26 22:26] vasudevgupta7 commented on #1108
@stas00, thank you so much for the reply. It's working perfectly when working with torch-1.7.1.

[2021-05-26 22:26] #1108 closed

[2021-05-26 22:28] stas00 commented on #1108
awesome!

pt-1.9.0 should be out shortly as well.

[2021-05-26 22:54] rfernand2 commented on #1107
Hi @tjruwase,

Good question.  The only loss I see on the console is from HF:

![image](https://user-images.githubusercontent.com/4296158/119741349-5fd35c80-be3a-11eb-8a2d-6f56f1ce122c.png)

**Note**: my app updates some of the HF "logs" dict on the on_log callback, but doesn't touch the "loss" entry.

[2021-05-26 23:10] tjruwase commented on #1107
@rfernand2, thanks for the clarification.  Perhaps the HF folks have documentation on expectations of logged loss values with gradient accumulation steps > 1, I am not sure.

[2021-05-27 01:16] rfernand2 commented on #1107
@tjruwase, does deepspeed participate in the calculation of the loss?  Is there a HF person we can include in this conversation who might be able to respond?  Thanks.

[2021-05-27 08:06] BitVoyage opened #1111 "Resume from Zero OOM，because this line let every SINGLE DP process load ALL optimizer states, Memory Needed * N"
https://github.com/microsoft/DeepSpeed/blob/d2cf66a66847aa7f8d25da5708b7016e54f29e0a/deepspeed/runtime/engine.py#L1796

[2021-05-27 08:25] BitVoyage commented on #1111
5B Model trained by DeepSpeed Zero2 On V100 * 4 100000 steps， I want Change to V100*32 and resume from CKPT, got OOM。
I also tried export "model.bin" by zero_to_fp32.py, But it is Confusing that model inited by "model.bin" seems not work，it's loss is very high,  seems not trained

[2021-05-27 10:27] finetuneanon opened #1112 "GPT-Neo inference issues"
Attempting to do inference using the new inference support for gpt-neo models, I encountered multiple issues. I used the following code on Google Colab for testing:

Setup:

[code]

Inference:

[code]

#### None policy

During loading some issues occured. First issue:

[code]

I fixed this issue by changing lines 392-393:

[code]

#### Casting None to half precision

The next issue only occurs whe

[2021-05-27 13:57] tjruwase commented on #1107
Yes, deepspeed calls the model's foward method to compute loss. However, deepspeed returns an unscaled loss value to the client as seen [here](https://github.com/microsoft/DeepSpeed/blob/d2cf66a66847aa7f8d25da5708b7016e54f29e0a/deepspeed/runtime/engine.py#L1086) and [here](https://github.com/microsoft/DeepSpeed/blob/d2cf66a66847aa7f8d25da5708b7016e54f29e0a/deepspeed/runtime/engine.py#L1113).

@sta

[2021-05-27 15:50] jfc4050 commented on #1069
from what i can tell
* there's a pre module hook which resets the step id (step id is used to track where we are in the forward pass)
* part of pre sub module hook increments the step id (along with fetching params and other stage 3 stuff)
* a pre sub module hook is executing before the pre module hook, which means it gets incremented to 1 and then reset to zero, this causes the rest of the step i

[2021-05-27 16:23] stas00 commented on #1107
1. non-deepspeed transformers calculates loss:
[code]
as you can see here:
https://github.com/huggingface/transformers/blob/80d712fac6ccae308a2f408ebbc0c4d8c482d509/src/transformers/trainer.py#L1743-L1745

2. for deepspeed I skipped this step since I discovered that deepspeed was already doing that.

https://github.com/microsoft/DeepSpeed/blob/d2cf66a66847aa7f8d25da5708b7016e54f29e0a/deepspeed/run

[2021-05-27 16:59] tjruwase commented on #1107
@stas00, thanks for chiming in.

So I think the issue is that scaled loss, rather than unscaled, is printed in the console. I don't there is any convergence problems. Also, the deepspeed code that you reference is in backward(), while I was referring to foward() returning unscaled loss.  So you are correct that backward() returns scaled loss. So the question is what is printed on the console, outp

[2021-05-27 17:24] stas00 commented on #1107
Here is the full logic:

[code]

So in non-DS case,
1. `loss` is the output of forward
2. it gets scaled
3. backward is called on this value
4. this is the reported `loss`, which is scaled

In DS case:
1. `loss` is the output of forward
2. it doesn't gets scaled by HF Trainer
3. DS backward is called on this value, which scales the loss
4. the updated `loss` is now scaled too
4. the reported `loss

[2021-05-27 17:47] tjruwase commented on #1107
@stas00, awesome that explains the mystery. Thanks.

@rfernand2, hope this helps.

[2021-05-27 17:50] stas00 commented on #1107
If this needs to be documented please let me know - always happy to improve the docs.

[2021-05-27 17:54] RezaYazdaniAminabadi commented on #1112
Hi @finetuneanon,

Thanks a lot for trying out the inference pipeline and reporting all these issues with gpt-neo.
Yes, you are right our pipeline currently support only FP32 inference for GPT-Neo as this model was trained with BFP16 and needs higher precision than half. But, there is easy fix for the problem that you mentioned. I will work o resolving that soon.
Regarding the FP32 inference run,

[2021-05-27 18:37] rfernand2 commented on #1107
@stas00, @tjruwase - thanks, but are we in agreement on the loss value being reported in the console (and as logged to tensorboard) by the HF trainer should be the true loss for the model (unaffected by the gradient accumulation steps, or any other side effects of how the training was done)?

[2021-05-27 18:57] tjruwase commented on #1107
@rfernand2, I agree with that in the sense that reported loss should be the output of forward().

Now, I don't even remember why deepspeed returns anything on backward(). From the HF logic shared by stas, only deepspeed returns loss on backward. So deepspeed requires one of these two changes:
  (1) backward() returns nothing, which will require a change in HF, or
  (2) backward() returns unscaled

[2021-05-27 19:08] stas00 commented on #1107
`training_step` in `trainer.py` returns the same `loss` w/ or w/o Deepspeed. I had to workaround deepspeed's way to match Trainer's behavior. So things are consistent here and require no changes from Deepspeed.

I think what you're suggesting @rfernand2 is that you think that Trainer should be reporting the total accumulated loss and not per step. Please raise this issue at https://github.com/hugg

[2021-05-27 19:30] rfernand2 commented on #1107
@stas00 - my definition of loss is always the **mean** of the loss for the samples computed over.  This way it has a consistent scale, independent of the number of workers used to compute it (one just takes the mean of each worker's mean loss).  For a given model and dataset, ML experimenter's can learn expected loss values (baseline losses, training curves, etc.) that don't need to vary with the

[2021-05-27 19:42] stas00 commented on #1107
I spent some time reading through `trainer.py` and it does handle the scale across gpus as you are suggesting, but for some reason chooses to scale it by gradient accum steps. Perhaps it's compensating for some other place where it's scaled up and I'm missing it?

@sgugger, would you please have a few minutes to have a look at this? Thank you!

[2021-05-27 20:02] sgugger commented on #1107
I am not familiar with the logic of deepspeed, but outside of deespeed, the loss printed by the HF Trainer stays in the same range for all kinds of values of gradient accumulation steps:
[code]
for various values of xxx and the first log shows a loss between 0.7 and 0.8.

Since we sum `gradient_accumulation_steps` losses before doing the optimizer step, the true loss needs to be divided once by `g

[2021-05-27 23:37] stas00 commented on #1107
OK, so I need to sit with debugger a bit and see if something is off here - it appears that perhaps deepspeed's "branch" gets scaled by the gradient accum steps twice according to the comments. So it calls for an investigation.

I will have time to look next week, unless someone beats me to it.

@rfernand2, if you don't hear from me by Tue please kindly ping me. This is high priority, but I'm swam

[2021-05-28 00:50] rfernand2 commented on #1107
@stas00 - thanks, that sounds great!  Would it still be helpful for me to open this issue under HF Transformers, as suggested above?

[2021-05-28 01:30] stas00 commented on #1107
This is probably a good idea. Thank you, @rfernand2!

Once I get a chance to understand where the problem comes from we can see which side (or both?) need fixing.

[2021-05-28 03:32] RezaYazdaniAminabadi commented on #1112
Hi @finetuneanon

I have added fixes for the issues you mentioned in this [PR](https://github.com/microsoft/DeepSpeed/pull/1114). Could you please give it a try and see if it fixes it?

Thanks,
Reza

[2021-05-28 05:55] rfernand2 commented on #1107
See Also: https://github.com/huggingface/transformers/issues/11919

[2021-05-28 08:58] finetuneanon commented on #1112
Hi @RezaYazdaniAminabadi,
thanks for the quick fixes. I tested them and inference with fp32 works correctly now. Instantiating as fp16 is possible without errors as well now, but the results are still broken. Is it possible to look into this again?
I understand that gpt-neo-1.3B was trained as bfloat16 and gpt-neo-2.7B was trained as fp32, however I have been successfully been doing inference in f

[2021-05-28 09:24] Vbansal21 commented on #1041
Tried many-many different combinations of settings, still the problem exist. The problem comes when the model is little complex, for e.g. Lucidrains' Performer implementation in torch, and the number of parameters and/or size of biggest layer is large ( above some threshold, don't know what threshold and how to change). Tried changing bucket size, buffer size, and many other combinations, but the

[2021-05-28 13:55] sayakpaul commented on #694
@tjruwase I also running into something similar:

[code]

Here are additional details:

[code]

Could you share any pointers to resolve this?

[2021-05-28 15:26] tjruwase commented on #694
@sayakpaul, your ds_report shows a mismatch in cuda versions. Your deepspeed wheel is built with 10.2, while your cuda installation is 11.0. Can you try building deepspeed from source so that it is compiled with your installed 11.0?

[2021-05-28 15:44] sayakpaul commented on #694
Sure. Let me do that and get back.

[2021-05-28 15:58] sayakpaul commented on #694
@tjruwase here's my `ds_report` now:

[code]

I see that it says `fused_adam` is not installed yet. After cloning the repo, I ran `./install.sh`. DId I miss out on something?

[2021-05-28 16:12] sayakpaul commented on #694
Turned out `ninja` wasn't installed properly. I followed [this suggestion](https://github.com/zhanghang1989/PyTorch-Encoding/issues/167#issuecomment-455296402) to install `ninja` to allow PyTorch to load the C++ extensions and things should work now.

[2021-05-28 16:21] RezaYazdaniAminabadi commented on #1112
Hi @finetuneanon

Thanks for trying this out. Happy to see it solved some of the previous issues.

I will use your new script and test it on my side to repro this. Can you tell me which size and model you used in this case?

Btw, I could generate fine text with fp16 using your previous script (max_length=1024) on my side using the 2.7B GPT-Neo model.

Thanks,
Reza

[2021-05-28 17:31] finetuneanon commented on #1112
Thanks for testing it. Hearing that generation works in fp16 in some configuration is promising. However, for me it still doesn't work. I have tried with both EleutherAI/gpt-neo-125M and EleutherAI/gpt-neo-2.7B now. In case it is related to torch or cuda versions, here is the output of both ds_report and nvidia-smi:

[code]

I simplified the code to make sure the issue is not caused by my model lo

[2021-05-28 18:05] Moldoteck commented on #1084
To be more specific this is what i want to do:
[code]
But since g["params"] is always empty, i cannot get it to work
Do you have some ideas why this is happening?

[2021-05-28 19:39] Moldoteck commented on #1084
I think i have found out the problem in deepspeed/runtime/zero/stage3.py:
[code]

[2021-05-29 00:51] Santosh-Gupta commented on #1109
I seem to be having issued with a 4 gpu a100 rig. Specifically I am getting this error

[2021-05-29 05:00] sayakpaul opened #1115 "Problem in local vs. global batch sizes?"
My current setup consists of 4 local V100s. I wanted to be able to take the advantage of distributed training and mixed-precision. The following is my `ds_report`:

[code]

Referring to the [official CIFAR10 example](https://github.com/microsoft/DeepSpeedExamples/blob/master/cifar/cifar10_deepspeed.py), I set my training and configuration up. The number of total training samples in my dataset is 3

[2021-05-29 13:04] Moldoteck opened #1116 "Training accuracy heavily impacted when using activation checkpointing"
I just use deepspeed without any additional params and let's get consistently 0.250 accuracy on 200'th batch. When I turn on the activation checkpointing, I get 0.025 accuracy with the same parameters at the same batch number.
My model is like an unet and has conv2d, leakyrelu and batchnorm layers and skip connections. Can this be a problem?
For skip connections I have modified a bit example from

[2021-05-29 13:43] ShadenSmith commented on #1110
Hi @ParamsRaman,

1. DeepSpeed's pipeline engine schedule is equivalent to the 1F1B schedule (option b, or PipeDream-Flush). It was developed independently and open sourced before that naming scheme. Here's an illustration of our pipeline schedule. The trained model will be the same as a model trained with pure data parallelism and the same effective batch size, modulo things like initialization o

[2021-05-29 14:38] tjruwase commented on #1107
@stas00, the fix should involve ignoring the return value of `deepspeed.backward()` in this [line](https://github.com/huggingface/transformers/blob/8d171628fe84bdf92ee40b5375d7265278180f14/src/transformers/trainer.py#L1754). Or at least not updating loss with this return value since it is the scaled loss value, similar to `scaled_loss`  in this [line](https://github.com/huggingface/transformers/bl

[2021-05-29 14:53] Moldoteck commented on #1084
Found the explanation here:
https://github.com/microsoft/DeepSpeed/discussions/1074

[2021-05-29 14:53] #1084 closed

[2021-05-29 15:46] stas00 opened #1118 "master fails to build because of missing transformer_inference dir"
building master with:
[code]

[code]

I fixed it by doing:

[code]

As you can see this dir is missing from: https://github.com/microsoft/DeepSpeed/tree/master/deepspeed/ops

So you probably need to either create it during build or commit some dummy file into the source so that dir will be there.

[2021-05-29 16:25] stas00 commented on #1107
@rfernand2, how do I reproduce your report?

and where did you pull those numbers from?

We need 2 short reproducible examples using standard datasets with different grad accumulation settings.

If I run:

[code]

vs:

[code]

I get the same scale reported in both cases. So I struggle to understand the discrepancy you have reported.

You can tweak my examples to show me what you're talking about i

[2021-05-29 18:28] rfernand2 commented on #1107
@stas00: I used my own script (about 300 lines), which calls the HT trainer specifying a deepspeed config file.   Let me see if I can find a smaller failing test case (from my script or your shell command).

[2021-05-29 18:30] stas00 commented on #1107
And while you're at, please try removing deepspeed and first check that the Trainer alone gives you the expected results.

[2021-05-29 18:31] rfernand2 commented on #1107
@stas00: in the meantime, have you tried your script with "bs=16 grad_acc=16"?  That way, only the grad_acc is being changed between your comparisons.

[2021-05-29 18:38] stas00 commented on #1107
"bs=1 grad_acc=16" is the same as "bs=16 grad_acc=1": the "total_bs=16"

what would you like me to compare "bs=16 grad_acc=16" to? Here you have the "total bs=256"

Let's find a baseline we agree on and then do variations and check that the behavior is consistent (or not).

It should be easy for your to run those examples, since they require no coding - and the training args are the same as you pa

[2021-05-29 20:45] rfernand2 commented on #1107
@stas00, I am pursuing 2 parallel tracks: trying to shrink my test case and trying to get your big cmd line to fail.  I don't have a standalone Linux box with deepspeed requirements properly installed, so I am submitting all my jobs thru Azure ML (so turnaround is slower than ideal).

Here is the output from 3 runs of my latest test case script (where I specify the **gradient_accumulation_steps**

[2021-05-29 21:48] rfernand2 commented on #1107
Here's one more interesting run from my test case:
**gradient_accumulation_steps = 1**
[code]
Compare this to the above run (**gradient_accumulation_steps**=1024):  **loss** here is "6.8" (vs. .0102 above) and **SamplesPerSec** is 647 (vs. 1614 above).  Looks like **SamplesPerSec** might also be getting scaled.

I'm doing the "without DeepSpeed" tests now...

[2021-05-30 00:29] rfernand2 commented on #1107
@stas00: OK, some results.  When I run **without** DeepSpeed, I am forced to specify both **per_device_train_batch_size** and **gradient_accumulation_steps** thru the TrainingArgs.  When I do that, I see **no loss scaling** (comparing gas=1 and gas=32).  I also see each log msg taking much longer to be produced - it seems as though the gas value is all of the sudden being recognized and applied (v

[2021-05-30 02:04] stas00 commented on #1107
That is correct. That's why you should either use `auto` for ds config values or making sure you sync trainer args and ds config yourself.

Let me know how I can make it more loud-n-clear:  https://huggingface.co/transformers/master/main_classes/trainer.html#shared-configuration.

Originally, I tried to overwrite ds config, but then people were getting confused, so now there is no more overwriting

[2021-05-30 05:20] #1079 closed

[2021-05-30 10:24] Moldoteck opened #1119 "Is it possible to avoid printing logs?"
Like these:
[code]

[2021-05-30 11:23] Moldoteck opened #1120 "optimizer.step and lr_scheduler.step order"
Hi. I get this warning:
[code]

[2021-05-30 20:50] tjruwase commented on #1119
Try setting `steps_per_print `in deepspeed config (json) to a very high value. See doc [here](https://www.deepspeed.ai/docs/config-json/#logging).

[2021-05-31 01:22] g-karthik commented on #84
@jeffra have there been any commits relating to this issue since you created it?

[2021-05-31 10:47] Moldoteck commented on #1119
Yep, thanks for suggestion. I thought maybe there is a flag to disable them

[2021-05-31 10:47] #1119 closed

[2021-06-01 00:57] alexorona opened #1121 "Problems Installing with Windows"
Windows 10
Cuda Toolkit = 10.2
PyTorch = 8.1
VisualStudio = 2019

I'm trying to use this with the transformers library and carefully followed the instructions laid out by the transformers authors. I am using the `gloo` backend.

[code]
I am using these settings:
[code]
When I run the report, it looks like none of the ops installed. As a reference, `cmake` is installed as is `llvm`. I don't underst

[2021-06-01 04:49] haruya-umemoto commented on #609
any updates?

[2021-06-01 13:44] dsindex commented on #554
did you slove it? i have similar problem with deepspeed(fp16, zero_stage 1).
‘ function 'logsoftmaxbackward' returned nan values’

[2021-06-01 14:01] sgugger opened #1124 "pip install with building ops succeeds without installing any ops."
I'm trying to run deepseed with cpu adam, and after doing:
[code]
here the output of `ds_report`:
[code]

I then cannot run anything using cpu adam (it's not JITted at runtime as implied by the report), for instance `pytest tests/deepspeed/test_deepspeed.py` in the Transformers repo fails.

If you have any insight on how to get those ops working, that would be great!

[2021-06-01 15:01] kurumuz commented on #1112
Hi, @RezaYazdaniAminabadi
Any progress on this specific issue? and can we learn what cuda version you were using?
Thanks.

[2021-06-01 15:35] stas00 commented on #1124
To prebuild I do:

[code]

To use JIT, just:
[code]

What's the log of when it's not building JIT?

[2021-06-01 16:45] sgugger commented on #1124
I get a difference between installing from source or from PyPi. From Pypi, it does not complain, and from source I get the actual error message (gcc version to high for my cuda).

[2021-06-01 18:19] stas00 commented on #1124
Hmm, could you even prebuild from pypi? I think pip ignores everything and just installs the uncompiled sources - forcing JIT at runtime.

Let me try if prebuild is even possible from non-source.

[2021-06-01 18:32] RezaYazdaniAminabadi commented on #1112
Hi @kurumuz and @finetuneanon

I have tried running with torch 1.8 and CUDA 11.1 for fp16 and fp32. Both generates good results.

Here is the Torch's version:
![image](https://user-images.githubusercontent.com/44502768/120372565-339d5d00-c2cc-11eb-8a14-96ae1cd3ab22.png)

The generation output using fp16 with GPT-Neo-2.7 B model:

[code]
I will test the larger sequences and see if I can repro the N

[2021-06-01 19:00] sgugger commented on #1124
Yes, this gives a clean error as well.

[2021-06-01 19:04] stas00 commented on #1124
Good. So the prebuild side of things is covered.

Now to the JIT-way failure, what's relevant log when you start the application the first time and JIT fails?

You will have to uninstall the prebuilt one of course.

[2021-06-01 20:30] stas00 commented on #1107
update: Note to myself - need to write fp16 test. Hoping to get to it today/tomorrow.

[2021-06-01 20:42] rfernand2 commented on #1107
@stas00, I now understand the issue I ran into and have some suggestions for how to minimize for future; will write-up and include here later today...

[2021-06-01 21:06] huanvo88 commented on #1029
Hello I am using v0.3.16 and still encounter this error. Will this be fixed in the next release? (It has been a while since release 0.3.16)

[2021-06-01 21:17] tjruwase commented on #1029
@huanvo88, apologies that you are still having this issue. Is it possible to check the master branch for this issue?

[2021-06-01 22:35] huanvo88 commented on #1029
Thanks for the reply. Yes it seems the issue is fixed in the master branch, however not in the latest release, and since I installed using pip I did not have the fix.

[2021-06-01 22:48] rfernand2 commented on #1107
OK, I can confirm that the incorrect **loss** and **SamplesPerSec** console values I saw before are now correct, when I sync my **gradient_accumulation_steps** and **device batch size** for both the HF TrainerArgs and the DS config dictionary (I replaced my config files with a config dictionary that I can keep in-sync programatically).

Regarding the [HF webpage](https://huggingface.co/transformer

[2021-06-01 23:11] stas00 commented on #1107
I'm glad to hear you sorted out the problem, @rfernand2

1. I'm in the process of splitting Deepspeed docs into its own doc - especially since we have just merged a commit that decouples deepspeedconfig from the Trainer.

2. I'm not sure what to do about the duplicity of the shared config attributes.

My first take was to overwrite automatically any config values in ds config to match trainer args

[2021-06-01 23:17] stas00 commented on #1107
re: linking from deepspeed to HF, just give me a day - I'm moving docs to a new file

[2021-06-01 23:30] tjruwase commented on #1029
Okay, thanks for confirming that issue is resolved in master branch. We will work on pushing a pip release soon.

[2021-06-02 06:43] opherlieber opened #1125 "Inference transformer issue with sequence length >1024"
Hi,

I'm trying to use DeepSpeedTransformerInference, and am getting the following error whenever the sequence length is higher than 1024:
RuntimeError: CUDA error: too many resources requested for launch

For sequence lengths up to 1024 it works great, including with much larger batch sizes.

This is some minimal code which reproduces the error:

[code]

Thanks

[2021-06-02 16:53] janEbert commented on #1019
@tjruwase you are always very helpful. Do you know who could answer this question?

[2021-06-02 17:21] stas00 opened #1126 "[archlinux] libaio issues"
@sgugger is trying to get offload/nvme to work on archlinux and has issues building the `async_io` extension.

First, I discovered Archlinux (I don't know this system) doesn't do dev packages, but packs everything into one package.

So there it is `pacman libaio` which he installed. I did check that that package https://archlinux.org/packages/core/x86_64/libaio/ contains `libaio.h` and `
libaio.so

[2021-06-02 17:24] stas00 commented on #1126
Also for the sake of the test suite, @tjruwase, could you think of a skip rule that could query whether the `async_io` extension can be built and so the test using nvme could be skipped if it can't be built?

[2021-06-02 17:26] tjruwase commented on #1126
@stas00, with regards to skip rule, do you mean deepspeed unit test and a rule like [this](https://github.com/microsoft/DeepSpeed/blob/11e94e6c72dc9e80372143bc555fbd47fd05c626/tests/unit/test_aio.py#L17)?

[2021-06-02 17:32] stas00 commented on #1126
Ah, great!
[code]
I get `True`, Sylvain gets `False`.

Can we reliably use this API in transformers tests?

[2021-06-02 17:39] tjruwase commented on #1126
Yes, you can reliably use that to detect availability of aio library.

Also, I believe building from source as follows will attempt to compile the aio sources and expose the compiler commands.
`DS_BUILD_AIO=1 bash install.sh -s`

Can you please try that?

[2021-06-02 17:41] tjruwase commented on #1126
Also, regarding building with static or shared libaio, can you confirm you want to investigate further?

[2021-06-02 17:43] stas00 commented on #1126
As long as @sgugger is willing, yes, of course! I have no access to Archlinux - he does.

He will post the log shortly.

[2021-06-02 17:46] sgugger commented on #1126
The command above produces the following:
[code]

But then I get into the same problem, specifically:
[code]

[2021-06-02 17:57] stas00 commented on #1126
so looking at `libraries_installed` - it assumes the world to be a .deb oyster. And that's why it fails.

perhaps trying to compile a simple c program and linking it to `-laio` could be a more reliable platform independent test?

[2021-06-02 18:01] tjruwase commented on #1126
@stas00, great observation. This is not surprising as we have only developed on deb (Ubuntu) systems.

Perhaps an issue could be opened for archlinux support in our installation process. Unfortunately, we don't have access to such systems so that would be a problem.

In the meantime, I think your suggestion of linking a simple c program to `-laio` should give a good estimate of how much work is re

[2021-06-02 18:09] stas00 commented on #1126
I'm not following your suggestion, isn't this ticket not it already?

I don't think we need to have access to a non-debian system. We just need to remove dependency on using `dpkg` - or use it first as it'd account for probably 90% (total guess) of users, and fall-back to a secondary linker test if it fails.

Also the error message wouldn't fit on non-debian systems, as it no longer will be `libai

[2021-06-02 18:14] tjruwase commented on #1126
Yes, you are correct. This is good enough.

@sgugger, can you please confirm that you are unblocked.

[2021-06-02 18:16] stas00 commented on #1126
To clarify my low-hanging poor man solution is:
1. to have an option to skip the check
2. to have the user figure out they have `libaio.so` somewhere in their `ldconf`/`LD_LIBRARY_PATH`
done.

[2021-06-02 18:23] samyam commented on #1019
HI @janEbert, most of the hooks are registered for all sub-modules but there are a few book-keeping hooks meant to track information like end of forward, or resting the pre-fetcher that are only triggered at the top level. If you call sub-module directly then you would have to manually add the book-keeping. However, in your case I think this can be avoided. One solution is to route the generate_im

[2021-06-02 18:38] stas00 commented on #1126
@tjruwase, now it gives a weird gcc error - with a blank file name:
[code]

but `-c csrc/aio/py_lib/deepspeed_py_copy.cpp` is in the command line, so where did it get the blank file from? (the missing filename should be `gcc: error: missing_file.c : No such file or directory`

[2021-06-02 18:50] stas00 commented on #1126
btw, @tjruwase - I see it has both `-O3` and `-O0` as you can see. Not sure which one takes precedence.

[2021-06-02 18:52] tjruwase commented on #1126
@stas00, I was about to respond when I saw your update. It is very odd. I am not sure `-O3` and `-O0` should cause a missing file error?

[2021-06-02 18:58] stas00 commented on #1126
no, the problem was old `build` dir. removing it fixed the problem.

I was flagging  -O3 and -O0 not as a cause of the problem, but as something that's perhaps important in general? (hence the separate comment).

[2021-06-02 18:58] stas00 commented on #1126
ok, success with my hack.

`stochastic_transformer_op` won't link, so we had to remove `DS_BUILD_STOCHASTIC_TRANSFORMER=1`

[2021-06-02 18:59] tjruwase commented on #1126
Got it. I seem to recall that gcc would pick the last option, but that was ages ago :).

[2021-06-02 19:00] stas00 commented on #1126
oh, wait, not done yet... will post update

[2021-06-02 19:00] RezaYazdaniAminabadi commented on #1125
Hi @opherlieber

Thanks for reporting this.
I will work on this to solve the issue soon. By the way, can you tell me what model architecture is this for? I see you are just creating the layers on your own with some random dimensions, or is it related to some model specification?
Thanks,
Reza

[2021-06-02 19:12] stas00 commented on #1107
OK, Deepspeed docs now has its own home: https://huggingface.co/transformers/master/main_classes/deepspeed.html

Suggestions to improvements are very welcome.

[2021-06-02 19:33] stas00 commented on #1107
Oh, and we can't rely on ds config values as master over trainer args, because trainer needs them sooner than when ds config is parsed. So the best we can do is to assert if there is a mismatch.

[2021-06-02 19:44] stas00 commented on #1126
OK, so `gcc: error: : No such file or directory` is still there. Apparently removing `build` dir didn't help :(

Full log:
[code]

[2021-06-02 20:25] janEbert commented on #1019
Thank you for the answer @samyam!

I'll try out your suggestion, that's really nice and simple. I'll report back in a week or so, sorry I'll not have time for a few days.

[2021-06-02 21:00] stas00 commented on #1126
More info. I'm getting the same error on a totally different system:
[code]

This time someone else's Ubuntu!

Oddly enough it builds just fine on mine. Investigating.

[2021-06-02 21:03] tjruwase commented on #1126
Hmm, this is a super interesting mystery. Can you add these gcc options to get more verbose compilation `-v --save-temps`?

[2021-06-02 21:28] Gabriel-Macias opened #1127 "Error building extension 'cpu_adam' (Hugging Face integration)"
Hi guys,

I'm trying to use the `cpu_offload` function of `DeepSpeed` integration with `HuggingFace`'s `Trainer` integration on a single GPU on AWS Sagemaker (`ml.p2.xlarge` instance). However I've been struggling for quite some time to get it to work properly. Here are the current versions I'm using:

[code]

I've taken a look at similar issues (#889, #694, #885) but haven't had any success so fa

[2021-06-02 21:34] stas00 commented on #1126
with your addition:

[code]

[2021-06-02 21:39] stas00 commented on #1126
Note what happens if I run the command alone:

[code]

[2021-06-02 21:59] stas00 commented on #1126
OK, i got rid of pip, doing now bare setup tools:

[code]

[2021-06-02 22:08] stas00 commented on #1126
On my home Ubuntu I get almost identical command and it builds just fine. The difference is:

mine (works)
[code]
another Ubuntu (breaks):
[code]

everything else is identical.

[2021-06-02 22:27] tjruwase commented on #1126
I don't think `-D__AVX256_` should matter. The *ABI flags on the other hand look suspicious. I am not familiar with them. I also don't know where they are coming from? Is it possible to try the failing pattern on your home Ubuntu?

[2021-06-02 22:48] stas00 commented on #1126
Good call. if I replace `-DPYBIND11_BUILD_ABI="_cxxabi1013" -D_GLIBCXX_USE_CXX11_ABI=1` with `-DPYBIND11_BUILD_ABI="_cxxabi1011"  -D_GLIBCXX_USE_CXX11_ABI=0` on my box it now breaks too.

Actually, just using `-DPYBIND11_BUILD_ABI="_cxxabi1011" ` is enough to break it.

[2021-06-02 22:51] stas00 commented on #1126
OK, it looks I can't just run that `gcc` command alone - it fails everywhere on its own. There must be something else happening around it. That's why I'm asking if there is a Makefile to follow

[2021-06-02 23:13] tjruwase commented on #1126
@stas00, I was not expecting the `gcc `command to work alone, I was hoping the extra flags would provide more debug information.

Unfortunately, I killed the Makefile path when we switched to jit compilation.  I will search my old branches to see if I can find a Makefile.

[2021-06-02 23:26] stas00 commented on #1126
Is there a way to tell it to save the build files, so that one could investigate what exactly it does? I suspect it doesn't full disclose what it is doing.

Incidentally the 2 Ubuntu boxes  I'm comparing are almost identical - even the same conda setup, and the same path - just different pytorch and cuda builds. I'm going to try other builds.

[2021-06-02 23:50] stas00 commented on #1126
Tried cuda-10 (as compared to 11.x), tried different pytorch versions including 1.7.1 - all have the same problem. Must be something in the environment.

[2021-06-02 23:58] tjruwase commented on #1126
@stas00, can you share which combinations fail/work?
-DPYBIND11_BUILD_ABI="_cxxabi1011"  -D_GLIBCXX_USE_CXX11_ABI=0
-DPYBIND11_BUILD_ABI="_cxxabi1011"  -D_GLIBCXX_USE_CXX11_ABI=1
-DPYBIND11_BUILD_ABI="_cxxabi1013"  -D_GLIBCXX_USE_CXX11_ABI=0
-DPYBIND11_BUILD_ABI="_cxxabi1013"  -D_GLIBCXX_USE_CXX11_ABI=1

[2021-06-03 02:28] stas00 commented on #1126
If I try to copy-n-paste just the gcc command it doesn't work with any of these combinations on any of the setups. If I remove all of the -Ds that get appended at the end it works on all setups. i.e. this completes w/o any errors:

[code]

Trying to figure out where those defines come from

[2021-06-03 05:10] stas00 commented on #1126
That was a hard one. But this one got solved too: https://github.com/microsoft/DeepSpeed/pull/1129

[2021-06-03 07:12] opherlieber commented on #1125
Thanks a lot for the support!
The dimensions here are just for the example, I have various architectures I'd like to try and apply this too.

Can you also maybe give some info about the 'specialized_mode' ? It looks like it fuses/optimizes the ops for the case of decoding with past K/V values, but It seems I'm missing the 'InferenceSpecializedBuilder' to get it enabled. Is there any plan to releas

[2021-06-03 11:51] Moldoteck commented on #1116
Ok, after some investigation, i have found out a workaround>
https://github.com/microsoft/DeepSpeed/discussions/1117#discussioncomment-820377
But I don't get why it is expecting to perform that _requires_grad_()_ operation

[2021-06-03 13:18] tjruwase commented on #1069
@stephenrawls, can you please share your command-line?

[2021-06-03 13:30] stephenrawls commented on #1069
Yes, @jfc4050 provided it earlier, here is the reproduction script: https://gist.github.com/jfc4050/ab1ecddc9c13290ecc1dde4a4eee0358

[2021-06-03 13:52] tjruwase commented on #1069
@stephenrawls, thanks for your response. Yes, I am able to run @jfc4050 repro and see some regression between zero2 and zero3. But I am also curious about your `RobertaForMaskedLM`, since that is a real model. Thanks.

[2021-06-03 14:02] stephenrawls commented on #1069
That repro code also uses the `RobertaForMaskedLM` model class.

If you are just asking for what model dimensions I benchmarked with, I was using this, which is just a 10B parameter model with dimensions roughly inspired by GPT3-13B model dimensions:
[code]

As for my command line, I am using a custom training script that integrates ignite and deepspeed and hugginface. The repro script that @jfc40

[2021-06-03 14:15] tjruwase commented on #1069
@stephenrawls, thanks that is all I needed. The dimensions are important because zero-3 is targeted for very large models. And, so some regression on smaller models that zero-2 can handle is acceptable. I will continue the investigation.

[2021-06-03 16:02] stas00 commented on #925
The problem is still there on yet another box - running transformers/deepspeed tests crashes the box:

AMD Ryzen 9 again.

[code]

[code]

[2021-06-03 16:40] stephenrawls commented on #1069
(For reference, I would like to eventually benchmark performance on models larger than 10B parameters, but I am getting cpu out-of-memory errors when using stage 3 on models bigger than 20B parameters, even with NVME offloading turned on. Will file GitHub issue for this OOM problem separately)

[2021-06-03 17:46] stephenrawls opened #1130 "ZERO Stage 3 with NVME Offload very slow"
When running ZERO Stage 3 with NVME offload on a 10B parameter model, I am observing roughly 2.3 TFLOPS/GPU (whereas we expect to see closer to 30-40 TFLOPS/GPU for v100 GPUs, which we do when using ZERO Stage 2).

Potentially related to pre-fetching problems seen in https://github.com/microsoft/DeepSpeed/issues/1069

Method to reproduce is: https://gist.github.com/stephenrawls/1d396fe3f3c63ec1dc7

[2021-06-03 17:50] stephenrawls opened #1131 "ZERO Stage 3 with NVME Offload CPU OOM"
When using ZERO Stage 3 with NVME Offload to train a 40B parameter model, I see CPU OOM errors during the partitioning of optimizer states, which causes a crash before training can begin.

Reproduction is here: https://gist.github.com/stephenrawls/ed4d2e57d4d365ff4e5ec41fbedbb6ed

Details:
The CPU OOM error appears to happen while inside of `_swap_out_unpinned_tensors()`, which is called from `swa

[2021-06-03 17:53] tjruwase commented on #1131
@stephenrawls, can you please share a log for this run? Thanks for providing repro script, but the log could also contain useful information about your environment (e.g., GPU & CPU RAM usage). Thanks.

[2021-06-03 17:53] tchaton opened #1132 "DeepSpeed should allow to return dictionary or other type from the forward function"
Using DeepSpeed: '0.3.16'

[code]

And as expected, it works with nametuple :)

[2021-06-03 18:55] stas00 commented on #1126
So to bring this to a closure, I was able to pre-build deespeed on this Archlinux box, but can't run tests as it crashes the box due to AMD Ryzen 9 deepspeed issue https://github.com/microsoft/DeepSpeed/issues/925#issuecomment-853984722

So this compatility checking can be approached in various ways.

1. create a map of distro-to-packaging system - hopefully someone has already done the ground wor

[2021-06-03 21:03] stas00 commented on #1107
@rfernand2, beside your request to link to HF deepspeed doc, is there anything else we need to do to complete this ticket?

[2021-06-03 21:28] rfernand2 commented on #1107
@stas00 - thanks for moving that doc to its own page.  There is still the potential for other people running into the same  problems that I did.  I think any of the following would help minimize confusion and bugs:
   - have DS config file take priority over overlapping Trainer parameters (you can always parse the DS config file twice, if needed, right?)
   - collect a list of all duplicated HF/DS

[2021-06-03 21:43] stas00 commented on #1107
Thank you for the suggestions to make things easier for users, @rfernand2

As I tried to explain earlier - can't do that, because they could be already used before ds_config is parsed. So Trainer args have to be the master.

Again, this is DS integration into HF Trainer and not the other way around. Usually the main system is that one that drives the configuration.

Working on this now.

The final

[2021-06-03 21:48] rfernand2 commented on #1107
@stas00 - Can you parse the DeepSpeed config file / dictionary **before** you process any of the Trainer Args?

[2021-06-03 21:55] stas00 commented on #1107
The user can do it now, thanks to the very recent decoupling of [HfDeepSpeedConfig](https://huggingface.co/transformers/master/main_classes/deepspeed.html#hfdeepspeedconfig).

So yes, you can pre-parse the config, read the values, and set `TrainingArgs` accordingly. (Please feel free to contribute a more concrete code recipe.)

But we can't do this by default in HF Trainer unless we modify everyth

[2021-06-03 22:55] rfernand2 commented on #1107
OK, I see.  Well, hard errors for conflicting parameter values would be just as good (maybe better).  Thanks @stas00  for all your work on this large issue!

[2021-06-04 00:52] stas00 opened #1133 "need an an easier way to activate memory usage debug"
Currently when there are OOM problems we are being asked to modify deepspeed code to enable `see_memory_usage` - but it's not trivial - once needs to know where to enable as it's not just one place. And it's an issue in a shared env, unless one creates a separate env to debug.

I suggest adding a new debug feature that can change the behavior of the project from outside w/o needing to modify the s

[2021-06-04 02:07] stas00 commented on #1107
@rfernand2, please have a look https://github.com/huggingface/transformers/pull/12021

[2021-06-04 07:21] tchaton commented on #1132
Found this was resolved on master. Closing this issue.

[2021-06-04 07:21] #1132 closed

[2021-06-04 08:56] finetuneanon commented on #1112
Hi @RezaYazdaniAminabadi,

thanks for pointing out your versions. I have tested using torch 1.8.1+cu111 and CUDA 11.1 now. It seems like CUDA 11.0 and earlier cause the NaN issues and failed generations. However, running the [benchmark](https://github.com/microsoft/DeepSpeed/issues/1112#issuecomment-850524835) loop, I'm encountering a new issue:

[code]

Generating a sequence of length 1024 with a

[2021-06-04 16:17] Gabriel-Macias commented on #1127
Update:

Following the steps taken in https://seo-explorer.io/blog/configuring-centos-7-to-finetune-eleutherai-gpt-neo-2-7b-with-torch-and-deepspeed/ I managed to get the `cpu_offload` function to run by updating my `gcc` from 4.8.5 to 7.2.1, however as observed in Xirider/finetune-gpt2xl#3, I also had to set `"torch_adam":true` in the config file to be able to run the code.

However, as mentioned

[2021-06-04 16:27] rfernand2 commented on #1107
Both looks good.  As far as I am concerned, this issue has been (nicely) resolved.  Thanks again @stas00.

[2021-06-04 16:33] stas00 commented on #1107
Awesome. Please close the issue then. Thank you!

[2021-06-04 16:37] #1107 closed

[2021-06-04 17:03] tjruwase commented on #1061
@wushupei1997, can you please confirm if this is still a problem? Thanks.

[2021-06-05 02:33] linboqiao commented on #938
A manually debug setting is available here: https://github.com/WeSIG/PDLM

[2021-06-06 03:26] vycezhong opened #1137 "A Question About ZeRO-Infinity Paper"
In Section 3,

Why do you need an FP32 copy of gradients? Is it used for gradient accumulation?

In the illustration of ZeRO-Offload, I didn't see it.
![image](https://user-images.githubusercontent.com/25879526/120911399-db929c00-c6b9-11eb-817f-5d369407dd16.png)

[2021-06-06 09:02] Moldoteck opened #1138 "Init confusion with Zero 3"
Should I use
[code]
or maybe

[code]
or both?
[code]

[2021-06-07 21:27] freeone3000 opened #1141 "Feature Request: cleanup() or close() method"
Currently, after calling initialize() or init_distributed(), native resources are instantiated and live for the life of the program. For instance, if MPU is using sockets, a socket is opened for communication. I was unable to find a way to uninitialize any of these resources (or close the socket) without terminating the process. Is there a way to do so? If not, could such a way please exist?

[2021-06-07 21:35] stas00 opened #1142 "[performance] fusing zero.Init and pretrained weights loading"
I'm thinking there should be some kind of fused zero.Init and pretrained weights model loading function.

Currently with `zero.Init`:
1. we partition the model and scatter the weights
2. gather the weights of one layer
3. load weights of that layer
4. scatter the weights of that layer

So gather+scatter happens 3 times, rather than 1.

this feels wasteful and probably does add quite an overhead fo

[2021-06-08 00:01] stas00 opened #1143 "pytorch cuda/memory deprecations"
with recent pytorch versions one gets these deprecations:
[code]

so these should be renamed/aliased.

[2021-06-08 00:06] stas00 opened #1144 "[fp16] need to automatically convert fp32 inputs to fp16"
While this hasn't been an issue with NLP models where inputs are `int64` and embeddings convert those into the right float type based on model's weights dtype, for non-NLP models this conversion is lacking. And so the proposal is for Deepspeed to automatically convert float32 inputs to float16 if fp16 is enabled. And do nothing if the inputs aren't fp32.

While the user could convert it themselves

[2021-06-08 00:44] stas00 opened #1145 "`sub_group_size` is not documented"
besides 2 inconsistent examples:
[code]
`sub_group_size` is not documented.

And it's unclear in what situations to raise or lower it and by how much.

Thank you!

@samyam

[2021-06-08 05:28] stas00 commented on #1101
@Mindful, please try this PR: https://github.com/microsoft/DeepSpeed/pull/1146

You will have to load and save the checkpoint or create a fresh one, since I added new metadata that needs to be saved there.

Please comment in the PR if you run into any issues.

Thank you!

[2021-06-08 08:25] robvanvolt opened #1147 "WebDataset/IterableDataset as input for distributed training"
Is DeepSpeed compatible with IterableDatasets / WebDataset?

If yes, what input / parameters are required?

see also in my other issue: https://github.com/webdataset/webdataset/issues/81

[2021-06-08 17:07] RezaYazdaniAminabadi commented on #1112
Hi @finetuneanon and @kurumuz

I have pushed some changes in the [PR](https://github.com/microsoft/DeepSpeed/pull/1114) that solves the problem with higher sequence-length. Please give it a try when you get a chance.

Thanks,
Reza

[2021-06-08 17:21] RezaYazdaniAminabadi commented on #1125
Hi @opherlieber,

I believe this [PR ](https://github.com/microsoft/DeepSpeed/pull/1114) should fix the issue you were seeing with larger sequence-length.

The specialized kernels are the high-performance version of the inference kernels that fuse the operations at deeper level, such as combining all the attention part in just one kernel as you mentioned (you can find more information in our [infe

[2021-06-08 17:40] robvanvolt commented on #1147
You can just use your own DataLoader without having the need to use the one from DeepSpeed! Solved.

[2021-06-08 17:40] #1147 closed

[2021-06-08 17:54] tjruwase commented on #1137
@vycezhong, thanks for your question. The optimizer runs in fp32 mode and so requires fp32 gradients.

[2021-06-09 00:46] vycezhong commented on #1137
Thanks for you explanation. I have another question.

I notice that the CPU memory bandwidth per GPU drops to 3.0GB/s when using multiple cards. How is this value (3.0GB/s) obtained?
![image](https://user-images.githubusercontent.com/25879526/121275087-74b1f480-c8fe-11eb-9e76-0bd13d3604a0.png)

[2021-06-09 01:23] stas00 commented on #1145
Elsewhere @samyam shared:

--------------------

sub_group_size controls the granularity in which parameters are updated during optimizer steps. Parameters are grouped into buckets of sub_group_size and each buckets is updated one at a time. When used with NVMe offload in ZeRO-Infinity, sub_group_size therefore controls the granularity in which model states are moved in and out of CPU memory from

[2021-06-09 01:27] stas00 commented on #1138
`zero.Init()` context is only used during the instantiation of your model under zero3, therefore:

Under zero3:
[code]

Under zero2:

[code]

[2021-06-09 01:54] stas00 commented on #925
Update, 2 months later using now pytorch-1.8.1 (Still cuda-10.2) the problem reported in OP on 2 identical machines is no more. All tests pass. It's hard to tell whether something changed in deepspeed or pytorch, since the rest of the environment hasn't changed.

The case with the most recent report https://github.com/microsoft/DeepSpeed/issues/925#issuecomment-853984722 is still there. This too i

[2021-06-09 05:49] samyam commented on #1137
@vycezhong In a 16x V100 DGX-2 box, when all GPUs are simultaneously sending and receiving data to and from CPU memory, we observe that each GPU achieves about 3GB/s for an aggregate bandwidth of about 3*16GB/s. The drop from 12 GB/s to 3GB/s per GPU when going from 1 to 16 GPUs is due to sharing of some of the PCI-E resources. We measured these numbers using micro benchmarks where each GPU sends/

[2021-06-09 06:51] vycezhong commented on #1137
@samyam Thanks. And I found PCIe interconnect topology might explain this as shown in the figure below. Each PCIe link bandwidth is 12GB/s. Along the binary tree from top to bottom, the bandwidth of children should be halved.

![image](https://user-images.githubusercontent.com/25879526/121306381-587b7b00-c931-11eb-8591-b57c54e80e6a.png)

[2021-06-09 08:09] Moldoteck commented on #1138
Thank you for the clarification!
Taking into the account that cpu_offload will be moved to zero3, that means that i should prefer first option

[2021-06-09 16:22] stas00 commented on #1138
cpu offloading works in zero2 and zero3, it was just renamed to `offload_optimizer` in zero2 to match zero3. Please see examples of both side by side:

* https://github.com/huggingface/transformers/blob/master/tests/deepspeed/ds_config_zero2.json
* https://github.com/huggingface/transformers/blob/master/tests/deepspeed/ds_config_zero3.json

[2021-06-09 16:36] preethamgali opened #1152 "Distillation implementation for 3D parallelism."
Hi,

I am looking for implementing GPT model for distillation but I found that for pipeline parallelism the model should be using LayerSpec which is nn.sequential like. Is there any workaround to make it work?

Distillation is a model compression technique whereby a small network (student) is taught by a larger trained neural network (teacher).

[code]

[2021-06-09 17:42] stas00 commented on #925
So that last machine was upgraded to 32GB cpu RAM and all is good. The crash was over system not handling well 0% free RAM (while having swap available).

I highly recommend to configure `cgroups` on machines with little RAM to protect the main system from memory-hungry processes and of course adding a serious chunk of swap memory goes a long way.

[2021-06-09 17:42] #925 closed

[2021-06-09 17:48] RezaYazdaniAminabadi commented on #925
Thanks @stas00

I will work on adding some configurable parameters for that. Hopefully, we can fix this for those little-RAM systems

Reza

[2021-06-09 17:57] stas00 commented on #1126
OK, so we figured out the system crashing issue - was low RAM.

I verified that with my hack patch from  https://github.com/microsoft/DeepSpeed/issues/1126#issuecomment-853271755 the nvme support works on archlinux with `pacman -Q libaio`

So @tjruwase we just need to complete this Issue by probably merging a variation of my proposed code at https://github.com/microsoft/DeepSpeed/issues/1126#issue

[2021-06-10 00:26] #1112 closed

[2021-06-10 00:26] #1125 closed

[2021-06-10 06:07] opherlieber commented on #1125
Works great, thanks!

[2021-06-10 09:23] finetuneanon commented on #1112
Thank a lot, all issues have been resolved.

[2021-06-10 10:32] AngThanos opened #1153 "'NoneType' object has no attribute 'opt'"
Hi there, I'm trying to use DeepSpeed and sparse_self_attention.py but I encountered the error as shown in the attached image. It also gives the error: CUDA: Error- invalid ptx.

Please help me fix that. Thanks.

![1111111111111111111111](https://user-images.githubusercontent.com/41022754/121510239-9ea80b80-ca11-11eb-92b4-5473e46e0c85.PNG)

[2021-06-10 13:38] AngThanos commented on #1153
It sometimes also triggers an error: No module named 'sparse_attn' as shown in the picture below.
Please help me with this error. My gcc version is 7.5.0 and I use google colab.
![Uploading 123123.PNG…]()

[2021-06-10 20:58] garvct commented on #750
Any work-around for this error.?

What Nvidia pytorch container will DS_BUILD_OPS=1 pip install deepspeed
work without any errors (on A100).?
Thanks.

[2021-06-10 21:20] garvct commented on #750
root@x8a100-0000:/workspace# env | grep -i arch
TORCH_CUDA_ARCH_LIST=5.2 6.0 6.1 7.0 7.5 8.0 8.6+PTX

export TORCH_CUDA_ARCH_LIST=7.0
DS_BUILD_OPS=1 pip3 install deepspeed

Worked, thank you.

[2021-06-10 21:21] #750 closed

[2021-06-10 21:23] RezaYazdaniAminabadi commented on #1153
Hi @AngThanos

Can you show me the ds_report results?
Thanks,
Reza

[2021-06-10 23:32] AngThanos commented on #1153
Dear Reza,

this is my ds_report. Thanks.
![sample](https://user-images.githubusercontent.com/41022754/121609750-bbc6f380-ca7e-11eb-985e-185afdbd9440.PNG)

[2021-06-10 23:33] RezaYazdaniAminabadi commented on #1153
Thanks for running this.
Can you please reinstall the torch to have the same cuda version as the nvcc?

[2021-06-11 09:14] AngThanos commented on #1153
I've installed the same version for the torch cuda and nvcc version. However, after loading sparse_attn, the program still stuck at error CUDA: Error- invalid ptx as shown in the txt file.
![1](https://user-images.githubusercontent.com/41022754/121662867-045acd00-cad0-11eb-9bac-8505edbddd9f.PNG)
[New Text Document (3).txt](https://github.com/microsoft/DeepSpeed/files/6637235/New.Text.Document.3.tx

[2021-06-11 13:06] ludgerpaehler commented on #1109
Have you found a solution by now?

I am running into the same issue and am at the point where I am thinking of a deepspeed fork to get it to compile with CUDA 11.1

[2021-06-11 14:01] ddomingof commented on #1109
No sorry...we dropped usnig DeepSpeed and that's all...

[2021-06-11 15:46] jeffra commented on #1109
@ddomingof so sorry you’re having these issues :( a few questions

* When do you see the incompatible_device warning?

* did you upgrade torch after installing deepspeed? ds-report is saying it was installed with a torch version with cuda 10.2 (which is not compatible with a100).

[2021-06-12 00:53] garvct opened #1155 "Bert training model failed when add --deepspeed_transformer_kernel"
**Environment**
A100x8 GPU's
Using container nvcr.io#nvidia/pytorch:21.05-py3
apt update
pip3 install nvidia-pyindex
pip3 install nvidia-tensorflow
pip3 install numpy --upgrade
export TORCH_CUDA_ARCH_LIST="6.0 6.1 7.0 7.5 8.0 8.6+PTX"
DS_BUILD_OPS=1 pip3 install deepspeed
pip3 install mpi4py

root@x8a100-0000:/workspace# ds_report
--------------------------------------------------
DeepSpeed C++/CU

[2021-06-12 06:03] Santosh-Gupta commented on #1109
I've been running it, so far I don't think I've seen any major issues.

What is the issue you've been running into? I see a warning. Did that prevent you from running it?

a100s are tricky in general. I am using 11.2 on the gpu and the system. I am using the pytorch docker with deepspeed pip installed.

[2021-06-12 06:06] ddomingof commented on #1109
Can you share the exact versions of pytorch and deepspeed? Unfortunately I can't install pytorch with Docker

[2021-06-12 06:17] Santosh-Gupta opened #1156 "Deepspeed's stdout is not accurate for number of steps, it doesn't take into account batch size. Also, `steps_per_print` doesn't print out loss."
I am plugging my dataset into `deepspeed.initialize`

[code]

I am using 4 gpus and my total dataset size is 26516300, so there will be 26516300/4=6629075 samples per gpu.

And my batchsize is 17, so there will be 389945.59 steps.

However, the output shows something like

[code]

No matter what I change the batchsize to, it always shows the steps out of `/6629075`.

Also, I think that since I spe

[2021-06-12 06:22] ddomingof commented on #1109
With CUDA10:
[code]
 With CUDA11 also illegal instruction error

Installing pytorch with conda via `conda install pytorch torchvision torchaudio cudatoolkit=10.2 -c pytorch`:
[code]

[2021-06-12 15:15] jeffra commented on #1109
I see, one issue is that A100 requires at least cuda 11.0.

Can you try cuda 11.1, torch 1.8.1, and deepspeed 0.4? This should work.

Also how many gpus are you wanting to run with? can you share how you’re launching your model? The init_distributed error above is telling me maybe you’re not launching with torch.distributed or deepspeed launchers maybe?

[2021-06-12 18:31] helena-balabin commented on #1109
Thanks for the suggestion @jeffra!

@ddomingof and I made sure to use the suggested versions, which helped in getting rid of the incompatibility issues. We're using our script in a single-node multi-GPU setting with 4x A100s. Yes, the `init_distributed` error appears when we're launching our script without the deepspeed launcher (`python3 stonkgs_finetuning.py`, in which we implicitly rely on the

[2021-06-12 23:44] Santosh-Gupta commented on #1109
Which optimizer are you using? Are you using AMP?

[2021-06-12 23:47] jeffra commented on #1109
@helena-balabin that sounds promising! Can you post your ds_report results? Also there might be a ninja issue. Can you try ‘apt-get install ninja-build’?

[2021-06-13 02:04] hyunwoongko opened #1158 "Errors on inference tutorial"
I ran the example in the tutorial [here](https://www.deepspeed.ai/tutorials/inference-tutorial/), but I get an error.
![image](https://user-images.githubusercontent.com/38183241/121793052-659cb080-cc36-11eb-9ba7-821852400428.png)

First of all, if `dist.init_process_group("nccl", rank=local_rank, world_size=world_size)` was not set,
an error occurred. So I added this line, and this bug has been fi

[2021-06-13 10:12] asit2898 opened #1159 "Failing to upgrade to 0.4.0 version"
I am currently using 0.3.16 version. To upgrade to 0.4.0 I tried the following:
[code]
This results in :
[code]

However, when I try importing deepspeed I get the following error:
[code]
I get a similar error for ds_report:

[code]

Also attaching the output of pip list --local:
[code]

[2021-06-13 11:49] helena-balabin commented on #1109
@Santosh-Gupta We're using the AdamW optimizer, and I don't think that we're using AMP. This is how our DeepSpeed configuration file looks like:

[code]

@jeffra So I tried to look deeper into installing the extensions, unfortunately I still haven't found a solution yet. The ds_report looks like this:

[code]

Thanks for the hint regarding the ninja issue, that seems to be the reason. I found the

[2021-06-13 12:35] AngThanos commented on #1153
I figured out that DeepSpeed can not load sparse_attn on P100 GPUs of google colab. This module can successfully load on Tesla V100 of google colab instead.

[2021-06-13 12:35] #1153 closed

[2021-06-14 16:07] Santosh-Gupta commented on #1109
Something that might be useful is running without the zero optimizer enabled.

[2021-06-14 16:47] jeffra commented on #790
@RezaYazdaniAminabadi and @arashashari merged this PR #902 recently that should help along this line. Have you tried this again with our latest v0.4 release?

[2021-06-14 17:53] jeffra commented on #1109
Unfortunately, I think `ninja` will be required even if zero is disabled. If it's a permission issue to install ninja you might be able to install it without apt via here: https://github.com/ninja-build/ninja. I have not tried it myself though.

[2021-06-14 18:05] RezaYazdaniAminabadi commented on #1155
Hi @garvct

Can you please share the config that you are running this with so that I can repro on my side?
Thanks,
Reza

[2021-06-14 18:20] RezaYazdaniAminabadi commented on #1158
Hi @hyunwoongko

Thanks for trying this out and reporting the issue. I will update the inference tutorial to fix this issue.
Meanwhile, could you please try our example [here](https://github.com/microsoft/DeepSpeedExamples/blob/25d73cf73fb3dc66faefa141b7319526555be9fc/inference/huggingface/gpt-neo.py)?  I have tried it out on 2 gpus and it runs fine on my side:
![image](https://user-images.githubu

[2021-06-14 18:34] garvct commented on #1155
python3 train.py \
        --job_name "BERT Large" \
        --deepspeed_config ${SOURCE_CODE_PATH}/ds_config.json \
        --train_table=$SOURCE_CODE_PATH/train \
        --val_tables=$SOURCE_CODE_PATH/val \
        --cluster=local \
        --do_train=True \
        --do_eval=False \
        --keep_checkpoint_every_n_iterations=5000 \
        --bert_config_file=$SOURCE_CODE_PATH/bert_config.jso

[2021-06-14 19:08] RezaYazdaniAminabadi commented on #1155
Thanks for sharing the script and config.

Can I ask what hidden_size, number of heads, and number of layers you are using here? It seems you are using hidden size as 2048, however, I don't understand where the m=6144 is coming from! Is this a multiplicand of sequence-length (512) or number of heads!?

Also, this is a 1-GPU run, right?

[2021-06-14 20:24] garvct commented on #1155
DeepSpeed Transformer config is  {'layer_id': 23, 'batch_size': 4, 'hidden_size': 2048, 'intermediate_size': 8192, 'heads': 32, 'attn_dropout_ratio': 0.1, 'hidden_dropout_ratio': 0.1, 'num_hidden_layers': 24, 'initializer_range': 0.02, 'fp16': True, 'pre_layer_norm': True, 'local_rank': -1, 'seed': 42, 'normalize_invertible': False, 'gelu_checkpoint': False, 'adjust_init_range': True, 'test_gemm':

[2021-06-14 21:06] tjruwase commented on #1137
@vycezhong, do you have additional questions or can this issue be closed?

[2021-06-14 21:09] tjruwase commented on #1115
@sayakpaul, how are you setting the batch size? Can you share your command line and json config?

[2021-06-14 21:32] tjruwase commented on #1156
@Santosh-Gupta, thanks for reporting these issues. It seems the problem is lack of documentation leading to misinterpretation of these outputs. So let's try to resolve them one-by-one.

For example, the output `[2021-06-12 05:55:39,929] [INFO] [timer.py:154:stop] 0/37530, SamplesPerSec=101.18682135866746` is using the format:  `<epoch num>/<micro steps in the epoch>`.  And so with `steps_per_print

[2021-06-14 21:46] tjruwase commented on #1120
@Moldoteck, are you still seeing this warning? Can you share repro steps?

[2021-06-14 21:47] tjruwase commented on #1082
@Moldoteck, is this still an issue?

[2021-06-14 22:55] tjruwase commented on #1106
@byrd106, is this still an issue, or is it okay to close?

[2021-06-14 23:15] hyunwoongko commented on #1158
I corrected the mistakes in the tutorial document correctly and PR.

https://github.com/microsoft/DeepSpeed/pull/1157

Thanks !

[2021-06-14 23:58] adithya-subramanian commented on #826
Hi,

I am also facing the same issue, any updates or workaround for this ? Thanks

[2021-06-15 00:14] RezaYazdaniAminabadi commented on #1158
Thanks @hyunwoongko.
I will review the PR and merge it soon 👍

[2021-06-15 00:15] #1158 closed

[2021-06-15 00:29] samyam commented on #1131
@stephenrawls, I am going on a hunch here since we do not have logs, but can you try setting sub_group_size to 1e9 and rerun

[2021-06-15 00:46] #1137 closed

[2021-06-15 03:12] sayakpaul commented on #1115
It's there in the [archive](https://github.com/microsoft/DeepSpeed/files/6564056/Archive.zip), @tjruwase.

[2021-06-15 08:28] Mindful commented on #962
I'm not sure I understand what's going on here or exactly how this relates to deepspeed, but I think I may just have encountered the same problem. I found that increasing my batch size while using deepspeed resulted in `inf` loss - I changed only batch size, nothing else, so I really don't understand how this could happen - but replacing NLL loss with reduction="mean" with reduction="none" and the

[2021-06-15 12:37] hyunwoongko opened #1161 "Questions about implementing model parallelism in the inference engine"
Hello. I would like to ask about the model parallelism feature in the inference engine. In general, the model parallelism that I can think of is inter-layer model parallelism like GPipe (only partitioning part, not pipelining) and intra-layer model parallelism like Megatron-LM.

https://github.com/microsoft/DeepSpeed/blob/aa16828c267dc7a790a5cc2f43f93a67617a2364/deepspeed/inference/engine.py#L102

[2021-06-15 12:56] tjruwase commented on #1069
@stephenrawls  or @jfc4050, can you please share this snippet of your log?

[code]

[2021-06-15 13:02] tjruwase commented on #1069
Never mind, I see these snippets above. I noticed the profiler was not counting the number of parameters correctly for zero3 (394 instead of 2020M).

[2021-06-15 13:56] hyunwoongko commented on #1161
- num_gpus = 2
![image](https://user-images.githubusercontent.com/38183241/122065262-c2fa5280-ce2c-11eb-927b-9a35cdc7a6c7.png)

- num_gpus = 1
![image](https://user-images.githubusercontent.com/38183241/122065368-da394000-ce2c-11eb-929d-40d75e8d5e77.png)

[2021-06-15 14:12] hyunwoongko commented on #1161
If model parallelism in the form of tensor slicing for GPT-neo is not currently supported, the paragraph below may need to be slightly modified :) If I'm mistaken, please help me to do model parallelization!

![image](https://user-images.githubusercontent.com/38183241/122068124-166da000-ce2f-11eb-8764-b8b3b8bc8653.png)

[2021-06-15 16:10] RezaYazdaniAminabadi commented on #1161
For reducing the results across different GPUs, we use the all_reduce in the [inference-api](https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/ops/transformer/inference/transformer_inference.py#L311). The model-parallel group is also created in the [inference-engine](https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/inference/engine.py#L88) and passed to the inference-module.

[2021-06-15 17:54] hyunwoongko commented on #1161
Thanks for your kind reply. :)

My question is, why doesn't the memory of each GPU area decrease after slicing the model in two? For example, if we slice a 30GB model into two, the amount of memory allocated to at least one device will have to be less than 30GB, even if it is not completely reduced to 15GB.

Thanks,
Hyunwoong Ko

[2021-06-15 18:27] RezaYazdaniAminabadi commented on #1161
The problem is that the model gets created on both GPUs by HunggingFace initially and that takes the model's total memory which is in your case 30GB. However, in deepspeed we partition the parameters and send the corresponding parts to each GPU. So, some of the initially allocated memory is just cached on the GPU and never used. I have not spend time to release that memory in HuggingFace way of in

[2021-06-15 20:27] Moldoteck commented on #1138
Thank you for insights

[2021-06-15 20:27] #1138 closed

[2021-06-15 20:27] Moldoteck commented on #1120
Yes I'll share them tomorrow

[2021-06-15 20:28] Moldoteck commented on #1082
Thanks for asking. Main improvement where from model checkpoint and CPU activations offload. Other things didn't help too much. The fp16 training produced exploding gradients. Anyway, that's not part of the ticket, so it can be closed

[2021-06-15 20:55] tjruwase commented on #1082
Thanks for the confirmation.

[2021-06-15 20:55] #1082 closed

[2021-06-15 21:32] Santosh-Gupta commented on #1156
Thanks @tjruwase

That makes sense.

How about for the display for the non-print out steps.

So the one that looks like

[code]

I just realized my first post was formatted incorrectly, so this part is not visible unless you right scroll on that code snippet. Sorry for this.

I also realize this part is not coming from deepspeed but from tqdm. `for iii, model_batch in enumerate(tqdm(ds_training_da

[2021-06-15 21:53] tjruwase commented on #1156
You could try not using deepspeed dataloader. This is not a requirement for using deepspeed, and torch dataloaders are probably better because this is not a part of deepspeed that we have invested much in.

[2021-06-15 22:26] jeffra commented on #1159
Hmm strange. We did recently add `packaging` to our requirements.txt and i don't see it in your `pip list`. Can you try installing it? Maybe the upgrade for some reason isn't triggering the new requirement.

https://github.com/microsoft/DeepSpeed/blob/aa16828c267dc7a790a5cc2f43f93a67617a2364/requirements/requirements.txt#L8

[2021-06-15 22:29] RezaYazdaniAminabadi commented on #1161
I have used the torch's memory management (https://pytorch.org/docs/stable/cuda.html#memory-management) and it shows the memory reduction when using model-parallel 2:

[code]
I think nvidia-smi is just showing all the cached memory!

Could you please print `{torch.cuda.memory_allocated()}, {torch.cuda.memory_cached()}` before and after deepspeed inference intialize on your side to verify it?
Thank

[2021-06-15 22:50] tjruwase commented on #1156
Cool.

Can you explain what loss output are looking for? DeepSpeed does not print loss because in our experience it is not always clear what it means. This could be because the output of forward is not (more than) a float tensor.  Also, with gradient accumulation steps > 1,  backward is called multiple times with different loss values before parameter update.

So if you explain a bit more what you

[2021-06-15 23:24] Santosh-Gupta commented on #1156
Great, I am thinking all the requirements needed for this. I think the data needs to be partitioned for the number of gpus, and then the `model_engine.rank` can be used with a condition on which partition to receive. Finally, the data would need to be send `.to('cuda:'+str(model_engine.rank))`. Does this sound right? Or am I missing something.

Ah, I didn't know the loss wasn't being printed. The

[2021-06-15 23:39] tjruwase commented on #1156
This is a doc bug, and needs to be fixed. Thanks for reporting it.