[2021-06-15 23:41] tjruwase commented on #1156
The torch dataloader already handles much of these issues, especially the multi-gpu partitioning. You might find this [link](https://pytorch.org/docs/stable/data.html#single-and-multi-process-data-loading) useful.

[2021-06-15 23:46] tjruwase commented on #1156
The client script can do an all-reduce to average losses across the gpus. Perhaps this [logic ](https://github.com/microsoft/DeepSpeedExamples/blob/25d73cf73fb3dc66faefa141b7319526555be9fc/bing_bert/deepspeed_train.py#L105-L114) for calculating validation loss in our bing_bert model could be a guide.

[2021-06-16 02:05] hyunwoongko commented on #1161
When I call `torch.cuda.empty_cache()`, memory is reduced as your words.

![image](https://user-images.githubusercontent.com/38183241/122146786-9a0ca880-ce92-11eb-9d31-bfedd1680c25.png)

Thanks !!
Hyunwoong Ko

[2021-06-16 02:09] hyunwoongko commented on #1161
Thanks for the very kind reply. Can't we just load the model from the CPU? If I deploy a large model like Blender (9B+) or T5 (10B+), if the hugging face model is loaded on the gpu first, memory allocation will fail.

[2021-06-16 03:15] Santosh-Gupta commented on #1156
Sounds great, thanks.

Re-opened the issue

[2021-06-16 04:28] hyunwoongko commented on #1161
I success CPU to GPT parallel. Thanks !

[2021-06-16 04:53] Santosh-Gupta commented on #1156
It seems that `DistributedSampler` is the way to go, specifying rank, num_replicas, and the dataset on initialization.

That's how it was handled in this example

https://github.com/microsoft/DeepSpeedExamples/blob/25d73cf73fb3dc66faefa141b7319526555be9fc/MoQ/huggingface-transformers/src/transformers/sagemaker/trainer_sm.py#L92

However, in this example, only the dataset is provided

https://githu

[2021-06-16 05:50] rosrad commented on #1144
I think so, DeepSpeed should convert the input to float16 when the fp16 training is enabled. otherwise this is quite different from the AMP/ Apex.

[2021-06-16 07:37] hyunwoongko opened #1162 "Bug occurs when using the huggingface seq2seq model using the inference engine."
I'm trying to deploy some language models using DeepSpeed's inference engine. Currently, I am trying to deploy a seq2seq langauge model, I have succeeded in parallelizing the model. However, when I try to generate, Then the following error occurred.

[code]

[code]
[code]

[2021-06-16 08:17] hyunwoongko commented on #1162
here is output.

[code]

[2021-06-16 18:33] tjruwase commented on #1156
@Santosh-Gupta, the docs bug about `steps_per_print` is now fixed.  Can this issue be closed now? As you explore the dataloader usage, please feel free to open an issue as appropriate.

[2021-06-16 18:40] BitVoyage opened #1165 "zero_to_fp32.py seems exporting a wrong model"
Zero Stage 2
**a** loads exported FP32 model
**b** loads 'mp_rank_00_model_states.pt'
states of a and b is ** entirely different**
![image](https://user-images.githubusercontent.com/10386094/122274612-50b16d00-cf15-11eb-80d0-40ad0a6f590a.png)

Only **embeddings** is near
![image](https://user-images.githubusercontent.com/10386094/122275426-417eef00-cf16-11eb-88ef-823db738656b.png)

I try to finetu

[2021-06-16 21:18] #663 closed

[2021-06-16 22:34] #1156 closed

[2021-06-17 08:36] hyunwoongko commented on #1162
<img width="1941" alt="스크린샷 2021-06-17 오후 5 33 58" src="https://user-images.githubusercontent.com/38183241/122361451-35387780-cf92-11eb-80e6-bed3491e80a3.png">

@RezaYazdaniAminabadi I solved the problem. Before broadcasting a model's parameters, you must make sure it is contiguous. For non-contiguous tensors, the broadcast operation throws an error. So with some code modifications, you ca

[2021-06-17 11:26] tjruwase commented on #1115
@sayakpaul, please note that it is a lot easier if debugging clues like command line, stdout, logs are shared directly (copy-paste) into the chat. Also, can you share output of `ds_report`?

[2021-06-17 11:35] sayakpaul commented on #1115
You can see the `ds_report` in the issue description itself. Not really sure which parts I missed out on.

[2021-06-17 11:40] tjruwase commented on #1115
Yes, sorry, I saw the `ds_report` after asking.

I took a look at the archive, it contains your script and jscon config, but this is not sufficient to understand what is going on. In particular, it is not clear which part of your log is showing the unexpected global vs local batch sizes. Sometimes the training script and deepspeed may have conflicting views of batch sizes. Sharing your command lin

[2021-06-17 11:41] #1115 closed

[2021-06-17 16:38] Gabriel-Macias commented on #1127
Hi again, another update:

After coming back to the issue after some time I realized that when running the nvcc command (below) the gcc compiler being used was not the one I installed system-wide, but rather the one that came with anaconda which was pointed to with the softlink `/home/ec2-user/anaconda3/envs/pytorch_latest_p36/bin/x86_64-conda-linux-gnu-cc`.

[code]

I managed to get the `cpu_offl

[2021-06-17 18:23] tjruwase commented on #1069
@stephenrawls and @jfc4050, is it possible for you to try out PR #1170?

[2021-06-17 20:18] samarth-b opened #1171 "AttributeError: 'Version' object has no attribute 'major'"
there doesn't seem to be a valid attribute `major` from packaging.

https://github.com/microsoft/DeepSpeed/blob/1ba3e8e3364049ecfc647aae4715ec9441676c51/deepspeed/__init__.py#L36

Was able to install it from source after commenting line #41 of deepspeed/__init__.py

this is also an issue with the pip version.

[2021-06-18 02:44] jfc4050 commented on #1069
hey @tjruwase, thanks for the PR! I wasn't able to look at this for a couple of weeks, and something seems to have changed with my setup between then and now. I'm getting better performance over baseline with your PR, but both are much worse than I was seeing when i last measured. Will see if i can figure out why tomorrow.

AFAICT the PR fixes prefetching by fixing hook execution order and removes

[2021-06-18 03:52] tjruwase commented on #1069
@jfc4050, thanks for your response and help.

Yes, you have read the PR correctly. I have not removed the synchronization points as they require a bit more analysis/testing. Please share what you find out about reproducing the original perf that you saw. Anyways, I consider the PR to be a work-in-progress at this point. I hope that with help from you and @stephenrawls, we can get a better understa

[2021-06-18 11:22] richcmwang opened #1172 "checkpoint type error"
Try to figure out a way to run deepspeed inference following the tutorial, but run into error:

assert False, '{} checkpoint type is not supported'.format(sd_type)
AssertionError: DeepSpeed checkpoint type is not supported

The error came from the initialization:
[code]
checkpoint.json:
[code]

Any suggestion on this issue?  Or a sample code to set inference up would be appreciated.

[2021-06-19 00:24] zarzen opened #1173 "Why does not the stage 3 implementation use broadcast and reduce-scatter?"
Hi there,
(Thanks for sharing your implementations!)

After reading the paper, and partially going throught the `stage3.py` implementation.
I have two questions in general:
1) is there any specific reason for picking all-gather instead of broadcast operation, which is mentioned in the paper.
2) by profiling the stage-3, using Nsight System, I didn't see any nccl reduce-scatter kernel on the timeli

[2021-06-19 00:59] zarzen opened #1174 "ZeRO3 is slow, even with nvlink for all-gather"
Hi there,

I was using ZeRO3 for training a bert model with 5B parameters. By printing out the wall-time, I found the forward time is around 480ms. That is much slower than expected, as in ZeRO2 configuration the forward time is only about 60ms. This means the forward phase is largely bounded by the parameter gathering from all GPUs.
While, because I was using ZeRO3 in a machine with nvlinks (600G

[2021-06-19 06:43] tjruwase commented on #1174
@zarzen, thanks trying ZeRO-3 and sharing your observations. We are currently debugging these performance issues, such as #1069. We hope to push some fixes soon. Thanks for your patience.

[2021-06-19 07:36] hyunwoongko opened #1175 "Deployment using Deepspeed Inference"
Hello. Is there any way to use inference engine and a web server application like Flask together?

[2021-06-19 08:08] hyunwoongko commented on #1175
When I experimented, I could start the server by setting the port of each rank differently, but inference does not work.

[2021-06-20 07:34] kaushikb11 opened #1176 "DeepSpeed support on TPUs"
Is the team planning to work on Deepspeed support on TPUs? It would be amazing.

Thanks.

[2021-06-20 11:23] hyunwoongko commented on #1175
![ezgif-7-bad264dc8ea2](https://user-images.githubusercontent.com/38183241/122672184-2c9ba780-d205-11eb-8ac1-65243cbc9ba8.gif)

I implemented it myself over the weekend. I solved it through simple mutex handling and changing deepspeed.launch.runner from sub-process-based to multi-process-based. I will close the issue.

[2021-06-20 11:23] #1175 closed

[2021-06-21 12:51] donnyyou opened #1177 "SparseSelfAttention doesn't work with max_seq_length=4096"
![image](https://user-images.githubusercontent.com/23111956/122764612-39d29800-d2d2-11eb-94e8-e9f66579f1a1.png)
The error we occurred is showed above. The SparseSelfAttention doesn't work with max_seq_length=4096.
https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/ops/sparse_attention/sparse_self_attention.py#L27

[2021-06-21 16:41] jfc4050 commented on #1069
oh just realized i forgot to post this before i left for two weeks. the actual all_gather calls are surprisingly slow (its the non-blocking all_gather), i'm not sure how much we can do about this since its a direct call to a pytorch function. This really crops up when there are several all gather calls in sequence for module fetches. Since its done synchronously with submodule.forward it delays se

[2021-06-21 17:07] zarzen commented on #1069
I have similar findings. all_gathers for one parameter takes about 0.5ms to finish.
And most of the all_gather operations are very small, e.g., all_gather 320 elements for each partition.

![image](https://user-images.githubusercontent.com/1150493/122800702-3ff45480-d291-11eb-8519-0c694ed62b30.png)

The pre_launch typically takes 130us, the launch takes 250us about, and there is a `torch.cuda.sync

[2021-06-21 17:11] tjruwase commented on #1069
@jfc4050 and @zarzen, thanks for sharing your insights, these are very valuable. I will resume this line next week, as I am off this week.

[2021-06-21 18:09] RezaYazdaniAminabadi commented on #1155
Hi @garvct

I am still not able to repro this issue that you are seeing.
I wonder if you can run this test on your side which uses exactly the same config as yours:

`pyteset tests/unit/test_cuda_backward.py::test_backward[4-2048-512-32-24-True-True-0.05]`

[code]

Thanks,
Reza

[2021-06-21 18:28] samyam commented on #1173
@zarzen Thank you for trying out ZeRO-3.

1. The communication collectives in the ZeRO-3 implementation is slightly different from what is described in the ZeRO paper. We  are using all-gather instead of broadcast as you noticed. The reason for doing so is to effectively support offloading to CPU and NVMe. In the absence of offloading, both all-gather and broadcast would result in similar communic

[2021-06-21 19:06] piegu commented on #1062
Hi @stas00.

I have a question about how to get fp32 weight reconstruction. Your guide [Getting The Model Weights Out](https://huggingface.co/transformers/main_classes/deepspeed.html#getting-the-model-weights-out) is helpful in the case of `DeepSpeed` with a [HF script](https://github.com/huggingface/transformers/tree/master/examples/pytorch). Many thanks!

But what if `DeepSpeed` is used inside a

[2021-06-21 19:46] stas00 commented on #1062
There is no difference between the script and the notebook model weights-wise.

- if you're using zero2 you can just get `trainer.model.float()` as you suggested, while losing some precision.

- with zero3 at the moment you either
1. have to save a checkpoint and then restore fp32 weights as explained in the doc you linked to
2. and then you can call something like (untested):
[code]
and then to d

[2021-06-21 20:42] piegu commented on #1062
Thanks @stas00.

I read you agree with the following option in notebook for ZeRO-2:
[code]

... but you add: _while losing some precision_

What would be another option (in order to not lose precision)?
(in the case I want to save my model in the Model Hub of HF for example)

[2021-06-21 20:53] stas00 commented on #1062
Use `zero_to_fp32.py` as explained in the doc you linked to.

[2021-06-22 00:37] zarzen commented on #1173
@samyam
I found that the config must have `"contiguous_gradients": true` to enable reduce_scatter.
Using `"reduce_scatter": true,` does not enable reduce_scatter.

here is a condition check for invoking `average_tensor`: https://github.com/microsoft/DeepSpeed/blob/b3870363e026717752c119b21870e2886b9ad92d/deepspeed/runtime/zero/stage3.py#L2175

I am confused about this condition check, as the docum

[2021-06-22 00:42] zarzen commented on #1069
https://github.com/microsoft/DeepSpeed/blob/b3870363e026717752c119b21870e2886b9ad92d/deepspeed/runtime/zero/stage3.py#L435
Changing this line to the following is going to improve the forward performance. As it is going to launch a single all-gather op for a list of params.
[code]

[2021-06-22 13:41] piegu commented on #1062
Here is a notebook that shows a use case: [Fine-tuning a Masked Language Model (MLM) with DeepSpeed mixed-precision float (fp16)](https://colab.research.google.com/drive/17vN1w0HxRMopzps8WrlRwMmHhZppVQli?usp=sharing)

The idea is : how to use DeepSpeed with mixed-precision float (fp16) in the [Hugging Face notebooks](https://github.com/huggingface/notebooks/tree/master/examples).

I took the examp

[2021-06-22 16:01] RezaYazdaniAminabadi commented on #1177
Hi @donnyyou

Can I ask for some further information on how to reproduce this?
I wonder if this is related to the way you are defining the sparse config. Also, the TN is one of the configuration setting of the tensor-cores that is used in the Triton optimization. However, this parameter is set using the block-sparse config in our implementation: https://github.com/microsoft/DeepSpeed/blob/master/d

[2021-06-22 18:11] stas00 commented on #1062
This is very awesome, @piegu!

If you'd like when this is finished - you could contribute it to the HF notebook collection

It's because at the very last step, fp32 weights are converted to fp16 and some precision gets lost here. fp16 doesn't have all the numbers fp32 has, so some numbers get rounded to the nearest number fp16 has. Is this clear now?

You could push fp16 weights to the hub too. I'

[2021-06-22 18:38] RezaYazdaniAminabadi commented on #1162
Hi @hyunwoongko

Thanks for investigating the issue for these new models 👍
I will test the branch and merge this soon :)

Reza

[2021-06-22 21:59] aphedges commented on #1162
I am getting the same error when using the `num_return_sequences` parameter with GPT-Neo. I ran `deepspeed --num_gpus 4 test.py` with the following code in `test.py`:

[code]

I get `RuntimeError: Tensors must be non-overlapping and dense` errors when running `deepspeed==0.4.0`, but I can confirm that #1168 fixes the issue for me.

This code was run with Python 3.7.9, `torch==1.8.1`, and `transfor

[2021-06-23 03:16] imaginary-person opened #1179 "AVX512 support in PyTorch's ATen library on Windows"
Hello,

I'm not a PyTorch team member, but am adding AVX512 support to PyTorch's ATen library via https://github.com/pytorch/pytorch/pulls/56992. The Linux support has been present for a month in that PR.

I don't have access to a Windows machine with AVX512 support, so I haven't been able to debug some flaky quantization test failures in that PR. So, I've disabled all the ATen AVX512 quantization

[2021-06-23 03:37] donnyyou commented on #1177
I just uses the BertSparseSelfAttention with default arguments. https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/ops/sparse_attention/bert_sparse_self_attention.py#L9
And change the max_seq_length to 4096. https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/ops/sparse_attention/sparse_self_attention.py#L27

[2021-06-23 03:52] donnyyou commented on #1177
When I change FixedSparsityConfig, it works for 4096, but failed for 4096+16. @RezaYazdaniAminabadi

[2021-06-23 07:08] bluseking commented on #579
I have the following problem about deepspeed:
192.168.0.41: Error: Can't open display: 192.168.0.7:0.0
192.168.0.49: Error: Can't open display: 192.168.0.7:0.0
192.168.0.41: Connection closed by 192.168.0.41 port 22
192.168.0.49: Connection closed by 192.168.0.49 port 22
pdsh@tsinghua: 192.168.0.41: ssh exited with exit code 255
pdsh@tsinghua: 192.168.0.49: ssh exited with exit code 255
deepspeed

[2021-06-23 10:48] hyunwoongko opened #1180 "Inference Engine supported model?"
May I know which models currently support model parallelization in inference? As a result of the verification, some models appear to replicate parameters as-is to other devices.

[2021-06-23 10:51] hyunwoongko commented on #1180
https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/module_inject/replace_policy.py

Are only the above 4 models currently supported?

[2021-06-23 21:13] stas00 commented on #1062
@piegu, I have tried to address your needs here: https://github.com/microsoft/DeepSpeed/pull/1181

Please try it and let me know what you think of it.

Thank you.

[2021-06-24 04:34] #1162 closed

[2021-06-24 06:59] SamsTheGreatest opened #1182 "DeepSpeed hangs when used with transformers"
When GPTNeoForCausalLM to fine-tune GPTNeoForCausalLM, transformers.TrainingArguments is being used, where deepspeed is specified. I am attempting to replicate [this](https://github.com/dredwardhyde/gpt-neo-fine-tuning-example.git). When running transformers.TrainingArguments we get:

`[2021-06-24 06:40:34,408] [INFO] [distributed.py:47:init_distributed] Initializing torch distributed with backend

[2021-06-24 15:54] RezaYazdaniAminabadi commented on #1180
Hi @hyunwoongko

This is true that we need to have replace policies for different models in order to both correctly parallelize and inject the kernels.
One caveat though is that it always needs to run through the DeepSpeed Inference API which knows where the results across different GPUs can be merged. Currently we support encoder-only or decoder-only architectures. I am working on the remaining p

[2021-06-24 16:12] hyunwoongko commented on #1180
https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/module_inject/replace_module.py#L152

By the way, why doesn't qkvb change to fp16 in this part?

[2021-06-24 16:14] RezaYazdaniAminabadi commented on #1180
It might be None. I just moved it here: https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/module_inject/replace_module.py#L234

[2021-06-24 16:21] hyunwoongko commented on #1180
It looks to me like it's for GPTNeo. Thank you.
Could you tell me when the Inference Engine of the Seq2Seq architecture will be released?

[2021-06-25 11:06] huangyanjuner opened #1186 "Question about bucket"
Hello, I am reading the zero2.py code. I learned from DDP's paper that the bucketing strategy pays much attention to the gradient reducing order. As you known, the reducing order must be the same across all processes, otherwise, AllReduce contents might mismatch, resulting in incorrect reduction result or coredump. However, Autograd engine is a parallel graph execution engine, which would cause di

[2021-06-25 15:45] zarzen opened #1187 "How to avoid recompile?"
Hi there,
I am doing modification on the source code in `.py` files. Every time I run command `DS_BUILD_OPS=1 TORCH_CUDA_ARCH_LIST="6.0 6.1 7.0 7.5 8.0" pip3 install -v ./` at the source folder, it will recompile all `.cu, .cpp` files. Is there ways to avoid so?

I have tried `pip install -e` option, while my environment has version conflicts, which goes to crash my run with `pip install -e`

[2021-06-25 16:11] RezaYazdaniAminabadi commented on #1177
Thanke @donnyyou for trying this out.
I will look into this and let you know once I found the source of issue.

Reza

[2021-06-25 17:45] jfc4050 commented on #1069
@zarzen sorry i don't completely follow, how would changing it to a blocking call result in the allgather being batched?

[2021-06-25 17:53] zarzen commented on #1069
@jfc4050 by checking the code path, the `async_op=False` is going to invoke `_allgather_params` function at here:
https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/runtime/zero/partition_parameters.py#L847
In which, the function only invokes `all_gather` once with a large tensor.

 (here is the code for calling
 _allgather_params https://github.com/microsoft/DeepSpeed/blob/master/deepsp

[2021-06-25 18:00] jfc4050 commented on #1069
oh thanks totally missed it, interesting how it would do that. lemme try pulling in your change

[2021-06-25 18:34] zarzen commented on #1069
Another thing to notice, `async_op=True` is not going to give you real async all-gathers.
This is because the `torch.cuda.synchronize()` at [here](https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/runtime/zero/partition_parameters.py#L820)

[2021-06-25 18:48] raa2463 commented on #974
@sdtblck @cli99  Did you make progress to support bfloat16 in Deepspeed?
@samyam  Otherwise, can you guide me further if I run into issues while making progress on completing this task? As a starter
1. Can you point me to where the DeepSpeed config changes need to happen? Is there an example config file in the repo?
2.  Do the gradient accumulation changes happen in allreduce_gradients() function

[2021-06-25 20:33] jfb54 opened #1189 "Install fails on Windows"
Using PyTorch 1.9, Cuda 11.1, Windows 10, Python 3.6.7

(venv) E:\>pip install deepspeed
Collecting deepspeed
  Using cached deepspeed-0.4.1.tar.gz (445 kB)
    ERROR: Command errored out with exit status 1:
     command: 'e:\venv\scripts\python.exe' -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\User\\AppData\\Local\\Temp\\pip-install-c2ug4_ge\\deepspeed_eb7683ca68d140f88cf19

[2021-06-27 18:11] rosrad commented on #121
this is a quite important feature to support AMP with ZeRO.

[2021-06-28 05:03] hyunwoongko commented on #1180
@RezaYazdaniAminabadi
Could you tell me when the Inference Engine of the Seq2Seq architecture will be released?

[2021-06-28 09:23] kuznetsoffandrey commented on #1189
The same problem with me. Did you find solution?

[2021-06-28 09:52] jfb54 commented on #1189
I didn't find a solution. The only workaround I found was to use Linux (which does install fine). However, I prefer to debug my code locally on a Windows machine before sending it off to a GPU cluster.

[2021-06-28 15:45] RezaYazdaniAminabadi commented on #1180
Hi @hyunwoongko

Sorry for the late reply.
I am not exactly sure about the time this will be ready, but I would say this is not going to take that long. I am just looking into different models and understand their differences to find a generic way of supporting them that does not require too many changes for the inference engine. Can I ask for a few models that you have in mind regarding the seq2s

[2021-06-28 18:56] jfc4050 commented on #1069
thanks @zarzen for the insight and the idea to batch the all gather calls, its really promising. I think it would still be good to have an async batched all gather. I'm working on some ideas for optimizing prefetching, still working on testing/analysis and fixing some issues but so far performance seems pretty good (~37 TFLOPS/GPU compared to the ~16TFLOPS/GPU i started with)

https://github.com/j

[2021-06-28 19:09] hyunwoongko commented on #1180
I've been working on implementing a new inference layer about seq2seq architectures for a deep speed inference engine for a few days. The problem is that in the case of the seq2seq model, there were quite a few models with various types of attention masks or inputs, and it was not easy to generalize them. As an example, T5 and Bart have very different structures, and models like Funnel Transformer

[2021-06-28 19:09] #1180 closed

[2021-06-28 21:07] aphedges opened #1192 "Inference with `replace_method='auto'` fails for `gpt2-xl` generation"
I modified the code at "[End-to-End GPT NEO 2.7B Inference](https://github.com/microsoft/DeepSpeed/blob/aa16828c267dc7a790a5cc2f43f93a67617a2364/docs/_tutorials/inference-tutorial.md#end-to-end-gpt-neo-27b-inference)" by replacing `EleutherAI/gpt-neo-2.7B` with `gpt2-xl`, and I get the following stack trace when running on 2 GPUs:

[code]

The code works without issues when using the default `Eleu

[2021-06-28 21:51] stas00 opened #1193 "[launcher] optionally log exceptions only on node 0 process 0"
Currently, when working on a multi-node setup, exceptions are hard to figured out as they are logged simultaneously by many processes (e.g. 64!) and the bt is interleaved which makes it very difficult to figure out what went wrong. Usually it's the same same exception (usually OOM).

pytorch launcher has the same issue.

So one of the possibilities is to optionally `/dev/null` `stderr` on all proc

[2021-06-29 01:04] zarzen commented on #1069
@jfc4050 interesting work on the prefetching.
For the async all_gather, I think simply using `handle.wait()` could give you wrong result on allgather.

[2021-06-29 01:05] jfc4050 commented on #1069
do you mean for the batched all gather or just in general?

[2021-06-29 01:43] zarzen commented on #1069
In general.

The `handle.wait` is only working to block for completion of the job, when we set the envirnoment variable `NCCL_BLOCKING_WAIT=1`.

The underlying function of `handle.wait()` calls this function:  https://github.com/pytorch/pytorch/blob/44922f26f5b1d7b6ee8d217a9d32bc0e40ec47a6/torch/lib/c10d/ProcessGroupNCCL.cpp#L316_L320

Which checks a condition of the variable`blockingWait_`, which

[2021-06-29 02:00] jfc4050 commented on #1069
i see, my thought was that for correctness we don't need the actual allgather to complete before `handle.wait()` returns as long as the allgather result is being consumed in the same cuda stream. does that seem reasonable?

[2021-06-29 02:08] zarzen commented on #1069
yes, that's true.
while the stream for collective communication is out of your control. Using
`with torch.cuda.stream(some_stream)` is not going to work as expected. The underlying implementation of allgather has its own cuda stream.

[2021-06-29 02:40] jfc4050 commented on #1069
btw, this conversation made me notice that i forgot to take the allgather out of the separate stream (it was in a `with torch.cuda.stream(self.comm_stream)`, went ahead and did that and performance dropped a little bit to ~38TFLOPS/GPU from ~40TFLOPS/GPU (i accidentally underreported earlier).

here's a profiler shot after doing that
<img width="1641" alt="Screen Shot 2021-06-28 at 7 23 43 PM" src

[2021-06-29 09:42] dannyfriar commented on #1189
Same problem here on Windows 10

[2021-06-29 14:46] zarzen commented on #1069
@jfc4050 Thanks for sharing the profiling results. Are they profiled at V100s?

I have tried the way described in the document, while still getting wrong results. When profiling the following function, the las part the `with torch.cuda.stream ...` cannot block the function.
[code]

[2021-06-29 15:45] garvct commented on #1155
pytest tests/unit/test_cuda_backward.py::test_backward[4-2048-512-32-24-True-True-0.05]
========================================== test session starts ==========================================
platform linux -- Python 3.8.8, pytest-6.2.3, py-1.10.0, pluggy-0.13.1
rootdir: /workspace/nfs2/yandex/DeepSpeed
plugins: pythonpath-0.7.3, cov-2.11.1, hypothesis-4.50.8
collected 0 items

=================

[2021-06-29 16:17] RezaYazdaniAminabadi commented on #1155
Hi @garvct

Sorry, the issue that the test could not run was that it was not among the unit tests. I have added it in [this branch](https://github.com/microsoft/DeepSpeed/tree/reyazda/test-transformer). Let's use this branch to solve some of these issues.
By the way, all unit tests pass in my case:
[code]
I am wondering if this issue is related to the Torch version. I am using the following enviro

[2021-06-29 16:24] RezaYazdaniAminabadi commented on #1155
I am seeing you are using torch1.9+CUDA11.3. Is this a nightly version of Torch?
I will try with torch1.9 and see if I can repro this.

[2021-06-29 16:28] RezaYazdaniAminabadi commented on #1192
Hi @aphedges

Thanks for trying all these.
I will take a look at this. By the way, we have another [test script](https://github.com/microsoft/DeepSpeedExamples/blob/master/inference/huggingface/test-gpt.sh) for this model architecture. I wonder if you see the same issue for that too.

Thanks,
Reza

[2021-06-29 17:26] garrethcline commented on #1189
I am also getting the same problem on windows 10

[2021-06-29 17:27] garvct commented on #1155
pytest tests/unit/test_cuda_backward.py::test_backward[4-2048-512-32-24-True-True-0.05]
============================= test session starts ==============================
platform linux -- Python 3.8.8, pytest-6.2.3, py-1.10.0, pluggy-0.13.1
rootdir: /workspace/nfs2/yandex/DeepSpeed
plugins: pythonpath-0.7.3, cov-2.11.1, hypothesis-4.50.8
collected 1 item

tests/unit/test_cuda_backward.py F

[2021-06-29 17:34] jfc4050 commented on #1069
yep, im running on single host with 8 V100s.

i think its expected that the `s.wait_stream(torch.cuda.default_stream())` doesn't block the function, its just saying that no more work on stream `s` can happen until the work on the default stream completes. But even if you did a `torch.cuda.default_stream().synchronize()` the function still wouldnt be blocked on the allgather since it independently

[2021-06-29 18:31] stas00 opened #1194 "Is it possible to use non-native Deepspeed optimizers with ZeRO-Offload?"
At some point, either in the docs or in one of the issues, it was said that said: ZeRO Offload requires native Deepspeed optimizers.

I suppose it doesn't mean that ZeRO Offload will not work with non-native Deepspeed optimizers. But perhaps it just means that the results are unpredictable?

How can a user know whether they can use a non-native Deepspeed optimizer?

e.g. a user here https://github

[2021-06-29 19:46] aphedges commented on #1192
@RezaYazdaniAminabadi, thanks for looking into this!

The test script you linked worked without issues for 1 and 2 GPUs. However, it seems that removing the `--fp16` line from the script causes the following error when using 1 GPU:

[code]

I also got the above error when I ran the code for my initial comment on only 1 GPU, but I didn't mention it yesterday.

I get a different (third) error when r

[2021-06-29 20:10] zarzen commented on #1069
do you mean the `wait()` simply block the cuda-kernels from launch at `current_stream`? (as  here it uses https://github.com/pytorch/pytorch/blob/44922f26f5b1d7b6ee8d217a9d32bc0e40ec47a6/torch/lib/c10d/ProcessGroupNCCL.cpp#L308 )

anyway, this design is unintuitive to me ...
it is pretty hard to get the status of a collective-communication operation, without explicity synchronization ( `torch.cuda

[2021-06-29 20:21] zarzen commented on #1069
I mean you can mistakenly launch other operations on a customized cuda stream.

[2021-06-29 20:45] zarzen commented on #1187
Using `pip install -e .` first, then the following `pip install -v ./` is not going to recompile files haven't been changed.

[2021-06-29 20:45] #1187 closed

[2021-06-29 21:13] aphedges commented on #1192
I forgot to check, but I can confirm that these errors also go away when I switch to `gpt2-large`.

[2021-06-29 21:52] jfc4050 commented on #1069
yes sorry youre right its `current_stream`, in my specific case `current_stream` was the default stream

yeah agreed, afaict if i have a handle from a NCCL collective, i don't have a way to tell if the work is done, and if i perform any work on the results anywhere but `current_stream` without explicit synchronization i get race conditions. However, if we do frequent cross-stream synchronizations

[2021-06-30 01:43] jfc4050 commented on #1069
i take this back, looks like there is a way to get a cuda event out of a handle, it would then be possible to query for completion.

https://pytorch.org/docs/stable/generated/torch.cuda.Event.html#torch.cuda.Event

[2021-06-30 02:37] zarzen commented on #1069
I guess the ipc-handle is different from the handle returned from `torch.distributed...` APIs. Because the returned handle is a wrapper for the class `ProcessGroup::Work`.

[2021-07-01 05:25] sagewhocodes opened #1196 "Are files inside global_step_{x} required while loading the model for inference?"
I finetuned a `GPT-2 XL` with `huggingface` and `deepspeed` and ended up with a `global_step760`  in the `finetuned` folder along with a `pytorch_model.bin`(See image 1) . I was doubtful about the usage of the following files listed in Image 2 and whether they are only needed for training or for inference also?
# Image 1
![image](https://user-images.githubusercontent.com/54904272/124069384-b516158

[2021-07-01 10:59] BitVoyage opened #1197 "One-Bit Adam is not compatible with Zero 2?"
One-Bit Adam with Zero 1 works fine
But Zero2 run error:
`File "/data/miniconda3/envs/env-3.6.8/lib/python3.6/site-packages/deepspeed/runtime/zero/stage2.py", line 1570, in has_overflow_partitioned_grads_serial`
`File "/data/miniconda3/envs/env-3.6.8/lib/python3.6/site-packages/deepspeed/runtime/zero/stage2.py", line 1577, in has_overflow`
 `for j, grad in enumerate(self.averaged_gradients[i]):`

[2021-07-01 18:01] jfc4050 commented on #1069
quick note: `c10::intrusive_ptr<ProcessGroup::Work> ProcessGroupNCCL::allgather_coalesced` is stubbed out in PyTorch - @zarzen and I both have python implementations of this but could be good for everyone to move the implementation to Pytorch/C++ at some point

https://github.com/pytorch/pytorch/blob/44922f26f5b1d7b6ee8d217a9d32bc0e40ec47a6/torch/lib/c10d/ProcessGroupNCCL.cpp#L1312-L1318

[2021-07-01 19:10] xycforgithub commented on #1172
Same error here. It looks like Deepspeed checkpoint is not supported? Only Megatron is supported.

[2021-07-01 20:39] samyam commented on #1173
@zarzen ZeRO-3 should be run with contiguous gradients set to True. Just pushed a PR that makes contiguous gradients True by default for all cases. Originally when we added support for contiguous gradients there was a performance bug that showed up on small model sizes so we set to False by default but that bug has been fixed for a while now so there is no reason to not run with contiguous gradien

[2021-07-01 21:17] samyam commented on #1186
@huangyanjuner The gradient order is different across processes only if the forward graph is different across process. AutoGrad computes the gradients in a sequential and deterministic order as long as the training is strictly data parallel, ie. all process take the exact same code path. In this scenario, the gradient order will be consistent. This is the underlying assumption in DeepSpeed ZeRO-2.

[2021-07-01 21:57] #1173 closed

[2021-07-02 01:34] ghosthamlet opened #1200 "Can the cuda kernels be used for GPT like models?"
I just saw dense transformer kernels and Sparse attentions was used in Bert model, can they be used for GPT like models?

[2021-07-02 01:38] ghosthamlet opened #1201 "Can activation_checkpointing offloads to NVMe?"
There is a `cpu_checkpointing` in config, why can't offload it to NVMe?

[2021-07-02 06:13] tjruwase commented on #1201
@ghosthamlet, thanks for the question. Yes, activations can also be offloaded to NVMe. We have not had bandwidth to implement this feature.

[2021-07-03 05:53] ghosthamlet commented on #1201
@tjruwase are there a plan to implement it? I think the activations are very large for some model, cpu_checkpointing is not enough.

[2021-07-05 05:48] andreamad8 commented on #1161
@hyunwoongko any insight on how did you do it?

[2021-07-05 06:56] hyunwoongko commented on #1161
I developed totally new tools for model parallelism.
My tool can parallelize all the huggingface models. I will open this tool asap.

[2021-07-05 07:35] andreamad8 commented on #1161
ok, thanks!

[2021-07-05 15:29] Express50 opened #1203 "Error when using GPT2 `model.forward` method with DeepSpeed inference"
Hi,

I am trying to use DeepSpeed with GPT-2/Neo for inference, but encountering an error when using `model.forward` method directly. It seems that the error occurs if I don't provide an `attention_mask`.

[code]

[code]

When I use `model.generate`, as in the example scripts, I am not getting any errors
as `generate` takes care of creating `attention_mask` (but in general I think `model.forward`

[2021-07-05 16:25] RezaYazdaniAminabadi commented on #1203
Hi @Express50

Yes, you are right. I will remove this dependency.

Thanks,
Reza

[2021-07-05 16:28] RezaYazdaniAminabadi commented on #1200
Hi @ghosthamlet

Yes, they can be both used in the GPT-based models. We are working on preparing an example for this soon.

Thanks,
Reza

[2021-07-05 16:31] RezaYazdaniAminabadi commented on #1161
@hyunwoongko, thanks for pushing to solve all these issues. Please let me know when you are finished with opening this as I am also eager to see your approach.

Best,
Reza

[2021-07-06 01:18] ghosthamlet commented on #1200
Thanks.

[2021-07-06 01:18] #1200 closed

[2021-07-06 05:50] linehammer commented on #488
Python knows the purposes of certain names (ex. built-in functions ). Other names are defined within the program (ex. variables). If Python encounters a name that it doesn't recognize, you'll probably get NameError: global name 'xx' is not defined error. In most cases, this error is triggered when Python sees a variable name (Global or Local) and doesn't know what it's for. These errors can happen

[2021-07-06 08:13] rose-jinyang opened #1205 "How to export the trained model checkpoint to ONNX format"
Hello
How are you?
Thanks for contributing to this project.
I am going to export the trained model checkpoint to ONNX format.
Could u guide me asap?
Thanks

[2021-07-06 15:04] Santosh-Gupta opened #1206 "How to diagnose the cause of frozen training."
I was running some training when the training seemed to freeze in the middle of an epoch. I don't see any other issues for this, so it could be related to my code or my system, but I am trying to figure out how to pinpoint the issue.

This is what the output looked like before it froze

[code]

After being stuck on this for a few days, I did cntrl-c and got got this

[code]

My guess is that maybe

[2021-07-06 16:01] tjruwase commented on #1206
@Santosh-Gupta, can you share more details on this, such as the model and command line?

[2021-07-06 18:24] RezaYazdaniAminabadi commented on #1203
Hi @Express50

Please give this PR a try and see if the issue is resolved.
Thanks,
Reza

[2021-07-06 18:24] RezaYazdaniAminabadi commented on #1192
Hi @aphedges

I think this PR fixes the issue.
Thanks,
Reza

[2021-07-06 19:41] zarzen commented on #1069
@jfc4050 I would like to try the prefetching you have modified. I see a runtime error, in running `bing_bert` model,
[code]

any suggestion for a quick fix?

[2021-07-06 19:45] jfc4050 commented on #1069
for now try changing it to a `.discard(...)`, there may be some issue that didnt appear in the roberta model im using for testing

[2021-07-06 20:43] Express50 commented on #1203
Thank you for looking into this @RezaYazdaniAminabadi!

I am now getting a different error when I don't pass `attention_mask`:

[code]

Seems that arg3 is still expecting a tensor but getting None?

[2021-07-06 20:51] RezaYazdaniAminabadi commented on #1203
Yes, you are right! I just pushed a fix, can you try again?

[2021-07-06 21:05] zarzen commented on #1069
@jfc4050 Thanks for the suggestion!
I found another small issue is that we need a `param.ds_status` check in the `wait` function of  the class `AllGatherCoalescedHandle`. I found there might be some `param.ds_status` is `AVAILABLE`.

 (
before this line: https://github.com/jfc4050/DeepSpeed/blob/stage3/deepspeed/runtime/zero/partition_parameters.py#L345
[code]
)

But the code cannot work with `che

[2021-07-06 21:09] Express50 commented on #1203
@RezaYazdaniAminabadi I am now getting:
[code]

[2021-07-06 21:17] RezaYazdaniAminabadi commented on #1203
weird! __input_mask__ is passed as an argument [here](https://github.com/microsoft/DeepSpeed/blob/65f1fe82bb1ca3930c7852468fe82577775baf9a/deepspeed/ops/transformer/inference/transformer_inference.py#L118)!
Let me do some more tests. So, to repro what you are seeing, I have to just remove the mask from the inputs in the huggingface example, right?

[2021-07-06 21:24] Express50 commented on #1203
The latest error actually happens regardless if I provide `attention_mask`.

[2021-07-06 21:25] RezaYazdaniAminabadi commented on #1203
I see. I will fix it soon.
Thanks for trying it out 👍

[2021-07-06 22:13] aphedges commented on #1192
@RezaYazdaniAminabadi, I installed 65f1fe8, and it unfortunately does not fix my issue.

[2021-07-06 22:15] RezaYazdaniAminabadi commented on #1203
I retested it w/wo mask and it works for me. Can you give it a try?

[2021-07-06 22:17] RezaYazdaniAminabadi commented on #1192
Can you please share your script with me to try on my side?
Thanks.

[2021-07-06 22:38] aphedges commented on #1192
I tried 7cb65cc, and that also didn't fix it.

Here is my script:

[code]

The only changes from the version in the tutorial is that it uses `gpt2-xl` and that I am using a local model cache directory.

I ran it with `deepspeed --num_gpus 2 gpt2-generation.py`. Here is the stack trace (given that line numbers are different after your changes; also seems to be some interleaving from the two process

[2021-07-07 06:56] Santosh-Gupta commented on #1206
It's a transformer model, with some custom heads. Maybe there's some loss issue I'm overlooking?

The command like is just `bash deepspeed/deepspeed_ss.sh 4 '

And then file is

[code]

So other helpful info, this is the training part of `deepspeed_train.py` looks like

[code]

Any ideas? Let me know if some other info may be useful.

[2021-07-07 15:16] jfc4050 commented on #1069
thanks @zarzen, i pushed a fix to the first issue you found.

regarding the second..
thinking about it more, i think i shouldn't have changed it to batch the parameters by module - this would be suboptimal most of the time because we can't control the number of bytes per allgather to saturate communication bandwidth. I'm going to change it back to not batch by module, and user can change `prefetch

[2021-07-07 16:07] RezaYazdaniAminabadi commented on #1192
Can you please send me the full log of your experiment?
thanks

[2021-07-07 16:30] zarzen commented on #1069
@tjruwase why do you think the batching is going to affect the checkpointing?

I think the origin zero-stage3, the one before your changes, also do module level batching.
As the prefetch function is invoked when the forward hook is trigged.

[2021-07-07 17:07] jfc4050 commented on #1069
i think the original was using the async allgather which happened to not support batching

https://github.com/microsoft/DeepSpeed/blob/aeea85b45071a44fb1d2f9d9a60cdf28bcf05849/deepspeed/runtime/zero/stage3.py#L443-L444

i'm guessing the issue is something i broke in my development branch, not necessarily related to something that was already an issue in DeepSpeed, unless you observed the same issu

[2021-07-07 17:10] tjruwase commented on #1069
@zarzen, I can't think of why batched prefetching will affect activation checkpointing. It is also strange that it is reporting a zero-sized tensor even though we use 1-sized tensor to represent partitioned parameters. If you want, I can take a closer look if you provide a repro.

By the way, @zarzen and @jfc4050, thanks for your massive investment into improving DeepSpeed performance. We really a

[2021-07-07 17:13] jfc4050 commented on #1069
@tjruwase no problem!

and i believe at one point i changed it to a zero sized tensor, its not a critical change or anything we could do either. I think the issue @zarzen is seeing is probably something i broke in my dev branch though, unless its also happening in master

[2021-07-07 17:16] tjruwase commented on #1069
@jfc4050, got it. Thanks for the clarification. Do you think we should check in master now, or can it until you are done with your changes? Of course the priority will change if any other user hits a similar issue. I am just trying to prioritize.

[2021-07-07 17:30] Express50 commented on #1203
Thanks! Just tested it on my end as well and it works both with and without `attention_mask`.

[2021-07-07 17:58] zarzen commented on #1069
sorry, I was mistakenly refer you... where I intended to at Justin. Yes, I am going to check the details of the tensor, which causes the runtime error.

[2021-07-07 18:03] aphedges commented on #1192
Here is the complete log: [log_2021_07_07_17_39_28.txt](https://github.com/microsoft/DeepSpeed/files/6779182/log_2021_07_07_17_39_28.txt). I used the same command as in my previous comment. I hope it helps.

[2021-07-07 18:10] zarzen commented on #1069
BTW, I have finished a rough version of `inplace_allgather` to replace the `torch.distributed.all_gather`.
The `inplace_allgather` avoids the memcpy step at here: [memcpy of torch.distributed.all_gather](https://github.com/pytorch/pytorch/blob/44922f26f5b1d7b6ee8d217a9d32bc0e40ec47a6/torch/lib/c10d/ProcessGroupNCCL.cpp#L1304)
Besides, it allows you to specify the cuda stream for launching the comm

[2021-07-07 20:28] zarzen commented on #1069
@jfc4050 , by adding some print statements at in `_pre_backward_module_hook` as following:

[code]

The log output before runtime error shows the embedding is not available.
[code]
I think it is not expected behavior. I have tried put a synchronization point in the `pre_sub_module_backward_function` function.
But that didn't work. any suggestions?

[2021-07-07 22:32] zarzen commented on #1069
Found more facts result in runtime error for @jfc4050 's `stage3` branch with `checkpoint_activation` enabled for bing_bert model.

The `sub_module id 3` is gathered multiple times. The first gather-param op completes, so the `ds_status` changed to `AVAILABLE`. Then the second time gathering on `sub-module with id 3` didn't actually launch all-gather. While the sub-module is added into inflight ma

[2021-07-08 00:04] stas00 opened #1207 "[zero] splitting up context managers into enter/exit trackers"
Having converted multiple HF transformers models to zero3, I feel there is a need to make the context managers (`zero.Init` + `GatheredParameters` more readability friendly, since currently each of these 2 forces:
[code]
to be rewritten as:
[code]

and very often the sections that need wrapping can be multiple lines of code, thus resulting in very difficult to read and maintain code, e.g.:

[code]

[2021-07-08 00:17] jfc4050 commented on #1069
hey @zarzen, thanks for the analysis, seems like you uncovered an edge case related to modules re-appearing in the forward pass. I didn't look too far into it because i was changing it back to not batch by module in order to try and better saturate communication bandwidth. (just finished, the newest changes are pushed to https://github.com/jfc4050/DeepSpeed/tree/stage3)

the code is still in a pre

[2021-07-08 04:50] mamoonmasud opened #1208 "Runtime Error on Colab"
I'm trying to train a model using deep speed on Google Colab. For installation, I had to downgrade Colab's Cuda version (not sure if this is relevant), after which the installation succeeded. However, when I run the training command, I encounter the following error, which all I can see is a memory allocation error. The below code is just the last bit of the output, but I've also attached a file co

[2021-07-08 09:55] Santosh-Gupta commented on #1196
I have a similar question, except all I seem to have is the .pt files in the global step folder.

<img width="381" alt="image" src="https://user-images.githubusercontent.com/5524261/124902081-77544800-df97-11eb-9e33-7368df79542d.png">

However, it seems to require a .json file, which doesn't seem to be saved.

I was using this to save my model during training

[code]

And this is my code for the i

[2021-07-08 09:56] Santosh-Gupta commented on #1172
Might be related to

https://github.com/microsoft/DeepSpeed/issues/1196

[2021-07-08 12:38] switiz opened #1209 "GPT-NEO model parallelism not work issue"
@RezaYazdaniAminabadi
When I inference using gpt-neo 1.3b model with tutorial code. may be model parallelism is not work
I tested several times using multiple A100 gpus. In my opinion, if i increase the number of gpus, memory usage per gpu should be decrease. But rather it is increasing.

And if the number of gpu is increased, host ram consumption increases to process * num_gpus.
So, if the num of

[2021-07-08 17:21] #1106 closed

[2021-07-08 19:38] Santosh-Gupta commented on #864
I have the same issue. Any updates?

[2021-07-08 19:49] Santosh-Gupta opened #1211 "Deepspeed model engine can not load a saved checkpoint. "RuntimeError: The size of tensor a x must match the size of tensor b y at non-singleton dimension z""
During training, I would periodically save a checkpoint using `model_engine.save_checkpoint`

However, `model_engine.load_checkpoint` is resulting in this output

[code]

This is the main code I use for training

[code]

And this was the code I used to load a checkpoint

[code]

[2021-07-08 21:06] #1203 closed

[2021-07-11 22:42] jeffra commented on #1206
Are you able to reproduce the hang? If so, we have had good debugging this sort of thing with py-spy:

https://pypi.org/project/py-spy/

py-spy dump --pid <process-id>

This will get you the Python stack trace of a process. Then you’ll just want to check all the running training processes.

[2021-07-11 23:15] jeffra commented on #1197
We don’t have full support for composing 1-bit with zero-*. Zero 2 which partitions gradients especially would have difficulties here since 1-bit handles gradients in a different way than zero.

[2021-07-12 09:29] qiao1025566574 opened #1216 "About ssh service abort"
I use docker as my development environment. So I have to ssh my server to debug my code. I have two nodes that have 8 GPUs. Deepspeed will start the sshd process to connect these two nodes.

When I debug my code, I will kill the process while the process is running.  Therefore, **my own ssh connect would abort** sometimes after I killed the process which was started from deepspeed.

Are there any

[2021-07-12 09:49] MichaelEk opened #1217 "Model with ZeRO-1 converges worse than model without ZeRO-1"
![Screenshot from 2021-07-12 12-45-29](https://user-images.githubusercontent.com/1654957/125267033-17e79680-e30f-11eb-81a8-dca0564b14bc.png)

This result was obtained when training Megatron LM from the examples.

Here is DS configuration:
`
{
    "train_batch_size": 32,
    "train_micro_batch_size_per_gpu":1,
    "steps_per_print":10,
    "prescale_gradients":false,
    "gradient_clipping":1.0,

[2021-07-12 09:50] TianhaoFu opened #1218 "AttributeError: 'FP16_DeepSpeedZeroOptimizer' object has no attribute 'ipg_index'"
Hi,
I want use DeepSpeed to speed my transformer , and I came across such problem:
[code]

My config.json is as follows:
[code]

[2021-07-12 10:42] MichaelEk commented on #1217
![Screenshot from 2021-07-12 13-41-02](https://user-images.githubusercontent.com/1654957/125274650-d78c1680-e316-11eb-8fd3-86fb533f4a54.png)

Model with ZeRO-1 coverges even worse with Adam

[2021-07-12 11:25] MichaelEk commented on #1217
Additional moment: we use PipelineModule model, but pp_world_size = 1

[2021-07-12 15:25] switiz commented on #1209
Dear @RezaYazdaniAminabadi
I spent a lot of time trying to fix it. Finally I fixed this issue. issue root cause is two reason like https://github.com/microsoft/DeepSpeed/issues/1161

1. cuda cache : fixed using torch.cuda.empty_cache()
2. huggingface model load in gpu first:
    first load using cpu and set deepspeed slicing and load in gpu. fixed deepspeed lib

If you possible, I request library-

[2021-07-12 15:59] RezaYazdaniAminabadi commented on #1209
Hi @switiz

Sorry for the late reply.
Yes, the reason for increasing in memory was the cached memory.
I agree that the model needs to be created on CPU and then partitioned across the CPU. I will work on the PR to fix this.
Thanks for investigating the problem.
Reza

[2021-07-12 18:38] ParamsRaman commented on #1197
@jeffra adding to this.. I am curious to know if 1-bit + zero-* support is in your work plan? if so any estimate of the timeline (weeks, months?) Also curious to know how much of an effort it is to enable this? Thanks,

[2021-07-12 21:59] SongweiGe opened #1222 "test_sparse_attention.py failed with CUDA 11.0"
Hi, I'm running an issue in building DeepSpeed with Sparse Attention using V100 + CUDA 11.0 environment. Specifically, after removing this skip flag (https://github.com/microsoft/DeepSpeed/blob/2660cc4dd43348306c58913775ceb4878379abe5/tests/unit/test_sparse_attention.py#L243), I ran into the following error with `pytest tests/unit/test_sparse_attention.py -sv`:

[code]

In addition, here is my `ds

[2021-07-13 00:05] RezaYazdaniAminabadi commented on #1222
Hi @SongweiGe

Thanks for trying our unit tests.
The issue is that with the new version of Triton we have some issues with when we transpose matrixes at the sparse GeMM kernels for FP32. I have created a separate branch [here](https://github.com/microsoft/DeepSpeed/tree/reyazda/test-sparse) that removes those cases and all tests are passing. So, if you are using this with FP16, I can assure you th

[2021-07-13 05:00] SongweiGe commented on #1222
Hi Reza, thanks for the very quick reply!

I am curious if there is a previous version of DeepSpeed that you recommend me to roll back which relies on a old version of Triton to avoid this issue?

Also, I am still facing some of the issues that I previously saw even with FP16. The error says `RuntimeError: CUDA error: an illegal memory access was encountered` when I was conducting an sdd matrix mu

[2021-07-13 07:34] Santosh-Gupta commented on #1206
Not yet, it took about 2 weeks of training for the freeze to happen.

py-spy looks like a powerful debugging tool, thanks for sending it our way

[2021-07-13 12:01] weberxie opened #1226 "question about how to reproduce BERT Pre-training"
Hi team, We are very impressive on your great work, especially about the ZeRO-Infinity!

I was trying to reproduce the BERT Pre-traning especially to enable the ZeRO-Infinity.  But the [tutorial](https://www.deepspeed.ai/tutorials/bert-pretraining/#reproducing-fastest-bert-training-results-with-deepspeed) confused me that, there is no declaration of the preprocesstion. It seems very different from

[2021-07-13 14:07] tjruwase commented on #1226
@weberxie, unfortunately the bing_bert dataset is not publicly available. But there other options, please see [here ](https://github.com/microsoft/DeepSpeedExamples/issues/8) if any work for you.

[2021-07-13 14:21] weberxie commented on #1226
@tjruwase Thank you for your kind response.

[2021-07-13 14:21] #1226 closed

[2021-07-13 15:30] RezaYazdaniAminabadi commented on #1222
Hi @SongweiGe
Can I ask which test you are referring to, since I have not seen this issue, but just the assertion?
I still suggest you use the latest version of both DeepSpeed and Triton. I will update you by the end of this week if these issues are solved.
Thanks,
Reza

[2021-07-13 20:17] hjm-aws commented on #1171
The authors didn't specify the version requirement for the `packaging` package. In my case I was able to fix the issue by `pip install packaging --upgrade`, which installed the version 21.0 of `packaging`.

[2021-07-13 23:16] stas00 commented on #1194
@samyam answered elsewhere:

[2021-07-13 23:16] #1194 closed

[2021-07-13 23:22] jfc4050 commented on #1069
![Screen Shot 2021-07-08 at 11 19 23 AM](https://user-images.githubusercontent.com/31414860/125528470-5235a028-f61f-4538-b34a-221736a68c7a.png)

sorry, haven't been keeping this updated. We are getting pretty good overlapping of computation and communication now (stream 7 for compute, stream 26 for communication), and the computation stream is rarely blocked by data (from the parameter allgathers)

[2021-07-14 03:41] TianhaoFu opened #1228 "close FP16 in my custom code"
Hi , I wonder know can i close FP16 in my custom code? Because I found some code can not run in FP16 like
[code]

Thanks

[2021-07-14 09:02] dannyfriar opened #1229 "Support for Multiple Optimizers"
Is support for multiple optimizers on the current roadmap?

PyTorch Lightning already has built in support for custom optimizers ([see the docs here](https://pytorch-lightning.readthedocs.io/en/0.7.1/pl_examples.domain_templates.gan.html#pl_examples.domain_templates.gan.GAN.training_step)) so this would fit in nicely with the lightning deepspeed plugin.

[2021-07-14 09:33] samarth-b commented on #1171
this is when compiling master. Perhaps packaging version should be mentioned.

[2021-07-14 12:12] TriLoo opened #1231 "DeepSpeed cannot move Tensor on remote server to GPU."
My hostfile is writen as below:

[code]

Then I launch a deepspeed script to run, but the program cannot move tensors to GPU, for example code:

[code]

where `model` is a DeepSpeedEngine. If I use only `localhost` in the hostfile, it can work, but if I include the remote server (`192.168.10.101`) into hostfile, looks like the tensor cannot be moved to GPU  on that server!

update 1: looks like af

[2021-07-14 12:57] gongjingcs opened #1232 "larger batchsize"

[2021-07-14 14:41] tjruwase commented on #1069
@jfc4050, thanks. This is an impressive list of optimizations and great progress. I just want to point out that @zarzen is also doing some prefetching improvements, so might need to coordinate your PRs a bit.

[2021-07-14 14:44] tjruwase commented on #1069
Could be some modules or parameters not getting properly registered by zero.Init(). Is this error reproducible on fewer gpus, such as 1 or 2 (for 1-gpu you can try offloading to cpu)?

[2021-07-14 16:11] jfc4050 commented on #1069
yep i can repro on single GPU. for some reason i'm getting a gradient of shape (1,) for a parameter of shape (50265,). it also only seems to happen to 1D parameters

[2021-07-14 16:17] jeffra commented on #1218
Hi @TianhaoFu can you share `ds_report` with me? I am curious on what deepspeed version or commit hash you were on. I am trying to reproduce your issue.

[2021-07-14 17:38] zarzen commented on #1069
Hi, @jfc4050 have you submitted PR for your improvement? if so could you refer me the PR number, so we can have discussions there?
I can help with the debugging/code analysis.

[2021-07-14 21:12] tjruwase commented on #1069
@zarzen and @jfc4050, yes it would be great to coordinate your efforts. Additionally, @zarzen, do you need me to commit #1170 before your PR goes in?

[2021-07-14 21:22] zarzen commented on #1069
that works for me, because when I merge with your modification, I didn't see much conflicts.

[2021-07-14 23:10] tjruwase commented on #1231
@TriLoo, sorry, I don't fully understand the problem.

Can you please share a simple script and command line to reproduce the error?

[2021-07-14 23:16] griff4692 commented on #550
HI - I am using pytorch lightning and latest pytorch and getting the reverse error when I use the deepspeed offload plugin.

`RuntimeError: expected scalar type Float but found Half`

Any solutions?  I need to reduce memory to fit a single example onto GPU, unfortunately

[2021-07-14 23:32] griff4692 opened #1233 "RuntimeError: expected scalar type Float but found Half"
Hi - I'm trying to use the deepspeed plugin with Pytorch Lightning.  My code worked before but changing the line in trainer

to add

`plugins='deepspeed_stage_3_offload'`

Causes the error posted in the title. I've tried casting parameters and variables as float and half, but the error persists.

Any suggestions would be much appreciated as I'm really looking forward to see what deepspeed can do.

[2021-07-14 23:49] tjruwase commented on #550
@griff4692, are you seeing this error on the client script side? Can you share log or stack trace?

[2021-07-14 23:53] tjruwase commented on #1233
@griff4692, can you share log and stack trace?

Also, can you check if the same error happens with `deepspeed_stage_2_offload` plugin?

[2021-07-15 02:48] TriLoo commented on #1231
sure, my python scripts is as below:

[code]

this program get struck in `batch.to(args.device)` this line and cannot move to the `print()`.

my launch script is as below:

`
deepspeed --master_port 9996 --hostfile "../ds_configs/hostfile" try_ds2.py --deepspeed --deepspeed_config "../ds_configs/bert.json"
`

where the hostfile content is:

[code]

and bert.json:

[code]

if there is any unclear,

[2021-07-15 03:23] AlxDfy commented on #889
Still running into this error:
CUDA 10.2
deepspeed 0.4.3
pytorch 1.8.1

[2021-07-15 07:40] gongjingcs commented on #1232
as the timeline shows below,

![image](https://user-images.githubusercontent.com/15030497/125748492-c31c8362-c9bd-4372-a805-e5056f4132bc.png)

model parameters: 3.9B

zero2 config:
"zero_optimization": {
    "stage": 2,
    "contiguous_gradients": false,
    "overlap_comm": true,
    "reduce_scatter": false,
    "reduce_bucket_size": 250000000,
    "allgather_bucket_size": 500000000
  },

[2021-07-15 09:04] benywon opened #1235 "zero-3 always OVERFLOW!"
when I tried my code with zero-2, everything seems ok. However, when I switched to zero-3 without changing any settings, the model always print warning info of OVERFLOW like this:
`[2021-07-15 17:02:39,984] [INFO] [stage3.py:2725:_overflow_clean_up] [deepscale] OVERFLOW! Rank 0 Skipping step. Attempted loss scale: 64.0, reducing to 32.0`

My ds config file is :
`{
  "gradient_accumulation_steps":

[2021-07-15 11:31] SamsTheGreatest commented on #1030
Obtaining the same error when trying to train the model with `gloo`

`test_model.requires_grad_(False)` doesn't help as training is needed. Refer to the issue above, mentioned by @stas00 for more details on this.

[2021-07-15 12:04] griff4692 commented on #1233
Yes the same error persists regardless of stage 1, 2, or 3.

[2021-07-15 14:56] tjruwase commented on #1231
Thanks for sharing these details. One more question, are you able to do passwordless ssh to `192.168.10.101` from localhost? One way to test this is through this following command:
[code]

[2021-07-15 15:05] tjruwase commented on #1233
Thanks for sharing these details. I would like to repro this problem. Can you please share the steps for me to do this?

[2021-07-15 15:10] tjruwase commented on #1235
@benywon, sorry that you are having this issue with zero-3. Can you please share a minimal script to repro the problem?

[2021-07-15 15:13] griff4692 commented on #1233
Hi - yes, let me try with a toy example!

I'm tied up right now but a simple forward pass with GATConv hopefully will reproduce the error.  Just will need to pass it a dummy dataloader for `model.train_dataloader` and a `model.training_step(self, batch, batch_idx)` to call self.gat(dummy_node_features, dummy_edge_index)

[2021-07-15 15:13] tjruwase commented on #1232
@gongjingcs, this is probably due to the gradient partitioning during the backward pass. After reduction, each rank only keeps a partition of the gradients and frees up others belonging to other ranks.

Is this causing an issue in someway on your end?

[2021-07-15 15:17] tjruwase commented on #1217
@MichaelEk, thanks for reporting this issue. In general LAMB is not expected to play well with ZeRO. However, your observation is surprising for Adam since it works and is well tested. Can you please check to see if same issue occurs without pipeline?

[2021-07-15 15:19] tjruwase commented on #1228
@TianhaoFu, thanks for using deepspeed. Unfortunately, I don't understand the question. Can you please clarify what you mean by `close`? Can you share a code example that works without deepspeed?

[2021-07-15 15:20] tjruwase commented on #1182
@SamsTheGreatest, are you still having this issue?

[2021-07-15 16:06] tjruwase commented on #1233
@griff4692, got it. No rush, I can wait for your complete toy example. Thanks!

[2021-07-15 16:08] tjruwase commented on #1201
Yes, this is in our plans to implement. Can you share some details about your scenario for our planning? Thanks!

[2021-07-15 23:07] stas00 opened #1236 "Inefficient zero checkpoint loading"
As it was originally reported in https://github.com/huggingface/transformers/issues/12680 a user can easily train and save checkpoints, but don't have enough RAM to subsequently load that same checkpoint into memory.

One discussed approach is to use staggered loading so multiple processed won't try to use CPU memory at once, but the main issue appears in the fact that currently each process loads

[2021-07-15 23:12] stas00 commented on #1236
I will also post here my experiment to do staggered loading (which appears to make no difference peak CPU memory wise)

I have used 2 approaches.

1. The `flock` based approach operates correctly
2. the `barrier`-based one seems to hang in `barrier` for some reason.

[code]

[2021-07-15 23:29] griff4692 commented on #1233
[code]

[2021-07-15 23:31] griff4692 commented on #1233
Running this actually supplies a different error which is

[code]

Which I've been able to reproduce on my more complex model by just calling `half()` on the inputs to the GATConv model.  I've confirmed that this behavior is to be expected:

https://github.com/rusty1s/pytorch_geometric/issues/2866

Maybe I just can't use deepspeed for this particular application or need to downgrade to earlier ver

[2021-07-15 23:56] tjruwase commented on #1233
I don't have much experience with TorchScript, but I am curious if the original issue can be repro'd without TorchScript. I suspect that in the case an appropriate cast would be the fix. But we can't know for sure unless we get a repro.

[2021-07-16 00:17] griff4692 commented on #1233
Does deepspeed need everything to be half?  If that's the case, it seems incompatible with `torch_scatter`

[2021-07-16 00:31] tjruwase commented on #1233
@griff4692, not at all. DeepSpeed can work with fp32 or halfs depending on the configuration. The problem here is that DeepSpeed does not attempt to do any automatic casting in the case of mixed-precision training. For example, can you try running in full fp32 by disabling fp16 in your deepspeed config? You can see docs for fp16 configuration [here](https://www.deepspeed.ai/docs/config-json/#fp16-

[2021-07-16 01:43] griff4692 commented on #1233
In PyTorch Lightning, if you use fp32 with deepspeed plugin, you get the following error:

[code]

I'll look into circumventing this

[2021-07-16 01:46] griff4692 commented on #1233
https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/plugins/training_type/deepspeed.py

looks like you can re-write config and it may work but not sure how it interacts with all the other settings

[2021-07-16 02:44] gongjingcs commented on #1232
Yes，because in this case cudafree costs more than 2 seconds. In addition, I’m very curious that using a smaller bsz and the same zero configuration does not have this problem. Looking forward to your reply

[2021-07-16 02:54] ghosthamlet commented on #1201
@tjruwase My scenario is simple, i want to train a GPT-2 model with params larger than 2.7B (the model config is same as GPT-3 2.7B), seq_len (context window) is 1024 tokens, and batch_size on single gpu should larger than 12, the datasets is IterableDataset.
I have two 2080ti GPU, 128G cpu memory, 2T NVMe,
so i think if activation_checkpointing can't offload to NVMe, the 128G memory maybe not eno

[2021-07-16 03:53] tjruwase commented on #1201
Thanks for sharing your scenario. However, I think if you offload optimizer to NVMe, you should have enough cpu memory for activations for a 2.7B model. Can you share the hidden size and layer count as well?

[2021-07-16 03:59] tjruwase commented on #1232
I am still unsure of what could be causing such slow cudafrees. Also, I am quite surprised that smaller bsz makes a difference. Can you try the following?

1. Try zero-1 which will disable the gradient partitioning logic. I think zero-1 should fit your 3.9B model.
2. Enable contiguous_gradients with zero-2. One possible cause of high frees is memory fragmentation, which contiguous_gradients is sup

[2021-07-16 04:13] gongjingcs commented on #1232
1、 yes，of course，zero-1 fit my models
2、Enable contiguous_gradients with zero-2 also cause such slow cuda frees.

One thing that needs to be pointed out is that it seems that this happens only when the V100 GPU memory is almost full.

[2021-07-16 04:38] tjruwase commented on #1232
This is perhaps the correct clue. This could be because higher batch size creates memory pressure that could cause the memory allocator to react in a way that results in this behavior. The two that come to mind are:
1. The memory allocator is defragmenting memory to satisfy the large buffer requests of allgather.
2. The memory allocator is exploiting the memory frees of gradient partitioning to tr

[2021-07-16 06:27] TriLoo commented on #1231
@tjruwase
Yes, I can.

I finally find out the reasons which cause the model cannot be broadcasted to other servers. The NCCL environments looks like should be set properly.

Could you add the configs of NCCL used in multi-node multi-gpu training ? thanks.

[2021-07-16 06:28] gongjingcs commented on #1232
we do not observe similar  high number cudafrees with zero-1.

[2021-07-16 07:34] tjruwase commented on #1231
Can you check out this [link](https://www.deepspeed.ai/getting-started/#multi-node-environment-variables)?

[2021-07-16 07:35] TriLoo commented on #1231
got it, thanks.

[2021-07-16 07:36] tjruwase commented on #1232
Thanks for sharing that information. So perhaps hypothesis 2 is also involved.

[2021-07-16 08:59] SeanNaren commented on #1233
Thanks for checking this out @tjruwase appreciate it!

Lightning should be updated to allow FP32 support, let me try make a branch for us to try @griff4692 in Lightning!

[2021-07-16 09:32] mpjlu commented on #1165
@tjruwase, we also find the same problem.

[2021-07-16 10:01] ghosthamlet commented on #1201
Thanks for your fast reply, the model config is: layers 32, hidden size 2560, heads 32, head size 80.

[2021-07-16 10:03] gongjingcs commented on #1232
Sorry for the trouble. I found that the zero stage1 has this problem without gradient partition enabled.
So we can conclude that the reason is that torch memory allocator is defragmenting memory not deepspeed memory management mechanism?

looking forward to your reply!

[2021-07-16 14:53] tjruwase commented on #1232
Thanks for sharing the update regarding zero-1 behavior. So it does seem like a memory pressure issue. Did you try offloading the optimizer state to cpu and running the same large batch size? Even though the perf might be hurt, I think this will provide further evidence of memory pressure being the root cause. Thanks!

[2021-07-16 14:59] tjruwase commented on #1201
@ghosthamlet, thanks for sharing these details. By my estimation, activation memory for batch size of 10 per gpu should be ~4GB. Are you able to test this out in practice, perhaps there are errors in my calculations :).  With 64G memory, you might even be able to keep optimizer in cpu. Please let me know how it goes.

[2021-07-16 15:52] tjruwase commented on #1165
@BitVoyage and @mpjlu, thanks for reporting this issue. Apologies for the late response.

I can take a closer look next week. Can you please share a bit more details to repro on my side? Thanks!

@stas00, for awareness.

[2021-07-16 16:03] mpjlu commented on #1165
I tested on DeepSpeed version v0.4.0, cuda 10.2, and pytorch 1.8.1
you can train a model with zero 1 or 2, then using  zero_to_fp32.py in the checkpoint folder to get  FP32 weight.
The FP16 weight can load from 'mp_rank_00_model_states.pt',
Then compare the value of the same Tensor.
Thanks @tjruwase

[2021-07-16 17:56] stas00 commented on #1165
Please retest with `deepspeed=0.4.3` - as some problems were fixed in `zero_to_fp32.py` in the latest version. Thank you!

[2021-07-17 03:34] ghosthamlet commented on #1201
I will give results here, maybe next week i will try it. Thank you very much for all the patiently answers.

[2021-07-17 20:32] griff4692 commented on #1233
Hi - I was able to manually call `half()` on a few tensors and got things working.  Yet, I now get the following error

```RuntimeError: Function LinearFunctionForZeroStage3Backward returned an invalid gradient at index 0 - got [14, 96] but expected shape compatible with [14, 96, 768]```

This error only occurs with Deepspeed so maybe something fish is going on with all my manual interventions.

[2021-07-18 03:09] hyunwoongko commented on #1161
@RezaYazdaniAminabadi

https://github.com/tunib-ai/parallelformers

We present a novel framework for model parallelization 🎉

[2021-07-18 04:33] RezaYazdaniAminabadi commented on #1161
@hyunwoongko

Thanks for sharing this. I will look into it and let you know if I have questions.

[2021-07-18 07:27] 634671436 opened #1237 "AttributeError: 'DeepSpeedCPUAdam' object has no attribute 'ds_opt_adam'"
I'm using the zero-2(zero offload) in deepspeed to training the big model, However I meet a problem when i normally  pip install deepspeed and check the ds_report,
![image](https://user-images.githubusercontent.com/22366758/126059307-b4239213-a275-423c-9e99-a107fe04e7f2.png)

And here is my config.json
![image](https://user-images.githubusercontent.com/22366758/126059024-4a7c95c3-7b57-4b59-8dd2-9a

[2021-07-19 03:27] BitVoyage commented on #1165
@stas00 still got wrong model weights
![image](https://user-images.githubusercontent.com/10386094/126098428-98c7a112-4105-45d5-a091-561889eed2c3.png)
My deepspeed config is:
![image](https://user-images.githubusercontent.com/10386094/126098477-6267e6dd-c611-4bf3-9a50-c982f5f11c8c.png)

[2021-07-19 04:10] #1231 closed

[2021-07-19 08:07] Liu-xiandong opened #1238 "Encountered a problem when testing the SparseSelfAttention function"
Hi,  I want to test the performance of SparseSelfAttention ( https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/ops/sparse_attention/sparse_self_attention.py ), so I added the following code at the end:
[code]

Then the code reported an error：
[code]

How should this problem be solved?

[2021-07-19 09:22] SeanNaren commented on #1233
We have a PR for getting FP32 support on the Lightning side: https://github.com/PyTorchLightning/pytorch-lightning/pull/8462

@griff4692 I'll sync with you offline over the issue with `half` not being appropriately called on your tensors for you!

[2021-07-19 15:08] tjruwase commented on #1233
@SeanNaren, thanks for helping out the Lightning side. Can you both please keep me in the loop if there any issues to fix on DeepSpeed in order to close this? Thanks!

[2021-07-19 16:18] stas00 commented on #1165
Thank you for retesting with the latest deepspeed, @BitVoyage. I will write some more detailed tests and get back to you.

[2021-07-19 19:37] stas00 commented on #1165
I confirm that zero2 fp32 recovery is broken in the latest deepspeed,

Zero3 works fine.

I will work on fixing it and writing better tests.

[2021-07-20 00:46] stas00 commented on #1165
Please verify that things work with https://github.com/microsoft/DeepSpeed/pull/1240

You will need to re-create the checkpoint anew for the test.

[2021-07-20 05:34] switiz commented on #1209
@RezaYazdaniAminabadi
wow. That's great news.
I'll wait for the commit to come up.
Thank you
BR

[2021-07-20 10:32] 201577D0212 commented on #535
Hello, I also met this problem in the process of deploying the environment, I would like to ask you how to solve this problem?

[2021-07-20 14:52] #1165 closed

[2021-07-20 16:51] RezaYazdaniAminabadi commented on #1237
Hi @634671436

I wonder if you have seen any compilation error that the ds_opt_adam was not loaded correctly [here](https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/ops/adam/cpu_adam.py#L79). Can you please see what compute-capabilities exit on your system (`echo $TORCH_CUDA_ARCH_LIST`)?

Can you also share the full log of your run?

Thanks,
Reza

[2021-07-20 17:02] wenting-zhao opened #1243 "Multi GPUs are not coordinating with each other in the bing_bert example"
Hi there,

Thank you for making deepspeed and the bing_bert example available; they are extremely helpful!

I ran the exact script from https://github.com/microsoft/DeepSpeedExamples/blob/master/bing_bert/ds_train_bert_nvidia_data_bsz64k_seq128.sh where I processed the nvidia dataset to run (specifically, I used the wiki dataset).

However, no matter how I set CUDA_VISIBLE_DEVICES=n, where n=1, 2,

[2021-07-20 18:40] RezaYazdaniAminabadi commented on #1192
Hi @aphedges

Sorry for the late reply on this thread.
I now see the issue with this model. The problem is that the number of heads is 25 and is not dividable by 2. So, we cannot parallelize it across 2 GPUs. In this case, the smallest model-parallel degree has to be 5, otherwise the kind of parallelism we support cannot work.
I can put an assert to clarify this issue more properly for the inferen

[2021-07-20 20:54] #1192 closed

[2021-07-20 21:15] aphedges commented on #1192
Should this issue be closed? An assert (or similar check) would be very useful here by providing a more clear error message, but the linked PR doesn't seem to add one.

[2021-07-20 21:16] RezaYazdaniAminabadi commented on #1192
Yes, I will do that in a separate PR.
Thanks @aphedges

[2021-07-20 21:26] aphedges commented on #1192
@RezaYazdaniAminabadi, thanks for figuring this out!

I did not know that model-parallelism had such restrictions. I guess I just can't use `gpt2-xl` with DeepSpeed on a single 4-GPU machine, then.

[2021-07-20 22:09] RezaYazdaniAminabadi commented on #1161
Hi @hyunwoongko,

Thanks for sharing the great work you did on parallelizing the transformers models. I think we can use a lot of this in deepspeed to parallelize the different models.
I went through your description [here](https://github.com/huggingface/transformers/issues/12772#issuecomment-882760778). I agree with the limitation that our approach has, mostly due to using the inference-optimized

[2021-07-20 22:11] RezaYazdaniAminabadi commented on #1161
By the way, you will realize that with this PR the memory of the GPUs won't increase (even the cached one) the same as before.

[2021-07-21 02:20] bhushan-borole commented on #329
Hey @ShadenSmith
Is this issue open to work?
I believe @ncilfone has submitted a PR for this issue.

[2021-07-21 10:17] weberxie opened #1245 "Question about the ZeRO-Infinity paper"
Hi team, I'm reading the ZeRO-Infinity paper in depth.

I have a question about section 3 - MEMORY REQUIREMENTS, why the optimizer states consist of FP32 gradients? According to my understanding, in the backward process, the gradients are computed in FP16 and are directly used to update the parameters. So why do we need to store gradients in FP32?

Thanks.

[2021-07-21 12:38] tjruwase commented on #1245
@weberxie, thanks for your question. The answer is that in mixed-precision training, while the model maintains fp16 parameters and gradients, the optimizer computes in fp32 and so maintains fp32 parameters (a.k.a., master weights) and gradients (and first and second moments in the case of Adam). The optimizer computes in fp32 to avoid precision loss, and then updated fp32 parameters are copied int

[2021-07-21 19:23] #1243 closed

[2021-07-21 19:29] wenting-zhao commented on #942
I am having the same issue here.  I'm running the deepspeed example bing_bert code unmodified.

[2021-07-22 00:38] hyunwoongko commented on #1161
Thanks for the positive reply. @stas00 and I were discussing the integration of parallelformers and transformers [here](https://github.com/huggingface/transformers/issues/12772). And maybe we're thinking of this as part of the DeepSpeed and Transformers integration, and we want to work on this with the DeepSpeed team. For example, I and you implement and commit in DeepSpeed, and I and Stas utilize

[2021-07-22 00:40] hyunwoongko commented on #1161
In addition, I also want to implement a training feature, what do you think of this? I think many people want to training Transformers models with the Tensor MP method. I hope ultimately all the models in Transformers support 3D parallelization through ZeRO + Pipeline with Tensor MP.

[2021-07-22 01:11] jfc4050 commented on #1130
we havent been updating this issue, but we were seeing the same issues even after optimizations to stage3 discussed in https://github.com/microsoft/DeepSpeed/issues/1069 and trying to figure out why (optimizations: https://github.com/jfc4050/DeepSpeed/tree/stage3)

i think i found the biggest (there's other smaller factors) culprit

with the blocking HtoD copy. note the `cudaStreamSynchronize` cal

[2021-07-22 05:51] SongweiGe commented on #1222
Hi Reza, the code I used was not test but from the mentioned repo above.

I was able to get things to work with an older version of deepspeed and triton: `deepspeed==0.3.1` and `triton==0.2.3`. I'm wondering if you have any thoughts on what have been changed in with the latest version to cause the error?

Thanks,
Songwei

[2021-07-23 03:06] ghosthamlet commented on #1201
@tjruwase I have succeed in training 2.6B GPT-2 model,  i have to finetune on a existing 2.6B model, so did not train 2.7B model, but the difference should not be large.
Yes, your estimate is right, no need NVMe for 2.6B model, it just used 53.17G cpu memory.

**hardware:**
two 2080ti GPUs (each 11G memory), 64G cpu memory.

| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Comput

[2021-07-23 03:54] weberxie commented on #1245
@tjruwase Thanks for your response, I'll verify it with a demo model.

[2021-07-23 03:54] #1245 closed

[2021-07-23 15:52] RezaYazdaniAminabadi commented on #1238
Hi @Liu-xiandong

Thanks for reporting this. I will check this to see if I can repro on my side. I'll let you once it is resolved.

Best,
Reza

[2021-07-23 16:00] chrjxj commented on #1144
probably i got the same case in a cv model training.

with fp16 enabled:
[code]
the training code got:

[code]

[2021-07-23 16:42] chrjxj commented on #1218
config:

[code]

get error:

[code]

deepspeed version: checkout from master and build

[2021-07-23 17:39] jeffra commented on #1218
Hi @chrjxj, can you try setting  `"stage": 1,` in your config json to `"stage": 2,`? I want to confirm if your issue occurs with both stages of zero.

[2021-07-23 20:01] tjruwase commented on #1105
@rwightman, apologies for the late response. Would a new api that returns the entire checkpoint state as `dict` work for this case? The returned `dict` would be what save_checkpoint() currently passes to `torch.save()`. We could have the companion api that allows client to pass in a `dict` to DeepSpeed to initialize the model and optimizer, basically similar to the return of `torch.load()`.

[2021-07-23 20:14] jeffra commented on #1218
Actually @chrjxj can you set these both to false in your config?

[code]

[2021-07-23 21:25] hyunwoongko commented on #1161
@RezaYazdaniAminabadi
I look forward to your reply :)

[2021-07-23 21:46] hyunwoongko commented on #1161
I'm closing this issue because it's too old and I'll discuss it in a new issue.

[2021-07-23 21:46] #1161 closed

[2021-07-23 22:14] hyunwoongko opened #1248 "Increasing model coverage of Tensor MP and Inference Engine."
@RezaYazdaniAminabadi
Let's continue the discussion we had in the offline chat here.

First of all I want to refactor the `module_injection.py` and `inference/engine.py` codes. The current codes consist of too many nested functions, and all logic is contained in [one function](https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/module_inject/replace_module.py#L89), so it is a bit complica

[2021-07-23 22:26] RezaYazdaniAminabadi commented on #1161
Hi @hyunwoongko

Thanks for the great discussion. I am certainly interested. Let me also discuss this internally, and we can go on with the collaboration soon :)

Thanks,
Reza

[2021-07-24 13:00] tjruwase commented on #1130
@jfc4050, thanks for sharing this update. Are you doing NVMe offload as well similar to the original post?

[2021-07-25 08:22] chrjxj commented on #1218
@jeffra  thanks. it still doesn't work and throw out new error msg.

[2021-07-26 09:28] weberxie opened #1253 "Is there an out-of-the-box test example for ZeRO-Inifity?"
Hi team, I'm going to test ZeRO-Inifity feature especially the activation checkpointing, Is there an out-of-the-box test example for ZeRO-Inifity?

Thanks.

[2021-07-26 09:37] weberxie commented on #1253
I was running the example https://github.com/microsoft/DeepSpeedExamples/tree/master/bing_bert , by modifing the configure,

for deepspeed_bsz32k_lamb_config_seq512.json
`
{
  "train_batch_size": 2048,
  "train_micro_batch_size_per_gpu": 16,
  "steps_per_print": 1000,
  "prescale_gradients": false,
  "gradient_clipping": 1.0,
  "optimizer": {
    "type": "Adam",
    "params": {
      "lr": 2e-3,

[2021-07-26 09:39] weberxie commented on #1253
It seems that the we can only offload partitioned activations to CPU when the model is parallel.

[2021-07-26 13:26] tjruwase commented on #1253
Can you please clarify what you mean by the "model is parallel"? Do you mean when tensor slicing is enabled (MP>1)?

[2021-07-26 13:35] weberxie commented on #1253
Yes.

As stated in the documentation https://www.deepspeed.ai/docs/config-json/#activation-checkpointing - “Enables partition activation when used with model parallelism”, Does it mean that CPU Checkpointing can only be used in model parallel mode?

Thank you so much.

[2021-07-26 15:45] jeffra commented on #1218
@chrjxj, can you provide the stack trace for the new error message?

[2021-07-26 16:41] jfc4050 commented on #1130
@tjruwase yes results were with NVMe offload (optimizer states and params). here's the full config

[code]

[2021-07-26 17:49] jfc4050 commented on #1069
We are having trouble getting ideal scaling past 4-8 p4d nodes (400gbps interconnect) even after optimizations. based on looking at the profiler I suspect that the changes @zarzen is suggesting to pytorch allgather (https://github.com/pytorch/pytorch/issues/61781) will help mitigate the current bottleneck.

They have been doing some benchmarking themselves - seems like the flatten -> allgather app

[2021-07-26 23:39] aminsaied commented on #1237
I am getting the same error on Azure NC12 series (K80s). When I run `echo $TORCH_CUDA_ARCH_LIST` on the VM it returns nothing. I am able to successfully run the exact same script on V100s.

[2021-07-27 04:12] hyunwoongko commented on #1161
Let me know when the discussion is over. I'll start working on it right away :)

[2021-07-27 18:21] tjruwase commented on #1253
@weberxie, yes you are correct. The current implementation has the requirement, which I don't think is necessary. I am working on fixing to make CPU checkpointing independent of partition activation.

[2021-07-27 20:28] RezaYazdaniAminabadi commented on #1161
Hi @hyunwoongko

Thanks for checking in :)
I wonder if you will be free for a quick offline chat to go through this?

Thanks,
Reza

[2021-07-28 00:05] hyunwoongko commented on #1161
Sure! Why don't we arrange the meeting via email?
My one is kevin.ai@tunib.ai.

[2021-07-28 12:39] weberxie commented on #1253
@tjruwase Thanks for your confirmation!

[2021-07-28 12:39] #1253 closed

[2021-07-28 12:53] weberxie opened #1255 "Runtime error when enable memory-centric-tiled-linear"
Hi team,

I'm running the [example](https://github.com/microsoft/DeepSpeedExamples/blob/25d73cf73fb3dc66faefa141b7319526555be9fc/Megatron-LM-v1.1.5-ZeRO3/examples/ds_pretrain_gpt2-zero3.sh) on 8 * 40GB A100 Node,

the configurations are

<img width="653" alt="Screen Shot 2021-07-28 at 8 48 35 PM" src="https://user-images.githubusercontent.com/3942083/127324796-14439be1-f272-4901-9d8e-3d4fbe48bf06.

[2021-07-28 15:18] RezaYazdaniAminabadi commented on #1161
Just sent an invite through email. Thanks

[2021-07-28 16:13] jfc4050 commented on #1069
in the multi-node (p3dn), i was seeing that the cudaMemcpyAsync launches are taking a lot of time, which results in the python process becoming the bottleneck.
the cudaMemcpyAsyncs are launched during the torch allgather call, which launches a memcpy for each rank (16 in this case), but typically only one of them takes forever while the rest have more reasonable latencies.![memcpyasync-slow](https

[2021-07-28 19:03] Oaklight opened #1257 "How to run DeepSpeed inside mpirun-ed singularity containers on multiple nodes"
I'm trying to use DeepSpeed on our clusters, where singularity containers are run on each machine, with 8 cards installed. No Kubernetes are available. All containers are launched using mpirun. What's the proper way/cmd to use in order to run such a usecase?

[2021-07-28 19:07] tjruwase commented on #1257
@Oaklight, thanks for your question. Can you please try this [guide](https://www.deepspeed.ai/getting-started/#resource-configuration-multi-node)?

[2021-07-28 19:22] Oaklight commented on #1257
Our HOSTFILE originally is in the following format, by default no slot info, because the entire node is allocated.
[code]
Here is what I have tried:
1. pad all lines with slots=8, and run following command:
`mpirun --hostfile $HOSTFILE singularity run --nv -B mydir $CONTAINER $SCRIPT`,
in the $SCRIPT file, I source activate the virtualenv, and then call ds_pretrain_gpt2.sh from [https://github.com

[2021-07-28 23:47] RezaYazdaniAminabadi commented on #1237
Can you please try this PR to see if the issue is resolved?
Thanks,
Reza

[2021-07-29 07:54] fumihwh opened #1260 "Example of One-Step Delayed Parameter Update"
I saw DPU is introduced in [paper](https://arxiv.org/pdf/2101.06840.pdf)
But I can't find any related source code in repo.
Is there any example for using DPU rightly? Thanks.

[2021-07-29 10:25] zxy2020 commented on #693
Thanks，I  update the gcc g++ from 5.4 to 7.5 ,then I success!

`
sudo apt-get install gcc-6 g++-6
cd /usr/bin
sudo rm gcc
sudo ln -s gcc-6 g++
sudo rm g++
sudo ln -s g++-6 g++
`[from](https://blog.csdn.net/jiangjiang_jian/article/details/80694799)

[2021-07-29 13:03] tjruwase commented on #1233
Closing as this seems to have been fixed on the Lightning side.

[2021-07-29 13:03] #1233 closed

[2021-07-29 18:36] anijmlt opened #1262 "Memory bandwidth in paper : what was the method of measuring?"
![image](https://user-images.githubusercontent.com/37815929/127546610-69489f65-4708-4a4f-80bf-5b49ffce86fa.png)
Table 2b in the paper shows the achievable memory bandwidths/GPU when one and multiple GPUs access that memory. What was the method used to measure these numbers?
Also, what leads to the reduction in the bandwidths/GPU shown - specifically CPU memory bandwidth/GPU reduces to 1/4th and NV

[2021-07-30 01:26] hyunwoongko commented on #1161
Could you summarize what you said at the meeting?

[2021-07-30 01:27] hyunwoongko commented on #1161
And since the issue here is closed, how about discussing it in new issue?

[2021-07-30 07:24] switiz opened #1265 "Blocking issue when using deepspeed inference(maybe mutex or nccl issue)"
### Description
Dear Deepspeed

I have some issue when using model parallel(inference engine)
sometimes gpu utilization is fixed to 100% and code is hanged
so i made test code and test deepspeed engine. here's my test code.

### TestCode
[code]

### DS_Report
[code]

### ENV
- NGC(21.06) docker(pytorch, nccl, cuda)
- pip install deepspeed

issue is occur when input length is reached to 90 token. (

[2021-07-30 07:59] gaozhihan opened #1266 "Error in gradient accumulation when there are unused parameters"
I write a minimum reproducible case
[code]
with a simple deepspeed config json file
[code]
Running `deepspeed --include="localhost:0,1,2,3" test_deepspeed_grad_accum.py --deepspeed --deepspeed_config test_deepspeed_grad_accum.json` on single machine with multiple GPUs can get the following error:
[code]
Unused parameters do not cause error if DeepSpeed is not used.

[2021-07-30 11:53] mpjlu opened #1267 "DeepSpeed FP16 causes bert pretrain ACC decline or NAN?"
We use DeepSpeed (v0.4.0) FP16 to train Bert Large, we found some Acc decline cases or NAN cases.
Like this picture:
![image](https://user-images.githubusercontent.com/13826327/127647894-879f9239-838f-43ea-8170-852f19f73d6e.png)
And this picture:
![image](https://user-images.githubusercontent.com/13826327/127648300-0f493beb-9359-4ce0-b8b4-b258a4b512db.png)
When we set FP16 config to false or use A

[2021-07-30 12:06] tjruwase commented on #1267
@mpjlu, thanks for reporting this issue. Can you please share your deepspeed config?

[2021-07-30 15:50] RezaYazdaniAminabadi commented on #1161
Yes, better to open another issue, I will send the summary in email.

Thanks,
Reza

[2021-07-30 15:55] hyunwoongko commented on #1161
https://github.com/microsoft/DeepSpeed/issues/1248

I  already opened new issue !

[2021-07-30 16:31] karthikradhakrishnan96 opened #1268 "Support flops profiling for RNN layers with packed input"
Hello, 

 We are using deepspeed flops profiler to benchmark some of our models. The profiling works fine for transformer based models, but fails for RNN-based models when packed sequences are used.

 Seems like the rnn flops profiling code (https://github.com/microsoft/DeepSpeed/blob/6ec84967eda5b51d7d80dbbafe623764a0c41773/deepspeed/profiling/flops_profiler/profiler.py#L725) does not account for

[2021-07-31 01:55] stas00 opened #1269 "excessive logging in checkpoints load/save"
Using PP with z1 results in copious logs being dumped.

1. a lot on saving:

https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/runtime/engine.py#L2035-L2037

I don't know why `_copy_recovery_script` gets called for each gpu, despite:

[code]
it works correctly w/o PP, but under PP seems never be true.

And the next logger line gets called for each gpu as well

2. Then loading, each gpu

[2021-07-31 03:10] stas00 commented on #1269
And there was some in the pipe.py as well, overall any chance that these can be made silent by default or configurable by the user:

[code]

Now it's again possible to monitor the progress of the training.

[2021-07-31 17:06] mpjlu commented on #1267
My deepspeed config is:
{
  2   "gradient_accumulation_steps": 8,
  3   "train_micro_batch_size_per_gpu": 32,
  4   "steps_per_print": 1000,
  5   "prescale_gradients": false,
  6   "optimizer": {
  7     "type": "Lamb",
  8     "params": {
  9       "lr": 1e-3,
 10       "weight_decay": 0.01,
 11       "bias_correction": false,
 12       "max_coeff": 0.3,
 13       "min_coeff": 0.01
 14     }
 15

[2021-08-02 04:02] hyunwoongko commented on #1248
@stas00 it has been checked that the training can be implemented without the CUDA kernel. (The parallelformers can train almost all models with tensor parallel) However, I need to invest a little more time to use the CUDA kernel. What do you want to do?

1. Implement tensor parallel training & inference without CUDA kernel now.
2. Implement tensor parallel training & inference with CUDA kernel lat

[2021-08-02 04:58] hyunwoongko commented on #1265
Did you specify a shared memory size to make it work in docker?

[2021-08-02 05:00] hyunwoongko commented on #1265
Please show the error message together.

[2021-08-02 07:45] zhihao-chen opened #1270 "TypeError: '>' not supported between instances of 'str' and 'float'"
Why i set the parameters value was "auto" in config file, the type error will occur?
For example:
`File "run_ner_crf.py", line 518, in <module>
    main()
  File "run_ner_crf.py", line 467, in main
    global_step, tr_loss = train(args, train_dataset, model, tokenizer)
  File "run_ner_crf.py", line 174, in train
    model.step()
  File "/data/chenzhihao/.conda/envs/pytorch/lib/python3.8/site-packa

[2021-08-02 12:32] weberxie commented on #1255
Can anyone help me look at this problem? Thanks in advance!

[2021-08-02 15:16] #777 closed

[2021-08-02 15:19] SeanNaren opened #1272 "Support general DeepSpeed checkpoints with DeepSpeed Inference"
As discussed it would be really cool if DeepSpeed trained models that have been saved via `deepspeed_model.save_checkpoint(...)` be plugged into DeepSpeed Inference! Currently it only supports Megatron LM models/models that are pre-loaded and then loaded into the engine (Like HF Transformer Models).

Ideally something like:

[code]

cc @RezaYazdaniAminabadi

Let me know where I can help! I think t

[2021-08-02 15:34] tjruwase commented on #1255
@weberxie, apologies for the delayed response. I can take a look at this. Can you please confirm that the issue also occurs with 1-gpu run?

[2021-08-02 17:08] Oaklight commented on #1257
Hi @tjruwase , any updates? Do you need me to provide more context or scripts?

[2021-08-02 18:11] tjruwase commented on #1270
@zhihao-chen, can you please provide more context, such as
1) Why are you using "auto"?
2) Are you running with HF?
3) Your ds_config

Thanks!

[2021-08-02 18:56] gounley commented on #733
We're observing the same issue as the OP when running on more than ~3k GPUs using Pytorch 1.7, NCCL 2.7.8, CUDA 10.2, and DeepSpeed 0.3.15. Unfortunately, the issue persists after upgrading to PyTorch 1.9 and NCCL 2.8.3. I know this is a tough (and expensive!) scale to test at,  but I wanted to see if anyone else was still running into this. Thanks!

[2021-08-03 01:53] zhihao-chen commented on #1270
Thanks for your reply. Yes, i'm running with huggingface, so i refer the configuration file of https://huggingface.co/transformers/main_classes/deepspeed.html.
eg:
{     "fp16": {         "enabled": "auto",         "loss_scale": 0,         "loss_scale_window": 1000,         "initial_scale_power": 16,         "hysteresis": 2,         "min_loss_scale": 1     },     "optimizer": {         "type": "Ad

[2021-08-03 02:05] switiz commented on #1265
Dear @hyunwoongko
1. It works even on 64mb. but docker default shared memory size is too small so I increased the memory enough for safe operation. i change shared memory size to 16g but still reproduce.

shm              16G     0   16G   0% /dev/shm

2. Need to turn on special logs for issues? Not printed Error log just hang...
Currently, only general logs are attached. If you need to turn on a

[2021-08-03 03:12] weberxie commented on #1255
@tjruwase Thanks for your response.

After change the MP_SIZE to 1 and DLTS_NUM_GPU_PER_WORKER to 1, this issue will not occur by it will OOM at optimizer stage at the 2nd step.

[2021-08-03 03:15] hyunwoongko commented on #1265
I can't find any errors in the log,
is the program just deadlocked and stuck?

[2021-08-03 03:41] switiz commented on #1265
yes, just deadlocked and not response

[2021-08-03 04:26] tjruwase commented on #1255
@weberxie, thanks for trying that out. Can you please reduce your model size to get past the OOM. You can cut the number of layers in half for example.

[2021-08-03 06:17] FRAOTIAC opened #1275 "Is it possible to use ZeRO independently?"
Hi, Thanks for the hardwork.
I found that deepspeed need to build its own engine, which is inconvenient for users that using other frameworks like  mmdetection. Any chance to use ZeRO independently?

[2021-08-03 08:17] weberxie commented on #1255
@tjruwase thanks for your advice, it passed the OOM after reduced the model size.

[2021-08-03 13:22] weberxie commented on #1255
yes.

I'll try 2-GPU and 4-GPU, and shall i set the MP_SIZE according to the number of GPU?

[2021-08-03 18:26] StrangeTcy opened #1276 "CUDA out of memory while finetuning GPT"
On Ubuntu 18.04, using deepspeed==0.4.4 and the following script:

[code]

I run into the `CUDA out of memory` error, stating that 100 MB failed to get allocated. This was tried on different machines, including those with 16 and 32 GB of GPU memory, so I  really doubt that it's a lack of memory issue.
The gptneo model is 10.7 GB, which should fit into a single GPU memory.

[2021-08-03 18:32] minjiazhang commented on #1260
Hi fumihwh,

The DPU code is not committed to the main branch. You can find it here: https://github.com/jren73/delay_param_update.git.

Best,
Minjia

[2021-08-03 19:27] jfc4050 commented on #1069
few updates:
* the bug mentioned earlier turned out to be related to gradient communication and has been fixed in https://github.com/jfc4050/DeepSpeed/commit/3136c12e30c1a2f72653bf9ff3d013b95e8abcf2
* we were seeing good scaling up until 32 p4d nodes, when the performance fell off hard. this seems to be more of a hardware issue, there's a few nodes in our cluster with significantly lower bandwidth

[2021-08-03 19:34] tjruwase commented on #1069
This is awesome to hear. Thanks for sharing these exciting updates.

[2021-08-03 20:25] zarzen opened #1277 "how does DeepSpeed guarantee the order of tracing on all ranks?"
Hi there,

I am wondering how DS guarantees all ranks launch collective communications with the same order?
as far as I know, the hooks injected in the pytorch module are not guaranteed to be triggerred in a determinstic order.
So I thought tracing procedure on different ranks could result in different order.

[2021-08-03 23:36] stas00 commented on #1248
I'd say, that since you already have it implemented, let's make it available to users now.

We just need to make sure that once CUDA kernels become available the user have little to no change in how they deploy the models, so ideally just having a flag to choose python vs. cuda and we sort out all the requirements changes behind the scenes.

So if we have a pure-python class, we just swap in a CUD

[2021-08-04 01:15] hyunwoongko commented on #1248
Then I will proceed with the two tasks in parallel.

First of all, on the HF transformers side, I will implement the tensor parallel feature without CUDA. At the same time, on the DeepSpeed side, I will refactor the code and find a way to use CUDA kernel together. By making the interface of both side the same, I will make HF transformers automatically use the DeepSpeed code when the CUDA kernel be

[2021-08-04 01:18] hyunwoongko commented on #1248
@RezaYazdaniAminabadi
First off, you didn't answer (It's ok. I think you are busy now :) ), but I'll do some refactoring. It will be easier to work with cleaner code to support more models.

[2021-08-04 02:48] weberxie commented on #1255
@tjruwase When MP_SIZE is 1, it will run successfully Whether using 2 GPUs or 4 GPUs. but it will throw the same Runtime error when MP_SIZE is 2 and 2 GPUs or MP_SIZE is 4 and 4 GPUs.

[2021-08-04 07:00] duchengyao commented on #703
+1

[2021-08-04 13:30] tjruwase commented on #1255
@weberxie, thanks for the providing these data points. It does confirm that the tensor splitting of these flags are responsible. I will take a closer look.

[2021-08-05 05:30] RezaYazdaniAminabadi commented on #1248
Hi @hyunwoongko

Sorry for the late reply, I was OOF for the last couple of days. I agree with you that the API needs some refactoring to help make it more readable. Please go ahead and submit a PR with your current changes and I will review and add changes as needed.
Thanks a lot.

Btw, most of the Bert- and GPT-like models that can easily benefit from the kernels to run faster inference. We can

[2021-08-05 05:47] szhengac commented on #210
Is there any plan to add XLA support to DeepSpeed? Or it is ok to have external contribution for adding this feature to DeepSpeed?

[2021-08-05 13:20] peterukk commented on #479
So DeepSpeedCPUAdam should work without CUDA?

[code]

[2021-08-05 13:48] tjruwase commented on #479
@peterukk, DeepSpeedCPUAdam will not work without CUDA (in theory it could). The reason is that DeepSpeedCPUAdam has a mode of execution where it also copies the updated parameters back to GPU using CUDA kernels. Do you have scenario where you want to use DeepSpeedCPUAdam outside CUDA environment? Depending on your answer can you please open a Question or reopen this one as appropriate? Thanks.

[2021-08-05 13:49] tjruwase commented on #1276
@StrangeTcy, thanks for reporting this issue. Can you please share your deepspeed config json?

[2021-08-05 14:21] peterukk opened #1279 "Suggestion: Support CPU-only environments/remove CUDA requirement"
Hi,

I'm training neural networks on a small CPU-only workstation, and I wanted to use the DeepSpeedCPUAdam optimizer to accelerate the training, but noticed that CUDA is required:

[code]

Making CUDA optional would be a great feature. In my own field (climate modeling and weather forecasting), machine learning is an increasingly popular topic but GPU's and deep learning are often overkill. (Righ

[2021-08-05 14:23] peterukk commented on #479
@tjruwase thanks, I opened a new [issue](https://github.com/microsoft/DeepSpeed/issues/1279)

[2021-08-05 17:02] StrangeTcy commented on #1276
[code]

[2021-08-05 17:25] tjruwase commented on #1276
Thanks for the sharing the deepspeed config. I notice that you re not using the ZeRO optimizer, which are enabled by stages 1, 2, & 3.

Can you clarify this a bit. Do you mean the checkpoint file on disk is 10.7GB? Does that include optimizer state? It would be better if you could provide the number of parameters in the model. That will help to better estimate the overall memory consumption of the

[2021-08-05 17:40] StrangeTcy commented on #1276
Thanks, I probably should try to.

What I mean is this: the `pytorch_model.bin` file has a 10.7 GB size, at least on the huggingface site it does (https://huggingface.co/EleutherAI/gpt-neo-2.7B/tree/main).
As for the number of parameters, I don't really remember it and it's not readily available, but my guess is that `gpt-neo-2.7B` implies 2.7 billion parameters or thereabouts.

[2021-08-05 19:31] tjruwase commented on #1279
@peterukk, are you able to help test this PR #1280?

[2021-08-05 23:53] Artyrm opened #1281 "In version 0.4.4 got AttributeError: module 'triton' has no attribute 'kernel'"
triton is 1.0.0

I'm trying to run notebook in Google Colab, with NVIDIA Tesla P100 GPU with 16GB.
CUDA is used 10.1,
torch 1.7

Error appears on trying to generate with GPT2-like model on transformers (3.5.1).

Full error is like that:

/usr/local/lib/python3.7/dist-packages/deepspeed/ops/sparse_attention/matmul.py in _sdd_matmul(a, b, trans_a, trans_b, trans_c, spdims, block, luts, num_locks, wi

[2021-08-06 05:38] tjruwase commented on #1255
@weberxie, I am able to repro this issue on my side. Thanks for providing the repro guidance.

[2021-08-06 06:22] karthi0804 opened #1282 "Error with negative slope arg in leaky_relu"
Hi, when I specify `negative_slope=0.2` in  `torch.nn.functional.leaky_relu`, I get the error `TypeError: _relu_flops_compute() got an unexpected keyword argument 'negative_slope'` while profiling. I get similar positional error while using `torch.nn.LeakyReLU(negative_slope=0.2)`. Please let me know if i am doing something wrong.

[2021-08-06 07:58] fumihwh commented on #1260
@minjiazhang Thanks! I'll try it first.

[2021-08-06 07:58] #1260 closed

[2021-08-06 08:55] peterukk commented on #1279
Wow that's fast action! I'm still getting the same error.

`(py39) [puk@3ymlvp2:~]$ pip3 install git+https://github.com/microsoft/DeepSpeed.git@cpu-adam/optional_CUDA-copy`
...
[code]
...
[code]

Error:

[code]

[2021-08-06 13:36] switiz commented on #1265
Dear Deepspeed

Is this any idea about this issue?  Is there a point to add a log ? Is there normal work on your side?

thank you

[2021-08-06 13:39] tjruwase commented on #1279
@peterukk, thanks for trying this out and sharing your feedback so quickly. It seems there is more work involved than we anticipated. Please stay tuned as we work through this.

[2021-08-06 15:10] RezaYazdaniAminabadi commented on #1265
Hi @switiz

Sorry for the late reply.
I will investigate this and let you know how to solve it.
Thanks,
Reza

[2021-08-06 15:29] RezaYazdaniAminabadi commented on #1265
Okay, now I can repro this on seq-len 140, a bit farther than what you see! I will look more deeper into this and hopefully have a fix soon.

Thanks,
Reza

[2021-08-06 18:57] hwang595 opened #1283 "Pipeline parallelism got stuck after switching off `fp16`"
Hi,

We're currently conducting experiments based on [this example](https://github.com/microsoft/DeepSpeedExamples/blob/master/Megatron-LM-v1.1.5-3D_parallelism/examples/ds_pretrain_gpt2_pipe.sh). We are able to run the script without problem with `--fp16`. However, the script seems to be stuck when `--fp16` is commented out and "fp16 enabled" is switched to `false` [here](https://github.com/micro

[2021-08-06 21:32] #1255 closed

[2021-08-07 00:04] zarzen opened #1285 "Inconsistent loss of ZeRO2, ZeRO3"
Hi there,
I found the loss trajectory of ZeRO2 and ZeRO3 are different with the script mentioned at: https://github.com/microsoft/DeepSpeed/issues/966

Here is the loss values of different optimization stages:

| step      |   ZeRO-1  | ZeRO-2 | ZeRO-3 |
| ----------- | ----------- | ----------- | ----------- |
| 0 | 1.638671875   |  1.638671875  |  1.638671875  |
| 1 |  1.53125   |  1.53125  |  1

[2021-08-07 12:02] Artyrm opened #1288 "Will GPT2 775M model finetune on 16G VRAM and 24G RAM? (answer is 'yes', now what about 1.3B?)"
I'm using deepspeed 0.4.5+c543a41 (tried 0.4.4 as well) and transformers-4.9.1. Attempted earlier versions of everything as well.

I was able to finetune GPT2 355M with  sequence length 2048, batch size 1 on this configuration (it is Google Colab), all fit in VRAM, without DeepSpeed.
(strange thing that I tried also FP16 here (OM 1), to see its effect, and it won't do much - there were **1024MB fr

[2021-08-07 17:10] tjruwase commented on #1275
@FRAOTIAC, thanks for your interest. Unfortunately, using ZeRO independently is not currently possible. But we are thinking along these lines to improve modularity within DeepSpeed, especiallly for components like ZeRO. Can you share more on how you would like to use ZeRO, perhaps there is another way.

[2021-08-07 17:12] tjruwase commented on #1262
@anijmlt, thanks for your question. Please see #1137.

[2021-08-08 06:33] FRAOTIAC commented on #1275
@tjruwase Hi, I've found [ZeroRedundanceOptimizer](https://pytorch.org/tutorials/recipes/zero_redundancy_optimizer.html)  in the pytorch, and says it comes from deepspeed. Looks to have the same function? If that's the case, I think it solves my problem.

[2021-08-09 00:16] switiz commented on #1265
Good news!
I will wait for it to be fixed. If it is fixed, I will run the re-test again.

Thanks.

[2021-08-09 01:59] hyunwoongko opened #1289 "What techniques are available with ZeRO?"
- PLD + ZeRO
- MoQ + ZeRO
- Transformer Kernel + ZeRO
- Sparse Attention + ZeRO

Are the above combinations available?
How many more combinations can I use? (e.g. Transformer Kernel + PLD + MoQ + ZeRO)

It would be great to have a table organized for these combinations. For example, Sparse Attention and Transformer Kernel cannot be used together, or 1-bit Adam and ZeRO cannot be used together.

[2021-08-09 11:43] StrangeTcy commented on #1276
Okay, adding the ZeRO optimisation key as per [the tutorial](https://www.deepspeed.ai/tutorials/zero/) allowed it to start training. Thanks for the pointers.

[2021-08-09 11:43] #1276 closed

[2021-08-09 12:14] sgugger opened #1291 "[Feature Request] Add a `use_env` flag in the `deepspeed` launcher"
PyTorch provides a `--use_env` flag in its dsitributed launcher, and if it's activated, does not pass `--local_rank` to the children processes (it sets it as an environment variable). It would be great if the DeepSpeed launcher could provide the same option so we don't have to manually add this `local_rank` argument to the children processes in existing scripts.

[2021-08-09 13:02] tjruwase commented on #1275
@FRAOTIAC, that seems to be an implementation of the ZeRO stage 1, which partitions optimizer state across the ranks to reduce memory consumption. If that provides sufficient memory savings for your scenario then it would be the best option for you.

[2021-08-09 13:21] tjruwase commented on #1291
@sgugger, thanks for sharing this request. It sounds like a very useful feature. We will take a closer look at the pytorch support.

[2021-08-09 14:28] tjruwase commented on #1270
@zhihao-chen, thanks for sharing the json config. Can you also share the command line to help repro the issue? Thanks.

[2021-08-09 14:36] tjruwase commented on #1267
@mpjlu, thanks for sharing your deepspeed config. It looks reasonable. I have a few other questions to help understand the problem.

1. What are those two plots showing? What are the axes?
2. Can you share the corresponding amp convergence plot as well?
3. How many GPUs are you using?
4. Is the dataset publicly available for us to try to repro?

Thanks!

[2021-08-09 14:59] tjruwase commented on #1288
@Artyrm, thanks for sharing this issue. It seems quite interesting and I also feel that cpu offload should fit 775M in 16GB VRAM + 24GB RAM.

1. Can you please confirm that you are using a single GPU in this case?
2. The `_size` configurations only affect pre-allocated VRAM buffers for gradient reduction and thus have no impact on CPU memory.
3. With cpu offload, the optimizer state should consume

[2021-08-09 15:12] tjruwase commented on #1228
@TianhaoFu, is this still a problem or can this issue be closed? Thanks!

[2021-08-09 15:12] tjruwase commented on #1217
@MichaelEk, just wanted to check whether you had any update on this issue?

[2021-08-09 16:08] ShadenSmith commented on #1217
I wonder if #1263  fixed the issue?

[2021-08-09 17:18] samyam commented on #1277
@zarzen in general if all ranks follow the same code path, all the communication collectives in that code path will also follow the same order. The hooks are just inject collectives at deterministic places in the pre-determined code path. As long as the underlying assumption that all data parallel ranks follow the same code path holds, the hooks will be triggered in deterministically.

[2021-08-09 17:32] RezaYazdaniAminabadi commented on #1289
Hi @hyunwoongko,

- MoQ + ZeRO is possible as the MoQ is only happening at the optimizer step and is mainly quantizing the weight parameters without changing anything on the training process.
- ZeRO + Sparse-Attention is possible since it mainly changes the operation for the attention in forward and backward and can be easily combined with ZeRO optimization.
- ZeRO + Transformer kernel can be poss

[2021-08-09 22:05] stas00 commented on #1291
fyi, torch-1.9 switched to torch elastic launcher,
https://github.com/pytorch/pytorch/blob/master/torch/distributed/launch.py
and deprecated `--use_env` and it'll be removed, see:
https://pytorch.org/elastic/0.2.1/train_script.html

Deprecation note:
https://github.com/pytorch/pytorch/blob/39ec1da935fb475aefe50ed64e8d2aec5ba0c901/torch/distributed/run.py#L25-L27

[2021-08-09 22:54] tjruwase commented on #1291
@stas00, thanks for sharing this critical information

[2021-08-09 23:05] hyunwoongko commented on #1289
Thanks your easy explanation. How about PLD? is PLD available when I use ZeRO optimization together?

[2021-08-10 01:41] zhihao-chen commented on #1270
No problem.&nbsp;
eg:
deepspeed --include localhost:1 run_ner_crf.py \
&nbsp; --deepspeed=$CONFIG_DIR/ds_config.json \
&nbsp; --model_type=bert \
&nbsp; --model_name_or_path=$BERT_BASE_DIR \
&nbsp; --task_name=$TASK_NAME \
&nbsp; --do_train \
&nbsp; --do_eval \
&nbsp; --do_lower_case \
&nbsp; --data_dir=$DATA_DIR/${TASK_NAME}/ \
&nbsp; --train_max_seq_length=512 \
&nbsp; --eval_max_seq_length=512

[2021-08-10 04:03] cli99 commented on #1268
Hi @karthikradhakrishnan96,
Thank you for bringing up this issue. We should support packed sequences as input to RNN modules. It would be great if you can help with the implementation.

Yes, the "batch_sizes" after packing for the batch data with length[4, 3, 2] would be [3, 3, 2, 1].

[2021-08-10 06:57] sgugger commented on #1291
Yes indeed. Note that `use_env` is deprecated to become `True` (so no `--local_rank` will be passed to the script, only the env variable `LOCAL_RANK`).

I don't know how DeepSpeed deals with breaking changes, but if you want to stay consistent with the PyTorch launcher, at some point you have to get to removing that `--local_rank` variable passed to the script, since the env variable is properly s

[2021-08-10 10:09] sdtblck opened #1295 "Can't access gradients if using ZERO"
Hi,

I was attempting to do adaptive gradient clipping using deepspeed. This requires access to the parameters and their respective gradients (`p.grad, etc.`).

However, it seems like the ZERO optimizers zero out the gradients after calling .backward(), which means the gradients are not accessible from the parameters, making custom gradient clipping code not possible.

Is removing the gradients fr

[2021-08-10 10:10] sdtblck commented on #1295
or, if that's not possible, maybe a deepspeed implementation of AGC?

[2021-08-10 15:56] bing0037 opened #1296 "AttributeError: 'DistributedDataParallel' object has no attribute 'global_steps'"
Hi,

I am trying to reproduce the results of ZeRO on GPT2 and BERT pretraining.
I followed this tutorial:
https://github.com/microsoft/DeepSpeedExamples/blob/master/Megatron-LM-v1.1.5-ZeRO3/README.md

# 1. Dataset that I used:
I followed Aaron Gokaslan and Vanya Cohen's tutorial to download training dataset and DeepSpeedExamples' tutorial to preprocess the data (https://github.com/microsoft/DeepSp

[2021-08-10 19:21] patrickvonplaten opened #1297 "Segfault when building kernel"
As requested by @stas00, I'm opening an issues that I'm experiencing with HuggingFace's Transformers library here.
When running the following script:
https://github.com/huggingface/transformers/blob/master/examples/research_projects/wav2vec2/README.md#pretraining-wav2vec2

I'm getting a segfault error when building the kernels:

[code]

My environment is:

[code]

## To reproduce:

1) Clone the tr

[2021-08-10 19:22] patrickvonplaten commented on #1297
cc https://github.com/huggingface/transformers/issues/13043

[2021-08-10 19:31] stas00 commented on #1297
cc: @RezaYazdaniAminabadi

FWIW, I am not able to reproduce this on my machine. It works just fine for me.

@patrickvonplaten, I haven't noticed in the first place, but I see:
[code]

Any chance you could update to an official `pt-1.9.0` and re-test? Yours is a nightly build and about 2 weeks before 1.9.0 was released. Is it possible there was some issue in it? Just to ensure we are testing the sa

[2021-08-10 20:32] patrickvonplaten commented on #1297
Will do!

[2021-08-10 20:36] RezaYazdaniAminabadi commented on #1297
Hi @patrickvonplaten

There seems to be some error when compiling the cuda kernel and the linker was no able to read the object file and you see the seg_fault error. I wonder if there is any more information on why the kernel did not compile correctly. Can you please share the whole log?
Thanks,
Reza

[2021-08-10 22:37] minjiazhang commented on #1289
Hi @hyunwoongko,

PLD has not been integrated together with ZeRO yet. However, we do support running PLD with data parallelism (e.g., PyTorch DDP). It is on our roadmap to combine ZeRO and PLD.

Best,
Minjia

[2021-08-11 14:51] patrickvonplaten commented on #1297
Sure :-)

Here it is:

[code]

[2021-08-11 14:57] BitVoyage opened #1298 "Warmup Schedueler is Not Linear warmup, Increase in Log curve, inscrease Too Fast for big model"
![image](https://user-images.githubusercontent.com/10386094/129052778-948a5ea5-c084-4259-9a70-37a8e9cadc63.png)

[2021-08-11 14:57] BitVoyage commented on #1298
Would DeepSpeed Support Linear Warmup ? Thank You

[2021-08-11 16:17] hyunwoongko commented on #1289
@minjiazhang Thank you !

[2021-08-11 16:18] #1289 closed

[2021-08-11 19:30] RezaYazdaniAminabadi commented on #1297
Thanks @patrickvonplaten.
I still cannot see any information on building the kernels, it might be because it is using the cached torch-extention. Can you please remove it and rerun this?
Thanks,
Reza

[2021-08-11 19:43] MichaelEk commented on #1217
No. This fix didn't help. Also it has no effect on ZeRO-1 because of that condition:
https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/runtime/engine.py#L917

Later I will try to set round_robin_gradients=true from my code

[2021-08-11 20:36] #1277 closed

[2021-08-11 20:40] xycforgithub opened #1299 "Unable to load checkpoint when number of parameter changes"
Hi there,
I'm trying to run multitask learning on several datasets and then finetune on another dataset. However, it looks like I cannot load the checkpoint if I remove dataset-specific modules, or add new ones.
I load checkpoint with
`load_path, _ = model.load_checkpoint(checkpoint_path, identifier, load_optimizer_states=False, load_lr_scheduler_states=False, load_module_strict=False)`

I can loa

[2021-08-11 21:01] zarzen opened #1300 "why use for all-reduce when `contiguous_gradients` is False?"
Hi there,

On single node with 8A100 GPUs connected with nvlinks, I can still observe the performance benefits with `contiguous_gradients` set to False. e.g., 10B model backward time: *~1329.30ms* vs ~ *1593.24ms* (contiguous_gradients=False vs. contiguous_gradients=True).

I am wondering where is the benefits coming from. The all-reduce suppose to incur more communication overheads than reduce-sc

[2021-08-11 21:29] stas00 commented on #1297
But the log you want Reza is already there, see  https://github.com/huggingface/transformers/issues/13043 and then click on "Click for error message"

[2021-08-11 22:24] blueviggen opened #1301 "DeepSpeed Inference Kernel Execution Error on Tesla K80"
On an NVIDIA Tesla K80 GPU VM, when I execute the following Python script with the DeepSpeed Inference API
 and a pre-trained BERT model (downloaded via HuggingFace Transformers API) , I'm getting the following kernel execution error with error code 8.

    !!!! kernel execution error. (m: 2304, n: 10, k: 768, error: 8)
    !!!! kernel execution error. (batch: 12, m: 10, n: 10, k: 64, error: 8)

[2021-08-12 03:28] hyunwoongko commented on #1301
DeepSpees kernel doesnt support k80.

[2021-08-12 03:51] dancingpipi opened #1302 "Why ZeRO-2 use more CUDA Memory than ZeRO-1?"
Follow the bing_bert tutorial, my deepspeed_config is:

[code]

The **CUDA Memory usage** for **stage 1** is 8900MB per GPU
The **CUDA Memory usage** for **stage 2** is 9600MB per GPU

And the ZeRO-2 is much slower than  ZeRO-1 in training speed.

Any help will be appreciate~

[2021-08-12 11:20] dancingpipi opened #1303 "How to check the GPU memory occupancy of each part of Param, Grad and Optimizer State?"
Is there a tool for check the memory occupancy for each part of model?

[2021-08-12 18:26] anijmlt commented on #1137
@tjruwase If you need fp32 gradients in the optimizer, are the gradients generated and maintained in fp32 even through their computation on GPU, reduce-scatter phase, offload and storage?

[2021-08-12 18:26] anijmlt commented on #1262
Thank you. This answers my question.

[2021-08-12 18:26] #1262 closed

[2021-08-12 18:27] stas00 opened #1304 "reducing repeted debug/info prints on distributed setup"
Deepspeed generates an insane amount of noise on distributed setup. Running on 64 nodes I end up with probably 5k lines of repeated debug/info on each node. This makes it very difficult to find important information since SNR is close to 0 here.

Here is a very small sample, I think this one mainly JIT build info:

[code]

If you want to see the huge dump, it's part of https://huggingface.co/bigsc

[2021-08-13 15:57] RezaYazdaniAminabadi commented on #1297
Thanks @stas00 and @patrickvonplaten.
This seems to be a bug in gcc (https://gcc.gnu.org/bugzilla/show_bug.cgi?id=100102), and they have a patch here that solved it:
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=100102

Thanks,
Reza

[2021-08-13 16:44] stas00 commented on #1297
Thank you for identifying the source of the problem, Reza!

Patrick, it appears that you got hit by being-on-the-edge latest software. I'm on gcc 9.3 still and it doesn't have this problem.

[2021-08-14 12:36] bing0037 opened #1306 "Error: train_batch_size inconsistence"
Hi,

I am trying to reproduce GPT2 pretraining using this example ([ds_pretrain_gpt2-zero3.sh](https://github.com/microsoft/DeepSpeedExamples/blob/master/Megatron-LM-v1.1.5-ZeRO3/examples/ds_pretrain_gpt2-zero3.sh)).

I am confused why we set `BATCHSIZE` in [ds_pretrain_gpt2-zero3.sh](https://github.com/microsoft/DeepSpeedExamples/blob/master/Megatron-LM-v1.1.5-ZeRO3/examples/ds_pretrain_gpt2-zero

[2021-08-16 08:54] mrseeker opened #1308 "'torch._C' is not a package"
For some unknown reason I cannot get deepspeed to run on my computer, I seem to get the following error:

[code]
I am unsure what is causing this "torch._C" is not a package, but I think it has something to do with https://bugs.python.org/issue43367.

Do you guys have any recommendations on how to solve this problem?

[2021-08-16 18:08] zarzen commented on #1285
Changing the optimizer to `Adam` produces same loss trajectory.
So probably due the implementation of LAMB optimizer

[2021-08-16 19:45] RezaYazdaniAminabadi commented on #1265
Hi @switiz

Can you please try to see if this branch solves the issue?
By the way, I have changed your script a bit:

[code]

Thanks,
Reza

[2021-08-17 04:35] switiz commented on #1265
Hi @RezaYazdaniAminabadi

Of course. I will let you know the results after testing.

Thanks

[2021-08-17 20:50] AnnaSv commented on #1281
I've got the same issue:

[code]

[2021-08-18 00:52] xycforgithub commented on #1299
Hi there,
Any updates on this? It is not straightforward that if the model differs then load will fail. Do I have to convert the checkpoint to state_dict files and then load it?

[2021-08-18 03:27] blueviggen opened #1313 "DeepSpeed Inference with FP16 (torch.half) -- RuntimeError: "softmax_lastdim_kernel_impl" not implemented for 'Half'"
When I execute the following Python script with the DeepSpeed Inference API and a pre-trained BERT model (downloaded via HuggingFace Transformers API) , I'm getting the following error. I'm seeing this error on NVIDIA V100 and P100 at least.

    File "/home/miniconda3/lib/python3.8/site-packages/transformers/pipelines/fill_mask.py", line 193, in __call__
        probs = logits.softmax(dim=-1)

[2021-08-18 04:41] tjruwase commented on #1270
@zhihao-chen, can you please share the value of the variables `$TASK_NAME`, `$DATA_DIR`, and `$BERT_BASE_DIR`?

[2021-08-18 04:47] tjruwase commented on #1201
@ghosthamlet, can you explain what you mean by "when saving fp16 model"? I am confused whether the OOM happens during training or during checkpoint saving?

To train with large micro-batch size can you try using gradient accumulation steps > 1? This will reduce the instantaneous micro batch size and activations memory consumption.

[2021-08-18 04:52] tjruwase commented on #1306
@bing0037, yes this is an aspect of deepspeed that is prone to subtle errors. We currently don't have a robust solution to preventing mismatches in client and deepspeed views of batch sizes and are open to ideas. Please see more discussions in #84  and #152.

[2021-08-18 23:26] yinxx opened #1315 "Unable to pre-compile cpu_adam"
Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "C:\Users\admin\AppData\Local\Temp\pip-install-p66b9m1r\deepspeed\setup.py", line 135, in <module>
        abort(f"Unable to pre-compile {op_name}")
      File "C:\Users\admin\AppData\Local\Temp\pip-install-p66b9m1r\deepspeed\setup.py", line 43, in abo

[2021-08-19 00:11] switiz commented on #1265
Hi @RezaYazdaniAminabadi

I try to reproduce 10 times ([increase token 145 to 2022] * 10) with your fixed deepspeed repo(0.4.6+5038b07, 5038b07, reyazda/mp_inference)

issue is not reproduce.

There is a slight difference in inference speed when the barrier() added to the code and when not added. But the difference is up to xxx ms in long sequence generation, so it seems to be minor point.

thanks

[2021-08-19 01:12] ghosthamlet commented on #1201
@tjruwase Thanks for the reply.
The mean of "when saving fp16 model" is call `deepspeed_engine.save_fp16_model`, in DeepSpeedEngine code `save_fp16_model` called `_zero3_consolidated_fp16_state_dict`, comment says: consolidation is expensive in time and memory and therefore isn't a default, so i think OOM is normal in my config.

Yes, using gradient accumulation steps > 1 is working, the above OOM

[2021-08-19 04:35] tjruwase commented on #1201
@ghosthamlet, I am glad that things are working now. However, I am going to keep this issue open to address the original request.

[2021-08-19 06:34] dancingpipi commented on #1302
Update: experiment for bert-large on 4xv100(16GB)

Batch Size = 64 | NVIDIA-BERT | ZERO-0 | ZERO-1 | ZERO-2 | ZERO-3
-- | -- | -- | -- | -- | --
CUDA Memory(MB) | OOM | 15853 | 13509 | 13499 | 14237
Forward time(ms) | / | 98.19 | 98.3 | 96.88 | 317.15
Backward time(ms) | / | 186.42 | 185.42 | 900.62 | 600.45
Total time(ms) | / | 284.63 | 283.78 | 997.53 | 917.63
throughput(samples/s) | / | 899.41

[2021-08-19 06:57] FRAOTIAC commented on #1275
@tjruwase, Thanks for the clarification. Stage 1 is not quite enough in small model and I intended to use stage 2, but the cost to migrate seems too much for me. Hopefully it will be easier to embed in pytorch to use.

[2021-08-19 15:28] RezaYazdaniAminabadi commented on #1315
Hi @yinxx

Can you please paste the whole log to see what caused the issue? Also, how do you install deepspeed?
Can you try running `sudo DS_BUILD_CPU_ADAM=1 python setup.py -v install` ?
Thanks,
Reza

[2021-08-19 16:54] jeffra commented on #1176
We are not currently working on this but welcome pull requests :)

[2021-08-19 16:54] #1176 closed

[2021-08-19 16:55] jeffra commented on #1186
@huangyanjuner, please re-open if not resolved.

[2021-08-19 16:55] #1186 closed

[2021-08-19 16:55] jeffra commented on #1075
@sudarshanintel, please re-open if not resolved.

[2021-08-19 16:55] #1075 closed

[2021-08-19 16:56] jeffra commented on #1110
Please re-open if not resolved.

[2021-08-19 16:56] #1110 closed

[2021-08-19 16:56] jeffra commented on #1109
Please re-open if not resolved.

[2021-08-19 16:56] #1109 closed

[2021-08-19 22:29] xycforgithub commented on #1165
Hi there,
I'm experiencing the same problem on Deepspeed 0.4.5 (after the above fix). Has the problem been solved?
Loading  'mp_rank_00_model_states.pt':

tensor([[-0.0211,  0.0068,  0.0206,  ...,  0.0057,  0.0316,  0.0256],
        [ 0.0273,  0.0141,  0.0118,  ..., -0.0122,  0.0054,  0.0010],
        [ 0.0479, -0.0237, -0.0604,  ..., -0.0340, -0.0183,  0.0691],
        ...,
        [ 0.0270, -0.0

[2021-08-19 22:34] xycforgithub opened #1317 "zero_to_fp32.py still imports a wrong model after fix"
Same as #1165; the issue is closed now so I'm opening a new one.
It looks like the zero_to_fp32.py still cannot load the correct weights under multi-gpu and ZERO-2 setting.

Loading 'mp_rank_00_model_states.pt':

states['module']['deberta.encoder.layer.0.output.dense.weight']
tensor([[-0.0211, 0.0068, 0.0206, ..., 0.0057, 0.0316, 0.0256],
[ 0.0273, 0.0141, 0.0118, ..., -0.0122, 0.0054, 0.0010],
[

[2021-08-20 12:32] tjruwase commented on #1298
@BitVoyage, thanks for your question. Can you please give more details on what you need? We are currently finishing some changes that will make it easy to integrate existing torch learning rate schedulers into DeepSpeed training.

[2021-08-20 12:37] tjruwase commented on #1304
@stas00, yes this is very noisy. Let's chat a bit more.

[2021-08-20 16:05] stas00 commented on #1317
@tjruwase, any chance you guys can take over the maintenance of zero_to_fp32, as I can't keep up with the changes in the core. It's the best that any changes you do get synced with the weights re-consolidation code in tandem.

I created the initial tests here:
https://github.com/microsoft/DeepSpeed/blob/10b48405ab0e69a1caf455f445526c4b39b0dbb8/tests/unit/test_zero.py#L135

So it's probably extendi

[2021-08-20 21:33] zgerrard opened #1319 "DeepSpeed Inference in C++"
Hi, could you give me some pointers on how to run the DeepSpeed Inference in C++?

Currently, my plan is to convert the model produced by `init_inference()` to TorchScript using `torch.jit.trace`. Is it a valid approach? Do you have an example of how to do that properly?

Thank you.

[2021-08-21 05:31] ghosthamlet commented on #1201
@tjruwase Thanks. I'm looking forward to that.
DeepSpeed is an incredible library, never thought i can train 2.6B params model on an 2080Ti GPU, and with fast enough speed.
I leaned much from this library, its articles and papers. Thanks again.

Do you have some roadmap for DeepSpeed project? Like Some new features plan, or some big refactor, like what Transformers(https://github.com/huggingface/t

[2021-08-21 19:24] tjruwase commented on #1288
@Artyrm, is this still an issue?

[2021-08-21 19:25] tjruwase commented on #1267
@mpjlu, just wanted to check if this was still an issue? Thanks.

[2021-08-21 19:28] tjruwase commented on #1275
@FRAOTIAC, I see. Sorry I can't help much now. But, please keep us updated on how it goes in case other users later have similar needs.

[2021-08-21 20:25] Artyrm commented on #1288
@tjruwase thank you for your reply. And sorry for the delay, in fact I found out about your reply only yesterday - my mail suddenly tagged all github as spam. I was thinking out my update on the issue here, I hope to post it in a couple of days.

[2021-08-22 17:13] thecooltechguy commented on #1302
I'm also seeing that Zero2 uses more memory than Zero1

[2021-08-23 01:31] dancingpipi commented on #1302
Have you met the problem: ZeRO2 is slower than ZeRO3?

[2021-08-23 02:27] mpjlu commented on #1267
Yes, this is still an issue.
The plots show the steps (X) and the ACC,
The FP32 plot is like this:
![image](https://user-images.githubusercontent.com/13826327/130381234-59dab1b0-56df-44e1-ac4e-c20ecaf78ef0.png)

We are using 64 GPUs.
The dataset is not publicly available.
DeepSpeed FP16 is like AMP O2, there are many discussions about the convergence issue of O2,  like this:
![image](https://user-

[2021-08-23 12:40] dancingpipi opened #1320 "How to use `python` exec my script?"
Fllow the tutorial, I can exec my python script with the command:
`deepspeed my_script.py`

Can I use python to exec script as below?
`python my_scripy.py`

How can I do this conversion?

[2021-08-23 13:10] hyunwoongko commented on #1320
You should use distributed launcher like `deepspeed OOO.py` or `torch.distributed.launcher` if you use multiple GPU program. If you don't want to use them, you should write your own distributed launcher code. (using python multiprocessing module)

[2021-08-23 13:12] hyunwoongko commented on #1320
The reason for using them is that they run your code as subprocesses. check the following codes
- https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/launcher/launch.py#L121
- https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/launcher/launch.py#L148

[2021-08-23 13:57] calclavia commented on #946
I'm running into the same issue with getting a SegFault when using stage 3:
[code]
However, stage 2 offload works.

[2021-08-23 14:56] tjruwase commented on #1302
@dancingpipi, thanks for the questions.

ZeRO is designed for very large models, > 1B parameters, that would not otherwise fit available GPU memory. Similarly, the higher stages of ZeRO are meant for models that are too large for lower stages.  In summary, ZeRO memory savings come at the cost of extra communication time, and configurable) memory overhead of communication buffers. The answers to yo

[2021-08-23 14:57] tjruwase commented on #1320
@hyunwoongko, thanks for providing a great answer.

[2021-08-23 15:39] tjruwase commented on #1267
@mpjlu, thanks for the clarifications. Yes, DeepSpeed FP16 is similar to amp O2 and should have same issues.

[2021-08-23 19:19] tjruwase commented on #1306
@bing0037, do you still need this issue opened? Thanks.

[2021-08-23 21:40] tjruwase commented on #1317
@jeffra, FYI

[2021-08-24 02:10] dancingpipi commented on #1302
@tjruwase Thanks for your answer!
Now I understand for question 1, but for question 2, to my knowledge, ZeRO-3 also need gradient partitioning and all-reduce during the backward pass. In additional, ZeRO-3 need parameter all-gather(may be broadcast) during backward pass. So ZeRO-3 is faster than ZeRO-2 still confusing me~

[2021-08-24 02:15] mpjlu commented on #1267
Do you have a plan to fix this problem?

[2021-08-24 23:37] hyunwoongko commented on #1248
Currently, our team is developing our large-scale model for the Asian language, and most of my resources are used to this work, so I did not invest a lot of time in collaboration. Sorry. I plan to resume work from this weekend.

@RezaYazdaniAminabadi Are you not considering having your own implementation of mpu and tensor mp inside deepspeed? I want to implement mpu and tensor mp similar to those

[2021-08-25 01:51] stas00 commented on #1248
A small correction - HF transformers wants both training and inference. It's just that we have a lot more users using the library for training. So there is definitely not misalignment between the two.

Remember that Deepspeed already has TP and PP, so they are just missing inference.

HF Transformers doesn't have those yet, hence the difference.

[2021-08-25 02:55] hyunwoongko commented on #1248
@stas00 where is deepspeed TP? Do you mean Megatron LM Integration?
I don't know where the TP is because I haven't tried all the features of DeepSpeed.

[2021-08-25 03:06] stas00 commented on #1248
You know what - you're absolutely correct, @hyunwoongko! Deepspeed doesn't have it! I have just never tried to use it so I assumed that since many Deepspeed docs talk about 3D, it included tensor parallelism, but it doesn't! I just found this comment by Shaden:

(source: https://github.com/microsoft/DeepSpeed/issues/673#issuecomment-763842000)

I will need to update this doc to remove Deepspeed: h

[2021-08-25 03:38] hyunwoongko commented on #1248
@stas00 That's why we should we Megatron-LM for 3D parallelization. (nowadays, I am working with Megatron-LM everyday like you 😅) But, if we support all kinds of parallelization for Huggingface transformers, we need TP and MPU like Megatron, but without Megatron. (Because Megatron is too complex and I think it's not good to cover various model architectures)

I can implement TP and MPU into huggin

[2021-08-25 04:34] stas00 commented on #1248
I think we have a miscommunication here. I was trying to communicate that in the process of implementing a pure-python TP in HF transformers, it'd be great to keep in mind DS's cuda kernels so that we could swap those in when such are available. I have not suggested to implement TP through deepspeed. We want HF transformers to be independent for the core 3D parallelism functionality and optionally

[2021-08-25 05:00] jaketae commented on #1248
I'd be more than happy to assist with translation, though I doubt @hyunwoongko will have issues. Plus I know you're secretly hiding your Korean skills, @stas00.

We can coordinate a date and time for further discussion and proceed from there? Perhaps a when2meet?

[2021-08-25 05:03] hyunwoongko commented on #1248
I think it would be good to discuss the issue on the Huggingface side. This is a deepspeed repo.

[2021-08-25 05:11] stas00 commented on #1248
no secret Korean yet. I'm good with languages, but Asian ones I find too hard for me - since my native tongue isn't tonal.

I'm arranging a slack channel for all involved, including Reza. and we can then sort things out including a meeting. hope should be added/invited in the next day or two once I find an admin who is not on vacation.

[2021-08-25 06:02] hyunwoongko commented on #1248
Good. Could you invite me slack channel?

[2021-08-25 06:56] RezaYazdaniAminabadi commented on #1248
@hyunwoongko, it is definitely exciting to bring the tensor-slicing in deepspeed both for training and inference. Looking forward to talking with you all :)

[2021-08-25 07:08] hyunwoongko commented on #1248
@RezaYazdaniAminabadi Great. Firstly, Is it ok to bring tensor MP and MPU without fused kernel into DeepSpeed? I hope DeepSpeed supports Tensor MP without Megatron LM. Let's implement pure python first, and we can discuss about applying kernel fusion.

[2021-08-25 07:45] switiz opened #1323 "[BUG] Host Memory Efficiency"
**Describe the bug**

Not sure if it's a bug or the architecture.

When performing inference, more memory is consumed than the model checkpoint capacity in the current implementation.
In experiments, it is estimated that the consumption is approximately doubled.

GPT-NEO 2.7B
host memory estimate consumption : 99GB = 10 gpus * 9.9GB(checkpoint)
host memory real consumption : 221GB

Also, since the

[2021-08-25 07:55] hyunwoongko commented on #1323
You can check this.

https://github.com/tunib-ai/parallelformers/blob/main/FAQ.md#q-why-doesnt-the-gpu-usage-decrease-by-exactly-n-times-when-i-parallelize-on-n-gpus

[2021-08-25 07:58] hyunwoongko commented on #1323
Hello @ switiz Deepspeed inference uses a training launcher that is used for data parallelism. So it is memory inefficient. This is because the part that downloads the model to the CPU is called multiple times.

[2021-08-25 08:31] hyunwoongko commented on #1323
[Parallelformers](https://github.com/tunib-ai/parallelformers), which solved various problems of deepspeed inference, have already tackled this problem. To help more users, I will archive parallelformers soon, and integrate the mechanism (Tensor parallel launcher for inference scenario) I devised into DeepSpeed. Please look forward to future updates.

![image](https://user-images.githubusercontent

[2021-08-25 10:33] switiz commented on #1323
@hyunwoongko

Cool! Awesome.

It's a really needed feature. I really want this features to be merged.

I also experimented with your amazing open source **Parallelformer** a while ago.

There was a little issue in the Docker environment, so I did not proceed further, but if it is included in Deep Speed, a large open source, it will shine even more.

I look forward to that day.

thank you

[2021-08-25 13:05] hyunwoongko commented on #1323
Which issue happened? could you report?

[2021-08-25 14:52] tjruwase commented on #1267
@mpjlu, yes we would like to fix this problem. The challenge is that we don't currently have an easy repro. If you could provide such even on a small case, that would be very helpful.

[2021-08-25 18:30] IsCoelacanth opened #1327 "DeepSpeed: RuntimeError: Input type (torch.cuda.FloatTensor) and weight type (torch.cuda.HalfTensor) should be the same (PyTorch + Lightning)"
Training Unet with precision = 16 and deepspeed_stage_3 leads to type incompatible error.  error happens with both amp_level=O1 set and at default values.

Trainer config:
[code]

**Expected behavior**
Runs the same way as it would without the deepspeed plugin.

**System info (please complete the following information):**

environment:
[code]

 - OS: Ubuntu 18.04
 - GPU 4x RTX 2080Ti, Driver 440.1

[2021-08-27 13:22] devinrouthuzh opened #1331 "CUDA_VISIBLE_DEVICES isn't correctly inherited on a SLURM system"
**Describe the bug**
This issue occurs on a SLURM cluster where worker nodes equipped with multiple GPU's are shared amongst users. GPU's are given slot number assignments (for example, on a node with 8 GPU's:`0-7`), and users may be assigned any number of the GPU's of a node by the SLURM scheduler. For example, a SLURM assignment could set `CUDA_VISIBLE_DEVICES` to `4,5`.

Per [this bug report](h

[2021-08-28 13:12] oborchers opened #1332 "[Inference] Support GPT-J-6B"
**Is your feature request related to a problem? Please describe.**
With the new release of transformers, the `gpt-j-6b` model will be available for the public: https://github.com/huggingface/transformers/pull/13022

Currently,
[code]

will only return
[code]

Deepspeed already supports the smaller `gpt-neo` variants, so the addition of `gpt-j-6b` would make sense.

**Additional context**
If there

[2021-08-28 14:04] partha117 commented on #826
Facing the same issue.

[2021-08-30 10:17] hyunwoongko commented on #1238
I have same problem.

[2021-08-30 16:52] hyunwoongko commented on #790
@denti move layer and tensor to cuda. they located in cpu.

[2021-08-30 16:54] hyunwoongko commented on #1238
@Liu-xiandong
This problem is caused by location of tensor and parameter.
You can solve by moving layer and tensor to cuda.
Could you try the following script?

[code]

[2021-08-30 18:50] RezaYazdaniAminabadi commented on #1332
Hi @oborchers

Thanks for your request.
I also agree that we need to support such model in deepspeed inference. There are however a few things that needs to be added at the API side in order to make this run:
1. We need to have a new replacement policy for this model, as it uses different parameters at each transformer block compared to GPT-Neo. I have created a branch to start with this [here](ht

[2021-08-30 20:07] oborchers commented on #1332
Hi @RezaYazdaniAminabadi,

much appreciated, thanks for coming back at the request! 👍 In the meantime I already took some time to understand the models behavior, the policy, and came up with something that runs. It doesn't produce anything useful (obviously), because I didn't consider 2 and 3, but it runs to some degree and can realize similar gains in inference speed compared to Neo on a V100.

*

[2021-09-01 04:08] Gforky commented on #274
Can anybody share a Kubernetes's YAML file for multi-node training using PDSH runner? Since after I read about the implementation of  PDSH runner, I noticed that there should be one node to run the pdsh script, so this node should be the initial container in a, for example, PyTorch job cluster? Please correct me if I'm wrong.
Is there any plan to provide a native runner, that each worker in the cl

[2021-09-01 06:07] Gforky opened #1334 "[Kubernetes YAML for multi-node training using PDSH runner]"
**Is your feature request related to a problem? Please describe.**

I'm confused about how to write a Kubernetes YAML related to multi-node training using PDSH runner. Since after I read about the implementation of PDSH runner, I noticed that there should be one node to run the pdsh script, so this node should be the initial container in a, for example, PyTorch job cluster? Please correct me if I'

[2021-09-01 16:31] hyunwoongko opened #1336 "[BUG] Megatron-DeepSpeed has tensor size bugs"
**Describe the bug**
A bug occurs in pipeline parallelism. The shape of the tensor in the last layer of each stage is strange. This bug is observed in 0.5.1 and does not occur when I am using [big-science branch](https://github.com/microsoft/DeepSpeed/tree/big-science)

[code]

- big-science branch
[code]

- 0.5.1
[code]
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. run megatron-dee

[2021-09-01 18:47] jeffra commented on #1334
Hi @Gforky, are you able to launch non-deepspeed jobs with Kubernetes + `torch.distributed.launcher`? If so you should be able to train with deepspeed as well but just not using our launcher. Our launcher is primarily useful in interactive cluster environments where you have direct ssh access to all nodes.

[2021-09-02 03:49] Gforky commented on #1334
Ok, I see, I was misunderstood that the deepspeed launcher is the pre-request for running deepspeed task. Thanks for your clarification @jeffra

[2021-09-02 03:49] #1334 closed

[2021-09-02 04:56] MantasLukauskas opened #1342 "Out of memory problem [BUG]"
Have the problem with Google Cloud Platform VM and DeepSpeed. I am training Hugginface GPT-J model, VM have 120 GB of disk memory and then DeepSpeed try to save the model to another disk it appears to that disk but run out of memory in disk Python installed, I think DeepSpeed caching something to save full model, is it possible to cache it to another disk than installed?

Input/Output error

- GPU

[2021-09-02 09:42] fteufel opened #1343 "[BUG] Installation ignores DS_BUILD_OPS"
**Describe the bug**
I'm trying to install DeepSpeed with precompiled ops. Pip does not seem to care about the environment variable.

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Expected behavior**
Ops should be installed.

**ds_report output**
[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.

**System info (please complete the following informati

[2021-09-02 13:22] #1336 closed

[2021-09-02 13:46] fteufel commented on #1343
This happens when you forget `--no-cache-dir`. I guess when you try precompiling, chances are high that you have a cached version from earlier attempts.

[2021-09-02 13:46] #1343 closed

[2021-09-03 11:17] e4exp opened #1345 "[BUG] tensor values change across different stages of pipeline parallel"
I'm using pipeline parallel for 4 different sub models.
model 1 and 2 are on stage=0, and the others are on stage=1 like this

[code]

in `MyEncoder_1` on stage=0, everything is ok, below will be passed to the next module by the `forward()` of `MyEncoder_1`:

[code]

but, `DummyModel` on the stage=1, received different value and type of input tensor:

[code]

what can be the cause of this?
I'm usi

[2021-09-03 16:59] bartczernicki opened #1346 "AttributeError: module 'deepspeed' has no attribute 'init_inference'"
Doing basic inference on a Windows Azure VM with CUDA. Not sure if this is a Windows issue (?)
Deepspeed version 0.3.16

This code below throws error...
ds_engine = deepspeed.init_inference(model,
                                 mp_size=2,
                                 dtype=torch.half,
                                 checkpoint=None,
                                 replace_method='auto')

T

[2021-09-05 23:42] bartczernicki commented on #1346
I double checked this and this method is on the Linux version of the Python deepspeed package. So, the question is why is this inference not enabled on Windows?

[2021-09-06 09:43] DanielHesslow opened #1347 "[BUG] Module names GPT2ModelPipe & ParallelTransformerLayerPipe is hardcoded in deepspeed"
In multiple places in the deepspeed code there exist hardcoded checks such as:
`if self.module.__class__.__name__ == 'GPT2ModelPipe':`
or
`all('ParallelTransformerLayerPipe' in f.__class__.__name__ for f in funcs)`
In order to make the examples work.

This means that it is not possible to integrate deepspeed into an existing codebase by looking at the examples or documentation, one needs to thorou

[2021-09-07 10:43] hyunwoongko opened #1348 "Why TK in sparse matmul is hard coded into 32?"
https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/ops/sparse_attention/matmul.py#L176

this line makes nan value when I train FP16 model. I wonder why this line is hardcoded.
Additionally, no error occurs when this value is changed to TK[0].

[2021-09-07 10:53] hyunwoongko commented on #1348
<img width="1086" alt="스크린샷 2021-09-07 오후 7 53 09" src="https://user-images.githubusercontent.com/38183241/132333047-72cf5ec9-f073-4247-8950-59c30e769f7c.png">

Everything is works well.

[2021-09-07 11:38] hyunwoongko commented on #1348
<img width="1082" alt="스크린샷 2021-09-07 오후 8 38 35" src="https://user-images.githubusercontent.com/38183241/132338420-2ff4e5dc-f624-4a58-9ada-00268fca63b9.png">

I also test FP32.

[2021-09-07 11:41] hyunwoongko commented on #1222
https://github.com/microsoft/DeepSpeed/issues/1348
refer this!

[2021-09-07 16:01] RezaYazdaniAminabadi commented on #1346
Hi @bartczernicki

Thanks for mentioning this issue. Can I ask how you install deepspeed on Windows?
We have an instruction [here](https://github.com/microsoft/DeepSpeed/blob/master/README.md) under the installation section. Is this what you've tried?
Thanks,
Reza

[2021-09-08 22:36] william-trustlab opened #1351 "[BUG]param in flight during save_fp16_model"
**Describe the bug**
While running a HuggingFace Trainer with deepspeed (config described below), I'm encountering an error in which saving parameters in mixed precision mode attempts to partition parameters in flight. How can I fix this?

**ds_report output**
--------------------------------------------------
DeepSpeed C++/CUDA extension op report
-------------------------------------------------

[2021-09-09 14:22] tjruwase commented on #1351
@william-trustlab, thanks for reporting this error. Can you please share the command-line as well?

[2021-09-09 16:38] william-trustlab commented on #1351
It's just `python script.py`, within it the training occurs within this:
`train_args = TrainingArguments(
    str(Path.home())
    + "PATHDIR",
    # evaluation_strategy="steps",
    save_strategy="steps",
    save_steps=100,
    learning_rate=2e-5,
    per_device_train_batch_size=8,
    # per_device_eval_batch_size=16,
    gradient_accumulation_steps=10,
    num_train_epochs=5,
    weight_decay=0

[2021-09-09 16:45] tjruwase commented on #1351
Sorry for not being clearer earlier, I asked for the command-line so that I can repro the issue. Unfortunately, your reply does not provide required information for repro. Can you share `script.py`? Is it a standard HF script? Thanks.

[2021-09-09 23:19] amsword opened #1355 "[BUG] zero stage > 0 does not support the case when different iterations see different learnable parameters"
**Describe the bug**
The model is a multi-task learning. Different iterations have different losses and thus the learnable parameters are not exactly the same across different iterations. In this case, we have seen such error when stage = 1

**To Reproduce**
Steps to reproduce the behavior:

I made a toy code snippet
[code]

run this code by, e.g. python script.py.

[code]

[2021-09-10 03:03] PuyangChen commented on #1315
hi, @RezaYazdaniAminabadi
I have meet this issue too.
here is the whole log:
pip install deepspeed
Downloading https://intelpypi.pdx.intel.com/root/pypi/%2Bf/067/d95579eeb13a0/deepspeed-0.5.1.tar.gz (476kB)
     |████████████████████████████████| 481kB 226kB/s
    ERROR: Command errored out with exit status 1:
     command: 'e:\software\python\python.exe' -c 'import sys, setuptools, tokenize; sys.

[2021-09-10 04:48] PuyangChen commented on #1315
Hi, @yinxx
do you fix tis error?

[2021-09-10 04:49] PuyangChen commented on #1315
Hi, @yinxx
do you fix this error?

[2021-09-10 06:47] MichaelEk commented on #1217
Hi! [This PR](https://github.com/microsoft/DeepSpeed/pull/1264) fixes this issue. However, it will not work correctly for non-ZeRO optimizers.

[2021-09-10 08:15] gongbudaizhe opened #1356 "Model diverges if FP16 is enabled"
I am training a ViT Transformer using deepspeed with FP16 enabled. The loss decreases at the beginning, however it starts to increase once it reaches loss around 14. Below is an example (x-axis: iteration, y-axis: loss value):

![image](https://user-images.githubusercontent.com/5178646/132822449-97bdf60d-39be-472a-83da-33a88bf7590f.png)

[2021-09-10 08:35] fumihwh opened #1357 "[REQUEST] CPU Adagrad"
Although Adagrad use less memory space than Adam,  DeepSpeed's cpu_offload will be also of benefit to such cases.
Follow the DeepSpeedCPUAdam, I have implemented one.

[2021-09-10 15:34] #1217 closed

[2021-09-11 03:38] #1348 closed

[2021-09-12 00:59] tjruwase commented on #1356
@gongbudaizhe, thanks for reporting this problem. Can you please share more details, such as script and dataset, to help repro?

[2021-09-12 01:24] tjruwase commented on #1355
@amsword, can you please try that master branch against this script? I think this might already be fixed.

[2021-09-12 01:26] tjruwase commented on #1342
@MantasLukauskas, thanks for reporting this error. Can you clarify if this error occurs during checkpoint saving or during regular training? Can you provide more details, such as the json config, command-line, and log showing error, so that we can try a repro?

[2021-09-12 01:32] tjruwase commented on #1327
@IsCoelacanth, thanks for reporting this issue. Here are a few thoughts.
From your log it seems the input tensor is fp32, while the weight tensor is fp16.  One possible reason for difference in amp and deepspeed is that while amp does automatic casting to fp16, deepspeed does not do this. I am not familiar with Unet model, but can you try casting the input tensor(s) to forward() to fp16?

[2021-09-12 01:35] tjruwase commented on #1317
@xycforgithub, apologies for the delayed response. Can you please check if this is still an issue as some checkpointing related fixes were recent pushed? If it is still an issue can you please share more details to help repro? Thanks for your patience.

[2021-09-12 01:41] tjruwase commented on #1308
@mrseeker, could it be related to [this](https://github.com/pytorch/pytorch/issues/574)?

[2021-09-13 01:17] renmada commented on #1056
I met the same issue too. What do you mean by “compiler ”，how to get its version info？

[2021-09-13 19:08] kamalkraj opened #1363 "[BUG] replace_transformer_layer not working as expected"
**Describe the bug**
Different model output after replacing the BertLayer with deepspeed Kernel

**To Reproduce**
https://colab.research.google.com/drive/10tHpVRcKqoUCpTaz_JifLospiZGDk1t5?usp=sharing

**Expected behavior**
same output

**ds_report output**
[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.

**System info (please complete the following information)

[2021-09-14 01:34] delock opened #1364 "[BUG] max_seq_length paramter missing in DeepSpeedTransformerConfig"
**Describe the bug**
In comments of DeepSpeedTransformerConfig, there is a parameter max_seq_length, however it is not in __init__ function

**To Reproduce**
Steps to reproduce the behavior:
1. https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/ops/transformer/transformer.py
2. Search for DeepSpeedTransformerConfig
3. In comments see "max_seq_length: The sequence-length of the model bein

[2021-09-14 03:50] PuyangChen commented on #397
hi, @tjruwase @Teravus
When I install deepspeed in a windows server, it met a error as bellow...
 C:\Users\mfg_puyangch>Pip3 install deepspeed
Collecting deepspeed
    ERROR: Command errored out with exit status 1:
     command: 'e:\software\python\python.exe' -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\mfg_puyangch\\AppData\\Local\\Temp\\4\\pip-install-x3aza12f\\deepspeed\

[2021-09-14 06:06] RezaYazdaniAminabadi commented on #1363
Hi @kamalkraj

Thanks for reporting this.
From your test, I realize that you want to inject the kernels manually for the bert-base model. Even though this approach is possible, I would suggest trying deepspeed.init_inference(bert_model), which is much simpler and you don't need to provide further parameters other than the model itself:
[code]

In your style of replacing transformer layers, there i

[2021-09-14 06:15] RezaYazdaniAminabadi commented on #1364
Hi @delock,

Yes, you are right. Initially, we added this parameter to allocate the buffers properly, however, we later remove this as the sequence-length can be a dynamic parameter. So, we allocate the buffers based on the max_sequence_length that we see during the training: https://github.com/microsoft/DeepSpeed/blob/master/csrc/transformer/ds_transformer_cuda.cpp#L713-L720

Do you have any thou

[2021-09-14 06:42] kamalkraj commented on #1363
Hi @RezaYazdaniAminabadi

I tried what you suggested it is getting the same issue - https://colab.research.google.com/drive/10tHpVRcKqoUCpTaz_JifLospiZGDk1t5?usp=sharing

![Screenshot 2021-09-14 at 12 02 51 PM](https://user-images.githubusercontent.com/17096858/133207535-7dba396a-6d25-4cdc-937d-490c8e529079.png)

`preln` is set to `False` internally with `HFBertLayerPolicy`. So passing `True`/`Fla

[2021-09-14 07:24] delock commented on #1364
Thanks!  If it is no longer needed better remove from documentation.

[2021-09-14 08:10] RezaYazdaniAminabadi commented on #1363
Yes, you are right. I also checked without passing the preln. However, I am seeing similar results on my end:

![image](https://user-images.githubusercontent.com/44502768/133219077-b78fda75-027b-431b-adb3-3777d0870ecf.png)

I am running this with Torch1.9 and CUDA 11.3. Here is the code snippet I am using:

[code]

[2021-09-14 08:13] RezaYazdaniAminabadi commented on #1363
Btw, I see that you are inconsistencies of versions of CUDA and torch based of ds_report:
![image](https://user-images.githubusercontent.com/44502768/133221096-37667895-2438-4a1d-9239-2b43c7a50366.png)

[2021-09-14 08:24] zyz0000 opened #1365 "How to run cifar10 example on multi-node devices which do not support SSH connection"
I have already run cifar10 example successfully on a single machine with four Tesla P40 GPUs by the following command
[code]
Now I hope to run a distributed cifar10 example on two machines. However, these two machines do not support SSH connection. They can communicate by port exposure. Can anyone help me on how to modify the run_ds.sh file and cifar10_deepspeed.py to enable distributed training?

[2021-09-14 09:50] kamalkraj commented on #1363
@RezaYazdaniAminabadi
Docker: nvcr.io/nvidia/pytorch:21.06-py3

![Screenshot 2021-09-14 at 3 16 01 PM](https://user-images.githubusercontent.com/17096858/133235288-c044323d-c99c-4923-a78b-b4a30b671acb.png)

[code]

[2021-09-14 10:35] kamalkraj commented on #1363
The above difference can be ignored.
base_model did computation in `float32` and test_model in `float16`

I checked with casting the model to proper dtype.  Works with both 32/16 precision, with atol `1e-2`

[2021-09-14 10:42] kamalkraj commented on #1363
@RezaYazdaniAminabadi

Why epsilon is `1e-5` hard coded in inference. even though bert-base uses `1e-12`

is this issue fixed: https://github.com/microsoft/DeepSpeed/issues/581 ?

[2021-09-14 16:00] RezaYazdaniAminabadi commented on #1363
Hi @kamalkraj

Thanks for mentioning this.
We make the epsilon configurable by using the replace_policy, using an additional parameter. Would you mind sending a PR to fix this?
The issue you mentioned is mostly happening during training. However, the fix should be pretty simple.
Thanks,
Reza

[2021-09-14 16:46] kamalkraj commented on #1363
@RezaYazdaniAminabadi

PR, Yes

[2021-09-14 19:57] kamalkraj commented on #1363
@RezaYazdaniAminabadi

https://github.com/microsoft/DeepSpeed/pull/1366

[2021-09-14 20:43] ywen666 opened #1367 "[REQUEST] MPICH launcher?"
Our server does not suppport pdsh nor openmpi. The built-in module is MPICH or MVAPICH2. I wonder is there a plan to support MPICH launcher in the near future?

[2021-09-14 21:33] ywen666 commented on #1367
I found the MVAPICH launcher actually!

[2021-09-14 21:33] #1367 closed

[2021-09-15 04:03] gahdritz commented on #974
Any update on this?

[2021-09-15 04:20] Teravus commented on #397
At least for me..    I'd say it really isn't supported in Windows.    Even if you can get DeepSpeed to compile(I did with changes), It is of limited use without Nvidia Triton which /definitely/ isn't supported in Windows because some of its dependencies.

You might be better off running the docker container or using a Hypervisor that allows you to assign the graphics card to your Linux VM.

[2021-09-15 04:47] xycforgithub commented on #1317
@tjruwase , I can verify the problem is still there in Deepspeed 0.5.2. I saved a model checkpoint in the middle of training. I then used ``load_state_dict_from_zero_checkpoint(model, ds_dir, tag=str(self.config.start_model_step))`` to load the checkpoint (it is a DeBERTa model), and I get
(Pdb) model.deberta.encoder.layer[0].output.dense.weight
Parameter containing:
tensor([[ 0.0207, -0.0448,  0.

[2021-09-15 07:00] PuyangChen commented on #397
@Teravus thanks for your reply and suggestion.
Besides the docker solution, is there any way to train a bigger model with limited GPUs in the Windows system?

[2021-09-15 07:37] rraminen opened #1369 "[BUG] Client Optimizer is not initiated while running DeepSpeed Megatron-LM GPT2"
Dataset: Wikipedia
Docker Image: pytorch/pytorch:1.8.1-cuda11.1-cudnn8-devel
GPU: V100
MP_SIZE=8
NUM_WORKERS=1
NUM_GPUS_PER_WORKER=8

Steps to run:
cd DeepSpeed/DeepSpeedExamples/Megatron-LM
bash scripts/ds_zero2_pretrain_gpt2_model_parallel.sh

Following error is observed while running DeepSpeed Megatron-LM GPT2 withwikipedia dataset

Traceback (most recent call last):
  File "pretrain_gpt2.py",

[2021-09-15 09:01] CodeAunt commented on #693
Still get this error on CentOS-7, with gcc g++ of version 8.3.1.

[2021-09-15 14:42] robvanvolt opened #1371 "[REQUEST] Remove dataset length requirements"
I'm always frustrated when I use iterable datasets without a length attribute in deepspeed, because they are not supported officially. Unfortunately, the length attribute got removed form the WebDataset format (https://github.com/webdataset/webdataset). This is a highly desirable format, because it lets you stream the data without having to download the complete dataset from regular .tar or .tar.g

[2021-09-16 08:29] hyunwoongko opened #1375 "[BUG] non-floating point tensor makes bug when we use contiguous activation checkpointing"
Contiguous activation checkpoint has bugs about non-floating point tensor when I use pipeline parallelism.

<img width="1004" alt="스크린샷 2021-09-16 오후 5 28 02" src="https://user-images.githubusercontent.com/38183241/133578153-23f5916e-2164-4e71-a8a6-13b385845ad6.png">

## Situation
I feed tuple of (`tensor_a`, `tensor_b`, `tensor_nonfp`, `tensor_c`) to model. and `tensor_nonfp` is non-float

[2021-09-16 09:26] hyunwoongko commented on #1375
I fixed bug. I will upload PR soon.

[2021-09-17 12:00] zyz0000 commented on #579
Have you already solved this problem? If any, please let me know your solution. Thank you so much!

[2021-09-17 12:00] zyz0000 commented on #579
Have you already solved this problem? If any, please let me know your solution. Thank you so much! @hujian233 @bluseking

[2021-09-17 13:11] devinrouthuzh commented on #1331
I wanted to quickly follow up on this bug report to see if there has been any discussion on a fix. Since the underlying issue is that the `CUDA_VISIBLE_DEVICES` variable isn't correctly inherited (i.e., it reindexes from `0` to the number of GPU's listed in the variable), the problem may not be limited to SLURM systems.

Per my report, if I'm misunderstanding any of DeepSpeed's functionality, plea

[2021-09-17 18:43] tjruwase commented on #1369
@rraminen. Thanks for reporting this. A brief suggest this is a regression from #1316. I will take a closer look.

[2021-09-17 23:42] adammoody opened #1378 "Question: allocate pre_process and post_process to their own stage"
In training a pipelined GPT model, I find that the first and last stage of the pipeline end up with one transformer layer as well as the input/output embeddings like so:
[code]
As a result, the memory footprint of the first/last stages is about 25-30% higher than all of the intermediate stages.  For example, I see sizes like the following:
[code]
For a long pipeline, I would like to dedicate pipel

[2021-09-18 06:27] adammoody opened #1379 "Question: recommened method for inference from a pipelined model checkpoint?"
Is it possible to load a checkpoint that was saved by a pipelined model back into DeepSpeed for inference, i.e., with ``deepspeed.init_inference``?

In particular, I have trained a model using 2-way tensor and 4-way pipeline parallelism so that I have a set of layer checkpoint files like:
[code]

I would now like to load this checkpoint to do inference, ideally with ``deepspeed.init_inference`` fo

[2021-09-18 12:46] tjruwase commented on #1369
@rraminen, this failure is actually due to a bug in the DeepSpeed Megatron-LM that is now exposed by tighter correctness checking in deepspeed.initialize(). However, that fixing that bug is not worth it because that example code is old and no longer compatible with latest Megatron or DeepSpeed. So I suggest using the example codes [here](https://github.com/microsoft/DeepSpeedExamples/tree/master/M

[2021-09-18 23:36] Teravus commented on #397
You said windows server 2016, so I'm not sure.  Windows 10 insider builds, I've heard (and not yet tried).... Hyper, apparently supports assigning video card resources.   But only in the insider builds.  I've not seen it outside of that.   If you were able to get it to function..   You could possibly use the Windows Subsystem for Linux to get it to run.    You would be better off just using a supp

[2021-09-20 23:41] adammoody opened #1381 "[BUG] String sort based on ``rank_repr`` may lead to problems?"
**Describe the bug**
This is more of question than a known bug, and if there is a bug, it would probably only occur for very large models or extreme cases.  There may be an issue based on how checkpoint file names are sorted.

The file names include a ``rank_repr`` encoding:

https://github.com/microsoft/DeepSpeed/blob/4ad8019cdf5b48ff169bacc2ca3dce5f80671709/deepspeed/runtime/pipe/module.py#L537

[2021-09-21 13:46] dukesun99 commented on #1003
Hi did you managed to solve the OOM problem? I am also training with multiple GPUs and zero-3, still get OOM.

[2021-09-21 18:30] amsword opened #1384 "[REQUEST] multiple dynamic loss scalar on different loss values"
**Is your feature request related to a problem? Please describe.**
We have different losses in each iteration, and we'd like to have different dynamic loss scalar to stable the iteration. However, the current deepspeed only supports one scalar if I understand correctly.

**Describe the solution you'd like**
I'm not sure how deepspeed can implement this feature, but a simple apex implementation can

[2021-09-21 18:38] amsword opened #1385 "[REQUEST] Support mixed precision calculation with ZERO"
**Is your feature request related to a problem? Please describe.**
I assume the current implementation is based on full fp16. However, in some settings, we find pure fp16 (although with master fp32 parameters) is not as accurate as pytorch/amp. Thus, we have to resort back to pyotrch/amp so similar packages.

**Describe the solution you'd like**
I'm not sure how deepspeed can implement this scenar

[2021-09-21 20:35] rraminen commented on #1369
Hi @tjruwase, thank you for the information. I shall try it out.

[2021-09-21 20:35] #1369 closed

[2021-09-22 06:48] delock opened #1386 "[BUG] get_workspace_size will overflow with long seq_len"
**Describe the bug**
Under seq_len 2048, BS=8, heads=32, get_workspace_size will return negative value in get_workspace_size

**To Reproduce**
In function to compute workspace size, when seq_len =2048, maxBatchSize=8, num of heads=32, in the function below:
https://github.com/microsoft/DeepSpeed/blob/master/csrc/transformer/ds_transformer_cuda.cpp#L22
The value of workSpacesize will overflow and g

[2021-09-23 04:25] roywei opened #1390 "[BUG] Dataloader length is wrong when batch size > 1"
**Describe the bug**
The dataloader length is set to length of data sampler here: https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/runtime/dataloader.py#L71

This is wrong when batch size is > 1
Data loader actual length should be sampler length divided by batch size.

This caused me quite a confusion when debug a training problem when I try to print the number of steps trained.

**To

[2021-09-23 06:58] cicirori opened #1392 "[REQUEST] MOE with ZERO stage 3 support"
**Is your feature request related to a problem? Please describe.**
Hi, I'm trying the new MOE feature from deepspeed, but I found that it doesn't work with zero stage 3. I'd like to know what cause them not to work both, and if there are any plans to support in the future. Thanks for your reply!

[2021-09-23 10:13] MichaelEk commented on #1392
+
Currently, there is no convenient way to train a model with MoE with distributed parameters and optimizer states, except for ZeRO-2+MP. However, MP is worse than ZeRO-3 due to synchronicity.

[2021-09-23 12:44] benathi commented on #1200
Any updates on examples of GPT-based models with sparse attention kernels? :)

[2021-09-24 04:57] skpig opened #1394 "Question: Can't Load ZeRO3 model with Engine.load_checkpoint()"
I used `Engine.save_checkpoint` to save my ZeRO3 model_engine . But when I load it with `Engine.load_checkpoint()`, I encountered runtime error as below:
[code]

I'm using deepspeed ZeRO3 to train my bart (implemented by Huggingface's transformers) with 4 GPUs. (`deepspeed --num_gpus=4  train.py  --deepspeed  --deepspeed_config config/ds_config.json`)
Here is my code.(to simplify the question, I s

[2021-09-24 05:46] zgerrard commented on #1332
Any updates on this issue? @oborchers @RezaYazdaniAminabadi

[2021-09-24 13:33] hobbitlzy opened #1395 "The discard mechanism of MoE layer seems wrong."
I am using the `deepspeed.moe.layer.MoE`. The most concerning part is the dropped inputs. Some inputs are dropped so that experts are not fed in too much data. But when generating outputs in this [line](https://github.com/microsoft/DeepSpeed/blob/86dd6a6484a4c3aa8a04fc7e7e6c67652b09dad5/deepspeed/moe/sharded_moe.py#L374).  I notice the position holding the discarded inputs are all 0, which is due

[2021-09-24 20:21] RezaYazdaniAminabadi commented on #1386
Hi @delock,

Thanks for reporting this issue on the transformer kernels. Can I ask what hidden-dimension you are using here?
I will send a PR to fix this issue soon.

Thanks,
Reza

[2021-09-25 02:39] skpig commented on #1298
@tjruwase I have encountered the same issue as well. I hope the learning rate can increase linearly in Warmup Stage.

[2021-09-25 02:44] skpig commented on #1317
@xycforgithub I have the same issue about loading checkpoint under multi-gpu and ZERO-2 setting. Do you have any methods to load it correctly ?

[2021-09-25 02:50] stas00 commented on #1317
I'm curious if you have tried with master, I was mainly doing fixes on zero3, but who knows perhaps something else got fixed on the way.

[2021-09-25 05:32] xycforgithub commented on #1317
The only method under zero2 I find is to load the fp16 weights in mp_rank_00_model_states.pt.

[2021-09-25 06:00] skpig commented on #1317
@stas00 I just updated my deepspeed to version 0.5.3 and tested the `load_state_dict_from_zero_checkpoint()`, but something went wrong.
[code]
Here is my code.
1. First I saved the model under ZeRO2 and 4 gpus settings . I used my own model class `MyBart` (subclass of transformers.BartPretrainedModel).
[code]
2. Than I load the checkpoint without deepspeed, and the Error Message above happened.
[c

[2021-09-25 06:10] stas00 commented on #1317
please re-test with deepspeed@master - a few bug fixes were merged this week. Please report back if the problem has been resolved or not - thank you!

[2021-09-25 06:15] stas00 commented on #1317
The diff is 4 bytes, so this looks like the new padding introduced by Z2 recently. this code is a suspect:

https://github.com/microsoft/DeepSpeed/blob/c1829c45851eb1988684c9a2f4fd054ebd446b95/deepspeed/utils/zero_to_fp32.py#L226-L234

Perhaps I got the new padding wrong? Does the model work if you remove the assert?

[2021-09-25 06:21] stas00 commented on #1317
Here is the PR where I was trying to fix it https://github.com/microsoft/DeepSpeed/pull/1372
and here is the test that was reproducing the 2 bytes off problem:
https://github.com/microsoft/DeepSpeed/blob/c1829c45851eb1988684c9a2f4fd054ebd446b95/tests/unit/test_zero.py#L164

[2021-09-25 06:22] stas00 commented on #1317
Finally please run the script with `-d` so that we can see which params shapes you got (or enabled debug hardcoding in the script) if you're using the API.

[2021-09-25 07:52] skpig commented on #1317
@stas00 Thanks for your reply. I'm so sorry for my misunderstanding about master & release version. I'm new to GitHub, please forgive me.

I retested the code with master branch. The Value Error (consumed 255381772 numels out of 255381776 - something is wrong) still happened. Then I do the testing following your instruction.
1. I removed the assert, and the loading process went well. I also random

[2021-09-25 12:21] afiaka87 commented on #1371
https://github.com/lucidrains/DALLE-pytorch/issues/359

Indeed; this is preventing us from using deepseed with webdataset. Any way around this?

[2021-09-25 14:57] tjruwase commented on #1371
@robvanvolt, thanks for sharing this request. However,  I don't fully understand what is required or what the current issue is with deepspeed. Can you provide more details or even better a toy example demonstrating the current limitation? Thanks.

[2021-09-25 15:19] stas00 commented on #1317
Well, it's I who should ask for forgiveness since I made the assumption are you an old time user without checking in with you first :)

I'm glad you have figured it out on your own, @skpig

Right, so I actually wanted to see the param shapes. You can always attach those to your comment as a file.

But even from the report above it's clear that the issue is of a padding and it's strange that your s

[2021-09-25 15:22] stas00 commented on #1317
p.s. there is another trick to including a huge log file in the comment and making it collapsible, see: https://gist.github.com/pierrejoubert73/902cc94d79424356a8d20be2b382e1ab#gistcomment-3899835

[2021-09-25 15:41] stas00 commented on #1317
And until this is sorted out if fp16 weights are enough under Z2 it's trivial to get those using this method:
https://huggingface.co/transformers/master/main_classes/deepspeed.html#getting-the-model-weights-out

[2021-09-25 17:07] ParamsRaman commented on #1110
@jeffra @ShadenSmith
Re-visiting this thread since I noticed few other related github issues filed earlier. I am curious to know about the current status of the pipeline parallelism and compatibility with Zero-2,3, gradient checkpointing etc.

1) https://github.com/microsoft/DeepSpeed/pull/677 - I found this discussion and PR filed about this from earlier this year: wondering if this was merged? D

[2021-09-25 18:10] hyunwoongko commented on #1110
I would also like to know the status of this work. Currently, [this line](https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/runtime/pipe/engine.py#L56) prevents using both zero2 and pipe together. Can zero2 and pipeline parallelism work together?

[2021-09-25 18:29] hyunwoongko commented on #1347
I think this is a problem. We need to provide a more flexible API.

[2021-09-25 18:41] hyunwoongko commented on #1110
@ParamsRaman I think https://github.com/microsoft/DeepSpeed/pull/980 this PR says Pipeline parallelism is incompatible with ZeRO2 and 3. This PR happened later than the ones you mentioned.

[2021-09-25 19:10] #1248 closed

[2021-09-25 19:27] hyunwoongko commented on #1347
https://github.com/microsoft/DeepSpeed/pull/1399 I opened PR.

[2021-09-26 01:55] delock commented on #1386
Hi Reza, hidden dimension I use to reproduce this issue is 3072, thanks!

[2021-09-26 02:52] skpig commented on #1317
@stas00 Thanks for your instruction. I do the following test and hope it may help you reproduce the bug.
1. I use the `BartPretrainedModel` class (which `MyBart` subclass), and everything works well. So I guess probably it is the way I implement `MyBart` that produce the error.
2. I reduce this model to 2 layers and the error still exists.
    <details>
        <summary> code of <code>MyBart</code

[2021-09-26 05:34] stas00 commented on #1317
Thank you for that follow up, @skpig

Most likely it hits some edge case due to your uneven vocab of 50265 - if you were to extend it to 50268 or shorten to 50264, I'm pretty sure the problem will go away.

So we need to write a small reproducible case that mimics your case and then it should be easy to fix I think.

The base test is already there if you'd like to fiddle with it, you run it as:

[

[2021-09-26 06:34] ParamsRaman commented on #1110
@hyunwoongko Still a bit confused. Do you mean later this PR was merged => PP + Zero2/3 works now? Or is it still open?

[2021-09-26 08:10] hyunwoongko commented on #1110
Nope. PP + ZeRO 2/3 is impossible.

[2021-09-26 11:11] janEbert commented on #1371
This would (should) need to be solved from the PyTorch side, I think, as [DeepSpeed uses PyTorch's `torch.utils.data.DistributedSampler`](https://github.com/microsoft/DeepSpeed/blob/c1829c45851eb1988684c9a2f4fd054ebd446b95/deepspeed/runtime/dataloader.py#L51-L53) (see https://github.com/pytorch/pytorch/issues/28743).

Otherwise, DeepSpeed could go the same way as WebDataset and implement its own s

[2021-09-26 21:50] chaoyanghe opened #1401 "[BUG] error: Unable to pre-compile async_io, when compiling DeepSpeed from source"
**Describe the bug**
[code]

error:
[code]

[2021-09-27 01:55] vinhngx opened #1402 "[BUG] DeepSpeed Zero-3 and HF trainer return hugely different losses and perplexity for GPT-2 model"
**Describe the bug**
Original bug reported at https://github.com/huggingface/transformers/issues/13653
@stas00  and @samyam have had a look at this. The initial conclusion seems to be a problem with DeepSpeed (Zero-3 in particular) rather than with the HuggingFace DeepSpeed integration.

====
I have been trying to pre-train GP2 models with HF Trainer and Deepspeed, but have noticed large differenc

[2021-09-27 07:02] Bournet commented on #1356
Did you solve this problem, I also got the same problem @gongbudaizhe

[2021-09-27 07:24] gongbudaizhe commented on #1356
No, I have tried gradient clipping and smaller learning rate but the results are no good. More in-depth investigation is needed.

For now, I am using FairScale from facebook research which supports ZeRO with AMP and doesn't have the divergence problem. However, the training speed and memory consumption is inferior to DeepSpeed.

[2021-09-27 07:50] cicirori opened #1403 "[QUESTION] Why do zero and offload have dependencies?"
Hi, according to the documentation, turning on optimizer offload requires that zero stage 2 be turned on at the same time, and turning on parameters offload requires zero stage 3. I'd like to know why, because as I understand it offload and zero should be two separate features. thanks for your reply!

[2021-09-27 07:50] cicirori commented on #1392
thanks!

[2021-09-27 07:50] #1392 closed

[2021-09-27 09:40] tacerdi commented on #1351
@william-trustlab did you figure out how to solve this issue?

[2021-09-27 16:13] tjruwase commented on #1351
@tacerdi, are you seeing a similar issue? Can you share details to help repro?

[2021-09-27 16:19] tjruwase commented on #1403
@cicirori, thanks for the question.

Yes, you are correct that offload and zero are conceptually separate. However, inside DeepSpeed they are dependent in the sense that Offload is built on ZeRO, while ZeRO can run without Offload. It is possible to implement Offload without ZeRO, but that is not the case today in DeepSpeed. Does that help?

[2021-09-27 16:21] tjruwase commented on #1356
@gongbudaizhe or @Bournet, are you able to share details to help us repro the problem? Thanks.

[2021-09-28 02:19] aphedges opened #1410 "[BUG] Running inference on a second model generates gibberish"
**Describe the bug**
When running inference on two models in one script, the second model will generate gibberish instead of what it would normally generate.

**To Reproduce**
Steps to reproduce the behavior:

1. Create `deepspeed_order_error.py` with the following code (based on <https://www.deepspeed.ai/tutorials/inference-tutorial/#end-to-end-gpt-neo-27b-inference>):

[code]

2. Run `deepspeed

[2021-09-28 02:37] tacerdi commented on #1351
I'm running DeepSpeed integrated in HuggingFace Trainer with standard configurations. The error is thrown right when the model weights are saved at checkpoint-500 (which is the first checkpoint to save anything)

Here is the whole error message:

`~/.local/lib/python3.8/site-packages/transformers/trainer.py in train(self, resume_from_checkpoint, trial, ignore_keys_for_eval, **kwargs)
   1340

[2021-09-28 07:26] RezaYazdaniAminabadi commented on #1410
Hi @aphedges

Thanks for reporting this bug. The reason of giving gibberish in the second call with a different model is actually due to not getting the model parallel group set properly in the second time.
I will send a PR to fix this soon.
Thanks,
Reza

[2021-09-28 07:37] RezaYazdaniAminabadi commented on #1386
Hi @delock

Have you tested this PR with the dimension that you mentioned?
Thanks,
Reza

[2021-09-28 14:15] delock commented on #1386
Hi Reza, I'll check the PR in my environment this week to see whether the bug had gone away.
Thanks,
Guokai

[2021-09-28 19:18] tjruwase commented on #1401
@chaoyanghe, thanks for reporting this error.

Can you try installing `libaio-dev`. For example on Ubuntu, you would do `sudo apt install libaio-dev`.

[2021-09-28 19:26] tjruwase commented on #1351
@tacerdi, thanks for sharing the error log. However, I need a bit more details as I would like to reproduce this issue on my side. Can you provide me the command-line for launching the run? This would also help identify the training script in the HF codebase. Thanks.

[2021-09-28 23:30] eelxpeng opened #1412 "[BUG] fp16 weights in model_states.pt does not match fp32 weights extracted using zero_to_fp32.py"
Hi, after training the checkpoint folder contains one `model_states.pt` file and multiple `optim_states.pt` files. One can use `zero_to_fp32.py` [here](https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/utils/zero_to_fp32.py) to extract fp32 weights from the optim_states.pt files. As I checked when using Zero Stage 2, fp16 weights (the weights in key `module`) in `model_states.pt` does n

[2021-09-29 01:45] skpig commented on #1317
@stas00 Sorry for the last response. I tried to tweak the model as below to reproduce the total model params of 50265.
[code]
And ran the test as you told. It seemed that the test failed

[code]

[2021-09-29 02:56] skpig commented on #1317
I also pull the most recent commit (39c7744) and run the test. It seems like the current master can't pass the test either.

[2021-09-29 03:20] aphedges commented on #1410
@RezaYazdaniAminabadi, thanks for the quick PR! I'll test it out now and verify that it solves my problem.

[2021-09-29 05:12] hyunwoongko opened #1413 "difference with launch_attn_softmax_backward_v2 and launch_attn_softmax_backward"
What is the difference between the two kernels?

Thanks

[2021-09-29 17:46] Dipet opened #1416 "[BUG] EmbeddingBag sparse gradients skipped without error or warning"
**Describe the bug**
When you try to use `EmbeddingBag` with sparse gradients, they will be skipped silently and will not be used in `all_reduce` logic because [`split_half_float_double_csr`](https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/runtime/engine.py#L79) doesn't check `torch.cuda.sparse.FloatTensor` type.
I think we need to change logic and not iterate over data types, but rat

[2021-09-30 02:36] stas00 commented on #1317
Thank you for sending back the results, @skpig

Excellent job on modifying the test!

It's odd, but your test works for me.

2 questions:

1. did this test work before you apply your changes - i.e. on a clean master.
2. what's the traceback for the failure you get with your change.

Meanwhile I will try to see if I can find some shape that can trigger a boundary issue.

[2021-09-30 02:57] stas00 commented on #1412
It's very hard to do anything with your report since you're not telling us about which setup you are using and how we could reproduce your problem. At the very least you need to specify whether this is ZeRO2 or 3 that you are having the trouble with. and whether you're using the master branch since several bugs were recently fixed.

There is definitely some edge case issue with ZeRO2 at the moment

[2021-09-30 03:02] yovizzle commented on #1332
I'm also very interested in this one.

[2021-09-30 16:32] delock commented on #1386
Yes, with the PR workspace size would not overflow with the hidden size 3072 and batch size 8.   Thanks!

[2021-09-30 17:29] jeffra commented on #1416
Thank you for reporting this issue @Dipet! I've just pushed #1418, can you give it a try? I've added a unit test based on your repro code above, thank you for including this.

[2021-09-30 19:53] RezaYazdaniAminabadi commented on #1413
Hi @hyunwoongko

You always ask the interesting (and challenging) questions. The v2 is doing the reduction of the partial sums inside warp while the other version it is across threads of a block. We have seen that for small sequence lengths the v2 is faster, but if we use larger sequence length we have to use the other version, as we are limited by the number of registers. Currently, this part of

[2021-09-30 20:38] #1410 closed

[2021-09-30 21:23] tjruwase commented on #1351
@william-trustlab, are you able to share the full script.py? Thanks.

[2021-10-01 03:20] eelxpeng commented on #1412
@stas00 Thanks for the reply. I have made detailed modification to the above the bug report. Please see the updated one.

[2021-10-01 03:46] stas00 commented on #1317
@skpig, please try this PR and let me know if it solves the problem on your side: https://github.com/microsoft/DeepSpeed/pull/1422

If you're not sure how to test a PR branch for your ease I attached the updated script (just rename it to have .py instead of .txt):
[zero_to_fp32.txt](https://github.com/microsoft/DeepSpeed/files/7263977/zero_to_fp32.txt)

Please let me know.

[2021-10-01 04:25] stas00 commented on #1412
Great! That's much better, @eelxpeng

I just made a fix for taking care of the world_size correctly https://github.com/microsoft/DeepSpeed/pull/1422 but I don't think this is the fix that your situation needs.

It's very likely you're onto something with param groups.

I think all my tests have been with a single param group as you have flagged. So let me try to write another test with multiple pa

[2021-10-01 04:25] #1416 closed

[2021-10-01 04:41] stas00 commented on #1412
Yeah, I changed the test to include param groups and z3 works, but z2 breaks. Great. Much appreciating your input.

Let's see now what I'm doing wrong.

[2021-10-01 06:29] stas00 commented on #1412
It's somewhat mindboggling in z2. In z3 each param is padded so it's easy to reconstruct, in z2 sometimes it's padding something it's not.

e.g. if I build 4 1-element params on world_size=2

it creates:

[code]

so reconstruct it I have to take a slice from each and then narrow it to the shape of [1]

but now, let's do the same 8 1-element params on world_size=2

and it still uses 8 elements in t

[2021-10-01 06:31] stas00 commented on #1317
@xycforgithub, most likely the bug you run into is with having multiple param groups under z2, correct?

If so we are trying to sort it out here: https://github.com/microsoft/DeepSpeed/issues/1412

[2021-10-01 07:02] eelxpeng commented on #1412
It should be noted that `single_partition_of_fp32_groups` is a list of flat tensors, where each element corresponds to each param group, instead of a single flat tensor. And the padding happens for each param group individually. So I think it makes sense to treat each param group separately. Here is my temporary solution:
[code]
The tricky thing is one has to infer the `param_shapes` in each param

[2021-10-01 07:17] stas00 commented on #1412
The `param_shapes` key of the saved dict I added specifically to be able to reconstructs the params - it wasn't there in the original code. See:

https://github.com/microsoft/DeepSpeed/blob/0457bb1cb661c4783712489b529317437e086bc7/deepspeed/runtime/engine.py#L2432-L2469

So perhaps for z2 it can be saved in such a way that it'll be easy to reconstruct?

[2021-10-01 07:35] eelxpeng commented on #1412
I see. I definitely think that z2 should be saved in such a way that it'll be easy to reconstruct. `param_shapes` should be a list of ordered dictionaries, not just one ordered dictionary, where each dictionary corresponds to each param group. Then the weights can be reconstructed easily.

[2021-10-01 07:49] eelxpeng commented on #1412
So the above function should be revised as follows:
[code]
Do you think that's right? @stas00

[2021-10-01 14:19] tjruwase commented on #1403
@cicirori, if you don't have additional questions, is it okay to close this issue? Thanks.

[2021-10-01 14:21] tjruwase commented on #1401
@chaoyanghe, can you please confirm whether or not the proposed solution worked for you? Thanks.

[2021-10-01 14:22] tjruwase commented on #1394
@skpig, sorry for the late response. Is this is still an issue? Thanks,

[2021-10-01 14:39] tjruwase commented on #1381
@adammoody, is this still an issue or did you fix it https://github.com/microsoft/DeepSpeed/pull/1377?

[2021-10-01 15:06] skpig commented on #1317
@stas00
I'm sorry that I may have made a mistake.
1. As I previously commented (https://github.com/microsoft/DeepSpeed/issues/1317#issuecomment-929753367), the test failed with my code tweaking the model params. And the test also failed with clean code as I mentioned (https://github.com/microsoft/DeepSpeed/issues/1317#issuecomment-929783068).
2. But the `-sv` args doesn't print any traceback infor

[2021-10-01 15:40] hyunwoongko commented on #1413
Thanks for kind answer! Then, how long is the sequence length that V2 can handle? Of course, it will depend on the hidden size. I want to know the general case. (like GPT2-1.5B)

Thanks.

[2021-10-01 15:49] hyunwoongko commented on #1413
And did you check my message on Slack? I think it would be good to decide a meeting time.
p.s. @stas00 @jaketae want to meet together.

Thanks.

[2021-10-01 16:03] #1364 closed

[2021-10-01 18:01] hyunwoongko commented on #1413
Oh I found this line https://github.com/microsoft/DeepSpeed/blob/master/csrc/transformer/softmax_kernels.cu#L575

[2021-10-01 18:02] eelxpeng commented on #1412
See this pr as an initial solution: https://github.com/microsoft/DeepSpeed/pull/1424 .

[2021-10-01 18:15] xycforgithub commented on #1317
Yes I can verify that my model also has multiple param groups under z2. Thank you for the pointer!

[2021-10-01 18:26] stas00 commented on #1317
Great, please try this PR then: https://github.com/microsoft/DeepSpeed/pull/1424 and comment there if it solves the problem for you. Thank you!

[2021-10-02 01:29] skpig commented on #1317
@stas00 The PR #1422 has solved my problem. The model loaded well and reconstructed fp32 value correctly. Thank you !!!

[2021-10-02 01:33] stas00 commented on #1317
Awesome! Thank you for validating that, @skpig

We will most likely have another iteration for you to check a bit later on, once https://github.com/microsoft/DeepSpeed/pull/1424 is integrated with z3.

[2021-10-02 01:42] skpig commented on #1394
Yes, the issue still exists with the most recent commit (https://github.com/microsoft/DeepSpeed/commit/30965ea734587e80d130d78876c437844655090c)

[2021-10-02 02:31] hyunwoongko commented on #1347
https://github.com/microsoft/DeepSpeed/pull/139 This PR is merged. could you check?

[2021-10-02 02:32] #1413 closed

[2021-10-02 02:35] stas00 commented on #1317
@skpig and @xycforgithub if you could both try https://github.com/microsoft/DeepSpeed/pull/1424 - it has a major rewrite of z2 reconstruction code by @eelxpeng

[2021-10-02 02:56] tjruwase commented on #1394
@skpig, thanks for confirming. As you probably notice, a number of related PRs are in process to merge by early next week. We can then evaluate whether the issue still remains.

[2021-10-03 04:33] #1375 closed

[2021-10-04 10:02] DanielHesslow commented on #1347
Thanks, from looking at the code this appear to solve the issue. Though the conversion of boolean tensors is seemingly only done on the last tensor (as that is the attention mask in GPT2ModelPipe). With current implementation I think has_bool_tensor should probably be renamed to last_tensor_is_bool or smth. A perhaps better alternatives is to let the user provide a list of which tensors are boolea

[2021-10-04 10:02] #1347 closed

[2021-10-04 16:14] adammoody commented on #1381
@tjruwase , this is still an issue.  It's separate from #1377 but related.  I can dig deeper on this and propose a fix.

[2021-10-04 17:44] #1317 closed

[2021-10-04 17:45] #1412 closed

[2021-10-04 19:06] tjruwase commented on #1327
@IsCoelacanth, just wanted to check if this is still an issue or if the suggestion worked?

[2021-10-04 20:21] tjruwase commented on #1394
@skpig, we have just merged a bunch for checkpoint PRs. Can you please check again? Thanks.

[2021-10-04 20:37] stas00 commented on #1394
@skpig, please try to follow the instruction here to setup up HF transformers to do the right thing during modeling:
https://huggingface.co/transformers/master/main_classes/deepspeed.html#non-trainer-deepspeed-integration
Let me know if you run into any problems.

[2021-10-05 14:56] aakaashjois opened #1426 "[BUG] PyTorch Lightning Finetuning callback crashes with Deepspeed"
**Describe the bug**
The Finetuning callback from Pytorch Lightning crashes when using Deepspeed plugin
[code]
The finetuning callback is trying to store the params in optimizer for each param group. Deepspeed changes the optimizer to store all params as a single array, which breaks the callback.

**To Reproduce**
Steps to reproduce the behavior:
[code]
Call this code with at least 1 GPU to see th

[2021-10-05 15:04] fcampagnexandr commented on #1426
We have a similar issue when we freeze the model at the start, train for one epoch and then try to unfreeze and add params to the optimizer (see https://github.com/PyTorchLightning/pytorch-lightning/discussions/9774). As a consequence, we cannot use the deepspeed plugin to fine-tune a model trained with deepspeed, and end up with a very small batch size with the DDP plugin.

[2021-10-05 15:57] #1386 closed

[2021-10-06 06:28] fumihwh opened #1431 "[BUG] CI: ModuleNotFoundError: No module named 'cupy'"
**Describe the bug**
PR's check failed due to `ModuleNotFoundError: No module named 'cupy'` [url](https://github.com/microsoft/DeepSpeed/pull/1358/checks?check_run_id=3759279145#step:5:990)

`WARNING: deepspeed 0.5.4+a415a0e does not provide the extra '1bit'` shows up in `Install DeepSpeed` step. Related code is `.github/workflows/main.yml:L61`, `pip install .[dev,1bit]`.

In `setup.py:L52`, `extr

[2021-10-06 06:40] hyunwoongko opened #1432 "[BUG] Why is tuple transferring is no longer supported in pipeline parallelism?"
https://github.com/microsoft/DeepSpeed/commit/407ff0f1543be06d52de22abeaf9bf9af49295d9#diff-26611f6be759237464a03bb1328cbc16555888836b3504dc3703e2e25d2a3ca3

@ShadenSmith This commit prohibits the use of tuple when the tensor model parallel size is greater than 1 and using pipeline parallelism. Can you explain why tuple can not be used? I think this is too strong constraint. I think that I can't d

[2021-10-06 07:27] SeanNaren commented on #1426
Thanks for this issue! I think this is more related to Lightning than DeepSpeed so I made an issue to track on the Lightning side: https://github.com/PyTorchLightning/pytorch-lightning/issues/9833

[2021-10-06 12:38] IsCoelacanth commented on #1327
hi @tjruwase, I tried at full precision and also with manually handling the casting to fp16, both work.

[2021-10-06 18:45] franckjay opened #1435 "[BUG] SageMaker p3.16xlarge failure on running HuggingFace tutorial: `FAILED: multi_tensor_adam.cuda.o`"
**Describe the bug**
I am trying to reproduce the HuggingFace + DeepSpeed https://huggingface.co/transformers/main_classes/deepspeed.html  training example on a SageMaker p3.16xlarge instance (8 Tesla V100s) . However, we cannot seem to fix a `FAILED: fused_adam_frontend.o`  and `FAILED: multi_tensor_adam.cuda.o` issues. It may also be related to our gcc version (?):
[code]
We have tried to instal