[2022-03-01 14:59] dlfrnaos19 commented on #1037
same issue, libaio-dev couldnt make it..
https://github.com/dlfrnaos19/aiffel_test1/blob/master/deepspeed_issue.ipynb

[2022-03-02 18:47] tjruwase commented on #522
@hpourmodheji, thanks for your response. By the way, are you testing with an existing deepseed examples code, or your own model? If you are using your own, did you properly wrap your forward pass as done below

1. https://github.com/microsoft/DeepSpeedExamples/blob/36212dd59cb3eb342c39bc8965aaba04d5491933/Megatron-LM-v1.1.5-ZeRO3/megatron/model/transformer.py#L227-L230
2. https://github.com/micros

[2022-03-02 19:13] vishalkg opened #1804 "[BUG] Unable to make inference with gpt-neo-1.3B model"
**Describe the bug**
Unable to make inference with [gpt-neo-1.3B model](https://huggingface.co/EleutherAI/gpt-neo-1.3B)

**To Reproduce**
Code snippet used:
[code]

**Expected behavior**
Stacktrace of error:
[code]
If I comment out `model.base_model = deepspeed.init_inference(..`, everything works fine. Here is the output:
[code]

**ds_report output**
[code]

**Screenshots**
If applicable, add scr

[2022-03-02 22:36] tjruwase commented on #522
@hpourmodheji, that is helpful context. We did not enable activation checkpointing for bert because models that are less ~1B may not benefit much given the overhead of re-computation introduced by activation checkpointing. However, if you want to enable it do the following:
1. Switch the flag [here](https://github.com/microsoft/DeepSpeedExamples/blob/36212dd59cb3eb342c39bc8965aaba04d5491933/bing_b

[2022-03-03 16:58] RezaYazdaniAminabadi commented on #1804
Hi @vishalkg
I ran your test and see correct results with deepspeed as well! Are you using the updated version of deepspeed?
![image](https://user-images.githubusercontent.com/44502768/156613300-d81a05a0-643b-45c4-aa86-6ab4440efad2.png)
Thanks,
Reza

[2022-03-03 17:42] RezaYazdaniAminabadi commented on #1804
I have however seen different results with your script when using 2 GPUs on each GPU, but if I use the example in the DeepSpeedExample repo (https://github.com/microsoft/DeepSpeedExamples/blob/fix-inferen-test/inference/huggingface/gpt-neo.py), I see similar and meaningful results:
[2022-03-03 22:36:10,651] [INFO] [engine.py:122:__init__] Place model to device: 1
[2022-03-03 22:36:11,120] [INFO] [

[2022-03-03 17:51] RezaYazdaniAminabadi commented on #1804
@vishalkg
Can you please see if these issues are fixed?

[2022-03-03 18:20] benjamin-reichman opened #1806 "[BUG] Problem with optimizer update step"
I keep having this trouble with the optimizer and I am not sure what is causing it. The error is below:

[code]

My training loop is nothing fancy, pretty standard:
[code]
I initialize deepspeed like this: `self.model, self.optimizer, _, self.lr_scheduler = ds.initialize(model=self.model, config_params=self.deepspeed_config, optimizer=self.optimizer, lr_scheduler=self.lr_scheduler)`

I am using th

[2022-03-03 18:31] vishalkg commented on #1804
Thanks for replying, going to test the PR and let you know.

[2022-03-03 19:44] vishalkg commented on #1804
Hi @RezaYazdaniAminabadi

I went ahead and updated the file as mentioned in the PR and still getting that issue. I was using deepspeed version `0.5.10` which is the latest tag.

Then, I tried installing deepspeed from master branch: `DeepSpeed info: version=0.6.0+c3c8d5d, git-hash=c3c8d5d, git-branch=master`. After this the error didn't appear. Seems like the mentioned issue is fixed in master and

[2022-03-03 19:44] #1804 closed

[2022-03-04 00:40] mbetser opened #1808 "[BUG] lr scheduler get_last_lr() does work with fp16 enabled"
**Describe the bug**
I am trying to get the current learning rate value during training for logging purposes using this function:
lr_scheduler.get_last_lr()
It works well when I am not using fp16 training, but when I enable fp16 I get this error:
Traceback (most recent call last):
...
    aml_log_metrics({"training_loss":loss.item(), "learning_rate":lr_scheduler.get_last_lr()[0]}, distributed_args

[2022-03-04 00:44] jbloxham opened #1809 "[REQUEST] Extraneous param validation in config"
**Is your feature request related to a problem? Please describe.**
I've had a few times where I've thought I've been configuring DeepSpeed to do something, but it turns out that I misspelled a field name in the config. Ideally, DeepSpeed should be able to detect when this happens.

**Describe the solution you'd like**
When a `DeepSpeedConfig` is created from a dictionary, it should validate that a

[2022-03-04 06:37] hpourmodheji commented on #522
@tjruwase, Thank you so much for your help. I have also changed the following [line](https://github.com/microsoft/DeepSpeedExamples/blob/36212dd59cb3eb342c39bc8965aaba04d5491933/bing_bert/nvidia/modelingpreln.py#L641): checkpoint.checkpoint(...) => checkpoint(...). It is working now. Thanks for your patience and help.

[2022-03-04 11:54] hfassold opened #1810 "[Potential contribution] 'AdaFamily' optimizer"
I would like to contribute the new 'AdaFamily' optimizer to DeepSpeed.

AdaFamily is a novel method for training deep neural networks. It is a family of adaptive gradient methods and can be interpreted as sort of a blend of the state-of-the-art optimization algorithms Adam, AdaBelief and AdaMomentum. We perform experiments on standard datasets for image classification, demonstrating that our propo

[2022-03-04 19:32] flint-stone commented on #1743
Thanks -- I'm trying to use the instructions based on the  https://www.deepspeed.ai/tutorials/moe-inference-tutorial/
and I'm getting an error like this:

deepspeed --num_nodes 1 --num_gpus 1 /mnt/Megatron-DeepSpeed/tools/generate_samples_gpt.py --tensor-model-parallel-size 1 --num-layers 24 --hidden-size 2048 --num-attention-heads 16 --max-position-embeddings 1024 --tokenizer-type GPT2BPETokenize

[2022-03-06 08:11] codertimo commented on #1770
I have the same issue with GPT2LMHead Model

[2022-03-06 08:37] codertimo commented on #1770
@joehoover I had the same issue in current pip release. Fortunately this issue is solve at master branch.
Please try the GPT2 inference with master version pip install. It works for me.

[code]

https://github.com/microsoft/DeepSpeed/pull/1705/commits/1477c02d98344b8c7dcc026ed623eec4a77a34c0 commit fix This issue is solved since they changed the tensor copy logic

[2022-03-06 08:43] JIN-096 opened #1813 "[BUG] deepspeed_aio_handle_t::_stop_threads(): Assertion `0 == _num_pending_ops' failed."
I keep having this trouble with [Megatrion-LM-v1.1.5-ZeRO3/example/ds_pretrain_gpt2-zero3.sh](https://github.com/microsoft/DeepSpeedExamples/blob/master/Megatron-LM-v1.1.5-ZeRO3/examples/ds_pretrain_gpt2-zero3.sh) and I'm not sure what is causing it.
The error is below:
[code]

I am using the example configurations from here: [config](https://github.com/microsoft/DeepSpeedExamples/blob/master/Mega

[2022-03-07 06:44] Seong-yeop commented on #1069
I go through the silimar issue when using NVMe offloading turned on. I would like to train on models 6.7B parameters using g4dn.metal. Although I turn on NVMe (optimizer, parameter) offload, GPU out-of-memory errors occur. If you solve this problem, please tell me your solution. thank you.

[2022-03-07 18:44] HaokunLiu opened #1814 "[REQUEST] High CPU memory usage at initialization"
**Is your feature request related to a problem? Please describe.**

When I initiate a model on 4 GPUs with the DeepSpeed stage3, the CPU memory usage is very high. For instance, a model with 3B parameters takes 70GB of memory at its peak.
Because our server has a relatively small CPU memory size, there will be a lot of memory swapping when trying to initiate an even larger model. The initializatio

[2022-03-07 18:58] stas00 commented on #1814
I have just closed that PR as it wasn't working great and the problem proved to be in apex's `FusedAdam`, you can read my comments to why it wasn't used here: https://github.com/bigscience-workshop/Megatron-DeepSpeed/pull/248#issuecomment-1061015218

In your particular case the solution is to use ZeRO3 with `zero.Init` which loads the shards directly onto the GPUs, and it'll use little cpu memory

[2022-03-08 16:09] HaokunLiu commented on #1814
I was using HF transformer model and PyTorch lightning trainer. After loading a pretrained model, I also need to do some modifications to the model architecture & weight.
Is `zero.Init` integrated into lightning? In their doc, they said, "The DeepSpeed plugin is in beta and the API is subject to change." Do you know how reliable is their implementation?

[2022-03-08 16:14] stas00 commented on #1814
That's a question to ask to PL folks.

[2022-03-08 18:15] bmedishe opened #1816 "[BUG]: Deepspeed build fails on rocm , error in hipify"
**Describe the bug**
**hipify_extra_files_only** argument used in op_builder/builder.py not present in https://github.com/ROCmSoftwarePlatform/hipify_torch/blob/master/hipify/hipify_python.py or pytorch/torch/utils/hipify/hipify_python.py

**To Reproduce**
Steps to reproduce the behavior:
`git clone https://github.com/microsoft/DeepSpeed.git`
`DS_BUILD_FUSED_ADAM=1 DS_BUILD_FUSED_LAMB=1 DS_BUILD_C

[2022-03-08 20:51] HaokunLiu commented on #1814
Got it. Thank you!

[2022-03-09 08:47] SeaOfOcean commented on #319
you may try easy parallel library https://github.com/alibaba/EasyParallelLibrary , which supports tensorflow

[2022-03-09 17:58] bmedishe commented on #1816
@jithunnair-amd  @jeffra

[2022-03-09 18:51] jeffra commented on #1816
Hi @bmedishe, I will let @jithunnair-amd confirm but i believe the docker image you are using doesn't have the latest pytorch-amd changes. I just tested it as well and don't see torch installed for some reason.

Can you try this image instead? I will update our documentation to better guide new AMD users.
`rocm/pytorch:rocm5.0.1_ubuntu18.04_py3.7_pytorch_1.10.0`

[2022-03-09 18:54] bmedishe commented on #1816
Thank you @jeffra , I will try with the above mentioned image

[2022-03-09 20:13] tjruwase commented on #1069
@Seong-yeop, thanks for reporting this issue. Can you please open a separate ticket. Can you also share information to repro, including logs and configuration? Thanks!

[2022-03-09 21:11] jeffra commented on #1816
I just discovered that this image that i just linked to is missing one piece for our kernels to compile correctly. I will discuss with @jithunnair-amd offline on how to update the images to fix this. In the meantime, you'll need to copy the following files from our repo to your rocm source:

[code]

[2022-03-09 21:34] jeffra commented on #1816
For the time being I have pushed a new docker image based on the one i linked earlier but that includes deepspeed v0.6.0 and the patched coop groups files. You can pull it from here: `deepspeed/deepspeed:v060_rocm5.0.1_ubuntu18.04_py3.7_pytorch_1.10.0`

[2022-03-10 08:07] Seong-yeop opened #1820 "[BUG] NVMe Offload, error while fetching submodule parameters."
**Describe the bug**
I want to test ZeRO-Infinity NVMe offload for large model. But below error occurs. I don't know why this error occurs. In ZeRO-Infinity (offloading optimizer states and parameters to NVMe), error happens. While fetching sub module parameters, expected id is different from id in fetch queue.

Error message
[code]

**Expected behavior**
It is expected that learning will proceed

[2022-03-11 02:12] dingjingzhen opened #1824 "Can deepspeed be used to infer fairseq trained gpt models?"
Can deepspeed be used to infer fairseq trained gpt models?

[2022-03-11 02:42] pminhyung opened #1825 "[BUG] Same train time with DeepSpeed (despite increased batch size)"
**Describe the bug** and **Expected behavior**
Hi! I really appreciate your awesome work! I'm fine-tuning Electra model with using huggingface without Trainer API and with using deepspeed. After I applied deepspeed, I could increase the batch size (64 -> 128, but OOM with 256) of training model so I expected train time would decrease. However, even though I applied deepspeed in my code, the train

[2022-03-11 17:14] RezaYazdaniAminabadi commented on #1788
Hi @gsujankumar,

Sorry for the delay on this line. I was so busy with some internal projects. Yes, you are right that MoQ was mainly targeted for the older version of transformers.
The error you are seeing above is coming from the GeMM, and can be also related to the quantization happening before this operation.
I will let you know if this is fixed soon.

Thanks,
Reza

[2022-03-11 20:09] peterr-s commented on #1820
I had the same issue, but managed to resolve by rolling back to 0.5.10. Not sure of exact root cause right now, but the 0.6.0 update included a lot of changes to stage 3.

[2022-03-11 23:08] stas00 commented on #1757
Also related to this issue is what happens when 2 params are replaced as in this PR:
https://github.com/huggingface/transformers/pull/16093

[2022-03-12 04:02] Seong-yeop commented on #1820
Thank you for your responding. But I want to use ZeRO-Infinity. Please take care of this problem.

[2022-03-12 17:23] B06901052 commented on #1467
Hello, it seems there is still a line hardcoded to 2d at [here](https://github.com/microsoft/DeepSpeed/blob/89b8c8872bad3f3e11a846e97d4cb1fb796e554d/deepspeed/profiling/flops_profiler/profiler.py#L537), which may be wrong for 1d and 3d ([-2:] makes len(kernel_dims)=2).
[code]

[2022-03-13 11:18] tomerip commented on #1797
Hi @RezaYazdaniAminabadi,
I wanted to give an update with additional information:
I tested the new v0.6.0 version and in fact now running even with `batch_size=1`, if using fp16 the output is "!!!!!!!!!!!" (where in v0.5.10 it works properly).

[2022-03-14 06:51] Seong-yeop commented on #1820
The update solved that problem. If you have same issue, I recommend to update your repo. I always thank you for developing deepspeed framework.

[2022-03-14 06:51] #1820 closed

[2022-03-14 14:02] kiehls90 opened #1830 "ZeRO-Infinity: GPU Memory Usage Extremely Higher Than Expected"
According to the ZeRO-infinity paper, I understand that GPU memory usage when training is calculated as MSWM+AWM. (theoretical)
However, as a result of pre-training the GPT model with 4 A100 GPUs(80GB), the actual GPU memory usage was significantly higher than expected.
Below is the GPU memory usage when training the 0.1T GPT model with 4 A100 GPUs.
- mini-batch 4: [theoretical] 1.5+1.6=3.1GB  [ac

[2022-03-14 15:00] kiehls90 opened #1831 "[REQUEST] ZeRO-Infinity: GPU Memory Usage Higher Than Expected"
According to the ZeRO-infinity paper, I understand that GPU memory usage at training could be estimated as MSWM+AWM. However, when I train 0.1T model on 4 GPUs with the DeepSpeed stage3, the GPU memory usage is extremely higher than expected.

Below is the GPU memory usage at training the 0.1T GPT model with 4 A100 GPUs(80GB). The actual measurement is about 6-8 times higher than expected. (measur

[2022-03-14 18:50] tjruwase commented on #191
@afiaka87, @IndexFziQ

Please see [here](https://www.deepspeed.ai/getting-started/#resource-configuration-multi-node) for instructions on creating hostfile.  Also, it might be open a new ticket. The reason is that issue was closed as the original appeared to have been solved, and the code base and docs have changed significantly since then. Thanks!

[2022-03-14 18:51] afiaka87 commented on #191
@tjruwase

That was fast! I actually resolved the issue already by specifying the needed `--master_port` argument. Sorry for the bother.

[2022-03-15 06:51] Jason3900 commented on #1735
I encountered with the same problem using pytorch default dataloader with num_workers=1. It's odd that if I train the model with a smaller amount of data, it works well. Plus, I've already confirmed that the whole training process can be done with single GPU.

[2022-03-15 07:15] YouJiacheng commented on #1735
Maybe you can try `num_workers=2`?

[2022-03-15 08:15] wanghaoshuang opened #1833 "Is "High-performance INT8 inference kernels" released?"
https://www.microsoft.com/en-us/research/blog/deepspeed-accelerating-large-scale-model-inference-and-training-via-system-optimizations-and-compression/

Is the code of "High-performance INT8 inference kernels" mentioned above released in this repo?

[2022-03-15 08:28] Seong-yeop commented on #1831
I wonder how you expect used memory. can you explain your method? and If it is possible to upload your config file (ds_pretain_gpt2-zero3.sh + config json file), please upload. Because I test ZeRO-infinity these days, It is very helpful to me.

[2022-03-15 10:12] Jason3900 commented on #1735
Okay, I'll try it. Thanks. BTW, why setting num_workers=2 can avoid this? I'm confused.

[2022-03-15 13:58] tjruwase commented on #1814
@HaokunLiu, have you confirmed whether this is a PL issue so that we can close this issue? Thanks!

[2022-03-15 13:59] tjruwase commented on #1776
@anijmlt, do you have any updates on your nvme performance tuning?

[2022-03-15 14:00] tjruwase commented on #1771
@sweinbach, can you please checkout this PR #1801?

[2022-03-15 14:01] tjruwase commented on #1784
@jeffra, is this now fixed?

[2022-03-15 14:04] tjruwase commented on #1789
@skpig, apologies for the late reply. Can you please check if this problem remains the latest tree?

[2022-03-15 14:10] sweinbach commented on #1771
Nice. Thanks! Will have a look. In any case this issue is a duplicate then. Will close.

[2022-03-15 14:26] kiehls90 commented on #1831
@tjruwase, really appreciate your comment, and yes, I'll check the memory usage with the mentioned link and share the log!
However, as in my question above, starting with mini-batch 32, a CUDA runtime error appears and does not work. In the end, the cause seems to be a memory issue at CUDA-level. Although nvidia-smi may be an imprecise method for 'accurate measurement', the maximum allocated or re

[2022-03-15 16:14] RezaYazdaniAminabadi commented on #1833
Hi @wanghaoshuang

It is going to be released soon.
Please stay tuned.

Thanks,
Reza

[2022-03-15 16:53] amsword opened #1834 "[BUG] Job fails with NCCLTimeout error"
**Describe the bug**
The job fails with the following error. After restarting, the job can continue, which means the node is healthy. Any idea on what is going on? Thanks

[code]

**ds_report output**
--------------------------------------------------                                                                                     [5/1810]
DeepSpeed C++/CUDA extension op report
----------------

[2022-03-15 20:04] FarukOzderim commented on #647
What about now @tjruwase :D

[2022-03-15 21:00] tjruwase commented on #647
@FarukOzderim, thanks for bringing attention to this again. I must confess that it has fallen off my radar. Can you please explain your interest in this issue and your desired outcome? Thanks

[2022-03-15 21:07] FarukOzderim commented on #647
I have no desire or interest, just saw it still was hanging after 1 year and thought could be beneficial to mention :)

[2022-03-15 21:08] jeffra opened #1835 "Add explicit gradient_accumulation_dtype config"
DeepSpeed has support for several dtypes now (i.e., fp32, fp16, bf16). However, it's becoming less clear what parts of training are using what dtypes and what time. For example, in #1801 we added support for BF16 training + FP32 gradient accumulation and optimizer stage sharding (zero stage 1) when pipeline parallelism is enabled. This is only triggered if your config is in the following scenario:

[2022-03-15 21:11] jeffra commented on #1835
I should also note that I think we have similar complexities with `communication_data_type`, which we only support in some configs but not sure if we error out explicitly on cases we don't support.

https://github.com/microsoft/DeepSpeed/blob/41d90830e2d78c154d560f36c8273ca2f889bbfb/deepspeed/runtime/engine.py#L723-L733

[2022-03-15 21:55] tjruwase commented on #647
Fair enough :). Unfortunately, we are still chugging along with the counter-intuitive API for now. If you have bandwidth to contribute a PR on this, it will be greatly appreciated.

[2022-03-16 00:43] skpig commented on #1789
Yes, it remains in the current master branch. @tjruwase
I've already dug into the code and found the missing params. Here I also provide a simpler net that also reproduces the bug.
[code]

[2022-03-16 04:13] wanghaoshuang commented on #1833
@RezaYazdaniAminabadi  Thanks.
How do you implement the INT8 gemm?
based on API of cublas?
Or rewrite a cuda kernel to support for reading int8 weights ?

[2022-03-16 09:18] AQA6666 opened #1837 "[BUG]AttributeError: 'DeepSpeedEngine' object has no attribute 'quantizer'"
**Describe the bug**
When I want to use deepspeed to accelerate my T5-XL pretraining with hugging face but without huggingface's trainer, it occured:
AttributeError: 'DeepSpeedEngine' object has no attribute 'quantizer'
Traceback (most recent call last):
  File "main.py", line 140, in <module>
    train(args, model, train_dataset, ds_config)
  File "main.py", line 64, in train
    model_engine.ste

[2022-03-16 09:47] Satan012 opened #1838 "[REQUEST] Why ep_size should be less than world_size?"
def _create_expert_and_data_parallel(ep_size):
    """
        Create expert and data parallel groups.

        Note: Caller of this function is responsible to check if the groups already exist.

        Example - E + D parallel
        world_size = 16
        expert_parallel_size = 2 # number of experts in same group
        expert_data_parallel_group = [0,2,4,6,8,10,12,14], [1,3,5,7,9,11,13,15]

[2022-03-16 13:30] tjruwase opened #1839 "Consolidate norm computation logic"
I wonder if it's possible to consolidate some of the implementations of global norm? I count at least seven implementations in DeepSpeed: five in this file and one each in stage1/2 and stage 3. I'm

Summarizing implementations in utils.py:

clip_grad_norm_: has additional MOE code, but does not handle model parallelism correctly (uses get_model_parallel_rank() instead of bwc_tensor_model_parallel_

[2022-03-16 14:01] tjruwase commented on #1813
@JIN-096, can you please confirm that you are seeing this issue with the latest master tree?

[2022-03-16 14:03] tjruwase commented on #1808
@mbetser, thanks for reporting this error. Can you please share a simple script and steps to reproduce this issue?

[2022-03-16 14:07] tjruwase commented on #1806
@benjamin-reichman, thanks for reporting this error. That Megatron-LM code is quite old. Is it possible for you to use this [version](https://github.com/microsoft/DeepSpeedExamples/tree/master/Megatron-LM-v1.1.5-ZeRO3)? This one is more actively used. Thanks!

[2022-03-16 15:19] oborchers opened #1840 "[BUG] DS_BUILD_OPS =1 does not work"
**Describe the bug**
Hi all,

I'm trying to setup a container with ops pre-compiled, however: Whatever I do, it never works. No chance whatsoever.
I'm expecting that with pre-compiled ops model inference should load much faster.

**To Reproduce**

Dockerfile:
[code]

Works:
[code]

and outputs:
[code]

Doesn't work:
[code]

and outputs:
[code]

or:
[code]

The following tags don't work:
- 0.5.10
-

[2022-03-16 20:29] jeffra commented on #1840
Thank you for providing the dockerfile that causes the issue, I will try and repro on my side.

[2022-03-17 01:09] jeffra commented on #1840
I was able to repro your issue on my side. I reduced your Dockerfile down to the following that can reproduce it and uses the `devel` image from nvidia that already includes `nvcc`, etc. I am continuing to investigate and will let you know when I have a fix. Thank you for reporting your issue, we very much appreciate it.

[code]

[2022-03-17 02:24] stas00 commented on #1835
There is one more dimension to this design discussion - and it's whether the additional accumulator is sharded or not.

e.g. currently bf16 optimizer allocates a local accumulator on each gpu, which is quite expensive 4x params on that gpu. it happens to work on the massive A100 80Gb, but it could be too expensive on 40GB cards.

So the other dimension that needs to be configurable is whether it i

[2022-03-17 04:24] zarzen commented on #1837
I encountered the same issue and found it mainly because the DeepSpeedEngine didn't initialize the attribute `quantizer` if you haven't passed in `model_parameters` or `optimizer` to `deepspeed.initialize` function.

The
`self.quantizer` is initialized in `self._configure_optimizer` function.
https://github.com/microsoft/DeepSpeed/blob/5fb4256a7ae9a34b7d79f968b2ba7cb26b5dce10/deepspeed/runtime/eng

[2022-03-17 05:48] AQA6666 commented on #1837
Thanks for your help! I will try to use it .

[2022-03-17 09:25] oborchers commented on #1840
@jeffra many thanks! Good to know the devel does include nvcc, that makes image creation a bit easier 👍 Looking forward to that. I think a while back @RezaYazdaniAminabadi recommended to trying out different `TORCH_CUDA_ARCH_LIST` but I am unable to find the original issue. I can only recall the OP never coming back if it was resolved

[2022-03-17 15:35] gsujankumar commented on #1788
Hey @RezaYazdaniAminabadi I was able to resolve the issue by casting the FP16 inputs to FP32 in the `compute_attention` method in `deepspeed/ops/inference/transformer_inference.py` as follows:

Around line 154, add the following lines
[code]
and cast the outputs of the function to FP16 before returning by adding the following lines:
[code]
            return context_layer, key_layer, value_layer

[2022-03-17 20:29] feipenghe commented on #1814
@tjruwase  I tried to use HF model and HF trainer, and the problem still exists. I think it's the problem of deepspeed.

[2022-03-17 20:55] tjruwase commented on #1814
@feipenghe, thanks for sharing this update. Can you please confirm how you are using HF. In particular, are you using option (1) or (2) as @stas00 described [here](https://github.com/microsoft/DeepSpeed/issues/1814#issuecomment-1061022959)? Thanks!

[2022-03-17 22:32] jeffra commented on #1840
@oborchers can you try changing the way you are installing deepspeed to this?

`DS_BUILD_OPS=$DS_BUILD_OPS pip install -v .`

In other words skip the whl build and install directly. This method succeeded for me, in theory it will be slower to compile but it should at least work.

[2022-03-18 05:40] RezaYazdaniAminabadi commented on #1788
Hi @gsujankumar,

I am happy you could resolve the issue. Can you please make a PR and add the fix?
For the larger number of groups, yes you are right you should get better accuracy, not worse. Are you using our quantizer kernels when quantizing this model? If so, I can double-check if there is any accuracy issue with that.
Thanks,
Reza

[2022-03-18 06:25] amsword opened #1843 "[BUG] network crashes with stage=3 & dynamically-changed network"
**Describe the bug**
In each iteration, the network is either module A + Module B or module A only. When it is stage=3, it crashes.

[code]

**ds_report output**
[code]

[2022-03-18 11:42] oborchers commented on #1840
Hi @jeffra! Many thanks! Let me try and get back to you.

[2022-03-18 16:21] chinoll commented on #1793
How do I get the new zero_to_fp32.py script, or do I use the old one?

[2022-03-18 19:10] gsujankumar commented on #1788
Sure, I will create a PR soon.

Yes, we are using the quantizer kernels from DeepSpeed. Can you check if there are any issues with groups?

[2022-03-18 22:37] maxmaier59 opened #1846 "AttributeError: 'DeepSpeedCPUAdam' object has no attribute 'ds_opt_adam'"
When I try to do finetuning with Deepspeed I get the following error message:

Traceback (most recent call last):
File "/home/max/anaconda3/envs/gptneo_finetuned/lib/python3.8/site-packages/deepspeed/ops/adam/cpu_adam.py", line 97, in del
self.ds_opt_adam.destroy_adam(self.opt_id)
AttributeError: 'DeepSpeedCPUAdam' object has no attribute 'ds_opt_adam'

I have built Deepspeed with

git clone https

[2022-03-19 03:30] jeffra commented on #1846
Can you share the output of ds_report after your install?

Also I recently discovered a potential issue with this pre compile style (see https://github.com/microsoft/DeepSpeed/issues/1840). Can you see if you get the same error installing this way:

DS_BUILD_CPU_ADAM=1 DS_BUILD_AIO=1 DS_BUILD_UTILS=1 pip install -e .

[2022-03-19 03:36] jeffra commented on #1816
Feel free to reopen if still an issue

[2022-03-19 03:36] #1816 closed

[2022-03-19 09:50] AQA6666 commented on #1837
Thanks for your help! I solved this problem by passed a defined optimizer as you say. But I still have some problem: I have seted optimizer in ds_config ,why should I pass a optimizer to deepspeed again? Will this two optimizer conflict?

[2022-03-19 14:33] maxmaier59 commented on #1846
Here is the output of ds_report

--------------------------------------------------
DeepSpeed C++/CUDA extension op report
--------------------------------------------------
NOTE: Ops not installed will be just-in-time (JIT) compiled at
      runtime if needed. Op compatibility means that your system
      meet the required dependencies to JIT install the op.
--------------------------------------

[2022-03-19 14:41] maxmaier59 commented on #1846
Here is the command I've used for installation:

TORCH_CUDA_ARCH_LIST="8.6" DS_BUILD_CPU_ADAM=1 DS_BUILD_OP_ADAM=1 DS_BUILD_UTILS=1 DS_BUILD_AIO=1 pip install -e. \
#--global-option="build_ext" --global-option="-j8" --no-cache -v \
#--disable-pip-version-check 2>&1 | tee build.log

using
DS_BUILD_CPU_ADAM=1 DS_BUILD_AIO=1 DS_BUILD_UTILS=1 pip install -e .

makes no difference

[2022-03-20 21:25] maxmaier59 commented on #1846
I think the root cause of the problem is this:

ImportError: /media/max/Volume/GPT/finetune/DeepSpeed/deepspeed/ops/adam/cpu_adam_op.cpython-38-x86_64-linux-gnu.so: undefined symbol: curandCreateGenerator

[2022-03-20 21:35] jeffra commented on #1846
Ohh I see your comments on this issue now as well (https://github.com/pytorch/pytorch/issues/69666). If you try a recent torch nightly build does it still exhibit the issue?

[2022-03-20 22:11] maxmaier59 commented on #1846
Hmm, I've tried with the torch nightly build but I am getting still the same error message

--------------------------------------------------
DeepSpeed C++/CUDA extension op report
--------------------------------------------------
NOTE: Ops not installed will be just-in-time (JIT) compiled at
      runtime if needed. Op compatibility means that your system
      meet the required dependencies to

[2022-03-21 13:15] gsujankumar commented on #1454
Hey @RezaYazdaniAminabadi, where can I find the customized kernels to improve the performance?

[2022-03-21 20:58] gsujankumar commented on #1730
Try changing the following :

around line 161 in deepspeed/runtime/weight_quantizer.py
        else:
            for plcy in replace_policies:
                _ = plcy(None) # line added
                policy.update({plcy._orig_layer_class: (quantize_fn, plcy)})

[2022-03-22 11:01] oborchers commented on #1840
Hi @jeffra! Thanks, been trying to replicate that. With the script you provided it works. Would recommend to update the documentation on this one.

[code]

[2022-03-22 13:41] kiehls90 opened #1852 "[BUG] CUDA illegal memory access on large batch with ZeRO3"
When training the 0.1T model with more than 32 batch size, a CUDA illegal memory error occurs.
`RuntimeError: CUDA error: an illegal memory access was encountered`

Unexpectedly, it works well without any error message up to the 24 batch size, but from the 32 batch, an illegal memory error related to NCCL occurs. It would make more sense if it was O-O-M, but it is an error of unknown cause and wor

[2022-03-22 16:11] #1840 closed

[2022-03-22 17:03] zarzen commented on #1837
I would suggest passing in the `model_parameters` instead of an optimizer.

[2022-03-22 20:35] maxmaier59 commented on #1846
I wonder if there is any hope to get this fixed or a work around.
Is it just me having this problem or other people as well who want to use DeepSpeed with the Adam optimizer ?

[2022-03-22 21:33] tjruwase commented on #1846
@maxmaier59, can clarify whether your intention is to use DeepSpeed CPUAdam or torch Adam optimizer?

[2022-03-22 21:41] maxmaier59 commented on #1846
I am not sure what the difference ist.
Without a better understanding I would like to use the DeepSpeed CPUAdam otpimizer

[2022-03-23 00:03] kiehls90 commented on #1852
I got an error below, it occures when start of training(FWD):

**RuntimeError: CUDA error: an illegal memory access was encountered**
Traceback (most recent call last):
  File "../pretrain_gpt2.py", line 133, in <module>
    pretrain(train_valid_test_datasets_provider, model_provider, forward_step,
  File "/home/skchoi/DeepSpeedExamples/ZeRO3-skchoi/megatron/training.py", line 109, in pretrain

[2022-03-23 06:30] Seong-yeop opened #1858 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

Thank you for reading my issue. I'm trying to use ZeRO-Infinity on AWS EC2 (g4dn.metal, 8GPUs). Model parameter is 40B. Config file and script are below. When training begins, runtime error occurs.

```'RuntimeError: start (0) + length (33554432) exceeds dimension size (1).```

Why does this error occur? Please tell me what

[2022-03-23 08:38] hfassold commented on #1539
I found now the reason why I do NOT observed a speedup during training, with mini-batch trimming enabled.
Seems to be that pytorch is NOT optimized for the case when forward and backward pass have _different_ batch sizes.
See the pytorch issue I opened at https://github.com/pytorch/pytorch/issues/74604

[2022-03-23 09:22] jhoareau opened #1859 "[BUG] Compressed Adam optimizers - RuntimeError: Bool type is not supported by dlpack"
**Describe the bug**
Traceback:
[code]
When using the implementation for OneBitAdam and ZeroOneAdam, the error from the title appears when `comm_backend_name` is set to `nccl`.

This is linked to the operations:
https://github.com/microsoft/DeepSpeed/blob/208d45bbf7cbde2abfb233e7d10803553fbcf126/deepspeed/runtime/comm/nccl.py#L72
https://github.com/microsoft/DeepSpeed/blob/208d45bbf7cbde2abfb233e7

[2022-03-23 12:50] malteos opened #1860 "[REQUEST] Initialize model with pretrained weights"
**Is your feature request related to a problem? Please describe.**

I'd like to initialize a model with pretrained weights instead of training a model from scratch.

For example, I'd like to start training from the Megatron GPT2 345M checkpoint (https://catalog.ngc.nvidia.com/orgs/nvidia/models/megatron_lm_345m).

[2022-03-23 20:19] tjruwase commented on #1846
@maxmaier59, CPUAdam was created for executing optimizer computations on CPU instead of GPU. Please see this [tutorial](https://www.deepspeed.ai/tutorials/zero-offload/) for more details.

[2022-03-23 21:06] maxmaier59 commented on #1846
In this case I need CPUAdam

[2022-03-24 21:08] maxmaier59 commented on #1846
Please can somebody help me to solve this problem?

I wonder what is going on. It seems to me that either CPUAdam optimizer for Deepspeed has been abandoned or I am doing something wrong. If the latter is the case, can somebody please help me to find my error to fix the problem?

If the first is the case I wonder why the optimizer had been dropped. Is there any alternative?

[2022-03-24 21:23] tjruwase commented on #1846
@maxmaier59, apologies for the delayed response. CPUAdam is still very much an important part of DeepSpeed as our offloading technologies depend on it. I am a bit confused about whether the original issue was observed during build or during an actual run. The issue mentions an attribute error which suggests this occurred during a run, so in that case can you please repaste or point me to the stack

[2022-03-24 21:40] maxmaier59 commented on #1846
Many thanks for getting back to me!
The error occurs during an actual run.
Here is the command to start deepspeed:

deepspeed --num_gpus=2 run_clm.py \
--deepspeed ds_config.json \
--model_name_or_path EleutherAI/gpt-neo-2.7B \
--train_file train.csv \
--validation_file validation.csv \
--do_train \
--do_eval \
--fp16 \
--overwrite_cache \
--evaluation_strategy="steps" \
--output_dir finetuned \
-

[2022-03-24 22:41] tjruwase commented on #1846
Thanks! Can you please share the contents of `ds_config.json`?

[2022-03-24 23:44] conglongli commented on #1810
Hi @hfassold , we read your proposal and paper, and we feel that there are a few concerns that make it difficult for us to accept the contribution:
(1) The most concern we have is that based on the current experiment results it's hard to conclude whether AdaFamily really provides nontrivial convergence gain. In your paper (https://arxiv.org/pdf/2203.01603.pdf) section 3, for AdaFamily you tuned it

[2022-03-25 06:31] Seong-yeop commented on #1858
Can you provide ZeRo-Infinity.json (config file) that you are using? I want to refer to it.

[2022-03-25 19:31] mrwyattii commented on #1860
Models can be initialized in DeepSpeed with pretrained weights. You can load the pretrained weights into the pytorch model and then initialize the DeepSpeed engine & model. Below is a simple example that first trains a model with pytorch and saves the pretrained weights. Then we load those pretrained weights and run with DeepSpeed:
[code]
and the output:
[code]

[2022-03-25 19:44] mrwyattii commented on #1795
I was able to get your model running. You need to make your dataset type `.half()` and also modify your `deepspeed.initalize(...)` line. See the example code below. Also, there is a bug in the latest DeepSpeed that will cause an error with ZeRO stage 3 for this model. Please use `v0.5.10` until we can resolve this bug (`pip install deepspeed==0.5.10`):
[code]

[2022-03-25 21:09] maxmaier59 commented on #1846
Here is the ds_config.json

{
    "fp16": {
        "enabled": "auto",
        "loss_scale": 0,
        "loss_scale_window": 1000,
        "initial_scale_power": 16,
        "hysteresis": 2,
        "min_loss_scale": 1
    },
    "optimizer": {
        "type": "AdamW",
        "params": {
            "lr": "auto",
            "betas": "auto",
            "eps": "auto",
            "weight_decay":

[2022-03-25 21:47] malteos commented on #1860
Thanks for the example! I was aware of it but it turns out that the problem was that I tried to load weights from a `GPT2Model` into a `GPT2ModelPipe` model. I managed to fix it by re-ranging their state dicts to load the weights from the vanilla model to the pipe model.

[2022-03-25 21:47] #1860 closed

[2022-03-26 15:45] cailun01 opened #1861 "How to calculate Transformer/Bert layer's activation memory?"
In the [deepspeed docs](https://deepspeed.readthedocs.io/en/latest/memory.html), the activation memory is calculated by:
`XXX: For Transformers is probably around (2* seq * attn_heads + 16 * hidden_size) * sequence * batch/gpu`

In the ZeRO-Infinity paper, Section 3, the activation memory is calculated by:
`2 * bsz * seq * hd * nl/ci`
where `bsz` is batch size, seq is `sequence length`, `hd` is `h

[2022-03-27 21:33] maxmaier59 commented on #1846
BTW, there is a simpler way to reproduce the problem:
Please see the DeepSpeed tutorial for installation:
https://www.deepspeed.ai/tutorials/advanced-install/

DS_BUILD_OPS=1 pip install deepspeed

And then run this:
python -c 'import deepspeed; deepspeed.ops.adam.cpu_adam.CPUAdamBuilder().load()'

Error message:

Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/m

[2022-03-28 06:03] jeffra commented on #1846
Hi @maxmaier59, so sorry you’re running into this issue. One thing I don’t recall if I’ve asked. Can you use JIT to compile cpu Adam successfully? You can try this by installing deepspeed w/o any DS_* variables or via: “DS_BUILD_OPS=0 pip install deepspeed”.

After install you can force a build of cpu Adam in a Python shell via:

import deepspeed
deepspeed.ops.op_builder.CPUAdamBuilder().load()

Y

[2022-03-28 12:36] skpig opened #1862 "[QUESTION] How to do inference during deepspeed training"
I'm willing to do several inference operations for validation during the distributed training processes. The inference operations invlove some functions of my model, which cannot be called when my model is wrapped by `deepspeed.engine`. What's the right way to do?

For example, I'm willing to call `generate()` of models in huggingface transformers. May I just use `engine.module.generate()` ?

[2022-03-28 12:40] #1862 closed

[2022-03-28 12:40] skpig opened #1863 "[QUESTION] How to do inference during deepspeed training"
I'm willing to do several inference operations for validation during the distributed training processes. The inference operations invlove some functions of my model, which cannot be called when my model is wrapped by `deepspeed.engine`. What's the right way to do?

For example, I'm willing to call `generate()` of models in huggingface transformers. May I just use `engine.module.generate()` ?

[2022-03-28 20:52] maxmaier59 commented on #1846
Hello Jeff,
many thanks for your suggestions. This fixed my problem!
With that I was able to get the cpu Adam optimizer compiled and the finetuning started!
:-)
Many, many thanks to you and also to Olatunji
This was exactly what I was looking for.

[2022-03-28 21:08] jeffra commented on #1846
Excellent, really glad to hear. It still concerns me that the pre-compilation method doesn't work for you but I am glad you are unblocked for now at least. I'll close this issue for now, feel free to re-open if you have further issues along this line.

[2022-03-28 21:08] #1846 closed

[2022-03-29 12:12] z-bookworm opened #1864 "[Question] How to parallelize XGLM for inference?"
## The Problem

The [doc](https://www.deepspeed.ai/tutorials/inference-tutorial/#initializing-for-inference) mentions a way to parallelize models whose kernels are not supported yet.

I try to paralleize the [facebook/xglm-7.5B](https://huggingface.co/facebook/xglm-7.5B) for inference, which has 32 `XGLMDecoderLayer` and no encoders. The decoder layer looks like:

[code]

But at `fc2`, a shape mis

[2022-03-29 12:41] rohitgr7 commented on #974
I think it's:
[code]

[2022-03-29 15:59] PaperclipBadger opened #1865 "[BUG] Cannot install deepspeed>=0.6 if tensorflow is not installed"
**Describe the bug**
Installing deepspeed without tensorflow (or alongside tensorflow in a fresh virtual environment) results in `NameError` since v0.6.0.

**To Reproduce**
[code]

**Expected behavior**
pip should not crash when it runs setup.py to prepare metadata, even if tensorflow is not installed.

**ds_report output**
Please run `ds_report` to give us details about your setup.

**System info

[2022-03-29 16:41] joehoover opened #1867 "[BUG] Inference Engine Error `undefined symbol: curandCreateGenerator`"
**Describe the bug**
Attempting to initialize an inference engine Transformer's GPT2 model throws the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
An inference engine should be initialized.

**ds_report output**
[code]
**System info (please complete the following information):**
OS: Amazon Linux
GPU count and types: 4 T4s
Python version

[2022-03-29 17:23] mrwyattii commented on #1865
I think the problem is that `torch` isn't available to this virtual environment. If you have `torch` installed on your system, a python virtual environment may not see that:
[code]

You will either need to [install torch](https://pytorch.org/get-started/locally/) in `venv` or use the `--system-site-packages` option when creating the virtual environment (read more about that [here](https://docs.pyt

[2022-03-29 18:01] #1865 closed

[2022-03-29 18:46] stas00 commented on #974
The config file doesn't get validated, so if you make a typo - it just gets silently ignored and the defaults are used.

I reported this more than a year ago: https://github.com/microsoft/DeepSpeed/issues/653

Perhaps now it's a good time to add a validator option and probably making it on by default

@jeffra

[2022-03-29 23:30] raa2463 commented on #974
https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/runtime/constants.py#L122
I think in the new version of DeepSpeed you can use either.

[2022-03-30 00:22] gahdritz opened #1870 "[Question] How to check if DeepSpeed is initialized"
Previous versions of DeepSpeed contained the function `deepspeed.utils.is_initialized`, but the most recent one doesn't. How can I check whether DeepSpeed has already been initialized now?

[2022-03-30 02:17] xiaoxiawu-microsoft opened #1871 "links are not available."
https://www.deepspeed.ai/#supporting-long-sequence-length
https://www.deepspeed.ai/#fast-convergence-for-effectiveness

![image](https://user-images.githubusercontent.com/94406484/160737375-c681019b-d9b7-4333-a867-33e5610bfc9c.png)

[2022-03-30 06:45] gsujankumar commented on #1833
Hey @RezaYazdaniAminabadi, are the performance gains in the blog based on these unreleased INT8 kernels?

[2022-03-30 10:26] drxmy opened #1872 "Do I have to use MOE in a distributed environment？"
I exchange the FFN in BART with MOE.  When the model run , it says "Default process group has not been initialized, please make sure to call init_process_group".  I am new to deepspeed. I think this has something to do with distributed environment.

Any advice would be appreciate. Thank you.

[2022-03-30 16:06] #1871 closed

[2022-03-31 03:26] joeljang opened #1876 "Loading fp16 model checkpoints with MoE layers"
I replaced one of the layers of gpt2 model with a moe layer training with deepspeed_stage_2. However when trying to run convert_to_fp32.py, I run into all sorts of errors. Does the library currently support converting MoE layers trained with deepspeed into fp32 ?

[2022-03-31 08:24] jhoareau commented on #1859
cc @conglongli @awan-10 @samyam @jeffra

[2022-03-31 13:01] tjruwase commented on #1876
@joeljang, thanks for reporting this issue. No, the library does not currently support MoE layers. We have not previously tested that usage.

[2022-03-31 15:29] hfassold commented on #1810
Hi, thanks for your investigation ! You are right, the optimization of the hyperparameters was limited. Actually, I optimized the hyperparameters (LR schedule etc.) for the 'Adam' algorithm, and kept it then the same for all other algorithms.

[2022-03-31 17:33] conglongli commented on #1810
I think the issue here is that due to each algorithm's different variance calculation, even if you set the LR hyperparameter the same, the effective LR (where variance is part of it) is different. Thus different algorithms may have different "optimal LR hyperparameter". So a better comparison would be: try a wide set of different LR for all algorithms, and each algorithm chooses its own LR that pr

[2022-03-31 22:33] conglongli commented on #1859
Hi @jhoareau thanks for reporting this issue. It seems like there is an ongoing discussion at dlpack about whether or not support bool type https://github.com/dmlc/dlpack/issues/75.

On the other hand, for your comment

I assume you added the casting in DeepSpeed/deepspeed/runtime/comm/nccl.py. One of the reasons you see bad performance is that here the bool type is expected to have only 1 bit not

[2022-04-01 04:46] joeljang commented on #1876
Do you have future plans to provide this feature?

[2022-04-01 14:58] naxty commented on #1694
Hi @RezaYazdaniAminabadi ,

I'm interested into this request as well. Do you have any update/information to share yet?

Best,
Nico

[2022-04-02 16:32] joeljang commented on #1876
<img width="1081" alt="Screen Shot 2022-04-03 at 1 32 19 AM" src="https://user-images.githubusercontent.com/41067235/161392387-6e6bfd5c-aeca-4384-a813-37978c541276.png">

[2022-04-03 03:22] keshavd opened #1878 "DeepSpeed v1.6.1 issues with Pytorch Lightning Deep Speed 3 Offloading"
**Describe the bug**
DeepSpeed Stage 3 with Offloading is throwing an error. This error is not thrown in DeepSpeed version 0.5.8.  (See Screenshots section). I am currently using PyTorch 1.8.2, but the error is also thrown in PyTorch 1.11.0.

**To Reproduce**
I am using a BERT model from transformers v.4.17 with a Sequence Classification tuning head. I have wrapped this model in a Pytorch-Lightnin

[2022-04-04 06:13] sayakpaul commented on #1846
I am also facing a similar problem and I have detailed about it here: https://discuss.huggingface.co/t/run-translation-py-example-is-erroring-out-with-the-recommended-settings/16432

[2022-04-04 06:23] sayakpaul commented on #1846
https://github.com/microsoft/DeepSpeed/issues/1846#issuecomment-1080226911 solved my problem too but I think it's a matter of concern still.

[2022-04-04 07:16] jhoareau commented on #1859
Hi @conglongli I just added `.to(dtype=torch.uint8)` to the two occurences I mentioned in the original issue. I didn't dig too much into the performance though, it could have been affected by other pieces of my code and it might be worth trying it out on your side.

dlpack's issue has been open for a while, I think going for a workaround like this is best. The reason why it works in Torch up to 1.

[2022-04-04 16:09] sayakpaul commented on #1846
Is there a recent workaround I could refer to in case installing via `conda` isn't an option?

@stas00

[2022-04-04 18:53] conglongli commented on #1859
I see. Yes we will investigate this on our side. But please understand that because we need to test both performance and convergence and because of bandwidth limitation, this will take some time. Before that I would recommend you to use older Pytorch if possible.

[2022-04-04 19:34] stas00 commented on #1291
@jeffra, could we please revisit this issue as this is a problem for all HF Transformers example scripts.

We are trying to drop support for `--local_rank` since pytorch performs the equivalent of `--use_env` by default since several versions. But we are stuck with needing to accept `--local_rank` because the deepspeed launcher sets it.

We are requesting to either:

1. add `deepspeed --use_env` w

[2022-04-04 20:01] jeffra commented on #1291
Thanks for bringing this back up @stas00, `--use_env` would be great. I think we actually added support for this in a slightly different flag via this PR: https://github.com/microsoft/DeepSpeed/pull/1690. It adds a few options to our launcher `--no_local_rank` i think would work in your case though.

Side note, I think we need to add launcher documentation to our read-the-docs page (https://deepsp

[2022-04-04 20:20] maxmaier59 commented on #1846
As I've mentioned above building with pip fails
DS_BUILD_OPS=1
pip install deepspeed

as well as

TORCH_CUDA_ARCH_LIST="8.6" DS_BUILD_CPU_ADAM=1 DS_BUILD_UTILS=1 python setup.py build_ext -j8 bdist_wheel

Here is my environment:

Collecting environment information...
PyTorch version: 1.12.0.dev20220320+cu115
Is debug build: False
CUDA used to build PyTorch: 11.5
ROCM used to build PyTorch: N/A

OS

[2022-04-04 20:41] sgugger commented on #1291
Thanks @jeffra. Just tested locally and it works great with this flag, so closing the issue.

[2022-04-04 20:41] #1291 closed

[2022-04-05 00:12] shehan360 commented on #1460
Hi Im having the same error when I try
`from deepspeed.ops.sparse_attention import MatMul, Softmax`

The error -
`ImportError: cannot import name 'MatMul' from 'deepspeed.ops.sparse_attention' (/opt/conda/lib/python3.7/site-packages/deepspeed/ops/sparse_attention/__init__.py)`

my 'ds_report' is:

[code]

[2022-04-05 01:23] stas00 commented on #1846
OK, I have created a new conda env and I'm able to reproduce the problem:

[code]
note, I first install `deepspeed` normally, so that it installs all the binary dependencies correctly. With pre-build it gets forced to build binary dependencies from scratch rather than fetch them from pypi.

[code]
no failure reported during the build.
[code]

[2022-04-05 01:31] shehan360 commented on #1460
This was due to a wrong import. The correct import is.

` from deepspeed.ops.sparse_attention.matmul import MatMul`

[2022-04-05 01:36] sayakpaul commented on #1846
@stas00 mine is:

[code]

[2022-04-05 01:41] stas00 commented on #1846
@maxmaier59, @sayakpaul please try with this PR: https://github.com/microsoft/DeepSpeed/pull/1879

[2022-04-05 19:52] maxmaier59 commented on #1846
Sorry, I am confused now.
What actually is the fix?
Where shall I add -lcurand?

[2022-04-05 20:26] stas00 commented on #1846
the fix has already been merged. Just install deepspeed from master normally.

[2022-04-06 00:08] tjruwase commented on #1813
Closing for lack of response. Please reopen if needed.

[2022-04-06 00:08] #1813 closed

[2022-04-06 00:09] tjruwase commented on #1831
@kiehls90, did you make progress with this? Or is it no longer an issue? Thanks!

[2022-04-06 00:47] tjruwase commented on #1878
@keshavd, to help with repro can you please provide your full training script that includes  `get_model()` and `get_data_module()`?

[2022-04-06 06:08] Ladun opened #1883 "Regardless of the number of gpus, the memory usage of all gpus is the same. and memory usage is always high"
**Describe the bug**
I am going to try the ZeRO optimizer with huggingface Trainer on stage 2 and stage 3.
- First, some weird things is regardless of the number of gpus, the memory usage of all gpus is the same. This phenomenon is the same for stage 2 or 3.
- Second, strange things is that stage3 is much slower than stage2.
- Last, gpu memory usage is always high.

I use the `EleutherAI/gpt-j-6b`

[2022-04-06 06:31] RezaYazdaniAminabadi commented on #1864
Hi @z-bookworm

Can you please try this again without passing the fc1 layer in the injection policy?
Thanks,
Reza

[2022-04-06 07:56] z-bookworm commented on #1864
@RezaYazdaniAminabadi

Sure. After changing injection policy to

[code]

Running:

[code]

will still raise RuntimeError:
[code]

[2022-04-06 16:06] RezaYazdaniAminabadi commented on #1864
Can you please share the full stack trace?
Thanks,
Reza

[2022-04-06 16:13] RezaYazdaniAminabadi commented on #1864
Your input seems to have this shape: 5x1024. So, I am assuming it is giving you the error at fc1. But, this layer should not have some shape like this 4096x256, since based on the policy you're providing DeepSpeed only partitions out_proj and fc2. Can you please verify this?

[2022-04-06 18:05] stas00 commented on #1763
@jeffra, just a gentle reminder that this regression needs to be resolved. thank you!

[2022-04-06 18:38] mrwyattii commented on #1883
I believe this is expected behavior given the size/memory requirements of the `gpt-j-6b` model:
[code]

[2022-04-06 20:06] maxmaier59 commented on #1846
I can confirm that the error is gone when using "pip install deepspeed"

I still get the same error, when building deepspeed e. g. with "TORCH_CUDA_ARCH_LIST="8.6" DS_BUILD_CPU_ADAM=1 DS_BUILD_UTILS=1 python setup.py build_ext -j8 bdist_wheel"

[2022-04-06 20:40] stas00 commented on #1846
@maxmaier59, could you please send back:
[code]

[2022-04-07 01:48] Ladun commented on #1883
Test setting is
- use "EleutherAI/gpt-j-6B"
- batch size 4
- use gpu A100

When I test it again, it looks like this:
    On 1 GPU
<img width="574" alt="스크린샷 2022-04-07 오전 10 38 01" src="https://user-images.githubusercontent.com/47883234/162103831-7cb1181f-47a9-4832-a778-787065fa829b.png">

On 4 GPUs
<img width="556" alt="스크린샷 2022-04-07 오전 10 45 55" src="https://user-images.githu

[2022-04-07 02:50] Ladun commented on #1883
Test setting is
- use "EleutherAI/gpt-j-6B"
- batch size 4
- use gpu A100

When I test it again, it looks like this:
    On 1 GPU
<img width="574" alt="스크린샷 2022-04-07 오전 10 38 01" src="https://user-images.githubusercontent.com/47883234/162103831-7cb1181f-47a9-4832-a778-787065fa829b.png">

On 4 GPUs
<img width="556" alt="스크린샷 2022-04-07 오전 10 45 55" src="https://user-images.githu

[2022-04-07 03:16] z-bookworm commented on #1864
Thanks for your patience! @RezaYazdaniAminabadi

Yes. Because `inputs` is:

[code]

And the model architecture is

[code]

## Full logs

[code]

[code]

## To reproduce

BTW, this code works after removing deepspeed related lines.

[code]

[2022-04-07 13:15] hyunwoongko commented on #1864
@RezaYazdaniAminabadi I think this is about mp_param_update. I'll add XGLM support code.

[2022-04-07 19:19] maxmaier59 commented on #1846
Here it is

git show -s --format=%H
ebbcfd52734485943bff49c7dcd7c26eb4c44f21

[2022-04-07 19:22] maxmaier59 commented on #1846
I've completely removed the old DeepSpeed and started from scratch by pulling the latest version

[2022-04-07 20:37] stas00 commented on #1846
You're somehow checking out 2-week old version.  https://github.com/microsoft/DeepSpeed/commit/ebbcfd5273448594

We don't want the released version, but `master`. Do this:

[code]

and it'd work.

[2022-04-08 19:35] maxmaier59 commented on #1846
Sorry, but it still does not work for me but I am still getting the error message.

I have completely removed deepspeed and followed your instructions how to install.
The hash is different this time.
(gptneo_finetuned) max@max-Desktop:/media/max/Volume/GPT/finetune$ git clone https://github.com/microsoft/DeepSpeed
Cloning into 'DeepSpeed'...
remote: Enumerating objects: 17063, done.
remote: Counti

[2022-04-08 20:04] stas00 commented on #1846
@maxmaier59,

For full long logs please consider either attaching them as a separate file or making them Collapsible - since otherwise it makes the threads very difficult to navigate as the logs take over the content. e.g. one good recipe is here: https://gist.github.com/pierrejoubert73/902cc94d79424356a8d20be2b382e1ab

Also may be switch to using just one gpu while sorting this out to avoid the i

[2022-04-08 20:11] stas00 commented on #1846
I'm also curious if perhaps you somehow have multiple installs of deepspeed, what do you get from:

[code]
because in your OP you had deepspeed installed inside `site-packages` but later you switched to devel install, so there should be just:

[code]
and no:

[code]

[2022-04-08 20:21] stas00 commented on #1846
And since the JIT build worked for you, let's see what you have under `~/.cache/torch_extensions/py38_cu115`, i.e:
[code]
I wonder if somehow something gets messed up there:

e.g. on my set up I have:

[code]

to get the latter one, I of course needed to do JIT, so I had to do:
[code]
and may be let's see the log of the last command, and then we can compare its build to the prebuild log - and perh

[2022-04-08 20:35] stas00 commented on #1846
Let's also check that the library gets all its references resolved, e.g.:

[code]

in your case it'd be:
[code]

[2022-04-08 21:00] stas00 commented on #1846
I think I know what the problem is here, you're building a binary package and not installing it!

[code]

instead of the `devel` install.

So you never installed the pre-build files and of course it all fails. Note that on my setup the same command is:

[code]

which is exactly what's missing on your side.

So you have 2 ways to fix this:

1. install the wheel you have built, that is:
[code]
(chec

[2022-04-08 21:06] stas00 commented on #1846
Also make sure to install cudnn - your cuda programs will run much faster

[2022-04-09 20:06] maxmaier59 commented on #1846
Checking out option 2 (use build instruction without building a wheel) works!
Many thanks for your patience with me and also for the hints.
:-)

[2022-04-10 03:58] stas00 commented on #1846
So glad to hear it finally worked, @maxmaier59!

Does it mean that you tried installing the binary wheel and it didn't work?

[2022-04-10 17:41] evros-chris commented on #860
Hi @lavine-lmu, I am facing the same issue when trying to use zero3 to fine-tune m2m100.

It is fine when I use zero2 to fine-tune m2m100. It is also fine when I use zero3 to fine-tune t5 with the same data.

Did you manage to solve this error?

I tried running the following command, as you also mentioned in: https://github.com/huggingface/transformers/issues/15570

deepspeed examples/pytorch/tran

[2022-04-10 18:38] stas00 commented on #860
@evros-chris, as I suggested above, this is a really old Issue and any further comments are very likely irrelevant since the code base has changed since then.

Please open a new issue with the full traceback of the error you experience, and your environment, and any other details that can be used to reproduce the problem you are experiencing.

You may tag me on the issue and I'd be happy to take a

[2022-04-10 20:54] evros-chris commented on #860
Thank you @stas00! I have opened a new issue and tagged you here:
https://github.com/huggingface/transformers/issues/16688

[2022-04-11 14:11] kd303 opened #1886 "[BUG] CPU Architecture compatibility and docker image issues"
**Describe the bug**
We built the docker image on an Intel machine, where the instruction set AVX512 is enabled, when we run the same image AMD based image we get following stack trace, mostly this is due to illegal instruction set.

Here is a output of flags, this is A100 DGX node

[code]

Error

[code]

**Expected behavior**
 - This should be clearly documented that any building of image is depe

[2022-04-11 17:57] stas00 commented on #1757
Here is another related report: https://github.com/huggingface/transformers/issues/16688

[2022-04-12 01:04] stas00 commented on #1757
At the moment the workaround is ensure that when you instantiate the modethe model's `config.max_position_embeddings` is set to the longest `seqlen` so that it doesn't need to remake the positional embeddings during `forward` and thus it won't create a new Parameter once it started training and everything will work.

This impacts quite a few other models - e.g. FSMT and others that extended positi

[2022-04-12 02:13] stas00 opened #1888 "[REQUEST] removing the requirement for all layers to always execute in sync"
So by now we had to do multiple workaround to support ZeRO-3 in HF Transformers to deal with situations where one or more of the gpus wants to either finish early or randomly skip the layers. Examples:

1. `generate` now includes a workaround that forces all gpus to continue generating even if one or more gpus finished early because their result was shorter than the other gpus:

https://github.com

[2022-04-12 16:09] RezaYazdaniAminabadi commented on #1872
Hi @drxmy,

Can you try initializing the group before creating your model?
`deepspeed.utils.groups.initialize(ep_size=torch.distributed.get_world_size())`

Thanks,
Reza

[2022-04-12 18:07] stas00 opened #1890 "Instructions for building the AIO op using `libaio` from conda"
@tjruwase, I discovered that conda has the binary `libaio` package
https://anaconda.org/anaconda/libaio/files

Here is how to use it and build with it:

[code]

Perhaps we could add this to the docs as an alternative to `sudo apt install libaio-dev` and if we do, I wonder if we can automate this, i.e. try to detect if `CONDA_PREFIX` env var is set and if `$CONDA_PREFIX/include/"` and `"$CONDA_PREF

[2022-04-12 18:23] stas00 opened #1891 "[REQUEST] cpu offload needs a max cpu memory config / pointers to cgroups/oom handlers"
Currently, unless a user uses some sort of cgroups or oom prevention monitor when using cpu offload with a huge model the desktop is likely to crash.

I propose that cpu and nvme offload define a new config where a user can tell how much cpu memory they can dedicate to the offload and if deepspeed sees it is not enough it should fail rather than continue gobbling up all available memory and bringi

[2022-04-12 22:22] jmwoloso commented on #1878
I can provide an example @tjruwase. I will also add that using the commented out version of `configure_optimizers` in the script below (which I got from a PTL example) results in the following traceback:

[code]

[code]

[2022-04-12 22:27] jmwoloso commented on #1878
I run it with this command:

[code]

[2022-04-12 22:28] jmwoloso commented on #1878
Just tested with `deepspeed==0.5.4` and the training completes successfully. So this was introduced somewhere between `0.5.4` and `0.6.1`

[2022-04-12 23:18] jmwoloso commented on #1878
here are compat results with the versions

:heavy_check_mark: `0.5.4`
:heavy_check_mark: `0.5.5`
:heavy_check_mark: `0.5.6`
:heavy_check_mark: `0.5.7`
:heavy_check_mark: `0.5.8`
:heavy_check_mark: `0.5.9`
:heavy_check_mark: `0.5.10`
:heavy_multiplication_x: `0.6.0`
:heavy_multiplication_x: `0.6.1`

`0.6.x` versions all result in this traceback for me:

[code]

[2022-04-15 02:09] aniruddhakal commented on #1051
I'm also super interested in knowing more about this. Happy to lend a hand if you need some development effort to implement it.

[2022-04-15 08:21] lkm2835 commented on #1820
I have same problem at deepspeed==0.6.1

It works at deepspeed==0.5.10.
And I had to modify forward two times to one time in my training loop.

[2022-04-15 21:19] m3rlin45 opened #1893 "[BUG] Zero3 Checkpointing doesn't include HF T5's token embeddings"
**Describe the bug**
When HuggingFace T5 models are checkpointed, the embed_tokens modules in both the encoder and decoder are not included.

This is also captured in https://github.com/PyTorchLightning/pytorch-lightning/issues/10964

**Expected behavior**
I expect all model parameters to be included in checkpoints

**ds_report output**
[code]
from deepspeed.ops.adam import FusedAdam
from transfor

[2022-04-15 23:47] conglongli commented on #1859
Hi @jhoareau I created a PR based on your suggestion https://github.com/microsoft/DeepSpeed/pull/1894 and I did test that torch 1.10 w/ this fix is able to provide same performance benefit and same training loss curve on BERT pertaining compared with torch 1.8 w/o this fix. Could you try if this PR fix your issue?

[2022-04-15 23:50] m3rlin45 commented on #1893
I'm doing some debugging on my own, it seems like the proximate cause is that HuggingFace's T5 implementation does not include `embed_tokens` in the return values for `module.named_parameters()`, which means that DeepSpeed is oblivious to the embeddings.

I'm not sure why this is working at all, in that case, with part of the model being not sharded. Maybe the problem is only at save time?

[2022-04-17 11:15] Ladun commented on #1883
Thank you for your response. I'm sorry for the late reply.

I agree with you that the same memory usage due to batch_size.

[2022-04-17 11:15] #1883 closed

[2022-04-18 13:41] tjruwase commented on #1051
@ecly, apologies that this request somehow slipped through. I wonder what solution you ended up with and whether you are still interested in DeepSpeed support?

@aniruddhakal, thanks for bumping this back to our attention. Is it okay to wait @ecly to respond in order  to decide next steps?

[2022-04-18 14:27] tjruwase commented on #1820
@lkm2835, can you please confirm that you are still seeing this issue?

[2022-04-18 16:58] ecly commented on #1051
@tjruwase we ended up for the most part just using pure DDP in PyTorch. We did have moderate success using Fairscale which supported the variable batch sizes out of the box, but didn't find any value from doing so with our model size of ~200M parameters. The problem is very much still relevant to us, as we'd still like to further adopt DeepSpeed, but this is a blocker that makes it non-trivial for

[2022-04-18 17:57] jmwoloso commented on #1878
@tjruwase

[2022-04-18 20:08] SeanNaren commented on #1878
Thanks @jmwoloso for opening this issue and providing a reproduce! I'll try to help out here as well @tjruwase.

[2022-04-18 21:01] tjruwase commented on #1878
@jmwoloso, thanks for the repro guide. I am trying it on my side. Thanks, @SeanNaren.

[2022-04-18 21:04] tjruwase commented on #1878
@jmwoloso, @SeanNaren, any idea how to get past this?
[code]

[2022-04-18 21:37] tjruwase commented on #1878
Never mind, connection error resolved itself.

[2022-04-18 21:39] tjruwase commented on #1878
Okay, I got a repro
[code]

[2022-04-18 22:21] jeffra commented on #1886
How are you installing DeepSpeed in this case? Are you pre-compiling any ops? or just doing something like `pip install deepspeed`. I could imagine some issues with cpu-adam when pre-compiling it on Intel but using it on AMD but if you are using our JIT based compilation this shouldn't be a problem I think.

[2022-04-18 22:27] jeffra commented on #1872
@drxmy, you should be able to use `deepspeed.utils.init_distributed()`. In a recent update to MoE (v0.6.0+) this groups.initialize function was deprecated and you shouldn't need to use it anymore.

[2022-04-19 07:15] rohitdwivedula opened #1896 "[BUG] DeepSpeed zero_to_fp32.py script ignores some layers while creating FP32 checkpoints from DS ZeRO checkpoints."
**Problem**: Trying to convert DeepSpeed zero checkpoints to `PyTorch state_dict`s leads to one layer not being present in the generated state dict. I am using the `zero_to_fp32.py` script. I'm trying to train a GPT2 like model, and it looks like the `lm_head` (linear layer) of the model is not being correctly included in checkpoints for some reason.

# Description
I'm trying to train a GPT2-like

[2022-04-19 12:01] maheshsp123 opened #1897 "[BUG]"
**Describe the bug**
I m trying to run cifar program on an HPC cluster. The program can be found in Deepspeed GitHub [examples](https://github.com/microsoft/DeepSpeedExamples/tree/36212dd59cb3eb342c39bc8965aaba04d5491933/cifar).
 I have installed deepspeed using the following cmd in my conda environment
_pip install deepspeed_
But I am getting errors indicating _"No such file or directory #include

[2022-04-19 12:24] LifeIsStrange opened #1898 "[REQUEST] SSG GPU support"
I believe you are interested in the topic of hyoerscalability of very large language models and I believe that a major advance in hardware has been overlooked. There exist a special kind of GPUs provided by AMD called an SSG.
An SSG is a GPU that has an SSD embedded within it, allowing direct access to the SSD, bypassing the overhead of the CPU/bus round-trip.

https://www.amd.com/en/products/prof

[2022-04-20 00:37] tjruwase commented on #1878
@keshavd, @jmwoloso, and @SeanNaren can you please test #1901? Thanks!

[2022-04-20 01:00] tangzhy opened #1902 "[REQUEST] torch equivalent api model.no_sync()"
Hi, I'm adding deepspeed for my distributed model training framework.

When using pytorch native apis, everything is fine. For distributed training, originally I would wrapp model in an object of nn.parallel.DistributedDataParallel, and use model.no_sync() api to avoid unnecessary sync ops.

I cannot find the equivalent api in deepspeed. Can you offer some help?

[2022-04-20 02:24] jmwoloso commented on #1878
@tjruwase I built a wheel in the typical manner (`python setup.py bdist_wheel`) and then installed the built wheel and I also saw `install.sh` in the repo which I tried, both resulted in the same traceback, but maybe I'm missing some other step?

[code]

[2022-04-20 02:27] jeffra commented on #1902
Out of curiosity what sort of things do you want to do when sync is turned off? Is it gradient accumulation? If so, the deepspeed engine will make sure to not sync/communicate in between grad accumulation boundaries.

[2022-04-20 02:45] tangzhy commented on #1902
@jeffra In contrastive learning, which is super popular in research community currently, we usually rely on large batch size to compute the NCE softmax loss.

Even the remarkable GPU RAM saved by deepspeed, I would have to figure out how to scale the batch size from a small number like 32 to super large like 2048, or even more.

To do this, I would have to break the inputs into chunks, and compute

[2022-04-20 02:54] jeffra commented on #1902
Can you show a small snippet of code on how you’re doing this in native pytorch? This sounds very much like gradient accumulation.

Does gradient_accumulation_steps do what you want? See: https://www.deepspeed.ai/docs/config-json/#batch-size-related-parameters

Having deepspeed support a similar pytorch style for no sync sounds beneficial. But curious if our existing method works for you for now?

[2022-04-20 03:08] tangzhy commented on #1902
I'm sure that gradient_accumulation cannot support my purpose, because gradient_accumulation only accumulate the gradient at the training example level.

For contrastive NCE softmax loss, I have to break the inputs into chunks and acuumulate the gradient at chunk level.

Here's the code,

[code]

If without `model.no_sync`, the code would sync gradients for each chunk and dramatically increase the

[2022-04-20 04:59] lkm2835 opened #1903 "[BUG] ZeRO stage3, error while fetching submodule parameters."
**Describe the bug**

I want to test ZeRO stage3 for my large LM(transformers). In stage3, error happens. But, it works on deepspeed==0.5.10

And, It works on stage 1, 2 (deepspeed==0.6.1)

Error Message (deepspeed==0.6.1)
[code]

deepspeed config (stage3)
[code]

ref: #1820

[2022-04-20 05:02] lkm2835 commented on #1820
@tjruwase, I opened new issue.

I still have this problem.

[2022-04-20 05:55] keshavd commented on #1878
This new build works for me now!

I might not being having the same error as @jmwoloso because I instantiate my optimiser directly using the lightning module's `configure_optimizers`.
ex.
[code]

[2022-04-20 06:57] dnyari commented on #1189
Same here, on Windows 10. Is there any update on this?

[2022-04-20 09:57] SeanNaren commented on #1878
Amazing @tjruwase!! thanks for the fix, I can confirm with the above reproduce this fixes it on my end.

@jmwoloso I ran into the same issue trying to do `pip install https://github.com/microsoft/DeepSpeed/archive/refs/heads/olruwase/zero3_tracing_error.zip`

What worked for me was installing it by cloning the repo and running `pip install .`. @tjruwase could probably shed more details as to why t

[2022-04-20 12:45] tjruwase commented on #1903
@lkm2835, thanks for creating this issue. Can you please try this PR #1901?

[2022-04-20 12:47] tjruwase commented on #1878
@jmwoloso, can you please try @SeanNaren's suggestion for installing the new bits?

[2022-04-20 14:18] jhoareau commented on #1859
Hi @conglongli the PR indeed fixes the issue. Thanks a lot for the quick PR turnaround!

[2022-04-20 15:38] jmwoloso commented on #1878
Yeah I tried both building the wheel and installing with `pip install .` and still end up with the same error, but that could be something weird with my environment, so if @SeanNaren and @keshavd are able to get it to work, we're probably good to close out. Any idea when `0.6.2` will be coming out @tjruwase and thank you for your help.

[2022-04-20 17:45] conglongli commented on #1859
Thanks for confirming @jhoareau , will merge the PR then.

[2022-04-20 17:48] grzywada opened #1904 "[BUG] Autotuner is not launching experiments with correct hostfile setting"
It seems like when the autotuned is spawning experiments it is not passing the correct --hostfile  parameter to the experiment commands what leads to failure for all jobs that do not use default location for the hostfile.

[2022-04-20 18:13] #1859 closed

[2022-04-20 19:41] #1878 closed

[2022-04-20 20:33] Sagivfer opened #1905 "[BUG] No module named 'fcntl' while importing the package"
Hey,
Working on windows 11, Python 3.7 and tried importing the package.
Got the error in the title, is there a way around it since it's exclusive to Linux?

![fcntl](https://user-images.githubusercontent.com/61480454/164317686-5303f264-5fc7-42c0-89b5-d16a125ae11f.png)

[2022-04-21 01:06] lkm2835 commented on #1903
Thanks for fixing this error!

It works on ```deepspeed == 0.6.2+ef17c895```

[2022-04-21 01:07] #1903 closed

[2022-04-21 02:22] taehyunzzz commented on #1437
Does this mean it's a Pytorch issue, for not letting go of the inactive memory? Is there a way to keep Pytorch from reserving so much memory or to free some memory? Simply `del` -ing some intermediate variables didn't seem to help much :(

[2022-04-21 11:10] tangzhy commented on #1902
@jeffra Wonder if you will have a plan to add this feature? If so, will you provide a time expectation?

[2022-04-22 04:40] gabrielhuang opened #1909 "[BUG] pip install ."
**Describe the bug**
`pip install .` returns with error

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repo, checkout commit `4575b2b792f6424d68677f9b896b55be9241aeac`
2. `pip install .`

**Expected behavior**
Install master branch of deepspeed

**ds_report output**
Can't

**Screenshots**
<img width="875" alt="image" src="https://user-images.githubusercontent.com/7798468/164604019

[2022-04-22 06:37] drxmy commented on #1872
Thank both of you! I will give it a try.

[2022-04-22 06:37] #1872 closed

[2022-04-25 16:16] maheshsp123 commented on #1897
any updates?

[2022-04-25 16:38] mrwyattii commented on #1909
What version of pip are you using? (`pip --version`)

`deepspeed/ops/csrc` is a symbolic link to `csrc` in the top level of the repo, so not sure why pip would error out here.

[2022-04-25 16:59] gabrielhuang commented on #1909
I'm using `pip 20.3.1 from /mnt/home/miniconda3/lib/python3.9/site-packages/pip (python 3.9)`

Oh i just got that warning maybe it's related:
`  DEPRECATION: A future pip version will change local packages to be built in-place without first copying to a temporary directory. We recommend you use --use-feature=in-tree-build to test your packages with this new behavior before it becomes the default.

[2022-04-25 17:23] mrwyattii commented on #1905
It seems that the `fcntl` module is only used for debug purposes. We should probably disable these imports and only enable them when debugging. You can safely remove this import. Here is a patch that does that for the current master (`32d97976ce08f00228ceb55a2d93005bd8b2769a`):
[code]

[2022-04-25 18:15] Sagivfer commented on #1905
Thanks a lot!

[2022-04-25 18:30] gabrielhuang commented on #1909
I updated pip to latest `22.0.4` release, pulled from `master` and reran `pip install .`, and I created the symlink, I still get this error
[code]

[2022-04-25 20:55] Sagivfer commented on #1905
Thanks!
When will it be updated, as in without a patch...

[2022-04-25 20:55] #1905 closed

[2022-04-26 06:46] codertimo commented on #1797
@RezaYazdaniAminabadi  Hi! I met the same issue at GPT model which take the padded input_ids.
Is there any update about this issue?

[2022-04-26 09:57] codertimo opened #1912 "[BUG] attention_mask is overwritten by dummy tensor at DeepSpeedSelfAttentionFunction"
**Describe the bug**

https://github.com/microsoft/DeepSpeed/pull/1705 add line to overwrite the input_mask(attention_mask) at DeepSpeedSelfAttentionFunction to dummy attention mask.
Due to this code, `attention_mask` input has been ignored for all transformer models forwards.

I think https://github.com/microsoft/DeepSpeed/issues/1797 is caused by this iussue.

**Expected behavior**

softmax kern

[2022-04-27 02:28] akihironitta opened #1918 "[BUG] `pip install deepspeed==0.6.2` raises `ModuleNotFoundError: No module named 'op_builder'`"
**Describe the bug**
I'd like to report a possible bug in the installation of `0.6.2` in particular.

**To Reproduce**
[code]

FYI, installing other versions succeeds.
[code]

**Expected behavior**
Successful installation with no error raised.
[code]

**ds_report output**
Please run `ds_report` to give us details about your setup.

**Screenshots**
Please refer to the commands above or to our CI ru

[2022-04-27 03:14] akihironitta commented on #1918
My current workaround is cloning the repository and run `pip install .` as done in https://github.com/PyTorchLightning/pytorch-lightning/pull/12373/commits/42bb05ddbe0b2df29ba32331c4a9631d00a089cc

[2022-04-27 12:08] skpig commented on #1789
@tjruwase  any advice?

[2022-04-27 13:11] tjruwase commented on #1789
@skpig, yes it is possible that DeepSpeed model checkpointing might miss some model states. To help with this situation, [save_checkpoint()](https://deepspeed.readthedocs.io/en/latest/model-checkpointing.html#saving-training-checkpoints) accepts a `client_state` argument which is a dict that the client use to store any arbitrary state information. At checkpoint load time, [load_checkpoint()](https

[2022-04-27 16:14] jeffra commented on #1918
Yikes, we are seeing this now as well. Something went wrong with the latest 0.6.2 release. We are investigating right now and will probably pull this release and push a new one today. Installing from source seems to resolve the issue for now luckily.

[2022-04-27 16:26] #1918 closed

[2022-04-27 16:42] akihironitta commented on #1918
Confirmed 0.6.3 works. Thank you for deploying the fix quickly.

[2022-04-27 16:43] jeffra commented on #1918
/cc @SeanNaren

[2022-04-27 17:45] tjruwase commented on #1789
@skpig, apologies for the confusion. It is possible that I may have misunderstood your original question. I thought you wanted to save some additional parameters that are either not part of the module or won't be properly saved by `torch.save()`. DeepSpeed uses `torch.save()` internally. So, I suggest trying two things:

1. Confirm that you can `torch.save()` and `torch.load()` work for you as exp

[2022-04-27 20:28] mrwyattii commented on #1905
Could you try the latest on master branch?

[2022-04-27 20:55] mrwyattii commented on #1867
This bug should now be resolved in v0.6.4 with #1899

[2022-04-27 20:56] #1867 closed

[2022-04-28 17:48] tjruwase commented on #1789
@skpig, how is it going? Just wanted to share that the following script worked for me. Can you try it on your side with the following commands:

1. To save:  `python test.py`
2. To load:  `python test.py --load`

[code]

[2022-04-28 17:58] malteos commented on #1777
Did you solve this by any chance?

[2022-04-28 21:07] Sanger2000 opened #1923 "[BUG] Multi-Node Address in Use Error"
**Describe the bug**
I am running deepspeed on AWS Sagemaker over 4 machines with 4V100's each (their p3.8xlarge's). I use a custom docker image in order to run deepspeed (Sagemaker does not natively support deepspeed).

The command used is:

`deepspeed --hostfile=hostfile.txt --master_port=29600 main.py`

What I believe happens, is that for $$m$$ machines with $$n$$ GPU's each, instead of startin

[2022-04-28 21:13] tjruwase commented on #1923
@Sanger2000, can you please:

1. Share the contents of hostfile.txt
2. Run with this command:   `deepspeed --num_nodes 4 --num_gpus 4  --hostfile=hostfile.txt --master_port=29600  main.py`

[2022-04-29 01:40] Sanger2000 commented on #1923
hosfile.txt is:
[code]

Running with that command gives the same error.

[2022-04-29 06:40] flyhighzy opened #1924 "[BUG] OpenMPI backend doesn't support custom mpi launch args"
**Describe the bug**
In our business, we need to specify a custom mpi port rather than default 22 to communicate, in normal mpi, we can pass `-mca plm_rsh_args -p 5000` to specify the port, but deepspeed not work.

I looked into the source code, found [OpenMPI multi-node runner](https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/launcher/multinode_runner.py#L125
) doesn't use the launche

[2022-04-29 07:10] codertimo opened #1925 "[BUG] Floating Point Exception (core dump) at launch_attn_softmax_v2<float>"
## Describe the bug

I tried to infer gpt2 model with under code. The code use the DeepSpeed inference optimization.
When I constantly repeated model inference, `floating point exception(core dump)` occurred and program dies.

I tried to debug where the error comes from using `gdb` and it shows that the exception occured at `launch_attn_softmax_v2<float>`.

Interestingly, `pip install` with commit

[2022-04-29 07:55] codertimo commented on #1925
@jeffra Could you check this issue? I think https://github.com/microsoft/DeepSpeed/pull/1899 made this issue.

[2022-04-29 13:57] tjruwase commented on #1923
@Sanger2000, thanks for sharing these results. This is quite mysterious and could be tricky to unravel since we don't have the environment to repro. Here are some thoughts

1. Can you share this portion of your logs for failing (4-node) and suceeding (1-node) runs?
<img width="592" alt="image" src="https://user-images.githubusercontent.com/4271600/165958361-7c7bba12-bd32-424a-a96f-1e10c9eabb72.png

[2022-04-29 14:10] tjruwase commented on #1777
@malteos, sorry for the delayed response. Can you please confirm that this problem exists with latest deepspeed? Please also share a stack trace. Thanks!

[2022-04-29 16:20] jmwoloso opened #1926 "[BUG] No Model Parameters Specified with Latest Release"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Install `deepspeed==0.6.3`
2. Launch the job from the command-line via ptl
3. Monitor logs for model specifications
4. See error (Deepspeed reports 0 trainable parameters and 0 parameters overall)

**Expected behavior**
I expect model parameters to be reported in the loggi

[2022-04-29 17:52] knagrecha opened #1927 "[BUG] DeepSpeed command is not installing"
I installed deepspeed with pip3 install deepspeed. However none of the commands (e.g. ds_report, deepspeed script.py) work. I get the following error:

ds_report: command not found
deepspeed: command not found.

I'm running this on an EC2 instance with an A10G GPU.

I have tried installing from the repo directly as well and still encounter this error. As I understand it, the deepspeed command is c

[2022-04-29 17:53] jessecambon commented on #1926
I'm also seeing this behaviour with `strategy="deepspeed_stage_3"` and `strategy="deepspeed_stage_3_offload"`. However, `strategy="deepspeed_stage_2"` and `strategy="deepspeed_stage_1"` show the number of parameters.

[2022-04-29 17:54] knagrecha commented on #1927
Can't believe I didn't figure this out immediately...I just had to add the bin directory to path.

[2022-04-29 17:54] #1927 closed

[2022-04-29 17:58] tjruwase commented on #1926
@SeanNaren, is this printout from Lightning?

[2022-04-29 18:22] jessecambon commented on #1926
FYI a similar issue is posted in lightning here https://github.com/PyTorchLightning/pytorch-lightning/issues/12130

[2022-04-29 18:24] tjruwase commented on #1926
@jessecambon, thanks for sharing that link. I see that the issue went stale in lightning. Hopefully, @SeanNaren can provide more context.

[2022-04-29 19:38] Sanger2000 commented on #1923
## 1
For the succeeding 1-node run:
[code]

For the failing 4-node run, on machine 1, we have 4 sets of these logs in the following order:
[code]

[code]

[code]

[code]

On each of the other machines (2-4), they have identical logs (though with different orderings of algo-1, 2, 3, 4).

## 2
Would you like for me to run all of these commands with the 4 machines housing 4 GPUs each or any with a si

[2022-04-29 20:56] tjruwase commented on #1923
@Sanger2000, thanks for sharing these results. One clarification, please. Can you please confirm that in all cases you only do one invocation of deepspeed and only on algo-1?

[2022-04-29 20:57] tjruwase commented on #1923
For (2), please run each of the 3 commands from algo-1 only.

[2022-04-30 10:04] Sagivfer commented on #1905
Works, thanks

[2022-04-30 12:00] Sagivfer opened #1928 "Can't run ZeRO on single GPU with windows11[BUG]"
Hi,
been trying to implement ZeRO and stumbled into this loop:
1) Tried a configuration with Zero optimization with an Adam optimizer. It raised the error:
RuntimeError: a leaf Variable that requires grad is being used in an in-place operation.

2) After reading through the code, found out it is raised if we don't allow AMP. I then added amp in the config file. Then I got the error:
AssertionError

[2022-05-01 06:28] hanquansanren commented on #1909
I also meet the same error in Linux OS

[2022-05-01 12:11] codertimo commented on #1925
I print out the all variable in the function and found the main reason for this issue!

### 1. Zero-Division Error happened in this line. sequence_length is 32880

https://github.com/microsoft/DeepSpeed/blob/89e37ef360dddf10bed996734784e290b9b5fc62/csrc/transformer/inference/csrc/softmax.cu#L386

### 2. Because layer_past is not free even after one iteration is finished!

https://github.com/micros

[2022-05-01 23:36] LifeIsStrange commented on #1898
related https://cloudblogs.microsoft.com/opensource/2022/03/21/supporting-efficient-large-model-training-on-amd-instinct-gpus-with-deepspeed/

[2022-05-02 03:21] ShoufaChen commented on #694
Met this issue when using `gcc 4.8`.
Update the GCC version and reinstall deepspeed by:
[code]

[2022-05-02 21:16] mrwyattii commented on #1924
I think the fix for this is simple. Can you try #1933 and let me know if that works?
[code]

[2022-05-03 12:21] Pringled opened #1935 "[Question] What is the non-deprecated alternative for "cpu_offload"?"
**Environment details**
python 3.8
deepspeed==0.6.1
pytorch-lightning==1.6.0

**Problem description**
I have been trying to fit a large model into memory in pytorch lightning using deepspeed. When I set my config with "cpu_offload": True, I get a substantial decrease in used memory (and increase to epoch time) as expected. However, as "cpu_offload" is deprecated, I tried to use "offload_optimizer"

[2022-05-03 13:46] tjruwase commented on #1935
@Pringled, thanks for raising this issue. Can you try moving the "offload_optimizer" entry into the "zero_optimization" one?

[2022-05-03 13:49] tjruwase commented on #1935
@Pringled, more specifically should look like
[code]

[2022-05-03 14:29] Pringled commented on #1935
That was indeed the issue, thank you for the quick reply!

[2022-05-03 14:29] #1935 closed

[2022-05-03 14:33] tjruwase commented on #1935
Thanks for quickly confirming resolution. This issue has it clear that the docs is confusing by not explicitly showing that "offload_optimizer" is a subfield of "zero_optimization". So that needs to be fixed.

[2022-05-04 05:46] kd303 commented on #1886
I am building it on Intel (since thats what the "build" server looks like, and running it on AMD machine. I built on AMD and it is running fine now like I mentioned in my post. This is more of a documentation issue and nothing to do with code/actual bug.

[2022-05-04 05:46] #1886 closed

[2022-05-04 09:49] malteos commented on #1777
Thanks for the reply. The issue was due to Megatron/HF and not DS related but it is solved now. See the discussion at https://github.com/bigscience-workshop/Megatron-DeepSpeed/issues/229

[2022-05-05 05:59] hjkrt92 opened #1937 "[BUG]"
**Describe the bug**
subprocess.CalledProcessError: Command '['hostname -I']' returned non-zero exit status 1
I met the CalledProcessError.
I installed MPI and mpi4py.
 what's the problem and what should i do?
what's mean ['hostname -I']
It's my first time try to do deepspeed.

**ds_report output**
 [WARNING]  sparse_attn requires the 'cmake' command, but it does not exist!
 [WARNING]  sparse_attn

[2022-05-05 09:01] 9pearl commented on #1581
Hello，how did you solve this problem

[2022-05-05 10:09] SeanNaren commented on #1926
Apologies for the late response here, this is a Lightning issue (doesn't have anything to do with DeepSpeed).

@tjruwase I'll sync offline with you on how we potentially could try to resolve this!

[2022-05-05 15:56] SeanNaren opened #1938 "[BUG] ZeRO Stage 3, error while fetching submodule parameters"
**Describe the bug**

Same issue as https://github.com/microsoft/DeepSpeed/issues/1903 except using DeepSpeed 0.6.3

**To Reproduce**
Using https://github.com/SeanNaren/minGPT

[code]

Error:

[code]

**Expected behavior**
Training should begin!

**ds_report output**

DeepSpeed general environment info:
torch install path ............... ['/home/sean/anaconda3/lib/python3.7/site-packages/torch']
t

[2022-05-05 16:16] tjruwase commented on #1938
@SeanNaren, can you please try #1916?

[2022-05-05 16:18] tjruwase commented on #1923
@Sanger2000, did you make any progress here? Thanks!

[2022-05-06 14:41] base-y opened #1940 "[BUG] Error on loading saved optimizer after training (zero-3)"
**Describe the bug**
I am training a large model via huggingface trainer and deepspeed. I am using ZeRO-3 (config attached below). The training works fine but once the code tries to reload the saved optimizer for evaluation, I get the following error (below is the traceback).

The train and evaluation code works fine if I train with `python train.py`. OPTIMIZER USED: adafactor

My env:
[code]

ZeR

[2022-05-06 15:52] Sanger2000 commented on #1923
I see, I assumed that I needed to invoke deepspeed on all machines. If I just ran the deepspeed command from the rank 0 machine, would this solve my problem?

I can try this first before running set of commands you suggested. As an additional clarification, for each of the commands you asked for, should I allocate the corresponding number of additional nodes for passwordless ssh access (num_nodes

[2022-05-06 15:55] tjruwase commented on #1923
Oh yes, you are only supposed to execute deepspeed on one of the machines, not all of them. Launching on all of them would explain the issues you are having.

[2022-05-09 10:05] #1041 closed

[2022-05-09 12:43] base-y commented on #1940
@tjruwase I have been scratching my head around this for the last few days. Can you help in this regard?

[2022-05-09 18:35] jeffra commented on #1924
@flyhighzy, can you confirm if this fixes your issue or not?

[2022-05-09 23:34] stas00 commented on #1763
I suspect that @tjruwase's tracing improvement PR https://github.com/microsoft/DeepSpeed/pull/1916 resolved this bug as well. (not 100% sure but it no longer fails with master).

So closing this.

[2022-05-09 23:34] #1763 closed

[2022-05-09 23:56] base-y commented on #1940
## Script to reproduce the error

I wrote a script which takes in SQUAD dataset and trains for 2 steps (32 batch size). Though the entire dataset is downloaded, I am only loading 10 samples for train and validation set to get the error asap.

The code takes ~1min to run and throw the error.

[code]

And here is the `ds_config.json` file:
[code]

[2022-05-10 00:34] szhengac opened #1945 "[BUG] ZeRO 1 and ZeRO 2 produces different losses"
**Describe the bug**
ZeRO 1 and 2 give different losses for the same setting. Similar issue was reported in https://github.com/microsoft/DeepSpeed/issues/966#issuecomment-829516471

**To Reproduce**
Run `deepspeed test.py --zero 1` and `deepspeed test.py --zero 2` to see the losses

test.py:
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

ZeRO 2 gives

[2022-05-10 07:28] flyhighzy commented on #1924
maybe it's not that simple.
If I pass launcher args as "-mca plm_rsh_args -p 5000", it will be splited as `["-mca", "plm_rsh_args", "-p", "5000"]`, but expected is `["-mca", "plm_rsh_args", "-p 5000"]`

[2022-05-10 14:56] joehoover opened #1946 "[BUG] GPT-J InferenceEngine Initialization Failure: `RuntimeError`"
**Describe the bug**
Initializing an InferenceEngine for GPT-J fails with the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Install packages:
[code]

2. Run the following:

[code]

**Expected behavior**
This should initialize a DeepSpeed GPT-J InferenceEngine.

**ds_report output**
[code]

**System info (please complete the following information):**
 - OS: AWS Sag

[2022-05-10 20:51] tjruwase commented on #1940
@base-y, sorry for the late response. However, I see that you have raised this issue on the HF side. I am working with them on it.

[2022-05-11 02:45] luoguohao opened #1948 "[BUG] DeepSpeed 0.5.10 not compatible with Pytorch 1.8.0+"
**Describe the bug**
As the document said that deepspeed is not tied to specific PyTorch or CUDA versions, but when i tried to integrate deepspeed with pytoch 1.8+ to supporting using nccl-fastsocket plugin, deepspeed initialize failed with the following error, and after i read the source code in pytorch 1.8.0+, `init_distributed_group` function implement is difference with pytorch 1.7.1-, pytorch

[2022-05-11 20:08] LorrinWWW opened #1949 "[BUG] FlopsProfiler produces large negative results for nn.Conv1d"
**Describe the bug**
When using `deepspeed.profiling.flops_profiler.FlopsProfiler` to measure flops of a neural network, it produces large negative results for `nn.Conv1d`.
This problem was encountered when I was trying to profile DebertaV2.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Flops should be positive

**ds_report output**
Please run `ds_report` to give

[2022-05-11 21:21] hjkrt92 commented on #1937
Thanks!

[2022-05-11 21:59] shijie-wu opened #1950 "[BUG] DeepSpeed non-deterministic inference with HF transformers when replace_with_kernel_inject=True"
**Describe the bug**
DeepSpeed non-deterministic inference with HF transformers when `replace_with_kernel_inject=True`.

**To Reproduce**
[code]

**Expected behavior**
The four assertions should all pass. I found that sometime some of the assertions would pass.

**ds_report output**
[code]

**System info (please complete the following information):**
 - OS: Ubuntu 20.04.4
 - GPU count and types: o

[2022-05-12 02:22] richarddwang commented on #1896
Hi @rohitdwivedula  @tjruwase
I encountered with similar problem and I think I have found where the problem is.

This kind of problems may appear when parameter sharing are used.

I think the missing `lm_head.weight` shares parameters with and is refer to something like word embeddings 's weight ('transformer.wte.weight' here), which is a commly used trick among NLP.  Thus there is actually only o

[2022-05-12 07:43] rohitdwivedula commented on #1896
This does seem to explain this behavior @richarddwang - I tried checking the base HuggingFace/OpenAI's saved checkpoints (as well as some of my checkpoints on smaller models that I trained w/o DeepSpeed):

[code]

Thanks a lot for the help!

[2022-05-12 19:40] RezaYazdaniAminabadi commented on #1950
Hi @shijie-wu
Thanks for reporting this issue.
I pushed a fix for that, can you please try it on your side to see if it fixes the issue.
Thanks,
Reza

[2022-05-12 20:13] RezaYazdaniAminabadi commented on #1946
Hi @joehoover,

I added this PR, can you please try it and let me know if it works on your side?
Thanks,
Reza

[2022-05-12 21:13] mrwyattii commented on #1924
@flyhighzy I modified the PR to use `shlex.split`. This should fix the problem you noted with `-p 5000` being split into separate strings. One thing to note is that you will need to place a quotes around that flag. So your launch command would be:
[code]

Can you pull the latest chanes in #1933 and let me know if that works? Thanks!

[2022-05-13 06:27] flyhighzy commented on #1924
Now it works!
Thanks for the update

[2022-05-13 07:10] #1924 closed

[2022-05-13 21:26] mrwyattii commented on #1924
Thanks for testing it. We'll get this merged :)

[2022-05-14 00:04] #1940 closed

[2022-05-14 01:27] base-y commented on #1940
Sorry for the late response from my side too @tjruwase Thanks for letting me know.

[2022-05-14 02:42] #1701 closed

[2022-05-16 02:01] chinoll commented on #1687
I had the same problem when I ran deepspeed with tmux/screen

[2022-05-16 02:22] chinoll commented on #1687
deepspeed doesn't seem to load the anaconda environment variable correctly in the case of multiple nodes. For example, my ninja path is /home/xxx/anaconda3/envs/NLP/bin/ninja, but deepspeed does not add this path to the PATH environment variable.

[2022-05-16 02:25] chinoll commented on #1687
A temporary solution is to manually add the path of ninja to the PATH environment variable in the torch/utils/cpp_extension.py file

[2022-05-16 12:30] tjruwase commented on #1351
Closing for lack of response. Please re-open as appropriate.

[2022-05-16 12:30] #1351 closed

[2022-05-16 12:32] tjruwase commented on #1288
@Artyrm, apologies for the silence on this. I wanted to check if this was still an issue. Thanks!

[2022-05-16 12:35] tjruwase commented on #1923
@Sanger2000, do you have any updates on this issue? Thanks!

[2022-05-16 12:38] tjruwase commented on #1896
@richarddwang, thanks for sharing your great analysis and workaround. It seems we need to extend zero checkpointing to better handle parameter sharing.

[2022-05-16 12:48] tjruwase commented on #1893
@m3rlin45, thanks for sharing this issue and your analysis. A couple of thoughts.

1. If `embed_tokens` are shared parameters then it is possible that the parameters are still optimized and sharded, see #1896.
2. If `embed_tokens` are not trainable then they should not be shared anyway.

Do any of the above apply in this case? Thanks!

[2022-05-16 12:50] tjruwase commented on #1937
@hjkrt92, can this issue be closed? Thanks!

[2022-05-16 12:53] tjruwase commented on #1863
@skpig, apologies for the late response. You may find [this](https://github.com/huggingface/transformers/issues/16616) useful.

[2022-05-16 13:54] Artyrm commented on #1288
@tjruwase Hi!
Thank you for your efforts. I have pretty much given up with that for now. I believe, my last reports still hold true, that's all I know.
Think we should close it?

[2022-05-16 14:24] randywreed opened #1956 "Error 9 in checkpoint restart [BUG]"
**Describe the bug**
Using deepspeed with transformers to finetune a custom dataset on GPT-J model.

[code]

**To Reproduce**
Steps to reproduce the behavior:
 Ran out of space on disk.
Cleared space and restarted process.
On checkpoint reload got an error 9.

**Expected behavior**
A clear and concise description of what you expected to happen.

**ds_report output**
Please run `ds_report` to give

[2022-05-16 19:54] Sanger2000 commented on #1923
Hey @tjruwase, running deepspeed from a single machine rather than all at the same time solved this issue.

Thanks!

[2022-05-16 19:54] #1923 closed

[2022-05-17 02:10] shijie-wu commented on #1950
Hi Reza,

Thank you for the quick fix, and sorry about the delay! I tried the branch but it still failed. You can find the log [here](https://gist.github.com/shijie-wu/5a90f759555333c9444f964174c66604).

[2022-05-17 18:48] jeffra commented on #1950
Hi @shijie-wu, thanks for reporting this issue. We tested this on A100 and all seemed to be okay but we're able to reproduce the issue on V100, it seems there's a HW difference that we're attempting to track down.

[2022-05-17 18:50] jeffra commented on #1937
@hjkrt92, please re-open if this is still an issue. Thank you :)

[2022-05-17 18:50] #1937 closed

[2022-05-17 21:17] joanrod commented on #1687
@chinoll I have a similar problem. Where do you exaclty add the .../bin/ninja path in the torch/utils/cpp_extension.py file?

[2022-05-18 00:23] shijie-wu commented on #1950
Thanks you for the update! I updated the main issue to include some other failed tests on the same HW. As I don't have A100 at hand, I cannot test whether these tests would fail on A100. However, I think it's likely that the same issue also cause these tests to fail. Hopefully the additional tests could help :)

[2022-05-18 00:51] chinoll commented on #1687
![image](https://user-images.githubusercontent.com/22575232/168934972-9f250850-2130-4cc0-9adc-dc341a13d4ae.png)

[2022-05-18 05:52] lkm2835 opened #1960 "[BUG] ZeRO Stage2 and 3, error while loss backwrad"
In ZeRO stage1, it works.

I used `from_pretrained("facebook/bart-base")` as backbone in transformers==4.2.1

In ZeRO stage2, `backwad` stop working like infinite loop at some processes.

In ZeRO stage3,
[code]

Stage2 config
[code]

Stage3 config
[code]

**System info (please complete the following information):**
 - OS: Ubuntu 20.04
 - used 2 A100 GPUs, [one machines with x16 A100s each]
 - Pyth

[2022-05-18 07:30] joanrod commented on #1687
That worked, thanks a lot @chinoll

[2022-05-18 19:28] pacman100 opened #1961 "[BUG] DeBERTa has bad performance when using ZERO Stage-3 with continuous warnings "A module has unknown inputs or outputs type""
**Describe the bug**
DeBERTa has bad performance when using ZERO Stage-3 . stdout has continuous warnings
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Official HF Accelerate `run_glue_no_trainer.py` [script](https://github.com/huggingface/transformers/blob/main/examples/pytorch/text-classification/run_glue_no_trainer.py)
2. Setting up DeepSpeed Zero-3 theough command `accelerate con

[2022-05-18 19:33] pacman100 commented on #1961
@stas00, pinging you in case you have encountered this before.

[2022-05-19 06:26] dancingpipi opened #1967 "[BUG] transformer kernel: results misaligned with huggingface due to padding"
**Describe the bug**
When padding, the output of the transformer kernel is different from the output of huggingface's BertLayer

**To Reproduce**
[code]

**output：**
*max_diff: 0.09228515625*
*mean_diff: 0.0198822021484375*

**Expected behavior**
results aligned with huggingface while do padding

**ds_report output**
[code]

[2022-05-19 06:28] dancingpipi commented on #1967
the config is:
[code]

[2022-05-19 06:59] pacman100 commented on #1961
Hello Stas, Thank you for the information. I observe it with trainer too.
Steps to reproduce the behaviour:
1. Official `run_glue.py` [script](https://github.com/huggingface/transformers/blob/main/examples/pytorch/text-classification/run_glue.py) with the following change. The change is required because we are using DeBERTa-V2 XLarge model finetuned on MNLI (3 output classes) to finetune on MRPC t

[2022-05-19 07:05] pacman100 commented on #1961
I believe it has something to with DeepSpeed itself based on the warnings.

[2022-05-19 13:57] tjruwase commented on #1961
@pacman100, we made some recent changes to ZeRO 3, so I wonder if those are source of regression. Could you please v0.6.0?

[2022-05-19 17:55] anijmlt commented on #1776
@tjruwase Unfortunately I haven't been able to do this. I will close this issue for now and reopen it when I have more data.

[2022-05-19 17:55] #1776 closed

[2022-05-19 21:56] amsword opened #1969 "[BUG] Job hangs at backward"
**Describe the bug**
The job contains 512 GPUs. All processes are waiting allreduce, but one is waiting at split().

Stack for the waiting point of allreduce
[code]

trace for the split()
[code]

**ds_report output**
Please run `ds_report` to give us details about your setup.
[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.

**System info (please complete the fo

[2022-05-20 05:34] dancingpipi commented on #589
@RezaYazdaniAminabadi Can you help with this issue: https://github.com/microsoft/DeepSpeed/issues/1967

[2022-05-20 07:01] pacman100 commented on #1961
Hello @tjruwase,  Getting below error with v0.6.0:
[code]

[2022-05-20 13:49] tjruwase commented on #1961
@pacman100, thanks for the update. So, you see a totally different error with old release :(. Let's ignore the old release then. I will work on setting up a repro on my side. In the meantime, can you please check if the accuracy issue shows up on single GPU using the latest release? Thanks!

[2022-05-20 17:09] amsword commented on #1969
this problem turns out the bad node issue. it can be closed.

[2022-05-20 17:10] #1969 closed

[2022-05-20 17:10] amsword commented on #1969
bad node issue it turns out to be

[2022-05-21 05:16] stas00 opened #1971 "[BUG] load_checkpoint should load directly to gpu"
**Describe the bug**

Currently HF Transformers integration users can finetune a model and save the checkpoint with given resources. However resuming from that same checkpoint requires much more CPU peak memory - which can be huge for large models, which prevents users from resuming their finetuning. (The current workaround is to add a huge swap file)

**To Reproduce**

I reproduced it as part of

[2022-05-24 06:42] pacman100 commented on #1961
Hello @tjruwase , I tried rerunning using the latest release with multiple and single GPU(s) setup. I don't observe accuracy issue anymore (above might have used different DeBERTa pretrained checkpoint with deepspeed). Below are the plots for finetuning `microsoft/deberta-v2-xlarge-mnli` on MRPC dataset using 2 GPUs.

<img width="1103" alt="Screenshot 2022-05-24 at 12 09 21 PM" src="https://user-i

[2022-05-24 19:12] tjruwase commented on #1961
@pacman100, thanks for sharing your update. I am glad that performance problem is resolved in the latest code. I have created this #1974 to suppress the warning noise. The PR probably needs tweaking such as whether to report this warning some fixed number of times. Right now, it is complete turned off except for debugging mode. Can you please test the PR branch?

[2022-05-24 20:27] #1950 closed

[2022-05-24 20:31] fteufel opened #1975 "[REQUEST] GAN: Different learning rates and schedulers in one config for multiple .initialize() calls possible?"
Hi, I'm using deepspeed to train a model that has a discriminator. I'm following the official GAN tutorial mostly (https://www.deepspeed.ai/tutorials/gan/)

Essentially I set up the model like this
[code]
And then start it with
[code]

If I specify a scheduler in the json config as done in all tutorials, it applies to both model engines. Is there a way to specify two separate ones?

[2022-05-24 20:39] tjruwase commented on #1975
You can pass a dict using the `config` argument to `deepspeed.initialize()` just like [here](https://deepspeed.readthedocs.io/en/latest/initialize.html#deepspeed.initialize). This way you can pass separate dicts to the engines.

[2022-05-25 05:02] pacman100 commented on #1961
Hello @tjruwase, yes, the above PR is working as expected to suppress the warnings.

[2022-05-25 13:21] milad1378yz opened #1976 "partition the model"
Hi, I have a question and is: how does DeepSpeed partition the model into subparts? (especially in [inference](https://www.deepspeed.ai/tutorials/inference-tutorial/) mode)

[2022-05-25 17:19] shijie-wu commented on #1950
It works on my end. Thanks! Any ETA on releasing this patch?

[2022-05-25 19:02] shijie-wu opened #1978 "DeepSpeed Inference support for OPT"
Right now OPT (https://huggingface.co/docs/transformers/model_doc/opt) can only be supported via custom kernel injection policy. It would be great if there's official support. Thanks!

[2022-05-25 20:33] jeffra commented on #1950
It's merged into `master` now but we will release it to pypi soon (possibly later today). Keep an eye out for v0.6.5.

[2022-05-25 20:37] jeffra commented on #1950
Done :) 0.6.5 is out now on pypi

[2022-05-26 14:45] ImNoBadBoy opened #1980 "Why am I slower with 1bitlamb training than I was before I didn't use any acceleration"
Why am I slower with 1bitlamb training than I was before I didn't use any acceleration

[2022-05-26 18:05] conglongli commented on #1980
@ImNoBadBoy In order to understand what exactly you mean, (1) Please provide the training script and deepspeed config json you used (2) Please describe what baseline are you comparing with 1-bit LAMB, and how did you compare the performance (e.g., would be helpful if you could provide a throughput number you measured, and what's the hardware environment: how many gpus, nodes, what kind of network)

[2022-05-27 04:38] 520jefferson opened #1982 "[BUG] pip install deepspeed==0.6.5 failed"
1,Install 0.6.5 failed like follows:
![image](https://user-images.githubusercontent.com/5691554/170629805-a2ba6d49-efbb-46a1-9b4c-71b52bd121aa.png)

[2022-05-27 11:04] zzqq2199 opened #1983 "DeepSpeedCPUAdam triggers core dump at a specific shape (1024,) using FP16"
**Describe the bug**

I pass a tensor with shape is (1024,) and dtype is float16 to init `DeepSpeedCPUAdam`. But when I call `step()`, the program aborts.

But when the passed tensor's shape is (1024, 1024) *or* its dtype is float32, the program works perfectly ok.

**To Reproduce**
Just run the code below:
[code]

**ds_report output**
[code]

**System info (please complete the following informati

[2022-05-27 11:09] zzqq2199 commented on #1983
Output:
[code]

[2022-05-27 11:16] zzqq2199 commented on #1983
I tested some cases, found that:
1.  When the fp16 tensor is one-dimensional and the length is larger than 16, the core dump exists.
2.  When the fp16 tensor is one-dimensional and length is smaller than 8, or the tensor's dimension size is larger than 1, it works fine.
3. When the tensor's dtype is fp32, it works fine.

[2022-05-27 16:19] mrwyattii commented on #1982
Which version of pip are you using? I'm not able to reproduce this error.

[2022-05-28 01:24] 520jefferson commented on #1982
pip version 21.2.2
![image](https://user-images.githubusercontent.com/5691554/170804329-46a64f83-06c8-4b08-b116-bf4de871aad7.png)

[2022-05-28 12:36] khaotik commented on #1308
I managed to fixed this problem by compiling torch with distributed support. Setting cmake flags `USE_DISTRIBUTED=ON` fixes. `torch.distributed.is_available()` can be check availability. Would be great if DeepSeed makes `torch.distributed` dependency optional.

[2022-05-31 01:55] delock opened #1987 "[BUG] run unit test shows 'Cannot re-initialize CUDA in forked subprocess'"
**Describe the bug**
When run unit test test_zero2_reduce_scatter_off, get error message: "Cannot re-initialize CUDA in forked subprocess"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to tests/unit
2. run command 'pytest -k test_zero2_reduce_scatter_off'
3. The test would fail and see message "RuntimeError: Cannot re-initialize CUDA in forked subprocess. To use CUDA with multiprocessin

[2022-05-31 01:58] delock commented on #1987
also observed the same when using 'pip install deepspeed', which installs deepspeed 0.6.5 and get same error.

[2022-05-31 03:19] delock commented on #1987
Suspect this failure is caused by tests/unit/util.py:bf16_requried_version_check(), the torch runtime call would initialize CUDA before fork, which cause unit test to fail.
[code]

[2022-05-31 16:47] mrwyattii commented on #1982
@520jefferson I'm unable to reproduce this error. My guess is there is something wrong with your environment. Are you able to install from the DeepSpeed repo directly?
[code]

[2022-05-31 20:52] cli99 commented on #1949
Hi @LorrinWWW, thanks for catching this bug! There is a typo in the conv flops calculation. Will be fixed in https://github.com/microsoft/DeepSpeed/pull/1989.

[2022-05-31 21:39] mrwyattii commented on #1987
@delock Thanks for bringing this to our attention and doing some work to debug it. I think you are correct and I'm working on a fix. We will also add a CI workflow with the latest torch version to catch this in the future!

[2022-05-31 23:36] #1949 closed

[2022-06-01 06:01] 520jefferson commented on #1982
@mrwyattii  I run the script as you tell me , then i met the same question:
![image](https://user-images.githubusercontent.com/5691554/171337858-f1eb1199-4d1a-44aa-bb19-e3ecb08400ca.png)

[2022-06-01 14:26] antoiloui commented on #1218
Hi @chrjxj, did you find a solution?

[2022-06-01 17:02] jeffra commented on #1218
@antoiloui, are you also seeing this error? Can you share the deepspeed version you are using and the stack trace? Did you also try turning off `contiguous_gradients` and `overlap_comm`?

[2022-06-01 18:06] mrwyattii commented on #1982
@520jefferson Could you try the following and share the output? I need to see where the error is being thrown to help solve this problem:
[code]

[2022-06-02 02:16] 520jefferson commented on #1982
@mrwyattii
![image](https://user-images.githubusercontent.com/5691554/171534693-2e8cb3eb-5c9d-4bbd-81ad-b0ff9737cb34.png)

[2022-06-02 16:40] mrwyattii commented on #1987
This bug will be resolved when #1990 merges

[2022-06-02 16:40] #1987 closed

[2022-06-03 00:00] jmwoloso commented on #1926
thank you both for looking @tjruwase @SeanNaren! we can close this if you're tracking it elsewhere.

[2022-06-03 00:00] #1926 closed

[2022-06-03 12:08] Ultra11nstinct opened #1993 "question for the config in SparseSelfAttention"
Hi,
I have some questions for the use the 'key_padding_mask'.
In torch.nn.multiheadattention, the mask for keys to join local attention is set to 'False' for 'key_padding_mask', and 'True' for the keys that will not join the calculation of local attention.
If I want to avoid some attend keys in local attention, should I set 0 or 1 in the corresponding position in 'key_padding_mask' in SparseSelfAt

[2022-06-03 22:43] mrwyattii commented on #1982
@jeffra Have you seen this before? Any ideas?

[2022-06-03 23:28] jeffra commented on #1982
Very interesting errors here, I haven't seen this before. However, I do see some references to subprocess issues. I just pushed a new branch that removes our subprocess calls at install time. Can you give it a try with either of these methods?

option 1:
[code]

option 2:
[code]

[2022-06-04 03:34] 520jefferson commented on #1982
@jeffra
same error.
![image](https://user-images.githubusercontent.com/5691554/171979523-6d903b59-0731-46f0-8374-b39eb80856cd.png)

[2022-06-06 17:34] jerrymannil commented on #1722
PR #1994 created

[2022-06-06 18:39] jerrymannil opened #1995 "[BUG] Not exiting gracefully on failures from training script for multi-node runs"
**Describe the bug**
With multi-node runs using PDSH launcher, when there is a failure in the [training script](https://github.com/microsoft/DeepSpeed/blob/6719b46bd8792755cfc75eaa448bf7fa65fd99eb/deepspeed/launcher/launch.py#L78), the child training processes doesn't exit properly. This causes ssh session to wait indefinitely and doesn't return back to the pdsh command.

The issue happens due to

[2022-06-07 03:17] dancingpipi commented on #1967
Thank you very much for your attention to this issue, looking forward to your fix

[2022-06-07 03:18] amsword opened #1997 "[REQUEST] can we optimize the logic for checkpoint saving"
**Is your feature request related to a problem? Please describe.**
checkpoint saving takes lots of time. It would be great if we can optimize it.

**Describe the solution you'd like**
- I checked the time cost for this function, which takes 5 minutes for large-scale jobs. Can we remove it?
https://github.com/microsoft/DeepSpeed/blob/3678ee177886bd815c6f77e02416abaac629f76a/deepspeed/runtime/engine

[2022-06-07 18:21] amsword commented on #1997
In one test, the whole save_checkpoint() takes 427 seconds; The second create_checkpiont_file() takes 373 seconds, which is 87% of the total time. I checked a little bit on the implementation and found it seems like we can remove create_checkpiont_file(), at least for zero=1 I used. Any comment?

[2022-06-07 18:24] #1722 closed

[2022-06-07 20:10] micklemouse opened #1999 "[BUG] zero_to_fp32 ordering files incorrectly for combining shards"
**Note**
I found a bug and a fix. However, rather than directly submitting a fix and PR, I'm reporting the issue. If I have time I'll also submit a PR. However, I'm afraid patching the bug in just zero_to_fp32.py will leave it open in other places too (e.g., `deepspeed.utils.zero_to_fp32. get_fp32_state_dict_from_zero_checkpoint`).

**Describe the bug**
When combining more than 10 shards (ZeRO Sta

[2022-06-07 20:23] micklemouse commented on #1999
A simple grep suggests someone needs to look carefully at
./runtime/zero/contiguous_memory_allocator.py:            empty_addresses = sorted(self.contiguous_sizes.keys())
That file has two instances of using sorted on keys. Maybe this also needed the sorted_nicely() command?

[2022-06-08 01:39] lanking520 opened #2001 "[BUG] Cannot run DeepSpeed with transformers"
**Describe the bug**
Cannot run DeepSpeed with transformers on the ubuntu 20.04 with single GPU. GPU: NVIDIA T4

Error:

[code]

**To Reproduce**

### Create container
[code]

### Inside container

[code]

### Code to run

Grab the code from tutorial: https://www.deepspeed.ai/tutorials/inference-tutorial/#:~:text=DeepSpeed%2DInference%20introduces%20several%20features,to%20reduce%20latency%20for%2

[2022-06-08 20:46] KMFODA opened #2002 "[BUG] RuntimeError: start (0) + length () exceeds dimension size (1)."
**Describe the bug**
I'm trying to get deepspeed zero-infinity to run using NVME offloading. I initially got an assertion error which I believe is similar to this [AsyncIO Error](https://github.com/microsoft/DeepSpeed/issues/1070). I followed the guidelines in this thread and reduced the max_in_cpu size to be a multiple of 512 and I manage to no longer receive this error however I now receive the

[2022-06-08 21:11] jeffra commented on #2001
Hi @lanking520, I just tried all your repro steps above and was not able to repro the stack trace.  Can you confirm what `transformers` version you are using? I tried w. 4.19.2. I don't currently have access to a T4 to test there but I tried on A6000, A100, and V100 and all ran okay. I am trying to get a T4 to test there and will report back.

[2022-06-08 21:15] jeffra commented on #2001
Also, just to double check, you can run fine if you remove `deepspeed.init_inference` right?

[2022-06-08 22:36] stas00 opened #2003 "[BUG] leaner CPU memory allocations with cpu offload"
**Describe the bug**

As the models get huge offloading is becoming more and more a thing, especially with inference. This Issue discusses inference, so it's quite simple moving blocks-wise - no optimizer states to deal with.

I think deepspeed cpu offload consumes more cpu memory than it should. I use `/usr/bin/time` for a reliable max cpu memory usage measurements. Here is how I invoke the progr

[2022-06-08 23:46] lanking520 commented on #2001
@jeffra Here is the pip list

[code]
After commenting the `deepspeed.init_inference`, the problem just gone

[code]

Do you think this might be related to the NVLink support?

[2022-06-08 23:47] lanking520 commented on #2001
@jeffra I will also try to switch to V100 and see if I can reproduce the same issue

[2022-06-09 00:54] RezaYazdaniAminabadi commented on #2001
@lanking520,

Thanks for trying this on multiple GPUs, I will try this on my end to see what the issue is. I will let you know once I fix it.
Regarding T4 machine, could you please try this with half-precision too and see if the issue persists? This kind of issue normally happens when there is some memory-allocation issue. I will look closer and let you know.

Best,
Reza

[2022-06-09 08:02] wangleiofficial commented on #1051
Hello，how to use dynamic batch in ddp, can you give an example. due to the dynamic batch size, the number of batches allocated by different ranks is inconsistent. This is what makes different ranks unable to communicate in DDP. Are there other solutions？

[2022-06-09 13:02] tjruwase commented on #1051
@ecly, I am also interested in your dynamic batch in ddp. If you can share some client code with us, that would help with DeepSpeed support. Thanks!

[2022-06-09 17:44] Sleepychord opened #2005 "Is it possible to not print the deepspeed configuration? It is too long."

[2022-06-09 17:53] tjruwase commented on #2005
Sure, we can add an option to suppress. Will that work?

[2022-06-09 22:19] KMFODA opened #2006 "[BUG] buffer nbytes != file bytes when using DeepSpeed and NVME offloading"
**Describe the bug**
Running DeepSpeed with NVME offloading using the following config file results in the following error even though as per this [issue](https://github.com/microsoft/DeepSpeed/issues/1070) the buffer size is set as a multiple of the bucket size:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone https://github.com/huggingface/transformers.git`
2. huggingface

[2022-06-09 22:54] stas00 commented on #1971
As this problem is recurrent for HF Transformers' users - meanwhile I shared a hack to stagger checkpoint loading for those who need here:
https://github.com/huggingface/transformers/issues/17534#issuecomment-1151693075
if you're not using HF Trainer you can patch deepspeed's `load_checkpoint` directly.

[2022-06-09 23:14] jerrymannil commented on #1995
Using Popen.terminate() alone is not sufficient here. We have to try to gracefully terminate the process tree (the process and all its children). Do a KILL only if the TERMINATE was not successful

[2022-06-10 01:29] tjruwase commented on #2003
@stas00, I am leaning towards this being an artifact of cache management. After stepping through the code for w/o offload, this cpu allocation seems to just magically appear. We can sync on this if that will be helpful.

[2022-06-10 02:16] stas00 commented on #2003
I guess we could do a simple validation there and simply allocate a 10GB tensor on CPU. If "Maximum resident set size" remains the same - so adding:
[code]
and exiting after it.

[2022-06-10 02:18] stas00 commented on #2003
Looks fantastic! That's some serious savings!

[2022-06-11 14:35] stas00 opened #2010 "[BUG] Impossible to prebuild w/o having at least one gpu"
**Describe the bug**

The goal is to cross-compile on a VM that has no GPUs for other VMs that have GPUs (preparing docker images for CIs). Currently the prebuilding fails.

**To Reproduce**
Steps to reproduce the behavior:

Normally when gpus are enabled all work., Now let's emulate no GPUs installed by adding `CUDA_VISIBLE_DEVICES=` and repeat the same prebuild command - and then it fails.
[code

[2022-06-11 14:53] stas00 commented on #2010
So the problem comes from: `torch.cuda.is_bf16_supported()`

Do we have to run it during prebuild? e.g. this solves the problem

[code]

[2022-06-11 15:50] tjruwase commented on #2002
@KMFODA, can you please simplify the repro steps as they are not working for me.

1. Step 2 does not work for me can you remove from the repro?

2. Without step 2 I get the following authentication error
<img width="472" alt="image" src="https://user-images.githubusercontent.com/4271600/173194598-ac50d645-d809-4ee7-ad6b-f71a452f905f.png">

[2022-06-11 16:29] KMFODA commented on #2002
Hey @tjruwase thanks ever so much for looking into this. Apologies there was a typo in step 2 which I’ve edited to:

huggingface-cli login

this should now work. I’ll try and think of a simpler way to repro but for now this should work.

much appreciated.

[2022-06-11 16:46] alecl commented on #1580
Looks like pytorch released support.

[2022-06-13 03:13] wangleiofficial commented on #1051
@tjruwase  infinibatch may be a good choice for the dynamic batch in ddp.  Notice, Dataset with the DistributedSampler may be better than infinibatch  for validation set.

[2022-06-13 09:01] ecly commented on #1051
Hey @tjruwase and @wangleiofficial

As my original question is starting to be a bit old, I think I perhaps need to retest on a newer version of `DeepSpeed` to confirm that it's still the case. But nonetheless, I'll share a bit more details below.

The idea is just that we limit batches in the number of total tokens in the batch (to provide a similar amount of signal for learning in each minibatch)

[2022-06-14 13:52] tjruwase commented on #2002
#2016 should fix the buffer management issue. However, your current `resuse_distance` setting is too high and leads to running out of swap buffers. So, I recommend reducing to something like 1e8. Thanks!

[2022-06-14 14:08] tjruwase commented on #2006
@KMFODA, can you repro with #2016?

[2022-06-14 15:55] KMFODA commented on #2002
Can't thank you enough for this @tjruwase! Whilst these PRs get merged I'm trying to build them locally so I can test that they work. After following the local build instructions [here](https://huggingface.co/docs/transformers/main_classes/deepspeed#installation) I get the following error when running `deepspeed` or `DS_report`:

[code]

Any ideas what I might be doing wrong? Happy to open up a se

[2022-06-15 10:14] pacman100 opened #2019 "[BUG] Error when enabling fp16 config with tasks involving FloatTensor Inputs such as Image Classification, Speech Recognition ..."
**Describe the bug**
Following runtime error when enabling `fp16` config with tasks involving FloatTensor Inputs such as Image Classification, Speech Recognition ...
[code]
This is happening because `self.module.half()`  is called in `_configure_distributed_model` when initializing `DeepSpeedEngine` object. For language model, this didn't create any issues as the input was `LongTensor` to embeddin

[2022-06-15 10:15] pacman100 commented on #2019
Including similar issue raised in accelerate repo [#443](https://github.com/huggingface/accelerate/issues/443)

[2022-06-15 11:39] KMFODA opened #2020 "[BUG] AttributeError: module 'deepspeed' has no attribute 'utils' when installing DeepSpeed from source"
**Describe the bug**
When installing deepspeed from Github rather than using `pip install deepspeed` I get the below error. I've traced this back to commit `6ad3119d5420c6b25b456626a40f4ded8c05a81`. Before this commit running [these instructions](https://www.deepspeed.ai/tutorials/advanced-install/) works whereas from this commit onwards I get the below error:

[code]

**To Reproduce**
Steps to re

[2022-06-15 11:40] KMFODA commented on #2002
The issue mentioned in my previous comment is a separate bug which I've logged under https://github.com/microsoft/DeepSpeed/issues/2020. Will test this specific fix out as soon as that's fixed. Thanks!

[2022-06-15 16:15] KMFODA commented on #2020
I get the same error with a virtual environment unfortunately. If it helps I'm running this on a VM set up in ovhcloud. I think this might be an error related to how some of the subdirectories are being imported. I made these changes on [my fork](https://github.com/KMFODA/DeepSpeed/tree/fix_imports) and they fixed this error.

Essential replacing imports such as:

[code]

with:

[code]

not sure i

[2022-06-16 06:05] lkm2835 opened #2022 "[BUG] generate() with do_sample isn't done on multi-GPUs Stage3 at T5ForConditionalGeneration"
**Describe the bug**
In multi-GPUs, finished `generate()` only 1 GPU.

But, when I used 1 GPU, it works well.

This bug happens with [T5ForConditionalGeneration](https://github.com/huggingface/transformers/blob/main/src/transformers/models/t5/modeling_t5.py#L1456) but doesn't happens with [GPT2LMHeadModel](https://github.com/huggingface/transformers/blob/main/src/transformers/models/gpt2/modeling_

[2022-06-16 15:29] vishalghor opened #2023 "[BUG] Unable to access the model passed to engine using dot operator"
**Describe the bug**
I believe when passing various arguments to a call as init, one would like to reference or use the passed argument such as model which is a torch.nn.module type for either using it view the model params and analyse and optimizer for similar purpose.
But if one tries to access the model as engine.model it enters into a infinite recursion-error due to getattr
**To Reproduce**
St

[2022-06-16 15:57] thechargedneutron opened #2025 "DeepSpeed with SLURM"
Hi, I am trying to run DeepSpeed on SLURM with multiple nodes and multiple GPUs on each node. I was referring to this example [here](https://nlp.stanford.edu/mistral/tutorials/deepspeed.html). I am not sure how we can specify the address of all the machines that will be allotted to me when submitting a SLURM script.

I have my task.sbatch file as this

[code]

I have two questions
1. How do I know

[2022-06-16 16:16] mrwyattii commented on #2025
Hi @thechargedneutron I have not run DeepSpeed with SLURM and don't have access to a cluster running SLURM to try it out. Could you start an interactive session and try launching DeepSpeed? If you share the output, I might be able to help you.

To launch an interactive session you will need to do something like:
`salloc --nodes 2 --gpus-per-node 8` (but you may need to refer to system-specific slu

[2022-06-16 16:25] stas00 commented on #2025
I couldn't make it work with the `deepspeed` launcher, but it's working just fine with torch's launcher, please see how we launch it here:
Please see https://github.com/bigscience-workshop/bigscience/blob/master/train/tr11-176B-ml/tr11-176B-ml.slurm

[2022-06-16 16:49] mrwyattii commented on #2023
Hi @vishalghor , please take a look at https://github.com/microsoft/DeepSpeed/blob/c87f6ee209e2fed141ac4e2e28d4169f159ea487/deepspeed/runtime/engine.py#L172

You will see that `DeepSpeedEngine` is inheriting from `torch.nn.modules.Module`. This class does not have a `model` attribute. You can see all the attributes/methods it has using your Engine Wrapper setup:
[code]

For example, printing `engi

[2022-06-16 16:58] vishalghor commented on #2023
@mrwyattii thank you for the explanation. So inorder to save the model,load a model, or access the state_dict can users just do engine.state_dict? Is this correct?

[2022-06-16 17:41] mrwyattii commented on #2023
Correct, but depending on what you want to do you may find it more convenient to use the `load_checkpoint` and `save_checkpoint` methods of `DeepSpeedEngine`. You may find some helpful examples in the DeepSpeedExamples repo, like this one: https://github.com/microsoft/DeepSpeedExamples/blob/master/HelloDeepSpeed/train_bert_ds.py

[2022-06-16 19:56] KMFODA commented on #2020
yes of course just submitted https://github.com/microsoft/DeepSpeed/pull/2026

[2022-06-16 21:10] thechargedneutron commented on #2025
@stas00 Thanks! Torch's launcher is working perfectly fine! I can now run multi-gpu multi-node code with deepspeed optimization (feeling powerful!). Thanks @mrwyattii @jeffra

[2022-06-16 21:10] #2025 closed

[2022-06-17 01:54] lkm2835 commented on #2022
### **Reproduce**

main code
[code]

config
[code]

script
```deepspeed --include localhost:7,8 --master_port 60500 rlhf_client.py --deepspeed --deepspeed_config "config/stage3_offload.json"```

[2022-06-17 01:56] lkm2835 commented on #2022
[code]
GPU 8 is done But GPU 7 is not done.

[2022-06-17 04:57] lkm2835 commented on #2022
[code]
I find that `do_sample` = False works well.
But I need `do_sample` = True.

[2022-06-17 10:40] KMFODA commented on #2002
Thanks @tjruwase, this seems to be working now! Weirdly though it also works when on the main branch as well which doesn't have these changes. Can't explain what happened to fix this. Nonetheless really appreciate all your help with this!

[2022-06-17 10:41] KMFODA commented on #2006
This seems to have been fixed. Will close for now and re-open if I it ever re-occurs.

[2022-06-17 10:41] #2006 closed

[2022-06-17 10:54] mrseeker commented on #2010
Having this issue too is preventing me from building new containers based on the latest version.

[2022-06-17 23:39] comaniac commented on #1978
I have the same requirement so I wrote a custom policy for OPT and it seems working (i.e., the inference engine was initialized successfully and I could see some `nvcc` commends which were for fused kernel compilation I guess?)

However when actual performing the inference, I got an error:

[code]

I dived into the code and found that this is because of the argument mismatch between the following

[2022-06-18 19:36] buttercutter opened #2029 "DeepSpeed initialization with GNN-like model"
My code is quite similar to some GNN structure : [NN_output = graph.forward(NN_input, types="f")](https://gist.github.com/buttercutter/b6f526c56e20f029d68e6f9041c3f5c0/3d1a3e6844680545fb8b75225267ea625ba9df5b#file-gdas-py-L665)

So, [outputs = model_engine(inputs)](https://github.com/microsoft/DeepSpeedExamples/blob/36212dd59cb3eb342c39bc8965aaba04d5491933/cifar/cifar10_deepspeed.py#L281) seems do

[2022-06-20 02:39] chrjxj commented on #1218
no... switched to another tasks...

[2022-06-20 06:45] hyhuang00 opened #2030 "[BUG] Running DeepSpeed with MoE inference leads to CUDA illegal memory access and NaN activation"
**Describe the bug**
I tried to use the DeepSpeed package to run inference with MoE model checkpoints, but running the model leads to a CUDA error of illegal memory access. This error always happens when the model executes to the 8th/9th layer. At the mean time, any activation after the 3rd layer will become NaN.

[code]

**To Reproduce**
I substituted the command "run_cmd" with "deepspeed generat

[2022-06-20 07:47] zzqq2199 commented on #1983
Anyone? Can this be fixed?

[2022-06-20 10:44] dancingpipi commented on #1967
@RezaYazdaniAminabadi  Take the liberty to ask, is there any progress on this issue?

[2022-06-20 15:15] #2023 closed

[2022-06-20 15:23] #2020 closed

[2022-06-20 15:32] #2002 closed

[2022-06-20 15:51] Muennighoff opened #2031 "Reshape ZeroStage=0 FP16 Checkpoint"
What is the best way for reshaping a checkpoint trained with zero stage = 0 & fp16?

I see two options:
a) Continue training with zero stage 1 & adapt [this PR](https://github.com/microsoft/DeepSpeed/pull/1953) to work with fp16
b) Adapt [the script here](https://github.com/bigscience-workshop/Megatron-DeepSpeed/pull/239/files#diff-ecfdbe3a107133adc51e3f7c5d73ef006d6b06bd18bfc16ecb4708834e6fdc97)

[2022-06-20 17:53] tjruwase commented on #1983
Apologies for the delay. It seems we somehow missed this issue. We will take a look.

[2022-06-20 17:58] tjruwase commented on #2031
@Muennighoff, thanks for your question. Can you please clarify a bit more because `zero_stage=0` actually disables ZeRO and is pure DDP. The only reshaping needs that I can imagine in such cases will be due to tensor parallelism or pipeline parallelism.

[2022-06-20 18:03] Muennighoff commented on #2031
Yes there's no ZeRO used only TP (based on Megatron) & PP. The TP is based on the Megatron-DS implementation. Specifically, I am looking at a TP=4, PP=4 model. Based on my understanding I need to change the layer files due to TP & the  mp files due to TP & MP.

How would you go about it?

[2022-06-20 18:35] tjruwase commented on #2031
Great. Thanks for the clarification. Also, do you need reshaping of just the model weights or also of the optimizer state? The reshaping logic you reference is split across bigscience/megatron-deepspeed and deepspeed, very new, and only tested with bf16 + pipeline parallelism + zero stage1.

In terms of your proposed options, I feel (b) is more straightforward and thus easier. Option (a) will requ

[2022-06-20 18:44] Muennighoff commented on #2031
Yes, I need continue training in the new shape, so I think I will also need to reshape the optimizer states. I will continue training with zero stage 1, however.

Thanks for your thoughts! I will work on (b) then. I think I only need to figure out how to merge the optimizer states in the mp_rank files correctly.

[2022-06-20 22:08] RezaYazdaniAminabadi commented on #1983
Hi @zzqq2199

Sorry for the slow reply here.
Could you please try this PR to see if it fixes the issue?
Thanks,
Reza

[2022-06-21 00:53] luckyq opened #2033 "Is there any performance evaluation on using NVMe SSD?"

[2022-06-21 00:54] #2033 closed

[2022-06-21 00:54] luckyq opened #2034 "About the performance of Using NVMe SSd."
I am curious about the how much time it needs for the parameter updating part if we use SSD.

I notice that the data transfer will be overlapped between pulling data from SSD and pushing data into SSD.
But will the data transfer still be the big problem in this part?

Thanks in advance.

[2022-06-21 01:22] tjruwase commented on #2034
You may find this discussion helpful: #998

[2022-06-21 13:00] Neleon opened #2036 "The result of "params of model" in profiler is miscalculated.[BUG]"
In flops_profiler/profiler.py, Line290 and Line299, both the result are 1, see screenshot below.

![Dingtalk_20220621205517](https://user-images.githubusercontent.com/54237687/174804313-86c2b533-db41-46c9-a1b8-2ece4ea7bc24.jpg)

original code:
[code]

fixed code:
[code]

[2022-06-21 14:57] SuhitK opened #2037 "Upgrading to Deepspeed v0.6.5 causes higher GPU memory usage"
Hi,

I am trying to train a 10B GPT-2 model with Huggingface and Deepspeed. This is the deepspeed configuration I am using:

[code]
In addition, I also have `gradient_checkpointing` enabled via the HuggingFace API. This configuration runs out of memory during the first forward pass through the model.
When I had previously run the same configuration with Deepspeed v0.3.16, I was not facing this iss

[2022-06-21 15:25] mrwyattii commented on #2036
@Neleon You are correct, that print statement is wrong! I'll add a PR to correct this and get it merged. Thanks

[2022-06-21 17:58] anijmlt commented on #1776
@luckyq it was 8 SSDs

[2022-06-21 22:28] hyhuang00 commented on #2030
Here is a screenshot created by the same script with different precision. On the left is the results of a dense layer given FP32 and the right is the results of a dense layer given FP16, with --dp-inference enabled. The qkv calculated from the ds_qkv_gemm are incorrectly masked as 0s.
<img width="1834" alt="Screen Shot 2022-06-21 at 10 47 14 AM" src="https://user-images.githubusercontent.com/16739

[2022-06-21 23:03] hyhuang00 opened #2039 "Is the hierarchical all-to-all communication primitive released in the current version?"
Section 5.3 of the [article](https://arxiv.org/pdf/2201.05596.pdf) describes that the DeepSpeed-MoE implements a hierarchical all to all communication primitive that reduces the amount of instances through local communication and reshape. However, in the two cases I found ([here](https://github.com/microsoft/DeepSpeed/blob/678c3fe3308e666a40baeea3f84be0e5d7aba7c4/deepspeed/ops/transformer/inferenc

[2022-06-22 04:02] zzqq2199 commented on #1983
Thank you very much! After testing, CPU-Adam is now working very well and has been able to train GPT/Bert models using fp16.
I see from the commit log that you solved the bug very quickly, great code ability!

[2022-06-22 17:53] RezaYazdaniAminabadi commented on #2030
Hi @hyhuang00
Thanks for catching this. I will look into this. Can you please provide me the script you are using to run this?
-Reza

[2022-06-22 17:55] awan-10 commented on #2039
@hyhuang00 -- thank you for your interest in DeepSpeed-MoE. We have not yet released the hierarchical all-to-all communication primitive. It may become part of a future release but we do not have an ETA for this yet.

[2022-06-22 17:56] RezaYazdaniAminabadi commented on #1967
@dancingpipi, sorry I was sick and now I am back and will take care of this. I will let you once I prepare the PR.

[2022-06-22 21:56] hyhuang00 commented on #2030
Sure, here is the script I'm using.

[code]

I made some modification to deepspeed/module_inject/replace_module.py to ensure the args and flags are respected by the deepspeed.init_inference() function.

[2022-06-22 22:24] hyhuang00 commented on #2019
Got the same error here. Seems like the initialization will ignore the fp16 setting in some cases.

[2022-06-23 02:57] dancingpipi commented on #1967
@RezaYazdaniAminabadi Take care, health first.

[2022-06-23 04:39] sayakpaul commented on #1773
@stas00 thanks for providing such comprehensive answers.

Regarding the support for bf16, I thought it's still experimental within HF Trainer (from [here](https://huggingface.co/docs/transformers/main_classes/deepspeed#bf16))?

Regarding the `ratio` being too deep in https://github.com/microsoft/DeepSpeed/issues/1773#issuecomment-1042548726, what's a sensible value here?

[2022-06-23 14:21] xiazeyu opened #2046 "[BUG] AttributeError: 'NewGELUActivation' object has no attribute '__flops__'"
**Describe the bug**
When running https://github.com/microsoft/DeepSpeedExamples/tree/master/autotuning/hf/gpt2, it throws AttributeError: 'NewGELUActivation' object has no attribute '__flops__'

**To Reproduce**
./test_tune.sh tune

**Expected behavior**
Runs successfully

**ds_report output**
[2022-06-23 22:20:46,880] [WARNING] [partition_parameters.py:60:<module>] unable to find torch.distribut

[2022-06-23 19:48] joehoover commented on #1946
@jeffra , sorry for the delay. I just confirmed that I am able to initialize the InferenceEngine.

Thanks!

unfortunately, I'm now noticing strongly divergences between Transformers GPT-J outputs and GPT-J InferenceEngine outputs. I'll open another issue, but just for reference:

[code]

Returns:
[code]

However,

[code]

Returns:
[code]

[2022-06-23 19:55] joehoover opened #2048 "[BUG] GPT-J InferenceEngine outputs diverging from base GPT-J"
**Describe the bug**
The GPT-J InferenceEngine returns low-quality outputs that diverge from the base model.

**UPDATE**

I rolled back to the versions we have in production and confirmed that GPT-J and GPT-J InferenceEngine return identical outputs. I have not tested any later versions, so I can't provide any info, at the moment, about when the bug was introduced (or where it's caused exists).

S

[2022-06-23 23:10] RezaYazdaniAminabadi commented on #2048
Hi @joehoover ,

I ran this with the master branch and I see the following output:
`
[{'generated_text': 'All happy families are alike, but each unhappy family is unhappy in its own way.\n\n—Leo Tolstoy\n\nI’m not sure if I’m a happy person. I’m not sure if I'}]`

I also see the same output when running several times with `do_sample=False`.
Can you please test this on your side with the latest dee

[2022-06-24 14:50] joehoover commented on #2048
Hey @RezaYazdaniAminabadi , thanks for looking into this.

Something seems weird...are you using the fp16 weights? The issue I described above aside, I'm getting consistently different results from you even from the baseline model.

[code]

Returns:

I also installed DeepSpeed from main and observed the same output as above.

I'm going to run some of the GPT-J Transformers unit tests and see if I

[2022-06-24 19:27] aphedges commented on #2010
This is preventing me from installing DeepSpeed, so I decided to pick it up.

Most of the contents of `torch_info` are obtained from the `torch.version` module, which is a `version.py` file that appears to be generated when the wheel is. DeepSpeed gets `nccl_version` from `torch.cuda.nccl.version()`, which appears to be decided at compile time: <https://github.com/pytorch/pytorch/blob/55aa0b1a840e

[2022-06-25 00:29] luckyq opened #2052 "Can we use deepspeed without avaiable GPU?"
Supposed I dnonot have GPU, can I still use Deepspeed for training?

[2022-06-25 11:01] ImNoBadBoy opened #2054 "MoQ problem"
I got an error using MoQ on ROCM environment on AMD GPU
error：
‘’‘
Traceback (most recent call last):
  File "train_deepspeed.py", line 694, in <module>
    main(args)
  File "train_deepspeed.py", line 554, in main
    warmup=False, scaler=scaler, fp16=fp16)
  File "/public/home/gh/cnn/train_utils/train_deepspeed_utils.py", line 69, in train_one_epoch_deepspeed
    model_engine.step()
  File "/pub

[2022-06-26 02:30] fade-color opened #2055 "`ds_report` command shows `[FAIL] nvcc missing`"
I am getting `nvcc missing` when executing `ds_report` instruction
But `nvcc --version` can print the following information:
[code]
`nvidia-smi` shows：
[code]
My environment is `pytorch==1.7.1+cu110` and `deepspeed==0.6.5`
I would like to know what is causing this error? Thanks!

[2022-06-26 22:50] taoisu opened #2056 "[BUG] Recommended way to implement EMA"
**Describe the bug**
A clear and concise description of what the bug is.

Hi deepspeed team, I have some code that uses exponential moving average (EMA) for training a UNet model, the code relies on the named_parameters() and parameters() of the model to store and update the params, the simplified impl is like below:

[code]

When using deepspeed, the `.parameters()` and `.named_parameters()` all

[2022-06-27 03:24] taoisu opened #2057 "[BUG] Memory leak using zero stage 3, CUDA out of memory after training several minutes"
**Describe the bug**

I'm using pytorch_lightning with deepspeed to train a ddpm model, the training started with ~6G GPU memory used, but it keeps increasing as the training continues, after about ~100 steps the memory usage increased to more than 11G, causing CUDA out of memory issue on my 2080ti card.

**To Reproduce**
Steps to reproduce the behavior:
1. Git clone CLIP repo & install: `git clon

[2022-06-27 08:39] #2055 closed

[2022-06-27 10:56] TheLustriVA commented on #754
Does this mean DeepSpeed and therefore gpt-neox won't run on cards like the 3090?

[2022-06-27 19:54] thechargedneutron commented on #2025
@stas00 The above given slurm script is working fine with huggingface trainer but now if I want to try native pytorch trainer, I am running into issues.

With DistributedDataParallel, it gives an error `Default process group has not been initialized`. I can see MASTER_ADDR and MASTER_PORT and other variables required to run DistributedDataParallel but that does not seem to be enough. I already loo

[2022-06-27 22:41] stas00 commented on #2031
Yes, once bf16/z0 PR is merged we can look at fp16/z0 next.

The other approach is to:

1. start with a random optim states
2. run for some steps with LR=0 to let the optimizer catch up
3. resume training with normal LR

The details and math of how many steps to run are in the 104B chronicles, I can dig up the link if you want to explore this option.

[2022-06-27 23:14] stas00 commented on #1773
I have only been using bf16 with https://github.com/bigscience-workshop/Megatron-DeepSpeed and it's fantastic for huge models.

with HF Trainer I haven't had a chance to do any serious training with bf16 so I don't know.

The format is superior to fp16 because of its much bigger dynamic range and thus no overflows, now the various implementations could make it or break it. e.g. fp16 grad accumulat

[2022-06-28 01:01] lkm2835 commented on #2022
@tjruwase

Could anyone give me a feedback?

[2022-06-28 09:30] kisseternity opened #2060 "[BUG] import deepspeed error when building from source"
In the latest release v0.6.5, I build from source using
 _pip install ._
in the DeepSpeed directory, installed successfully.
However, when I use it with Megatron,
_import deepspeed_
reports error as shown:
Traceback (most recent call last):
  File "pretrain_bert.py", line 23, in <module>
    import deepspeed
  File "/opt/conda/lib/python3.8/site-packages/deepspeed/__init__.py", line 13, in <module

[2022-06-28 09:31] tomeras91 opened #2061 "[BUG] Unpopulated entries in transformer `key` and `value`"
**Describe the bug**
Running a forward pass on a `DeepSpeedTransformerInference` layer, when setting `get_present=True`, results in wrong outputs for `key` and `value`. These tensors don't hold the correct self attention keys and values for that layer. Instead, they contain a lot of zeros.

**To Reproduce**
Here is a minimal reproducible example that shows the bug:
[code]

**The output I got is:**

[2022-06-28 10:39] tomeras91 opened #2062 "[BUG] Illegal memory access CUDA error when using long sequences"
**Describe the bug**
Running a forward pass on a `DeepSpeedTransformerInference` layer, with a sequence length of ~1000 tokens, results in an illegal memory access CUDA error.

**To Reproduce**
Here is a minimal reproducible example that shows the bug:
[code]

**Running the code resulted with the following exception**
[code]

**Expected behavior**
I was expecting to get a correct output, without t

[2022-06-28 13:20] kisseternity opened #2063 "[BUG]DeepSpeed Comm. Backend not compatible with outside torch.distributed module"
**Describe the bug**
Recently I have been integrating DeepSpeed into Megatron v3.
However I find that the new DeepSpeed Comm. Backend introduced in the next pr seems not compatible with the outside torch.distributed module. Is there any plan for the compatibility for that?

[DeepSpeed Comm. Backend v1 #1985](https://github.com/microsoft/DeepSpeed/pull/1985)

[2022-06-28 16:00] mrwyattii commented on #2062
@tomeras91 I can confirm that I'm able to reproduce this error. I don't think it has anything to do with `MAX_OUT_TOKES`. @RezaYazdaniAminabadi could you take a look at this?

[2022-06-28 16:05] mrwyattii commented on #2060
@kisseternity Are you able to run if you install from pypi (`pip install deepspeed==0.6.5`)?

I've seen a similar issue in the past and it was likely due to the symlinks we create in `setup.py` - but I haven't been able to reproduce it in any system / environment I have access to.

[2022-06-28 16:11] RezaYazdaniAminabadi commented on #1967
Hi @dancingpipi

I finally get some time to test this on my side.
So, I modified your script a bit so that I inject the transformer kernel without passing the weights and biases to it. This will automatically copy all the tensors to run the module with transformer kernel. Here is the script:
[code]

After running the test with both FP32 and FP16, I see very close results between baseline and DeepS

[2022-06-28 16:14] #1983 closed

[2022-06-28 16:18] PanQiWei commented on #2048
Hi, I was also came into the similar problem that GPT-J with deepspeed generated worse than the original one. While the different is that when using the prompt above (`All happy families are alike, but `) or any other prompts whose tokens length are short, I can always get the exactly same outputs of the original one and the deepspeed one, but once I increase the length of the prompt, the divergen

[2022-06-28 16:42] RezaYazdaniAminabadi commented on #2062
Hi @tomeras91

Thanks for reporting this issue. I will look into this.
@mrwyattii, thanks for reproducing this. Yes, I think the issue is probably somewhere else.
Thanks,
Reza

[2022-06-28 17:10] #2052 closed

[2022-06-28 17:25] Quentin-Anthony commented on #2063
Currently, the DeepSpeed comm. backend `deepspeed.comm` from https://github.com/microsoft/DeepSpeed/pull/1985 is a full wrapper around `torch.distributed`, and is fully compatible with external calls to torch.distributed.

Please open an issue if you face errors when mixing `torch.distributed` and `deepspeed.comm`.

[2022-06-28 20:46] joehoover commented on #2048
@PanQiWei , could you share a reproducible code chunk? I'd like to see if we're getting the same outputs and if I can reproduce your observations.

Also, just to confirm, you observe this specifically when you increase the length of the _prompt_, but not when you generate more tokens, given a prompt?

[2022-06-29 02:01] kisseternity commented on #2063
I've tried the v0.6.5 version and it's okay to run. However, using the master code and built from source the issue happens.
Not sure if the difference between two versions causes this. But I can use the release version to avoid this. Thanks

[2022-06-29 11:36] BrigandRo opened #2066 "[BUG] Can't install DeepSpeed, Unable to pre-compile sparse_attn"
**Describe the bug**
I can't install DeepSpeed, at `DS_BUILD_OPS=1 pip install deepspeed` throws `[ERROR]  Unable to pre-compile sparse_attn`

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Error log**
[code]

**ds_report output**
`ds_report: command not found`

**System info:**
 - OS: Ubuntu 20.04.4 LTS   focal
 - Conda: 4.12.0
 - Python: 3.7.14
 - Pip: 22.1.2
 - Torch: 1.12.0

[code

[2022-06-29 11:50] tomerip commented on #1797
Just wanted to update, issue still exists in v0.6.5

[2022-06-29 16:22] mrwyattii commented on #2066
@BrigandRo the warning message tells you what you need to do:
`[WARNING]  please install triton==1.0.0 if you want to use sparse attention`

`pip install triton==1.0.0`

[2022-06-29 16:23] mrwyattii commented on #2063
@kisseternity could you please share what issue you are having when building from source?

[2022-06-29 16:28] mrwyattii commented on #2060
@kisseternity thanks for sharing! I think the issue is stemming from symbolic links we create in `setup.py` - but I'm unable to reproduce this behavior in my own environment. Could you share what OS you are using and what shell you use?

If you are running linux, you can share the output of:
[code]

[2022-06-29 18:53] BrigandRo commented on #2066
@mrwyattii You are right, thanks.

[2022-06-29 18:53] #2066 closed

[2022-06-30 03:24] kisseternity commented on #2060
FYI
![image](https://user-images.githubusercontent.com/15059072/176586122-e65f683a-cb7d-4481-a1a3-5f09078082ee.png)

[2022-07-01 02:35] dancingpipi commented on #1967
@RezaYazdaniAminabadi Thanks a lot!
I found that the cause of the diff was that I didn't set the mask to fp16.
Sorry for wasting your time

[2022-07-05 06:21] assij commented on #1835
Hi,
Using https://github.com/microsoft/Megatron-DeepSpeed for pipeline  + zero1 + bfloat16 Deepspeed doesn't work.

When using the script in examples/run_deepspeed_example.sh with Zero1 and bfloat16 ( the script works with fp16) I get the following error:
File "/opt/conda/lib/python3.8/site-packages/deepspeed/runtime/pipe/engine.py", line 768, in _exec_backward_pass
self.optimizer.clear_lp_grads()

[2022-07-05 08:03] tjdgh0715 opened #2069 "Question about DDP error in DeepSpeed"
Hello, Thanks for the excellent work. I opened the ticket to get some support for my issue.
I have some issues when running DeepSpeed with DDP in my environment.

I was trying to evaluate the performance of Progressive Layer Dropping system by launching <https://github.com/microsoft/DeepSpeedExamples/blob/master/bing_bert/deepspeed_train.py>.
I have configured the BERT-base model and DeepSpeed con

[2022-07-05 20:36] owmohamm opened #2071 "[BUG] FP16 used for all reduce even if BFLOAT16 is enabled"
Even if BFLOAT16 is enabled, unless the communication datatype is also explicitly set to bfp16, fp16 is still used: https://github.com/microsoft/DeepSpeed/blob/9b70ce56e7af89d5226f9b06ebe1137407f371dc/deepspeed/runtime/engine.py#L702-L711

Moreover in zero, even if the communication datatype is set to bfp16 at some place the default value is fp16
https://github.com/microsoft/DeepSpeed/blob/9b70ce5

[2022-07-06 06:27] assij commented on #1835
The code works with zero stage 0 , however I would like to use zero stage 1 in order to shard the optimizer states / calculations.
When is pipeline + zero stage 1  + bfloat16 going to be supported?

[2022-07-06 06:36] stas00 commented on #1835
BF16Optimizer is ZeRO stage 1, but currently it's a bit of a hack and thus uses stage=0, it's just differently implemented so can't be used as normal stage-1 - this is because there is already bf16/stage1 which is a different beast which accumulates in bf16 which you don't want.

Of course, it'd be great to find an intuitive solution here. But do not worry and use stage=0 here for now.

[2022-07-06 23:17] #2010 closed

[2022-07-07 15:54] mrwyattii commented on #2069
@tjdgh0715 thank you for using DeepSpeed and this detailed write up! I want to try reproducing this issue on my side as a first step toward debugging. Could you share the exact command you used to launch the [deepspeed_train.py](https://github.com/microsoft/DeepSpeedExamples/blob/master/bing_bert/deepspeed_train.py) script?

[2022-07-07 16:15] natedingyifeng opened #2077 "Question about fp16 dynamic loss scale overflow in DeepSpeed"
Hi, I have some issues when using DeepSpeed for mixed-precision training (fp16 with dynamic scaling). I would genuinely appreciate it if you could please give me some help on this issue.

Currently, I am using DeepSpeed for mixed-precision training (fp16 with dynamic scaling) to reproduce CodeBERT. When setting lr=1e-4 (a relatively small learning rate), everything goes on well: the training loss

[2022-07-07 16:49] jessecambon opened #2078 "Local rank conflict when training on multi-node multi-gpu cluster using deepspeed"
Cross-posting this bug report as I am using deepspeed (0.6.5) within pytorch lightning:

https://github.com/Lightning-AI/lightning/issues/13567

[2022-07-08 03:23] tjdgh0715 commented on #2069
@mrwyattii Of course. This is my code to launch the code. Thank you for your support!

[code]

[2022-07-08 09:24] stalkerg opened #2080 "[BUG] can't install with ROCm"
It happened just during `pip install` for deepspeed-0.6.5:

[code]

I have ROCm but it is installed into the system, not into `/opt/rocm` and I have no `version-dev` file. ROCm PyTorch is working fine.
It's Gentoo Linux.

[2022-07-08 10:50] gtvforever opened #2081 "How to set batch size for using deepspeed inference API?"
Hi folks,

I followed the tutorial from https://www.deepspeed.ai/tutorials/inference-tutorial/#end-to-end-gpt-neo-27b-inference  and wrote below code to run gpt2-xl inference.

[code]

It works well on my gpu and I'm wondering that how i can set the batch size for such inference?

Does the deepspeed inference API support setting the batch size parameter ?

Thank you in advance.

[2022-07-08 11:53] jayargo commented on #2001
@RezaYazdaniAminabadi

I'm observing the same behavior on an A100-SXM4-40GB system. Using the same steps to reproduce as @lanking520, the single GPU run works but multiple GPUs produces garbage output.

`[{'generated_text': 'DeepSpeed is]) _ _ second pskinned S like _ just so de l first de wrongskinned set high n!]"] M so de]," better"). S not like or E en],\u2013 n better so]," better E]," de sec

[2022-07-08 22:45] aciborowska opened #2082 "Saving a checkpoint when training with NVMe offloading?"
I am testing NVMe offloading when training a model. When I try to save a checkpoint, I am getting (full stack trace below):
[code]
Is that correct? There is no checkpointing with NVMe offloading or am I missing something in my setup/config file? If there is no checkpointing, how can I save the model?

Full stacktrace:
[code]

Config file:
[code]

[2022-07-08 23:11] tjruwase commented on #2082
@aciborowska, sorry for this inconvenience. Model checkpointing for training with nvme offloading is not yet available.

[2022-07-08 23:23] aciborowska commented on #2082
Okay. In that case, after I complete the training, I can still save the model with e.g., `stage3_gather_16bit_weights_on_model_save`?

Also, any plans to add checkpointing for NVMe in the near future?

[2022-07-09 20:07] tjruwase commented on #2082
Yes, we do plan to add checkpointing for NVMe. In reality, you are the first user to my knowledge with this request. Can you please explain a bit your training scenario and why CPU offloading is insufficient?

[2022-07-10 05:29] tjdgh0715 commented on #2069
@mrwyattii @conglongli I solved it by downgrading the version of DeepSpeed to 0.3.10. Maybe this could be a potential issue at version 0.6.5+.
Thank you for your support!

[2022-07-10 05:29] #2069 closed

[2022-07-11 06:44] ForgetThatNight commented on #1508
Can you resolved it by gunicorn?

[2022-07-11 08:50] sayakpaul opened #2086 "Illegal memory access with DeepSpeed Inference for RoBERTa-Large"
**Machine specifications**

* Tesla V100 (1x)
* CUDA 11.0
* transformers==4.20.1
* `ds_report`

[code]

**Code**

[code]

**Error**

[code]

**Additional logs**

[code]

[2022-07-11 17:12] mrwyattii commented on #2081
@gtvforever you can pass multiple items to the pipeline like so:
`outputs = generator(["DeepSpeed is the", "It's a DeepSpeed kind of summer"], do_sample=True, min_length=50)`

If you are looking to the use `transformers.pipeline(batch_size=..._)` parameter, it _should_ work with DeepSpeed. But note that it can sometimes negatively impact performance (further information here: https://huggingface.c

[2022-07-11 17:17] mrwyattii commented on #2080
@stalkerg thanks for bringing this to our attention. It seems that we expect ROCm to be installed at `/opt/rocm/` [here](https://github.com/microsoft/DeepSpeed/blob/73b5d9833a113c47758fbe9f8538614ce34ea95e/op_builder/builder.py#L192)

I'll look into how we can avoid assuming the install location and add a fix. In the meantime, if you modify the path on the file:line I linked to and point it to you

[2022-07-11 18:38] aciborowska commented on #2082
I was mostly being curious about using NVMe in terms of performance trade offs compared to CPU and with different parameters. It is very surprising to me that NVMe does not support checkpointing (on the contrary to CPU), and this fact is not documented or even mentioned in tutorial/blogs, since (to me) is feels like a limitation.

Is there any reason why you decided not to implement checkpointing

[2022-07-11 18:45] tjruwase commented on #2082
Thanks for the clarification. We did not yet implement checkpointing for NVMe due to lack of bandwidth and interest. NVMe offloading is meant for training, finetuning, and inference. But we are yet to see much interest in training models at the scales that require it.

NVMe offloading performance depends on the NVMe device read/write speeds. Please see #998 and [here](https://github.com/microsoft/

[2022-07-11 19:53] aciborowska commented on #2082
Thanks!

[2022-07-11 23:24] mrwyattii commented on #2086
@sayakpaul I believe this error was corrected in a recent PR. It will be included in the next release (0.6.6). Until that time, you can install DeepSpeed from source to avoid this problem:
`git clone https://github.com/microsoft/DeepSpeed.git && pip install ./DeepSpeed/`
or
`pip install git+https://github.com/microsoft/DeepSpeed.git`

[2022-07-12 10:49] gtvforever commented on #2081
hI @mrwyattii Thanks for your suggestion. Below is my findings per your advice.

1. Using the parameter batch_size of API `transformers.pipeline(batch_size=..._) `  doesn't work. It means when i tried this parameter with different value(1/8/16),  i found the number of executed  cuda kernel are constant and the average decoder block perf during different bs are the same.
2. I also tried the code li

[2022-07-12 11:00] sayakpaul commented on #2086
@mrwyattii thanks! That did the trick.

Here's a Colab Notebook in case anyone's interested: https://colab.research.google.com/gist/sayakpaul/6e6607e0cde5c8c409cfd4d12d22432d/scratchpad.ipynb.

Maybe I am mistaken but I would have expected to see some speedup in the DeepSpeed Inference based `pipeline` compared to the regular one. As you would notice in the notebook, it is the not case. What am I

[2022-07-12 11:00] #2086 closed

[2022-07-13 09:08] buttercutter commented on #2029
I did [some coding modifications](https://github.com/buttercutter/gdas/blob/f2bbd86cd759a6178e1d838bba9a7a532b4dd2c5/gdas.py#L939), however I could not [initialize](https://www.deepspeed.ai/tutorials/cifar-10/) deepspeed properly.

[code]

![image](https://user-images.githubusercontent.com/3324659/178693831-e4f35183-f2fc-4e1f-9157-12d11c7fabfa.png)

[2022-07-13 09:18] zionwu opened #2090 "[BUG] flops-profiler latency is 1000x larger than actual value"
**Describe the bug**
We use the Deepspeed flops-profiler, but the result is wrong. The latency is 1000x larger than actual value and the gpu thoughput is 1000x smalller.  After we checked the code and add some debug message, we found it is because it uses the wrong unit for lantency.

In https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/profiling/flops_profiler/profiler.py#L303 :
[code]

[2022-07-13 10:31] tjruwase commented on #2090
@zionwu, thanks for reporting this issue. I think you have correctly diagnosed the problem and so I am wondering if you are willing to contribute a PR. Thanks!

@cli99, FYI.

[2022-07-13 10:39] tjruwase commented on #2029
@buttercutter, you are missing a [deepspeed config file](https://www.deepspeed.ai/getting-started/#launching-deepspeed-training) on the command passed by `--deepspeed_config`.
<img width="441" alt="image" src="https://user-images.githubusercontent.com/4271600/178714923-3c475234-4042-40b5-accd-23386acb9f62.png">

Alternatively, you can pass a dict as [config_params](https://deepspeed.readthedocs.io

[2022-07-13 11:07] buttercutter commented on #2029
Do you have a recommended [deepspeed configuration file](https://www.deepspeed.ai/docs/config-json/) ?

Note: The [deepspeed configuration for training transformer-like network structure](https://github.com/huggingface/transformers/blob/20509ab0e01a0f6167daee70863ae0bdd9f2fd4b/tests/deepspeed/ds_config_zero2.json) might be different from that for GNN-like network structure.

[2022-07-13 11:22] buttercutter commented on #2029
If I use the above configuration file from HuggingFace, I have the following error:

`model_engine_, optimizer, trainloader, __ = deepspeed.initialize(args=args_, model=graph_, model_parameters=parameters, training_data=trainset, config_params='./ds_config.json')`

[code]
Besides, the IDE software also complains on the following two issues.

`Cannot find reference 'parse_args' in 'parser.pyi'` at

[2022-07-13 11:27] tjruwase commented on #2029
DeepSpeed configuration is meant to be network-agnostic, so in reality that configuration file would work except for `auto` fields which are defined for the HF frontend. The configuration file is used to enable/disable different features of the DeepSpeed framework, rather than to specify or control network properties. You can start with a minimal configuration file that defines just micro_batch_si

[2022-07-13 13:18] buttercutter commented on #2029
I have the following [runtime error](https://colab.research.google.com/drive/1v5wY22CkyvKPz21tdwSMPv0T3fsIro0D?usp=sharing) on conflicting `batch_size` values ?

[code]

[2022-07-13 14:54] tjruwase commented on #2029
Set "train_micro_batch_size_per_gpu" to 8 in the configuration file.

[2022-07-13 17:47] buttercutter commented on #2029
May I ask if [retain_graph=True](https://github.com/microsoft/DeepSpeed/issues/329#issuecomment-679145741) is fully supported now ?

[2022-07-13 18:30] mrwyattii commented on #2080
@stalkerg could you please try again with #2093 ?
[code]

[2022-07-13 18:48] tjruwase commented on #2029
It should be, but please report any issues.

[2022-07-13 22:17] PyxAI commented on #2048
I also encountered similar results given long prompts, example output is the lovely string:
`​ ­   � re  A p first _- long m ex`

[2022-07-14 02:36] EricSteinberger opened #2094 "[Bug] - summing over DP instead of MP"
Hi Deepspeed team!

Should this be summing over the MP group rather than the DP group? The comment says MP and the code does DP.

https://github.com/microsoft/DeepSpeed/blob/b3388e1418e80141a902886dec39127b851a1f0a/deepspeed/runtime/zero/stage_1_and_2.py#L1156

[2022-07-14 04:54] stalkerg commented on #2080
Thanks! But looks like it will not work because I am installing https://pytorch.org/get-started/locally/
[code]
and it contains ROCm libraries but without `.info/version-dev` file or any `dev` or `debug` information. I also have no ROCM_HOME.
Because it's now the official way to install PyTorch with ROCm probably we can check the PyTorch version. Currently, I have `torch==1.12.0+rocm5.1.1`

[2022-07-14 05:34] pacman100 commented on #2019
Hello, any update on this?

[2022-07-14 08:05] hobbitlzy opened #2096 "Why the MoE layer forces the input hidden dimenstion the same as the output hidden dimension?"
![image](https://user-images.githubusercontent.com/35392624/178932761-6bc58f0e-9154-4c60-97b5-df0213bc4e57.png)
I notice a problem when I read the [tutorial](https://www.deepspeed.ai/tutorials/mixture-of-experts/) of MoE. As the figure shows, it says the input dimension must be equal to the output dimension. This absolutely imports complexity for many DNNs, and I don't understand why this is neces

[2022-07-14 18:10] ameroyer opened #2097 "[BUG] Discrepancy between patch and reload functionals in FLOPs profiler"
In the Flops profiler, the list of functionals restored in `_reload_functionals` is missing some functions wrapped in `_patch_functionals`. This leads to wrong FLOPs counts when using consecutive calls to `profiler.start_profile` (and possibly some minor overhead when using these functional later on).

**To reproduce**
Example comparing `torch.nn.LayerNorm` (not properly restored) and `torch.nn.Li

[2022-07-15 01:24] sayakpaul commented on #2086
You were right.

Here's the updated Colab: https://colab.research.google.com/gist/sayakpaul/9ca8fe1fb620d936241fd6f51a5a2814/scratchpad.ipynb

DS: 0.66 secs
Regular: 2.17 secs

[2022-07-16 03:19] buttercutter commented on #329
@ncilfone May I know why [retain_graph](https://github.com/microsoft/DeepSpeed/issues/2029#issuecomment-1183812888) still does not work for me ?

[2022-07-16 03:20] buttercutter commented on #2029
@tjruwase May I know why `retain_graph` still does not work for me ?

[2022-07-16 07:29] AndreyRGW opened #2099 "Can't install Deepspeed"
[code]

I have Win11

Tried to disable sparse and async_io.

[2022-07-16 11:22] BlinkDL opened #2100 "[REQUEST] When training a FP16 model, set some of the layers to FP32"
When training a FP16 model, I wonder if it's possible to set some of the layers to FP32.

I can add .to(torch.float16) and .to(torch.float32) to do the conversion between layers.

So the process will be like:
[code]

[2022-07-16 21:24] tjruwase commented on #2029
Sorry, it appears #1149 was never merged. Unfortunately, it has a conflict with master. Can you please try picking that up?

[2022-07-18 05:24] jaesuny opened #2101 "[BUG] model-optimizer sync breaks when load_checkpoint with load_optimizer_states=False"
**Describe the bug**
When `load_checkpoint` is called with `load_optimizer_states=False`, the values of model param and optimizer param are different.

**To Reproduce**
1. Load checkpoint with `load_optimizer_states=False`
2. Compare the params of model with params of optimizer

It can be reproduced easily using following test code

[code]
There is no error with `load_optimizer_states=True`, but `

[2022-07-18 07:31] sangsang96 opened #2102 "[BUG]Runtime error when enabling fp16 config with tasks using SyncBatchNorm"
**Describe the bug**
Following runtime error when enabling fp16 config with tasks using model = torch.nn.SyncBatchNorm.convert_sync_batchnorm(model) and working with  multiple GPUs

Is there another way of making my batchnorms synchronized when enabling fp16 config?

[code]

[2022-07-18 08:35] jaesuny commented on #2101
It was my mistake.
Params of optimizer are dependent on optimizer class, not always in `optimizer. param_groups`.

[2022-07-18 08:35] #2101 closed

[2022-07-18 11:19] iyupan opened #2103 "Activation Checkpointing conflicts with Weight Sharing"
**Describe the bug**
I implement multiple transformer layers with only one-layer parameter (e.g., recursively use one layer six times to construct a 6-layer transformer), when I use activation checkpointing, there will be an AssertionError in Line 631,  stage2.py.

**To Reproduce**
This is the code that I used to call checkpoiting.
[code]

**Expected behavior**
I expect normal running.

**Unexpect

[2022-07-18 20:56] Sanger2000 commented on #2046
Let me know if the above branch fixes your problem.

[2022-07-18 21:48] mrwyattii commented on #2080
@stalkerg sorry I missed that part in your original post. I'll update the PR with this in mind. Thanks!

[2022-07-18 22:05] mrwyattii commented on #2080
@stalkerg could you tell me if running `from torch.utils.cpp_extension import ROCM_HOME` causes an error with your install? Is `ROCM_HOME` just `None`?

[2022-07-19 04:44] stalkerg commented on #2080
@mrwyattii
it shows empty string:
[code]

[2022-07-19 04:46] stalkerg commented on #2080
Also your way in PR looks like working fine:
[code]

[2022-07-19 16:33] mrwyattii commented on #2080
Thanks for testing that for me. I'll get this PR merged

[2022-07-19 19:05] asaparov opened #2112 "Question: How to do multi-node inference?"
I was wondering how to perform multi-node inference in DeepSpeed? The high-level descriptions of Zero and DeepSpeed Inference indicate that it is supported, but the examples I've found so far are only of multi-node _training_.

I really appreciate any tips or pointers!

[2022-07-19 21:16] #2080 closed

[2022-07-19 23:59] lanking520 opened #2113 "[BUG][0.6.7] garbage output for multi-gpu with tutorial"
**Describe the bug**
When running GPU = 2 started to see garbage output generated.

[code]

**To Reproduce**
I am running with 2 GPU instance with V100, also reproducible using A100.

Just follow this example: https://www.deepspeed.ai/tutorials/inference-tutorial/

[code]

[code]

**Expected behavior**

Should be just normal?

**ds_report output**

[code]

**Screenshots**

[code]

**System info (p

[2022-07-20 00:05] lanking520 commented on #2001
Just raised a separate issue here: https://github.com/microsoft/DeepSpeed/issues/2113 Still reproducible on 0.6.7

[2022-07-20 00:08] lanking520 commented on #1719
Hi @TiesdeKok I am also facing the garbage output issue. Not sure if it is related to the issue you were having previously: https://github.com/microsoft/DeepSpeed/issues/2113

[2022-07-20 00:32] lanking520 commented on #2112
You can follow this: https://www.deepspeed.ai/tutorials/inference-tutorial/。 But multi-node inference is broken from my side: https://github.com/microsoft/DeepSpeed/issues/2113

[2022-07-20 00:34] lanking520 commented on #2113
This is also reproducible on GPT-J-6B model if you simply switch it

[2022-07-20 03:13] wangleiofficial opened #2115 "DeepSpeed support with CUDA 11.2？"
Torch version
[code]
gcc version: 9.1.0

Install Deepspeed, i get the error:
[code]
It seems that the verison of cuda causes the error, could you help me about problem?

[2022-07-20 04:06] asaparov commented on #2112
Maybe I'm mistaken but isnt #2113 related to multi-GPU inference on a single node? The tutorial does cover that case but I couldn't find any tutorials or examples for doing inference with multiple GPUs split across multiple nodes.

[2022-07-20 07:59] wookjeHan opened #2116 "[REQUEST] Pipeline Parallel With large Language Model that does not fit with single gpu"
I am wondering how to implement pipeline parallelism with huge Language Models.
Now I'm trying to implement pipeline parallelism of large LM in hugging face hub.
However, according to my understand, I think I need to implement wrapper (from huggingface models to express it as sequential of layers.) to implement pipeline parallelsim.

Is there any way to automatically wrapping huggingface models to

[2022-07-20 08:36] pacman100 opened #2117 "[BUG] version `0.6.7` is throwing `RuntimeError: trying to initialize the default process group twice!`"
**Describe the bug**
Using `Accelerate` integration of DeepSpeed with below config.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run `accelerate config` command to set the above DeepSpeed config
2. RUn `accelerate launch complete_nlp_example.py`. It is the official example [complete_nlp_example.py](https://github.com/huggingface/accelerate/blob/main/examples/complete_nlp_example.p

[2022-07-21 05:00] asaparov opened #2119 "Multi-node inference with Bloom: Unhandled CUDA error in ProcessGroupNCCL.cpp (called from all_reduce in torch)"
I am trying to get multi-node inference working with 4 nodes, each with 4xRTX8000 GPUs (48GB per GPU).
`deepspeed --hostfile=$hostfile Megatron-DeepSpeed/scripts/inference/bloom-ds-inference.py --name bigscience/bloom`. ([source for the script is here](https://github.com/bigscience-workshop/Megatron-DeepSpeed/blob/bloom-inference/scripts/inference/bloom-ds-inference.py))

The script finishes loadi

[2022-07-21 05:00] asaparov commented on #2112
I was able to get deepspeed to perform inference instead of training in the multi-node setting on SLURM, but I ran into a different error. I'll open a different issue for that (#2119).

[2022-07-21 05:00] #2112 closed

[2022-07-21 12:35] pacman100 commented on #2117
This is breaking the whole DeepSpeed integration in 🤗 Accelerate even though no changes have been done to it. Please guide us in resolving this at the earliest.

[2022-07-21 19:05] jeffra commented on #2117
Yikes, thank you for reporting this @pacman100. I think in the short term once this is resolved we need to have some accelerate integration tests on DS side. @stas00 helped us figure out how to run the HF Trainer+DS integration tests and we have it run for everything PR. Is there an accelerate equivalent here that we could run on our side?

https://github.com/microsoft/DeepSpeed/blob/80d0a32f0bf2f

[2022-07-21 20:01] Quentin-Anthony commented on #2117
@pacman100 -- @awan-10 and I are able to run this example if we perform the following:

1. Use the DeepSpeed branch in https://github.com/microsoft/DeepSpeed/pull/2121
2. Checkout an `accelerate` commit older than https://github.com/huggingface/accelerate/commit/164943c7d7bf5a84b883d9c0ad89796780ef6292 (since this commit leads to the error: `AttributeError: 'Accelerator' object has no attribute 'g

[2022-07-21 20:03] amoghmishra-sl commented on #1580
any updates?

[2022-07-21 22:45] zcrypt0 commented on #2113
I am also seeing this

[2022-07-22 02:51] pacman100 commented on #2117
Hello @jeffra, @Quentin-Anthony and @awan-10,

Thank you for the prompt reply and guidance. I found the cause and fixed it in the PR  https://github.com/huggingface/accelerate/pull/544 to account for the new `deepspeed.comm.init_distributed`. Thanks for the PR https://github.com/microsoft/DeepSpeed/pull/2121 which fixes it for other clients that might face this issue.

With respect to HF Accelerat

[2022-07-22 03:01] jeffra commented on #2117
Awesome, thank you @pacman100! Accelerate is an important integration for us, this will help us avoid issues like this in the future :)

[2022-07-22 05:13] BlinkDL opened #2125 "Bad performance when there are lots of optim_groups (for example, using layer-wise learning rate)"
DeepSpeed is much slower when there are lots of optim_groups in FusedAdam.

For example, when you are using layer-wise learning rate for a model with 100+ layers.

In that case, you will see 100+ "partitions" in each "Rank", and the training speed is much worse.

[2022-07-24 10:00] tomeras91 opened #2128 "[BUG] [0.6.7] Runtime Device index error with DeepSpeedTransformerInference on long sequences"
**Describe the bug**
Running a forward pass on a DeepSpeedTransformerInference layer, with a sequence length of ~1000 tokens, results in a Device  Index Runtime error.

**To Reproduce**
Here is a minimal reproducible example that shows the bug:
[code]

**Running the code resulted with the following exception**
[code]

**Expected behavior**
I was expecting to get a correct output, without the excep

[2022-07-25 00:42] bri25yu commented on #2119
@asaparov Any updates? Running into the exact same error with a private model on CUDA 11.0 on p4d.24xlarge AWS EC2 instances

[2022-07-25 16:23] mrwyattii commented on #2115
Could you share the output of `nvcc --version`?

Also, does the install work with just `pip install deepspeed` or `pip install git+https://github.com/microsoft/DeepSpeed.git`?

[2022-07-25 17:34] RezaYazdaniAminabadi commented on #2128
Hi @tomeras91

Thanks for reporting this. I am going to take a look at it and send a fix soon
Best,
Reza

[2022-07-25 17:42] jeffra commented on #2113
Thank you for reporting this! I've verified we can repro this on our side as well, but only when using >1 gpus. There's a gap currently in our CI tests for multi-gpu and certain models. We'll be fixing as soon as possible.

[2022-07-25 20:00] dashesy opened #2129 "[REQUEST] Run DeepSpeed inference in C++"
**Is your feature request related to a problem? Please describe.**
What is the best way to run DeepSpeed inference in C++?

**Describe the solution you'd like**
Documenting if it is already possible, maybe using TorchScript with custom ops. Otherwise provide a way to run the model in C++.

**Describe alternatives you've considered**
Using TorchScript  and adding the ops

**Additional context**
For

[2022-07-25 22:10] Nvpiao opened #2131 "OPT-66B memory and GPU requirement"
Hi, I am trying to finetune the meta OPT-66B, however, our system always tells me that the memory is not enough.

  Max rss          = 315.860G
  failed cgroups enforced memory limit because:
  07/25/2022 19:34:26 [0:7051]: cgroup/OOM: Killed because of memory limit

Then, I find a useful tool to check the memory required for OPT-66B.
[code]

Here is the result with 16 GPUs.

HW: Setup with 1 node

[2022-07-25 22:45] asaparov commented on #2119
Not really but I think the HuggingFace folks are trying to workaround the issue since it seems to be affecting a bunch of other people. See: https://github.com/bigscience-workshop/Megatron-DeepSpeed/issues/318

But they did say this is an issue with DeepSpeed.

[2022-07-26 01:52] tjruwase commented on #2131
You are running out of memory because zero stage 2 cannot support 66B model on 80GB GPUs. Rather, you need [zero stage 3](https://www.deepspeed.ai/tutorials/zero/#training-trillion-scale-models-with-zero-infinity), which partitions model parameters, to train models larger than ~30B. You can access docs of the memory calculator [here](https://deepspeed.readthedocs.io/en/latest/memory.html#deepspeed

[2022-07-26 15:24] Nvpiao commented on #2131
@tjruwase Thanks for your reply and help!

[2022-07-26 16:21] stas00 commented on #2022
you must use `generate(..., synched_gpus=True)` when using ZeRO stage-3

[2022-07-26 16:44] lkm2835 commented on #2022
@stas00 thanks!

But, I got TypeError: forward() got an unexpected keyword argumnet `synched_gpus`

transformers == 4.20.1

[code]

[2022-07-26 16:51] lkm2835 commented on #2022
Solution:

[code]

[2022-07-26 16:54] #2022 closed

[2022-07-26 16:59] kaustubhroy1995 opened #2137 "[BUG]pip install doesn't work. Please help."
**Describe the bug**
pip install not working for windows 10
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Command Prompt
2. Type in 'pip install deepspeed'
3. Voila

**Expected behavior**
Install Deepspeed?

**System info (please complete the following information):**
 - OS: Windows 10 Pro
 - GPU: RTX 2060 Super
 - Screnshot of error
![Deepspeed_Issue](https://user-images.githubuserco

[2022-07-26 17:47] awaelchli opened #2139 "deepspeed.zero.Init causes infinite recursion error"
**Describe the bug**

When the `deepspeed.zero.Init` wraps not only the model but also the deepspeed.initialize call, a RecursionError is raised.
This happens in deepspeed 0.6.5 but NOT in 0.6.4. It blocks the integration with [Lightning Lite](https://github.com/Lightning-AI/lightning/issues/13191) where we until now wrapped the entire run() method with the context.

**To Reproduce**
[code]

Outpu

[2022-07-26 20:40] asaparov commented on #2119
I got it working after pulling some newer code from a branch. See: https://github.com/bigscience-workshop/Megatron-DeepSpeed/issues/318#issuecomment-1195958248

[2022-07-26 21:56] tjruwase commented on #2139
@awaelchli, thanks for reporting this issue. `zero.Init()` is meant to wrap model construction only. Is there a reason why you are wrapping the entire execution, including `deepspeed.initialize()`?

[2022-07-26 22:49] blueviggen commented on #1301
@jeffra just added the following statement on GPU requirements for DeepSpeed

#2143

[2022-07-26 23:00] #1301 closed

[2022-07-27 04:06] pacman100 commented on #2117
Thank you! 😄

[2022-07-27 04:06] #2117 closed

[2022-07-27 10:42] awaelchli commented on #2139
We are providing a wrapper around the user code in [Lightning Lite](https://pytorch-lightning.readthedocs.io/en/stable/starter/lightning_lite.html). It looks something like this:

class Lite(LightningLite):
    def run(self):
        # users code goes here (model, training loop, etc.)

       model = ...
       model, optimizer = self.setup(model, optimizer)

       # train model

if __name__ == "

[2022-07-27 13:25] tjruwase commented on #2139
@awaelchli, thanks for sharing this context. Honestly, I don't know why it worked previously as wrapping `deepspeed.initialize()` was not an intended use for `zero.Init`. So, I am quite puzzled as to the recent changes that could have broken the integration. I will try to repro the failure.

[2022-07-27 14:17] tjruwase commented on #2131
@Nvpiao, please let us know when it is okay to close this issue. Thanks!

[2022-07-27 14:56] tjruwase commented on #2077
@natedingyifeng, apologies for the delayed response. Debugging this kind of issue is notoriously difficult because there are many factors and interactions involved. Large learning rates do tend to cause training instability, especially with mixed precision training. Configuring the loss scale parameters to address instability is often trial-and-error and thus difficult. Have you tried reaching out

[2022-07-27 14:58] tjruwase commented on #2078
@jessecambon, is this still an issue? Thanks!

[2022-07-27 15:16] jessecambon commented on #2078
@tjruwase it's resolved. Running with an MPIConfiguration required environmental variables adjustments : https://github.com/Lightning-AI/lightning/issues/13639#issuecomment-1185956230

[2022-07-27 15:17] tjruwase commented on #2100
@BlinkDL, thanks for your question. If I understand correctly, it seems there are two parts to this.

First, when you say `f(x)` is `float16` and `g(x)` is `float32`, I believe what you mean is that the weights and bias of `f` are `float16` and the weights and bias of `g` are `float32`. One way to achieve this that during model construction, which occurs outside deepspeed, the layers corresponding

[2022-07-27 15:18] tjruwase commented on #2125
@BlinkDL, can you provide details to repro?

[2022-07-27 15:24] #2078 closed

[2022-07-27 17:07] tjruwase commented on #2071
@owmohamm, can you please try PR #2145?

[2022-07-27 17:19] Nvpiao commented on #2131
@tjruwase Sorry, but I am still confused about the memory requirement. I tried to fine-tune OPT-1.3B with the hugging face example `run_clm.py`([script](https://github.com/huggingface/transformers/blob/7c6ec195adbfcd22cb6baeee64dd3c24a4b80c74/examples/pytorch/language-modeling/run_clm.py)) adding some special tokens.

**Result**
Train data(7M) + OPT-1.3B model(2.5G) consume 4 X 33GB memory.

**Pro

[2022-07-27 17:25] tjruwase commented on #1831
@kiehls90, is this still an issue, or can we close? Thanks!

[2022-07-27 17:30] tjruwase commented on #2131
It will be helpful to do some memory usage profiling on your model. Please see this [guide](https://github.com/microsoft/DeepSpeed/issues/1437#issuecomment-937981281).  The following are useful places to instrument in your script: before/after model construction, forward, and backward. Please share the logs.

[2022-07-27 22:59] Jirigesi opened #2149 "[BUG] can not initialize DeepSpeed-Inference engine with deepspeed.init_inference()"
Hello,
I am new user of the DeepSpeed(DS) and I successfully trained checkpoints using DS. However, I met issue when trying to used the checkpoint for inference. I want to use the tutorial by [this](https://www.deepspeed.ai/tutorials/inference-tutorial/), however, I tried to give the folder of *.pt file or to the .pt file. I always get this error

Traceback (most recent call last):
  File "deepspe

[2022-07-28 00:13] jeffra commented on #2139
@awaelchli can you give this #2150 a try? In our local tests it seems to have fixed your issue though.

[2022-07-28 06:13] BlinkDL commented on #2100
I can do first and second manually.

So now it's about DeepSpeed support :)

[2022-07-28 10:01] hezq06 opened #2151 "[BUG] model.eval() doesn't work with DeepSpeed Transformer Kernel"
**Describe the bug**
The traditional way of model.eval() seems doesn't work with DeepSpeed Transformer Kernel. The training flag is changed, however, the randomness is still there.

**To Reproduce**
I've made a simple example python file to reproduce the problem.
[DSTrfKernel_issue.txt](https://github.com/microsoft/DeepSpeed/files/9208035/DSTrfKernel_issue.txt)

To reproduce, change .txt to .py, a

[2022-07-28 11:50] awaelchli commented on #2139
@jeffra Thank you very much for the quick response on the issue. I just tried the fix in my simple test and it works well! ❤️

[2022-07-28 13:35] tjruwase commented on #2100
@BlinkDL, it is great to hear you have (1) and (2) working. For us to understand the required DeepSpeed support, can you share an example that already incorporates (1) and (2)? I expect it will fail in DeepSpeed. The stack trace would be a good hint of where to start the DeepSpeed support. Thanks!

[2022-07-28 14:42] #1995 closed

[2022-07-29 10:21] ameroyer commented on #2097
issue addressed/fixed in this thread: https://github.com/microsoft/DeepSpeed/pull/2068

[2022-07-29 10:21] #2097 closed

[2022-07-29 12:17] tjruwase commented on #2037
@SuhitK, apologies for the delayed response. Can you please check if this issue still exists with latest master? Thanks!

[2022-07-29 12:43] tjruwase commented on #2034
@luckyq, should this issue remain open? Thanks!

[2022-07-29 14:24] #329 closed

[2022-07-29 16:48] jeffra commented on #1976
Hi @milad1378yz, we recently put out a paper diving into more details of our inference approaches. Please take a look if you're interested: https://arxiv.org/abs/2207.00032.

Feel free to re-open if you have further questions, etc.

[2022-07-29 16:48] #1976 closed

[2022-07-29 16:56] jeffra commented on #2019
Sorry for delay on this @pacman100, but is this now resolved in https://github.com/huggingface/accelerate/issues/443? I was just setting up the environment to repro this but now thinking maybe i don't need to?

[2022-07-29 22:16] yaozhewei commented on #2054
Hi,

We recently refactored the MoQ part (version >=0.7.0 for Deepspeed). Please try the newest version and let us know if that works. Here is the new tutorial link: https://www.deepspeed.ai/tutorials/model-compression/

[2022-07-29 22:47] jeffra commented on #2019
I was able to repro the issue with the scripts above. This PR (https://github.com/microsoft/DeepSpeed/pull/2158) updates our fp16 config to allow auto-casting inputs to fp16. @pacman100 can you confirm this fixes your issue? I am not sure how to set this on the accelerate side.

[2022-07-30 00:24] #2139 closed

[2022-07-30 00:25] jeffra commented on #2139
@awaelchli please re-open if this issue isn't resolved for you. The related PR is now merged into master

[2022-07-30 00:41] jeffra commented on #2137
I've repro'd your issue, will let you know when i have a fix

[2022-07-30 00:54] jeffra commented on #2137
I repro'd this on a windows box that does not have a GPU. Can you confirm that torch sees your gpu from windows?

Can you share the results of `torch.cuda.is_available()` and `torch.cuda.get_device_properties(0)`?

[2022-07-30 04:12] Crispig opened #2159 "Is GPU throughput reasonable?"
I currently have some tests on Zero3 infinite and have had some problems and would like your help.

**Machine configuration**: two nodes, each node a piece of A100-PCIE-40GB, RAM 126G (actual operation available 60G), SSD 1TB (Samsung 980)

**Benchmark Code**：/DeepSpeedExamples/Megatron-LM-v1.1.5-ZeRO3/

**Model cases tested**：
1. HIDDEN_SIZE / NUM_ATTN_HEADS/ NUM_LAYERS/ BATCHSIZE = 4096/16/50/8

[2022-07-30 05:54] pacman100 commented on #2019
Hello @jeffra , Thank you! 😄. This fixes the issue. Below is how one would set this on the accelerate to check.

1. DeepSpeed config `zero2_fp16_inputs_auto_enabled.json` like below:
[code]

2. accelerate config `zero2_autocast_fix_test.yaml` like below:
[code]
3. run the  official 🤗 accelerate example [cv_example.py](https://github.com/huggingface/accelerate/blob/main/examples/cv_example.py) with

[2022-07-30 16:48] jeffra commented on #2019
Excellent! Glad to hear this is resolved :) thanks for the tip wrt accelerate!

[2022-07-30 17:33] #2019 closed

[2022-07-30 17:35] tjruwase commented on #2029
@buttercutter, #1149 is now merged. Please try master.

[2022-08-01 16:20] amalislam675 opened #2161 "Issue in deepspeed installation with python 3.8"
I have tried to installed the deepspeed using pip install deepspeed. But, it is not installed correctly within my environment. However, in my environment Python 3.8.13, Pytorch 1.12.0 with cuda_tool_kit 11.3, transformers=4.9.2  are installed.
Some lines of error are mentioned below:
/lib/python3.8/site-packages/pip/_internal/network/utils.py", line 63, in response_chunks
/lib/python3.8/site-packa

[2022-08-01 17:09] mrwyattii commented on #2161
@amalislam675 could you please share the full output of the error?

[2022-08-01 17:19] mrwyattii commented on #2149
@Jirigesi Thanks for using DeepSpeed! I believe the problem when using `init_inference` is that your `checkpoint.json` is missing the key `checkpoints`:
[code]

Try replacing `checkpoint_path` with `checkpoints`:
[code]

[2022-08-01 17:29] awaelchli commented on #2139
Fantastic. Thank you for resolving this so quickly!

[2022-08-01 17:40] amalislam675 commented on #2161
@mrwyattii this is the full output of the error which I have got.
Traceback (most recent call last):
  File "<string>", line 1, in <module>
File "//mnt/user1/.conda/envs/pretraining/lib/python3.8/site-packages/deepspeed/__init__.py", line 15, in <module>
    from .runtime.engine import DeepSpeedEngine, DeepSpeedOptimizerCallable, DeepSpeedSchedulerCallable
  File "//mnt/user1/.conda/envs/pretraini

[2022-08-02 00:08] lanking520 opened #2163 "Can DeepSpeed partition the model before loading?"
**Describe the bug**

OOM on CPU when running GPU = 8. My GPU have 16GB memory each (128GB memory total) and my CPU memory is 488GB. However, I am trying to load a large GPT2 model with 80GB size. In this case, after creating 8 processes using DeepSpeed launcher, the system goes OOM after 20 min.

It is clear the issue is 80 * 8 process = CPU 640GB memory needed. So I am wondering if there is a wa

[2022-08-02 00:25] mrwyattii commented on #2161
This error looks very similar to something we encountered recently and fixed in #1988. I don't believe this is a problem with DeepSpeed, but with TensorBoard/Protobuf.

Could you try downgrading your protobuf install (to anything below version `4.21.0`) and see if that fixes things: `pip install "protobuf<4.21.0"`

[2022-08-02 02:09] amalislam675 commented on #2161
Thankyou, I will try.

[2022-08-02 07:24] Cppowboy commented on #1211
I met the same problem, have you find any solutions?

[2022-08-02 13:11] muellerzr opened #2166 "[BUG] DeepSpeed 0.7.0 breaks the Accelerate CI due to pip installation"
**Describe the bug**
For Accelerate we have deepspeed as an extra that gets installed during tests. As of 0.7.0 DeepSpeed is unable to be installed if pytorch is not already installed on the system, so doing `pip install -e .[testing]` (which installs torch and deepspeed at once) fails due to a compilation error on DeepSpeed's side.

**To Reproduce**
Steps to reproduce the behavior:
1. In a new en

[2022-08-02 16:13] jeffra commented on #2166
Thank you for reporting this @muellerzr. I have pushed a PR that should fix this (#2167), can you verify?

[2022-08-02 16:19] muellerzr commented on #2166
Can confirm this fixes the issue! Thanks @jeffra

[2022-08-02 17:18] #2166 closed

[2022-08-02 17:51] chinoll opened #2168 "[BUG] AssertionError: Distributed backend is not initialized."
**Describe the bug**
A clear and concise description of what the bug is.
AssertionError: Distributed backend is not initialized. Please set dist_init_required to True or initialize before calling deepspeed.initialize()

**Expected behavior**
A clear and concise description of what you expected to happen.
Run the training process.

**ds_report output**
Please run `ds_report` to give us details abou

[2022-08-02 17:56] chinoll commented on #2168
deepspeed version 0.6.3 can run the training process.

[2022-08-02 18:49] lanking520 opened #2169 "[BUG][0.6.7]DeepSpeed is trying to load the whole model to 1 GPU instead of partitioning"
**Describe the bug**

OOM on GPU when running GPU = 4. My GPU have 40GB memory each (A100) and my CPU memory is 488GB. However, I am trying to load the OPT-30B model with 80GB size. In this case, after creating 4 processes using DeepSpeed launcher, the system goes GPU OOM after 10 min.

In theory, if the model is loaded on CPU, DeepSpeed should slice each layer to one GPU so the load can be balanc

[2022-08-03 04:33] RezaYazdaniAminabadi commented on #2169
Hi @lanking520,

Here, you are initiating the DeepSpeed-inference with the `replace_with_kernel_inject` and `replace_method` as auto, however there is no policy for this model yet. Thus, the injection system silently ignores both the kernel-injection as well as the sharding the model across the GPU. Fortunately, you can run the model sharded across the GPUs without kernel-injection. To do so, firs

[2022-08-03 04:36] RezaYazdaniAminabadi commented on #2169
I also noticed that you loaded the model in FP16, but the dtype is passed as torch.float, so please change that to torch.half if you want to run the model in FP16.

[2022-08-03 06:57] timohear opened #2174 "Zero stage 1 appears to do some cpu offloading -- 2x speedup over stage 2"
I'm experimenting with various DeepSpeed settings while finetuning gpt-j on an a6000. On one run I accidentally used:
[code]
My expectation is that this should either fail directly as a non-allowed config or eventually produce an OOM error as stage 1 does on this setup when just using :
[code]
(the OOM is expected given the size of the model vs the VRAM)

Instead it training correctly on stage 1 w